:host ::ng-deep .mat-form-field-flex {
  border: 2px solid #ffd740 !important;
}

:host ::ng-deep .mat-form-field-inflix {
  border: 0 !important;
}

.container {
  .header-div {
    border: none;
    color: black;
  }
  .header-div:hover {
    background: #1c1c1cd9;
  }

  .image-preview {
    object-fit: cover;
    -o-object-fit: cover;
    max-height: 60vh;
    height: 60vh;
  }
}
