<div class="row no-margin padl-13 hd-legend">
  <label>{{ 'question message one' | translate }}</label>
  <label>{{ 'question message two' | translate }}</label>
</div>
<div class="col-lg-12" style="padding-top: 28px; height: 305px" [formGroup]="detailForm">
  <div class="row">
    <div class="col-lg-3">
      <label>{{ 'Question' | translate }}</label>
    </div>
    <div class="col-lg-8">
      <div class="input-group">
        <input class="form-control" (keydown.enter)="addSpecialization()" matInput [formControl]="specialization_input" type="text" />
        <span class="input-group-btn">
          <button
            style="height: 34px !important; margin: 0px !important; position: relative; top: -1px"
            [disabled]="!specialization_input.value || question.length >= 5"
            type="button"
            mat-raised-button
            color="primary"
            (click)="addSpecialization()"
          >
            {{ 'Add Question' | translate }}
          </button>
        </span>
      </div>
    </div>
  </div>
  <div class="row brd-top" *ngIf="question && question.length">
    <div class="col-lg-3">
      <label>{{ 'List of Question' | translate }}</label>
    </div>
    <div class="col-lg-8">
      <div class="list-question" *ngFor="let quest of question; let in = index">
        <div class="text-question">
          <label>{{ 'Question' | translate }} {{ in + 1 }} </label> {{ quest }}
        </div>
        <span class="pill-skill">
          <mat-icon style="cursor: pointer; font-size: 14px; color: red" (click)="remoteSpecialization(in)" class="icon-mat-change"
            >cancel</mat-icon
          >
        </span>
      </div>
    </div>
  </div>

  <div class="row btn-submit">
    <button mat-button mat-raised-button color="primary" (click)="skipStepThree()" class="button-submit submit-action">
      <mat-icon style="font-size: 24px">skip_next</mat-icon> {{ 'Skip Question' | translate }}
    </button>
    <button mat-button mat-raised-button color="accent" (click)="submitStepThree()" class="button-submit submit-action">
      <mat-icon style="font-size: 24px">save</mat-icon> {{ 'Submit' | translate }}
    </button>
  </div>
</div>
