<ms-filter-breadcrumb [filterBreadcrumbData]="filterBreadcrumbData" (removeFilterTrigger)="removeFilterBreadcrumb($event)"></ms-filter-breadcrumb>

<div class="top-space">
  <table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8" matSort (matSortChange)="sortData($event)">
    <!-- ROW RESET START -->
    <ng-container matColumnDef="reset">
      <th mat-header-cell *matHeaderCellDef colspan="100%" class="action-header-column text-right">
        <div class="p-col-12 p-grid no-padding">
          <div class="p-col text-right">
            <button
              matTooltip="{{ 'Action' | translate }} "
              mat-raised-button
              color="accent"
              [disabled]="isWaitingForResponse"
              [matMenuTriggerFor]="action"
            >
              {{ 'Action' | translate }}
              <mat-icon>expand_more</mat-icon>
            </button>
            <mat-menu #action="matMenu" class="action-dropdown-button-above-table">
              <button
                mat-menu-item
                (click)="openDetailTemplate(false)"
                matTooltip="{{ 'course_sequence.Add template' | translate }}"
                *ngIf="permissionService.addTemplatePerm()"
              >
                {{ 'course_sequence.Add template' | translate }}
              </button>
            </mat-menu>
            <button
              mat-raised-button
              color="primary"
              matTooltip="{{ 'course_sequence.Export' | translate }}"
              (click)="getAllIdForCheckbox(0)"
              [disabled]="isWaitingForResponse"
              *ngIf="permissionService.exportTemplatePerm()"
            >
              <mat-icon svgIcon="file-excel" class="mat-icon-svgIcon"></mat-icon>
              {{ 'course_sequence.Export' | translate }}
            </button>
            <button
              mat-raised-button
              color="primary"
              matTooltip="{{ 'course_sequence.Reset' | translate }}"
              [disabled]="isWaitingForResponse"
              (click)="resetFilter()"
              *ngIf="permissionService.resetTemplatePerm()"
            >
              <mat-icon svgIcon="loop" class="mat-icon-svgIcon"></mat-icon>
              {{ 'course_sequence.Reset' | translate }}
            </button>
          </div>
        </div>
      </th>
    </ng-container>
    <!-- ROW RESET END -->
    <!---ROW FILTER START-->
    <ng-container matColumnDef="selectFilter">
      <th mat-header-cell *matHeaderCellDef></th>
    </ng-container>
    <ng-container matColumnDef="templateNameFilter">
      <th mat-header-cell *matHeaderCellDef>
        <mat-form-field>
          <input matInput class="form-field" [formControl]="templateNameFilter" placeholder="{{ 'search' | translate }}" />
        </mat-form-field>
      </th>
    </ng-container>
    <ng-container matColumnDef="descriptionFilter">
      <th mat-header-cell *matHeaderCellDef>
        <mat-form-field>
          <input matInput class="form-field" [formControl]="descriptionFilter" placeholder="{{ 'search' | translate }}" />
        </mat-form-field>
      </th>
    </ng-container>
    <ng-container matColumnDef="createdDateFilter">
      <th mat-header-cell *matHeaderCellDef  style="padding-left: 0px !important">
        <mat-form-field class="example-full-width">
          <input matInput (click)="picker.open()" [formControl]="createdAtFilter" [matDatepicker]="picker" placeholder="Date" readonly />
          <mat-datepicker-toggle matSuffix [for]="picker" style="margin-right: 5px"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </th>
    </ng-container>
    <ng-container matColumnDef="createdByFilter">
      <th mat-header-cell *matHeaderCellDef style="padding-left: 8px !important">
        <!-- <ng-select
          class="dropdown margin"
          [appendTo]="'body'"
          [multiple]="false"
          [clearable]="false"
          placeholder="{{ 'search' | translate }}"
          [formControl]="createdByFilter"
          clear
        >
          <ng-option value="All">{{ 'AllS' | translate }}</ng-option>
          <ng-option *ngFor="let record of userCreatedList" [value]="record?._id">
            {{ record?.last_name | uppercase }} {{ record?.first_name }}
            {{ record?.civility && record?.civility === 'neutral' ? '' : (record?.civility | translate) }}
          </ng-option>
        </ng-select> -->
        <ng-select
          [items]="userCreatedList"
          bindValue="_id"
          bindLabel="newLabel"
          class="custom-dropdownpanel"
          [appendTo]="'body'"
          [multiple]="true"
          notFoundText="{{ 'NOT RECORD FOUND' | translate }}"
          placeholder="{{ 'search' | translate }}"
          [formControl]="createdByFilter"
          [clearable]="false"
          [closeOnSelect]="false"
          (close)="setCreatedByFilter()"
        >
          <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
            <input id="item-{{ index }}" type="checkbox" [ngModel]="item$.selected" /> {{ item?.last_name | uppercase }} {{ item?.first_name }}
            {{ item?.civility && item?.civility === 'neutral' ? '' : (item?.civility | translate) }}
          </ng-template>
          <ng-template ng-header-tmp *ngIf="userCreatedList?.length">
            <mat-checkbox
              class="all-input"
              style="cursor: pointer"
              [checked]="isAllDropdownSelected('createdBy')"
              [indeterminate]="isSomeDropdownSelected('createdBy')"
              (change)="selectAllData($event, 'createdBy')"
            >
              {{ 'All' | translate }}
            </mat-checkbox>
          </ng-template>
        </ng-select>
      </th>
    </ng-container>

    <ng-container matColumnDef="updatedDateFilter">
      <th mat-header-cell *matHeaderCellDef style="padding-left: 0px !important">
        <mat-form-field class="example-full-width">
          <input
            matInput
            (click)="pickerUpdatedAt.open()"
            [formControl]="updatedAtFilter"
            [matDatepicker]="pickerUpdatedAt"
            placeholder="Date"
            readonly
          />
          <mat-datepicker-toggle matSuffix [for]="pickerUpdatedAt" style="margin-right: 5px"></mat-datepicker-toggle>
          <mat-datepicker #pickerUpdatedAt></mat-datepicker>
        </mat-form-field>
      </th>
    </ng-container>
    <ng-container matColumnDef="updatedByFilter">
      <th mat-header-cell *matHeaderCellDef style="padding-left: 8px !important">
        <!-- <ng-select
          class="dropdown margin"
          [appendTo]="'body'"
          [multiple]="false"
          [clearable]="false"
          placeholder="{{ 'search' | translate }}"
          [formControl]="updatedByFilter"
          clear
        >
          <ng-option value="All">{{ 'AllS' | translate }}</ng-option>
          <ng-option *ngFor="let record of userUpdatedList" [value]="record?._id">
            {{ record?.last_name | uppercase }} {{ record?.first_name }}
            {{ record?.civility && record?.civility === 'neutral' ? '' : (record?.civility | translate) }}
          </ng-option>
        </ng-select> -->
        <ng-select
        [items]="userUpdatedList"
        bindValue="_id"
        bindLabel="newLabel"
        class="custom-dropdownpanel"
        [appendTo]="'body'"
        [multiple]="true"
        notFoundText="{{ 'NOT RECORD FOUND' | translate }}"
        placeholder="{{ 'search' | translate }}"
        [formControl]="updatedByFilter"
        [clearable]="false"
        [closeOnSelect]="false"
        (close)="setUpdateByFilter()"
      >
        <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
          <input id="item-{{ index }}" type="checkbox" [ngModel]="item$.selected" /> {{ item?.last_name | uppercase }} {{ item?.first_name }}
          {{ item?.civility && item?.civility === 'neutral' ? '' : (item?.civility | translate) }}
        </ng-template>
        <ng-template ng-header-tmp *ngIf="userUpdatedList?.length">
          <mat-checkbox
            class="all-input"
            style="cursor: pointer"
            [checked]="isAllDropdownSelected('updatedBy')"
            [indeterminate]="isSomeDropdownSelected('updatedBy')"
            (change)="selectAllData($event, 'updatedBy')"
          >
            {{ 'All' | translate }}
          </mat-checkbox>
        </ng-template>
      </ng-select>
      </th>
    </ng-container>
    <ng-container matColumnDef="statusFilter">
      <th mat-header-cell *matHeaderCellDef style="padding-left: 8px !important; padding-right: 8px !important;">
        <!-- <mat-form-field>
<mat-select [formControl]="statusFilter" panelClass="custom-matselect">
            <mat-option [value]="record.value" *ngFor="let record of statusList">{{ record.key | translate }} </mat-option>
          </mat-select>
        </mat-form-field> -->
        <ng-select
        [items]="statusList"
        bindValue="value"
        bindLabel="label"
        class="custom-dropdownpanel"
        [appendTo]="'body'"
        [multiple]="true"
        notFoundText="{{ 'NOT RECORD FOUND' | translate }}"
        placeholder="{{ 'search' | translate }}"
        [formControl]="statusFilter"
        [clearable]="false"
        [closeOnSelect]="false"
        (close)="setStatusFilter()"
      >
        <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
          <input id="item-{{ index }}" type="checkbox" [ngModel]="item$.selected" /> {{ item?.key | translate}}
        </ng-template>
        <ng-template ng-header-tmp *ngIf="statusList?.length">
          <mat-checkbox
            class="all-input"
            style="cursor: pointer"
            [checked]="isAllDropdownSelected('status')"
            [indeterminate]="isSomeDropdownSelected('status')"
            (change)="selectAllData($event, 'status')"
          >
            {{ 'All' | translate }}
          </mat-checkbox>
        </ng-template>
      </ng-select>
      </th>
    </ng-container>
    <ng-container matColumnDef="actionFilter">
      <th mat-header-cell *matHeaderCellDef></th>
    </ng-container>
    <!--ROW FILTER END-->
    <!-- ROW HEADER AND CONTENT START -->

    <ng-container matColumnDef="select" class="mat-column-select">
      <th mat-header-cell *matHeaderCellDef class="text-center">
        <mat-checkbox
          (change)="$event ? masterToggle() : null"
          (change)="showOptions('all', '')"
          [checked]="(selection.hasValue() && isAllSelected()) || isCheckedAll"
          [indeterminate]="selection.hasValue() && (dataUnselectUser?.length > 0 || !isAllSelected())"
          [aria-label]="checkboxLabel()"
        >
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row" class="text-center">
        <mat-checkbox
          (click)="$event.stopPropagation()"
          (change)="$event ? selection.toggle(row._id) : null"
          [checked]="selection.isSelected(row._id) || (isCheckedAll && !dataUnselectUser.includes(row?._id))"
          (change)="showOptions('one', row)"
          [aria-label]="checkboxLabel(row)"
        >
        </mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="templateName">
      <th mat-header-cell *matHeaderCellDef matTooltip="{{ 'course_sequence.Template Name' | translate }}">
        <h5 mat-sort-header="name">{{ 'course_sequence.Template Name' | translate }}</h5>
      </th>
      <td mat-cell *matCellDef="let element" [matTooltip]="element?.name">
        {{ element?.name }}
      </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef matTooltip="{{ 'course_sequence.Description' | translate }}">
        <h5>{{ 'course_sequence.Description' | translate }}</h5>
      </th>
      <td mat-cell *matCellDef="let element" [matTooltip]="element?.description">
        {{ element?.description }}
      </td>
    </ng-container>

    <ng-container matColumnDef="createdDate">
      <th mat-header-cell *matHeaderCellDef matTooltip="{{ 'course_sequence.Created date' | translate }}">
        <h5 mat-sort-header="created_date">{{ 'course_sequence.Created date' | translate }}</h5>
      </th>
      <td mat-cell *matCellDef="let element" [matTooltip]="transformDate(element?.created_date)">
        {{ transformDate(element?.created_date) }}
      </td>
    </ng-container>

    <ng-container matColumnDef="createdBy">
      <th mat-header-cell *matHeaderCellDef matTooltip="{{ 'course_sequence.Created by' | translate }}">
        <h5 mat-sort-header="created_by">{{ 'course_sequence.Created by' | translate }}</h5>
      </th>
      <td
        mat-cell
        *matCellDef="let element"
        matTooltip="{{ element?.created_by?.last_name | uppercase }} {{ element?.created_by?.first_name }} {{
          element?.created_by?.civility && element?.created_by?.civility === 'neutral' ? '' : (element?.created_by?.civility | translate)
        }}"
      >
        {{ element?.created_by?.last_name | uppercase }} {{ element?.created_by?.first_name }}
        {{
          element?.created_by?.civility && element?.created_by?.civility === 'neutral' ? '' : (element?.created_by?.civility | translate)
        }}
      </td>
    </ng-container>

    <ng-container matColumnDef="updatedDate">
      <th mat-header-cell *matHeaderCellDef matTooltip="{{ 'course_sequence.Updated date' | translate }}">
        <h5 mat-sort-header="updated_date">{{ 'course_sequence.Updated date' | translate }}</h5>
      </th>
      <td mat-cell *matCellDef="let element" [matTooltip]="transformDate(element?.updated_date)">
        {{ transformDate(element?.updated_date) }}
      </td>
    </ng-container>

    <ng-container matColumnDef="updatedBy">
      <th mat-header-cell *matHeaderCellDef matTooltip="{{ 'course_sequence.Updated by' | translate }}">
        <h5 mat-sort-header="updated_by">{{ 'course_sequence.Updated by' | translate }}</h5>
      </th>
      <td
        mat-cell
        *matCellDef="let element"
        matTooltip="{{ element?.updated_by?.last_name | uppercase }} {{ element?.updated_by?.first_name }} {{
          element?.updated_by?.civility && element?.updated_by?.civility === 'neutral' ? '' : (element?.updated_by?.civility | translate)
        }}"
      >
        {{ element?.updated_by?.last_name | uppercase }} {{ element?.updated_by?.first_name }}
        {{
          element?.updated_by?.civility && element?.updated_by?.civility === 'neutral' ? '' : (element?.updated_by?.civility | translate)
        }}
      </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef matTooltip="{{ 'course_sequence.Status' | translate }}">
        <h5 mat-sort-header="is_published">{{ 'course_sequence.Status' | translate }}</h5>
      </th>
      <td mat-cell *matCellDef="let element">
        <mat-icon
          [matTooltip]="element?.is_published ? ('course_sequence.Published' | translate) : ('course_sequence.Not published' | translate)"
          [ngClass]="{
            red: !element?.is_published,
            green: element?.is_published
          }"
          aria-hidden="true"
          class="mat-icon-status"
          >lens
        </mat-icon>
      </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef matTooltip="{{ 'Action' | translate }}">
        <h5>{{ 'Action' | translate }}</h5>
      </th>
      <td mat-cell *matCellDef="let element">
        <button
          [disabled]="dataSelected && dataSelected.length > 0"
          mat-icon-button
          class="margin-right-button"
          matTooltip="{{ 'course_sequence.Duplicate' | translate }}"
          matTooltipPosition="above"
          (click)="onOpenDuplicateDialog(element)"
          *ngIf="permissionService.duplicateTemplatePerm()"
        >
          <mat-icon>content_copy</mat-icon>
        </button>
        <button
          [disabled]="dataSelected && dataSelected.length > 0"
          mat-icon-button
          class="margin-right-button"
          matTooltip="{{ 'course_sequence.Edit' | translate }}"
          matTooltipPosition="above"
          (click)="openDetailTemplate(element?._id)"
          *ngIf="permissionService.editTemplatePerm()"
        >
          <mat-icon svgIcon="pencil"> </mat-icon>
        </button>
        <button
          [disabled]="dataSelected && dataSelected.length > 0"
          mat-icon-button
          class="margin-right-button"
          matTooltip="{{ 'course_sequence.Delete' | translate }}"
          matTooltipPosition="above"
          (click)="onDelete(element)"
          *ngIf="permissionService.deleteTemplatePerm()"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
    <!-- ROW HEADER AND CONTENT END -->
    <ng-container matColumnDef="loading">
      <th mat-header-cell *matHeaderCellDef colspan="100%" class="text-center">
        <div class="center-spinner">
          <mat-spinner color="accent"></mat-spinner>
        </div>
      </th>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="['reset']"></tr>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-header-row *matHeaderRowDef="filterColumns"></tr>
    <tr mat-header-row *matHeaderRowDef="['loading']" [hidden]="!isWaitingForResponse && !isLoading"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns" [hidden]="isWaitingForResponse || isLoading"></tr>
  </table>
  <ng-container *ngIf="!isWaitingForResponse">
    <div *ngIf="noData | async" class="no-records">
      {{ 'NOT RECORD FOUND' | translate }}
    </div>
  </ng-container>
  <div [ngClass]="{ hide: noData | async }">
    <mat-paginator
      [ngClass]="{ 'hide-pagination-buttons': dataCount <= 10 }"
      [length]="dataCount"
      [hidePageSize]="true"
      [pageSize]="[10]"
      showFirstLastButtons
    ></mat-paginator>
  </div>
</div>
