<div *ngIf="isWaitingForResponse" class="inner-loading-indicator">
  <mat-spinner color="accent" [diameter]="100"></mat-spinner>
</div>
<div>
  <mat-tab-group [(selectedIndex)]="selectedIndex" #studentMatGroup>
    <!-- First tab always shown -->
    <mat-tab label="AdmissionChannel">
      <ng-template mat-tab-label class="main-tab">
        {{ 'ADMISSION.TITLE_ADMISSION_CHANNEL' | translate }}
      </ng-template>
      <ng-template matTabContent>
        <ms-intake-channel-tab></ms-intake-channel-tab>
      </ng-template>
    </mat-tab>
    <mat-tab label="ScholarDetail">
      <ng-template mat-tab-label class="main-tab">
        {{ 'Scholar Season Detail' | translate }}
      </ng-template>
      <ng-template matTabContent>
        <ms-scholar-seasons-detail></ms-scholar-seasons-detail>
      </ng-template>
    </mat-tab>
    <!-- <mat-tab label="ScholarPeriod">
      <ng-template mat-tab-label>
        
          {{ 'NAV.INTAKE_CHANNEL.Scholar season' | translate }}
        
      </ng-template>
      <ng-template matTabContent>
        <h3 class="mat-tab-header">
          <mat-icon class="mat-icon-svgIcon" svgIcon="calendar-range"> </mat-icon>
          {{ 'NAV.INTAKE_CHANNEL.Scholar season' | translate }}
        </h3>
        <ms-scholar-period-tab></ms-scholar-period-tab>
      </ng-template>
    </mat-tab> -->
    <!-- <mat-tab label="Schools">
      <ng-template mat-tab-label>
        {{ 'ADMISSION.TITLE_SCHOOLS' | translate }}
      </ng-template>
      <ng-template matTabContent>
        <ms-schools-tab></ms-schools-tab>
      </ng-template>
    </mat-tab> -->
    <mat-tab label="RegistrationProfile">
      <ng-template mat-tab-label>
        {{ 'Registration Profile' | translate }}
      </ng-template>
      <ng-template matTabContent>
        <!-- <ms-registration-profile-tab></ms-registration-profile-tab> -->
      </ng-template>
    </mat-tab>
    <!-- <mat-tab label="ScholarshipFees">
      <ng-template mat-tab-label>
        {{ 'ADMISSION.TITLE_SCHOLARSHIP_FEES' | translate }}
      </ng-template>
      <ng-template matTabContent>
        <ms-scholarship-fees-tab></ms-scholarship-fees-tab>
      </ng-template>
    </mat-tab> -->
    <!-- <mat-tab label="Accounting">
      <ng-template mat-tab-label>
        <mat-icon *ngIf="dataNotValid" style="color: red; margin-right: 8px">error</mat-icon>
        {{ 'Accounting' | translate }}
      </ng-template>
      <ng-template matTabContent>
        <ms-accounting-tab></ms-accounting-tab>
      </ng-template>
    </mat-tab> -->
  </mat-tab-group>
</div>
