<div class="dialog-border" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
  <div class="header-dialog">
    <div class="p-grid">
      <div class="p-col-10 no-padding">
        <h3 class="inline-block">
          {{ (data?.type === 'add' ? 'course_sequence.Add module but with un' : 'course_sequence.Edit Module') | translate }}
        </h3>
      </div>
      <div class="no-padding p-col-2" style="padding-right: 10px !important">
        <button mat-icon-button class="close-icon float-right" (click)="close()" tabindex="-1">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>

<div mat-dialog-content class="dialog-body">
  <div [formGroup]="subject">
    <mat-form-field>
      <input matInput placeholder="{{ 'course_sequence.Name' | translate }}" formControlName="name" />
      <mat-error>{{ 'This field is required' | translate }}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="{{ 'course_sequence.Short name' | translate }}" formControlName="short_name" />
      <mat-error>{{ 'This field is required' | translate }}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="{{ 'course_sequence.English name' | translate }}" formControlName="english_name" />
      <mat-error>{{ 'This field is required' | translate }}</mat-error>
    </mat-form-field>
  </div>
</div>
<mat-dialog-actions align="right" class="action-button">
  <button mat-raised-button type="button" color="warn" mat-dialog-close>{{ 'CANCEL' | translate }}</button>
  <button mat-raised-button color="accent" (click)="submitVerification()">
    {{ 'Validate' | translate }}
  </button>
</mat-dialog-actions>
<div *ngIf="isWaitingForResponse" class="loading-indicator">
  <mat-spinner color="accent" [diameter]="100"></mat-spinner>
</div>
