@import '~assets/scss/theme/admtc.variables';
@import '~assets/scss/theme/admtc';

:host::ng-deep.ng-select .ng-select-container {
  background-color: #fff0;
  color: #fff;
  border: none;
  border-radius: 0px !important;
  border-bottom: 1px solid #8c8c8c !important;
  // min-height: 36px;
  -webkit-box-align: center;
  align-items: center;
}
:host::ng-deep.mat-select-arrow-wrapper {
  padding-right: 5px;
}
:host::ng-deep.mat-select-value-text {
  margin-left: 10px;
  font-size: 13px;
}
:host::ng-deep ng-dropdown-panel {
  z-index: 99999999999;
}
:host::ng-deep.ng-select .ng-select-container .ng-value-container .ng-input > input {
  color: white;
  box-sizing: content-box;
  background: none;
  border: 0;
  box-shadow: none;
  outline: 0;
  cursor: default;
  width: 100%;
}
.button-action {
  display: block;
  text-align: right;
  position: relative;
  float: right;
}
.class-scholar {
  width: 150px;
  display: inline-block;
  vertical-align: middle;
}
.dblock {
  display: inline-block;
}
.delete {
  font-size: 20px;
  vertical-align: middle;
  padding-bottom: 6px;
  cursor: pointer;
}
.text-title {
  width: 70%;
  display: inline-block;
}
.delete:hover {
  font-size: 22px;
  color: red !important;
}
.delete-icon {
  font-size: 12px;
  display: inline-block;
}
.section-campus {
  padding: 8px 0px 4px 8px;
  vertical-align: middle;
  display: inline-block;
  min-width: 110px;
  background-color: #607d8b;
  border: 1px solid white;
  margin-right: 5px;
}
.section-level {
  padding: 8px 0px 4px 8px;
  vertical-align: middle;
  display: inline-block;
  min-width: 110px;
  background-color: #fdd835;
  border: white;
  margin-right: 5px;
  color: black;
}

:host::ng-deep.ckeditor {
  .ck-content {
    min-height: 230px !important;
  }
}
.ckeditor {
  width: 100%;
}
.mic-style:hover {
  color: red;
}
.btn-mic {
  color: black;
  position: absolute;
  text-align: right;
  padding-top: 8px;
  right: 15px;
}
