@import '~assets/scss/theme/admtc.variables';
@import '~assets/scss/theme/admtc';

.dialogTitle {
  display: inline-block;
}

.dialogTitleWrapper {
  color: black;
}

.header-dialog {
  margin-top: 15px;
  padding: 0 5px 0 15px;
}

.dialog-border {
  border-bottom: 1px solid black;
  padding: 16px;
}

:host::ng-deep.mat-form-field-underline {
  background-color: rgba(0, 0, 0, 0.12) !important;
}
.acad-title {
  padding: 0px;
  margin-right: 25px;
}
.w-30 {
  padding-top: 4px !important;
  margin-right: 7px !important;
}
.w-65 {
  float: right;
  position: relative;
  right: -38px;
}

.err {
 font-size: 12px;
}

label {
  font-size: 12px;
}

.no-padding-bottom {
  padding-bottom: 0 !important;
}


.no-padding-top {
  padding-top: 0 !important;
}

:host::ng-deep .mat-form-field-label-wrapper {
  top: -18px !important;
}

:host::ng-deep .mat-form-field-appearance-legacy .mat-form-field-infix {
  padding-top: 0;
}

:host::ng-deep .mat-dialog-content {
  margin: 0;
  padding: 16px !important;
}

:host::ng-deep .mat-dialog-actions {
  min-height: unset;
  padding-bottom: 32px !important;
  padding-right: 16px;
}

:host::ng-deep .dialogTitleWrapper h3 {
  margin-bottom: 0;
}

::ng-deep .mat-form-field-label span{
    color: #999 !important;
    font-size: 14px !important;
}
::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label span{
    color: #f44336 !important;
    font-size: 14px !important;
}

:host::ng-deep.ng-select .ng-select-container {
  height: 36px;
  border-left: 0px !important;
  border-right: 0px !important;
  border-top: 0px !important;
  border-radius: 0px !important;
}

::ng-deep ng-select.ng-invalid.ng-touched .ng-select-container {
  border-bottom: 1px solid #f44336;
}

::ng-deep .ng-select .ng-select-container .ng-value-container{
  padding-left: initial;
}
::ng-deep ng-select.ng-invalid.ng-touched .ng-select-container .ng-value-container .ng-placeholder{
    color: #ff4336;
}
::ng-deep .ng-select .ng-select-container .ng-value-container .ng-placeholder{
    font-size: 14px;
}
::ng-deep .ng-select .ng-select-container.ng-has-value{
    max-width: initial;
    overflow-x: initial;
}

::ng-deep .ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input {
 padding-left: 0;
}
::ng-deep.custom-ngselect-contentspace {
  .ng-dropdown-panel{
    max-width: fit-content !important;
    width: auto !important;
  }
  .ng-dropdown-panel-items .ng-option {
    white-space: break-spaces !important;
  }
}
::ng-deep.custom-ngselect-contentspace.ng-dropdown-panel {
  max-width: fit-content !important;
  width: auto !important;
}