$dark-blue: #607d8b;
$green-yellow: greenyellow;
$green: #4caf50;
$black: #000;
$white: #fff;
$purple: purple;
$red: red;
$grey: #545454;
$medium-grey: #424242;
$dark-grey: #808080;
$dark-yellow: #fdd835;
$yellow: yellow;
$light-medium-grey: #353535;
$light-black: #212121;