@import '~assets/scss/theme/admtc.variables';
@import '~assets/scss/theme/admtc';

.form-field {
  margin-top: 0.5px;
}

.custom-form-field {
  width: 94px;
}

.mat-column-documentNameFilter, 
.mat-column-documentName {
  max-width: 260px !important;
  min-width: 260px !important;
  width: 260px !important;
  padding-left: 0.8rem !important;
  padding-right: 0.8rem !important;
  text-align: left;
  .mat-form-field {
    width: 100%;
  }
}
.mat-column-typeFilter, 
.mat-column-type {
  max-width: 240px !important;
  min-width: 240px !important;
  width: 240px !important;
  padding-left: 0.8rem !important;
  padding-right: 0.8rem !important;
  text-align: left;
  .mat-form-field {
    width: 100%;
  }
}
.mat-column-uploadDateFilter, 
.mat-column-uploadDate {
  max-width: 180px !important;
  min-width: 180px !important;
  width: 180px !important;
  padding-left: 0.8rem !important;
  padding-right: 0.8rem !important;
  text-align: left;
  .mat-form-field {
    width: 100%;
  }
}

.mat-column-statusFilter, 
.mat-column-status {
  max-width: 120px !important;
  min-width: 120px !important;
  width: 180px !important;
  padding-left: 0.8rem !important;
  padding-right: 0.8rem !important;
  text-align: center;
  .mat-form-field {
    width: 100%;
  }
  .icon-drag{
    margin: 0.8em 0 0 0.8em;
  }
}

.mat-column-actionFilter,
.mat-column-action {
  width: 125px;
  min-width: 140px;
  max-width: 140px;
  padding-left: 0.8rem !important;
  padding-right: 0.8rem !important;
  text-align: center !important;
  .icon-drag{
    margin: 0.8em 0 0 0.8em;
  }
}

:host ::ng-deep table {
  tr {
    td,
    th {
      border-right: 1px solid $grey;
    }

    td {
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 0;
      white-space: nowrap;
      padding-top: 0.5em;
      padding-bottom: 0.5em;
    }

    th {
      vertical-align: top;
      text-align: center;
      .mat-form-field-infix {
        width: unset !important;
      }
    }

    &:nth-child(1) {
      th {
        padding-top: 0.8em !important;
      }
    }
  }

  thead tr {
    &:nth-child(1) {
      height: 35px;
      border-top: 4px solid #607d8b;
      border-left: 4px solid #607d8b;
      border-right: 4px solid #607d8b;
    }
    &:nth-child(2) {
      border-top: none !important;
    }
    &:nth-child(1),
    &:nth-child(2) {
      background: $light-black;
      th {
        color: $white;
      }
    }
  }
}

.action-header-column {
  vertical-align: middle !important;
  padding-right: 0 !important;
  .p-grid {
    margin-top: unset !important;
  }
}

:host ::ng-deep .swal2-checkbox label,
.swal2-radio label {
  font-size: 1em !important;
}
.school-backdrop + .cdk-overlay-pane {
  .mat-dialog-container {
    overflow: visible;
  }
}

.mat-column-select {
  overflow: initial;
}

.cursor-pointer {
  cursor: pointer;
}

.no-records {
  background-color: #424242;
  font-size: 14px;
  padding: 10px 12px;
  border-right: 1px solid #545454;
  border-bottom: 1px solid #545454;
}

.header-action {
  height: 58px;
  padding: 8px 8px;
  background: #424242;
}

.mat-select-button {
  margin-bottom: 3px;
  margin-right: 1px;
  ::ng-deep {
    .mat-form-field-underline {
      display: none;
    }
    .mat-select-arrow-wrapper {
      display: none;
    }
    .mat-form-field-label-wrapper {
      display: none;
    }
    .mat-form-field-wrapper {
      padding-bottom: 0px;
    }
    .mat-select-trigger {
      width: 150px !important;
      min-width: 150px !important;
      max-width: 150px !important;
    }
  }
}

.button-dummy {
  display: inline-block !important;
  position: relative !important;
  button {
    position: absolute !important;
    top: -16px !important;
    left: 9px !important;
  }
}

.btn-dummy {
  margin-top: 1px;
}

.preview {
  transition: opacity 0.1s ease-in-out;
  background: #212121;
  color: white !important;
  height: inherit;
  width: 4.5vw;
  z-index: 1;
  padding: 10px;
  opacity: 0.8;
  text-align: center;
  h5 {
    font-weight: 900;
  }
}

::ng-deep .cdk-drag {
  &.cdk-drag-preview > * {
    cursor: move;
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
  }

  &.cdk-drag-placeholder > * {
    opacity: 0;
  }
}

.container-dropdown {
  height: 168px;
  max-height: 168px;
  overflow: auto;
}

.restore-to-default:hover {
  color: #3f51b5;
}

.label-header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: left 0.3s;
  cursor: unset !important;
}

.column-dragging {
  transition: opacity 0.2s ease-in-out;
  background: #212121;
  color: white !important;
  position: relative;
}

.icon-drag {
  position: absolute;
  top: 2px;
  left: 0px;
  width: 50px;
  height: 100%;
  line-height: 50px;
  text-align: center;
  transition: left 0.3s;
  opacity: 0;
  color: white;
  cursor: pointer;
  z-index: 1;
}

.column-dragging:hover .icon-drag {
  left: 0;
  opacity: 1;
}

.column-dragging:hover .label-header {
  left: 5px;
  opacity: 1;
}

:host::ng-deep {
  .mat-sort-header-container {
    cursor: unset !important;
    vertical-align: unset !important;
  }
  .mat-sort-header-arrow {
    cursor: pointer;
    margin: -0.6em 0 0 0.4em !important;
  }
  .cdk-program-focused .mat-sort-header-container {
    border-bottom: unset !important;
  }
}

.preview-drag {
  min-width: 100px !important;
}

.custom-message {
  height: 100%;
  min-height: 50vh;
  max-height: 50vh;
  background: #424242;
}

.pad-top-30 {
  padding-top: 30px;
}

.custom-icon-setting {
  width: 150px !important;
  height: 150px !important;
  max-width: 150px !important;
  max-height: 150px !important;
}

.margin-top-10 {
  margin-top: 10px;
}

::ng-deep .mat-select-panel {
  margin-top: 25px;
}

.octagon-button {
  vertical-align: middle;
  cursor: pointer;
  max-width: 35px;
  max-height: 35px;
}
.red-icon {
  color: #ff4a4a;
  margin-right: 2px;
  width: 35px;
}
.orange {
  color: #f49f36;
}
.red {
  color: #ff4040;
}
.green {
  color: #adff2f;
}
.purple {
  color: #ff46f9;
}
.black {
  color: #000000;
}

::ng-deep.ng-dropdown-panel.custom-dropdownpanel {
  width: fit-content !important;
}
::ng-deep.ng-dropdown-panel.custom-dropdownpanel-table {
  width: fit-content !important;
  .ng-dropdown-panel-items .ng-option {
    white-space: normal !important;
  }
}
::ng-deep.ng-select.custom-dropdownpanel-table .ng-select-container .ng-value-container .ng-input > input {
  color: white !important;
}

::ng-deep .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-placeholder {
  z-index: 0 !important;
  top: auto !important;
  padding-bottom: 0 !important;
}

:host::ng-deep.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
  color: black;
}

:host::ng-deep.ng-select.ng-select-multiple .ng-select-container .ng-value-container {
  flex-wrap: nowrap !important;
}
:host::ng-deep.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
  background-color: transparent;
  color: white;
}

:host::ng-deep.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value:not(:nth-last-child(2))::after {
  content: ',';
}

:host::ng-deep.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-icon {
  display: none;
}

:host::ng-deep.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-placeholder{
  font-size: 14px;
}

.horizontal {
  overflow: auto;
  overflow-y: hidden;
}


:host::ng-deep.mat-select-arrow-wrapper {
  padding-right: 5px;
}
:host::ng-deep.mat-select-value-text {
  margin-left: 10px;
  font-size: 13px;
}