<div class="dialog-border">
    <div class="dialogTitleWrapper" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
      <div class="p-grid">
        <div class="w-30 no-padding">
          <mat-icon style="vertical-align: middle">add</mat-icon>
        </div>
        <div class="p-col-10 acad-title">
          <h3 class="dialogTitle">
            {{ 'Add Scholar Season' | translate }}
          </h3>
        </div>
        <div class="w-65 no-padding">
          <button mat-icon-button class="close-icon float-right" mat-dialog-close tabindex="-1">
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
  <form [formGroup]="identityForm">
    <div class="fontColor">
      <mat-dialog-content>
        <div class="p-grid">
          <div class="p-col-12 no-padding">
            <div class="p-grid">
              <div class="p-col-6">
                <mat-form-field>
                  <mat-label>{{ 'INTAKE_CHANNEL.Name' | translate}}</mat-label>
                  <input
                    matInput
                    formControlName="scholar_season"
                    type="text"
                  />
                  <mat-error *ngIf="identityForm.get('scholar_season').errors">{{ 'This field is required' | translate }}</mat-error>
                </mat-form-field>
              </div>
              <div class="p-col-6 no-padding">
                <div class="p-grid no-padding">
                  <div formGroupName="from" class="p-col-6" style="float: left">
                    <mat-form-field>
                      <mat-label>{{ 'From' | translate }}</mat-label>
                      <input
                        matInput
                        (click)="myDatepicker.open()"
                        readonly
                        [max]="identityForm?.get('to')?.get('date_utc').value"
                        formControlName="date_utc"
                        [matDatepicker]="myDatepicker"
                      />
                      <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
                      <mat-datepicker #myDatepicker></mat-datepicker>
                      <mat-error *ngIf="identityForm.get('from').get('date_utc').errors">{{ 'This field is required' | translate }}</mat-error>
                    </mat-form-field>
                  </div>
    
                  <div formGroupName="to" class="p-col-6" style="float: left">
                    <mat-form-field>
                      <mat-label>{{ 'To' | translate }}</mat-label>
                      <input
                        matInput
                        (click)="myDatepickers.open()"
                        readonly
                        [min]="identityForm?.get('from')?.get('date_utc').value"
                        formControlName="date_utc"
                        [matDatepicker]="myDatepickers"
                      />
                      <mat-datepicker-toggle matSuffix [for]="myDatepickers"></mat-datepicker-toggle>
                      <mat-datepicker #myDatepickers></mat-datepicker>
                      <mat-error *ngIf="identityForm.get('to').get('date_utc').errors">{{ 'This field is required' | translate }}</mat-error>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <div class="p-grid">
          <div class="p-col-12 no-padding">
            <div class="p-grid">
              <div class="p-col">
                <mat-form-field>
                  <textarea matInput placeholder="{{ 'Description' | translate }}" formControlName="description"></textarea>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>

      </mat-dialog-content>
      <mat-dialog-actions align="right">
        <button mat-raised-button type="button" color="warn" mat-dialog-close>{{ 'CANCEL' | translate }}</button>
        <button mat-raised-button color="primary" (click)="submitVerification()">
          {{ 'Validate' | translate }}
        </button>
      </mat-dialog-actions>
    </div>
  </form>
  <div *ngIf="isWaitingForResponse" class="loading-indicator">
    <mat-progress-spinner mode="indeterminate" color="accent"></mat-progress-spinner>
  </div>
  