@import '~assets/scss/theme/admtc.variables';
@import '~assets/scss/theme/admtc';

.form-field {
  margin-top: 0.5px;
}

:host ::ng-deep table {
  tr {
    td,
    th {
      border-right: 1px solid $grey;
      &:nth-child(1) {
        width: 35%;
        padding-left: 0.5rem !important;
        .mat-form-field {
          width: 95%;
        }
      }

      &:nth-child(2) {
        width: 25%;
        padding-left: 0.5rem !important;
        .mat-form-field {
          width: 95%;
        }
      }

      &:nth-child(3) {
        width: 20%;
        padding-left: 0.5rem !important;
        .mat-form-field {
          width: 85%;
        }
      }

      &:nth-child(4) {
        width: 20%;
        text-align: center;
        padding-right: 0px !important;
      }
    }

    td {
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 0;
      white-space: nowrap;
      padding-top: 0.5em;
      padding-bottom: 0.5em;
    }

    th {
      vertical-align: top;
      text-align: center;
      .mat-form-field-infix {
        width: unset !important;
      }
    }

    &:nth-child(2) {
      th {
        padding-top: 0.9em;
      }
    }
  }

  thead tr {
    &:nth-child(2) {
      height: 35px;
    }
    &:nth-child(2),
    &:nth-child(3) {
      background: $light-black;
      th {
        color: $white;
      }
    }
  }
}

.action-header-column {
  vertical-align: middle !important;
  padding-right: 0 !important;
  .p-grid {
    margin-top: unset !important;
  }
}

:host ::ng-deep .swal2-checkbox label,
.swal2-radio label {
  font-size: 1em !important;
}
.school-backdrop + .cdk-overlay-pane {
  .mat-dialog-container {
    overflow: visible;
  }
}

.mat-column-select {
  overflow: initial;
}

.cursor-pointer {
  cursor: pointer;
}

.no-records {
  background-color: #424242;
  font-size: 14px;
  padding: 10px 12px;
  border-right: 1px solid #545454;
  border-bottom: 1px solid #545454;
}
