<ng-container *ngIf="!candidateData?.diploma_status || candidateData?.diploma_status === 'sent'">
  <fieldset [disabled]="!candidateData?.diploma_status">
    <div class="responsives" [formGroup]="form">
      <div class="card web-card">
        <div class="card-body card-segment detail-candidate" style="min-height: 420px">
          <div class="p-grid">
            <div class="p-col-12 no-padding">
              <p style="font-size: 18px !important; margin: 0px">
                {{ 'Please select your answer between the choices below et click on ❝Submit❞' | translate }}
              </p>
            </div>
            <div class="p-col-12" style="padding-top: 30px; padding-left: 0px">
              <mat-radio-group required formControlName="diploma_status">
                <mat-radio-button [value]="'yes'" style="padding-right: 10px; padding-left: 0px">{{
                  'I get my diploma' | translate
                }}</mat-radio-button>
                <mat-radio-button [value]="'no'" style="padding-right: 10px">{{
                  'I didn❜t get my diploma' | translate
                }}</mat-radio-button>
                <mat-radio-button [value]="'retake'" style="padding-right: 10px">{{
                  'I am admitted for retake' | translate
                }}</mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
        </div>
      </div>

      <div class="card mobile-card">
        <div class="card-body card-segment detail-candidate">
          <div class="p-grid">
            <div class="p-col-12 no-padding">
              <p style="font-size: 18px !important; margin: 0px">
                {{ 'Please select your answer between the choices below et click on ❝Submit❞' | translate }}
              </p>
            </div>
            <div class="p-col-12" style="padding-top: 30px; padding-left: 0px">
              <mat-radio-group required formControlName="diploma_status">
                <mat-radio-button [value]="'yes'" style="padding-right: 10px; padding-left: 0px">{{
                  'I get my diploma' | translate
                }}</mat-radio-button>
                <mat-radio-button [value]="'no'" style="padding-right: 10px">{{
                  'I didn❜t get my diploma' | translate
                }}</mat-radio-button>
                <mat-radio-button [value]="'retake'" style="padding-right: 10px">{{
                  'I am admitted for retake' | translate
                }}</mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
        </div>
      </div>

      <div class="web-card">
        <div class="p-grid center" style="text-align: end; position: relative; justify-content: end; align-items: end">
          <button
            color="accent"
            mat-raised-button
            matTooltip="{{ 'Diploma Submit' | translate }} "
            class="btn-first web-card"
            style="margin: 10px"
            (click)="validateDiploma()"
          >
            <mat-icon class="mat-icon-default">save</mat-icon>
            {{ 'Diploma Submit' | translate }}
          </button>
        </div>
      </div>
      <div class="mobile-card">
        <button
          color="accent"
          mat-raised-button
          matTooltip="{{ 'Diploma Submit' | translate }} "
          class="btn-first"
          style="margin: 10px 0px 10px 0px"
          (click)="validateDiploma()"
        >
          <mat-icon class="mat-icon-default">save</mat-icon>
          {{ 'Diploma Submit' | translate }}
        </button>
      </div>
    </div>
  </fieldset>
</ng-container>

<div
  style="margin-top: 20px !important; text-align: center"
  *ngIf="candidateData?.diploma_status && candidateData?.diploma_status !== 'sent'"
>
  <div *ngIf="candidateData?.school?.school_logo">
    <div class="row no-margin msg-pay" style="font-size: 30px; font-weight: 500">
      {{ 'Thank you for completing the form' | translate }}
    </div>
    <div class="row no-margin">
      <img
        class="payment-success"
        style="min-height: 265px; padding-top: 30px"
        [src]="serverimgPath + candidateData?.school?.school_logo"
      />
    </div>
  </div>
  <div *ngIf="!candidateData?.school?.school_logo">
    <div class="row no-margin msg-pay" style="font-size: 30px; font-weight: 500; margin-top: 170px !important">
      {{ 'Thank you for completing the form' | translate }}
    </div>
  </div>
</div>
<div *ngIf="isWaitingForResponse" class="loading-indicator">
  <mat-progress-spinner mode="indeterminate" color="accent"></mat-progress-spinner>
</div>
