<div class="dialog-border" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
  <div class="dialogTitleWrapper">
    <div class="p-grid">
      <div class="w-30 no-padding">
        <mat-icon style="vertical-align: middle">event_note</mat-icon>
      </div>
      <div class="p-col-10 dialog-title">
        <h3 class="dialogTitle" data-cy="dialog-title">
          {{ 'Transaction Master Detail' | translate }}
        </h3>
      </div>
      <div class="p-col no-padding">
        <button mat-icon-button class="close-icon float-right" mat-dialog-close tabindex="-1" data-cy="button-close-dialog">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>

<mat-dialog-content>
  <div class="p-grid">
    <div class="p-col-12 no-padding">
      <div class="p-grid p-col-12">
        <div class="p-col-3">{{ 'Date generated' | translate }}</div>
        <div class="p-col-9">: {{ dataDisplay?.created_at ? parseDateToLocal(dataDisplay?.date_action) : '-' }}</div>
      </div>

      <div class="p-grid p-col-12">
        <div class="p-col-3">{{ 'Payment date' | translate }}</div>
        <div class="p-col-9">: {{ dataDisplay?.date_action ? parseDateToLocal(dataDisplay?.date_action) : '-' }}</div>
      </div>
      <div class="p-grid p-col-12">
        <div class="p-col-3">{{ 'Payer' | translate }}:</div>
        <div class="p-col-9">
          :
          <!-- If Payer coming from Billing, either financial support or student -->
          <ng-container *ngIf="dataDisplay?.billing_id">
            <ng-container *ngIf="dataDisplay?.billing_id?.is_financial_support">
              {{ dataDisplay?.billing_id?.financial_support_info?.family_name | uppercase }}
              {{ dataDisplay?.billing_id?.financial_support_info?.name }}
              {{
                dataDisplay?.billing_id?.financial_support_info?.civility &&
                dataDisplay?.billing_id?.financial_support_info?.civility === 'neutral'
                  ? ''
                  : (dataDisplay?.billing_id?.financial_support_info?.civility | translate)
              }}
            </ng-container>
            <ng-container *ngIf="!dataDisplay?.billing_id?.is_financial_support">
              {{ dataDisplay?.billing_id?.candidate_id?.last_name | uppercase }} {{ dataDisplay?.billing_id?.candidate_id?.first_name }}
              {{
                dataDisplay?.billing_id?.candidate_id?.civility && dataDisplay?.billing_id?.candidate_id?.civility === 'neutral'
                  ? ''
                  : (dataDisplay?.billing_id?.candidate_id?.civility | translate)
              }}
            </ng-container>
          </ng-container>
          <!-- If Payer coming from Financement, either organization or company -->
          <ng-container *ngIf="dataDisplay?.finance_organization_id">
            <ng-container *ngIf="dataDisplay?.finance_organization_id?.organization_id">
              {{ dataDisplay?.finance_organization_id?.organization_id?.name }}
            </ng-container>
            <ng-container *ngIf="dataDisplay?.finance_organization_id?.company_branch_id">
              {{ dataDisplay?.finance_organization_id?.company_branch_id?.company_name }}
            </ng-container>
          </ng-container>
          <!-- When both of billing and organization doesnt have any value -->
          <ng-container *ngIf="!dataDisplay?.billing_id && !dataDisplay?.finance_organization_id"> - </ng-container>
        </div>
      </div>
      <div class="p-grid p-col-12">
        <div class="p-col-3">{{ 'Transaction type' | translate }}</div>
        <div class="p-col-9">: {{ displayTransactionType(dataDisplay?.transaction_type) }}</div>
      </div>
      <div class="p-grid p-col-12">
        <div class="p-col-3">{{ 'Due Date' | translate }} & {{ 'Operation name' | translate }}</div>
        <div class="p-col-9">
          :
          <ng-container *ngIf="dataDisplay?.operation_name === 'payment_of_term' || dataDisplay?.operation_name === 'regulation_payment'">
            <ng-container *ngIf="dataDisplay?.term_affected?.length">
              <ng-container *ngFor="let item of dataDisplay?.term_affected; let first = first">
                <!--*************** display payment of term -->
                <ng-container *ngIf="!item?.is_regulation">
                  <span *ngIf="first" class="tags">{{ item?.term_payment?.date }}</span>
                  <span *ngIf="first" class="tags"
                    >{{ 'OPERATION_NAME.payment_of_term' | translate }} {{ parseTermIndexToNumber(item?.term_index) }}</span
                  >
                  <div class="second-list">
                    <span *ngIf="!first" class="tags">{{ item?.term_payment?.date }}</span>
                    <span *ngIf="!first" class="tags"
                      >{{ 'OPERATION_NAME.payment_of_term' | translate }} {{ parseTermIndexToNumber(item?.term_index) }}</span
                    >
                  </div>
                </ng-container>

                <!--*************** display regulation payment -->
                <ng-container *ngIf="item?.is_regulation">
                  <span *ngIf="first" class="tags">{{ item?.term_payment?.date }}</span>
                  <span *ngIf="first" class="tags"
                    >{{ 'OPERATION_NAME.payment_of_term' | translate }} {{ parseTermIndexToNumber(item?.term_index) }} -
                    {{ 'OPERATION_NAME.Regulation' | translate }}
                  </span>
                  <div class="second-list">
                    <span *ngIf="!first" class="tags">{{ item?.term_payment?.date }}</span>
                    <span *ngIf="!first" class="tags"
                      >{{ 'OPERATION_NAME.payment_of_term' | translate }} {{ parseTermIndexToNumber(item?.term_index) }} -
                      {{ 'OPERATION_NAME.Regulation' | translate }}
                    </span>
                  </div>
                </ng-container>
              </ng-container>
            </ng-container>

            <ng-container *ngIf="!dataDisplay?.term_affected?.length"> - </ng-container>
          </ng-container>
          <span
            *ngIf="
              (dataDisplay?.operation_name === 'chargeback_of_term' ||
                dataDisplay?.operation_name === 'billing_of_term' ||
                dataDisplay?.operation_name === 'avoir_of_term') &&
              dataDisplay?.nature !== 'cancel'
            "
            matTooltip="{{ 'OPERATION_NAME.' + dataDisplay?.operation_name | translate }} {{
              parseTermIndexToNumber(dataDisplay?.term_index)
            }}"
          >
            <span class="tags">{{ dataDisplay?.date_action ? parseDateToLocal(dataDisplay?.date_action) : '-' }} </span>
            <span class="tags"
              >{{ 'OPERATION_NAME.' + dataDisplay?.operation_name | translate }} {{ parseTermIndexToNumber(dataDisplay?.term_index) }}
            </span>
          </span>
          <span
            *ngIf="dataDisplay?.operation_name !== 'chargeback_of_term' && dataDisplay?.nature === 'cancel'"
            matTooltip="{{ 'OPERATION_NAME.Cancel payment of term' | translate }} {{ parseTermIndexToNumber(dataDisplay?.term_index) }}"
          >
            <span class="tags">{{ dataDisplay?.date_action ? parseDateToLocal(dataDisplay?.date_action) : '-' }} </span>
            <span class="tags">
              {{ 'OPERATION_NAME.Cancel payment of term' | translate }} {{ parseTermIndexToNumber(dataDisplay?.term_index) }}
            </span>
          </span>
          <!--*************** single term when operation name not payment_of_term, chargeback_of_term, billing_of_term, avoir_of_term -->
          <span
            *ngIf="
              dataDisplay?.operation_name !== 'payment_of_term' &&
              dataDisplay?.operation_name !== 'regulation_payment' &&
              dataDisplay?.operation_name !== 'chargeback_of_term' &&
              dataDisplay?.operation_name !== 'billing_of_term' &&
              dataDisplay?.operation_name !== 'avoir_of_term'
            "
            [matTooltip]="
              displayOperationName(
                dataDisplay?.operation_name,
                dataDisplay?.candidate_id?.type_of_formation_id?.type_of_information,
                dataDisplay?.term_index
              )
            "
          >
            <ng-container *ngIf="!item?.is_regulation">
              <span class="tags">{{ dataDisplay?.date_action ? parseDateToLocal(dataDisplay?.date_action) : '-' }} </span>
              <span class="tags">
                {{
                  displayOperationName(
                    dataDisplay?.operation_name,
                    dataDisplay?.candidate_id?.type_of_formation_id?.type_of_information,
                    dataDisplay?.term_index
                  )
                }}
              </span>
            </ng-container>

            <!--*************** display regulation payment -->
            <ng-container *ngIf="item?.is_regulation">
              <span class="tags">{{ dataDisplay?.date_action ? parseDateToLocal(dataDisplay?.date_action) : '-' }} </span>
              <span *ngIf="!first" class="tags">
                {{ 'OPERATION_NAME.payment_of_term' | translate }} {{ parseTermIndexToNumber(item?.term_index) }} -
                {{ 'OPERATION_NAME.Regulation' | translate }}</span
              >
            </ng-container>
          </span>
        </div>
      </div>
      <div class="p-grid p-col-12">
        <div class="p-col-3">Nature</div>
        <div class="p-col-9">: {{ 'nature_type.' + dataDisplay?.nature | translate }}</div>
      </div>
      <div class="p-grid p-col-12">
        <div class="p-col-3">{{ 'Référence' | translate }}:</div>
        <div class="p-col-9">: {{ dataDisplay?.display_reference ? dataDisplay?.display_reference : '-' }}</div>
      </div>
      <div class="p-grid p-col-12">
        <div class="p-col-3">{{ 'Notes' | translate }}:</div>
        <div class="p-col-9">: {{ dataDisplay?.note ? dataDisplay?.note : '-' }}</div>
      </div>
    </div>
  </div>
</mat-dialog-content>

<div *ngIf="isWaitingForResponse" class="loading-indicator">
  <mat-progress-spinner mode="indeterminate" color="accent" data-cy="dialog-spinner"></mat-progress-spinner>
</div>
