<div class="dialog-border" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
  <div class="dialogTitleWrapper header-dialog">
    <div class="p-grid">
      <div class="w-30 no-padding">
        <mat-icon mat-icon-button svgIcon="clipboard-check-outline" class="mt-5px"></mat-icon>
      </div>
      <div class="p-col-10 no-padding">
        <h3 class="dialogTitle">{{ 'MAIN_MENU.TOOLS.STATUS_UPDATE' | translate }}</h3>
        <button
          *ngIf="isTutorialAdded"
          matTooltip="{{ 'Tutorial for this module' | translate }}"
          (click)="toggleTutorial(tutorialData)"
          mat-icon-button
          style="margin-left: 5px; vertical-align: top"
        >
          <mat-icon>help</mat-icon>
        </button>
      </div>
      <div class="w-65 no-padding">
        <button mat-icon-button class="close-icon float-right" (click)="closeDialog()" tabindex="-1">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>

<div mat-dialog-content class="mat-dialog-content dialog-body" style="overflow: hidden !important">
  <div class="p-grid">
    <!-- title -->
    <div class="p-col-12 pad-y-none">
      <mat-form-field class="full-wid">
        <input
          matInput
          (keydown.enter)="addRncpTitle()"
          placeholder="{{ 'CrossCorrection.Select_RNCP_Title.title' | translate }}"
          [formControl]="titleCtrl"
          [matAutocomplete]="autoTitle"
          #titleInput="matAutocompleteTrigger"
          required
        />
        <mat-autocomplete #autoTitle="matAutocomplete">
          <mat-option *ngFor="let option of filteredTitle | async" [value]="option?.short_name" (click)="getClassDropdown(option?._id)">
            {{ option?.short_name }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>

    <!-- class -->
    <div class="p-col-12 pad-y-none">
      <mat-form-field class="full-wid">
        <input
          matInput
          placeholder="{{ 'CrossCorrection.Select_a_Class.title' | translate }}"
          (keydown.enter)="addClass()"
          [formControl]="classCtrl"
          [matAutocomplete]="autoClass"
          #classInput="matAutocompleteTrigger"
          required
        />
        <mat-autocomplete #autoClass="matAutocomplete">
          <mat-option *ngFor="let option of filteredClass | async" [value]="option?.name" (click)="getTestDropdown(option?._id)">
            {{ option?.name }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>

    <!-- test -->
    <div class="p-col-12 pad-y-none">
      <ng-select
      class="ng-select-input custom"
      [multiple]="true"
      appendTo="body"
      [items]="testList"
      bindValue="_id"
      bindLabel="name"
      [formControl]="testCtrl"
      (change)="addTest()"
    >
    <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
        <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected"/> {{item.name}}
    </ng-template>
    <ng-template ng-header-tmp>
      <div style="cursor: pointer;" (click)="unSelectedAllItems()">
        {{'NONEN' | translate}}
      </div>
      <div style="cursor: pointer;" (click)="selectedAllItems()">
        {{'All Test' | translate}}
      </div>
    </ng-template>
  </ng-select>
    </div>

    <!-- checkboxs -->
    <div class="p-col-12 pad-y-none" [formGroup]="statusUpdateForm">
      <mat-checkbox formControlName="notification">{{ 'Notification' | translate }}</mat-checkbox>
    </div>
    <div class="p-col-12 pad-y-none" [formGroup]="statusUpdateForm">
      <mat-checkbox (change)="changeCheckbox('csv')" formControlName="csv">{{ 'CSV' | translate }}</mat-checkbox>
    </div>
    <!-- Hide Google Sheet 22/03/2021 -->
    <!-- <div class="p-col-12 pad-y-none" [formGroup]="statusUpdateForm">
      <mat-checkbox (change)="changeCheckbox('google')" formControlName="google">{{ 'Google Sheets' | translate }}</mat-checkbox>
    </div> -->
  </div>

  <div *ngIf="isWaitingForResponse" class="inner-loading-indicator">
    <mat-spinner color="accent" [diameter]="100"></mat-spinner>
  </div>
</div>

<div mat-dialog-actions class="justify-content-end mr-10">
  <button mat-button mat-raised-button color="warn" (click)="closeDialog()">{{ 'CANCEL' | translate }}</button>
  <button
    mat-button
    mat-raised-button
    *ngIf="statusUpdateForm.get('google').value"
    color="primary"
    class="mr-0"
    (click)="exportName = 'Export'; exportSwal.show()"
    [disabled]="isWaitingForResponse"
  >
    {{ 'Enter' | translate }}
  </button>
  <button
    mat-button
    mat-raised-button
    *ngIf="!statusUpdateForm.get('google').value"
    color="primary"
    class="mr-0"
    (click)="submit()"
    [disabled]="!isFormValid() || isWaitingForResponse"
  >
    {{ 'Enter' | translate }}
  </button>
</div>

<swal #exportSwal title="{{ 'Export Title' | translate }}" [showConfirmButton]="false">
  <div *swalPartial class="">
    <div class="">
      {{ 'Export Text1' | translate }}
    </div>
    <div class="">
      {{ 'Export Text2' | translate }}
    </div>
    <div class="">
      {{ 'Export Text3' | translate }}
    </div>
    <div class="">
      {{ 'Export Text4' | translate }}
    </div>
    <div class="">
      <mat-form-field color="accent" class="full-wid">
        <input matInput [(ngModel)]="exportName" type="text" placeholder="{{ 'ExportName' | translate }}" />
      </mat-form-field>
    </div>
    <button mat-raised-button color="primary" (click)="submit()">
      {{ 'OK' | translate }}
    </button>
  </div>
</swal>
