:host::ng-deep * {
  /*font-size: 2em;*/
}

:host::ng-deep.list-horizontal {
  padding: 0;
  flex-wrap: nowrap !important;
  margin-left: 1.5em !important;
  & > div {
    display: inline-block;
    height: auto;
    width: 10em;
    min-width: 9em;
    margin-right: 10px !important;
  }
  & > div:last-child {
    width: 100%;
    .search-list-item {
      flex-flow: row nowrap !important;
      display: flex;
      place-content: stretch flex-end !important;
      align-items: baseline !important;
      .mat-form-field {
        width: 130px;
        margin-right: 10px;
      }
    }
  }
}

:host::ng-deep.mat-list-item {
  max-width: 11rem !important;
}
:host::ng-deep.float-right {
  float: right;
}

.yellow {
  color: #ffd740;
}
.orange {
  color: #f49f36;
}
.blue {
  color: #36ebf4;
}
.red {
  color: #ff4040;
}
.green {
  color: #adff2f;
}
.purple {
  color: #ff46f9;
}
.black {
  color: #000000;
}

:host::ng-deep.ng-select .ng-select-container {
  background-color: #fff0;
  color: #fff;
  border: none;
  border-radius: 0px !important;
  border-bottom: 1px solid #8c8c8c !important;
  min-height: 36px;
  -webkit-box-align: center;
  align-items: center;
}

:host::ng-deep.ng-select .ng-select-container .ng-value-container .ng-input > input {
  color: white;
  box-sizing: content-box;
  background: none;
  border: 0;
  box-shadow: none;
  outline: 0;
  cursor: default;
  width: 100%;
}
:host::ng-deep.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input {
  padding-left: 0px !important;
}
:host::ng-deep.ng-select .ng-select-container .ng-value-container {
  padding-left: 0px !important;
}
:host::ng-deep.ng-select.ng-select-single .ng-select-container .ng-value-container,
.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-value {
  font-size: 12px !important;
}

.search {
  ::ng-deep .mat-form-field-label {
    font-size: 12px !important;
    font-family: firaSans !important;
  }
  ::ng-deep .mat-form-field-infix {
    border: none !important;
    border-top: 0.6em solid transparent !important;
    border-bottom: 1px solid #969696 !important;
  }
  ::ng-deep .mat-form-field-underline {
    background-color: #8c8c8c;
  }
}
