@import '~assets/scss/theme/admtc.variables';
@import '~assets/scss/theme/admtc';

.h1 {
  color: $black;
}

.plus_button {
  margin-top: 15px;
  margin-right: 5px;
  height: 250%;
  width: 35px;
}

.negativ_button {
  margin-top: 15px;
  margin-left: 5px;
  height: 25%;
  width: 35px;
}

.status-email {
  margin-top: 5px;
}

.green-success {
  color: #45b745;
  font-size: 25px;
  width: 30px;
}

.width-220 {
  width: 220px !important;
}

.width-280 {
  width: 280px !important;
}

.status-text {
  display: inline-block;
  position: relative;
  top: -7px;
}

.hide-field {
  display: none;
}

.mat-icon {
  height: 32px;
  width: 32px;
}

// :host ::ng-deep .cdk-overlay-container {
//   overflow-y: scroll;
// }

.align-sub {
  vertical-align: sub;
}

.black-color {
  color: black;
}

.white-color {
  color: white;
}

.radio-marging-left {
  margin-left: 2em;
}

.entities-content-container {
  overflow: scroll; 
  max-height: 275px;
}

.icon-size {
  width: 35px;
  height: 35px;
}

.dialogTitle {
  top: -4px;
  position: relative;
  margin-bottom: 0px; 
  display: inline-block;
  width: 90% !important;
  vertical-align: middle;
}

.dialogTitleWrapper {
  vertical-align: middle; 
  color: black;
  border-bottom: 2px solid #808080; 
  margin-bottom: 20px;
  mat-icon{
    margin-right: 0.5rem;
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }
}

.margin-icon{
  margin-right: 0.5rem;
}
.accent{
  color:black;
}
.p-col-5{
margin-top:10px;
}
.p-col-7{
  margin-top:10px;
  }

:host ::ng-deep.ng-value-label.ng-star-inserted {
  background: grey;
  color:white;
  white-space: nowrap;
}
:host ::ng-deep.mat-dialog-content {
  overflow: hidden;
}

:host ::ng-deep.ng-value-icon.left.ng-star-inserted{
  background: grey;
  color:white;
  white-space: nowrap;
}

.basic-height {
  height: 255px;
}

:host ::ng-deep.mat-radio-outer-circle {
  border-color: rgba(0,0,0,.54) !important;
}

:host ::ng-deep.mat-form-field-underline {
  background-color: rgba(0,0,0,.12) !important;
}

/* Transparent Overlay */
.logo-spinner-wrapper {
  display: flex;
  align-items: center;
}
.spinner-margin {
  margin:0 auto;
}

.pad-top-18 {
  padding-top: 18px;
}

.mt-4 {
  margin-top: 4px;
}
.spinner-transparent {
  position: absolute;
  z-index: 999;
  height: 405px;
  width: 955px;
}
.icon-close {
  display: inline-block;
  float: right;
  position: relative;
}
.button-swal {
  line-height: 44px;
  height: 38px !important;
  padding-left: 20px;
  padding-right: 20px;
}
.button-action {
  margin-top: 20px;
}

::ng-deep.custom-matselect-dropdown.mat-select-panel{
  max-width: fit-content !important;
}
::ng-deep.filterPanel {
  margin-top: 25px !important;
}

// *************** custom style for dial code indicative
.flag-icon {
  vertical-align: text-top;
  margin-right: 12px;
  height: 14px;
  width: 20px;
  display: inline-block;
}

.flag-icon-trigger {
  vertical-align: text-top;
  margin-right: 2px;
  height: 16px;
  width: 16px;
  display: inline-block;
}

.border-button {
  border-bottom: 1px solid #dadada;
}

.phone-number.p-col-5, .phone-number.p-col-7 {
  padding: 0 !important;
  margin: 0 !important;
}

.phone-number.p-col-5 {
  padding-right: 0px !important;
}

.phone-number.p-col-7 {
  padding-left: 12px !important;
}

:host::ng-deep .phone-number .mat-select-value-text {
  margin-left: 0 !important;
}

.label-for-phone {
	position: absolute;
	font-size: 13px;
	color: black; 
	font-weight: bold;
  bottom: 42px;
}

.ml-4 {
	margin-left: 4px;
}

// ***************** ng-select styling *****************
:host::ng-deep.ng-select .ng-select-container {
  background-color: #fff0;
  color: black;
  border: none;
  border-radius: 0px !important;
  border-bottom: 1px solid rgba(172, 172, 172, 0.4) !important;
  box-shadow: unset;
  min-height: 36px;
  -webkit-box-align: center;
  align-items: center;
}

:host::ng-deep.ng-select.ng-invalid.ng-touched .ng-select-container {
  border-bottom: 1px solid #f44336 !important;
}

:host::ng-deep.ng-select.ng-invalid.ng-touched .ng-placeholder {
  color: #f44336 !important;
}

:host::ng-deep.ng-select {
  margin-bottom: 16px;
  padding-top: 3px;
}

:host::ng-deep.ng-select .ng-select-container .ng-value-container .ng-input > input {
  color: black;
  box-sizing: content-box;
  background: none;
  border: 0;
  box-shadow: none;
  outline: 0;
  cursor: default;
  padding-left: 0px !important;
  width: 100%;
}

:host::ng-deep.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input {
  padding-left: 0px !important;
  margin-top: 6px !important;
}

:host::ng-deep.ng-select .ng-select-container .ng-value-container {
  padding-left: 0px !important;
  margin-top: 8px !important;
}

:host::ng-deep.ng-select.ng-select-single .ng-select-container .ng-value-container,
.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-value {
  font-size: 14px !important;
}

:host::ng-deep.ng-select .ng-dropdown-panel {
  text-align: left !important;
  font-size: 15px !important;
}

:host::ng-deep.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-placeholder {
  font-size: 16px;
}

::ng-deep.ng-dropdown-panel.custom-dropdownpanel-dialcode {
  width: fit-content !important;
}