<div class="dialog-border" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
  <div class="dialogTitleWrapper">
    <div class="p-grid">
      <div class="w-30 no-padding">
        <mat-icon style="vertical-align: middle" data-cy="icon-add-payment-dialog">edit</mat-icon>
      </div>
      <div class="p-col-10 acad-title" data-cy="label-add-payment-dialog">
        <h3 class="dialogTitle">
          {{ 'Input a payment' | translate }} - {{ data?.candidate_id?.last_name | uppercase }} {{ data?.candidate_id?.first_name }}
          {{ data?.candidate_id?.civility && data?.candidate_id?.civility === 'neutral' ? '' : (data?.candidate_id?.civility | translate) }}
        </h3>
      </div>
      <div class="w-65 no-padding">
        <button mat-icon-button class="close-icon float-right" mat-dialog-close tabindex="-1" data-cy="button-close-add-payment-dialog">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
<form [formGroup]="identityForm">
  <div class="fontColor">
    <mat-dialog-content>
      <div class="p-grid">
        <div class="p-col-12 no-padding">
          <div class="p-grid">
            <div class="p-col-fixed center-label no-padding-left label-align" style="width: 140px">
              <label>{{ 'Date' | translate }}</label>
            </div>
            <div class="p-col-fixed no-padding" style="width: 100px">
              <mat-form-field floatLabel="never">
                <input
                  matInput
                  (click)="myDatepicker.open()"
                  readonly
                  placeholder="{{ 'Date' | translate }}"
                  formControlName="date"
                  [matDatepicker]="myDatepicker"
                  data-cy="input-date"
                />
                <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
                <mat-datepicker #myDatepicker></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>

      <div class="p-grid">
        <div class="p-col-12 no-padding">
          <div class="p-grid">
            <div class="p-col-fixed center-label no-padding-left label-align" style="width: 140px">
              <label>{{ 'Who' | translate }}*</label>
            </div>
            <div class="p-col-fixed no-padding" style="width: 40%; margin-right: 10px">
              <mat-form-field floatLabel="never">
                <mat-select data-cy="input-select-who" formControlName="who" panelClass="custom-matselect-dropdown" disableOptionCentering>
                  <mat-option data-cy="input-select-option-who" [value]="record.value" *ngFor="let record of dataFinanceList"
                    >{{ record.civility === 'neutral' ? '' : (record.civility | translate) }} {{ record.first_name }}
                    {{ record.last_name | uppercase }}
                  </mat-option>
                </mat-select>
                <mat-error
                  *ngIf="identityForm.get('who').hasError('required') && (identityForm.get('who').dirty || identityForm.get('who').touched)"
                >
                  {{ 'This field is required' | translate }}
                </mat-error>
              </mat-form-field>
            </div>
            <div class="p-col-fixed no-padding" style="width: 18%; margin-right: 10px">
              <mat-form-field floatLabel="never">
                <input
                  data-cy="input-amount"
                  matInput
                  formControlName="amount"
                  (wheel)="onWheel($event)"
                  (keypress)="decimalFilter($event)"
                  (keyup)="dissallowZero($event)"
                  type="number"
                  placeholder="{{ 'Amount' | translate }}"
                />
                <mat-error *ngIf="form?.amount?.errors?.fullyPaidDP && !form?.amount?.errors?.pattern && !form?.amount?.errors?.required">{{
                  'Down Payment must paid fully' | translate
                }}</mat-error>
                <mat-error *ngIf="form?.amount?.errors?.pattern">{{ 'Max 2 decimal' | translate }}</mat-error>
                <mat-error
                  *ngIf="
                    identityForm.get('amount').hasError('required') &&
                    (identityForm.get('amount').dirty || identityForm.get('amount').touched)
                  "
                >
                  {{ 'This field is required' | translate }}
                </mat-error>
              </mat-form-field>
            </div>

            <div class="p-col-fixed no-padding" style="width: 11.7%; padding-top: 16px !important; font-size: 13px">EUR</div>
          </div>
        </div>
      </div>

      <div class="p-grid" style="padding-top: 18px">
        <div class="p-col-12 no-padding">
          <div class="p-grid">
            <div class="p-col-fixed center-label no-padding-left label-align" style="width: 140px">
              <label>{{ 'Transaction' | translate }}</label>
            </div>
            <div class="p-col no-padding">
              <div *ngIf="isLoadingTerms">
                <mat-progress-spinner mode="indeterminate" color="accent"></mat-progress-spinner>
              </div>

              <ng-container *ngIf="!isLoadingTerms">
                <ng-container *ngFor="let data of termsList; let in = index">
                  <ng-container *ngIf="data?.payment_type === 'DP' && data?.amount > 0 && data?.remaining_amount > 0">
                    <div class="card-terms" data-cy="label-down-payment">
                      <div class="header-list">
                        <div class="header-texts">{{ 'Down Payment' | translate }}</div>
                        <div class="header-text" [ngStyle]="{ 'min-height': translate.currentLang === 'fr' ? '29px' : '' }"></div>
                      </div>
                      <div [ngClass]="getColorTermsDP(data)">
                        {{
                          (data?.status !== 'paid'
                            ? data?.remaining_amount === data?.amount
                              ? data?.remaining_amount
                              : data?.remaining_amount - data?.pay_amount
                            : data?.real_amount
                          ) | currency : 'EURO' : '' : '0.2'
                        }}
                        €
                      </div>
                    </div>
                  </ng-container>

                  <ng-container *ngIf="data?.payment_type === 'term'">
                    <div class="card-terms" data-cy="label-terms">
                      <div class="header-list">
                        <div class="header-texts">{{ 'Term' | translate }} {{ data?.term_index + 1 }}</div>
                        <div class="header-text">
                          {{
                            data?.term_payment_deferment?.date
                              ? translateDates(data?.term_payment_deferment?.date)
                              : translateDates(data?.term_payment?.date)
                          }}
                        </div>
                      </div>
                      <div [ngClass]="getColorTerms(data)">
                        {{
                          (data?.status !== 'paid' && data?.status !== 'partially_paid' && data?.term_amount - data?.term_pay_amount !== 0
                            ? data?.term_amount - data?.term_pay_amount
                            : data?.term_amount_chargeback && data?.status === 'paid'
                            ? data?.term_amount - data?.term_amount_chargeback
                            : data?.term_amount
                          ) | currency : 'EURO' : '' : '0.2'
                        }}
                        €
                      </div>
                    </div>
                  </ng-container>
                </ng-container>
              </ng-container>
            </div>
          </div>
        </div>
      </div>

      <div class="p-grid">
        <div class="p-col-12 no-padding">
          <div class="p-grid">
            <div class="p-col-fixed center-label no-padding-left label-align" style="width: 140px">
              <label>{{ 'Payment method' | translate }}*</label>
            </div>
            <div class="p-col no-padding">
              <div class="p-grid web-card" style="padding-top: 7px">
                <mat-checkbox
                  data-cy="input-checkbox-check"
                  (change)="checkPayment('cheque')"
                  formControlName="cheque"
                  style="min-width: 100px"
                  >{{ 'Check' | translate }}</mat-checkbox
                >
                <mat-checkbox
                  data-cy="input-checkbox-transfer"
                  (change)="checkPayment('transfer')"
                  formControlName="transfer"
                  style="min-width: 100px"
                  >{{ 'Transfer' | translate }}</mat-checkbox
                >
                <mat-checkbox
                  data-cy="input-checkbox-credit-card"
                  (change)="checkPayment('credit')"
                  formControlName="credit"
                  style="min-width: 100px"
                  >{{ 'Credit card' | translate }}</mat-checkbox
                >
                <mat-checkbox
                  data-cy="input-checkbox-cash"
                  (change)="checkPayment('cash')"
                  formControlName="cash"
                  style="min-width: 100px; padding-left: 18px"
                  >{{ 'Cash' | translate }}</mat-checkbox
                >
                <mat-checkbox
                  data-cy="input-checkbox-sepa"
                  (change)="checkPayment('sepa')"
                  formControlName="sepa"
                  style="min-width: 100px; padding-left: 10px"
                  >{{ 'PAYMENT_METHODS.sepa' | translate }}</mat-checkbox
                >
                <p
                  *ngIf="
                    identityForm.get('payment_method').hasError('required') &&
                    (identityForm.get('payment_method').dirty || identityForm.get('payment_method').touched)
                  "
                  class="error-text"
                >
                  {{ 'This field is required' | translate }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="p-grid" *ngIf="identityForm.get('cheque').value">
        <div class="p-col-12 no-padding">
          <div class="p-grid">
            <div class="p-col-fixed center-label no-padding-left label-align" style="width: 140px">
              <label>{{ 'Chq Nber' | translate }}</label>
            </div>
            <div class="p-col no-padding">
              <mat-form-field floatLabel="never">
                <input data-cy="input-check-number" matInput formControlName="cheque_number" placeholder="{{ 'Chq Nber' | translate }}" />
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>

      <div class="p-grid" *ngIf="identityForm.get('cheque').value">
        <div class="p-col-12 no-padding">
          <div class="p-grid">
            <div class="p-col-fixed center-label no-padding-left label-align" style="width: 140px">
              <label>{{ 'Bank' | translate }}</label>
            </div>
            <div class="p-col no-padding">
              <div class="p-grid baseline">
                <ng-select
                  style="width: 100%"
                  class="mrgn-btn custom-ngselect-content"
                  [items]="bank"
                  [multiple]="false"
                  placeholder="{{ 'Bank' | translate }}"
                  formControlName="bank"
                  data-cy="input-bank"
                >
                </ng-select>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="p-grid" *ngIf="identityForm.get('cheque').value">
        <div class="p-col-12 no-padding">
          <div class="p-grid">
            <div class="p-col-fixed center-label no-padding-left label-align" style="width: 140px">
              <label>{{ 'Ref payor' | translate }}</label>
            </div>
            <div class="p-col no-padding">
              <mat-form-field floatLabel="never">
                <input data-cy="input-ref-payer" matInput formControlName="ref_payer" placeholder="{{ 'Ref payor' | translate }}" />
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>

      <div class="p-grid">
        <div class="p-col-12 no-padding">
          <div class="p-grid">
            <div class="p-col-fixed center-label no-padding-left label-align" style="width: 140px">
              <label>{{ 'Référence' | translate }}*</label>
            </div>
            <div class="p-col no-padding">
              <mat-form-field floatLabel="never">
                <textarea
                  matInput
                  msPreventInputTagCharacters
                  data-cy="input-reference"
                  placeholder="{{ 'Référence' | translate }}"
                  formControlName="reference"
                ></textarea>
                <mat-error
                  *ngIf="
                    identityForm?.get('reference')?.hasError('required') &&
                    (identityForm?.get('reference')?.dirty || identityForm?.get('reference')?.touched)
                  "
                >
                  {{ 'This field is required' | translate }}
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>

      <div class="p-grid">
        <div class="p-col-12 no-padding">
          <div class="p-grid">
            <div class="p-col-fixed center-label no-padding-left label-align" style="width: 140px">
              <label>{{ 'Note' | translate }}</label>
            </div>
            <div class="p-col no-padding">
              <mat-form-field floatLabel="never">
                <textarea data-cy="input-note" matInput msPreventInputTagCharacters placeholder="{{ 'Note' | translate }}" formControlName="note"></textarea>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="isWaitingForResponse" class="inner-loading-indicator" data-cy="spinner-add-payment-dialog">
        <mat-spinner color="accent" [diameter]="100"></mat-spinner>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions align="right">
      <button mat-raised-button type="button" color="warn" mat-dialog-close data-cy="button-cancel-add-payment-dialog">
        {{ 'CANCEL' | translate }}
      </button>
      <button mat-raised-button color="primary" (click)="submitVerification()" data-cy="button-validate-add-payment-dialog">
        {{ 'Validate' | translate }}
      </button>
    </mat-dialog-actions>
  </div>
</form>
