<form [formGroup]="interventionForm">
  <div class="p-grid header-form">
    <div class="p-col-12" align="end">
      <button (click)="leave()" mat-raised-button type="button" color="warn">
        {{ 'CANCEL' | translate }}
      </button>
      <button (click)="validateTeacherManual()" mat-raised-button color="accent" class="mr-0">
        {{ 'Validate' | translate }}
      </button>
    </div>
  </div>
  <div class="p-grid">
    <div class="p-col-4">
      <label class="float-label label-legal"
        [style.display]="interventionForm?.get('scholar_season_id')?.value ? 'block' : 'none'">
        {{ 'Select Scholar Season' | translate }} *
      </label>
      <ng-select
        aria-required="true"
        class="mrgn-btn custom-style-ngselect"        
        bindLabel="scholar_season"
        bindValue="_id"
        [hideSelected]="true"
        [appendTo]="'body'"
        [clearable]="false"
        notFoundText="{{ 'NOT RECORD FOUND' | translate }}"
        formControlName="scholar_season_id"
        placeholder="{{ 'Select Scholar Season' | translate }} *"
        (change)="scholarSelect()"
      >
        <ng-option [value]="'None'">
          {{ 'None' | translate }}
        </ng-option>
        <ng-option *ngFor="let scholar of scholars" [value]="scholar?._id"> {{ scholar?.scholar_season | translate }} </ng-option>
      </ng-select>
      <mat-error
        class="err"
        *ngIf="
          interventionForm.get('scholar_season_id')?.hasError('required') &&
          interventionForm.get('scholar_season_id')?.invalid &&
          interventionForm.get('scholar_season_id')?.touched
        "
        >{{ 'This field is required' | translate }}</mat-error
      >
    </div>
    <div class="p-col-4">
      <label class="float-label label-legal"
        [style.display]="interventionForm?.get('school_id')?.value ? 'block' : 'none'">
        {{ 'Select school' | translate }} *
      </label>
      <ng-select
        aria-required="true"
        class="mrgn-btn custom-style-ngselect"
        bindLabel="short_name"
        bindValue="_id"
        [clearable]="false"
        [hideSelected]="true"
        [appendTo]="'body'"
        notFoundText="{{ 'NOT RECORD FOUND' | translate }}"
        formControlName="school_id"
        placeholder="{{ 'Select school' | translate }} *"
        (change)="selectSchoolFilter()"
        [readonly]="!interventionForm.get('scholar_season_id')?.value || interventionForm.get('scholar_season_id')?.value === 'None'"
      >
        <ng-option [value]="'None'">
          {{ 'None' | translate }}
        </ng-option>
        <ng-option *ngFor="let schoolData of school" [value]="schoolData?._id"> {{ schoolData?.short_name | translate }} </ng-option>
      </ng-select>
      <mat-error
        class="err"
        *ngIf="
          interventionForm.get('school_id')?.hasError('required') &&
          interventionForm.get('school_id')?.invalid &&
          interventionForm.get('school_id')?.touched
        "
        >{{ 'This field is required' | translate }}</mat-error
      >
    </div>
    <div class="p-col-4">
      <label class="float-label label-legal"
        [style.display]="interventionForm?.get('campus_id')?.value ? 'block' : 'none'">
        {{ 'Select campus' | translate }} *
      </label>
      <ng-select
        aria-required="true"
        class="mrgn-btn custom-style-ngselect"
        bindLabel="name"
        bindValue="name"
        [hideSelected]="true"
        clearAllText="Clear"
        notFoundText="{{ 'NOT RECORD FOUND' | translate }}"
        [clearable]="false"
        [appendTo]="'body'"
        formControlName="campus_id"
        placeholder="{{ 'Select campus' | translate }} *"
        (change)="selectCampusFilter()"
        [readonly]="!interventionForm.get('school_id')?.value"
      >
        <ng-option [value]="'None'">
          {{ 'None' | translate }}
        </ng-option>
        <ng-option *ngFor="let campus of campusList" [value]="campus?.name"> {{ campus?.name | translate }} </ng-option>
      </ng-select>
      <mat-error
        class="err"
        *ngIf="
          interventionForm.get('campus_id')?.hasError('required') &&
          interventionForm.get('campus_id')?.invalid &&
          interventionForm.get('campus_id')?.touched
        "
        >{{ 'This field is required' | translate }}</mat-error
      >
    </div>
  </div>

  <div class="p-grid">
    <div class="p-col-4">
      <label class="float-label label-legal"
        [style.display]="interventionForm?.get('level_id')?.value ? 'block' : 'none'">
        {{ 'Select level' | translate }} *
      </label>
      <ng-select
        aria-required="true"
        class="mrgn-btn custom-style-ngselect"
        bindLabel="name"
        bindValue="name"
        [hideSelected]="true"
        clearAllText="Clear"
        [clearable]="false"
        notFoundText="{{ 'NOT RECORD FOUND' | translate }}"
        [appendTo]="'body'"
        formControlName="level_id"
        placeholder="{{ 'Select level' | translate }} *"
        (change)="selectLevelFilter()"
        [readonly]="!interventionForm.get('campus_id')?.value"
      >
        <ng-option [value]="'None'">
          {{ 'None' | translate }}
        </ng-option>
        <ng-option *ngFor="let level of levels" [value]="level?.name"> {{ level?.name | translate }} </ng-option>
      </ng-select>
      <mat-error
        class="err"
        *ngIf="
          interventionForm.get('level_id')?.hasError('required') &&
          interventionForm.get('level_id')?.invalid &&
          interventionForm.get('level_id')?.touched
        "
        >{{ 'This field is required' | translate }}</mat-error
      >
    </div>
    <div class="p-col-4">
      <label class="float-label label-legal"
        [style.display]="interventionForm?.get('sector_id')?.value ? 'block' : 'none'">
        {{ 'Select Sector' | translate }} *
      </label>
      <ng-select
        aria-required="true"
        class="mrgn-btn custom-style-ngselect"
        bindLabel="name"
        bindValue="_id"
        [hideSelected]="true"
        clearAllText="Clear"
        notFoundText="{{ 'NOT RECORD FOUND' | translate }}"
        [clearable]="false"
        [appendTo]="'body'"
        formControlName="sector_id"
        placeholder="{{ 'Select Sector' | translate }} *"
        (change)="selectSectorFilter()"
        [readonly]="!interventionForm.get('level_id')?.value"
      >
        <ng-option [value]="'None'">
          {{ 'None' | translate }}
        </ng-option>
        <ng-option *ngFor="let sector of sectorList" [value]="sector?._id"> {{ sector?.name | translate }} </ng-option>
      </ng-select>
      <mat-error
        class="err"
        *ngIf="
          interventionForm.get('sector_id')?.hasError('required') &&
          interventionForm.get('sector_id')?.invalid &&
          interventionForm.get('sector_id')?.touched
        "
        >{{ 'This field is required' | translate }}</mat-error
      >
    </div>

    <div class="p-col-4">
      <label class="float-label label-legal"
        [style.display]="interventionForm?.get('speciality_id')?.value ? 'block' : 'none'">
        {{ 'Select Speciality' | translate }} *
      </label>
      <ng-select
        aria-required="true"
        class="mrgn-btn custom-style-ngselect"
        bindLabel="name"
        bindValue="_id"
        [hideSelected]="true"
        clearAllText="Clear"
        [clearable]="false"
        [appendTo]="'body'"
        notFoundText="{{ 'NOT RECORD FOUND' | translate }}"
        formControlName="speciality_id"
        placeholder="{{ 'Select Speciality' | translate }} *"
        (change)="selectSpecialityFilter()"
        [readonly]="!interventionForm.get('sector_id')?.value"
      >
        <ng-option *ngIf="isDisplayNone" [value]="'None'">
          {{ 'None' | translate }}
        </ng-option>
        <ng-option *ngFor="let specilaity of specialityList" [value]="specilaity?._id"> {{ specilaity?.name | translate }} </ng-option>
      </ng-select>
      <mat-error
        class="err"
        *ngIf="
          interventionForm.get('speciality_id')?.hasError('required') &&
          interventionForm.get('speciality_id')?.invalid &&
          interventionForm.get('speciality_id')?.touched
        "
        >{{ 'This field is required' | translate }}</mat-error
      >
    </div>
  </div>

  <div class="p-grid">
    <div class="p-col-4">
      <mat-form-field>
        <input matInput class="read" formControlName="legal_entity_id" placeholder="{{ 'Legal entity' | translate }}" [readonly]="true" />
        <mat-error
          *ngIf="
            interventionForm.get('legal_entity_id')?.hasError('required') &&
            interventionForm.get('legal_entity_id')?.invalid &&
            interventionForm.get('legal_entity_id')?.touched
          "
          >{{ 'This field is required' | translate }}</mat-error
        >
      </mat-form-field>
    </div>
    <div class="p-col-4">
      <label class="float-label label-legal"
        [style.display]="interventionForm?.get('teacher_id').value ? 'block' : 'none'">
        {{ 'Select an existing teacher' | translate }} *
      </label>
      <ng-select
        aria-required="true"
        class="mrgn-btn custom-style-ngselect"
        bindLabel="name"
        bindValue="_id"
        [hideSelected]="true"
        clearAllText="Clear"
        [clearable]="false"
        notFoundText="{{ 'NOT RECORD FOUND' | translate }}"
        [appendTo]="'body'"
        formControlName="teacher_id"
        placeholder="{{ 'Select an existing teacher' | translate }} *"
        (change)="selectTeacherExisting()"
        [readonly]="!interventionForm.get('speciality_id')?.value"
      >
        <ng-option [value]="'None'">
          {{ 'None' | translate }}
        </ng-option>
        <ng-option *ngFor="let teacher of teacherList" [value]="teacher?._id"> {{ teacher?.name | translate }} </ng-option>
      </ng-select>
      <mat-error
        class="err"
        *ngIf="
          interventionForm.get('teacher_id')?.hasError('required') &&
          interventionForm.get('teacher_id')?.invalid &&
          interventionForm.get('teacher_id')?.touched
        "
        >{{ 'This field is required' | translate }}</mat-error
      >
    </div>
  </div>

  <div class="p-grid" *ngIf="!isEdit">
    <div class="p-col-12 center">
      <button
        matTooltip="{{ 'Add new intervention' | translate }}"
        type="button"
        mat-raised-button
        color="accent"
        class="btn-width"
        (click)="addIntervention()"
      >
        <mat-icon class="mat-icon-svgIcon" svgIcon="plus">plus</mat-icon>
        {{ 'intervention' | translate }}
      </button>
    </div>
  </div>

  <div class="p-col-12 border no-padding"></div>
  <div class="p-grid" formArrayName="interventions">
    <div class="p-col-12 no-padding" *ngFor="let intervention of interventionsArray().controls; let index = index">
      <div [formGroupName]="index">
        <div class="p-col-6 yellow-border card-row">
          <div class="p-grid">
            <div class="p-col-12" align="end" class="btn-remove">
              <button
                matTooltip="{{ 'Remove' | translate }}"
                class="small-btn"
                *ngIf="interventionsArray().controls.length > 1"
                mat-mini-fab
                type="button"
                color="warn"
                (click)="removeIntervention(index)"
              >
                <mat-icon>remove</mat-icon>
              </button>
            </div>
          </div>

          <div class="p-grid">
            <div class="p-col-6">
              <label class="float-label label-legal"
                [style.display]="interventionsArray()?.controls[index]?.get('type_of_intervention_id')?.value ? 'block' : 'none'">
                {{ 'Select type of intervention' | translate }} *
              </label>
              <ng-select
                aria-required="true"
                class="mrgn-btn custom-style-ngselect custom"
                [hideSelected]="true"
                clearAllText="Clear"
                [clearable]="false"
                [appendTo]="'body'"
                notFoundText="{{ 'NOT RECORD FOUND' | translate }}"
                formControlName="type_of_intervention_id"
                placeholder="{{ 'Select type of intervention' | translate }} *"
                (change)="selectTypeIntervention($event, index)"
                [readonly]="!interventionForm.get('teacher_id')?.value"
              >
                <ng-option [value]="'None'">
                  {{ 'None' | translate }}
                </ng-option>
                <ng-option *ngFor="let typeIntervention of originalTypeInterventionList" [value]="typeIntervention?._id">
                  {{ 'ERP_009_TEACHER_CONTRACT.INTERVETION_TYPE.' + typeIntervention?.type_of_intervention | translate }}
                </ng-option>
              </ng-select>
              <mat-error
                class="err"
                *ngIf="
                  interventionsArray()?.controls[index]?.get('type_of_intervention_id')?.hasError('required') &&
                  interventionsArray()?.controls[index]?.get('type_of_intervention_id')?.invalid &&
                  interventionsArray()?.controls[index]?.get('type_of_intervention_id')?.touched
                "
                >{{ 'This field is required' | translate }}</mat-error
              >
            </div>
            <div class="p-col-6">
              <mat-form-field>
                <input
                  matInput
                  class="read"
                  formControlName="type_of_contract"
                  placeholder="{{ 'Type of contract' | translate }}"
                  readonly
                  [value]="displayTranslate(index)"
                />
                <mat-error
                  *ngIf="
                    interventionsArray()?.controls[index]?.get('type_of_contract')?.hasError('required') &&
                    interventionsArray()?.controls[index]?.get('type_of_contract')?.invalid &&
                    interventionsArray()?.controls[index]?.get('type_of_contract')?.touched
                  "
                  >{{ 'This field is required' | translate }}</mat-error
                >
              </mat-form-field>
            </div>
          </div>

          <div class="p-grid">
            <div class="p-col-6">
              <label class="float-label label-legal"
                [style.display]="interventionsArray()?.controls[index]?.get('sequence_id')?.value ? 'block' : 'none'">
                {{ 'Select Sequence' | translate }} *
              </label>
              <ng-select
                aria-required="true"
                class="mrgn-btn custom-style-ngselect"                
                bindLabel="name"
                bindValue="_id"
                [hideSelected]="true"
                clearAllText="Clear"
                [clearable]="false"
                [appendTo]="'body'"
                formControlName="sequence_id"
                placeholder="{{ 'Select Sequence' | translate }} *"
                (change)="selectSequence($event, index)"
              >
              <ng-option [value]="'None'">
                {{ 'None' | translate }}
              </ng-option>
              <ng-option *ngFor="let sequence of sequenceList" [value]="sequence?._id"> {{ sequence?.name | translate }} </ng-option>
              </ng-select>
              <mat-error
                class="err"
                *ngIf="
                  interventionsArray()?.controls[index]?.get('sequence_id')?.hasError('required') &&
                  interventionsArray()?.controls[index]?.get('sequence_id')?.invalid &&
                  interventionsArray()?.controls[index]?.get('sequence_id')?.touched
                "
                >{{ 'This field is required' | translate }}</mat-error
              >
            </div>
            <div class="p-col-6">
              <label class="float-label label-legal"
                [style.display]="interventionsArray()?.controls[index]?.get('subject_id')?.value ? 'block' : 'none'">
                {{ 'Select subject' | translate }} *
              </label>
              <ng-select
                aria-required="true"
                class="mrgn-btn custom-style-ngselect"                
                bindLabel="name"
                bindValue="_id"
                [hideSelected]="true"
                [clearable]="false"
                clearAllText="Clear"
                [appendTo]="'body'"
                formControlName="subject_id"
                placeholder="{{ 'Select subject' | translate }} *"
                (change)="selectSubject($event, index)"
              >
              <ng-option [value]="'None'">
                {{ 'None' | translate }}
              </ng-option>
              <ng-option *ngFor="let subject of subjectList" [value]="subject?._id"> {{ subject?.name | translate }} </ng-option>
              </ng-select>
              <mat-error
                class="err"
                *ngIf="
                  interventionsArray()?.controls[index]?.get('subject_id')?.hasError('required') &&
                  interventionsArray()?.controls[index]?.get('subject_id')?.invalid &&
                  interventionsArray()?.controls[index]?.get('subject_id')?.touched
                "
                >{{ 'This field is required' | translate }}</mat-error
              >
            </div>
          </div>

          <div class="p-grid mt-10">
            <div class="p-col-6">
              <mat-form-field>
                <input matInput class="read" formControlName="hourly_rate" placeholder="{{ 'Hourly rate' | translate }}" readonly />
                <mat-error
                  *ngIf="
                    interventionsArray()?.controls[index]?.get('hourly_rate')?.hasError('required') &&
                    interventionsArray()?.controls[index]?.get('hourly_rate')?.invalid &&
                    interventionsArray()?.controls[index]?.get('hourly_rate')?.touched
                  "
                  >{{ 'This field is required' | translate }}</mat-error
                >
              </mat-form-field>
            </div>
            <div class="p-col-6">
              <mat-form-field>
                <input
                  matInput
                  type="number"
                  (keypress)="decimalFilter($event)"
                  formControlName="volume_hours"
                  placeholder="{{ 'Volume of hours' | translate }}"
                />
                <mat-error
                  *ngIf="
                    interventionsArray()?.controls[index]?.get('volume_hours')?.hasError('required') &&
                    interventionsArray()?.controls[index]?.get('volume_hours')?.invalid &&
                    interventionsArray()?.controls[index]?.get('volume_hours')?.touched
                  "
                  >{{ 'This field is required' | translate }}</mat-error
                >
              </mat-form-field>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
  <br />
  <br />
</form>

<div *ngIf="isWaitingForResponse" class="loading-indicator">
  <mat-progress-spinner mode="indeterminate" color="accent"></mat-progress-spinner>
</div>
