<div class="top-space">
    <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)" class="mat-elevation-z8">
      <ng-container matColumnDef="reset">
        <th mat-header-cell *matHeaderCellDef colspan="100%" class="action-header-column text-right">
          <div class="p-grid">
            <div class="p-col-12 text-right">
              <button
                mat-raised-button
                color="primary"
                [disabled]="isWaitingForResponse"
                matTooltip="{{ 'RESET' | translate }}"
                (click)="resetSelection()"
              >
                <mat-icon svgIcon="loop" class="mat-icon-svgIcon"></mat-icon>
                {{ 'RESET' | translate }}
              </button>
            </div>
          </div>
        </th>
      </ng-container>
  
      <!-- filter section -->
      <ng-container matColumnDef="programFilter">
        <th mat-header-cell *matHeaderCellDef>
            <ng-select
                [items]="programList"
                class="custom-dropdownpanel"
                bindValue="_id"
                bindLabel="program"
                [appendTo]="'body'"
                [multiple]="true"
                notFoundText="{{ 'NOT RECORD FOUND' | translate }}"
                placeholder="{{ 'search' | translate }}"
                [clearable]="false"
                [closeOnSelect]="false"
                [formControl]="programFilter"
                (close)="setProgramFilter()"
            >
                <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                    <input id="item-{{ index }}" type="checkbox" [ngModel]="item$.selected" /> {{ item?.program }}
                </ng-template>
                <ng-template ng-header-tmp *ngIf="programList?.length">
                    <mat-checkbox
                        class="all-input"
                        style="cursor: pointer"
                        [checked]="isAllDropdownSelected('program')"
                        [indeterminate]="isSomeDropdownSelected('program')"
                        (change)="selectAllData($event, 'program')"
                    >
                        {{ 'All' | translate }}
                    </mat-checkbox>
                </ng-template>
          </ng-select>
        </th>
      </ng-container>
  
      <ng-container matColumnDef="legalEntityFilter">
        <th mat-header-cell *matHeaderCellDef>
            <ng-select
                [items]="legalEntityList"
                class="custom-dropdownpanel"
                bindValue="_id"
                bindLabel="legal_entity_name"
                [appendTo]="'body'"
                [multiple]="true"
                notFoundText="{{ 'NOT RECORD FOUND' | translate }}"
                placeholder="{{ 'search' | translate }}"
                [clearable]="false"
                [closeOnSelect]="false"
                [formControl]="legalEntityFilter"
                (close)="setLegalEntityFilter()"
            >
                <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                    <input id="item-{{ index }}" type="checkbox" [ngModel]="item$.selected" /> {{ item?.legal_entity_name }}
                </ng-template>
                <ng-template ng-header-tmp *ngIf="legalEntityList?.length">
                    <mat-checkbox
                        class="all-input"
                        style="cursor: pointer"
                        [checked]="isAllDropdownSelected('legalEntity')"
                        [indeterminate]="isSomeDropdownSelected('legalEntity')"
                        (change)="selectAllData($event, 'legalEntity')"
                    >
                        {{ 'All' | translate }}
                    </mat-checkbox>
                </ng-template>
            </ng-select>
        </th>
      </ng-container>

      <ng-container matColumnDef="sequenceFilter">
        <th mat-header-cell *matHeaderCellDef>
            <ng-select
                [items]="sequenceList"
                class="custom-dropdownpanel"
                bindValue="name"
                bindLabel="name"
                [appendTo]="'body'"
                [multiple]="true"
                notFoundText="{{ 'NOT RECORD FOUND' | translate }}"
                placeholder="{{ 'search' | translate }}"
                [clearable]="false"
                [closeOnSelect]="false"
                [formControl]="sequenceFilter"
                (close)="setSequenceFilter()"
            >
                <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                    <input id="item-{{ index }}" type="checkbox" [ngModel]="item$.selected" /> {{ item?.name }}
                </ng-template>
                <ng-template ng-header-tmp *ngIf="sequenceList?.length">
                    <mat-checkbox
                        class="all-input"
                        style="cursor: pointer"
                        [checked]="isAllDropdownSelected('sequence')"
                        [indeterminate]="isSomeDropdownSelected('sequence')"
                        (change)="selectAllData($event, 'sequence')"
                    >
                        {{ 'All' | translate }}
                    </mat-checkbox>
                </ng-template>
            </ng-select>
        </th>
      </ng-container>
  
      <ng-container matColumnDef="subjectFilter">
        <th mat-header-cell *matHeaderCellDef>
            <ng-select
                [items]="subjectList"
                class="custom-dropdownpanel"
                bindValue="name"
                bindLabel="name"
                [appendTo]="'body'"
                [multiple]="true"
                notFoundText="{{ 'NOT RECORD FOUND' | translate }}"
                placeholder="{{ 'search' | translate }}"
                [clearable]="false"
                [closeOnSelect]="false"
                [formControl]="subjectFilter"
                (close)="setSubjectFilter()"
            >
                <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                    <input id="item-{{ index }}" type="checkbox" [ngModel]="item$.selected" /> {{ item?.name }}
                </ng-template>
                <ng-template ng-header-tmp *ngIf="subjectList?.length">
                    <mat-checkbox
                        class="all-input"
                        style="cursor: pointer"
                        [checked]="isAllDropdownSelected('subject')"
                        [indeterminate]="isSomeDropdownSelected('subject')"
                        (change)="selectAllData($event, 'subject')"
                    >
                        {{ 'All' | translate }}
                    </mat-checkbox>
                </ng-template>
            </ng-select>
        </th>
      </ng-container>
      
  
      <ng-container matColumnDef="volumeOfHoursFilter">
        <th mat-header-cell *matHeaderCellDef></th>
      </ng-container>

      <ng-container matColumnDef="typeOfContractFilter">
        <th mat-header-cell *matHeaderCellDef>
            <ng-select
                [items]="typeOfContractList"
                class="custom-dropdownpanel"
                bindValue="value"
                bindLabel="label"
                [appendTo]="'body'"
                [multiple]="true"
                notFoundText="{{ 'NOT RECORD FOUND' | translate }}"
                placeholder="{{ 'search' | translate }}"
                [clearable]="false"
                [closeOnSelect]="false"
                [formControl]="typeOfContractFilter"
                (close)="setContractFilter()"
            >
                <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                    <input id="item-{{ index }}" type="checkbox" [ngModel]="item$.selected" /> {{ item?.label }}
                </ng-template>
                <ng-template ng-header-tmp *ngIf="typeOfContractList?.length">
                    <mat-checkbox
                        class="all-input"
                        style="cursor: pointer"
                        [checked]="isAllDropdownSelected('contract')"
                        [indeterminate]="isSomeDropdownSelected('contract')"
                        (change)="selectAllData($event, 'contract')"
                    >
                        {{ 'All' | translate }}
                    </mat-checkbox>
                </ng-template>
            </ng-select>
        </th>
      </ng-container>

      <ng-container matColumnDef="hourlyRateFilter">
        <th mat-header-cell *matHeaderCellDef></th>
      </ng-container>

      <ng-container matColumnDef="typeOfInterventionFilter">
        <th mat-header-cell *matHeaderCellDef>
            <ng-select
                [items]="typeOfInterventionList"
                class="custom-dropdownpanel custom-panel"
                bindValue="value"
                bindLabel="label"
                [appendTo]="'body'"
                [multiple]="true"
                notFoundText="{{ 'NOT RECORD FOUND' | translate }}"
                placeholder="{{ 'search' | translate }}"
                [clearable]="false"
                [closeOnSelect]="false"
                [formControl]="typeOfInterventionFilter"
                (close)="setInterventionFilter()"
            >
                <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                    <input id="item-{{ index }}" type="checkbox" [ngModel]="item$.selected" /> {{ item?.label }}
                </ng-template>
                <ng-template ng-header-tmp *ngIf="typeOfInterventionList?.length">
                    <mat-checkbox
                        class="all-input"
                        style="cursor: pointer"
                        [checked]="isAllDropdownSelected('intervention')"
                        [indeterminate]="isSomeDropdownSelected('intervention')"
                        (change)="selectAllData($event, 'intervention')"
                    >
                        {{ 'All' | translate }}
                    </mat-checkbox>
                </ng-template>
            </ng-select>
        </th>
      </ng-container>
      
      <ng-container matColumnDef="program">
        <th mat-header-cell *matHeaderCellDef matTooltip="{{ 'INTERVENTIONS_TAB.COLUMN.PROGRAM' | translate }}">
          <h5 mat-sort-header="program_name">{{ 'INTERVENTIONS_TAB.COLUMN.PROGRAM' | translate }}</h5>
        </th>
        <td mat-cell *matCellDef="let element" matTooltip="{{ element?.program_id?.scholar_season_id?.scholar_season + ' ' + element?.program_id?.program }}">
          {{ element?.program_id?.scholar_season_id?.scholar_season + ' ' + element?.program_id?.program }}
        </td>
      </ng-container>

      <ng-container matColumnDef="legalEntity">
        <th mat-header-cell *matHeaderCellDef matTooltip="{{ 'INTERVENTIONS_TAB.COLUMN.LEGAL_ENTITY' | translate }}">
          <h5 mat-sort-header="legal_entity_name">{{ 'INTERVENTIONS_TAB.COLUMN.LEGAL_ENTITY' | translate }}</h5>
        </th>
        <td mat-cell *matCellDef="let element" matTooltip="{{ element?.type_of_intervention_id?.legal_entity_id?.legal_entity_name }}">
          {{ element?.type_of_intervention_id?.legal_entity_id?.legal_entity_name }}
        </td>
      </ng-container>

      <ng-container matColumnDef="sequence">
        <th mat-header-cell *matHeaderCellDef matTooltip="{{ 'INTERVENTIONS_TAB.COLUMN.SEQUENCE' | translate }}">
          <h5 mat-sort-header="sequence_name">{{ 'INTERVENTIONS_TAB.COLUMN.SEQUENCE' | translate }}</h5>
        </th>
        <td mat-cell *matCellDef="let element" matTooltip="{{ element?.program_sequence_id?.name ? element?.program_sequence_id?.name: element?.sequence_id?.name }}">
          {{ element?.program_sequence_id?.name ? element?.program_sequence_id?.name: element?.sequence_id?.name }}
        </td>
      </ng-container>

      <ng-container matColumnDef="subject">
        <th mat-header-cell *matHeaderCellDef matTooltip="{{ 'INTERVENTIONS_TAB.COLUMN.SUBJECT' | translate }}">
          <h5 mat-sort-header="subject_name">{{ 'INTERVENTIONS_TAB.COLUMN.SUBJECT' | translate }}</h5>
        </th>
        <td mat-cell *matCellDef="let element" matTooltip="{{ element?.program_subject_id?.name ? element?.program_subject_id?.name: element?.course_subject_id?.name }}">
          {{ element?.program_subject_id?.name ? element?.program_subject_id?.name: element?.course_subject_id?.name }}
        </td>
      </ng-container>

      <ng-container matColumnDef="volumeOfHours">
        <th mat-header-cell *matHeaderCellDef matTooltip="{{ 'INTERVENTIONS_TAB.COLUMN.VOLUME_OF_HOURS' | translate }}">
          <h5 mat-sort-header="volume_of_hours">{{ 'INTERVENTIONS_TAB.COLUMN.VOLUME_OF_HOURS' | translate }}</h5>
        </th>
        <td mat-cell *matCellDef="let element" matTooltip="{{ element?.teacher_id?._id ? element?.volume_hours_assigned : element?.program_session?.volume_hours }}">
          {{ element?.teacher_id?._id ? element?.volume_hours_assigned : element?.program_session?.volume_hours }}
        </td>
      </ng-container>

      <ng-container matColumnDef="typeOfContract">
        <th mat-header-cell *matHeaderCellDef matTooltip="{{ 'INTERVENTIONS_TAB.COLUMN.TYPE_OF_CONTRACT' | translate }}">
          <h5 mat-sort-header="type_of_contract">{{ 'INTERVENTIONS_TAB.COLUMN.TYPE_OF_CONTRACT' | translate }}</h5>
        </th>
        <td mat-cell *matCellDef="let element" matTooltip="{{ element?.type_of_intervention_id?.type_of_contract | translate }}">
          {{ element?.type_of_intervention_id?.type_of_contract | translate }}
        </td>
      </ng-container>

      <ng-container matColumnDef="hourlyRate">
        <th mat-header-cell *matHeaderCellDef matTooltip="{{ 'INTERVENTIONS_TAB.COLUMN.HOURLY_RATE' | translate }}">
          <h5 mat-sort-header="hourly_rate">{{ 'INTERVENTIONS_TAB.COLUMN.HOURLY_RATE' | translate }}</h5>
        </th>
        <td mat-cell *matCellDef="let element" matTooltip="{{ element?.type_of_intervention_id?.hourly_rate }}">
          {{ element?.type_of_intervention_id?.hourly_rate }}
        </td>
      </ng-container>

      <ng-container matColumnDef="typeOfIntervention">
        <th mat-header-cell *matHeaderCellDef matTooltip="{{ 'INTERVENTIONS_TAB.COLUMN.TYPE_OF_INTERVENTION' | translate }}">
          <h5 mat-sort-header="type_of_intervention_name">{{ 'INTERVENTIONS_TAB.COLUMN.TYPE_OF_INTERVENTION' | translate }}</h5>
        </th>
        <td mat-cell *matCellDef="let element" matTooltip="{{ element?.type_of_intervention_id?.type_of_intervention | translate }}">
          {{ element?.type_of_intervention_id?.type_of_intervention | translate }}
        </td>
      </ng-container>
  
      <ng-container matColumnDef="loading">
        <th mat-header-cell *matHeaderCellDef colspan="100%" class="text-center">
          <div class="center-spinner">
            <mat-spinner color="accent"></mat-spinner>
          </div>
        </th>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="['reset']"></tr>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-header-row *matHeaderRowDef="filterColumns"></tr>
      <tr mat-header-row *matHeaderRowDef="['loading']" [hidden]="!isWaitingForResponse"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns" [hidden]="isWaitingForResponse"></tr>
    </table>
    <div *ngIf="noData | async" class="no-records">
      {{ 'NOT RECORD FOUND' | translate }}
    </div>
    <div [ngClass]="{ hide: noData | async }">
      <mat-paginator
        [ngClass]="{ 'hide-pagination-buttons': dataCount <= 10 }"
        [length]="dataCount"
        [hidePageSize]="true"
        [pageSize]="[10]"
        showFirstLastButtons
      ></mat-paginator>
    </div>
  </div>
