<div class="dialog-border">
  <div class="dialogTitleWrapper" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
    <div class="p-grid">
      <div class="p-col-9 acad-title">
        <h3 class="dialogTitle">
          <span *ngIf="this.data.isEdit">
            {{ 'Edit type of formation' | translate }}
          </span>
          <span *ngIf="!this.data.isEdit">
            {{ 'Add Type of formation' | translate }}
          </span>
        </h3>
      </div>
      <div class="p-col-2 text-right" style="margin-left: 33px">
        <button mat-icon-button class="close-icon float-right" mat-dialog-close tabindex="-1">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>

<form [formGroup]="addTypeOfFormation">
  <div class="fontColor">
    <mat-dialog-content>
      <div class="p-grid">
        <div class="p-col-12 no-padding">
          <div class="p-grid">
            <div class="p-col no-padding">
              <mat-form-field floatLabel="auto">
                <mat-select
                  [matTooltip]="'ADMISSION.Type Of formation' | translate"
                  formControlName="type_of_formation"
                  placeholder="{{ 'ADMISSION.Type Of formation' | translate }}"
                  panelClass="custom-matselect"
                >
                  <mat-option [value]="step" (click)="selectType(step)" *ngFor="let step of listOfType">
                    {{ 'type_formation.' + step | translate }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="addTypeOfFormation.get('type_of_formation').errors">{{ 'This field is required' | translate }}</mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
      <div class="p-grid">
        <div class="p-col-6 pad-right-3">
          <div class="p-grid">
            <div class="p-col-12 no-padding">
              <mat-form-field floatLabel="auto">
                <input matInput placeholder="{{ 'Sigle' | translate }}" formControlName="sigle" />
                <mat-error *ngIf="addTypeOfFormation.get('sigle').errors">{{ 'This field is required' | translate }}</mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="p-col-6">
          <div class="p-grid">
            <div class="p-col-12 no-padding">
              <mat-form-field floatLabel="auto">
                <input matInput placeholder="{{ 'Accounting plan' | translate }}" formControlName="accounting_plan" />
                <mat-error *ngIf="addTypeOfFormation.get('accounting_plan').errors">{{ 'This field is required' | translate }}</mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
      <div class="p-grid">
        <div class="p-col-12 no-padding">
          <div class="p-grid">
            <div class="p-col no-padding">
              <mat-form-field floatLabel="auto">
                <textarea matInput placeholder="{{ 'Description' | translate }}" formControlName="description"></textarea>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
      <div class="p-grid" *ngIf="addTypeOfFormation?.get('type_of_formation')?.value">
        <div class="p-col-12 no-padding">
          <mat-form-field floatLabel="auto">
            <input
              matInput
              class="form-field"
              [formControl]="formCtrl"
              [matAutocomplete]="docTypeAuto"
              placeholder="{{ 'Template Form Admission' | translate }}"
              [readonly]="addTypeOfFormation?.get('type_of_formation')?.value === 'classic'"
            />
            <mat-autocomplete #docTypeAuto="matAutocomplete" [panelWidth]="'fit'">
              <mat-option
                *ngFor="let template of formCtrlListFiltered | async"
                [value]="template?.form_builder_name"
                (click)="handleSelected(template?._id)"
              >
                {{ template?.form_builder_name }}
              </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="formCtrl.errors?.required">{{ 'This field is required' | translate }}</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="p-grid" *ngIf="addTypeOfFormation?.get('type_of_formation')?.value">
        <div class="p-col-12 no-padding">
          <mat-form-field floatLabel="auto">
            <input
              matInput
              class="form-field"
              [formControl]="formCtrlRe"
              [matAutocomplete]="docTypeAuto"
              placeholder="{{ 'Template Form ReAdmission' | translate }}"
            />
            <mat-autocomplete #docTypeAuto="matAutocomplete" [panelWidth]="'fit'">
              <mat-option
                *ngFor="let template of formCtrlReListFiltered | async"
                [value]="template?.form_builder_name"
                (click)="handleReSelected(template?._id)"
              >
                {{ template?.form_builder_name }}
              </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="formCtrlRe.errors?.required">{{ 'This field is required' | translate }}</mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions align="right">
      <button mat-raised-button type="button" color="warn" mat-dialog-close>{{ 'CANCEL' | translate }}</button>
      <button mat-raised-button color="primary" (click)="onValidate()">
        {{ 'Validate' | translate }}
      </button>
    </mat-dialog-actions>
  </div>
</form>

<div *ngIf="isWaitingForResponse" class="loading-indicator">
  <mat-progress-spinner mode="indeterminate" color="accent"></mat-progress-spinner>
</div>
