@import '~assets/scss/theme/admtc.variables';
@import '~assets/scss/theme/admtc';

.mrgn-btn {
  margin-bottom: 15px;
}

.icon-style {
  vertical-align: middle;
  margin-right: 1rem;
  cursor: pointer;
}

.dialogTitle {
  display: inline-block;
}

.dialogTitleWrapper {
  color: black;
}

.header-dialog {
  margin-top: 15px;
  padding: 0 5px 0 15px;
}

.dialog-border {
  border-bottom: 1px solid black;
  margin-bottom: 15px;
}
:host::ng-deep.mat-radio-outer-circle {
  border-color: rgba(0, 0, 0, 0.54) !important;
}
:host::ng-deep.mat-form-field-underline {
  background-color: rgba(0, 0, 0, 0.12) !important;
}
.acad-title {
  padding: 0px;
  margin-right: 25px;
}
.w-30 {
  padding-top: 4px !important;
  margin-right: 7px !important;
}
.w-65 {
  float: right;
  position: relative;
  right: -15px;
}
.no-padding-left {
  padding-left: 0px !important;
}
.label-align {
  align-self: center;
}
.border-white {
  border: 1px solid rgb(116, 116, 116);
}
.flex-hidden-mr-1 {
  flex-wrap: nowrap;
  overflow: hidden;
  margin-right: 1rem !important;
}
.name-who {
  display: inline-block;
  text-align: center;
  margin-right: 0px !important;
}
.width-card {
  width: auto;
  display: inline-block;
  margin-right: 10px;
}
// .card:hover {
//   background-color: #d6d6d6;
// }
.card-selected {
  background-color: #fdd835;
}
.card {
  // width: 125px;
  padding-bottom: 3px !important;
  padding: 10px;
  vertical-align: middle;
  border: 1px solid #252525;
  border-radius: 4px;
  text-align: center;
  align-self: center;
  display: inline-block;
  margin-top: 10px;
  cursor: pointer;
}

:host::ng-deep.ng-select .ng-select-container {
  height: 36px;
  border-left: 0px !important;
  border-right: 0px !important;
  border-top: 0px !important;
  border-radius: 0px !important;
}

.pad-right-3 {
  padding: 0.5em 3em 0.5em 0 !important;
}

:host::ng-deep.mat-select-arrow-wrapper {
  padding-right: 5px;
  opacity: 0;
}

::ng-deep.custom-matselect {
  margin-top: 35px !important;
  margin-left: 20px !important
}

::ng-deep .mat-select-panel-wrap {
  flex-basis: fit-content !important;
}
