<div class="top-space">
  <div class="header" [innerHTML]="sanitizer.bypassSecurityTrustHtml(formData?.direction)"></div>

  <table
    *ngIf="displayedColumn?.length && displayedColumn[0] && displayedColumn[0] !== ''"
    mat-table
    matSort
    [dataSource]="dataSource"
    class="mat-elevation-z8"
  >
    <ng-container *ngFor="let column of displayedColumn" [matColumnDef]="column">
      <th mat-header-cell *matHeaderCellDef [matTooltip]="column">
        <h2 mat-sort-header="label">{{ column }}</h2>
      </th>
      <td mat-cell *matCellDef="let element" [matTooltip]="element?.question_label">
        {{ element?.question_label }}<span *ngIf="element.is_required">*</span>
      </td>
    </ng-container>

    <!-- ROW HEADER AND CONTENT END -->
    <ng-container matColumnDef="loading">
      <th mat-header-cell *matHeaderCellDef colspan="1" class="text-center">
        <div class="center-spinner">
          <mat-spinner color="accent"></mat-spinner>
        </div>
      </th>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumn"></tr>
    <tr mat-header-row *matHeaderRowDef="['loading']" [hidden]="!isWaitingForResponse"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumn" [hidden]="isWaitingForResponse"></tr>
  </table>
  <div *ngIf="noData" class="no-records">
    {{ 'NOT RECORD FOUND' | translate }}
  </div>
  <div [ngClass]="{ hide: noData }">
    <mat-paginator
      [ngClass]="{ 'hide-pagination-buttons': dataCount <= 10 }"
      [hidePageSize]="true"
      [pageSize]="[dataCount]"
      showFirstLastButtons
    ></mat-paginator>
  </div>
</div>
