@import '~assets/scss/theme/admtc.variables';
@import '~assets/scss/theme/admtc';

.header {
  margin-bottom: 15px;
}

table {
    tr {
      text-align: center;
      td,
      th {
        border-right: 1px solid $grey;
        text-align: left;
        width: 30%;
        padding-left: 1rem !important;
        font-size: 1.5em;
      }
  
      td {
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 0;
        white-space: nowrap;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
      }
  
      th {
        vertical-align: top;
        .mat-form-field-infix {
          width: unset !important;
        }
      }
  
      &:nth-child(2) {
        th {
          padding-top: 0.9em;
        }
      }
    }
  
  
  }
  
  .action-header-column {
    vertical-align: middle !important;
    padding-right: 0 !important;
    .p-grid {
      margin-top: unset !important;
    }
  }
  
  .left-margin {
    margin-left: 3%;
  }
  
  .mat-column-select {
    overflow: initial;
  }
  
  .cursor-pointer {
    cursor: pointer;
  }

  .no-records {
      background-color: #424242;
      font-size: 14px;
      padding: 10px 12px;
      border-right: 1px solid #545454;
      border-bottom: 1px solid #545454;
  }

  :host ::ng-deep thead {
    background: black !important;
    border: 4px solid #607d8b !important;

    tr {
        &:nth-child(1) {
            height: 35px;
            }
            &:nth-child(1),
            &:nth-child(2) {
            background: $light-black;
            th {
                color: $white;
                vertical-align: bottom;
            }
            }
    }
}