<div class="form-fill-revision-dialog-container">
  <div class="header-container" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
    <div class="header-div">
      <mat-icon class="dialog-header-icon" style="margin-bottom: 5px">description</mat-icon>
      <h2 class="header-text" style="margin-left:0.5rem">
        {{ 'refuse to sign reason' | translate }}
      </h2>
      <button (click)="closeDialog()" mat-icon-button type="button" class="header-icon">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
  <mat-dialog-content>
    <div class="body">
      <label for="textInput">{{ 'What is the reason for refuse to sign?' | translate }}</label>
      <div id="textInput" class="ckeditor">
        <ckeditor #editor [editor]="Editor" [formControl]="reasonText" (ready)="onReady($event)" [config]="config"></ckeditor>
        <div class="invalid-feedback" *ngIf="reasonText?.invalid && (reasonText?.touched || reasonText?.dirty)">
          {{ 'This field is required' | translate }}
        </div>
      </div>
      <div class="microphone">
        <button mat-icon-button (click)="recordNote()" class="margin-right-button">
          <mat-icon svgIcon="microphone">microphone</mat-icon>
        </button>
      </div>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end" style="padding: 0 1rem !important">
    <button mat-raised-button type="button" color="warn" mat-dialog-close>{{ 'CANCEL' | translate }}</button>
    <button mat-raised-button color="primary" style="margin: 0 !important" (click)="submit()">
      {{ 'SUBMIT' | translate }}
    </button>
  </mat-dialog-actions>
</div>

<div *ngIf="isWaitingForResponse" class="loading-indicator">
  <mat-progress-spinner mode="indeterminate" color="accent"></mat-progress-spinner>
</div>
