@import '~assets/scss/theme/admtc.variables';
@import '~assets/scss/theme/admtc';

img {
  margin: 10px auto;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  object-fit: cover;
}
button {
  border-radius: 50%;
  font-size: 10px;
}

mat-card {
  margin: 1rem;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 305px;
}

.mat-card-subtitle {
  margin: 0;
}

.mat-card {
  font-size: 14px;
  margin: 0px 15px 15px 0px;
}

.title {
  text-align: center;
  font-size: 16px;
  font-size: 0.7vw;
  font-weight: 400;
}

.subtitle {
  font-size: 14px;
  font-size: 0.75vw;
  height: 18px;
}

.mat-card-title {
  display: block;
  margin-bottom: 0px;
}
.school-mail {
  display: inline-table;
  width: 100%;
  text-align: center;
}
.subtitle-name {
  font-size: 16px;
  font-size: 0.78vw;
  font-weight: 600;
  color: #a7abad;
  margin-bottom: 0px;
  height: 20px;
  display: inline-table;
  width: 100%;
  text-align: center;
}

.status {
  background-color: #ffd740;
  color: black;
  padding: 2px 5px;
  border-radius: 5%;
  margin-bottom: 10px;
}
.mat-icon-button {
  background-color: #607d8b;
}

.mat-icon-button ~ .mat-icon-button {
  margin-left: 0.5em;
}

.email-container {
  display: flex;
  align-items: center;
  margin-left: 0;
}

.telp-container {
  display: flex;
  align-items: center;
  margin-left: 0;
}

.email-icon {
  margin-right: 5px;
}

.actions {
  position: absolute;
  bottom: 0;
  right: 5px;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: flex-end;
  width: 100%;
}

.hiddenAction {
  visibility: hidden;
  //  transition: visibility ease-in;
}

button {
  background-color: transparent !important;
}

p {
  margin: 0;
  height: 20px;
  font-size: 12px;
}
