<mat-card (mouseover)="isHover = true" (mouseout)="isHover = false">
  <div class="p-grid">
    <!-- Image Container  -->

    <!--Student Information -->
    <div class="p-col-12 container">
      <div class="img-container">
        <img
          class="student-image"
          [src]="
            student?.is_photo_in_s3
              ? serverimgPath + student?.photo_s3_path
              : student?.photo
              ? serverimgPath + student?.photo
              : student?.civility === 'MR'
              ? maleCandidateIcon
              : student?.civility === 'neutral'
              ? neutralStudentIcon
              : femaleCandidateIcon
          "
        />
      </div>
      <div class="container">
        <mat-card-title class="title" [matTooltip]="student.program.program">{{ student.program.program }}</mat-card-title>
        <mat-card-subtitle class="subtitle" [matTooltip]="student.student_number"> {{ student.student_number }} </mat-card-subtitle>
        <p class="subtitle-name" matTooltip="{{ student.civility | translate }} {{ student.first_name }} {{ student.last_name | uppercase }}">
          {{ student.civility | translate }} {{ student.first_name }} {{ student.last_name | uppercase }}
        </p>
        <p class="school-mail" matTooltip="{{ student.school_mail ? student.school_mail : '-' }}">{{ student.school_mail ? student.school_mail : '-' }}</p>
        <p matTooltip="{{ student.tele_phone ? student.tele_phone  : '-' }}">{{ student.tele_phone ? student.tele_phone  : '-' }} </p>
        <div class="container" matTooltip="{{ 'Registered' | translate }}">
          <span class="status">{{ 'Registered' | translate }}</span>
        </div>
      </div>
      <div class="actions" [ngClass]="{hiddenAction: !isHover}">
        <button mat-icon-button [matTooltip]="'Send an email' | translate" matTooltipPosition="above" *ngIf="student.school_mail" (click)="openSendSingleEmailDialog(student)">
          <mat-icon>send</mat-icon>
        </button>
        <button mat-icon-button [matTooltip]="'View student card' | translate" matTooltipPosition="above" (click)="openStudentCard(student?.candidate_id?._id)">
          <mat-icon>visibility</mat-icon>
        </button>
      </div>
    </div>
  </div>
</mat-card>
