@import "~assets/scss/theme/admtc.variables";
@import "~assets/scss/theme/admtc";

.job-button{
    margin: 30px;
    width: 170px;
    display: initial;
}

.jobButton{
    width: 180px;
    padding: 7px;
    border-radius: 10px;
    background-color: $dark-yellow;
    border-color: #353535;
    cursor: default;
}

.para{
    max-width: 90px;
    margin: 2px 10px 0px 0px;
    color: $black;
    font-weight: 700;
}

mat-icon{   
    font-size: 2.5rem;
    margin-right: 0.75rem;
    width: 1rem;
    font-weight: 700;
}

.problematic{
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
}

.card{
    margin: 0 6rem;
}

mat-form-field{
    width: 100%;
}

.text-style{
    float: right; 
    font-weight:normal; 
    font-size: 1rem;
}

.text-style-sm{
    font-weight:normal; 
    font-size: 1rem;
    text-align: center;
}

.border-yellow{
    border: 2px solid #ffd740;
    padding: 0.5rem;
    margin-top: 0.5rem;
}

.weight{
    font-weight: 600;
}

.m-1{
    margin-top: 0.25rem;
}

.m-2{
    margin-bottom: 0;
}
.p-1{
    padding-bottom: 0;
}

.p-2{
    padding-right: 0;
}

.icons{
    font-size: 36px;
    float: right;
    margin-right: 10px;
}

.sizing{
    font-size: 1rem;
}