@import '~assets/scss/theme/admtc.variables';
@import '~assets/scss/theme/admtc';

.width-size {
  width: 300px;
}
td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type,
th.mat-header-cell:first-of-type {
  padding-left: 0px;
}

:host ::ng-deep table {
  tr {
    td,
    th {
      border-right: 1px solid $grey;
      padding-left: 0.3rem !important;
      padding-right: 0.3rem !important;
      &:nth-child(1) {
        text-align: center;
        width: 3%;
        padding-left: 0.5rem !important;
      }

      &:nth-child(2),
      &:nth-child(3) {
        width: 30%;
        padding-left: 0.5rem !important;
        .mat-form-field {
          width: 90%;
        }
      }

      &:nth-child(4) {
        min-width: 80px;
        max-width: 80px !important;
        width: 6%;
        padding-right: 0 !important;
        text-align: center !important;
      }
    }
    td {
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 0;
      white-space: nowrap;
      color: black;
      padding-top: 0.5em;
      padding-bottom: 0.5em;
    }

    th {
      vertical-align: top;
      text-align: center;

      .mat-form-field-infix {
        width: unset !important;
      }
    }
    &:nth-child(2) {
      th {
        padding-top: 0.9em;
      }
    }
  }

  thead tr {
    &:nth-child(2) {
      height: 35px;
    }
    &:nth-child(2),
    &:nth-child(3) {
      background: $light-black;
      th {
        color: $white;
      }
    }
  }
  .userpopup {
    display: none;
    position: relative;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    width: 52em;
    max-width: 100%;
    padding: 1.25em;
    border: none;
    border-radius: 0.3125em;
    background: #fff;
    font-family: inherit;
    font-size: 1rem;
  }
}

.action-header-column {
  vertical-align: middle !important;
  padding-right: 0 !important;
  .p-grid {
    margin-top: unset !important;
  }
}

.horizontal {
  overflow: auto;
}
.aligmnment {
  text-align: right;
  padding-right: 0;
}

.gaping {
  padding-top: 6px;
}

.hide {
  display: none;
}

.no-records {
  background-color: #424242;
  font-size: 14px;
  padding: 10px 12px;
  border-right: 1px solid #545454;
  border-bottom: 1px solid #545454;
}

.display-inline {
  display: inline;
}
.icon-menu-add {
  font-size: 22px !important;
  width: 20px !important;
  margin: -4px 0px 0px -4px !important;
}

::ng-deep.custom-matselect-dropdown.mat-select-panel{
  max-width: fit-content !important;
}

::ng-deep.filterPanel {
  margin-top: 25px !important;
}