<div *ngIf="isWaitingForResponse" class="loading-indicator">
  <mat-spinner color="accent" [diameter]="100"></mat-spinner>
</div>
<div class="p-grid" style="margin-top: 18px !important; flex-wrap: nowrap" [formGroup]="filterForm">
  <div class="p-col-fixed no-padding" style="width: 180px; float: left; padding-right: 15px !important">
    <mat-form-field>
      <input matInput class="form-field" formControlName="searchCommentFilter" placeholder="{{ 'search' | translate }}" />
    </mat-form-field>
  </div>
  <div class="p-col-fixed no-padding" style="width: 180px; float: left; padding-right: 15px !important">
    <ng-select
      class="pad-top custom-ngselect-content"
      [items]="userFilterList"
      bindLabel="key"
      bindValue="name"
      formControlName="userFilter"
      [multiple]="false"
      placeholder="{{ 'User' | translate }}"
    >
    </ng-select>
  </div>
  <div class="p-col-fixed no-padding" style="width: 180px; float: left; padding-right: 15px !important">
    <ng-select
      class="pad-top custom-ngselect-content"
      [items]="dateFilterList"
      bindLabel="key"
      bindValue="date"
      formControlName="dateFilter"
      [multiple]="false"
      placeholder="{{ 'Date' | translate }}"
    >
    </ng-select>
  </div>
  <div class="p-col-fixed no-padding" style="width: 180px; float: left; padding-right: 15px !important">
    <ng-select
      class="pad-top custom-ngselect-content"
      [items]="categoryFilterList"
      formControlName="categoryFilter"
      [multiple]="false"
      placeholder="{{ 'Category' | translate }}"
    >
    </ng-select>
  </div>
  <div class="p-col" style="text-align: right; white-space: nowrap">
    <button mat-raised-button color="accent" matTooltip="{{ 'Add Comment' | translate }}" (click)="addComment()" *ngIf="permissionService?.showAlumniCardAddCommentPerm()">
      <mat-icon class="mat-icon-default">add</mat-icon>
      {{ 'Add Comment' | translate }}
    </button>
    <button
      style="padding: 0px 7px !important"
      [matTooltipDisabled]="false"
      color="primary"
      mat-raised-button
      matTooltip="{{ 'Reset Filter' | translate }} "
      (click)="resetComment()"
      *ngIf="permissionService?.showAlumniCardResetAlumniPerm()"
    >
      <mat-icon svgIcon="loop" class="mat-icon-svgIcon"></mat-icon>
      {{ 'Reset' | translate }}
    </button>
  </div>
</div>
<mat-card class="commentaries-card">
  <ng-container *ngIf="candidateComments && candidateComments.length; else noData">
    <div class="p-grid" *ngFor="let commentList of candidateComments">
      <ng-container *ngIf="!commentList?.is_reply">
        <div class="p-col-fixed avatar" style="width: 60px">
          <img
            [src]="
              commentList?.created_by?.profile_picture
                ? serverimgPath + commentList?.created_by?.profile_picture
                : commentList?.created_by?.civility === 'MR'
                ? maleStudentIcon
                : commentList?.created_by?.civility === 'neutral'
                ? neutralStudentIcon
                : femaleStudentIcon
            "
            class="student-details-img"
          />
        </div>
        <div class="p-col">
          <div class="p-grid">
            <div class="p-col-12 comment-section">
              <div class="p-grid comment-header">
                <div class="p-col-5 comment-name">
                  <span>
                    {{
                      commentList?.created_by?.civility && commentList?.created_by?.civility === 'neutral'
                        ? ''
                        : (commentList?.created_by?.civility | translate)
                    }}
                    {{ commentList?.created_by?.first_name }}
                    {{ commentList?.created_by?.last_name | uppercase }} - {{ transformDate(commentList?.date_created) }} -
                    {{ transformTime(commentList?.date_created) }}
                  </span>
                </div>
                <div class="p-col-3 comment-subject" style="padding-left: 0px; padding-right: 0px">
                  <span>{{ 'Subject' | translate }} : {{ getSubject(commentList?.subject) }}</span>
                </div>
                <div class="p-col-2 comment-subject" style="padding-left: 0px; padding-right: 0px">
                  <span>{{ 'Category' | translate }} : {{ commentList?.category ? commentList?.category : '-' }}</span>
                </div>
                <div class="p-col-2" style="text-align: right; padding: 3px 0 5px 5px">
                  <button
                    mat-icon-button
                    [matTooltipDisabled]="false"
                    class="margin-right-button"
                    matTooltip="{{ 'Edit' | translate }}"
                    *ngIf="hideEditDeleteButton(commentList)"
                    (click)="editComment(commentList)"
                  >
                    <mat-icon class="mat-icon-status">edit</mat-icon>
                  </button>
                  <button
                    mat-icon-button
                    [matTooltipDisabled]="false"
                    class="margin-right-button"
                    matTooltip="{{ 'Delete' | translate }}"
                    *ngIf="hideEditDeleteButton(commentList)"
                    (click)="deleteComment(commentList)"
                  >
                    <mat-icon class="mat-icon-status">delete</mat-icon>
                  </button>
                </div>
              </div>
              <div class="p-grid">
                <div class="p-col-5" *ngIf="commentList?.is_personal_situation === true">
                  <mat-checkbox
                    [checked]="commentList?.is_personal_situation"
                    aria-disabled="true"
                    [disabled]="commentList?.is_personal_situation"
                    aria-checked="true"
                  >
                    {{ 'Personal Situation' | translate }}
                  </mat-checkbox>
                </div>
                <div class="p-col-4" *ngIf="commentList?.is_restrictive_conditions === true">
                  <mat-checkbox
                    [checked]="commentList?.is_restrictive_conditions"
                    aria-disabled="true"
                    [disabled]="commentList?.is_restrictive_conditions"
                    aria-checked="true"
                  >
                    {{ 'Restrictive condition' | translate }}
                  </mat-checkbox>
                </div>
                <div class="p-col-3"></div>
              </div>
              <div class="p-grid comment-message">
                <div class="p-col-12 message-body" [innerHTML]="commentList?.comment"></div>
                <span class="reply" *ngIf="commentList?.comment" (click)="replyComment(commentList?._id)"
                  >{{ commentList?.reply_comment_ids?.length }} {{ 'replies' | translate }}</span
                >
              </div>
            </div>
            <div class="p-col-12 answer-section no-padding">
              <div class="answer-section" style="display: block; position: relative">
                <div class="ckeditor">
                  <ckeditor #editor [editor]="Editor" [formControl]="commentForm" (ready)="onReady($event)" [config]="config"></ckeditor>
                </div>
                <button
                  matSuffix
                  mat-icon-button
                  [disabled]="!commentForm?.value"
                  (click)="submit(commentList)"
                  style="position: absolute; right: 12px; top: 10px; transform: rotate(337deg)"
                >
                  <mat-icon class="mat-icon-status">send</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </ng-container>
  <ng-template #noData>
    <div class="p-grid no-comment">
      <div class="p-col-12">
        <h3 style="text-align: center">{{ 'No Data' | translate }}</h3>
      </div>
    </div>
  </ng-template>
</mat-card>
