<div class="dialog-border">
  <div class="dialogTitleWrapper" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
    <div class="p-grid">
      <div class="w-30 no-padding">
        <mat-icon style="vertical-align: middle">add</mat-icon>
      </div>
      <div class="p-col-10 acad-title">
        <h3 class="dialogTitle">
          {{ 'Connect admission document form' | translate }}
        </h3>
      </div>
      <div class="w-65 no-padding">
        <button mat-icon-button class="close-icon float-right" mat-dialog-close tabindex="-1">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>

<form [formGroup]="typeForm">
  <div class="fontColor">
    <mat-dialog-content>
      <div class="p-grid">
        <div class="p-col-12 no-padding">
          <div class="p-grid">
            <div class="p-col no-padding custom-input">
              <ng-select
                aria-required="true"
                class="mrgn-btn"
                bindLabel="form_builder_name"
                bindValue="_id"
                clearAllText="Clear"
                [appendTo]="'body'"
                placeholder="{{ 'Select Form Template' | translate }}"
                formControlName="form_builder_id"
                (change)="selectedTemplate($event)"
              >
                <ng-option [value]="'None'">
                  {{ 'None' | translate }}
                </ng-option>
                <ng-option *ngFor="let formBuilder of listFormBuilder" [value]="formBuilder"> {{ formBuilder?.form_builder_name }} </ng-option>
                </ng-select>
              <span
                *ngIf="
                  typeForm.get('form_builder_id').hasError('required') &&
                  (typeForm.get('form_builder_id').touched || typeForm.get('form_builder_id').dirty)
                "
                style="color: #f44336; font-size: 75%; margin: 0"
              >
                {{ 'This field is required' | translate }}
              </span>
            </div>
          </div>
        </div>
      </div>

      <ng-container *ngIf="typeForm?.get('form_builder_id').value">
        <ng-container *ngIf="signatoryArr?.controls?.length">
          <div class="assign-border" formArrayName="contract_validator_signatory_status">
          <h4 class="section-title">{{ 'SENDING_CONTRACT_DIALOG.assign user for signatory' | translate }}</h4>
          <div>
            <div class="p-grid" *ngFor="let form of signatoryArr?.controls; let formArrIndex = index" [formGroupName]="formArrIndex">
              <div class="p-col-4 section-field-title" [ngClass]="form.invalid && form.touched ? 'red' : '' ">{{ getNameOfUserType(form, 'signatory')}}*</div>
              <div class="p-col-8">
                <ng-container *ngIf="studentSignatory && form?.get('user_type_id')?.value === '5a067bba1c0217218c75f8ab'">
                  <input
                  required
                  matInput
                  type="text"
                  class="custom-input"
                  [formControl]="studentSignatoryName"
                  placeholder="{{ 'search' | translate }}"
                  readonly
                />
                </ng-container>
                <ng-container *ngIf="form?.get('user_type_id')?.value !== '5a067bba1c0217218c75f8ab' || (!studentSignatory && form?.get('user_type_id')?.value === '5a067bba1c0217218c75f8ab')">
                  <input
                  required
                  matInput
                  type="text"
                  class="custom-input"
                  formControlName="user_id"
                  placeholder="{{ 'search' | translate }}"
                  [matAutocomplete]="auto"
                  (keyup)="filterSignatoryUser($event.target.value, formArrIndex, form.value.user_type_id)"
                />
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFullName.bind(this)" [panelWidth]="'fit'">
                  <mat-option *ngFor="let user of signatoryUserList[formArrIndex]" [value]="user">
                    {{ user?.last_name | uppercase }} {{ user?.first_name }}
                    {{ user?.civility && user?.civility === 'neutral' ? '' : (user?.civility | translate) }}
                  </mat-option>
                </mat-autocomplete>
                <span *ngIf="form.invalid && form.touched" style="color: #f44336; font-size: 75%; margin: 0">
                  {{ 'This field is required' | translate }}
                </span>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
        </ng-container>
        <ng-container *ngIf="validatorArr?.controls?.length">
          <div class="assign-border" formArrayName="step_validator_input">
            <h4 class="section-title">{{ 'SENDING_CONTRACT_DIALOG.assign user for step validatory' | translate }}</h4>
            <div class="p-grid" *ngFor="let form of validatorArr?.controls; let formArrIndex = index" [formGroupName]="formArrIndex">
              <div
                class="p-col-4 section-field-title" 
                *ngIf="form?.value?.validator"
                [ngClass]="form.invalid && form.touched  ? 'red' : '' "
              >
                {{ getNameOfUserType(form, 'validator') | translate }}*
              </div>
              <ng-container *ngIf="form?.value?.validator">
                <div class="p-col-8">
                  <input
                    required
                    matInput
                    type="text"
                    class="custom-input"
                    formControlName="user_validator"
                    *ngIf="form.value.validator"
                    placeholder="{{ 'search' | translate }}"
                    [matAutocomplete]="auto"
                    (keyup)="filterValidatorUser($event.target.value, formArrIndex, form.value.validator)"
                  />
                  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFullName.bind(this)" [panelWidth]="'fit'">
                    <mat-option [value]="'All'">
                      {{ 'Any user for selected usertype' | translate }}
                    </mat-option>
                    <mat-option *ngFor="let user of validatorUserList[formArrIndex]" [value]="user">
                      {{ user?.last_name | uppercase }} {{ user?.first_name }}
                      {{ user?.civility && user?.civility === 'neutral' ? '' : (user?.civility | translate) }}
                    </mat-option>
                  </mat-autocomplete>
                  <span *ngIf="form.invalid && form.touched" style="color: #f44336; font-size: 75%; margin: 0">
                    {{ 'This field is required' | translate }}
                  </span>
                </div>
              </ng-container>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </mat-dialog-content>
    <mat-dialog-actions align="right">
      <button mat-raised-button type="button" color="warn" mat-dialog-close>{{ 'FORM_BUILDER.Cancel' | translate }}</button>
      <button mat-raised-button color="primary" (click)="onValidate()">
        {{ 'FORM_BUILDER.Validate' | translate }}
      </button>
    </mat-dialog-actions>
  </div>
</form>



<div *ngIf="isWaitingForResponse" class="loading-indicator">
  <mat-progress-spinner mode="indeterminate" color="accent"></mat-progress-spinner>
</div>
