<div class="p-grid p-nogutter" style="margin-top: 1rem;text-align: center">
    <div ngClass="p-col-2 p-offset-3" ngClass.lt-sm="p-col-12">
        <div class="job-button">
            <button class="jobButton">
                <span style="float: left;">
                    <p class="para">{{ 'Sent To Student' | translate }}</p>
                </span>
                <i class="fa fa-check icons" style="color:green"  aria-hidden="true"></i>
                <!--  <i class="fa fa-times icons" style="color:red"  aria-hidden="true"></i> -->
            </button>
        </div>
    </div>
    <div ngClass="p-col-2" ngClass.lt-sm="p-col-12">
        <div class="job-button">
            <button class="jobButton">
                <span style="float: left;">
                    <p class="para">{{ 'Sent To School' | translate }}</p>
                </span>
                <i class="fa fa-check icons" style="color:green"  aria-hidden="true"></i>
                <!--  <i class="fa fa-times icons" style="color:red"  aria-hidden="true"></i> -->
            </button>
        </div>
    </div>
    <div ngClass="p-col-2" ngClass.lt-sm="p-col-12">
        <div class="job-button">
            <button class="jobButton">
                <span style="float: left;">
                    <p class="para">{{ 'Validated By Academic Dpt' | translate }}</p>
                </span>
                <i class="fa fa-check icons" style="color:green"  aria-hidden="true"></i>
               <!--  <i class="fa fa-times icons" style="color:red"  aria-hidden="true"></i> -->
            </button>
        </div>
    </div>
    <div ngClass="p-col-8 p-offset-3 p-1" ngClass.lt-sm="p-col-12 p-1">
        <div class="jobDescription">
            <div class="p-grid p-nogutter">
                <div ngClass="p-col-3 p-offset-3 p-1" ngClass.lt-md="p-col-5 p-offset-2 p-1" ngClass.lt-sm="p-col-12 p-1">
                    <label class="color-white">JOB DESCRIPTION</label>
                </div>
                <div ngClass="p-col-6 p-1" ngClass.lt-md="p-col-5 p-1" ngClass.lt-sm="p-col-12 p-1">
                    <span ngClass="tags text-style" ngClass.lt-sm="tags text-style-sm">
                        <i class="fa fa-file-pdf-o sizing" aria-hidden="true"></i>PDF
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<form>
    <mat-card ngClass.gt-md="card">
        <mat-card-content>
            <div class="p-grid border-yellow">
                <div ngClass="p-col-6" ngClass.lt-md="p-col-12">
                    <div class="p-grid">
                        <div ngClass="p-col-3" ngClass.lt-sm="p-col-12">
                            <label>Student:</label>
                        </div>
                        <div ngClass="p-col-8" ngClass.lt-sm="p-col-12">
                            Mr. Yani Acheraiou
                        </div>
                    </div>
                </div>
                <div ngClass="p-col-6" ngClass.lt-md="p-col-12">
                    <div class="p-grid">
                        <div class="p-col-3" ngClass.lt-sm="p-col-12">
                            <label>Company:</label>
                        </div>
                        <div class="p-col-8" ngClass.lt-sm="p-col-12">
                            CSF CARREFOUR MARKET
                        </div>
                    </div>
                </div>
                <div ngClass="p-col-6" ngClass.lt-md="p-col-12">
                    <div class="p-grid">
                        <div class="p-col-3" ngClass.lt-sm="p-col-12">
                            <label>School:</label>
                        </div>
                        <div class="p-col-8" ngClass.lt-sm="p-col-12">
                            C3 INSTITUTE
                        </div>
                    </div>
                </div>
                <div ngClass="p-col-6" ngClass.lt-md="p-col-12">
                    <div class="p-grid">
                        <div class="p-col-3" ngClass.lt-sm="p-col-12">
                            <label>Mentor:</label>
                        </div>
                        <div class="p-col-8" ngClass.lt-sm="p-col-12">
                            Mr François DEFERAUDY
                        </div>
                    </div>
                </div>
                <div ngClass="p-col-6" ngClass.lt-md="p-col-12">
                    <div class="p-grid">
                        <div class="p-col-3" ngClass.lt-sm="p-col-12">
                            <label>RNCP Title:</label>
                        </div>
                        <div class="p-col-8" ngClass.lt-sm="p-col-12">
                            Responsable Marketing Opérationnel
                        </div>
                    </div>
                </div>
                <div ngClass="p-col-6" ngClass.lt-md="p-col-12">
                    <div class="p-grid">
                        <div class="p-col-3" ngClass.lt-sm="p-col-12">
                            <label>Class:</label>
                        </div>
                        <div class="p-col-8" ngClass.lt-sm="p-col-12">
                            Classe RMO
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-grid border-yellow">
                <div ngClass="p-col-3" ngClass.lt-sm="p-col-12">
                    <label>Job Identity:</label>
                </div>
                <div ngClass="p-col-9" ngClass.lt-sm="p-col-12">
                    <mat-form-field>
                        <textarea matInput placeholder="Job Name">Responsable rayon boulangerie</textarea>
                    </mat-form-field>
                </div>
                <div ngClass="p-col-3" ngClass.lt-sm="p-col-12">
                    <label>Dates Of The Mission</label>
                </div>
                <div ngClass="p-col-4" ngClass.lt-sm="p-col-12">
                    <mat-form-field>
                        <input matInput placeholder="From">17/07/2017
                    </mat-form-field>
                </div>
                <div ngClass="p-col-5" ngClass.lt-sm="p-col-12">
                    <mat-form-field>
                        <input matInput placeholder="To">31/08/2020
                    </mat-form-field>
                </div>
                <div ngClass="p-col-3" ngClass.lt-sm="p-col-12">
                    <label>Presentation Of The Department</label>
                </div>
                <div ngClass="p-col-4" ngClass.lt-sm="p-col-12">
                    <mat-form-field>
                        <textarea matInput placeholder="Main Mission Of The Department">la mission du service est d'optimiser le taux de marge
                            </textarea>
                    </mat-form-field>
                </div>
                <div ngClass="p-col-5" ngClass.lt-sm="p-col-12">
                    <mat-form-field>
                        <textarea matInput placeholder="Organization Of The Department">4 personnes
                                </textarea>
                    </mat-form-field>
                </div>
                <div ngClass="p-col-3" ngClass.lt-sm="p-col-12">
                    <label>Job Missions</label>
                </div>
                <div ngClass="p-col-9" ngClass.lt-sm="p-col-12">
                    <mat-form-field>
                        <textarea matInput placeholder="Main Mission">Ma mission principale est de diminuer
                                    </textarea>
                    </mat-form-field>
                </div>
            </div>
            <div class="p-grid border-yellow">
                <div ngClass="p-col-12">
                    <label>Missions Activities Autonomy</label>
                </div>
                <div ngClass="p-col-4" ngClass.lt-sm="p-col-12">
                    <mat-form-field>
                        <input matInput placeholder="Missions">facing
                    </mat-form-field>
                </div>
                <div ngClass="p-col-4" ngClass.lt-sm="p-col-12">
                    <mat-form-field>
                        <input matInput placeholder="Activities">commerciale
                    </mat-form-field>
                </div>
                <div ngClass="p-col-4 margin-lg" ngClass.lt-sm="p-col-12">
                    <mat-form-field>
                        <mat-label>Autonomy Level</mat-label>
                        <mat-select matNativeControl value="Execute">
                            <mat-option value="Execute">Execute</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div ngClass="p-col-4" ngClass.lt-sm="p-col-12">
                    <mat-form-field>
                        <input matInput placeholder="Missions">facing
                    </mat-form-field>
                </div>
                <div ngClass="p-col-4" ngClass.lt-sm="p-col-12">
                    <mat-form-field>
                        <input matInput placeholder="Activities">commerciale
                    </mat-form-field>
                </div>
                <div ngClass="p-col-4 margin-lg" ngClass.lt-sm="p-col-12">
                    <mat-form-field>
                        <mat-label>Autonomy Level</mat-label>
                        <mat-select matNativeControl value="Execute">
                            <mat-option value="Execute">Execute</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div ngClass="p-col-4" ngClass.lt-sm="p-col-12">
                    <mat-form-field>
                        <input matInput placeholder="Missions">facing
                    </mat-form-field>
                </div>
                <div ngClass="p-col-4" ngClass.lt-sm="p-col-12">
                    <mat-form-field>
                        <input matInput placeholder="Activities">commerciale
                    </mat-form-field>
                </div>
                <div ngClass="p-col-4 margin-lg" ngClass.lt-sm="p-col-12">
                    <mat-form-field>
                        <mat-label>Autonomy Level</mat-label>
                        <mat-select matNativeControl value="Execute">
                            <mat-option value="Execute">Execute</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="p-grid border-yellow">
                <div ngClass="p-col-12">
                    <label>Required Competencies For This Job</label>
                </div>
                <div ngClass="p-col-4" ngClass.lt-sm="p-col-12">
                    <label style="color: #fff">Job Profile</label>
                </div>
                <div ngClass="p-col-7" ngClass.lt-sm="p-col-12">
                    <mat-form-field>
                        <textarea matInput placeholder="Required Knowledge">informatique</textarea>
                    </mat-form-field>
                </div>
                <div ngClass="p-col-7 p-offset-4" ngClass.lt-sm="p-col-12">
                    <mat-form-field>
                        <textarea matInput placeholder="Required Knowledge">marketing</textarea>
                    </mat-form-field>
                </div>
                <div ngClass="p-col-7 p-offset-4" ngClass.lt-sm="p-col-12">
                    <mat-form-field>
                        <textarea matInput placeholder="Required Knowledge">logiciels internes</textarea>
                    </mat-form-field>
                </div>
                <div ngClass="p-col-7 p-offset-4" ngClass.lt-sm="p-col-12">
                    <mat-form-field>
                        <textarea matInput placeholder="Required Know How">Animer une équipe</textarea>
                    </mat-form-field>
                </div>
                <div ngClass="p-col-7 p-offset-4" ngClass.lt-sm="p-col-12">
                    <mat-form-field>
                        <textarea matInput placeholder="Required Know How">organiser</textarea>
                    </mat-form-field>
                </div>
                <div ngClass="p-col-7 p-offset-4" ngClass.lt-sm="p-col-12">
                    <mat-form-field>
                        <textarea matInput placeholder="Required Know How">savoir réagir</textarea>
                    </mat-form-field>
                </div>
            </div>
            <div class="p-grid border-yellow">
                <div ngClass="p-col-12">
                    <label>Objectives Of The Job And Expected Contributions Of The Students</label>
                    <div class="p-grid">
                        <div ngClass="p-col-5 border-yellow" ngClass.lt-md="p-col-12 border-yellow">
                            <div class="p-grid">
                                <div ngClass="p-col-6" ngClass.lt-md="p-col-8" ngClass.lt-sm="p-col-12">
                                    <label style="color: #fff">Objectives Of The Department</label>
                                </div>
                                <div ngClass="p-col-2 p-offset-4" ngClass.lt-md="p-col-1 p-offset-3"
                                    ngClass.lt-sm="p-col-12">
                                    <mat-icon style="font-weight: normal; font-size: 1.5rem">add
                                    </mat-icon>
                                </div>
                            </div>
                        </div>
                        <div ngClass="p-col-6 p-offset-1 border-yellow" ngClass.lt-md="p-col-12 border-yellow">
                            <div class="p-grid">
                                <div ngClass="p-col-12">
                                    <label style="color: #fff">Expected Contributions Objectives From The
                                        Student</label>
                                </div>
                                <div ngClass="p-col-5" ngClass.lt-sm="p-col-12">
                                    <mat-form-field>
                                        <input matInput placeholder="Contribution">Contribuer au bon fonctionnement du
                                        rayon
                                    </mat-form-field>
                                </div>
                                <div ngClass="p-col-4 p-offset-1" ngClass.lt-sm="p-col-12">
                                    <mat-form-field>
                                        <input matInput placeholder="Objective">avoir une démarque inférieure à 2000€
                                    </mat-form-field>
                                </div>
                                <div ngClass="p-col-1 p-offset-1" ngClass.lt-sm="p-col-12">
                                    <mat-icon style="font-weight: normal; font-size: 1.5rem">remove
                                    </mat-icon>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</form>