@import '~assets/scss/theme/admtc.variables';
@import '~assets/scss/theme/admtc';

.top-space {
  width: 100% !important;
}
.border-bottom {
  border-bottom: 1px solid #c0c0c094;
  padding-top: 0;
  padding-bottom: 0;
}

.border-right {
  border-right: 1px solid #c0c0c094;
  padding-top: 0;
  padding-bottom: 0;
}

:host::ng-deep.mat-card {
  border: 1px solid#607C8A;
}
:host::ng-deep.mat-tab-group {
  margin-top: 1rem;
  .mat-tab-header {
    font-size: 0.9em;
  }
  .mat-tab-label {
    h4 {
      font-size: 13px;
    }
  }
  .mat-tab-label-active {
    box-shadow: unset;
    border: unset;
  }
  .mat-card {
    margin-top: 5%;
  }
}
img {
  height: 130px;
}
.student-detail {
  font-size: 0.8rem;

  div {
    padding-left: 0.5em;
  }

  .student-photo {
    width: 130px !important;
    vertical-align: middle;
  }

  .right-border {
    border-right: solid;
  }

  .identity {
    font-size: 18px;
  }

  .contact-information {
    padding-top: 1em;
    padding-left: 1em !important;
  }

  span {
    vertical-align: top;
    margin-left: 1em;
  }
}

.download-cv {
  cursor: pointer;

  mat-icon,
  .label {
    transition: all 0.5s;
  }

  &:hover mat-icon,
  &:hover .label {
    color: grey;
  }
}

.yellow {
  color: #ffd740;
}
.orange {
  color: #f49f36;
}
.blue {
  color: #36ebf4;
}
.red {
  color: #ff4040;
}
.green {
  color: #adff2f;
}
.purple {
  color: #ff46f9;
}
.magenta {
  color: magenta;
}
.black {
  color: #000000;
}
.cyan {
  color: cyan;
}

.green-icon {
  font-size: 25px;
  width: 30px;
  color: #adff2f;
}
.red-icon {
  font-size: 25px;
  width: 30px;
  color: #ff4040;
}
.candidate-photo {
  border-radius: 50%;
  width: 100%;
}

.mat-icon-status {
  font-size: 14px;
  text-align: center;
  vertical-align: middle;
  padding-right: 0px;
  width: 14px;
}
.status {
  font-size: 12px;
  color: #26abeb;
  font-weight: 900;
  cursor: pointer;
}
.status:hover {
  text-decoration: underline;
}
.status-disabled {
  font-size: 12px;
  color: #26abeb;
  font-weight: 900;
}

.actions {
  text-align: center;
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  padding-left: 15%;

  button {
    margin-right: 1em;
  }
}

.payment {
  display: flex;
  flex-direction: row;
  padding: 0px;
  align-items: center;
}

.ml-2 {
  margin-left: 0.5rem;
}

.mb-0 {
  margin-bottom: 0px;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.status {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background-color: green;
  color: white;
  font-size: 0.75rem;
  border-radius: 0.375rem;
}

.status-re {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background-color: red;
  color: white;
  font-size: 0.75rem;
  border-radius: 0.375rem;
}

.p-0 {
  padding: 0px;
}

.px-2 {
  padding-top: 0rem;
  padding-bottom: 0rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.pl-2 {
  padding-top: 0rem;
  padding-bottom: 0rem;
  padding-left: 1rem;
}

.mt-2 {
  margin-top: 1rem !important;
}

.mt-10 {
  margin-top: 2.5rem !important;
}

.detail {
  padding-left: 2rem !important;
  padding-right: 2rem !important;
  margin-top: 1rem !important;
}

.mat-icon {
  height: 44px !important;
  width: 40px !important;
}

.visa {
  height: 24px !important;
  width: 20px !important;
}

.text-16 {
  font-size: 16px;
}

.timeline {
  display: flex;
  flex-direction: column;
}

.timeline-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.timeline-detail {
  margin-left: 0.5rem;
  padding: 0.75rem 1rem 0.75rem 1rem;
  border-left: 1px solid #c0c0c094;
}

.point {
  height: 1rem;
  width: 1rem;
  background-color: #e4e4e494;
  border-radius: 9999px;
}

.text-right {
  text-align: right;
}

.tag-container {
  text-align: left !important;
  line-height: 2.3;
  overflow-wrap: break-word;
}
:host ::ng-deep table {
  tr {
    td,
    th {
      border-right: 1px solid $grey;

      &:nth-child(1) {
        width: 3%;
        font-size: 11px;
        min-width: 60px;
        max-width: 60px;
        z-index: 999 !important;
        padding-left: 0px !important;
        text-align: center;
        .mat-form-field {
          width: 80%;
          padding-top: 6px;
          padding-left: 0px !important;
        }
      }

      &:nth-child(2) {
        width: 8%;
        min-width: 155px;
        padding-left: 0.5rem !important;
        padding-right: 0.5rem !important;
        .mat-form-field {
          padding-left: 0px !important;
          padding-top: 6px;
          width: 100%;
        }
      }

      &:nth-child(3) {
        width: 5%;
        padding-left: 0.5rem !important;
        padding-right: 0.5rem !important;
      }

      &:nth-child(4) {
        width: 6%;
        padding-left: 0.5rem !important;
        padding-right: 0.5rem !important;
        text-align: right;
      }

      &:nth-child(5) {
        width: 8%;
        max-width: 80px;
        min-width: 80px;
        padding-left: 0.5rem !important;
        padding-right: 0.5rem !important;
      }

      &:nth-child(6) {
        width: 8%;
        padding-left: 0.5rem !important;
        padding-right: 0.5rem !important;
      }
      &:nth-child(7) {
        width: 5%;
        padding-left: 0.5rem !important;
        padding-right: 0.5rem !important;
      }
      &:nth-child(8) {
        width: 5%;
        max-width: 60px;
        min-width: 60px;
        text-align: center !important;
        padding-left: 0rem !important;
        padding-right: 0 !important;
        .mat-form-field {
          width: 80%;
        }
        .mat-icon {
          font-size: 16px;
          width: 18px !important;
          height: 25px !important;
        }
      }
    }

    td {
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 0;
      white-space: nowrap;
      padding-top: 0.5em;
      padding-bottom: 0.5em;
    }

    th {
      vertical-align: top;
      .mat-form-field-infix {
        width: unset !important;
      }
    }

    &:nth-child(2) {
      th {
        padding-top: 0.9em;
      }
    }
  }

  thead tr {
    &:nth-child(2) {
      height: 35px;
    }
    &:nth-child(2),
    &:nth-child(3) {
      background: $light-black;
      th {
        color: $white;
      }
    }
  }
}

.action-header-column {
  vertical-align: middle !important;
  padding-right: 0 !important;
  .p-grid {
    margin-top: unset !important;
  }
}

.left-margin {
  margin-left: 3%;
}

:host ::ng-deep .swal2-checkbox label,
.swal2-radio label {
  font-size: 1em !important;
}
.school-backdrop + .cdk-overlay-pane {
  .mat-dialog-container {
    overflow: visible;
  }
}

.mat-column-select {
  overflow: initial;
}

.cursor-pointer {
  cursor: pointer;
}

.pc-section {
  width: 50%;
  text-align: right;
  padding-right: 5px;
  display: inline-block;
}

.cr-section {
  width: 50%;
  text-align: left;
  display: inline-block;
}

.no-records {
  background-color: #424242;
  font-size: 14px;
  padding: 10px 12px;
  border-right: 1px solid #545454;
  border-bottom: 1px solid #545454;
}

.tags-green {
  background-color: #9acd32;
  color: #000;
  padding: 3px 5px 3px 5px;
  border-radius: 3px;
  margin-right: 5px;
}

.tags-red {
  background-color: #ff4040;
  color: #fff;
  padding: 3px 5px 3px 5px;
  border-radius: 3px;
  margin-right: 5px;
}
// :host ::ng-deep table:not(.no-action-header):not(.notif-table) thead > tr:nth-last-child(2) {
//   display: none !important;
// }
.mat-icon-svgIcon {
  width: 16px !important;
  height: 16px !important;
  margin-top: -3px !important;
  margin-right: 2px !important;
}

.mat-icon-status {
  font-size: 14px;
  text-align: center;
  vertical-align: middle;
  padding-right: 5px;
}

// ***************** ng-select styling *****************
:host::ng-deep.ng-select .ng-select-container {
  background-color: #fff0;
  color: #fff;
  border: none;
  border-radius: 0px !important;
  border-bottom: 1px solid rgb(241, 241, 241) !important;
  min-height: 36px;
  -webkit-box-align: center;
  align-items: center;
  width: 90% !important;
}
:host::ng-deep.mat-select-arrow-wrapper {
  padding-right: 5px;
}
:host::ng-deep.mat-select-value-text {
  margin-left: 10px;
  font-size: 13px;
}
:host::ng-deep.ng-select {
  margin-top: 10px;
  margin-left: 3px;
}

:host::ng-deep.ng-select .ng-select-container .ng-value-container .ng-input > input {
  color: white;
  box-sizing: content-box;
  background: none;
  border: 0;
  box-shadow: none;
  outline: 0;
  cursor: default;
  padding-left: 0px !important;
  width: 90%;
}
:host::ng-deep.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input {
  padding-left: 0px !important;
}
:host::ng-deep.ng-select .ng-select-container .ng-value-container {
  padding-left: 0px !important;
}
:host::ng-deep.ng-select.ng-select-single .ng-select-container .ng-value-container,
.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-value {
  font-size: 14px !important;
}
.ng-select-custom-header {
  cursor: pointer;
}
:host::ng-deep .ng-dropdown-panel {
  text-align: left !important;
  font-size: 15px !important;
  width: auto;
}
::ng-deep.custom-ngselect-content {
  .ng-dropdown-panel-items {
    width: 250px;
  }
}
::ng-deep.ng-dropdown-panel .ng-dropdown-header{
  width: 250px;
  background-color: white;
}
::ng-deep.all-input .mat-checkbox-layout .mat-checkbox-inner-container {
  width: 12px;
  height: 12px;
  margin-left: 7px;
}
::ng-deep.all-input .mat-checkbox-layout .mat-checkbox-inner-container .mat-checkbox-background {
  background-color: transparent;
}

::ng-deep.all-input
  .mat-checkbox-layout
  .mat-checkbox-inner-container
  .mat-checkbox-background
  .mat-checkbox-checkmark
  .mat-checkbox-checkmark-path {
  stroke: black !important;
}
:host::ng-deep.ng-select .ng-dropdown-panel {
  text-align: left !important;
  font-size: 15px !important;
}
:host::ng-deep.ng-select.ng-select-multiple .ng-select-container .ng-value-container {
  flex-wrap: nowrap !important;
}
:host::ng-deep.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
  background-color: transparent;
  color: white;
}
:host::ng-deep.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value:not(:nth-last-child(2))::after {
  content: ',';
}
:host::ng-deep.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-icon {
  display: none;
}

:host::ng-deep.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-placeholder {
  font-size: 16px;
}