<div class="p-grid" *ngIf="isWaitingForResponse" class="p-col-12" style="text-align: center !important; display: contents">
  <div class="center-spinner spinner-wrapper">
    <mat-spinner color="accent"></mat-spinner>
  </div>
</div>
<div *ngIf="!isWaitingForResponse" class="detail-school">
  <div class="p-grid no-margin no-padding">
    <div class="scholar-school">
      <div class="class-scholar">
        <ng-select
          [appendTo]="'body'"
          class="mrgn-btn"
          [items]="scholars"
          bindLabel="scholar_season"
          bindValue="_id"
          [multiple]="false"
          placeholder="{{ 'CARDDETAIL.Scholar Season' | translate }}"
          [formControl]="scholarFilter"
          (change)="selectScholar()"
        >
        </ng-select>
      </div>
    </div>
    <div class="title-school">
      <div class="school-name">
        <div class="class-scholar">
          <ng-select
            [appendTo]="'body'"
            class="mrgn-btn"
            [items]="schoolList"
            bindLabel="short_name"
            bindValue="_id"
            [multiple]="false"
            placeholder="{{ 'School' | translate }}"
            [formControl]="schoolFilter"
            (change)="selectSchool()"
            (clear)="clearSchool()"
          >
          </ng-select>
        </div>
        <!-- {{ schoolData?.short_name ? schoolData?.short_name : '-' }} -->
      </div>
    </div>
    <div class="button-action p-col">
      <button
        mat-raised-button
        color="accent"
        (click)="goToSetUp()"
        matTooltip="{{ 'Set up conditions' | translate }}"
        [disabled]="!schoolFilter.value || setupDisabled"
      >
        {{ 'Set up conditions' | translate }}
      </button>
    </div>
  </div>
  <div class="table-school" *ngIf="dataSchoolOriginal && dataSchoolOriginal.length" (scroll)="dashboardScroll($event)">
    <div class="detail-table">
      <div class="list-headers">
        <div class="label-array" style="padding: 0px !important">
          <div class="label-level-first">{{ 'Level' | translate }}</div>
          <div class="label-school-first">Campus</div>
        </div>
      </div>
      <div class="list-body">
        <div class="list-level fixed-header">
          <div class="label-array"></div>
          <div class="array-data" style="padding: 0px !important" *ngFor="let school of schoolData?.campuses">
            <div class="label-list-schools">{{ school.name }}</div>
            <div class="label-sub-school">
              <!-- <div class="label-sub" style="font-weight: 600">{{ 'Internal' | translate }}</div>
                <div class="label-sub" style="color: #dcdcdc">{{ 'External' | translate }}</div> -->
            </div>
          </div>
        </div>
        <div class="list-level" *ngFor="let level of schoolData?.levels; let nex = index">
          <div class="label-array" style="height: 20px !important; padding: 0px 5px !important">
            <div class="label-level">{{ getNameLevel(level.name) }}</div>
          </div>
          <div *ngIf="dataMapping && dataMapping.length">
            <div class="array-data" *ngFor="let school of schoolData?.campuses; let n = index">
              <div *ngFor="let data of dataMapping">
                <div *ngIf="(data.campus | lowercase) === (school.name | lowercase) && (data.level | lowercase) === (level.name | lowercase)">
                  <div class="list-data">
                    <div>
                      <div *ngIf="data?.condition_agreement" class="registereds">
                        <mat-icon class="mat-icon-status green" aria-hidden="true">lens </mat-icon>
                      </div>
                      <div *ngIf="!data?.condition_agreement" class="registereds">
                        <mat-icon class="mat-icon-status red" aria-hidden="true">lens </mat-icon>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
