// @import '~assets/scss/theme/admtc.variables';
// @import '~assets/scss/theme/admtc';


#certifier {
  margin-left: 20px;
}
.mat-form-field {
  padding-left: 0.5rem !important;
}
.pad-top-miss {
  padding-top: 1.8px !important;
}
.form-field {
  margin-top: 0.5px;
}

// :host ::ng-deep table {
//   tr {
//     td,
//     th {
//       border-right: 1px solid gray;
//     }
//   }
// }

.action-header-column {
  vertical-align: middle !important;
  padding-right: 0 !important;
  .p-grid {
    margin-top: unset !important;
  }
}


.header-form {
  padding: 18px;
}

.footer-form {
  padding: 0px 18px 18px 18px;
}

.not-empty-select.mat-selected {
  color: #37474F !important;
}

.selectDrop{
  padding-bottom: 1.25em;
}

// .ng-dropdown-panel .ng-dropdown-panel-items {
//   max-height: 70px !important;
// }

:host::ng-deep .ng-select.custom  .ng-select-container  {            
  min-height: 0px;
  border-radius: 0;
  max-height: 200px;
}

:host::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items {
  display: block;
  height: auto;
  box-sizing: border-box;
  max-height: 200px;
  overflow-y: auto;
}

.pad-b-10 {
  padding-bottom: 10px !important;
}

.text-align-center {
  text-align: center;
}

.col-width {
  width: 150px;
  text-align: center;
}