@import '~assets/scss/theme/admtc.variables';
@import '~assets/scss/theme/admtc';

:host ::ng-deep table {
  tr {
    td,
    th {
      border-right: 1px solid $grey;
      &:nth-child(1) {
        width: 3%;
        padding-left: 0 !important;
        text-align: center !important;
      }

      &:nth-child(2) {
        width: 15%;
        padding-left: 0.5rem !important;
        padding-right: 0.5rem !important;
        text-align: left !important;
        .mat-form-field {
          width: 90%;
        }
      }
      &:nth-child(3) {
        width: 15%;
        padding-left: 0.5rem !important;
        padding-right: 0.5rem !important;
        text-align: left !important;
        .mat-form-field {
          width: 90%;
        }
      }
      &:nth-child(4) {
        width: 15%;
        padding-left: 0.5rem !important;
        padding-right: 0.5rem !important;
        text-align: left !important;
        .mat-form-field {
          width: 90%;
        }
      }

      &:nth-child(5) {
        width: 4%;
        min-width: 120px;
        max-width: 120px;
        padding-left: 0.7rem !important;
        padding-right: 0.7rem !important;
        text-align: center !important;
      }
    }

    td {
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 0;
      white-space: nowrap;
      padding-top: 0.5em;
      padding-bottom: 0.5em;
    }

    th {
      vertical-align: top;
      .mat-form-field-infix {
        width: unset !important;
      }
    }

    &:nth-child(2) {
      th {
        padding-top: 0.9em;
      }
    }
  }

  thead tr {
    &:nth-child(2) {
      height: 35px;
    }
    &:nth-child(2),
    &:nth-child(3) {
      background: $light-black;
      th {
        color: $white;
      }
    }
  }
}
.action-header-column {
  vertical-align: middle !important;
  padding-right: 0 !important;
  .p-grid {
    margin-top: unset !important;
  }
}
.no-records {
  background-color: #424242;
  font-size: 14px;
  padding: 10px 12px;
  border-right: 1px solid #545454;
  border-bottom: 1px solid #545454;
}
.icon-menu {
  width: 20px !important;
  font-size: 20px;
  margin: -5px 0px 0px -3px !important;
}
.icon-menu-add {
  font-size: 22px !important;
  width: 20px !important;
  margin: -4px 0px 0px -4px !important;
}
.border-button{
  border-bottom: 1px solid #dadada;
}
