.card-document {
  display: block;
  width: 100%;
  padding: 12px;
  background-color: #283d50;
  color: white;
}

.msg-pay {
  margin-top: 15px !important;
  font-weight: 600;
  font-size: 22px;
}

.no-margin {
  margin: 0px;
}

.pdf-icon {
  vertical-align: top;
  margin-top: 2px;
}
p {
  margin: 0px !important;
}
.revision-box-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}
.mat-table {
  background: #ffffff !important;
  box-shadow: none !important;
  border: 1px solid #c9c9c9 !important;
}
th.mat-header-cell {
  background: #c9c9c9 !important;
}
.signature-box {
  display: flex;

  div {
    margin-left: 1rem;
  }
}

.pdf-document {
  padding: 15px;
  background-color: white;
  color: black;
}

.content-terms {
  text-align: justify;
}

.full-width {
  width: 66.67%;

  .p-grid {
    .p-col-4 {
      width: 25% !important;
    }

    .p-col-8 {
      width: 50% !important;
    }
  }
}

.justify-end {
  justify-content: flex-end;
}

.justify-start {
  justify-content: flex-start;
}

.right-end {
  margin-left: auto;
}

.left-end {
  margin-right: auto;
}

.half-width {
  width: 50%;
}

.p-col-4 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  overflow-wrap: anywhere;
}

.ql-editor {
  margin: 1rem auto;
}

.container-view-lanscape {
  iframe {
    height: 600px;
    width: 100%;
  }
}

.step-title {
  text-align: center;
  background-color: #c9c9c9 !important;
  padding-left: 0px;
  padding-left: 0px;
  padding-right: 0px;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  -webkit-print-color-adjust: exact;
}

.segment-title {
  padding-left: 0px;
  padding-left: 0px;
  padding-right: 0px;
  border-bottom: 1px solid black;
  -webkit-print-color-adjust: exact;
}

.document-question-label {
  cursor: pointer;
  color: blue;
}

.header {
  margin-bottom: 15px;
}
:host ::ng-deep .mat-paginator-outer-container {
  // background-color: $light-black;
  color: black;
}

:host ::ng-deep table {
  border-collapse: inherit;
  tr {
    td,
    th {
      border-right: 1px solid black;
      &:nth-child(1) {
        width: 10%;
        text-align: center !important;
      }

      &:nth-child(2) {
        width: 10%;
        text-align: center !important;
        padding-left: 0.5rem !important;
        .mat-form-field {
          width: 90%;
        }
      }

      &:nth-child(3) {
        width: 10%;
        padding-left: 0.5rem !important;
        padding-right: 0.5rem !important;
        text-align: center !important;
      }

      &:nth-child(4) {
        width: 10%;
        text-align: center !important;
        padding-left: 0.5rem !important;
        padding-right: 0.5rem !important;
        .mat-form-field {
          width: 90%;
        }
      }

      &:nth-child(5) {
        width: 10%;
        padding-left: 0.5rem !important;
        padding-right: 0.5rem !important;
        text-align: center !important;
      }

      &:nth-child(6) {
        width: 10%;
        min-width: 90px;
        max-width: 90px;
        padding-left: 0.7rem !important;
        padding-right: 0.7rem !important;
        text-align: center !important;
      }

      &:nth-child(7) {
        width: 10%;
        min-width: 90px;
        max-width: 90px;
        padding-left: 0.7rem !important;
        padding-right: 0.7rem !important;
        text-align: center !important;
      }
    }

    td {
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 0;
      white-space: nowrap;
      padding-top: 0.5em;
      padding-bottom: 0.5em;
      color: black;
    }

    // th {
    //   vertical-align: top;
    //   .mat-form-field-infix {
    //     width: unset !important;
    //   }
    // }

    &:nth-child(2) {
      th {
        padding-top: 0.9em;
      }
    }
  }

  thead tr {
    th {
      color: black;
    }
    &:nth-child(1) {
      height: 35px;
    }
    &:nth-child(1),
    &:nth-child(2) {
      // background: light-black;
      // th {
      //   color: white;
      // }
    }
  }
}

.action-header-column {
  vertical-align: middle !important;
  padding-right: 0 !important;
  .p-grid {
    margin-top: unset !important;
  }
}

.left-margin {
  margin-left: 3%;
}

.cursor-pointer {
  cursor: pointer;
}

.pc-section {
  width: 50%;
  text-align: right;
  padding-right: 5px;
  display: inline-block;
}

.cr-section {
  width: 50%;
  text-align: left;
  display: inline-block;
}

.no-records {
  background-color: #424242;
  font-size: 14px;
  padding: 10px 12px;
  border-right: 1px solid #545454;
  border-bottom: 1px solid #545454;
}

// old style
.add_button {
  // margin-right: 0;
  float: right;
}

.info p {
  display: inline-block;
  margin: 0;
  span {
    margin-right: 1rem;
  }
}

h5 {
  margin: 0;
}

.form-field {
  margin-top: 6px;
}

.no-records {
  background-color: #424242;
  font-size: 14px;
  padding: 10px 12px;
  border-right: 1px solid #545454;
  border-bottom: 1px solid #545454;
  color: white;
}

.separator {
  height: 5px;
  background-color: darkgray;
  margin-top: 1rem;
  margin-bottom: 0.8rem;
}
