@import '~assets/scss/theme/admtc.variables';
@import '~assets/scss/theme/admtc';

#certifier {
  margin-left: 20px;
}
.finance-table table {
  border-collapse: unset !important;
}
td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type,
th.mat-header-cell:first-of-type {
  padding-left: 0px;
}
.bg-orange {
  background-color: #eaa11c !important;
}
.horizontal {
  overflow: auto;
  overflow-y: hidden;
  background: #424242;
}
.horizontal::-webkit-scrollbar-track {
  background: #212121;
}
.horizontal::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: #eaa11c !important;
}
.mat-form-field {
  padding-left: 0.5rem !important;
}
.pad-top-miss {
  padding-top: 1.8px !important;
}
.form-field {
  margin-top: 0.5px;
}
.tag-container {
  white-space: normal;
  text-align: left !important;
  line-height: 2.3;
  overflow-wrap: break-word;
}

.mat-column-intakeChannel,
.mat-column-intakeChannelFilter {
  z-index: 999 !important;
  box-shadow: 1px 1px 0px 0px #545454;
}

.mat-column-season,
.mat-column-seasonFilter {
  z-index: 999 !important;
  box-shadow: 1px 1px 0px 0px #545454;
}

.mat-column-school,
.mat-column-schoolFilter {
  z-index: 999 !important;
  box-shadow: 1px 1px 0px 0px #545454;
}

.mat-column-campus,
.mat-column-campusFilter {
  z-index: 999 !important;
  box-shadow: 1px 1px 0px 0px #545454;
}

.mat-column-level,
.mat-column-levelFilter {
  z-index: 999 !important;
  box-shadow: 1px 1px 0px 0px #545454;
}

.mat-column-sector,
.mat-column-sectorFilter {
  z-index: 999 !important;
  box-shadow: 1px 1px 0px 0px #545454;
}

.mat-column-flyers,
.mat-column-flyersFilter {
  z-index: 999 !important;
  box-shadow: 1px 1px 0px 0px #545454;
}

.mat-column-condition,
.mat-column-conditionFilter {
  z-index: 999 !important;
  box-shadow: 1px 1px 0px 0px #545454;
}

.mat-column-speciality,
.mat-column-specialityFilter {
  z-index: 999 !important;
  box-shadow: 1px 1px 0px 0px #545454;
}

:host::ng-deep.ng-select .ng-select-container {
  background-color: #fff0;
  color: #fff;
  border: none;
  border-radius: 0px !important;
  border-bottom: 1px solid #8c8c8c !important;
  min-height: 36px;
  -webkit-box-align: center;
  align-items: center;
}

:host ::ng-deep table {
  overflow: auto;
  tr {
    td,
    th {
      border-right: 1px solid $grey;
      text-align: center !important;

      &:nth-child(1) {
        padding-right: 3px;
        width: 3%;
        padding-left: 3px !important;
        text-align: center !important;
        .mat-form-field {
          width: 80%;
        }
      }

      &:nth-child(2) {
        width: 15%;
        padding-left: 8px !important;
        text-align: left !important;
        min-width: 100px;
        .mat-form-field {
          width: 80%;
        }
      }

      &:nth-child(3) {
        width: 10%;
        max-width: 100px;
        min-width: 100px;
        padding-left: 0.5rem !important;
        .mat-form-field {
          width: 80%;
        }
      }

      &:nth-child(4) {
        width: 10%;
        max-width: 90px;
        min-width: 90px;
        padding-left: 0px !important;
        text-align: center !important;
        .mat-form-field {
          width: 80%;
        }
      }

      &:nth-child(5) {
        width: 10%;
        min-width: 90px;
        padding-left: 0px !important;
        text-align: center !important;
        .mat-form-field {
          width: 80%;
        }
      }

      &:nth-child(6) {
        width: 7%;
        min-width: 80px;
        padding-left: 0px !important;
        text-align: center !important;
        .mat-form-field {
          width: 80%;
        }
      }

      &:nth-child(7) {
        width: 10%;
        min-width: 110px;
        padding-left: 8px !important;
        text-align: left !important;
        .mat-form-field {
          width: 80%;
        }
      }
      &:nth-child(8) {
        width: 10%;
        min-width: 110px;
        padding-left: 8px !important;
        text-align: left !important;
        .mat-form-field {
          width: 80%;
        }
      }

      &:nth-child(9) {
        width: 5%;
        min-width: 105px;
        padding-left: 0px !important;
        text-align: center !important;
        .mat-form-field {
          width: 80%;
        }
      }

      &:nth-child(10) {
        width: 5%;
        min-width: 105px;
        padding-left: 0px !important;
        text-align: center !important;
        .mat-form-field {
          width: 80%;
        }
      }

      &:nth-child(11) {
        width: 7%;
        min-width: 75px;
        padding-left: 0px !important;
        text-align: center !important;
        .mat-form-field {
          width: 80%;
        }
      }

      &:nth-child(12) {
        width: 7%;
        min-width: 75px;
        padding-left: 0px !important;
        text-align: center !important;
        .mat-form-field {
          width: 80%;
        }
      }

      &:nth-child(13) {
        width: 13%;
        min-width: 105px;
        padding-left: 0px !important;
        text-align: center !important;
        .mat-form-field {
          width: 80%;
        }
      }

      &:nth-child(14) {
        width: 105px;
        min-width: 105px;
        border-left: 1px solid $grey;
        padding-left: 0.7rem !important;
        padding-right: 0.7rem !important;
      }

      &:nth-child(15) {
        width: 105px;
        min-width: 105px;
        border-left: 1px solid $grey;
        padding-left: 0.7rem !important;
        padding-right: 0.7rem !important;
      }
    }

    td {
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 0;
      white-space: nowrap;
      padding-top: 0.5em;
      padding-bottom: 0.5em;
    }

    th {
      .mat-form-field-infix {
        width: unset !important;
      }
    }

    &:nth-child(2) {
      th {
        padding-top: 0.9em;
      }
    }
  }

  thead tr {
    &:nth-child(2) {
      height: 35px;
      // border-bottom: 4px solid #607d8b;
      border-right: 4px solid #607d8b;
    }
    &:nth-child(1),
    &:nth-child(2) {
      background: $light-black;
      th {
        color: $white;
      }
    }
  }
  tbody tr {
    border-left: 4px solid #607d8b;
    border-right: 4px solid #607d8b;
  }
}

.action-header-column {
  vertical-align: middle !important;
  padding-right: 0 !important;
  .p-grid {
    margin-top: unset !important;
  }
}

.left-margin {
  margin-left: 3%;
}

:host ::ng-deep .swal2-checkbox label,
.swal2-radio label {
  font-size: 1em !important;
}
.school-backdrop + .cdk-overlay-pane {
  .mat-dialog-container {
    overflow: visible;
  }
}

.mat-column-select {
  overflow: initial;
}

.cursor-pointer {
  cursor: pointer;
}

// .pc-section {
//   width: 50%;
//   text-align: right;
//   padding-right: 5px;
//   display: inline-block;
// }

// .cr-section {
//   width: 50%;
//   text-align: left;
//   display: inline-block;
// }

.no-records {
  background-color: #424242;
  font-size: 14px;
  padding: 10px 12px;
  border-right: 1px solid #545454;
  border-bottom: 1px solid #545454;
}
