<div class="p-grid" style="margin-bottom: 5px; border-bottom: 1px solid #4e4e4e">
  <div class="p-col-12" style="padding-left: 10px">
    <div style="width: 20px; float: left; padding: 4px 0px 0px 0px; margin-right: 10px">
      <span><mat-icon style="font-size: 16px">cloud_upload</mat-icon></span>
    </div>
    <div>
      <span class="titleImport">{{ 'Import of Payments' | translate }}</span>
      <button
        mat-button
        style="
          margin-left: 10px !important;
          line-height: 16px;
          margin: 0px;
          padding: 0px !important;
        "
        [matTooltip]="'Tutorial for this module' | translate"
        (click)="toggleSidebar()"
      >
      <img style="font-size: 16px; width: 65px; position: relative" [src]="tutorialIcon" />
      </button>
      <!-- <button
        mat-button
        style="
          margin-left: 10px !important;
          line-height: 16px;
          margin: 0px;
          padding: 0px !important;
          width: 16px !important;
          min-width: 16px;
        "
        [matTooltip]="'Tutorial for this module' | translate"
        (click)="viewTutorial($event)"
      >
        <mat-icon style="font-size: 16px;width: 19px;padding-top: 3px;" svgIcon="file-presentation-box"></mat-icon>
      </button> -->
    </div>
  </div>
</div>
<div class="p-grid">
  <div class="p-col-12" style="padding-left: 0px; padding-right: 0px">
    <!-- <ng-container *ngIf="isWaitingForResponse"> -->
    <div *ngIf="isWaitingForResponse" class="p-col-12" style="text-align: center !important; display: contents">
      <div class="center-spinner spinner-wrapper">
        <mat-spinner color="accent"></mat-spinner>
      </div>
    </div>
    <!-- </ng-container> -->

    <mat-card>
      <form [formGroup]="importForm">
        
        <div class="p-grid">
          <div class="p-col-7">
            <div class="p-grid baseline">
              <mat-label style="width: 25%">{{ 'Scholar Season' | translate }}</mat-label>
              <ng-select
                style="width: 75%"
                class="mrgn-btn"
                [items]="scholars"
                bindLabel="scholar_season"
                bindValue="_id"
                placeholder="{{ 'Scholar Season' | translate }}*"
                formControlName="scholar_season_id"
                (change)="getBillingEntities()"
                (clear)="onScholarClear()"
              >
              </ng-select>
            </div>
          </div>
        </div>

        <div class="p-grid">
          <div class="p-col-7">
            <div class="p-grid baseline">
              <mat-label style="width: 25%">{{ 'FINANCE_IMPORT.STEP_1.Billing Entity' | translate }}</mat-label>
              <ng-select
                style="width: 75%"
                class="mrgn-btn"
                [items]="billingEntities"
                bindLabel="legal_entity_name"
                bindValue="legal_entity_name"
                [multiple]="false"
                placeholder="{{ 'FINANCE_IMPORT.STEP_1.Billing Entity' | translate }}*"
                clearAllText="Clear"
                formControlName="billing_entity"
                (change)="getDataBank($event)"
              >
              </ng-select>
            </div>
          </div>
        </div>

        <div class="p-grid">
          <div class="p-col-7">
            <div class="p-grid baseline">
              <mat-label style="width: 25%">{{ 'FINANCE_IMPORT.STEP_1.Bank' | translate }}</mat-label>
              <ng-select
                style="width: 75%"
                class="mrgn-btn"
                [items]="bank"
                [multiple]="false"
                placeholder="{{ 'FINANCE_IMPORT.STEP_1.Bank' | translate }}*"
                clearAllText="Clear"
                formControlName="bank_name"
                [disabled]="isSchoolOn"
              >
              </ng-select>
            </div>
          </div>
        </div>

        <div class="p-grid">
          <div class="p-col-7">
            <div class="p-grid baseline">
              <mat-label style="width: 25%">{{ 'DELIMETER.title' | translate }}</mat-label>
              <mat-form-field style="width: 75%" floatLabel="never">
                <mat-select formControlName="delimiter" class="full-width">
                  <mat-option *ngFor="let deli of delimeter" [value]="deli.value">
                    {{ deli.key }}
                  </mat-option>
                </mat-select>
                <mat-error>{{ 'This field is required' | translate }}</mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="p-grid">
          <div class="p-col-7">
            <div class="p-grid baseline">
              <mat-label style="width: 25%">{{ 'Date' | translate }}</mat-label>
              <mat-form-field style="width: 75%" floatLabel="never">
                <input
                  matInput
                  (click)="myDatepickers.open()"
                  readonly
                  placeholder="{{ 'Date' | translate }}"
                  formControlName="date"
                  [matDatepicker]="myDatepickers"
                />
                <mat-datepicker-toggle matSuffix [for]="myDatepickers"></mat-datepicker-toggle>
                <mat-datepicker #myDatepickers></mat-datepicker>
                <mat-error>{{ 'This field is required' | translate }}</mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="p-grid">
          <div class="p-col-7" style="float: left">
            <div class="p-col-8" style="padding: 0.5em 0px; float: left">
              <label>{{ 'FINANCE_IMPORT.STEP_1.Download template' | translate }}</label>
            </div>
            <div class="p-col-4" style="padding: 0px; float: left; text-align: right">
              <button
                style="width: 200px"
                [disabled]="importForm.invalid || isWaitingForResponse"
                mat-raised-button
                color="accent"
                (click)="csvTypeSelection()"
                class="margin-right-0"
              >
                <mat-icon class="mat-icon-default">cloud_download</mat-icon>
                {{ 'FINANCE_IMPORT.STEP_1.Download template' | translate }}
              </button>
            </div>
          </div>
        </div>

        <div class="p-grid">
          <div class="p-col-7" style="float: left">
            <div class="p-col-3" style="padding: 0.5em 0px; float: left">
              <label>{{ 'DATA_FILE' | translate }}</label>
            </div>
            <div class="p-col-5" style="padding: 0.5em 0px; float: left">
              <span>{{ fileName }}</span>
            </div>
            <div class="p-col-4" style="padding: 0px; float: left; text-align: right">
              <input
                #importFile
                style="display: none"
                type="file"
                accept=".csv, .tsv"
                disableMultipart="true"
                (change)="handleInputChange($event)"
              />
              <button
                [disabled]="importForm.invalid || isWaitingForResponse"
                mat-raised-button
                color="accent"
                (click)="openUploadWindow()"
                class="margin-right-0"
                style="width: 200px"
              >
                <mat-icon class="mat-icon-default">cloud_upload</mat-icon>
                {{ 'FINANCE_IMPORT.STEP_1.Import Payment' | translate }}
              </button>
            </div>
          </div>
        </div>
      </form>
    </mat-card>
  </div>
</div>
<div class="p-grid mrgn-t-sm">
  <div class="p-col-12" style="text-align: right; padding: 0px">
    <button mat-raised-button color="warn" (click)="resetImport()">
      <mat-icon class="mat-icon-default">cancel</mat-icon>
      {{ 'CANCEL' | translate }}
    </button>
    <button mat-raised-button color="primary" [disabled]="isWaitingForResponse" (click)="resetImport()">
      <mat-icon svgIcon="loop" class="mat-icon-svgIcon"></mat-icon>
      {{ 'RESET' | translate }}
    </button>
    <button
      mat-raised-button
      color="accent"
      [disabled]="isWaitingForResponse || !importForm.valid || !file"
      (click)="submitImport()"
      class="margin-right-0"
    >
      <mat-icon class="mat-icon-default">cloud_upload</mat-icon>
      {{ 'Start Reconciliation' | translate }}
    </button>
  </div>
</div>
