<ms-filter-breadcrumb [filterBreadcrumbData]="filterBreadcrumbData" (removeFilterTrigger)="removeFilterBreadcrumb($event)"></ms-filter-breadcrumb>

<div class="top-space">
  <table
    mat-table
    [dataSource]="dataSource"
    matSort
    (matSortChange)="sortData($event)"
    class="mat-elevation-z8">
    <!-- ROW RESET START -->
    <ng-container matColumnDef="reset">
      <th mat-header-cell *matHeaderCellDef colspan="100%" class="action-header-column text-right">
        <div class="p-grid">
          <div class="p-col-12 text-right">
            <button
              matTooltip="{{ 'Action' | translate }} "
              style="padding: 0 7px !important"
              mat-raised-button
              color="accent"
              [disabled]="isWaitingForResponse"
              [matMenuTriggerFor]="action"
            >
              {{ 'Action' | translate }}
              <mat-icon>expand_more</mat-icon>
            </button>
            <mat-menu #action="matMenu">
              <button
                mat-menu-item
                matTooltip="{{ 'CONTRACT_MANAGEMENT.Template for Import' | translate }} "
                (click)="downloadModule()"
                class="border-button"  *ngIf="permission.templateImportModulePerm()"
              >
                <!-- <mat-icon class="icon-menu">description</mat-icon> -->
                {{ 'CONTRACT_MANAGEMENT.Template for Import' | translate }}
              </button>
              <button
                matTooltip="{{ 'Import Module' | translate }} "
                (click)="csvTypeSelectionUpload()"
                mat-menu-item
                class="border-button" *ngIf="permission.importModulePerm()"
              >
                <!-- <mat-icon class="icon-menu-add">add</mat-icon> -->
                {{ 'Import Module' | translate }}
              </button>
              <button mat-menu-item matTooltip="{{ 'course_sequence.Add module but with un' | translate }}" *ngIf="permission.addModulePerm()" (click)="addModule()">
                <!-- <mat-icon class="mat-icon-svgIcon" svgIcon="plus">plus</mat-icon> -->
                {{ 'course_sequence.Add module but with un' | translate }}
              </button>
            </mat-menu>
            <button
              mat-raised-button
              color="primary"
              (click)="getAllIdForCheckbox(0)"
              [disabled]="isWaitingForResponse"
              matTooltip="{{ 'course_sequence.Export' | translate }}"
              *ngIf="permission.exportModulePerm()"
            >
              <mat-icon svgIcon="file-excel" class="mat-icon-svgIcon"></mat-icon>
              {{ 'course_sequence.Export' | translate }}
            </button>
            <button
              mat-raised-button
              color="primary"
              (click)="resetTable()"
              [disabled]="isWaitingForResponse"
              matTooltip="{{ 'course_sequence.Reset' | translate }}"
              *ngIf="permission.resetModulePerm()"
            >
              <mat-icon svgIcon="loop" class="mat-icon-svgIcon"></mat-icon>
              {{ 'course_sequence.Reset' | translate }}
            </button>
          </div>
        </div>
      </th>
    </ng-container>
    <!-- ROW RESET END -->
    <!---ROW FILTER START-->
    <ng-container matColumnDef="select_filter">
      <th mat-header-cell *matHeaderCellDef></th>
    </ng-container>
    <ng-container matColumnDef="name_filter">
      <th mat-header-cell *matHeaderCellDef>
        <mat-form-field>
          <input matInput [formControl]="nameFilter" placeholder="{{ 'search' | translate }}" />
        </mat-form-field>
      </th>
    </ng-container>
    <ng-container matColumnDef="short_name_filter">
      <th mat-header-cell *matHeaderCellDef>
        <mat-form-field>
          <input matInput [formControl]="shortNameFilter" placeholder="{{ 'search' | translate }}" />
        </mat-form-field>
      </th>
    </ng-container>
    <ng-container matColumnDef="english_name_filter">
      <th mat-header-cell *matHeaderCellDef>
        <mat-form-field>
          <input matInput [formControl]="englishNameFilter" placeholder="{{ 'search' | translate }}" />
        </mat-form-field>
      </th>
    </ng-container>
    <ng-container matColumnDef="action_filter">
      <th mat-header-cell *matHeaderCellDef></th>
    </ng-container>
    <!--ROW FILTER END-->
    <!-- ROW HEADER AND CONTENT START -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef class="text-center">
        <mat-checkbox
          (change)="$event ? masterToggle() : null"
          (change)="showOptions('all', '')"
          [checked]="(selection.hasValue() && isAllSelected()) || isCheckedAll"
          [indeterminate]="selection.hasValue() && (dataUnselectUser?.length > 0 || !isAllSelected())"
          [aria-label]="checkboxLabel()"
        >
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row" class="text-center">
        <mat-checkbox
          (click)="$event.stopPropagation()"
          (change)="$event ? selection.toggle(row._id) : null"
          [checked]="selection.isSelected(row._id) || (isCheckedAll && !dataUnselectUser.includes(row?._id))"
          (change)="showOptions('one', row)"
          [aria-label]="checkboxLabel(row)"
        >
        </mat-checkbox>
      </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef matTooltip="{{ 'course_sequence.Name' | translate }}">
        <h5 mat-sort-header="name">{{ 'course_sequence.Name' | translate }}</h5>
      </th>
      <td mat-cell *matCellDef="let element" matTooltip="{{ element?.name }}">
        {{ element?.name }}
      </td>
    </ng-container>
    <ng-container matColumnDef="short_name">
      <th mat-header-cell *matHeaderCellDef matTooltip="{{ 'course_sequence.Short name' | translate }}">
        <h5 mat-sort-header="short_name">{{ 'course_sequence.Short name' | translate }}</h5>
      </th>
      <td mat-cell *matCellDef="let element" matTooltip="{{ element?.short_name }}">
        {{ element?.short_name }}
      </td>
    </ng-container>
    <ng-container matColumnDef="english_name">
      <th mat-header-cell *matHeaderCellDef matTooltip="{{ 'course_sequence.English name' | translate }}">
        <h5 mat-sort-header="english_name">{{ 'course_sequence.English name' | translate }}</h5>
      </th>
      <td mat-cell *matCellDef="let element" matTooltip="{{ element?.english_name }}">
        {{ element?.english_name }}
      </td>
    </ng-container>
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef matTooltip="{{ 'course_sequence.Action' | translate }}">
        <h5>{{ 'course_sequence.Action' | translate }}</h5>
      </th>
      <td mat-cell *matCellDef="let element">
        <button
          mat-icon-button
          class="margin-right-button"
          matTooltip="{{ 'course_sequence.Edit' | translate }}"
          matTooltipPosition="above"
          [disabled]="(dataSelected && dataSelected.length > 0) || isCheckedAll"
          (click)="editModule(element)"
          *ngIf="permission.editModulePerm()"
        >
          <mat-icon>edit</mat-icon>
        </button>
        <button
          mat-icon-button
          class="margin-right-button"
          matTooltip="{{ 'course_sequence.Delete' | translate }}"
          matTooltipPosition="above"
          [disabled]="(dataSelected && dataSelected.length > 0) || isCheckedAll"
          (click)="deleteModule(element?._id)"
          *ngIf="permission.deleteModulePerm()"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
    <!-- ROW HEADER AND CONTENT END -->
    <ng-container matColumnDef="loading">
      <th mat-header-cell *matHeaderCellDef colspan="100%" class="text-center">
        <div class="center-spinner">
          <mat-spinner color="accent"></mat-spinner>
        </div>
      </th>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="['reset']"></tr>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-header-row *matHeaderRowDef="filterColumns"></tr>
    <tr mat-header-row *matHeaderRowDef="['loading']" [hidden]="!isWaitingForResponse"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns" [hidden]="isWaitingForResponse"></tr>
  </table>
  <div *ngIf="noData | async" class="no-records">
    {{ 'NOT RECORD FOUND' | translate }}
  </div>
  <div [ngClass]="{ hide: noData | async }">
    <mat-paginator
      [ngClass]="{ 'hide-pagination-buttons': dataCount <= 10 }"
      [length]="dataCount"
      [hidePageSize]="true"
      [pageSize]="[10]"
      showFirstLastButtons
    ></mat-paginator>
  </div>
</div>
