<div class="dialog-border" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
  <div class="dialogTitleWrapper header-dialog">
    <div class="p-grid justify-content-between">
      <div class="no-padding">
        <mat-icon class="mat-icon-svgIcon" svgIcon="plus">plus</mat-icon>
        <h3 class="dialogTitle">{{ 'CONTRACT_MANAGEMENT.Add manual intervention' | translate }}</h3>
      </div>
      <div class="w-95 no-padding">
        <button mat-icon-button class="close-icon float-right" mat-dialog-close tabindex="-1">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="p-grid">
  <div class="p-col-12">
    <h4 class="text-margin">{{ 'You wish to add a new interventions' | translate }}</h4>
  </div>
  <div class="p-col-12">
    <div class="space-top">
        <div class="button-wrapper">
          <button (click)="gotoAddInterventionForm()" mat-raised-button color="accent" class="bth-half-width mr-5">
            {{ 'For a program' | translate }}
          </button>
          <!-- *************** will hide this button for now -->
          <!-- <button mat-raised-button color="accent">
            {{ 'Outside a program (DRE/DRI/DEV)' | translate }}
          </button> -->
        </div>
    </div>
  </div>
</div>
<div mat-dialog-actions class="justify-content-end mr-10">
  <button mat-raised-button type="button" color="warn" mat-dialog-close>{{ 'CANCEL' | translate }}</button>  
</div>
