@import '~assets/scss/theme/admtc.variables';
@import '~assets/scss/theme/admtc';

.form-field {
  margin-top: 6px;
}
td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type,
th.mat-header-cell:first-of-type {
  padding-left: 0px;
}

:host ::ng-deep table {
  tr {
    td,
    th {
      border-right: 1px solid $grey;
      padding-left: 0.5rem !important;

      .mat-form-field {
        width: 80%;
      }

      &:nth-child(1) {
        width: auto;
      }

      &:nth-child(2) {
        width: auto;
      }

      &:nth-child(3) {
        width: 50%;
      }

      &:nth-child(4) {
        width: 100px;
        text-align: center;
        padding: 0;
      }
    }

    td {
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 0;
      white-space: nowrap;
      padding-top: 0.5em;
      padding-bottom: 0.5em;
    }

    th {
      vertical-align: top;
      text-align: center;

      .mat-form-field-infix {
        width: unset !important;
      }
    }
    &:nth-child(2) {
      th {
        padding-top: 0.9em;
      }
    }
  }

  thead tr {
    &:nth-child(2) {
      height: 35px;
    }
    &:nth-child(2),
    &:nth-child(3) {
      background: $light-black;
      th {
        color: $white;
      }
    }
  }
}

.action-header-column {
  vertical-align: middle !important;
  padding-right: 0 !important;
  .p-grid {
    margin-top: unset !important;
  }
}

.horizontal {
  overflow: auto;
}

.icon-hand {
  cursor: pointer;
}

.no-records {
  background-color: #424242;
  font-size: 14px;
  padding: 10px 12px;
  border-right: 1px solid #545454;
  border-bottom: 1px solid #545454;
}

.center-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.red {
  color: #ff4040;
}
.green {
  color: #adff2f;
}
.orange {
  color: #f49f36;
}

:host::ng-deep.ng-select {
  margin-top: 0px;
}

::ng-deep {
  ng-dropdown-panel {
    width: fit-content !important;
  }
}

:host::ng-deep.ng-select .ng-select-container {
  background-color: #0000 !important;
  color: #fff !important;
  border-radius: 0px !important;
  border: 1px solid #0000 !important;
  border-bottom: 1px solid #ffffffad !important;
  min-height: 36px;
  padding: 0px !important;
  -webkit-box-align: center;
  align-items: center;
  width: 90%;
}
:host::ng-deep.ng-select .ng-select-container .ng-value-container .ng-input > input {
  color: white;
  box-sizing: content-box;
  background: none;
  border: 0;
  box-shadow: none;
  outline: 0;
  cursor: default;
  padding-left: 0px !important;
  width: 90%;
}
:host::ng-deep.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input {
  padding-left: 0px !important;
}
:host::ng-deep.ng-select .ng-select-container .ng-value-container {
  padding-left: 0px !important;
}
:host::ng-deep.ng-select.ng-select-single .ng-select-container .ng-value-container,
.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-value {
  font-size: 14px !important;
}
.ng-select-custom-header {
  cursor: pointer;
}

::ng-deep .custom-ngselect-dropdown{
  ng-dropdown-panel{
    width: fit-content !important;
  }  
}
