<ms-filter-breadcrumb [filterBreadcrumbData]="filterBreadcrumbData" (removeFilterTrigger)="removeFilterBreadcrumb($event)"></ms-filter-breadcrumb>

<div class="top-space">
  <div>
    <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)" class="mat-elevation-z8">
      <ng-container matColumnDef="reset">
        <th mat-header-cell *matHeaderCellDef colspan="100%" class="action-header-column text-right">
          <button mat-raised-button color="primary" (click)="resetAllFilter()" *ngIf="permission.resetNotificationManagementPerm()" matTooltip="{{ 'RESET' | translate }}">
            <mat-icon svgIcon="loop" class="mat-icon-svgIcon"></mat-icon>
            {{ 'RESET' | translate }}
          </button>
        </th>
      </ng-container>

      <!-- Start Filters ------------------------------------------------------------------------------------------------------------>

      <ng-container matColumnDef="moduleFilter">
        <th mat-header-cell *matHeaderCellDef>
          <ng-select
            aria-required="true"
            class="mrgn-btn custom-ngselect-dropdown"
            clearAllText="Clear"
            [appendTo]="'body'"
            (change)="onModuleSelect($event)"
            placeholder="{{ 'search' | translate }}"
            [formControl]="moduleFilter"
          >
            <ng-option value="AllS">{{ 'AllM' | translate }}</ng-option>
            <ng-option *ngFor="let module of filteredModules | async" [value]="module">
              {{ module | translate }}
            </ng-option>
          </ng-select>
          <!-- <mat-form-field floatLabel="never">
            <input
              matInput
              class="form-field"
              [formControl]="moduleFilter"
              [matAutocomplete]="modules"
              placeholder="{{ 'search' | translate }}"
            />
            <mat-autocomplete #modules="matAutocomplete" [displayWith]="displayTranslatedModules.bind(this)">
              <mat-option value="" (click)="onModuleSelect('AllS')">{{ 'AllM' | translate }}</mat-option>
              <mat-option *ngFor="let module of filteredModules | async" [value]="module" (click)="onModuleSelect(module)">
                {{ module | translate }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field> -->
        </th>
      </ng-container>

      <ng-container matColumnDef="referenceFilter">
        <th mat-header-cell *matHeaderCellDef>
          <ng-select
            aria-required="true"
            class="mrgn-btn custom-ngselect-dropdown"
            clearAllText="Clear"
            [appendTo]="'body'"
            (change)="onReferenceSelect($event)"
            placeholder="{{ 'search' | translate }}"
            [formControl]="referenceFilter"
          >
            <ng-option value="AllS">{{ 'AllM' | translate }}</ng-option>
            <ng-option *ngFor="let reference of filteredReferences | async" [value]="reference.notification_reference">
              {{ reference.notification_reference }}
            </ng-option>
          </ng-select>
          <!-- <mat-form-field floatLabel="never">
            <input
              matInput
              class="form-field"
              [formControl]="referenceFilter"
              [matAutocomplete]="referenceAuto"
              placeholder="{{ 'search' | translate }}"
            />
            <mat-autocomplete #referenceAuto="matAutocomplete">
              <mat-option value="" (click)="onReferenceSelect('AllS')">{{ 'AllM' | translate }}</mat-option>
              <mat-option
                *ngFor="let reference of filteredReferences | async"
                [value]="reference.notification_reference"
                (click)="onReferenceSelect(reference.notification_reference)"
              >
                {{ reference.notification_reference }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field> -->
        </th>
      </ng-container>

      <ng-container matColumnDef="whenFilter">
        <th mat-header-cell *matHeaderCellDef></th>
      </ng-container>

      <ng-container matColumnDef="actionFilter">
        <th mat-header-cell *matHeaderCellDef></th>
      </ng-container>

      <!-- Start Data Rows ------------------------------------------------------------------------------------------------------------>

      <ng-container matColumnDef="module">
        <th mat-header-cell *matHeaderCellDef matTooltip="{{ 'Module' | translate }}" matTooltipPosition="above">
          <div mat-sort-header="module">
            <h5>{{ 'Module' | translate }}</h5>
          </div>
        </th>
        <td
          mat-cell
          *matCellDef="let element"
          matTooltip="{{ 'Table_Notification.' + element?.notification_reference | translate }}"
          matTooltipPosition="above"
        >
          <a>{{ 'Table_Notification.' + element?.notification_reference | translate }} </a>
        </td>
      </ng-container>

      <ng-container matColumnDef="reference">
        <th mat-header-cell *matHeaderCellDef matTooltip="{{ 'Notification Reference' | translate }}" matTooltipPosition="above">
          <div mat-sort-header="notification_reference">
            <h5>{{ 'Notification Reference' | translate }}</h5>
          </div>
        </th>
        <td mat-cell *matCellDef="let element" matTooltip="{{ element?.notification_reference }}" matTooltipPosition="above">
          <a> {{ element?.notification_reference }} </a>
        </td>
      </ng-container>

      <ng-container matColumnDef="when">
        <th mat-header-cell *matHeaderCellDef matTooltip="{{ 'When' | translate }}" matTooltipPosition="above">
          <div>
            <h5>{{ 'When' | translate }}</h5>
          </div>
        </th>
        <td mat-cell *matCellDef="let element" matTooltip="{{ element?.when | translate }}" matTooltipPosition="above">
          <a> {{ element?.when | translate }} </a>
        </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef matTooltip="{{ 'Action' | translate }}" matTooltipPosition="above">
          <h5>{{ 'Action' | translate }}</h5>
        </th>
        <td mat-cell *matCellDef="let element; let i = index">
          <button
            mat-icon-button
            class="margin-right-button"
            matTooltip="{{ 'Edit' | translate }}"
            (click)="goToNotificationDetail(element)"
            *ngIf="permission.editNotificationManagement()"
          >
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="loading">
        <th mat-header-cell *matHeaderCellDef colspan="100%" class="text-center">
          <div class="center-spinner">
            <mat-spinner color="accent"></mat-spinner>
          </div>
        </th>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="['reset']"></tr>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-header-row *matHeaderRowDef="filterColumns"></tr>
      <tr mat-header-row *matHeaderRowDef="['loading']" [hidden]="!isWaitingForResponse"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns" [hidden]="isWaitingForResponse"></tr>
    </table>
    <div *ngIf="noData | async" class="no-records" [ngClass]="{ hide: isWaitingForResponse }">
      {{ 'NOT RECORD FOUND' | translate }}
    </div>
    <div [ngClass]="{ hide: noData | async }">
      <mat-paginator
        [ngClass]="{ 'hide-pagination-buttons': dataCount <= 10 }"
        [length]="dataCount"
        [hidePageSize]="true"
        [pageSize]="[10]"
        showFirstLastButtons
      ></mat-paginator>
    </div>
  </div>
</div>

<div *ngIf="isPageLoading" class="loading-indicator">
  <mat-progress-spinner mode="indeterminate" color="accent"></mat-progress-spinner>
</div>
