<!-- TODO FIX When Admission Channel and Speciality connect -->
<div class="dialog-border">
  <div class="dialogTitleWrapper">
    <div class="p-grid">
      <div class="w-30 no-padding">
        <mat-icon style="vertical-align: middle">add</mat-icon>
      </div>
      <div class="p-col-10 acad-title">
        <h3 class="dialogTitle">
          {{ 'ADMISSION.TABLE_SPECIALITY.Speciality' | translate }}
        </h3>
      </div>
      <div class="w-65 no-padding">
        <button mat-icon-button class="close-icon float-right" mat-dialog-close tabindex="-1">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
<form [formGroup]="identityForm">
  <div class="fontColor">
    <mat-dialog-content>
      <div class="p-grid">
        <div class="p-col-12 no-padding">
          <div class="p-grid">
            <div class="p-col-fixed center-label no-padding-left label-align" style="width: 165px">
              <label>{{ 'Filliere name' | translate }}</label>
            </div>
            <div class="p-col no-padding">
              <mat-form-field floatLabel="never">
                <input [readonly]="identityForm.value" matInput formControlName="intake_channel" type="text" placeholder="{{ 'Filliere name' | translate }}" />
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
      <div class="p-grid">
        <div class="p-col-12 no-padding">
          <div class="p-grid">
            <div class="p-col-fixed center-label no-padding-left label-align" style="width: 165px">
              <label>{{ 'Speciality Sigle' | translate }}</label>
            </div>
            <div class="p-col no-padding">
              <mat-form-field floatLabel="never">
                <input readonly matInput formControlName="school" type="text" placeholder="{{ 'Speciality Sigle' | translate }}" />
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
      <div class="p-grid">
        <div class="p-col-12 no-padding">
          <div class="p-grid">
            <div class="p-col-fixed center-label no-padding-left label-align" style="width: 165px">
              <label>{{ 'Description' | translate }}</label>
            </div>
            <div class="p-col no-padding">
              <mat-form-field floatLabel="never">
                <input [readonly] matInput formControlName="season" type="text" placeholder="{{ 'Filliere name' | translate }}" />
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
      <div class="p-grid">
        <div class="p-col-12 no-padding">
          <div class="p-grid">
            <div class="p-col-fixed center-label no-padding-left label-align" style="width: 165px">
              <label>{{ 'Program' | translate }}</label>
            </div>
            <div class="p-col no-padding">
              <mat-form-field floatLabel="never">
                <input [readonly] matInput formControlName="level" type="text" placeholder="{{ 'Filliere name' | translate }}" />
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions align="right">
      <button mat-raised-button type="button" color="primary" mat-dialog-close>{{ 'CLOSE' | translate }}</button>
      <!-- <button mat-raised-button color="primary" (click)="submitVerification()">{{ 'Validate' | translate }}</button> -->
    </mat-dialog-actions>
  </div>
</form>
