@import '~assets/scss/theme/admtc.variables';
@import '~assets/scss/theme/admtc';


.hidden {
  display: none !important;
}
.button-grey {
    background-color: #607D8B;
    color: white;
}
.align-bullhorn {
    vertical-align: text-top ;
}
:host::ng-deep.mat-radio-button {
    color: inherit;
}
.disable {
    color: #607D8B !important;
}

:host::ng-deep.p-grid {
    margin-bottom: 10px;
}

:host::ng-deep.validation-step {
    height: 100%;
    width: 100%;
    background: #3F3F3F;
    border-radius: 1%;
    padding: 4%;
    position: relative;
    .title1, .title2{
      height: auto;
      width: 100%;
      text-align: center;
      padding: 2%;
      line-height: normal;
    }
    .title2 {
      position: absolute;
      bottom: 16%;
      width: 90%;

    }
    .media-container {
      position: relative;
      align-self: center;
      padding: 1% 2%;
      iframe {
        width: 100% !important;
        height: auto !important;
      }
      img {
          width: 100%;
          height: auto;
      }
      div.no-content {
        text-align: center;
        font-size: 2em;
        border: dashed 3px;
        padding: 2em;
      }
    }
    .close-icon {
      right: -3% !important;
      margin: 0em !important;
      position: absolute !important;
      top: -4% !important;
    }
    .grey {
        background-color: #607D8B;
        color: white;
    }
    .actions {
      position: absolute;
      bottom: 5% !important;
      width: 90%;
      .mat-dialog-actions{
        display: flex;
        padding-top: 14px;
        -webkit-box-pack: end;
        justify-content: space-between;
      }
    }
}