@import '~assets/scss/theme/admtc.variables';
@import '~assets/scss/theme/admtc';

.form-field {
  margin-top: 6px;
}
.person-image {
  display: inline-block;
  margin-right: 0px;
  height: 18px;
  width: 18px;
  vertical-align: baseline;
}
.flag-icon {
  vertical-align: text-top;
  height: 17px;
  width: 17px;
}
img.engagement-level-icon {
  height: 15px;
  width: 15px;
  display: inline;
  margin: 0;
}
.swal2-content {
  height: 270px !important;
}
:host::ng-deep.swal2-content {
  height: 270px !important;
}
td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type,
th.mat-header-cell:first-of-type {
  padding-left: 0px;
}

th.mat-header-cell {
  h5 {
    align-items: center;
    font-size: 10pt;
  }
}

table.mat-table {
  width: 100%;
}
.select-search-filter {
  width: 100%;
  height: 2rem;
  padding-left: 9%;
  padding-right: 7px;
}
:host ::ng-deep div#cdk-overlay-1,
.cdk-overlay-pane {
  width: 180px !important;
}
:host ::ng-deep table {
  tr {
    td,
    th {
      align-items: center !important;
      border-right: 1px solid $grey;
      padding: 4px !important;
      &:nth-child(1) {
        width: 2%;
      }
      &:nth-child(2) {
        width: 7%;
        font-size: 11px;
        text-align: center;
        .mat-form-field {
          padding-top: 6px;
          width: 80%;
        }
      }
      &:nth-child(3) {
        width: 13%;
        font-size: 11px;
        .mat-form-field {
          padding-top: 6px;
          width: 100%;
        }
      }
      &:nth-child(4) {
        width: 13%;
        font-size: 11px;
        text-align: left;
        .mat-form-field {
          padding-top: 6px;
          width: 80%;
        }
      }
      &:nth-child(5) {
        width: 13%;
        font-size: 11px;
        .mat-form-field {
          padding-top: 6px;
          width: 80%;
        }
      }

      &:nth-child(6) {
        width: 13%;
        font-size: 11px;
        .mat-form-field {
          padding-top: 6px;
          width: 80%;
        }
      }
      &:nth-child(7) {
        text-align: center !important;
        width: 7%;
        font-size: 11px;
        .mat-form-field {
          padding-top: 6px;
          width: 80%;
        }
      }

      &:nth-child(8) {
        width: 7%;
        font-size: 11px;
        text-align: center;
        .mat-form-field {
          padding-top: 6px;
          width: 80%;
        }
      }
      &:nth-child(9) {
        width: 7%;
        font-size: 11px;
        text-align: center;
        .mat-form-field {
          padding-top: 6px;
          width: 80%;
        }
      }

      &:nth-child(10) {
        width: 7%;
        font-size: 11px;
        text-align: center;
        .mat-form-field {
          padding-top: 6px;
          width: 80%;
        }
      }
      &:nth-child(11) {
        width: 7%;
        font-size: 11px;
        text-align: center;
        .mat-form-field {
          padding-top: 6px;
          width: 80%;
        }
      }
      &:nth-child(12) {
        width: 20%;
        font-size: 11px;
        text-align: center;
        min-width: 75px;
        .mat-form-field {
          width: 90%;
        }
      }

      &:nth-child(13) {
        width: 2%;
        min-width: 25px !important;
        padding-left: 0px !important;
        padding-right: 0px !important;
        text-align: center;
        .mat-form-field {
          padding-top: 6px;
          width: 100%;
        }
      }
      &:nth-child(14) {
        width: 2%;
        min-width: 25px !important;
        padding-left: 0px !important;
        padding-right: 0px !important;
        text-align: center;
        .mat-form-field {
          padding-top: 6px;
          width: 100%;
        }
      }

      &:nth-child(15) {
        width: 2%;
        min-width: 25px !important;
        padding-left: 0px !important;
        padding-right: 0px !important;
        text-align: center;
        .mat-form-field {
          padding-top: 6px;
          width: 100%;
        }
      }

      &:nth-child(16) {
        width: 2%;
        min-width: 25px !important;
        padding-left: 0px !important;
        padding-right: 0px !important;
        text-align: center;
      }
      &:nth-child(17) {
        width: 2%;
        min-width: 25px !important;
        padding-left: 0px !important;
        padding-right: 0px !important;
        text-align: center;
      }
      &:nth-child(18) {
        width: 2%;
        min-width: 25px !important;
        padding-left: 0px !important;
        padding-right: 0px !important;
        text-align: center;
      }
      &:nth-child(19) {
        width: 2%;
        min-width: 25px !important;
        padding-left: 0px !important;
        padding-right: 0px !important;
        text-align: center;
        .mat-form-field {
          padding-top: 6px;
          width: 100%;
        }
      }
      &:nth-child(20) {
        width: 20%;
        max-width: 175px !important;
        min-width: 175px !important;
        text-align: center !important;
      }
    }
    td {
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 0;
      white-space: nowrap;
      padding-top: 0.5em;
      padding-bottom: 0.5em;
      &:nth-child(20) {
        .margin-right-button {
          margin-right: 3px;
        }
        .mat-icon-button {
          height: 24px !important;
          width: 24px !important;
        }
        .mat-icon {
          font-size: 16px;
          width: 18px !important;
        }
      }
      * {
        vertical-align: middle;
      }
      .mat-icon-status {
        font-size: 14px;
        text-align: center;
        vertical-align: middle;
        padding-right: 0px;
      }
    }

    th {
      align-items: center;
      text-align: center !important;
      font-size: 10pt !important;
      .mat-form-field-infix {
        width: unset !important;
      }
      button.mat-sort-header-button {
        display: inline !important;
      }
    }
  }

  thead tr {
    &:nth-child(2),
    &:nth-child(3) {
      background: $light-black;
      border-bottom: none !important;
      font-size: 10pt !important;
      height: auto;
      th {
        color: $white;
        .mat-icon-status {
          vertical-align: text-bottom;
        }
        .mat-icon-svgIcon {
          vertical-align: text-bottom;
        }
        &:nth-child(20) {
          .mat-icon {
            display: inline-flex;
            margin: 8%;
          }
        }
      }
    }
    &:nth-child(4) {
      th:nth-child(4) {
        padding-top: 0 !important;
      }
    }
  }
}

.mat-icon-status {
  font-size: 14px;
  text-align: center;
  vertical-align: middle;
  padding-right: 5px;
}
.action-header-column {
  text-align: right !important;
  vertical-align: middle !important;
  padding-right: 0 !important;
  .p-grid {
    margin-top: unset !important;
  }
}

.action-buttons {
}
.horizontal {
  overflow: auto;
}

.hide {
  display: none;
}

.center-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-records {
  background-color: #424242;
  font-size: 14px;
  padding: 10px 12px;
  border-right: 1px solid #545454;
  border-bottom: 1px solid #545454;
}
.icon-thumbsup {
  width: 13px;
  padding: 2px 0px 0px 0px;
}

.icon-certifier {
  width: 15px;
}

/* Absolute Center Spinner */
.loading-indicator {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 6em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading-indicator:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.yellow {
  color: #ffd740;
}
.orange {
  color: #f49f36;
}
.blue {
  color: #36ebf4;
}
.red {
  color: #ff4040;
}
.green {
  color: #adff2f;
}
.purple {
  color: #ff46f9;
}
.magenta {
  color: magenta;
}
.black {
  color: #000000;
}
.cyan {
  color: cyan;
}
.green-icon {
  font-size: 25px;
  width: 30px;
  color: #adff2f;
}
.red-icon {
  font-size: 25px;
  width: 30px;
  color: #ff4040;
}
.black-icon {
  font-size: 25px;
  width: 30px;
  color: #000000;
}
.cyan-icon {
  font-size: 25px;
  width: 30px;
  color: cyan;
}
.magenta-icon {
  font-size: 25px;
  width: 30px;
  color: magenta;
}
.width-size {
  width: 300px;
  padding: 9px;
  font-size: 11px;
}
.width-sizes {
  width: 300px;
  padding: 9px;
  font-size: 12px;
}
:host::ng-deep p {
  margin-bottom: 0px !important;
  margin-top: 0;
}

::ng-deep .mat-menu-panel {
  min-height: auto;
}

::ng-deep .mat-menu-content:not(:empty) {
  padding-bottom: 0;
}

::ng-deep {
  .mat-header-cell {
    h5 {
      margin-bottom: 0 !important;
    }
  }
}

::ng-deep.custom-matselect-dropdown.mat-select-panel{
  max-width: fit-content !important;
}
::ng-deep.filterPanel {
  margin-top: 25px !important;
}