<ms-filter-breadcrumb [filterBreadcrumbData]="filterBreadcrumbData" (removeFilterTrigger)="removeFilterBreadcrumb($event)"></ms-filter-breadcrumb>
<div class="top-space">
  <div class="horizontal">
    <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)" class="mat-elevation-z8">
      <ng-container matColumnDef="reset">
        <th mat-header-cell *matHeaderCellDef colspan="22" class="action-header-column" style="text-align: right !important">
          <div class="p-col-12 text-right">
            <!-- Start Action Button Above table -->
            <button
              matTooltip="{{ 'Action' | translate }} "
              style="padding: 0px 7px !important"
              mat-raised-button
              color="accent"
              [disabled]="isWaitingForResponse"
              [matMenuTriggerFor]="action"
            >
              {{ 'Action' | translate }}
              <mat-icon>expand_more</mat-icon>
            </button>
            <mat-menu #action="matMenu">
              <button
                *ngIf="permission.addDiaposExternalPerm()"
                mat-menu-item
                matTooltip="{{ 'Add new promo' | translate }}"
                (click)="addNewPromo()"
              >
                {{ 'Add new promo' | translate }}
              </button>
            </mat-menu>
            <!--End Action Button Above table -->

            <!-- <button mat-raised-button color="primary" matTooltip="{{ 'SEND' | translate }}" (click)="sendMail()">
              <mat-icon svgIcon="send" class="mat-icon-svgIcon"></mat-icon>
              {{ 'Send by Email' | translate }}
            </button> -->
            <button
              mat-raised-button
              color="primary"
              (click)="downloadCSV()"
              matTooltip="{{ 'EXPORT' | translate }}"
              *ngIf="permission.exportCsvDiaposExternalPerm()"
              [disabled]="isWaitingForResponse"
            >
              <mat-icon svgIcon="file-excel" class="mat-icon-svgIcon"></mat-icon>
              {{ 'Export' | translate }}
            </button>

            <!--button mat-raised-button color="accent" matTooltip="{{ 'Add a new Congratulations' | translate }}" (click)="addValidationPopUp()">
              <mat-icon svgIcon="plus" class="mat-icon-svgIcon"></mat-icon>
              {{ 'Add a new Congratulations' | translate }}
            </button-->
            <button
              (click)="resetSelection()"
              matTooltip="{{ 'Reset Filter' | translate }}"
              mat-raised-button
              color="primary"
              [disabled]="isWaitingForResponse"
              *ngIf="permission.resetDiaposExternalPerm()"
            >
              <mat-icon svgIcon="loop" class="mat-icon-svgIcon"></mat-icon>
              {{ 'RESET' | translate }}
            </button>
          </div>
        </th>
      </ng-container>

      <ng-container matColumnDef="selectFilter">
        <th mat-header-cell *matHeaderCellDef></th>
      </ng-container>

      <ng-container matColumnDef="refFilter">
        <th mat-header-cell *matHeaderCellDef>
          <mat-form-field>
            <input matInput class="form-field" [formControl]="refFilter" placeholder="{{ 'search' | translate }}" />
          </mat-form-field>
        </th>
      </ng-container>

      <ng-container matColumnDef="moduleFilter">
        <th mat-header-cell *matHeaderCellDef></th>
      </ng-container>

      <ng-container matColumnDef="titleFilter">
        <th mat-header-cell *matHeaderCellDef>
          <mat-form-field>
            <input matInput class="form-field" [formControl]="titleFilter" placeholder="{{ 'search' | translate }}" />
          </mat-form-field>
        </th>
      </ng-container>

      <ng-container matColumnDef="subTitleFilter">
        <th mat-header-cell *matHeaderCellDef>
          <mat-form-field>
            <input matInput class="form-field" [formControl]="subTitleFilter" placeholder="{{ 'search' | translate }}" />
          </mat-form-field>
        </th>
      </ng-container>

      <ng-container matColumnDef="textFilter">
        <th mat-header-cell *matHeaderCellDef>
          <mat-form-field>
            <input matInput class="form-field" [formControl]="textFilter" placeholder="{{ 'search' | translate }}" />
          </mat-form-field>
        </th>
      </ng-container>

      <ng-container matColumnDef="schoolFilter">
        <th mat-header-cell *matHeaderCellDef>
          <mat-form-field>
            <mat-select
              class="form-field"
              [formControl]="schoolFilter"
              placeholder="{{ 'search' | translate }}"
              [disableOptionCentering]="true"
              panelClass="filterPanel custom-matselect-dropdown"
            >
              <mat-option value="">{{ 'AllM' | translate }}</mat-option>
              <mat-option (click)="getDataCampus()" *ngFor="let school of schools" [value]="school?.short_name">{{
                school?.short_name
              }}</mat-option>
            </mat-select>
          </mat-form-field>
        </th>
      </ng-container>

      <ng-container matColumnDef="campusFilter">
        <th mat-header-cell *matHeaderCellDef>
          <mat-form-field>
            <mat-select
              class="form-field"
              [formControl]="campusFilter"
              placeholder="{{ 'search' | translate }}"
              [disableOptionCentering]="true"
              panelClass="filterPanel custom-matselect-dropdown"
            >
              <mat-option value="">{{ 'AllM' | translate }}</mat-option>
              <mat-option *ngFor="let campus of campuses" [value]="campus?.name">{{ campus?.name }}</mat-option>
            </mat-select>
          </mat-form-field>
        </th>
      </ng-container>

      <ng-container matColumnDef="levelFilter">
        <th mat-header-cell *matHeaderCellDef></th>
      </ng-container>

      <ng-container matColumnDef="genderFilter">
        <th mat-header-cell *matHeaderCellDef></th>
      </ng-container>

      <ng-container matColumnDef="regionFilter">
        <th mat-header-cell *matHeaderCellDef>
          <mat-form-field>
            <mat-select
              class="form-field"
              [formControl]="regionFilter"
              placeholder="{{ 'search' | translate }}"
              [disableOptionCentering]="true"
              panelClass="filterPanel custom-matselect-dropdown"
            >
              <mat-option value="">{{ 'AllM' | translate }}</mat-option>
              <mat-option *ngFor="let region of regions" [value]="region">{{ region | translate }}</mat-option>
            </mat-select>
          </mat-form-field>
        </th>
      </ng-container>

      <ng-container matColumnDef="hobbyFilter">
        <th mat-header-cell *matHeaderCellDef></th>
      </ng-container>

      <ng-container matColumnDef="jobFilter">
        <th mat-header-cell *matHeaderCellDef></th>
      </ng-container>

      <ng-container matColumnDef="activitiesFilter">
        <th mat-header-cell *matHeaderCellDef></th>
      </ng-container>

      <ng-container matColumnDef="integrationFilter">
        <th mat-header-cell *matHeaderCellDef></th>
      </ng-container>

      <ng-container matColumnDef="insertionFilter">
        <th mat-header-cell *matHeaderCellDef></th>
      </ng-container>

      <ng-container matColumnDef="programFilter">
        <th mat-header-cell *matHeaderCellDef></th>
      </ng-container>

      <!-- <ng-container matColumnDef="videoLinkFilter">
        <th mat-header-cell *matHeaderCellDef></th>
      </ng-container>

      <ng-container matColumnDef="imageUploadFilter">
        <th mat-header-cell *matHeaderCellDef></th>
      </ng-container> -->

      <ng-container matColumnDef="genericFilter">
        <th mat-header-cell *matHeaderCellDef></th>
      </ng-container>

      <ng-container matColumnDef="publishedFilter">
        <th mat-header-cell *matHeaderCellDef></th>
      </ng-container>

      <ng-container matColumnDef="actionFilter">
        <th mat-header-cell *matHeaderCellDef></th>
      </ng-container>

      <ng-container matColumnDef="select" class="mat-column-select">
        <th mat-header-cell *matHeaderCellDef class="text-center">
          <mat-checkbox
            (change)="$event ? masterToggle() : null"
            (change)="showOptions('all', '')"
            [checked]="(selection.hasValue() && isAllSelected()) || isCheckedAll"
            [indeterminate]="selection.hasValue() && !isAllSelected()"
            [aria-label]="checkboxLabel()"
          >
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row" class="text-center">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="$event ? selection.toggle(row._id) : null"
            [checked]="selection.isSelected(row._id)"
            (change)="showOptions('one', row)"
            [aria-label]="checkboxLabel(row)"
          >
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="ref">
        <th mat-header-cell [matTooltip]="'diapos.Ref' | translate" *matHeaderCellDef mat-sort-header="ref_id">
          <h5 style="font-size: 11px">{{ 'diapos.Ref' | translate }}</h5>
        </th>
        <td mat-cell *matCellDef="let element" matTooltip="{{ element.ref_id }}">
          {{ element.ref_id }}
        </td>
      </ng-container>

      <ng-container matColumnDef="module">
        <th mat-header-cell [matTooltip]="'diapos.Module' | translate" *matHeaderCellDef>
          <h5 style="font-size: 11px">{{ 'diapos.Module' | translate }}</h5>
        </th>
        <td mat-cell *matCellDef="let element" matTooltip="{{ element?.module }}">{{ element?.module }}</td>
      </ng-container>

      <ng-container matColumnDef="title">
        <th mat-header-cell [matTooltip]="'diapos.Title' | translate" *matHeaderCellDef mat-sort-header="title">
          <h5 style="font-size: 11px">{{ 'diapos.Title' | translate }}</h5>
        </th>
        <td mat-cell *matCellDef="let element" [matTooltip]="utilitySevice?.cleanHTML(element?.title)" [innerHTML]="element.title"></td>
      </ng-container>

      <ng-container matColumnDef="subTitle">
        <th mat-header-cell [matTooltip]="'diapos.Sub-Title' | translate" *matHeaderCellDef mat-sort-header="sub_title">
          <h5 style="font-size: 11px">{{ 'diapos.Sub-Title' | translate }}</h5>
        </th>
        <td
          mat-cell
          *matCellDef="let element"
          [matTooltip]="utilitySevice?.cleanHTML(element?.sub_title)"
          [innerHTML]="utilitySevice?.cleanHTML(element?.sub_title)"
        ></td>
      </ng-container>

      <ng-container matColumnDef="text">
        <th mat-header-cell [matTooltip]="'diapos.Text' | translate" *matHeaderCellDef>
          <h5 style="font-size: 11px">{{ 'diapos.Text' | translate }}</h5>
        </th>
        <td mat-cell *matCellDef="let element" [matTooltip]="utilitySevice?.cleanHTML(element?.story)" [innerHTML]="element?.story"></td>
      </ng-container>

      <ng-container matColumnDef="school">
        <th mat-header-cell [matTooltip]="'diapos.School' | translate" *matHeaderCellDef mat-sort-header="school">
          <h5 style="font-size: 11px">{{ 'diapos.School' | translate }}</h5>
        </th>
        <td mat-cell *matCellDef="let element" matTooltip="{{ element?.school }}">{{ element?.school }}</td>
      </ng-container>

      <ng-container matColumnDef="campus">
        <th mat-header-cell [matTooltip]="'diapos.Campus' | translate" *matHeaderCellDef mat-sort-header="campus">
          <h5 style="font-size: 11px">{{ 'diapos.Campus' | translate }}</h5>
        </th>
        <td mat-cell *matCellDef="let element" [matTooltip]="utilitySevice?.cleanHTML(element?.campus)">{{ element?.campus }}</td>
      </ng-container>

      <ng-container matColumnDef="level">
        <th mat-header-cell [matTooltip]="'diapos.Level' | translate" *matHeaderCellDef>
          <h5 style="font-size: 11px">{{ 'diapos.Level' | translate }}</h5>
        </th>
        <td mat-cell *matCellDef="let element" matTooltip="{{ element?.levels }}">{{ element?.levels }}</td>
      </ng-container>

      <ng-container matColumnDef="gender">
        <th mat-header-cell [matTooltip]="'diapos.Gender' | translate" *matHeaderCellDef mat-sort-header="gender">
          <h5 style="font-size: 11px">{{ 'diapos.Gender' | translate }}</h5>
        </th>
        <td mat-cell *matCellDef="let element" matTooltip="{{ element?.gender }}">{{ element?.gender }}</td>
      </ng-container>

      <ng-container matColumnDef="region">
        <th mat-header-cell [matTooltip]="'diapos.Region' | translate" *matHeaderCellDef mat-sort-header="region">
          <h5 style="font-size: 11px">{{ 'diapos.Region' | translate }}</h5>
        </th>
        <td mat-cell *matCellDef="let element" matTooltip="{{ element?.region }}">{{ element?.region }}</td>
      </ng-container>

      <ng-container matColumnDef="hobby">
        <th mat-header-cell [matTooltip]="'diapos.Hobbies' | translate" *matHeaderCellDef>
          <h5 style="font-size: 11px">{{ 'diapos.Hobbies' | translate }}</h5>
        </th>
        <td mat-cell *matCellDef="let element" matTooltip="{{ element?.hobbies }}">
          <ng-container *ngFor="let hobby of element.hobbies">
            <span class="tags">{{ hobby }}</span>
          </ng-container>
        </td>
      </ng-container>

      <ng-container matColumnDef="job">
        <th mat-header-cell [matTooltip]="'diapos.Jobs' | translate" *matHeaderCellDef>
          <h5>
            <mat-icon class="mat-icon-svgIcon mat-icon" role="img" svgIcon="account-tie" aria-hidden="true"></mat-icon>
          </h5>
        </th>
        <td mat-cell *matCellDef="let element">
          <mat-icon *ngIf="element?.job" [matTooltip]="'yes' | translate" class="green mat-icon-status" aria-hidden="true">lens </mat-icon>
        </td>
      </ng-container>

      <ng-container matColumnDef="activities">
        <th mat-header-cell [matTooltip]="'diapos.Activities' | translate" *matHeaderCellDef>
          <h5><mat-icon svgIcon="basketball" class="mat-icon-svgIcon"> basketball </mat-icon></h5>
        </th>
        <td mat-cell *matCellDef="let element">
          <mat-icon *ngIf="element?.activity" [matTooltip]="'yes' | translate" class="green mat-icon-status" aria-hidden="true"
            >lens
          </mat-icon>
        </td>
      </ng-container>

      <ng-container matColumnDef="integration">
        <th mat-header-cell [matTooltip]="'diapos.Integration' | translate" *matHeaderCellDef>
          <h5><mat-icon svgIcon="login" class="mat-icon-svgIcon"> login </mat-icon></h5>
        </th>
        <td mat-cell *matCellDef="let element">
          <mat-icon *ngIf="element?.integration" [matTooltip]="'yes' | translate" class="green mat-icon-status" aria-hidden="true"
            >lens
          </mat-icon>
        </td>
      </ng-container>

      <ng-container matColumnDef="insertion">
        <th mat-header-cell [matTooltip]="'diapos.Insertion' | translate" *matHeaderCellDef>
          <h5><mat-icon svgIcon="logout" class="mat-icon-svgIcon"> logout </mat-icon></h5>
        </th>
        <td mat-cell *matCellDef="let element">
          <mat-icon *ngIf="element?.insertion" [matTooltip]="'yes' | translate" class="green mat-icon-status" aria-hidden="true"
            >lens
          </mat-icon>
        </td>
      </ng-container>

      <ng-container matColumnDef="program">
        <th mat-header-cell [matTooltip]="'diapos.Program' | translate" *matHeaderCellDef>
          <h5><mat-icon style="font-size: 16px; padding-top: 4px !important">school</mat-icon></h5>
        </th>
        <td mat-cell *matCellDef="let element">
          <mat-icon *ngIf="element?.program" [matTooltip]="'yes' | translate" class="green mat-icon-status" aria-hidden="true"
            >lens
          </mat-icon>
        </td>
      </ng-container>

      <!-- <ng-container matColumnDef="videoLink">
        <th mat-header-cell [matTooltip]="'diapos.Video Link' | translate" *matHeaderCellDef>
          <h5>{{ 'diapos.Video Link' | translate }}</h5>
        </th>
        <td mat-cell *matCellDef="let element" matTooltip=""></td>
      </ng-container>

      <ng-container matColumnDef="imageUpload">
        <th mat-header-cell [matTooltip]="'diapos.Image Upload' | translate" *matHeaderCellDef>
          <h5>{{ 'diapos.Image Upload' | translate }}</h5>
        </th>
        <td mat-cell *matCellDef="let element" matTooltip=""></td>
      </ng-container> -->

      <ng-container matColumnDef="generic">
        <th mat-header-cell [matTooltip]="'diapos.Generic' | translate" *matHeaderCellDef mat-sort-header="generic">
          <h5 style="position: relative; left: 3px"><mat-icon svgIcon="parachute" class="mat-icon-svgIcon">parachute</mat-icon></h5>
        </th>
        <td mat-cell *matCellDef="let element">
          <mat-icon *ngIf="element?.generic" [matTooltip]="'yes' | translate" class="green mat-icon-status" aria-hidden="true"
            >lens
          </mat-icon>
        </td>
      </ng-container>

      <ng-container matColumnDef="published">
        <th mat-header-cell [matTooltip]="'diapos.Published' | translate" *matHeaderCellDef mat-sort-header="is_published">
          <h5 style="top: -2px; left: 4px; position: relative">
            <mat-icon svgIcon="bullhorn" class="mat-icon-svgIcon"> bullhorn </mat-icon>
          </h5>
        </th>
        <td mat-cell *matCellDef="let element">
          <mat-icon
            [matTooltip]="(element.is_published ? 'yes' : 'no') | translate"
            class="green mat-icon-status"
            aria-hidden="true"
            [ngClass]="{
              green: element.is_published === true,
              red: element.is_published === false
            }"
            >lens
          </mat-icon>
        </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell [matTooltip]="'Action' | translate" *matHeaderCellDef>
          <h5 style="font-size: 11px">{{ 'Action' | translate }}</h5>
        </th>
        <td mat-cell *matCellDef="let element; let i = index">
          <button
            [disabled]="element?.is_published"
            mat-icon-button
            class="margin-right-button"
            (click)="publishPromoExternal(element)"
            *ngIf="permission.publishUnpublishDiaposExternalPerm()"
          >
            <mat-icon matTooltip="{{ 'diapos.Publish' | translate }}" svgIcon="bullhorn"> bullhorn </mat-icon>
          </button>
          <button
            mat-icon-button
            class="margin-right-button"
            (click)="sendMail(element)"
            matTooltip="{{ 'Send by Email' | translate }}"
            *ngIf="permission.sendEmailDiaposExternalPerm()"
          >
            <mat-icon>send</mat-icon>
          </button>
          <button
            mat-icon-button
            class="margin-right-button"
            (click)="deletePromo(element?._id)"
            matTooltip="{{ 'Delete' | translate }}"
            *ngIf="permission.deleteDiaposExternalPerm()"
          >
            <mat-icon svgIcon="close-thick">close_thick</mat-icon>
          </button>
          <button
            mat-icon-button
            class="margin-right-button"
            (click)="editPromoExternal(element)"
            matTooltip="{{ 'Edit' | translate }}"
            *ngIf="permission.editDiaposExternalPerm()"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button
            mat-icon-button
            class="margin-right-button"
            (click)="duplicatePromoExternal(element)"
            matTooltip="{{ 'Duplicate' | translate }}"
            *ngIf="permission.duplicateDiaposExternalPerm()"
          >
            <mat-icon svgIcon="content-duplicate">content_duplicate</mat-icon>
          </button>
          <button
            mat-icon-button
            class="margin-right-button"
            (click)="viewPromoExternal(element)"
            matTooltip="{{ 'View' | translate }}"
            *ngIf="permission.viewDiaposExternalPerm()"
          >
            <mat-icon>visibility</mat-icon>
          </button>
        </td>
      </ng-container>

      <!-- loading spinner -->
      <ng-container matColumnDef="loading">
        <th mat-header-cell *matHeaderCellDef colspan="22" class="text-center">
          <div class="center-spinner">
            <mat-spinner color="accent"></mat-spinner>
          </div>
        </th>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="['reset']"></tr>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-header-row *matHeaderRowDef="filterColumns"></tr>
      <tr mat-header-row *matHeaderRowDef="['loading']" [hidden]="!isWaitingForResponse"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns" [hidden]="isWaitingForResponse"></tr>
    </table>
    <div *ngIf="noData | async" class="no-records">
      {{ 'NOT RECORD FOUND' | translate }}
    </div>
    <div [ngClass]="{ hide: noData | async }">
      <mat-paginator
        [ngClass]="{ 'hide-pagination-buttons': paginator.length <= 10 }"
        [length]="paginator.length"
        [hidePageSize]="true"
        [pageSize]="[10]"
        showFirstLastButtons
      ></mat-paginator>
    </div>
  </div>
</div>
<swal
  #publishSwal
  type="warning"
  title="{{ 'PROMO_S1.TITLE' | translate }}"
  [showConfirmButton]="true"
  [allowOutsideClick]="false"
  [showCancelButton]="true"
  confirmButtonText="{{ 'PROMO_S1.BUTTON_1' | translate }}"
  cancelButtonText="{{ 'PROMO_S1.BUTTON_2' | translate }}"
  (confirm)="publishPromoExternalConfirm(currPromo)"
>
  <ng-container *swalPartial>
    <div
      style="
        transform: scale(0.5);
        position: relative;
        height: 270px;
        vertical-align: top;
        top: -67px;
        margin: 0px;
        padding: 0px;
        display: flex;
      "
    >
      <div [ngClass]="{ hidden: !currPromo?.image_upload }">
        <div *ngIf="currPromo?.image_upload">
          <img alt="image" [src]="serverimgPath + currPromo?.image_upload" />
        </div>
      </div>
      <div [ngClass]="{ hidden: !currPromo?.video_link }">
        <iframe
          style="height: 290px; width: 400px"
          *ngIf="currPromo?.video_link && isVideoLinkValid()"
          width="300"
          height="290"
          [src]="sanitizeVideoUrl(currPromo?.video_link) || sanitizeVideoUrl(defaultVideoUrl)"
          frameborder="0"
          allow="autoplay; encrypted-media"
          allowfullscreen
        >
        </iframe>
      </div>
      <div class="overlay-content" style="float: left; position: absolute; top: 435px; width: 100%; left: -175px">
        <div class="content-wrap">
          <div class="sec-title">
            <h5 class="text-inverse" innerHTML="{{ currPromo?.title }}"></h5>
            <span class="text-inverse" innerHTML="{{ currPromo?.sub_title }}"></span>
          </div>
          <div class="sec-content">
            <p class="text-inverse" innerHTML="{{ currPromo?.story }}"></p>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</swal>
