@import '~assets/scss/theme/admtc.variables';
@import '~assets/scss/theme/admtc';

#certifier {
  margin-left: 20px;
}
.mat-form-field {
  padding-top: 6px;
}
.pad-top-miss {
  padding-top: 1.8px !important;
}
.form-field {
  margin-top: 0.5px;
}
.tag-container {
  white-space: normal;
  text-align: left !important;
  line-height: 2.3;
  overflow-wrap: break-word;
}

:host ::ng-deep table {
  tr {
    td { 
      &:nth-child(10), &:nth-child(11) {
        text-align: left !important;
      }
    }
  }
}

:host ::ng-deep table {
  tr {
    td,
    th {
      padding: 8px;
      border-right: 1px solid $grey;
      text-align: center !important;

      &:nth-child(1) {
        width: 3%;
        min-width: 28px;
        padding-left: 8px !important;
      }

      &:nth-child(2) {
        // width: 10%;
        width: 5%;
        min-width: 75px;
        max-width: 75px;
        .mat-form-field {
          width: 90%;
        }
      }

      &:nth-child(3) {
        width: 10%;
        .mat-form-field {
          width: 90%;
        }
      }

      &:nth-child(4) {
        width: 8%;
        .mat-form-field {
          width: 90%;
        }
      }
      &:nth-child(5) {
        width: 3%;
        .mat-form-field {
          width: 90%;
        }
      }
      &:nth-child(6) {
        width: 12%;
        .mat-form-field {
          width: 90%;
        }
      }
      &:nth-child(7) {
        width: 10%;
        .mat-form-field {
          width: 90%;
        }
      }
      &:nth-child(8) {
        width: 8%;
        .mat-form-field {
          width: 90%;
          padding-left: 0rem !important;
        }
      }
      &:nth-child(9) {
        width: 15%;
        padding-left: 0.5rem !important;
        .mat-form-field {
          width: 90%;
        }
      }
      &:nth-child(10) {
        width: 15%;
        .mat-form-field {
          width: 90%;
        }
      }
      &:nth-child(11) {
        width: 8%;
        min-width: 110px;
        max-width: 110px;
        .mat-form-field {
          width: 90%;
        }
      }
      &:nth-child(12) {
        width: 5%;
        min-width: 110px;
        max-width: 110px;
        .mat-form-field {
          width: 90%;
        }
      }
      &:nth-child(13) {
        // width: 10%;
        width: 5%;
        min-width: 90px;
        max-width: 90px;
        margin: 0px;
        padding: 0px;
        .mat-form-field {
          width: 90%;
        }
      }
      &:nth-child(14) {
        // width: 10%;
        width: 5%;
        min-width: 110px;
        max-width: 110px;
        margin: 0px;
        padding: 0px;
        .mat-form-field {
          width: 90%;
        }
      }
      &:nth-child(15) {
        min-width: 135px;
        max-width: 135px;
        margin: 0px;
        padding: 0px;
        .mat-form-field {
          width: 90%;
        }
      }
    }

    td {
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 0;
      white-space: nowrap;
      padding-top: 0.5em;
      padding-bottom: 0.5em;
    }

    th {
      vertical-align: top;
      .mat-form-field-infix {
        width: unset !important;
      }
    }

    &:nth-child(2) {
      th {
        padding-top: 0.9em;
      }
    }
  }

  thead tr {
    &:nth-child(2) {
      height: 35px;
    }
    &:nth-child(2),
    &:nth-child(3) {
      background: $light-black;
      th {
        color: $white;
      }
    }
  }
}

.action-header-column {
  vertical-align: middle !important;
  padding-right: 0 !important;
  .p-grid {
    margin-top: unset !important;
  }
}

.left-margin {
  margin-left: 3%;
}

.cursor-pointer {
  cursor: pointer;
}

.pc-section {
  width: 50%;
  text-align: right;
  padding-right: 5px;
  display: inline-block;
}

.cr-section {
  width: 50%;
  text-align: left;
  display: inline-block;
}

.no-records {
  background-color: #424242;
  font-size: 14px;
  padding: 10px 12px;
  border-right: 1px solid #545454;
  border-bottom: 1px solid #545454;
}

:host::ng-deep.mat-select-arrow-wrapper {
  padding-right: 5px;
}
:host::ng-deep.mat-select-value-text {
  margin-left: 10px;
  font-size: 13px;
}

:host::ng-deep.ng-select {
  padding-top: 10px;
}

:host::ng-deep.ng-select .ng-select-container {
  background-color: #fff0;
  color: #fff;
  border: none;
  border-radius: 0px !important;
  border-bottom: 1px solid #ffffffb3 !important;
  min-height: 36px;
  -webkit-box-align: center;
  align-items: center;
}

:host::ng-deep.ng-select .ng-select-container .ng-value-container .ng-input > input {
  color: white;
  box-sizing: content-box;
  background: none;
  border: 0;
  box-shadow: none;
  outline: 0;
  cursor: default;
  width: 100%;
}

:host::ng-deep.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
  color: black;
}

:host::ng-deep.ng-select.dropdown .ng-select-container {
  margin-left: 0.5rem !important;
  width: 90%;
}

:host::ng-deep ng-dropdown-panel.dropdown {
  min-width: 100%;
  width: auto !important;
}
.border-button{
  border-bottom: 1px solid #dadada;
}

:host::ng-deep .filterPanel.mat-select-panel {
  max-width: fit-content !important;
  margin-top: 32px !important;
}

::ng-deep.ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
  white-space: normal !important;
}
:host::ng-deep.filter-panel {
  margin-top: 25px !important;
}

::ng-deep.custom-matselect-dropdown-margin.mat-select-panel {
  max-width: fit-content !important;
  margin-top: 32px !important;
}
::ng-deep.custom-ngselect-whitespace.ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
  white-space: normal !important;
}
.red-icon {
  color: red;
}

.green-icon {
  color: green;
}
