<ms-filter-breadcrumb
      [filterBreadcrumbData]="filterBreadcrumbData"
      (removeFilterTrigger)="removeFilterBreadcrumb($event)"
></ms-filter-breadcrumb>
<div class="top-space">
  <table mat-table matSort (matSortChange)="sortData($event)" [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- ROW RESET START -->
    <ng-container matColumnDef="reset">
      <th mat-header-cell *matHeaderCellDef colspan="100%" class="action-header-column text-right">
        <div class="p-col-12 p-grid no-padding">
          <div class="p-col text-right">
            <button
              matTooltip="{{ 'Action' | translate }} "
              style="padding: 0px 7px !important"
              mat-raised-button
              color="accent"
              [disabled]="isWaitingForResponse"
              [matMenuTriggerFor]="action"
            >
              {{ 'Action' | translate }}
              <mat-icon>expand_more</mat-icon>
            </button>
            <mat-menu #action="matMenu">
              <button mat-menu-item matTooltip="{{ 'Assign starting date' | translate }}" (click)="getAllAssignStartDateForCheckbox(0)">
                {{ 'Assign starting date' | translate }}
              </button>
              <button
                mat-menu-item
                matTooltip="{{ 'INTAKE_CHANNEL.Remove registration profile' | translate }}"
                (click)="getAllRegistrationProfileForCheckbox(0, 'remove')"
                *ngIf="permission?.removeRegistrationProfileIntakeChannelSchoolAdmissionTabPerm()"
              >
                {{ 'INTAKE_CHANNEL.Remove registration profile' | translate }}
              </button>
              <button
                mat-menu-item
                matTooltip="{{ 'INTAKE_CHANNEL.Connect registration profile' | translate }}"
                (click)="connectRegistration(0)"
                *ngIf="permission?.addRegistrationProfileIntakeChannelSchoolAdmissionTabPerm()"
              >
                {{ 'INTAKE_CHANNEL.Connect registration profile' | translate }}
              </button>
              <button
                mat-menu-item
                matTooltip="{{ 'INTAKE_CHANNEL.Add conditions' | translate }}"
                (click)="addConditionCheck(0)"
                *ngIf="permission?.addConditionMultipleIntakeChannelSchoolAdmissionTabPerm()"
              >
                {{ 'INTAKE_CHANNEL.Add conditions' | translate }}
              </button>
              <button
                mat-menu-item
                matTooltip="{{ 'Connect admission document form' | translate }}"
                (click)="getAllDocumentFormForCheckbox(0)"
                *ngIf="permission?.addConditionMultipleIntakeChannelSchoolAdmissionTabPerm()"
              >
                {{ 'Connect admission document form' | translate }}
              </button>
              <button
                mat-menu-item
                matTooltip="{{ 'INTAKE_CHANNEL.Assign a program director' | translate }}"
                (click)="getAllDirectorProgramForCheckbox(0)"
              >
              {{ 'INTAKE_CHANNEL.Assign a program director' | translate }}
              </button>
              <button
                mat-menu-item
                matTooltip="{{ 'INTAKE_CHANNEL.Connect CVEC Form' | translate }}"
                (click)="getAllCVECFormForCheckBox(0)"
              >
              {{ 'INTAKE_CHANNEL.Connect CVEC Form' | translate }}
              </button>
              <button
                mat-menu-item
                matTooltip="{{ 'BTN_ADMISSIONDOCUMENT' | translate }}"
                (click)="getAllAdmissionDocumentForCheckBox(0)"
              >
              {{ 'BTN_ADMISSIONDOCUMENT' | translate }}
              </button>
            </mat-menu>
            <button
              mat-raised-button
              color="primary"
              matTooltip="{{ 'EXPORT' | translate }}"
              (click)="getAllIdForCheckbox(0)"
              [disabled]="isWaitingForResponse"
              *ngIf="permission?.exportCsvIntakeChannelSchoolAdmissionTabPerm()"
            >
              <mat-icon svgIcon="file-excel" class="mat-icon-svgIcon"></mat-icon>
              {{ 'Export' | translate }}
            </button>
            <button
              mat-raised-button
              color="primary"
              matTooltip="{{ 'Reset Filter' | translate }}"
              (click)="resetTable()"
              [disabled]="isWaitingForResponse"
              *ngIf="permission?.resetIntakeChannelSchoolAdmissionTabPerm()"
            >
              <mat-icon svgIcon="loop" class="mat-icon-svgIcon"></mat-icon>
              {{ 'RESET' | translate }}
            </button>
          </div>
        </div>
      </th>
    </ng-container>
    <!-- ROW RESET END -->
    <!---ROW FILTER START-->
    <ng-container matColumnDef="selectFilter" sticky>
      <th mat-header-cell *matHeaderCellDef></th>
    </ng-container>
    <ng-container matColumnDef="scholar_seasonFilter">
      <th mat-header-cell *matHeaderCellDef></th>
    </ng-container>
    <ng-container matColumnDef="schoolFilter">
      <th mat-header-cell *matHeaderCellDef></th>
    </ng-container>
    <ng-container matColumnDef="campusFilter">
      <th mat-header-cell *matHeaderCellDef>
        <mat-form-field appearance="legacy">
          <mat-select
            [formControl]="campusFilterCtrl"
            multiple
            panelClass="filterPanel custom-matselect-dropdown-margin"
            [disableOptionCentering]="true"
          >
            <mat-option *ngIf="campusList && campusList?.length >= 1" [value]="'All'" (click)="selectAll('campus')">{{
              'AllS' | translate
            }}</mat-option>
            <mat-option *ngFor="let campus of campusList" [value]="campus.name" (click)="setFilterSelected('campus')">{{
              campus.name
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </th>
    </ng-container>
    <ng-container matColumnDef="levelFilter">
      <th mat-header-cell *matHeaderCellDef>
        <mat-form-field appearance="legacy">
          <mat-select
            [formControl]="levelFilterCtrl"
            multiple
            panelClass="filterPanel custom-matselect-dropdown-margin"
            [disableOptionCentering]="true"
          >
            <mat-option *ngIf="levelList && levelList?.length >= 1" [value]="'All'" (click)="selectAll('level')">{{
              'AllS' | translate
            }}</mat-option>
            <mat-option *ngFor="let level of levelList" [value]="level.name" (click)="setFilterSelected('level')">{{
              level.name
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </th>
    </ng-container>
    <ng-container matColumnDef="sectorFilter">
      <th mat-header-cell *matHeaderCellDef>
        <mat-form-field appearance="legacy">
          <mat-select
            [formControl]="sectorFilterCtrl"
            multiple
            panelClass="filterPanel custom-matselect-dropdown-margin"
            [disableOptionCentering]="true"
          >
            <mat-option *ngIf="sectorList && sectorList?.length >= 1" [value]="'All'" (click)="selectAll('sector')">{{
              'AllS' | translate
            }}</mat-option>
            <mat-option *ngFor="let sector of sectorList" [value]="sector._id" (click)="setFilterSelected('sector')">{{
              sector.name
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </th>
    </ng-container>
    <ng-container matColumnDef="specialityFilter">
      <th mat-header-cell *matHeaderCellDef>
        <mat-form-field appearance="legacy">
          <mat-select
            [formControl]="specialityFilterCtrl"
            multiple
            panelClass="filterPanel custom-matselect-dropdown-margin"
            [disableOptionCentering]="true"
          >
            <mat-option *ngIf="specialityList && specialityList?.length >= 1" [value]="'All'" (click)="selectAll('speciality')">{{
              'AllS' | translate
            }}</mat-option>
            <mat-option *ngFor="let speciality of specialityList" [value]="speciality._id" (click)="setFilterSelected('speciality')">{{
              speciality.name
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </th>
    </ng-container>
    <ng-container matColumnDef="startingDateFilter">
      <th mat-header-cell *matHeaderCellDef>
        <mat-form-field>
          <input
            matInput
            (click)="startingDatePick.open()"
            readonly
            class="form-field"
            placeholder="{{ 'search' | translate }}"
            [matDatepicker]="startingDatePick"
            [formControl]="startingDateFilterCtrl"
          />
          <mat-datepicker-toggle matSuffix [for]="startingDatePick"></mat-datepicker-toggle>
          <mat-datepicker #startingDatePick></mat-datepicker>
        </mat-form-field>
      </th>
    </ng-container>
    <ng-container matColumnDef="registration_profileFilter">
      <th mat-header-cell *matHeaderCellDef>
        <ng-select
          class="dropdown margin custom-ngselect-whitespace"
          [appendTo]="'body'"
          [multiple]="false"
          [clearable]="false"
          placeholder="{{ 'search' | translate }}"
          [formControl]="regisFilterCtrl"
          (change)="selectRegist($event)"
        >
          <ng-option *ngIf="regisList && regisList?.length >= 1" [value]="'All'">{{ 'AllS' | translate }}</ng-option>
          <ng-option *ngFor="let item of regisList" [value]="item.name">
            {{ item.name }}
          </ng-option>
        </ng-select>
      </th>
    </ng-container>
    <ng-container matColumnDef="doc_expectedFilter">
      <th mat-header-cell *matHeaderCellDef></th>
    </ng-container>
    <ng-container matColumnDef="templateCVECFilter">
      <th mat-header-cell *matHeaderCellDef></th>
    </ng-container>
    <ng-container matColumnDef="conditionsFilter">
      <th mat-header-cell *matHeaderCellDef></th>
    </ng-container>
    <ng-container matColumnDef="flyerFilter">
      <th mat-header-cell *matHeaderCellDef></th>
    </ng-container>
    <ng-container matColumnDef="program_directorFilter">
      <th mat-header-cell *matHeaderCellDef></th>
    </ng-container>
    <ng-container matColumnDef="actionFilter">
      <th mat-header-cell *matHeaderCellDef></th>
    </ng-container>
    <!--ROW FILTER END-->
    <!-- ROW HEADER AND CONTENT START -->

    <ng-container matColumnDef="select" class="mat-column-select">
      <th mat-header-cell *matHeaderCellDef class="text-center">
        <mat-checkbox
          (change)="$event ? masterToggle() : null"
          (change)="showOptions('all', '')"
          [checked]="(selection.hasValue() && isAllSelected()) || isCheckedAll"
          [indeterminate]="selection.hasValue() && !isAllSelected()"
          [aria-label]="checkboxLabel()"
        >
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row" class="text-center">
        <mat-checkbox
          (click)="$event.stopPropagation()"
          (change)="$event ? selection.toggle(row._id) : null"
          [checked]="selection.isSelected(row._id) || (isCheckedAll && !dataUnselectUser.includes(row?._id))"
          (change)="showOptions('one', row)"
          [aria-label]="checkboxLabel(row)"
        >
        </mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="scholar_season">
      <th mat-header-cell *matHeaderCellDef matTooltip="{{ 'INTAKE_CHANNEL.Scholar season' | translate }}">
        <!-- <h5>{{ 'INTAKE_CHANNEL.Scholar season' | translate }}</h5> -->
        <mat-icon svgIcon="account-school-outline" class="mat-icon-svgIcon"> </mat-icon>
      </th>
      <td mat-cell *matCellDef="let element" matTooltip="{{ element?.scholar_season }}">
        {{ element?.scholar_season }}
      </td>
    </ng-container>

    <ng-container matColumnDef="school">
      <th mat-header-cell *matHeaderCellDef matTooltip="{{ 'INTAKE_CHANNEL.School' | translate }}">
        <h5>{{ 'INTAKE_CHANNEL.School' | translate }}</h5>
      </th>
      <td mat-cell *matCellDef="let element" matTooltip="{{ element?.school }}">
        {{ element?.school }}
      </td>
    </ng-container>

    <ng-container matColumnDef="campus">
      <th mat-header-cell *matHeaderCellDef matTooltip="{{ 'INTAKE_CHANNEL.Campus' | translate }}">
        <h5>{{ 'INTAKE_CHANNEL.Campus' | translate }}</h5>
      </th>
      <td mat-cell *matCellDef="let element" matTooltip="{{ element?.campus }}">
        {{ element?.campus }}
      </td>
    </ng-container>

    <ng-container matColumnDef="level">
      <th mat-header-cell *matHeaderCellDef matTooltip="{{ 'INTAKE_CHANNEL.Level' | translate }}">
        <h5>{{ 'INTAKE_CHANNEL.Level' | translate }}</h5>
      </th>
      <td mat-cell *matCellDef="let element" matTooltip="{{ element?.level }}">
        {{ element?.level }}
      </td>
    </ng-container>

    <ng-container matColumnDef="sector">
      <th mat-header-cell *matHeaderCellDef matTooltip="{{ 'INTAKE_CHANNEL.Sector' | translate }}">
        <h5>{{ 'INTAKE_CHANNEL.Sector' | translate }}</h5>
      </th>
      <td mat-cell *matCellDef="let element" matTooltip="{{ element?.sector_id?.name }}">
        {{ element?.sector_id?.name }}
      </td>
    </ng-container>

    <ng-container matColumnDef="speciality">
      <th mat-header-cell *matHeaderCellDef matTooltip="{{ 'INTAKE_CHANNEL.Speciality' | translate }}">
        <h5>{{ 'INTAKE_CHANNEL.Speciality' | translate }}</h5>
      </th>
      <td mat-cell *matCellDef="let element" matTooltip="{{ element?.speciality_id?.name }}">
        {{ element?.speciality_id?.name }}
      </td>
    </ng-container>

    <ng-container matColumnDef="startingDate">
      <th mat-header-cell mat-sort-header="start_date" *matHeaderCellDef matTooltip="{{ 'Starting date' | translate }}">
        <h5>{{ 'Starting date' | translate }}</h5>
      </th>
      <td
        mat-cell
        *matCellDef="let element"
        matTooltip="
      {{ transformStartDate(element) }}"
      >
        {{ transformStartDate(element) }}
      </td>
    </ng-container>

    <ng-container matColumnDef="registration_profile">
      <th mat-header-cell *matHeaderCellDef matTooltip="{{ 'INTAKE_CHANNEL.Registration profile' | translate }}">
        <h5>{{ 'INTAKE_CHANNEL.Registration profile' | translate }}</h5>
      </th>
      <td mat-cell *matCellDef="let element" [matTooltip]="renderTooltipProfileRate(element?.profil_rate)">
        <ng-container *ngFor="let profile of element?.profil_rate">
          <span class="tags">{{ profile?.name }}</span>
        </ng-container>
      </td>
    </ng-container>

    <ng-container matColumnDef="doc_expected">
      <th mat-header-cell *matHeaderCellDef matTooltip="{{ 'Template doc expected' | translate }}">
        <h5>{{ 'Template doc expected' | translate }}</h5>
      </th>
      <td mat-cell *matCellDef="let element" [matTooltip]="renderTooltipAdmissionDoc(element?.admission_document_template)">
        <ng-container
          *ngIf="
            element?.admission_document_template?.length &&
            element?.admission_document_template[element?.admission_document_template.length - 1]
          "
        >
          {{ element?.admission_document_template[element?.admission_document_template.length - 1]?.form_builder_name }}
        </ng-container>
      </td>
    </ng-container>

    <ng-container matColumnDef="template_cvec">
      <th mat-header-cell *matHeaderCellDef matTooltip="{{ 'Template CVEC' | translate }}">
        <h5>{{ 'Template CVEC' | translate }}</h5>
      </th>
      <td mat-cell *matCellDef="let element" [matTooltip]="element?.cvec_template_id?.form_builder_name">
        <ng-container>
          {{ element?.cvec_template_id?.form_builder_name }}
        </ng-container>
      </td>
    </ng-container>

    <ng-container matColumnDef="conditions">
      <th mat-header-cell *matHeaderCellDef matTooltip="{{ 'INTAKE_CHANNEL.Conditions' | translate }}">
        <h5>{{ 'INTAKE_CHANNEL.Conditions' | translate }}</h5>
      </th>
      <td mat-cell *matCellDef="let element">
        <button
          mat-icon-button
          class="margin-right-button"
          (click)="onEditCondition(element)"
          [disabled]="(dataSelected && dataSelected.length > 0) || isCheckedAll"
          matTooltip="{{ 'INTAKE_CHANNEL.Edit' | translate }}"
          *ngIf="permission?.editPermIntakeChannelSchoolAdmissionTabPerm()"
        >
          <mat-icon>edit</mat-icon>
        </button>
        <button
          mat-icon-button
          *ngIf="element?.admission_document?.s3_file_name"
          mat-icon-button
          class="margin-right-button"
          [disabled]="(dataSelected && dataSelected.length > 0) || isCheckedAll"
          (click)="onDownloadCondition(element)"
          matTooltip="{{ 'INTAKE_CHANNEL.Download' | translate }}"
        >
          <mat-icon>download</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="flyer">
      <th mat-header-cell *matHeaderCellDef matTooltip="{{ 'INTAKE_CHANNEL.Flyer' | translate }}">
        <!-- <h5>{{ 'INTAKE_CHANNEL.Flyer' | translate }}</h5> -->
        <mat-icon svgIcon="file-document-alert-outline" class="mat-icon-svgIcon"> </mat-icon>
      </th>
      <td mat-cell *matCellDef="let element">
        <button
          mat-icon-button
          class="margin-right-button"
          (click)="onEditFlyer(element)"
          [disabled]="(dataSelected && dataSelected.length > 0) || isCheckedAll"
          matTooltip="{{ 'INTAKE_CHANNEL.Edit' | translate }}"
          *ngIf="permission?.editPermIntakeChannelSchoolAdmissionTabPerm()"
        >
          <mat-icon>edit</mat-icon>
        </button>
        <button
          *ngIf="element?.admission_flyer?.s3_file_name"
          mat-icon-button
          class="margin-right-button"
          (click)="onDownloadFlyer(element)"
          [disabled]="(dataSelected && dataSelected.length > 0) || isCheckedAll"
          matTooltip="{{ 'INTAKE_CHANNEL.Download' | translate }}"
        >
          <mat-icon>download</mat-icon>
        </button>
      </td>
    </ng-container>
    <ng-container matColumnDef="program_director">
      <th mat-header-cell *matHeaderCellDef  mat-sort-header="program_director" matTooltip="{{'INTAKE_CHANNEL.Program Director' | translate }}">
        <h5>{{'INTAKE_CHANNEL.Program Director' | translate }}</h5>
      </th>
      <td mat-cell *matCellDef="let element">
        <mat-icon
        [matTooltip]="(element?.program_director_id?._id ? 'INTAKE_CHANNEL.Affected' : 'INTAKE_CHANNEL.Not Affected') | translate"
        [ngClass]="{
          'green-icon': element?.program_director_id?._id,
          'red-icon': !element?.program_director_id?._id
        }"
      >
        lens
      </mat-icon>
      </td>
    </ng-container>
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef matTooltip="Action">
        <h5>{{'Action' | translate }}</h5>
      </th>
      <td mat-cell *matCellDef="let element">
        <button
          mat-icon-button
          class="margin-right-button"
          [disabled]="(dataSelected && dataSelected.length > 0) || isCheckedAll"
          matTooltip="{{ 'INTAKE_CHANNEL.Assign a program director' | translate }}"
          (click) = "AssignProgramDirector('single', element)"
        >
          <mat-icon svgIcon="account-plus"></mat-icon>
        </button>
        <button
          mat-icon-button
          class="margin-right-button"
          [disabled]="(dataSelected && dataSelected.length > 0) || isCheckedAll"
          matTooltip="{{ 'INTAKE_CHANNEL.Connect CVEC Form' | translate }}"
          (click) = "connectCVECForm('single', element)"
        >
          <mat-icon svgIcon="file-document-arrow-right-outline"></mat-icon>
        </button>
        <button
          mat-icon-button
          class="margin-right-button"
          [disabled]="(dataSelected && dataSelected.length > 0) || isCheckedAll"
          matTooltip="{{ 'BTN_ADMISSIONDOCUMENT' | translate }}"
          (click) = "admissionDocument('single', element)"
        >
          <mat-icon svgIcon="file-document-plus-outline"></mat-icon>
        </button>
      </td>
    </ng-container>
    <!-- ROW HEADER AND CONTENT END -->
    <ng-container matColumnDef="loading">
      <th mat-header-cell *matHeaderCellDef colspan="100%" class="text-center">
        <div class="center-spinner">
          <mat-spinner color="accent"></mat-spinner>
        </div>
      </th>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="['reset']"></tr>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-header-row *matHeaderRowDef="filterColumns"></tr>
    <tr mat-header-row *matHeaderRowDef="['loading']" [hidden]="!isWaitingForResponse"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns" [hidden]="isWaitingForResponse"></tr>
  </table>
  <ng-container *ngIf="!isWaitingForResponse">
    <div *ngIf="noData | async" class="no-records">
      {{ 'NOT RECORD FOUND' | translate }}
    </div>
  </ng-container>
  <div [ngClass]="{ hide: noData | async }">
    <mat-paginator
      [ngClass]="{ 'hide-pagination-buttons': dataCount <= 10 }"
      [length]="dataCount"
      [hidePageSize]="true"
      [pageSize]="[10]"
      showFirstLastButtons
    ></mat-paginator>
  </div>
</div>
