<form [formGroup]="schoolForm">
  <div class="p-grid">
    <div class="p-col" align="end">
      <button mat-raised-button color="warn" type="button" routerLink="/schools">{{ 'CANCEL' | translate }}</button>
      <button
        mat-raised-button
        color="accent"
        type="submit"
        (click)="onSave()"
        [disabled]="!isOperator"
        *ngIf="permissionService.editSchoolInIntakeChanelSchool()"
      >
        {{ 'SAVE' | translate }}
      </button>
    </div>
  </div>
  <div class="p-grid">
    <div class="p-col-3 logo-section">
      <p>{{ 'School Logo' | translate }}</p>
      <div (click)="isOperator ? uploadLogo.click() : ''" class="imgContainer">
        <div *ngIf="!schoolForm.get('school_logo').value && !isUploading; else showLogoTemplate" class="no-image ml-0">
          <div style="position: relative; top: 80px">
            {{ 'Upload school logo' | translate }} <br />
            {{ '580 x 208 px' | translate }}
          </div>
        </div>
        <ng-template #showLogoTemplate class="p-grid p-justify-center">
          <div class="logo-img-wrapper" *ngIf="!isUploading">
            <img class="center-image school-details-img" [src]="getImgURL()" />
          </div>
        </ng-template>
        <div class="logo-spinner-wrapper" *ngIf="isUploading">
          <mat-progress-spinner style="left: 35px" class="m-auto" mode="indeterminate" color="accent"></mat-progress-spinner>
        </div>
        <div class="overlay">
          <div class="text">
            {{ 'DOCUMENT.LOGO' | translate }}
            <!-- {{ 'Click Here to Upload Logo' | translate }} -->
          </div>
        </div>
        <div class="p-grid image-text">
          <div class="text-logo-section">
            {{ 'School logo' | translate }}
          </div>
        </div>
      </div>
      <input
        hidden
        type="file"
        (change)="chooseFile($event)"
        #uploadLogo
        accept="image/png, image/jpeg, image/jpg"
        [disabled]="!isOperator"
      />
      <div class="buttonContainer" *ngIf="schoolForm.get('school_logo').value">
        <button
          style="margin-right: 10px"
          matTooltip="{{ 'Edit logo' | translate }}"
          mat-mini-fab
          color="primary"
          (click)="uploadLogo.click()"
          [disabled]="!isOperator"
        >
          <mat-icon>edit</mat-icon>
        </button>
        <button matTooltip="{{ 'Delete logo' | translate }}" mat-mini-fab color="warn" (click)="deleteLogo()" [disabled]="!isOperator">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
      <div class="buttonContainer">
        {{ 'SUGGESTED_RESOLUTION' | translate }}
      </div>
    </div>
    <div class="p-col-9">
      <div class="p-grid">
        <div class="p-col-4">
          <mat-form-field>
            <input
              matInput
              formControlName="short_name"
              placeholder="{{ 'INTAKE_CHANNEL.School name' | translate }}"
              [readonly]="!isOperator"
            />
            <mat-error *ngIf="schoolForm.get('short_name').hasError('required')">{{ 'This field is required' | translate }}</mat-error>
          </mat-form-field>
        </div>
        <div class="p-col-4">
          <mat-form-field>
            <input
              matInput
              formControlName="tele_phone"
              placeholder="{{ 'INTAKE_CHANNEL.Telephone' | translate }}"
              [readonly]="!isOperator"
            />
            <mat-error *ngIf="schoolForm.get('tele_phone').hasError('required')">{{ 'This field is required' | translate }}</mat-error>
          </mat-form-field>
        </div>
        <div class="p-col-4">
          <mat-form-field>
            <input
              matInput
              formControlName="signalement_email"
              placeholder="{{ 'INTAKE_CHANNEL.Email signalement' | translate }}"
              [readonly]="!isOperator"
            />
            <mat-error *ngIf="schoolForm.get('signalement_email').hasError('email')">{{ 'Invalid email format' | translate }}</mat-error>
            <mat-error *ngIf="schoolForm.get('signalement_email').hasError('required')">{{
              'This field is required' | translate
            }}</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="p-grid">
        <div class="p-col-8">
          <mat-form-field>
            <input
              matInput
              formControlName="long_name"
              placeholder="{{ 'INTAKE_CHANNEL.School full name' | translate }}"
              [readonly]="!isOperator"
            />
            <mat-error *ngIf="schoolForm.get('long_name').hasError('required')">{{ 'This field is required' | translate }}</mat-error>
          </mat-form-field>
        </div>
        <div class="p-col-4">
          <mat-form-field>
            <input
              matInput
              formControlName="accounting_plan"
              placeholder="{{ 'INTAKE_CHANNEL.Accounting plan' | translate }}"
              [readonly]="!isOperator"
            />
            <mat-error *ngIf="schoolForm.get('accounting_plan').hasError('required')">{{ 'This field is required' | translate }}</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="p-grid">
        <div class="p-col-4">
          <mat-form-field>
            <mat-select formControlName="platform_account" placeholder="{{ 'Platform account' | translate }}" [disabled]="!isOperator">
              <mat-option value="null">
                {{ 'None' | translate }}
              </mat-option>
              <mat-option value="microsoft_365">
                {{ 'microsoft_365' | translate }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="p-col-3 logo-section">
      <p>{{ 'School Stamp' | translate }}</p>
      <div (click)="isOperator ? uploadStamp.click() : ''" class="imgContainer">
        <div *ngIf="!schoolForm.get('school_stamp').value && !isUploadingStamp; else showStampTemplate" class="no-image ml-0">
          <div style="position: relative; top: 80px">
            {{ 'Upload school stamp' | translate }} <br />
            {{ '580 x 208 px' | translate }}
          </div>
        </div>
        <ng-template #showStampTemplate class="p-grid p-justify-center">
          <div class="logo-img-wrapper" *ngIf="!isUploadingStamp">
            <img class="center-image school-details-img" [src]="getImgURLStamp()" />
          </div>
        </ng-template>
        <div class="logo-spinner-wrapper" *ngIf="isUploadingStamp">
          <mat-progress-spinner style="left: 35px" class="m-auto" mode="indeterminate" color="accent"></mat-progress-spinner>
        </div>
        <div class="overlay">
          <div class="text">
            {{ 'Add Stamp' | translate }}
            <!-- {{ 'Click Here to Upload Logo' | translate }} -->
          </div>
        </div>
        <div class="p-grid image-text">
          <div class="text-logo-section">
            {{ 'School stamp' | translate }}
          </div>
        </div>
      </div>
      <input
        hidden
        type="file"
        (change)="chooseFileStamp($event)"
        #uploadStamp
        accept="image/png, image/jpeg, image/jpg"
        [disabled]="!isOperator"
      />
      <div class="buttonContainer" *ngIf="schoolForm.get('school_stamp').value">
        <button
          style="margin-right: 10px"
          matTooltip="{{ 'Edit stamp' | translate }}"
          mat-mini-fab
          color="primary"
          (click)="uploadStamp.click()"
          [disabled]="!isOperator"
        >
          <mat-icon>edit</mat-icon>
        </button>
        <button matTooltip="{{ 'Delete stamp' | translate }}" mat-mini-fab color="warn" (click)="deleteStamp()" [disabled]="!isOperator">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
      <div class="buttonContainer">
        {{ 'SUGGESTED_RESOLUTION' | translate }}
      </div>
    </div>
  </div>
</form>

<div *ngIf="isWaitingForResponse" class="loading-indicator">
  <mat-progress-spinner mode="indeterminate" color="accent"></mat-progress-spinner>
</div>
