@import '~assets/scss/theme/admtc.variables';
@import '~assets/scss/theme/admtc';

:host ::ng-deep table {
  tr {
    td,
    th {
      border-right: 1px solid $grey;
      &:nth-child(1) {
        width: 3%;
        padding-left: 0 !important;
        text-align: center !important;
      }

      &:nth-child(2) {
        width: 15%;
        text-align: left !important;
        padding-left: 0.5rem !important;
        padding-right: 0.5rem !important;
      }

      &:nth-child(3) {
        width: 10%;
        padding-left: 0.5rem !important;
        padding-right: 0.5rem !important;
        text-align: left !important;
        min-width: 80px !important;
        max-width: 80px !important;
        .mat-form-field {
          width: 90%;
          padding-top: 0;
        }
      }

      &:nth-child(4) {
        width: 15%;
        text-align: left !important;
        padding-left: 0.5rem !important;
        padding-right: 0.5rem !important;
      }

      &:nth-child(5) {
        width: 10%;
        padding-left: 0.5rem !important;
        padding-right: 0.5rem !important;
        text-align: center !important;
        .mat-form-field {
          width: 90%;
        }
      }

      &:nth-child(6) {
        width: 10%;
        padding-left: 0.5rem !important;
        padding-right: 0.5rem !important;
        text-align: center !important;
        .mat-form-field {
          width: 90%;
        }
      }

      &:nth-child(7) {
        width: 10%;
        padding-left: 0.7rem !important;
        padding-right: 0.7rem !important;
        text-align: center !important;
      }
    }

    td {
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 0;
      white-space: nowrap;
      padding-top: 0.5em;
      padding-bottom: 0.5em;
    }

    th {
      vertical-align: top;
      .mat-form-field-infix {
        width: unset !important;
      }
    }

    &:nth-child(2) {
      th {
        padding-top: 0.9em;
      }
    }
  }

  thead tr {
    &:nth-child(2) {
      height: 35px;
    }
    &:nth-child(2),
    &:nth-child(3) {
      background: $light-black;
      th {
        color: $white;
      }
    }
  }
}
.action-header-column {
  vertical-align: middle !important;
  padding-right: 0 !important;
  .p-grid {
    margin-top: unset !important;
  }
}
:host::ng-deep.ng-select .ng-select-container {
  background-color: #fff0;
  color: #fff;
  border: none;
  border-radius: 0 !important;
  border-bottom: 1px solid #8c8c8c !important;
  min-height: 36px;
  -webkit-box-align: center;
  align-items: center;
}
:host::ng-deep.ng-select .ng-select-container .ng-value-container .ng-input > input {
  color: white;
  box-sizing: content-box;
  background: none;
  border: 0;
  box-shadow: none;
  outline: 0;
  cursor: default;
  width: 100%;
}

:host::ng-deep.ng-select .ng-select-container {
  margin-top: 3px;
}
.no-records {
  background-color: #424242;
  font-size: 14px;
  padding: 10px 12px;
  border-right: 1px solid #545454;
  border-bottom: 1px solid #545454;
}
::ng-deep.custom-matselect.mat-select-panel {
  max-width: fit-content !important;
}

::ng-deep.ng-dropdown-panel.custom-dropdownpanel {
  width: fit-content !important;
}

:host::ng-deep.ng-select.ng-select-multiple .ng-select-container .ng-value-container {
  flex-wrap: nowrap !important;
  padding-left: 0px !important;
}
:host::ng-deep.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
  background-color: transparent;
  color: white;
}
:host::ng-deep.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value:not(:nth-last-child(2))::after {
  content: ',';
}
:host::ng-deep.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-icon {
  display: none;
}

:host::ng-deep.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-placeholder {
  font-size: 16px;
}

// multiple All header styling
::ng-deep.all-input .mat-checkbox-layout .mat-checkbox-inner-container {
  width: 12px;
  height: 12px;
  margin-left: 7px;
}
::ng-deep.all-input .mat-checkbox-layout .mat-checkbox-inner-container .mat-checkbox-background {
  background-color: transparent;
}

::ng-deep.all-input
  .mat-checkbox-layout
  .mat-checkbox-inner-container
  .mat-checkbox-background
  .mat-checkbox-checkmark
  .mat-checkbox-checkmark-path {
  stroke: black !important;
}

::ng-deep.all-input.mat-checkbox-indeterminate
  .mat-checkbox-layout
  .mat-checkbox-inner-container
  .mat-checkbox-background
  .mat-checkbox-mixedmark {
  background-color: black !important;
}

.float-label {
  font-size: 0.82rem;
  color: #ffffff78;
  font-weight: 600;
  position: absolute;
  top: -3px;
}
::ng-deep.filterPanel {
  margin-top: 25px !important;
}
::ng-deep.ng-dropdown-panel.custom-dropdownpanel {
  width: fit-content !important;
}

::ng-deep .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-placeholder {
  z-index: 0 !important;
  top: auto !important;
  padding-bottom: 0 !important;
}

.text-count {
  display: inline-block;
  float: left;
  padding-top: 4px !important;
  padding: 0 10px;
}
