@import '~assets/scss/theme/admtc.variables';
@import '~assets/scss/theme/admtc';

:host ::ng-deep table {
	tr {
		td,
		th {
			border-right: 1px solid $grey;

			&:nth-child(1) {
				width: auto;
				padding-left: 0.5rem;
				padding-right: 0.5rem;

				.mat-form-field {
					width: 98%;
				}
			}

			&:nth-child(2) {
				width: 20%;
				padding-left: 0.5rem;
				padding-right: 0.5rem;

				.mat-form-field {
					width: 90%;
				}
			}

			&:nth-child(3) {
				width: 10%;
				padding-left: 0.5rem;
				padding-right: 0.5rem;
				text-align: center;

				.mat-form-field {
					width: 90%;
				}
			}

			&:nth-child(4) {
				width: 130px;
				text-align: center;
				padding-right: 0px;
			}
		}

		td {
			overflow: hidden;
			text-overflow: ellipsis;
			max-width: 0;
			white-space: nowrap;
			padding-top: 0.5em;
			padding-bottom: 0.5em;
		}

		th {
			vertical-align: top;
			text-align: center;

			.mat-form-field-infix {
				width: unset;
			}
		}

		&:nth-child(2) {
			th {
				padding-top: 0.9em;
			}
		}
	}

	thead tr {
		&:nth-child(2) {
			height: 35px;
		}

		&:nth-child(2),
		&:nth-child(3) {
			background: $light-black;

			th {
				color: $white;
			}
		}
	}
}

:host ::ng-deep {
	.mat-slide-toggle.mat-checked .mat-slide-toggle-bar .mat-slide-toggle-thumb {
	  background-color: $dark-yellow;
	}
	.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
	  background-color: rgba(255, 193, 7, 0.5);
	}
	.mat-form-field-appearance-outline .mat-form-field-infix {
	  padding: 0.15rem;
	}
	mat-form-field.mat-form-field-should-float label {
	  font-size: 18px;
	  font-weight: 600;
	  color: black;
	}
  }

::ng-deep.news-table-status {
	margin-top: 33px !important;
}