@import '~assets/scss/theme/admtc.variables';
@import '~assets/scss/theme/admtc';

.mrgn-btn {
  margin-bottom: 15px;
}

.icon-style {
  vertical-align: middle;
  margin-right: 1rem;
  cursor: pointer;
}

.dialogTitle {
  display: inline-block;
}

.dialogTitleWrapper {
  color: black;
}

.header-dialog {
  margin-top: 15px;
  padding: 0 5px 0 15px;
}

.dialog-border {
  border-bottom: 1px solid black;
  margin-bottom: 15px;
}
:host::ng-deep.mat-radio-outer-circle {
  border-color: rgba(0, 0, 0, 0.54) !important;
}
:host::ng-deep.mat-form-field-underline {
  background-color: rgba(0, 0, 0, 0.12) !important;
}
.acad-title {
  padding: 0px;
  margin-right: 25px;
}
.w-30 {
  padding-top: 4px !important;
  margin-right: 7px !important;
}
.w-65 {
  float: right;
  position: relative;
  right: -15px;
}
.no-padding-left {
  padding-left: 0px !important;
}
.label-align {
  align-self: center;
}
.border-white {
  border: 1px solid rgb(116, 116, 116);
}
.flex-hidden-mr-1 {
  flex-wrap: nowrap;
  overflow: hidden;
  margin-right: 1rem !important;
}
.header-who {
  text-align: center;
  margin-top: 20px;
}
.icon-who {
  width: 30px;
  float: left;
  padding-top: 0px !important;
}
.name-who {
  display: inline-block;
  text-align: center;
  margin-right: 0px !important;
  width: 645px;
}
// .card:hover {
//   background-color: #d6d6d6;
// }
.card-selected {
  background-color: #fdd835;
}
.card {
  width: 100%;
  padding-bottom: 3px !important;
  padding: 10px;
  vertical-align: middle;
  border: 1px solid #252525;
  text-align: center;
  align-self: center;
  display: inline-block;
  cursor: pointer;
}
.cards {
  width: 100%;
  padding-bottom: 3px !important;
  padding: 10px;
  vertical-align: middle;
  border: 1px solid #252525;
  text-align: center;
  align-self: center;
  display: inline-block;
}
.inline {
  display: inline-block;
  text-align: left;
}
.card-lettrage {
  border: 1px solid black;
}
.pad-v-none {
  padding-left: 0px;
  padding-right: 0px;
}