<div class="row padl-13 hd-legend web-card">
  <label>{{ 'Company Detail' | translate }}</label>
</div>
<div class="card web-card">
  <div class="card-body card-segment detail-intership">
    <div class="row back-card">
      <div class="candidate-detail" fxLayout="row wrap">
        <div class="candidate-profile" fxFlex="15">
          <img [src]="companyForm?.get('logo').value ? serverimgPath + companyForm?.get('logo').value : companyImage" class="candidate-photo" />
        </div>
        <div class="candidate-information" fxFlex="85" fxLayout="row wrap">
          <div class="first-row" fxFlex="100" style="margin-bottom: 0px;" fxLayout="row" fxLayoutAlign="start end">
            <div class="name" fxFlex="25">
              <span class="label" style="margin: 0px !important;font-size: 16px !important;padding-top: 8px !important;">{{ companyForm?.get('company_name').value }}</span>
            </div>
            <!-- <div class="program" fxFlex="25" fxLayout="row">
              <span class="tag yellow"
                ><mat-icon class="icons-style icons-brand">branding_watermark</mat-icon
                ><span class="labels"> {{ companyForm?.get('brand').value }} </span></span
              >
            </div> -->
          </div>
          <div class="second-row" fxFlex="100" style="margin-bottom: 0px;" fxLayout="row" fxLayoutAlign="start start">
            <div class="" fxLayout="row">
              <span class="icon"><mat-icon class="primary-icon icons-style">branding_watermark</mat-icon></span>
              <span class="label"> {{ companyForm?.get('brand').value }} </span>
            </div>
            <div class="" fxLayout="row">
              <span class="icon"><mat-icon class="primary-icon icons-style">business</mat-icon></span>
              <span class="label"> {{ companyForm?.get('industry').value }} </span>
            </div>
            <div class="" fxLayout="row">
              <span class="icon"><mat-icon class="primary-icon icons-style">place</mat-icon></span>
              <span class="label">
                {{ companyForm?.get('address').value + ', ' + companyForm?.get('city').value + ', ' + companyForm?.get('country').value }}
              </span>
            </div>
          </div>
          <div class="third-row" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center">
            <div class="" fxLayout="row">
              <span class="icon"><mat-icon class="primary-icon icons-style" style="color: white">public</mat-icon></span>
              <span class="icon"><mat-icon class="primary-icon icons-style" style="color: white" svgIcon="twitter"></mat-icon></span>
              <span class="icon"><mat-icon class="primary-icon icons-style" style="color: white" svgIcon="linkedin"></mat-icon></span>
              <span class="icon"><mat-icon class="primary-icon icons-style" style="color: white" svgIcon="youtube"></mat-icon></span>
              <span class="icon"><mat-icon class="primary-icon icons-style" style="color: white">facebook</mat-icon></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row padl-13 hd-legend mobile-card">
  <label>{{ 'Company Detail' | translate }}</label>
</div>
<div class="card mobile-card">
  <div class="card-body card-segment detail-intership">
    <div class="row back-card">
      <div class="candidate-detail" fxLayout="row wrap">
        <div class="candidate-profile" fxFlex="100" style="text-align: center; margin-bottom: 25px">
          <img [src]="companyForm?.get('logo').value ? serverimgPath + companyForm?.get('logo').value : companyImage" class="candidate-photo" />
        </div>
        <div class="candidate-information" fxFlex="100" fxLayout="row wrap" style="padding: 0px 50px">
          <div class="first-row" fxFlex="100" fxLayout="row" fxLayoutAlign="start end" style="text-align: center">
            <div class="info" style="text-align: center">
              <span class="infos">{{ companyForm?.get('company_name').value }}</span>
            </div>
          </div>
          <div class="first-row" fxFlex="100" fxLayout="row" fxLayoutAlign="start end" style="text-align: center">
            <div class="info" style="text-align: center">
              <mat-icon class="primary-icon icons-style" style="color: white">public</mat-icon>
              <mat-icon class="primary-icon icons-style" style="color: white" svgIcon="twitter"></mat-icon>
              <mat-icon class="primary-icon icons-style" style="color: white" svgIcon="linkedin"></mat-icon>
              <mat-icon class="primary-icon icons-style" style="color: white" svgIcon="youtube"></mat-icon>
              <mat-icon class="primary-icon icons-style" style="color: white">facebook</mat-icon>
            </div>
          </div>
          <div class="third-row" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center">
            <div class="" fxLayout="row" style="width: 100%">
              <span class="icon"><mat-icon class="primary-icon icons-style">branding_watermark</mat-icon></span>
              <span class="label"> {{ companyForm?.get('industry').value }} </span>
            </div>
            <div class="" fxLayout="row" style="width: 100%">
              <span class="icon"><mat-icon class="primary-icon icons-style">business</mat-icon></span>
              <span class="label"> {{ companyForm?.get('brand').value }} </span>
            </div>
            <div class="" fxLayout="row" style="width: 100%">
              <span class="icon"><mat-icon class="primary-icon icons-style">place</mat-icon></span>
              <span class="label">
                {{ companyForm?.get('address').value + ', ' + companyForm?.get('city').value + ', ' + companyForm?.get('country').value }}
              </span>
            </div>
          </div>
          <div class="third-row" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center">
            <div class="" fxLayout="row" style="width: 100%"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="btn-conditions">
  <button
    color="accent"
    style="margin: 5px 10px 0px 10px"
    class="btn-first"
    mat-raised-button
    (click)="modifyData()"
    matTooltip="{{ 'I want to modify my information' | translate }} "
  >
    <i class="fa fa-pencil" aria-hidden="true"></i>
    {{ 'I want to modify my information' | translate }}
  </button>
  <button
    color="accent"
    mat-raised-button
    matTooltip="{{ 'I confirm my information' | translate }} "
    class="btn-first"
    style="margin: 10px"
  >
    <mat-icon class="mat-icon-default">save</mat-icon>
    {{ 'I confirm my information' | translate }}
  </button>
</div>
