.green-btn {
  background-color: green !important;
  cursor: default;
  height: 22px !important;
  padding: 0px !important;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.status {
  margin-right: 10px;
}
.summary {
  ::ng-deep .mat-expansion-panel-body {
    padding: 0 15px 10px;
    height: 130px;
  }
}
.detail {
  margin-top: 15px !important;
}

.mr-left {
  margin-left: 10px;
}
.mr-right {
  margin-right: 7px !important;
}

.panel-header {
  color: #ffffff;
  font-size: 16px;
  height: 30px !important;
}
.arrow {
  position: absolute;
  top: 96px;
}
.map {
  display: inline-flex;
  align-self: baseline;
  margin-right: 8px;
}
.refresh {
  display: inline-flex;
  align-self: baseline;
  margin-right: 8px;
  transform: rotate(130deg);
  color: #ffd740;
  cursor: pointer;
}
.company-name {
  text-decoration: underline;
  margin-bottom: 0px;
  margin-left: 25px;
}
.title-refresh {
  margin-left: 25px;
}

.galu {
  width: 800px;
}
