<form [formGroup]="campusForm">
  <fieldset class="fieldset-class">
    <div class="p-grid save-button-section">
      <div class="p-col-12 text-right" style="padding-right: 0px">
        <button mat-raised-button color="warn" type="button" routerLink="/campus">{{ 'CANCEL' | translate }}</button>
        <button mat-raised-button color="accent" style="margin-right: 0px" (click)="saveCampus()" *ngIf="permission.saveSiteCampus()">{{ 'SAVE' | translate }}</button>
      </div>
    </div>
    <div class="p-grid yellow-border card-row school-detail-fieldset">
      <div class="section-header display-flex">
        <h3>{{ 'INTAKE_CHANNEL.Campus details' | translate }}</h3>
      </div>
      <div class="p-col-12">
        <div class="p-grid">
          <div class="p-col-12">
            <div class="p-grid">
              <div class="p-col-4">
                <mat-form-field color="accent" class="balance-dropdown full-width">
                  <input
                    matInput
                    required
                    class="text-white"
                    type="text"
                    formControlName="name"
                    placeholder="{{ 'INTAKE_CHANNEL.Campus name' | translate }}"
                  />
                  <mat-error *ngIf="campusForm?.get('name')?.hasError('required')">{{ 'This field is required' | translate }}</mat-error>
                </mat-form-field>
              </div>
              <div class="p-col-4" *ngIf="!hideCampusSigle">
                <mat-form-field color="accent" class="balance-dropdown full-width">
                  <input
                    matInput
                    required
                    class="text-white"
                    type="text"
                    formControlName="short_name"
                    placeholder="{{ 'Sigle' | translate }}"
                  />
                  <mat-error *ngIf="campusForm?.get('short_name')?.hasError('required')">{{
                    'This field is required' | translate
                  }}</mat-error>
                </mat-form-field>
              </div>
              <div class="p-col-4">
                <mat-form-field color="accent" class="full-width p-top-8">
                  <input
                    type="text"
                    required
                    matInput
                    placeholder="{{ 'INTAKE_CHANNEL.Analytical code' | translate }}"
                    formControlName="analytical_code"
                  />
                  <mat-error *ngIf="campusForm?.get('analytical_code')?.hasError('required')">{{
                    'This field is required' | translate
                  }}</mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </fieldset>
  <div class="p-grid yellow-border card-row rncp-title-fieldset">
    <div class="section-header">
      <h3>{{ 'Sites' | translate }}</h3>
    </div>
    <div class="p-col-12">
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
        <ng-container matColumnDef="reset">
          <th mat-header-cell *matHeaderCellDef colspan="8" class="action-header-column">
            <div class="p-grid">
              <div class="p-col-12 text-right">
                <!-- Start Action Button Above table -->
                <button
                  matTooltip="{{ 'Action' | translate }} "
                  style="padding: 0px 7px !important"
                  mat-raised-button
                  color="accent"
                  [disabled]="isWaitingForResponse"
                  [matMenuTriggerFor]="action"
                >
                  {{ 'Action' | translate }}
                  <mat-icon>expand_more</mat-icon>
                </button>
                <mat-menu #action="matMenu">
                  <button mat-menu-item matTooltip="{{ 'INTAKE_CHANNEL.Add site' | translate }}" (click)="connectSite('')"  *ngIf="permission.addSiteCampus()">
                    {{ 'INTAKE_CHANNEL.Add site' | translate }}
                  </button>
                </mat-menu>
                <!--End Action Button Above table -->

                <button
                  mat-raised-button
                  color="primary"
                  matTooltip="{{ 'Reset Filter' | translate }}"
                  matTooltipPosition="above"
                  (click)="resetTable()"
                >
                  <mat-icon svgIcon="loop" class="mat-icon-svgIcon"></mat-icon>
                  {{ 'RESET' | translate }}
                </button>
              </div>
            </div>
          </th>
        </ng-container>

        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef class="text-center">
            <mat-checkbox
              (change)="$event ? masterToggle() : null"
              (change)="showOptions('all')"
              [checked]="(selection.hasValue() && isAllSelected()) || isCheckedAll"
              [indeterminate]="selection.hasValue() && !isAllSelected()"
              [aria-label]="checkboxLabel()"
            >
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row" class="text-center">
            <mat-checkbox
              (click)="$event.stopPropagation()"
              (change)="$event ? selection.toggle(row) : null"
              [checked]="selection.isSelected(row) || isCheckedAll"
              (change)="showOptions('one')"
              [aria-label]="checkboxLabel(row)"
            >
            </mat-checkbox>
          </td>
        </ng-container>

        <!-- table header and value section -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef matTooltip="{{ 'INTAKE_CHANNEL.Name' | translate }}" matTooltipPosition="above">
            <h5 class="text-center">{{ 'INTAKE_CHANNEL.Name' | translate }}</h5>
          </th>
          <td mat-cell *matCellDef="let element" [matTooltip]="element?.site_id?.name">
            {{ element?.site_id?.name }}
          </td>
        </ng-container>

        <ng-container matColumnDef="address">
          <th mat-header-cell *matHeaderCellDef matTooltip="{{ 'INTAKE_CHANNEL.Address' | translate }}" matTooltipPosition="above">
            <h5 class="text-center">{{ 'INTAKE_CHANNEL.Address' | translate }}</h5>
          </th>
          <td mat-cell *matCellDef="let element" [matTooltip]="element?.site_id?.address">
            {{ element?.site_id?.address }}
          </td>
        </ng-container>

        <ng-container matColumnDef="postcode">
          <th mat-header-cell *matHeaderCellDef matTooltip="{{ 'INTAKE_CHANNEL.Postal code' | translate }}" matTooltipPosition="above">
            <h5 class="text-center">{{ 'INTAKE_CHANNEL.Postal code' | translate }}</h5>
          </th>
          <td mat-cell *matCellDef="let element" [matTooltip]="element?.site_id?.zip_code">
            {{ element?.site_id?.zip_code }}
          </td>
        </ng-container>

        <ng-container matColumnDef="city">
          <th mat-header-cell *matHeaderCellDef matTooltip="{{ 'INTAKE_CHANNEL.City' | translate }}" matTooltipPosition="above">
            <h5 class="text-center">{{ 'INTAKE_CHANNEL.City' | translate }}</h5>
          </th>
          <td mat-cell *matCellDef="let element" [matTooltip]="element?.site_id?.city">
            {{ element?.site_id?.city }}
          </td>
        </ng-container>

        <ng-container matColumnDef="country">
          <th mat-header-cell *matHeaderCellDef matTooltip="{{ 'INTAKE_CHANNEL.Country' | translate }}" matTooltipPosition="above">
            <h5 class="text-center">{{ 'INTAKE_CHANNEL.Country' | translate }}</h5>
          </th>
          <td mat-cell *matCellDef="let element" [matTooltip]="element?.site_id?.country">
            {{ element?.site_id?.country }}
          </td>
        </ng-container>

        <ng-container matColumnDef="mainAddress">
          <th mat-header-cell *matHeaderCellDef matTooltip="{{ 'INTAKE_CHANNEL.Main address' | translate }}" matTooltipPosition="above">
            <h5 class="text-center">{{ 'INTAKE_CHANNEL.Main address' | translate }}</h5>
          </th>
          <td mat-cell *matCellDef="let element">
            <mat-icon class="green-icon" *ngIf="element?.is_main_address"> lens </mat-icon>
          </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef matTooltip="{{ 'Action' | translate }}" matTooltipPosition="above">
            <h5 class="text-center">{{ 'Action' | translate }}</h5>
          </th>
          <td mat-cell *matCellDef="let element">
            <button
              mat-icon-button
              class="margin-right-button"
              (click)="changeMainAddredd(element)"
              matTooltip="{{ 'INTAKE_CHANNEL.Main address' | translate }}"  *ngIf="permission.pinSiteCampus()"
            >
              <mat-icon>push_pin</mat-icon>
            </button>
            <button
              mat-icon-button
              class="margin-right-button"
              matTooltip="{{ 'Edit' | translate }}"
              matTooltipPosition="above"
              (click)="goToSite()"  *ngIf="permission.editSiteCampus()"
            >
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button class="margin-right-button" matTooltip="{{ 'Delete' | translate }}" (click)="removeSiteCampus(element)" *ngIf="permission.deleteSiteCampus()">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="loading">
          <th mat-header-cell *matHeaderCellDef colspan="8" class="text-center">
            <div class="center-spinner">
              <mat-spinner color="accent"></mat-spinner>
            </div>
          </th>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="['reset']"></tr>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matHeaderRowDef="['loading']" [hidden]="!isLoading"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns" [hidden]="isLoading"></tr>
      </table>
      <div *ngIf="noData | async" class="no-records" [ngClass]="{ hide: isLoading }">
        {{ 'NOT RECORD FOUND' | translate }}
      </div>
      <div [ngClass]="{ hide: noData | async }">
        <mat-paginator
          [ngClass]="{ 'hide-pagination-buttons': dataCount <= 10 }"
          [length]="dataCount"
          [hidePageSize]="true"
          [pageSize]="[10]"
          showFirstLastButtons
        ></mat-paginator>
      </div>
    </div>
  </div>
</form>

<div *ngIf="isWaitingForResponse" class="loading-indicator">
  <mat-progress-spinner mode="indeterminate" color="accent"></mat-progress-spinner>
</div>
