.baseline {
  align-items: baseline;
}

.titleImport {
  font-size: 16px;
}
:host::ng-deep.ng-select .ng-select-container {
  color: #ffffff;
  background-color: #fff0;
  border: none;
  border-radius: 0px !important;
  border-bottom: 1px solid #8c8c8c !important;
  min-height: 36px;
  -webkit-box-align: center;
  align-items: center;
}
:host::ng-deep.mat-select-arrow-wrapper {
  padding-right: 5px;
}
:host::ng-deep.mat-select-value-text {
  margin-left: 10px;
  font-size: 13px;
}
:host::ng-deep.ng-select .ng-select-container .ng-value-container {
  padding-left: 0px !important;
}
:host::ng-deep.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
  color: black;
}
:host::ng-deep.ng-select .ng-select-container .ng-value-container .ng-input > input {
  color: white;
  box-sizing: content-box;
  background: none;
  border: 0;
  box-shadow: none;
  outline: 0;
  cursor: default;
  width: 100%;
}
.form-border {
  padding-top: 10px;
  border: 2px solid #fdd835;
  margin-top: 15px !important;
}
.fileInfo {
  width: -webkit-fit-content !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
  margin: 5px !important;
  display: inline-block !important;
  border: 1px solid rgba(0, 0, 0, 0.1);
  z-index: 10;
  box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1), inset 0 -1px 0 rgba(0, 0, 0, 0.07);
}
.swal2-button {
  line-height: 30px;
  font-size: 12px !important;
  border-radius: 2px;
}
.border-white {
  padding-bottom: 0px;
  margin-left: 7px;
  margin-right: 7px !important;
  width: 98%;
  border: 1px solid;
  margin-bottom: 10px !important;
}
::ng-deep.swal2-label {
  font-weight: bold;
  font-size: 14px;
}
::ng-deep.swal2-radio label {
  font-weight: bold !important;
  font-size: 14px !important;
}
.spinner-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  background-color: rgba(35, 35, 35, 0.5);
  z-index: 998;
}

.custom-mat-form {
  @media only screen and (max-width: 685px) {
    ::ng-deep .mat-form-field {
      margin-top: 1px !important;
    }
  }
  @media only screen and (min-width: 686px) and (max-width: 958px) {
    ::ng-deep .mat-form-field {
      margin-top: 2px !important;
    }
  }
  @media only screen and (min-width: 959px) and (max-width: 1365px) {
    ::ng-deep .mat-form-field {
      margin-top: 0px !important;
    }
  }
  @media only screen and (min-width: 1366px) {
    ::ng-deep .mat-form-field {
      margin-top: -4px !important;
    }
  }
}
