<div class="header-wrapper">
    <mat-icon class="header-icon">insert_drive_file</mat-icon>
    <h4 class="header-title pad-x-sm" >
        {{'PDF_RULE.Preview of school contract amendment' | translate}}
    </h4>
    <button mat-icon-button class="close-icon float-right" (click)="closeDialog()" tabindex="-1">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  
  <mat-dialog-content>
    <div class="body-section">
      <div class="cke-value-wrapper"></div>
      <div style="text-align: center;">
        <ng-container *ngIf="pdfFile && !isWaitingForResponse">
          <embed [src]="pdfFile | safeResourceUrl " width="100%" height="600px"/>
        </ng-container>
      </div>
    </div>
  
    <div *ngIf="isWaitingForResponse" class="loading-indicator">
      <mat-progress-spinner mode="indeterminate" color="accent"></mat-progress-spinner>
    </div>
  </mat-dialog-content>
  
  
  <mat-dialog-actions>
    <div mat-dialog-actions class="alignment-bottom">
      <div class="p-grid action-section">
        <div class="p-col-8">
          <div class="p-grid">
          </div>
          <div class="p-grid">
          </div>
        </div>
        <div class="p-col-4 action-btn">
          <button data-cy="button-cancel-add-od-dialog" mat-raised-button type="button" color="warn" (click)="closeDialog()">
                {{ 'CANCEL' | translate }}
          </button>
          <!-- <button mat-raised-button color="primary" (click)="downloadDoc()">{{'Cert_Rule.Download' | translate}}</button> -->
          <button mat-raised-button color='accent' (click)="submit()">
              {{'PDF_RULE.Confirm sending' | translate}}
          </button>
        </div>    
      </div>
    </div>
  </mat-dialog-actions>