@import "~assets/scss/theme/admtc.variables";
@import "~assets/scss/theme/admtc";

.detail-container {
    width: 100%;
}

.news-date p {
    margin: unset !important;
}

.news-date {
    margin-bottom: 1.25rem !important;
}

.hide-pagination-buttons {      
    .hide-pagination-buttons {
        display: none !important;
    }
    .mat-paginator-navigation-first {
      display: none !important;
    }
    .mat-paginator-navigation-previous {
      display: none !important;
    }
    .mat-paginator-navigation-next {
      display: none !important;
    }
    .mat-paginator-navigation-last {
      display: none !important;
    }
  }

.paginator {
    border-radius: 5px !important;
    min-width: 20rem;
    background-color: inherit !important;
    display: unset !important;
}

.news-time {
    margin-bottom: 1.25rem;
}

:host ::ng-deep.mat-paginator-icon {
    width: 22px !important;
}

:host ::ng-deep.mat-paginator-container {
    min-height: unset !important;
    justify-content: center !important;
    display: unset !important;
}

:host ::ng-deep .mat-paginator-range-actions {
    justify-content: right;
}

:host ::ng-deep.mat-paginator-range-label {
    margin: 0 24px 0 0 !important;
}

:host ::ng-deep.mat-icon-button {
    width: 22px !important;
}

.hide {
    display: none !important;
}

:host ::ng-deep.news-content{
    ol, ul, menu {
        list-style: none;
        margin: 0;
        padding: 0 1rem;
    }
}