<!-- <ng-container *ngIf="isWaitingForResponse">
    <div class="center-spinner tw-w-full tw-h-full tw-flex tw-justify-center tw-items-center">
      <mat-spinner color="accent"></mat-spinner>
    </div>
</ng-container> -->

<!-- <div [class.hide]="isWaitingForResponse"> -->
  <div>
    <div class="detail-container">
        <div class="header">
            <h1 class="news-title w-full text-center">{{dataOneNews?.title}}</h1>
        </div>
        <div class="news-date">
            <p>{{ "NEWS.created by" | translate }} 
                <span> {{dataOneNews?.created_by?.last_name}}</span>
                <span> {{dataOneNews?.created_by?.first_name}}</span>
            </p>
            <p>{{ dataOneNews?.published_date?.date }}</p>
            <p>{{dataOneNews?.published_date?.time}}</p>
        </div>
        <div class="news-content">
            <div class="content" [innerHTML]="sanitizeHtml(dataOneNews?.description)"></div>   
        </div>
    </div>

    <!-- Disscuss -->
    <div class="tw-w-full tw-flex tw-gap-x-5 tw-mt-5">
    <div class="tw-flex tw-justify-between tw-items-center tw-bg-[#424242] tw-px-5 tw-py-4 tw-rounded-lg tw-gap-4">
        <span
        class="tw-flex tw-items-center tw-gap-1"
        [ngClass]="{
            'tw-text-yellow-500': dataOneNews?.is_current_user_like_the_news
        }"
        >
        <mat-icon>thumb_up</mat-icon>
        {{ dataOneNews?.total_like }}
        </span>
        <button (click)="likeDiscuss()" mat-raised-button class="!tw-bg-[#717171] !tw-font-bold" [disabled]="isLoading">{{ 'ERP_076.Like' | translate }}</button>
    </div>
    <div class="tw-flex tw-justify-between tw-items-center tw-px-5 tw-py-4 tw-bg-[#424242] tw-rounded-lg tw-gap-4">
        <span class="tw-flex tw-items-center tw-gap-1">
        <mat-icon>mode_comment</mat-icon>
        {{ discussDataCount }}
        </span>
        <button (click)="scrollToCommentInput()" mat-raised-button class="!tw-bg-[#717171] !tw-font-bold">
        {{ 'ERP_076.Discuss' | translate }}
        </button>
    </div>
    </div>

    <div class="tw-w-full tw-bg-[#424242] tw-px-5 tw-py-4 tw-rounded-lg tw-my-5">
    <h3>{{ 'ERP_076.Discussion' | translate }}</h3>
    <div class="tw-overflow-auto tw-max-h-80 tw-mb-5">
        <div class="tw-w-full" *ngFor="let discuss of newsDiscussData">
        <div class="tw-w-full tw-rounded-lg tw-px-5 tw-py-4 tw-bg-[#363636] tw-mb-4">
            <span class="tw-flex tw-flex-1 tw-items-center tw-justify-items-center tw-gap-2 tw-mb-2">
            <img [src]="discuss.userPhotoPath" alt="user_profile" class="tw-size-10 tw-object-cover tw-rounded-full" />
            <span class="tw-font-bold"> {{ (discuss?.created_by?.last_name | uppercase) + ' ' + discuss?.created_by?.first_name }}</span>
            <span class="">{{ discuss?.createdDate }}</span>
            <span class="">{{ discuss?.createdTime }}</span>
            </span>
            <span class="tw-w-full" [innerHTML]="discuss?.comment">
            
            </span>
        </div>
        </div>
    </div>

    <div>
        <mat-paginator
        class="paginator"
        [ngClass]="{ 'hide-pagination-buttons': discussDataCount <= 10 }"
        [length]="discussDataCount"
        [hidePageSize]="true"
        [pageSize]="10"
        showFirstLastButtons
        ></mat-paginator>
    </div>

  <!-- Comment Input -->
  <div class="tw-w-full tw-mt-6">
    <div class="tw-w-full tw-rounded-lg tw-px-5 tw-py-4 tw-bg-[#363636]">
      <div class="tw-flex tw-justify-between tw-items-center tw-rounded-xl tw-px-2 tw-bg-[#424242] ">
        <div class="tw-flex tw-items-center tw-w-full tw-gap-1 tw-min-h-10px tw-max-h-[200px]">
          <img [src]="userPhotoPath" alt="user_profile" class="tw-size-8 tw-object-cover tw-rounded-full" />
          <textarea
          (keypress)="onKeyPress($event)"
          #commentInput
          rows="1"
          placeholder="{{ 'ERP_076.Add Comment' | translate }}"
          [formControl]="newsDiscussion"
          class="tw-resize-none tw-p-2 tw-flex-grow tw-text-app-tertiary tw-text-base tw-bg-transparent  focus:tw-outline-none tw-min-h-10px tw-mb-[2px] tw-max-h-[200px]"
        ></textarea>
          <button
            (click)="sendDiscussion()"
            [disabled]="isLoadingDiscussion || !newsDiscussion.valid"
            class="tw-h-10 tw-flex tw-items-center tw-justify-center disabled:tw-opacity-50"
            matTooltip="{{ 'ERP_076.Send' | translate }}"
          >
            <mat-icon>send</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
