@import "~assets/scss/theme/admtc.variables";
@import "~assets/scss/theme/admtc";

.news-widget-card {
    padding: 10px;
    // background-color: rgba(128, 126, 126, 0.273);
    border-radius: 5px;
    width: 100%;
    height: 4.4rem;
}

.news-widget-card div,
.news-widget-card div p {
    margin: 0;
}

.header {
    display: flex;
    gap: 7px;
    align-items: center;
}

.content div {
    width: 100%;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.content {
    width: 100%;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.header p:nth-child(1) {
    // background-color: rgb(40, 38, 38);
    min-width: fit-content;
    padding: 1px 10px;
    border-radius: 10px;
    font-size: small;
}

.header p:nth-child(2) {
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.header p:nth-child(3) {
    font-size: small;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.title-news {
    max-width: 75% !important;
}

:host ::ng-deep.content-inner img {
    display: none !important;
}

.content-inner {
    max-width: 96%;
}
