textarea.mat-input-element.cdk-textarea-autosize {
  box-sizing: content-box;
  overflow: hidden;
  resize: none;
  padding-left: 5px;
  padding-right: 5px;
  width: -webkit-fill-available;
}

.header-form {
  padding: 18px;
}

.footer-form {
  padding: 0px 18px 18px 18px;
}

:host ::ng-deep .mat-form-field-flex {
  border: 2px solid #ffd740 !important;
}

:host ::ng-deep .mat-form-field-inflix {
  border: 0 !important; 
}
