$image-size: 10rem;

.profile-photo-wrapper {
  width: 36px;
  height: 36px;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 50%;
}

.profile-wrapper {
  padding: .5rem 1rem;
}

.image-wrapper {
  margin-right: auto;
  margin-left: auto;
  position: relative;
  max-width: $image-size;
  max-height: $image-size;
  min-width: $image-size;
  min-height: $image-size;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
}

.image-overlay {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #ffffffaa;
  font-family: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 100ms ease-in;
}

.image-wrapper:hover .image-overlay {
  opacity: 1;
}

.mat-button-with-icon mat-icon {
  overflow: visible !important;
}