@import 'assets/scss/theme/admtc.variables';

// Variables
$menu-active-color: $dark-yellow;
$menu-padding-y: 0.75rem;
$menu-padding-x: 1rem;
$menu-transition-duration: 50ms;
$material-design-easing: cubic-bezier(0.4, 0, 0.2, 1);

// Mixins
@mixin transition($property: all) {
  transition: $property $menu-transition-duration $material-design-easing;
}

// Styles
.menu {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
}

.menu-item-wrapper {
  @include transition(background-color);

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }

  > .menu {
    display: none;

  }
  &.expanded > .menu {
    display: flex;
  }
}

.menu-item {
  padding: $menu-padding-y $menu-padding-x;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  position: relative;

  .button-favorite {
    margin-left: auto;
    @include transition(opacity);
    opacity: 0;
  }

  &:hover {
    .button-favorite {
      opacity: 1;
    }
  }

  > .mat-icon:first-of-type {
    flex-shrink: 0;
  }

  &.active {
    color: $menu-active-color;
    background-color: rgba(0, 0, 0, 0.2);
  }

  > .chevron-icon {
    @include transition(transform);
  }

  .menu-item-wrapper.expanded & > .chevron-icon {
    transform: rotate(90deg);
  }
}

.sub-menu-item {
  padding: $menu-padding-y $menu-padding-x $menu-padding-y calc($menu-padding-x + 3ch);
}

.button-favorite {
  line-height: 1;

  .mat-icon {
    width: 1.125rem;
    height: 1.125rem;
    font-size: 1.125rem;
  }
}
