.container {
  margin-top: 40px;

  .custom-panel {
    ::ng-deep .mat-expansion-panel-header {
      border-bottom: 1px solid white;
    }
  }

  ::ng-deep .mat-expansion-panel-body {
    background-color: #607d8b;
    color: white;
  }

  .document-editor {
    border: 1px solid var(--ck-color-base-border);
    border-radius: var(--ck-border-radius);

    /* Set vertical boundaries for the document editor. */
    max-height: 700px;

    /* This element is a flex container for easier rendering. */
    display: flex;
    flex-flow: column nowrap;
  }

  .document-editor__toolbar {
    /* Make sure the toolbar container is always above the editable. */
    z-index: 1;

    /* Create the illusion of the toolbar floating over the editable. */
    box-shadow: 0 0 5px hsla(0, 0%, 0%, 0.2);

    /* Use the CKEditor CSS variables to keep the UI consistent. */
    border-bottom: 1px solid var(--ck-color-toolbar-border);
    margin-bottom: 0;
  }

  /* Adjust the look of the toolbar inside the container. */
  .document-editor__toolbar .ck-toolbar {
    border: 0;
    border-radius: 0;
  }

  /* Make the editable container look like the inside of a native word processor application. */
  .document-editor__editable-container {
    padding: calc(2 * var(--ck-spacing-large));
    background: var(--ck-color-base-foreground);

    /* Make it possible to scroll the "page" of the edited content. */
    overflow-y: scroll;
    margin-bottom: 0;
  }

  .document-editor__editable-container .ck-editor__editable {
    /* Set the dimensions of the "page". */
    width: 85%;
    min-height: 10cm;

    /* Keep the "page" off the boundaries of the container. */
    padding: 1cm 2cm 2cm;

    border: 1px hsl(0, 0%, 82.7%) solid;
    border-radius: var(--ck-border-radius);
    background: white;

    /* The "page" should cast a slight shadow (3D illusion). */
    box-shadow: 0 0 5px hsla(0, 0%, 0%, 0.1);

    /* Center the "page". */
    margin: 0 auto;

    color: black !important;
  }

  .document-editor .ck-heading-dropdown .ck-list .ck-button__label {
    line-height: calc(1.7 * var(--ck-line-height-base) * var(--ck-font-size-base));
    min-width: 6em;
  }

  /* Scale down all heading previews because they are way too big to be presented in the UI.
            Preserve the relative scale, though. */
  .document-editor .ck-heading-dropdown .ck-list .ck-button:not(.ck-heading_paragraph) .ck-button__label {
    transform: scale(0.8);
    transform-origin: left;
  }

  /* Set the styles for "Heading 1". */
  .document-editor .ck-content h2,
  .document-editor .ck-heading-dropdown .ck-heading_heading1 .ck-button__label {
    font-size: 2.18em;
    font-weight: normal;
  }

  .document-editor .ck-content h2 {
    line-height: 1.37em;
    padding-top: 0.342em;
    margin-bottom: 0.142em;
  }

  /* Set the styles for "Heading 2". */
  .document-editor .ck-content h3,
  .document-editor .ck-heading-dropdown .ck-heading_heading2 .ck-button__label {
    font-size: 1.75em;
    font-weight: normal;
    color: hsl(203, 100%, 50%);
  }

  .document-editor .ck-heading-dropdown .ck-heading_heading2.ck-on .ck-button__label {
    color: var(--ck-color-list-button-on-text);
  }

  /* Set the styles for "Heading 2". */
  .document-editor .ck-content h3 {
    line-height: 1.86em;
    padding-top: 0.171em;
    margin-bottom: 0.357em;
  }

  /* Set the styles for "Heading 3". */
  .document-editor .ck-content h4,
  .document-editor .ck-heading-dropdown .ck-heading_heading3 .ck-button__label {
    font-size: 1.31em;
    font-weight: bold;
  }

  .document-editor .ck-content h4 {
    line-height: 1.24em;
    padding-top: 0.286em;
    margin-bottom: 0.952em;
  }

  /* Set the styles for "Paragraph". */
  .document-editor .ck-content p {
    font-size: 1em;
    line-height: 1.63em;
    padding-top: 0.5em;
    margin-bottom: 1.13em;
  }

  .document-editor .ck-content blockquote {
    font-family: Georgia, serif;
    margin-left: calc(2 * var(--ck-spacing-large));
    margin-right: calc(2 * var(--ck-spacing-large));
  }
}

.custom-ng-select {
  ::ng-deep.ng-select .ng-select-container {
    background-color: #fff0;
    border: none;
    border-radius: 0px !important;
    border-bottom: 1px solid #ffffff !important;
    min-height: 36px;
    -webkit-box-align: center;
    align-items: center;
  }
  ::ng-deep.mat-select-arrow-wrapper {
    padding-right: 5px;
  }
  ::ng-deep.mat-select-value-text {
    margin-left: 10px;
    font-size: 13px;
  }
  ::ng-deep.ng-select .ng-select-container .ng-value-container .ng-input > input {
    color: white;
    box-sizing: content-box;
    background: none;
    border: 0;
    box-shadow: none;
    outline: 0;
    cursor: default;
    width: 100%;
  }
  ::ng-deep.ng-select .ng-select-container .ng-value-container .ng-placeholder {
    color: white;
  }
  ::ng-deep.ng-select.ng-select-multiple .ng-select-container .ng-value-container {
    padding-left: 0px;
  }
  ::ng-deep.ng-select .ng-select-multiple .ng-select-container .ng-value-container .ng-input {
    padding: 0px;
  }
  ::ng-deep.ng-select .ng-select-multiple .ng-select-container .ng-value-container .ng-placeholder {
    padding-left: 0px;
  }

  ::ng-deep.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-value {
    color: white;
  }

  ::ng-deep.ng-select.ng-select-single .ng-select-container .ng-value-container {
    padding-left: 0px;
  }
  ::ng-deep.ng-select .ng-select-single .ng-select-container .ng-value-container .ng-input {
    padding: 0px;
  }
  ::ng-deep.ng-select .ng-select-single .ng-select-container .ng-value-container .ng-placeholder {
    padding-left: 0px;
  }
}

:host::ng-deep.ng-select.ng-invalid.ng-touched .ng-select-container {
  border-bottom: 1px solid #f44336 !important;
}

.invalid-feedback {
  color: red;
}

.signatory-ng-select {
  ::ng-deep.ng-select .ng-select-container {
    background-color: #fff0;
    color: white;
    border: none;
    border-radius: 0px !important;
    border-bottom: 1px solid #ffffff !important;
    min-height: 36px;
    -webkit-box-align: center;
    align-items: center;
  }
  ::ng-deep.mat-select-arrow-wrapper {
    padding-right: 5px;
  }
  ::ng-deep.mat-select-value-text {
    margin-left: 10px;
    font-size: 13px;
  }
  ::ng-deep.ng-select .ng-select-container .ng-value-container .ng-input > input {
    color: white;
    box-sizing: content-box;
    background: none;
    border: 0;
    box-shadow: none;
    outline: 0;
    cursor: default;
    width: 100%;
  }
  ::ng-deep.ng-select .ng-select-container .ng-value-container .ng-placeholder {
    color: white;
  }
  ::ng-deep.ng-select .ng-select-container .ng-value-container {
    padding-left: 0px;
  }
  ::ng-deep.ng-select .ng-select-container .ng-value-container .ng-input {
    padding: 0px;
  }
  ::ng-deep.ng-select .ng-select-container .ng-value-container .ng-placeholder {
    padding-left: 0px;
  }
}

.ng-selectOption {
  ::ng-deep.ng-select .ng-select-container {
    background-color: #fff0;
    color: #fff;
    border: none;
    border-radius: 0px !important;
    border-bottom: 1px solid rgb(241, 241, 241) !important;
    min-height: 36px;
    -webkit-box-align: center;
    align-items: center;
  }
  ::ng-deep.mat-select-arrow-wrapper {
    padding-right: 5px;
  }
  ::ng-deep.mat-select-value-text {
    margin-left: 10px;
    font-size: 13px;
  }
  ::ng-deep.ng-select {
    margin-bottom: 16px;
    padding-top: 3px;
  }
  ::ng-deep.ng-select .ng-select-container .ng-value-container .ng-input > input {
    color: white;
    box-sizing: content-box;
    background: none;
    border: 0;
    box-shadow: none;
    outline: 0;
    cursor: default;
    padding-left: 0px !important;
    width: 100%;
  }
  ::ng-deep.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input {
    padding-left: 0px !important;
  }
  ::ng-deep.ng-select .ng-select-container .ng-value-container {
    padding-left: 0px !important;
  }
  ::ng-deep.ng-select.ng-select-single .ng-select-container .ng-value-container,
  .ng-select.ng-select-single .ng-select-container .ng-value-container .ng-value {
    font-size: 14px !important;
  }
  .ng-select-custom-header {
    cursor: pointer;
  }
  ::ng-deep.ng-select .ng-dropdown-panel {
    text-align: left !important;
    font-size: 15px !important;
  }
  
  ::ng-deep ng-dropdown-panel.dropdown {
    min-width: 100%;
    width: auto !important;
  }
}

.padding-top {
  padding: 1.2rem 0 0 0;
}
