.gene-base-container {
  height: calc(100% - 140px);
}

.cide-text {
  font-size: 25px;
  font-weight: 700;
  vertical-align: middle;
  text-shadow: 0px 1px, 1px 0px, 1px 1px;
  letter-spacing: 2px;
  margin-left: 10px;
  margin-top: 4px;
}

