<div *ngIf="isWaitingForResponse" class="loading-indicator">
  <mat-progress-spinner mode="indeterminate" color="accent"></mat-progress-spinner>
</div>
<div class="p-grid">
  <div class="p-col-12" style="padding: 0px">
    <span class="label" style="width: 250px">{{ 'User Permission' | translate }}</span>
    <span class="view-perm" style="width: 100px !important; display: inline-block">{{ 'V = View' | translate }}</span>
    <span class="edit-perm" style="width: 100px !important; display: inline-block">{{ 'E = Edit' | translate }}</span>
    <span class="edit-perm">{{ 'HP = Home Page' | translate }}</span>
  </div>
</div>
<div *ngIf="!isWaitingForResponse" class="detail-school">
  <div class="table-school" *ngIf="dataUserTypes && dataUserTypes.length">
    <div class="detail-table">
      <div class="list-headers">
        <div
          class="label-array"
          style="padding: 0px !important; width: 200px !important; background: #607d8b; text-align: center; vertical-align: middle"
        >
          <div class="label-school-first">{{ 'Menu' | translate }}</div>
        </div>
        <div
          class="label-array"
          style="
            padding: 0px !important;
            border: none !important;
            background: #607d8b;
            text-align: center;
            vertical-align: middle;
            border-right: 1px solid black !important;
          "
        >
          <div class="label-school-first">{{ 'Submenu' | translate }}</div>
        </div>
      </div>
      <div class="list-body">
        <div class="list-level fixed-header">
          <div class="label-array" style="width: 200px !important"></div>
          <div class="label-array"></div>
          <div class="array-data" style="padding: 0px !important; background: #607d8b" *ngFor="let types of dataUserTypes">
            <div class="label-list-schools">{{ 'USER_TYPES.' + types?.name | translate }}</div>
          </div>
        </div>
        <div class="list-level" *ngFor="let menu of leftLabel; let nex = index">
          <div class="label-array" style="height: 45px !important; padding: 0px 5px !important">
            <div class="label-level">
              {{ menu?.isFirst ? ('menu.' + menu?.menu | translate) : '' }}
            </div>
          </div>
          <div class="label-array" style="height: 45px !important; padding: 0px 5px !important; left: 240px !important">
            <div class="label-level" *ngIf="menu?.menu === 'alumni'">
              {{ menu?.sub_menu ? ('Alumnis.' + menu?.sub_menu | translate) : '' }}
            </div>
            <div class="label-level" *ngIf="menu?.menu === 'finance'">
              {{ menu?.sub_menu ? ('Finances.' + menu?.sub_menu | translate) : '' }}
            </div>
            <div class="label-level" *ngIf="menu?.menu == 'courses_sequences'">
              {{
                menu?.sub_menu === 'template'
                  ? ('course_sequence.Template' | translate)
                  : menu?.sub_menu === 'module'
                  ? ('course_sequence.Modules' | translate)
                  : menu?.sub_menu === 'sequence'
                  ? ('course_sequence.Sequences' | translate)
                  : menu?.sub_menu === 'subject'
                  ? ('course_sequence.Subjects' | translate)
                  : ''
              }}
            </div>
            <div class="label-level" *ngIf="menu?.menu !== 'alumni' && menu?.menu !== 'finance' && menu?.menu !== 'courses_sequences'">
              {{ menu?.sub_menu ? (menu?.menu + '.' + menu?.sub_menu | translate) : '' }}
            </div>
          </div>
          <div *ngIf="leftLabel && leftLabel?.length && leftLabel[nex] && leftLabel[nex]?.permissions.length">
            <div class="array-data" *ngFor="let typ of dataUserTypes; let n = index" style="vertical-align: middle">
              <div *ngFor="let data of leftLabel[nex]?.permissions">
                <div *ngIf="(data?.user_type_name | lowercase) === (typ?.name | lowercase)">
                  <div class="list-data">
                    <div class="registereds">
                      {{ data?.show_perm ? 'V' : '' }}
                      {{ data?.edit_perm && data?.show_perm ? ('/ E' | translate) : data?.edit_perm ? ('E' | translate) : '' }}
                      {{
                        (data?.edit_perm || data?.show_perm) && data?.home_page
                          ? (' + HP' | translate)
                          : data?.home_page
                          ? ('HP' | translate)
                          : ''
                      }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
