@import '~assets/scss/theme/admtc.variables';
@import '~assets/scss/theme/admtc';

.mat-expansion-panel {
  margin-right: 24px;
  margin-top: 10px;
}
.detail-school {
  // margin: 15px 15px 15px 15px;
  // border: 1px solid #8888888c;
  // border-radius: 3px;
  padding: 10px;
  padding-top: 0px !important;
}
.detail-table {
  border-collapse: separate;
  box-sizing: border-box;
  text-indent: initial;
}
.scholar-school {
  // width: 260px;
  float: left;
}
.button-action {
  display: block;
  text-align: right;
  position: relative;
  float: right;
}
.school-name {
  min-width: 245px;
  float: left;
  // width: 230px;
  display: block;
  position: relative;
}
.date-today {
  width: 220px;
  float: left;
  position: relative;
  left: 15px;
  vertical-align: middle;
}
.list-body {
  vertical-align: middle;
  max-height: 80vh;
  overflow: auto;
  top: -44px;
  position: relative;
}
.label-school-first {
  font-weight: 700;
  font-size: 14px;
  background: #607d8b;
  text-align: center;
  position: absolute;
  width: 100%;
  padding: 5px 0px;
  height: 47px;
  display: contents;
}
.label-level-first {
  font-size: 14px;
  background: #565656;
  text-align: center;
  position: absolute;
  width: 100%;
  padding: 5px 0px;
  height: 45px;
  top: 30px;
}
.title-school {
  float: left;
  font-size: 16px;
}
.label-first {
  height: 45px;
  width: 145px;
  float: left;
  padding: 5px;
  border: 2px solid #607d8b;
}
.list-level {
  width: 100%;
  position: relative;
  display: table-row;
  vertical-align: inherit;
}
.array-school {
  height: 45px;
  min-width: 120px;
  padding: 5px;
  border: 2px solid #607d8b;
  text-align: center;
  -webkit-box-pack: center;
  justify-content: center;
  margin: auto;
  padding-top: 14px;
  font-size: 15px;
  display: table-cell;
  vertical-align: inherit;
}
.list-header {
  vertical-align: middle;
  border-color: inherit;
}
.label-sub-school {
  height: 45px;
  font-size: 14px;
  padding: 5px 0px;
  background: #565656;
}
.label-list-schools {
  font-weight: 700;
  height: 45px;
  font-size: 14px;
  padding: 5px 0px;
  background: #607d8b;
  text-align: center;
}
.list-headers {
  position: relative;
  top: 5.5px;
  z-index: 9999999;
  display: block;
}
.label-array {
  height: 50px;
  width: 240px;
  min-width: 240px;
  padding: 5px;
  border: 1px solid #607d8b;
  border-right: 1px solid black;
  -webkit-box-pack: center;
  justify-content: center;
  display: table-cell;
  vertical-align: inherit;
  margin: 0px !important;
  z-index: 9999;
  position: sticky;
  left: 0px;
  background: #363636;
}
.table-school {
  width: 100%;
  // margin-top: 13px;
}
.fixed-header {
  position: sticky;
  top: 0px !important;
  z-index: 999;
  display: block !important;
  background: #363636;
}
.label-list-schools {
  text-align: center;
  display: contents;
}
.array-data {
  height: 45px;
  width: 170px;
  min-width: 170px;
  border: 1px solid #607d8b;
  border-right: 1px solid black;
  border-left: 1px solid black;
  margin: auto;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  background: #363636;
}
.label-sub {
  width: 50%;
  float: left;
  text-align: center;
}
.spinner-wrapper {
  width: 100%;
  height: 210px;
  z-index: 998;
}
.label-list-school {
  width: 26px;
  float: left;
}
.label-list-objectives {
  height: 18px;
  font-size: 15px;
  margin-left: 21px;
  float: left;
}
.label-level {
  font-size: 12px;
}
.objective {
  width: 35px;
  float: right;
  margin-left: 10px;
  font-size: 12px;
}
.mat-icon-status {
  font-size: 16px;
  padding-top: 11px;
  padding-left: 5px;
}
.label-list-registered {
  height: 18px;
  font-size: 11px;
  margin-left: 25px;
  float: left;
}
.registered {
  width: 35px;
  float: right;
  margin-left: 16px;
}
.form-amount {
  width: 118px;
  padding: 0px 10px;
}
.yellow {
  color: #ffd740;
}
.orange {
  color: #f49f36;
}
.blue {
  color: #36ebf4;
}
.red {
  color: #ff4040;
}
.green {
  color: #adff2f;
}
.grey {
  color: #999999;
}
.purple {
  color: #ff46f9;
}
.magenta {
  color: magenta;
}
.black {
  color: #000000;
}
.cyan {
  color: cyan;
}
.status {
  height: 27px;
  width: 2px;
  background-color: #bbb;
  display: block;
  float: left;
}
.registereds {    
  width: 100%;
  text-align: center;
  font-size: 12px !important;
}
.objectives {
  width: 70px;
  float: left;
  text-align: center;
  color: #b1b1b1;
}
.bkorange {
  background-color: #f49f36 !important;
}
.bkblue {
  background-color: #36ebf4 !important;
}
.bkred {
  background-color: #ff4040 !important;
}
.bkgrey {
  background-color: #607d8b !important;
}
.bkgreen {
  background-color: #adff2f !important;
}
// .bkgrey {
//   background-color: #999999 !important;
// }
:host::ng-deep.ng-select .ng-select-container {
  background-color: #fff0;
  color: #fff;
  border: none;
  border-radius: 0px !important;
  border-bottom: 1px solid #8c8c8c !important;
  min-height: 36px;
  -webkit-box-align: center;
  align-items: center;
}
:host::ng-deep.mat-select-arrow-wrapper {
  padding-right: 5px;
}
:host::ng-deep.mat-select-value-text {
  margin-left: 10px;
  font-size: 13px;
}
:host::ng-deep ng-dropdown-panel {
  z-index: 99999999999;
}
:host::ng-deep.ng-select .ng-select-container .ng-value-container .ng-input > input {
  color: white;
  box-sizing: content-box;
  background: none;
  border: 0;
  box-shadow: none;
  outline: 0;
  cursor: default;
  width: 100%;
}
.class-scholar {
  width: 150px;
  display: inline-block;
  vertical-align: middle;
}

input[type='number'] {
  -moz-appearance: textfield;
}
