@import '~assets/scss/theme/admtc.variables';
@import '~assets/scss/theme/admtc';

.margin-left {
    margin-left: 30px;
}

.flex-center {
    display: flex;
    align-items: center;
}

.flex-right {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    width: 100%;
    justify-content: right;
}

.px-8 {
    padding-left: 40px;
    padding-right: 40px;
}

.fontColor {
    color: white !important;
}

.mrgn-btn {
  margin-bottom: 15px;
}

.icon-style {
  vertical-align: middle;
  margin-right: 1rem;
  cursor: pointer;
}

.dialogTitle {
  display: inline-block;
}

.dialogTitleWrapper {
  color: white;
}

.header-dialog {
  margin-top: 15px;
  padding: 0 5px 0 15px;
}

.dialog-border {
  border-bottom: 1px solid white;
  margin-bottom: 15px;
}
:host::ng-deep.mat-radio-outer-circle {
  border-color: white !important;
}
:host::ng-deep.mat-form-field-underline {
  background-color: white !important;
}
.acad-title {
  padding: 0px;
  margin-right: 25px;
}
.w-30 {
  padding-top: 4px !important;
  margin-right: 7px !important;
}
.w-65 {
  float: right;
  position: relative;
  right: -53px;
}
.no-padding-left {
  padding-left: 0px !important;
}
.label-align {
  align-self: center;
}
.border-white {
  border: 1px solid rgb(116, 116, 116);
}
.flex-hidden-mr-1 {
  flex-wrap: nowrap;
  overflow: hidden;
  margin-right: 1rem !important;
}
.name-who {
  display: inline-block;
  text-align: center;
  margin-right: 0px !important;
}
.width-card {
  width: auto;
  display: inline-block;
  margin-right: 10px;
}
// .card:hover {
//   background-color: #d6d6d6;
// }
.card-selected {
  background-color: #fdd835;
  color: black;
}
.card {
  // width: 125px;
  padding-bottom: 3px !important;
  padding: 10px;
  vertical-align: middle;
  border: 1px solid #ffffff;
  border-radius: 4px;
  text-align: center;
  align-self: center;
  display: inline-block;
  margin-top: 10px;
  cursor: pointer;
}

.m-left-15 {
  margin-top: -8px;
  margin-left: 15px;
}

.width-card {
  width: auto;
  display: inline-block;
  margin-right: 10px;
}

.card-selected {
  background-color: #fdd835;
}
.card {
  // width: 125px;
  padding-bottom: 3px !important;
  padding: 10px;
  vertical-align: middle;
  border: 1px solid #ffffff;
  border-radius: 4px;
  text-align: center;
  align-self: center;
  display: inline-block;
  margin-top: 10px;
  cursor: pointer;
}

.checkboxes-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.checkbox-item {
  margin-right: 3rem;
}

:host::ng-deep.ng-select.ng-select-container {
  background: rgba(0, 0, 0, 0);
  border: unset;
  color: white;
  border-bottom: 1px solid #fff;
}
:host {
  ::ng-deep.ng-select .ng-select-container {
    background-color: #fff0;
    border: none;
    border-radius: 0px !important;
    border-bottom: 1px solid rgb(255 255 255) !important;
    min-height: 36px;
    -webkit-box-align: center;
    align-items: center;
    color: white;
  }
  ::ng-deep.mat-select-arrow-wrapper {
    padding-right: 5px;
  }
  ::ng-deep.mat-select-value-text {
    margin-left: 10px;
    font-size: 13px;
  }
  :host::ng-deep.ng-select.ng-select-focused:not(.ng-select-opened) > .ng-select-container {
    border: 0px !important;
    box-shadow: none !important;
  }
  :host::ng-deep.ng-select.ng-select-focused:not(.ng-select-opened).ng-select-container {
    border: 0px !important;
    box-shadow: none !important;
  }
  :host::ng-deep.ng-select.ng-select-focused:not(.ng-select-opened) {
    border: 0px !important;
    box-shadow: none !important;
  }
  ::ng-deep.ng-select .ng-select-container .ng-value-container .ng-input > input {
    color: white;
    box-sizing: content-box;
    background: none;
    border: 0;
    box-shadow: none;
    outline: 0;
    cursor: default;
    width: 100%;
  }
}

:host::ng-deep.ng-select.ng-invalid.ng-touched .ng-select-container {
  border-bottom: 1px solid #f44336 !important;
}


::ng-deep.custom-dropdown.ng-dropdown-panel{
  .ng-dropdown-panel-items .ng-option {
    white-space:normal !important;
  } 
}
