<mat-card>
  <div class="px-8">
    <div class="dialog-border">
      <div class="dialogTitleWrapper">
        <div class="p-grid">
          <div class="p-col-10 acad-title">
            <h3 *ngIf="!hideButton" class="dialogTitle">
              {{ 'Add Registration Profile' | translate }}
            </h3>
            <h3 *ngIf="hideButton" class="dialogTitle">
              {{ 'Edit Registration Profile' | translate }}
            </h3>
          </div>
        </div>
      </div>
    </div>

    <form [formGroup]="addRegistrationProfileForm" style="margin-top: 20px">
      <div class="fontColor">
        <mat-dialog-content>
          <div class="p-grid">
            <div class="p-col-5 no-padding">
              <div class="p-grid">
                <div class="p-col no-padding">
                  <mat-form-field>
                    <input matInput formControlName="name" type="text" placeholder="{{ 'Registration Profile' | translate }}" />
                    <mat-error *ngIf="addRegistrationProfileForm.get('name').errors">{{ 'This field is required' | translate }}</mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="p-col-5 margin-left no-padding">
              <div class="p-grid">
                <div class="p-col no-padding">
                  <mat-form-field>
                    <input matInput formControlName="description" type="text" placeholder="{{ 'Description' | translate }}" />
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
          <div class="p-grid">
            <div class="p-col-5 no-padding">
              <div class="p-grid">
                <div class="p-col no-padding">
                  <mat-form-field>
                    <input
                      matInput
                      formControlName="discount_on_full_rate"
                      max="100"
                      (keyup)="formattingDiscount($event)"
                      placeholder="{{ 'Discount on full rate' | translate }}"
                    />
                    <span matSuffix>%</span>
                    <mat-error *ngIf="addRegistrationProfileForm.get('discount_on_full_rate').hasError('max')">{{
                      'Maximum number can be 100' | translate
                    }}</mat-error>
                    <mat-error *ngIf="addRegistrationProfileForm.get('discount_on_full_rate').hasError('required')">{{
                      'This field is required' | translate
                    }}</mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="p-col-5 no-padding margin-left">
              <div class="p-grid">
                <div class="p-col-fixed center-label no-padding-left label-align padding-bottom" style="width: 130px">
                  <label>{{ 'Down Payment' | translate }}*</label>
                </div>
                <div class="p-col no-padding-left flex-center" style="width: 235px">
                  <mat-radio-group formControlName="is_down_payment" style="font-size: 12px">
                    <mat-radio-button style="margin-right: 1rem" value="yes" (click)="addValidator()">{{
                      'Yes' | translate
                    }}</mat-radio-button>
                    <mat-radio-button style="margin-right: 1rem" value="no" (click)="resetMethodPayment()">{{
                      'No' | translate
                    }}</mat-radio-button>
                    <mat-radio-button style="margin-right: 1rem" value="other" (click)="addValidator()">{{
                      'Other' | translate
                    }}</mat-radio-button>
                    <mat-radio-button style="margin-right: 1rem" value="dp_additional_cost" (click)="addValidator()">{{
                      'DP = Additional Cost' | translate
                    }}</mat-radio-button>
                    <mat-error
                      style="margin-top: 10px"
                      *ngIf="
                        addRegistrationProfileForm.get('is_down_payment').errors &&
                        (addRegistrationProfileForm.get('is_down_payment').dirty ||
                          addRegistrationProfileForm.get('is_down_payment').touched)
                      "
                      >{{ 'This field is required' | translate }}</mat-error
                    >
                  </mat-radio-group>
                </div>
                <div [ngStyle]="{ display: addRegistrationProfileForm.get('is_down_payment').value === 'other' ? 'inline-flex' : 'none' }">
                  <div class="p-col no-padding">
                    <mat-form-field floatLabel="never">
                      <input
                        [required]="addRegistrationProfileForm.get('is_down_payment').value === 'other'"
                        matInput
                        (keypress)="decimalFilter($event)"
                        (keyup)="dissallowZero($event)"
                        formControlName="other_amount"
                        placeholder="{{ 'Amount' | translate }}"
                      />
                      <mat-error *ngIf="addRegistrationProfileForm.get('other_amount').hasError('min')">{{
                        'No negative number' | translate
                      }}</mat-error>
                      <mat-error *ngIf="addRegistrationProfileForm.get('discount_on_full_rate').hasError('required')">{{
                        'This field is required' | translate
                      }}</mat-error>
                    </mat-form-field>
                  </div>
                  <div class="p-col-fixed center-label no-padding-left label-align m-left-15">
                    <mat-form-field floatLabel="never">
                      <input
                        type="text"
                        [required]="addRegistrationProfileForm.get('is_down_payment').value === 'other'"
                        matInput
                        [matAutocomplete]="autoCountrys"
                        [formControl]="currencyFilter"
                        (keyup)="filterCurrency()"
                        placeholder="{{ 'Currency' | translate }}"
                        maxlength="3"
                      />
                      <mat-autocomplete #autoCountrys="matAutocomplete" [panelWidth]="'fit'">
                        <mat-option *ngFor="let option of currencyList" (click)="currencySelected(option.code)" [value]="option.code">
                          {{ option.code }}
                        </mat-option>
                      </mat-autocomplete>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="p-grid" *ngIf="addRegistrationProfileForm.get('is_down_payment').value !== 'no'">
            <div class="p-col-12 center-label no-padding-left label-align">
              <label>{{ 'Select payment method available for this payment mode' | translate }}*</label>
            </div>
            <div class="p-col-12 no-padding checkboxes-container">
              <section>
                <mat-checkbox
                  class="checkbox-item"
                  *ngFor="let method of paymentMethods; let i = index"
                  [checked]="selectedPaymentMethods?.includes(method)"
                  (change)="onSelectPaymentMethod($event, i)"
                  >{{ 'method.' + method | translate }}</mat-checkbox
                >
                <mat-error
                  style="margin-top: 10px"
                  *ngIf="
                    addRegistrationProfileForm.get('select_payment_method_available').errors &&
                    (addRegistrationProfileForm.get('select_payment_method_available').dirty ||
                      addRegistrationProfileForm.get('select_payment_method_available').touched)
                  "
                  >{{ 'This field is required' | translate }}</mat-error
                >
              </section>
            </div>
          </div>

          <div class="p-grid" style="margin-top: 20px !important">
            <div class="p-col-5 no-padding">
              <div class="p-grid">
                <div class="p-col no-padding custom-ng-select mrgn-btn">
                  <ng-select
                    [multiple]="false"
                    [hideSelected]="true"
                    clearAllText="Clear"
                    [appendTo]="'body'"
                    formControlName="type_of_formation"
                    placeholder="{{ 'ADMISSION.Type Of formation' | translate }}*"
                    class="custom-dropdown"
                    ><ng-option *ngFor="let type of typeOfFormation" [value]="type._id">{{
                      'type_formation.' + type?.type_of_information | translate
                    }}</ng-option>
                  </ng-select>
                  <p
                    *ngIf="
                      addRegistrationProfileForm.get('type_of_formation').hasError('required') &&
                      addRegistrationProfileForm.get('type_of_formation').touched
                    "
                    style="color: #f44336; font-size: 75%; margin: 0"
                  >
                    {{ 'This field is required' | translate }}
                  </p>
                </div>
              </div>
            </div>
            <div class="p-col-5 no-padding margin-left">
              <div class="p-grid">
                <div class="p-col no-padding custom-ng-select mrgn-btn">
                  <ng-select
                    aria-required="true"
                    [items]="documentBuilders"
                    bindLabel="document_builder_name"
                    bindValue="_id"
                    [hideSelected]="true"
                    clearAllText="Clear"
                    [appendTo]="'body'"
                    formControlName="document_builder_id"
                    placeholder="{{ 'Registration Certificate' | translate }}*"
                    class="custom-dropdown"
                  >
                  </ng-select>
                  <p
                    *ngIf="
                      addRegistrationProfileForm.get('document_builder_id').hasError('required') &&
                      addRegistrationProfileForm.get('document_builder_id').touched
                    "
                    style="color: #f44336; font-size: 75%; margin: 0"
                  >
                    {{ 'This field is required' | translate }}
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="p-grid" style="margin-top: 20px !important">
            <div class="p-col-12 center-label no-padding-left label-align">
              <label style="margin-right: 1.5rem">{{'Perimeter of the registration profile' | translate}}*</label>
              <mat-checkbox
                class="checkbox-item"
                [checked]="isAdmission"
                (change)="onSelectPerimeter($event, 'admission')"
                >
                {{ 'perimeter.admission'  | translate }}
              </mat-checkbox>
              <mat-checkbox
                class="checkbox-item"
                [checked]="isReadmission"
                (change)="onSelectPerimeter($event, 'readmission')"
                >
                {{ 'perimeter.readmission'  | translate }}
              </mat-checkbox>
              <mat-error
                style="margin-top: 10px"
                *ngIf="isPerimeterCheckboxUnchecked"
                >{{ 'This field is required' | translate }}</mat-error
              >
            </div>
          </div>

          <mat-divider style="margin-top: 20px; position: relative"></mat-divider>
          <div class="p-grid">
            <div class="p-col-12 no-padding">
              <div class="p-grid">
                <div class="p-col-fixed center-label no-padding-left label-align">
                  <label>{{ 'Select payment mode for this registration profile' | translate }}*</label>
                </div>
              </div>
            </div>
          </div>

          <ng-container>
            <div class="width-card" *ngIf="addRegistrationProfileForm?.get('discount_on_full_rate')?.value === '100' || addRegistrationProfileForm?.get('discount_on_full_rate')?.value === 100">
              <div
                class="card"
                [ngClass]="{
                  'card-selected': noneChoicePayment.status
                }"
                (click)="selectedIndexNone()"
              >
                <div class="name-who">
                  <h5 class="dialogTitles">{{ noneChoicePayment.name }}</h5>
                </div>
              </div>
            </div>
            <div class="width-card" *ngFor="let paymentMode of paymentModeList; let indexData = index">
              <div
                class="card"
                [ngClass]="{
                  'card-selected': paymentMode.status
                }"
                (click)="selectedIndexData(indexData)"
              >
                <div class="name-who">
                  <h5 class="dialogTitles">{{ paymentMode.name }}</h5>
                </div>
              </div>
            </div>
          </ng-container>
          <mat-error *ngIf="addRegistrationProfileForm.get('payment_modes').hasError('required')">{{
            'This field is required' | translate
          }}</mat-error>

          <mat-divider style="margin-top: 25px; position: relative"></mat-divider>

          <div class="p-grid">
            <div class="p-col-12 no-padding">
              <div class="p-grid">
                <div class="p-col-fixed center-label no-padding-left label-align">
                  <label>{{ 'Select addtional costs for this registration profile' | translate }}*</label>
                </div>
              </div>
            </div>
          </div>

          <ng-container>
            <div class="width-card">
              <div
                class="card"
                [ngClass]="{
                  'card-selected': noneChoiceAddtional.status
                }"
                (click)="selectedIndexAddtionalNone()"
              >
                <div class="name-who">
                  <h5 class="dialogTitles">{{ noneChoiceAddtional.name }}</h5>
                </div>
              </div>
            </div>
            <div class="width-card" *ngFor="let addtional of addtionalCost; let indexData = index">
              <div
                class="card"
                [ngClass]="{
                  'card-selected': addtional.status
                }"
                (click)="selectedIndexAddtionalData(indexData)"
              >
                <div class="name-who">
                  <h5 class="dialogTitles">{{ addtional.name }}</h5>
                </div>
              </div>
            </div>
          </ng-container>
        </mat-dialog-content>
      </div>
      <div class="flex-right">
        <button mat-raised-button type="button" color="warn" (click)="closeForm()">{{ 'CANCEL' | translate }}</button>
        <button mat-raised-button color="accent" (click)="onValidate()">
          {{ 'Validate' | translate }}
        </button>
      </div>
    </form>
  </div>
</mat-card>

<div *ngIf="isWaitingForResponse" class="inner-loading-indicator">
  <mat-spinner color="accent" [diameter]="100"></mat-spinner>
</div>
