<ng-container>
  <div class="p-grid" *ngIf="isWaitingForResponse" class="p-col-12" style="text-align: center !important; display: contents">
    <div class="center-spinner spinner-wrapper">
      <mat-spinner color="accent"></mat-spinner>
    </div>
  </div>
  <div class="p-grid" *ngIf="candidatesList.length === 0">
    <h4 class="text-empty">{{ 'CANDIDATE_EMPTY' | translate }}</h4>
  </div>
  <div *ngIf="!isWaitingForResponse" class="p-grid" [style.height.px]="getAutomaticHeight()" [style.max-height.px]="getAutomaticHeight()">
    <div *ngIf="candidatesList && candidatesList.length">
      <div class="scrollbar" id="style-4" style="overflow-x: hidden; overflow-y: auto; max-height: 38rem">
        <mat-card
          *ngFor="let candidate of candidatesList"
          (click)="selectCandidate(candidate?._id)"
          [ngClass]="selectedCandidateId === candidate?._id ? 'candidate-select mrgn-x-md mrgn-y-sm' : 'mrgn-x-md mrgn-y-sm'"
          style="cursor: pointer; padding: 4px !important"
        >
          <mat-card-subtitle [ngClass]="selectedCandidateId === candidate?._id ? 'candidate-text' : 'test'">
            <div class="p-grid">
              <div class="p-col-2" style="align-self: center">
                <span>
                  <img
                    [src]="
                      candidate?.is_photo_in_s3
                        ? serverimgPath + candidate?.photo_s3_path
                        : candidate?.photo
                        ? serverimgPath + candidate?.photo
                        : candidate?.civility === 'MR'
                        ? maleCandidateIcon
                        : candidate?.civility === 'neutral'
                        ? neutralStudentIcon
                        : femaleCandidateIcon
                    "
                    style="border-radius: 50%; width: 40px; height: 36px"
                    class=""
                  />
                </span>
              </div>
              <div class="p-col-8" style="text-align: center; place-self: center">
                <div class="p-grid no-padding">
                  <div class="p-col-12 no-padding">
                    <h5 class="no-margin" style="padding-top: 0.5rem; font-size: 1em">
                      {{ candidate?.last_name | uppercase }} {{ candidate?.first_name }}
                      {{ candidate?.civility && candidate?.civility ==='neutral' ? '' : (candidate?.civility | translate) }}
                      .
                    </h5>
                  </div>
                  <div class="p-col-12 no-padding">
                    <p class="no-margin one-line-text" style="font-size: 0.8em" matTooltip="{{ candidate?.intake_channel?.program }}">
                      {{ candidate?.intake_channel?.program ? candidate?.intake_channel?.program : '-' }}
                    </p>
                  </div>
                </div>
              </div>
              <div class="p-col-2" style="padding-top: 1rem; padding-left: 0px; padding-right: 0px">
                <div class="engagement-side-icon">
                  <mat-icon
                    [matTooltip]="candidate?.engagement_level | translate"
                    [ngClass]="{
                      black: candidate?.engagement_level === 'lost',
                      red: candidate?.engagement_level === 'low',
                      orange: candidate?.engagement_level === 'medium',
                      green: candidate?.engagement_level === 'high',
                      grey: candidate?.engagement_level === 'registered'
                    }"
                    class="mat-icon-status"
                    aria-hidden="true"
                    >lens
                  </mat-icon>
                  <!-- <img height="30" width="30" [src]="greenHandShakeIcon" *ngIf="candidate?.engagement_level === 'high'"/>
                  <img height="30" width="30" [src]="orangeHandShakeIcon" *ngIf="candidate?.engagement_level === 'medium'"/>
                  <img height="30" width="30" [src]="redHandShakeIcon" *ngIf="candidate?.engagement_level === 'low'"/>
                  <img height="30" width="30" [src]="blackHandShakeIcon" *ngIf="candidate?.engagement_level === 'lost'"/>
                  <img height="30" width="30" [src]="greyHandShakeIcon" *ngIf="candidate?.engagement_level === 'registered'"/> -->
                </div>
              </div>
            </div>
          </mat-card-subtitle>
        </mat-card>
      </div>
    </div>
  </div>
</ng-container>
