.header-div {
  .dialog-header-icon {
    font-size: 35px;
  }
}

.mat-dialog-content {
  margin: 0 !important;
  padding: 1rem !important;
}

.microphone {
  text-align: center;
  margin-top: 1rem;
}

:host ::ng-deep .ck.ck-editor__editable_inline {
  border: 1px solid grey !important;
  height: 15rem;
}
