<div class="dialog-border" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
  <div class="dialogTitleWrapper">
    <div class="p-grid">
      <div class="p-col-10 dialog-title">
        <h3 class="dialogTitle" data-cy="dialog-title">{{ data?.month | translate }} {{ 'term details' | translate }}</h3>
      </div>
      <div class="p-col no-padding">
        <button mat-icon-button class="close-icon float-right" mat-dialog-close tabindex="-1" data-cy="button-close-dialog">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>

<mat-dialog-content>
  <table>
    <tr *ngFor="let term of dataDisplay">
      <ng-container *ngIf="term?.term_amount">
        <td data-cy="term-index" *ngIf="!term?.is_regulation">{{ 'OPERATION_NAME.payment_of_term' | translate }} {{ term?.terms_index }}</td>
        <td data-cy="term-index" *ngIf="term?.is_regulation">{{ 'OPERATION_NAME.payment_of_term' | translate }} {{ term?.terms_index }} - {{'Regulation' | translate}}</td>
        <td style="padding-left: 1em">:</td>
        <td style="padding-left: 0.5em" data-cy="term-date-amount">
          {{ translateDate(term, term?.term_payment?.time) }} -
          <span *ngIf="term?.term_status === 'paid' && term?.term_amount">{{ formatCurrency(term?.term_amount) ? formatCurrency(term?.term_amount) : '0' }} €</span>
          <span *ngIf="term?.term_status === 'chargeback' && term?.term_amount_chargeback">{{ formatCurrency(term?.term_amount_chargeback) ? formatCurrency(term?.term_amount_chargeback) : '0' }} €</span>
          <span *ngIf="term?.term_status === 'billed' && term?.term_amount">{{ formatCurrency(term?.term_amount) ? formatCurrency(term?.term_amount) : '0' }} €</span>
          <span *ngIf="term?.term_status === 'not_authorised' && term?.term_amount_not_authorised">{{ formatCurrency(term?.term_amount_not_authorised) ? formatCurrency(term?.term_amount_not_authorised) : '0' }} €</span>
          <span *ngIf="term?.term_status === 'pending' && term?.term_amount_pending">{{ formatCurrency(term?.term_amount_pending) ? formatCurrency(term?.term_amount_pending) : '0' }} €</span>
        </td>
        <td style="padding-left: 0.5em">
          <span *ngIf="!term.term_status">-</span>
          <span *ngIf="term.term_status === 'billed'">
            <mat-icon
              matTooltip="{{ 'Generated' | translate }}"
              aria-hidden="true"
              class="mat-icon-status blue"
              data-cy="term-status-generated"
              >lens</mat-icon
            >
          </span>
          <span *ngIf="term.term_status === 'paid'">
            <mat-icon matTooltip="{{ 'Paid' | translate }}" aria-hidden="true" class="mat-icon-status green" data-cy="term-status-paid"
              >lens</mat-icon
            >
          </span>
          <span *ngIf="term.term_status === 'pending'">
            <mat-icon matTooltip="{{ 'Pending' | translate }}" aria-hidden="true" class="mat-icon-status orange" data-cy="term-status-pending"
              >lens</mat-icon
            >
          </span>
          <span *ngIf="term.term_status === 'not_authorised'">
            <mat-icon matTooltip="{{ 'Refused' | translate }}" aria-hidden="true" class="mat-icon-status red" data-cy="term-status-refused"
              >lens</mat-icon
            >
          </span>
          <span *ngIf="term.term_status === 'chargeback'">
            <mat-icon
              matTooltip="{{ 'Chargeback' | translate }}"
              aria-hidden="true"
              class="mat-icon-status purple"
              data-cy="term-status-chargeback"
              >lens</mat-icon
            >
          </span>
        </td>
      </ng-container>
    </tr>
  </table>
</mat-dialog-content>

<div *ngIf="isWaitingForResponse" class="loading-indicator">
  <mat-progress-spinner mode="indeterminate" color="accent" data-cy="dialog-spinner"></mat-progress-spinner>
</div>
