@import '~assets/scss/theme/admtc.variables';

:host ::ng-deep {
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 1px $dark-grey;
    padding-bottom: 1rem;
  }

  main {
    position: relative;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 4px;
  }

  button:has(.button-spinner-wrapper) {
    position: relative;
  }

  .spinner-wrapper,
  .button-spinner-wrapper {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #fffa;
  }

  .mat-dialog-title {
    font-weight: bold;
    margin: 0;
  }

  .mat-radio-group .mat-radio-button ~ .mat-radio-button {
    margin-left: 1rem;
  }

  .datepicker-input {
    cursor: pointer;
  }

  .invalid {
    color: #f44336;
  }

  :host::ng-deep.mat-radio-outer-circle {
    border-color: rgba(0, 0, 0, 0.54) !important;
  }
  :host::ng-deep.mat-form-field-underline {
    background-color: rgba(0, 0, 0, 0.12) !important;
  }
}
