<header cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
  <h1 mat-dialog-title>
    {{
      (dialogData?.type === 'add'
        ? 'course_sequence.Add sequence'
        : dialogData?.type === 'duplicate'
        ? 'course_sequence.Duplicate Sequence'
        : 'course_sequence.Edit Sequence'
      ) | translate
    }}
  </h1>
  <button mat-icon-button mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</header>
<main mat-dialog-content [formGroup]="form">
  <div class="spinner-wrapper" *ngIf="loading">
    <mat-spinner color="accent" [diameter]="36"></mat-spinner>
  </div>
  <div class="p-grid">
    <div class="p-col-12">
      <mat-form-field color="accent">
        <mat-label for="name">{{ 'Name' | translate }}</mat-label>
        <input matInput name="name" formControlName="name" />
        <mat-error>{{ 'This field is required' | translate }}</mat-error>
      </mat-form-field>
    </div>
    <div class="p-col-12 p-grid pad-x-none">
      <div class="p-col-fixed">
        <label [class.invalid]="showTypeOfSequenceError" for="type-of-sequence">
          {{ 'course_sequence.Type of sequence' | translate }} *:
        </label>
      </div>
      <div class="p-col">
        <mat-radio-group name="type-of-sequence" formControlName="type_of_sequence">
          <mat-radio-button value="enseignement">{{ 'course_sequence.enseignement' | translate }}</mat-radio-button>
          <mat-radio-button value="period_in_company">{{ 'course_sequence.period_in_company' | translate }}</mat-radio-button>
          <mat-radio-button value="school_exchange">{{ 'course_sequence.school_exchange' | translate }}</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
    <div class="p-col-6">
      <mat-form-field color="accent">
        <mat-label for="start-date">{{ 'course_sequence.Start date' | translate }}</mat-label>
        <input
          matInput
          class="datepicker-input"
          formControlName="start_date"
          (dateChange)="changeDate()"
          [max]="form.get('end_date').value"
          [matDatepicker]="startDatePicker"
          (click)="startDatePicker.open()"
          readonly
        />
        <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #startDatePicker></mat-datepicker>
        <mat-error>{{ 'This field is required' | translate }} *</mat-error>
      </mat-form-field>
    </div>
    <div class="p-col-6">
      <mat-form-field color="accent">
        <mat-label for="end-date">{{ 'course_sequence.End date' | translate }}</mat-label>
        <input
          matInput
          class="datepicker-input"
          formControlName="end_date"
          (dateChange)="changeDate()"
          [min]="form.get('start_date').value"
          [matDatepicker]="endDatePicker"
          (click)="endDatePicker.open()"
          readonly
        />
        <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #endDatePicker></mat-datepicker>
        <mat-error>{{ 'This field is required' | translate }}</mat-error>
      </mat-form-field>
    </div>
    <div class="p-col-12">
      <mat-form-field color="accent">
        <mat-label for="description">{{ 'Description' | translate }}</mat-label>
        <input matInput name="description" formControlName="description" />
        <mat-error>{{ 'This field is required' | translate }}</mat-error>
      </mat-form-field>
    </div>
  </div>
</main>
<footer mat-dialog-actions>
  <button mat-button mat-raised-button mat-dialog-close [disabled]="loading" color="warn">
    {{ 'Cancel' | translate }}
  </button>
  <button mat-button mat-raised-button color="primary" (click)="validate()">
    <div class="button-spinner-wrapper" *ngIf="loading">
      <mat-spinner color="accent" [diameter]="18"></mat-spinner>
    </div>
    {{ 'Validate' | translate }}
  </button>
</footer>
