<ng-container *ngIf="(!isDiscountFully || !isDepositZero || !isAdditionalZero) && !processFinish && !isAdditionalAsDp">
  <div class="hd-legend">
    <!-- <label>{{ utilitySevice.cleanHTML(stepData?.direction) }}</label> -->
    <div [innerHTML]="stepData?.direction | safeHtml"></div>
  </div>
  <form class="row no-margin" [formGroup]="paymentForm">
    <fieldset [disabled]="stepData?.step_status === 'accept'">
      <ng-container *ngIf="!isPaymentTypeFinish && isPaymentPlanFinish">
        <div class="web-display" style="margin-top: 15px !important">
          <div class="row no-margin" style="margin-bottom: 15px !important">
            <div class="card fade-in">
              <ng-container *ngFor="let step of stepData?.segments">
                <div
                  class="card-body card-payment"
                  [ngClass]="{ 'color-disabled': !step?.is_selected_modality && paymentForm.get('finance').value !== null }"
                >
                  <div class="row">
                    <div><mat-icon class="mat-icon-payment icon-size">person</mat-icon></div>
                  </div>
                  <div class="row">
                    <div class="text-payment">{{ step?.segment_title | translate }}</div>
                  </div>
                  <div class="row" style="margin: auto; text-align: center">
                    <button
                      mat-raised-button
                      matTooltip="{{ 'I choose' | translate }}"
                      (click)="paymentType('my_self', step)"
                      class="btn-opsi btn-loan-touch"
                    >
                      {{ 'I choose' | translate }}
                      <mat-icon class="mat-icon-default">touch_app</mat-icon>
                    </button>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
        <div class="mobile-display">
          <div
            *ngIf="!isPaymentTypeDone && !paymentForm?.get('finance')?.value"
            class="row no-margin"
            style="margin-bottom: 15px !important"
          >
            <div class="card fade-in">
              <ng-container *ngFor="let step of stepData?.segments">
                <div
                  class="card-body card-payment"
                  [ngClass]="{ 'color-disabled': !step?.is_selected_modality && paymentForm.get('finance').value !== null }"
                >
                  <div class="row">
                    <div><mat-icon class="mat-icon-payment icon-size">person</mat-icon></div>
                  </div>
                  <div class="row">
                    <div class="text-payment">{{ step?.segment_title | translate }}</div>
                  </div>
                  <div class="row" style="margin: auto; text-align: center">
                    <button
                      mat-raised-button
                      matTooltip="{{ 'I choose' | translate }}"
                      (click)="paymentType('my_self', step)"
                      class="btn-opsi btn-loan-touch"
                    >
                      {{ 'I choose' | translate }}
                      <mat-icon class="mat-icon-default">touch_app</mat-icon>
                    </button>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
        </div>

        <ng-container *ngIf="openQuestion">
          <ms-form-fill-normal-question
          [stepData]="selectedStepData"
          [currentStepIndex]="currentStepIndex"
          [candidates]="candidateData"
          [userData]="userData"
          [formData]="formData"
          [paymentForm]="paymentForm"
          [formDetail]="formDetail"
          [fromModalityPayment]="true"
          [initialCostCoverage]="initialCostCoverage" 
          [modalityData]="candidateData"
          [countryCodeList]="countryCodeList"
          (triggerRefresh)="refetch()"
          ></ms-form-fill-normal-question>
        </ng-container>
      </ng-container>
    </fieldset>
  </form>
</ng-container>

<ng-container *ngIf="((isDiscountFully && isDepositZero && isAdditionalZero) || (isDiscountFully && isAdditionalAsDp)) && !processFinish">
  <div class="label-center">
    <label class="info-empty">{{ 'You dont have any scholarship fees to pay' | translate }}</label>
  </div>
  <div class="btn-empty">
    <div class="row no-margin btn-validate" style="bottom: 0px !important">
      <button class="regirstration-color btn-third" (click)="noPayment()" mat-raised-button matTooltip="{{ 'Next' | translate }} ">
        <mat-icon class="mat-icon-default">save</mat-icon>
        {{ 'Next' | translate }}
      </button>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="processFinish">
  <div style="margin-top: 20px !important; text-align: center">
    <div *ngIf="candidateData?.school?.school_logo">
      <div class="row no-margin msg-pay">{{ 'Thank You For Submitting Your Admission' | translate }}</div>
      <div class="row no-margin payment-img">
        <img class="payment-success" style="height: 385px" [src]="serverimgPath + candidateData?.school?.school_logo" />
      </div>
    </div>
    <div *ngIf="!candidateData?.school?.school_logo">
      <div class="row no-margin msg-pay" style="font-size: 25px; margin-top: 170px !important">
        {{ 'Thank You For Submitting Your Admission' | translate }}
      </div>
    </div>
  </div>
</ng-container>

<div *ngIf="isWaitingForResponse" class="loading-indicator">
  <mat-progress-spinner mode="indeterminate" color="accent"></mat-progress-spinner>
</div>
