.btn-conditions {
  padding: 0px 20px 0px 0px !important;
  width: 100% !important;
  text-align: right;
}

.signatory-list {
  width: 100%;
  padding: 15px;
}

.pdf-icon {
  vertical-align: top;
  margin-top: 2px;
}
.msg-pay {
  margin-top: 15px !important;
  font-weight: 600;
  font-size: 22px;
}