<div class="p-grid" style="margin-top: 1rem;text-align: center">
    <div ngClass="p-col-2 p-offset-3" ngClass.lt-lg="p-col-3 p-offset-2" ngClass.lt-md="p-col-3 p-offset-1" ngClass.lt-sm="p-col-12">
        <div class="job-button">
            <button class="jobButton">
                <span style="float: left;">
                    <p class="para">{{ 'Sent to Student' | translate }}</p>
                </span>
                <mat-icon style="color:green" aria-hidden="true">done</mat-icon>
                <!--  <mat-icon style="color:red" aria-hidden="true">clear</mat-icon> -->
            </button>
        </div>
    </div>
    <div ngClass="p-col-2" ngClass.lt-lg="p-col-3" ngClass.lt-md="p-col-3" ngClass.lt-sm="p-col-12">
        <div class="job-button">
            <button class="jobButton">
                <span style="float: left;">
                    <p class="para">{{ 'Details Verified' | translate }}</p>
                </span>
                <mat-icon style="color:green" aria-hidden="true">done</mat-icon>
                <!--  <mat-icon style="color:red" aria-hidden="true">clear</mat-icon> -->
            </button>
        </div>
    </div>
    <div ngClass="p-col-2" ngClass.lt-lg="p-col-3" ngClass.lt-md="p-col-3" ngClass.lt-sm="p-col-12">
        <div class="job-button">
            <button class="jobButton">
                <span style="float: left;">
                    <p class="para">{{ 'Certificate Issued' | translate }}</p>
                </span>
                <mat-icon style="color:green" aria-hidden="true">done</mat-icon>
                <!--  <mat-icon style="color:red" aria-hidden="true">clear</mat-icon> -->
            </button>
        </div>
    </div>
</div>

<form>
    <mat-card>
        <mat-card-content>
            <div class="p-grid border-yellow">
                <div ngClass="p-col-6" ngClass.lt-md="p-col-12">
                    <div ngClass="p-grid">
                        <div ngClass="p-col-4" ngClass.lt-sm="p-col-12">
                            <label>{{'Student Name:' | translate}}</label>
                        </div>
                        <div ngClass="p-col-8" ngClass.lt-sm="p-col-12">
                            Mr Yani ACHERAIOU
                        </div>
                    </div>
                </div>
                <div ngClass="p-col-6" ngClass.lt-md="p-col-12">
                    <div ngClass="p-grid">
                        <div ngClass="p-col-4" ngClass.lt-sm="p-col-12">
                            <label>{{'Email Address:' | translate}}</label>
                        </div>
                        <div ngClass="p-col-8" ngClass.lt-sm="p-col-12">
                            yani94240@yopmail.com
                        </div>
                    </div>
                </div>
                <div ngClass="p-col-6" ngClass.lt-md="p-col-12">
                    <div ngClass="p-grid">
                        <div ngClass="p-col-4" ngClass.lt-sm="p-col-12">
                            <label>{{'Date and place of Birth:' | translate}}</label>
                        </div>
                        <div ngClass="p-col-8" ngClass.lt-sm="p-col-12">
                            Aug 16 1996 - FONTENAY-AUX-ROSES
                        </div>
                    </div>
                </div>
                <div ngClass="p-col-6" ngClass.lt-md="p-col-12">
                    <div ngClass="p-grid">
                        <div ngClass="p-col-4" ngClass.lt-sm="p-col-12">
                            <label>{{'Nationality:' | translate}}</label>
                        </div>
                        <div ngClass="p-col-8" ngClass.lt-sm="p-col-12">
                            France
                        </div>
                    </div>
                </div>
                <div ngClass="p-col-6" ngClass.lt-md="p-col-12">
                    <div ngClass="p-grid">
                        <div ngClass="p-col-4" ngClass.lt-sm="p-col-12">
                            <label>{{'Phone Number:' | translate}}</label>
                        </div>
                        <div ngClass="p-col-8" ngClass.lt-sm="p-col-12">
                            0659945087
                        </div>
                    </div>
                </div>
                <div ngClass="p-col-6" ngClass.lt-md="p-col-12">
                    <div ngClass="p-grid">
                        <div ngClass="p-col-4" ngClass.lt-sm="p-col-12">
                            <label>{{'Address:' | translate}}</label>
                        </div>
                        <div ngClass="p-col-8" ngClass.lt-sm="p-col-12">
                            107 rue Paul Hochart<br>
                            94240 - L HAY-LES-ROSES<br>
                            France
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-grid border-yellow">
                <div ngClass="p-col-6" ngClass.lt-md="p-col-12">
                    <div ngClass="p-grid">
                        <div ngClass="p-col-4" ngClass.lt-sm="p-col-12">
                            <label>{{'School Name:' | translate}}</label>
                        </div>
                        <div ngClass="p-col-8" ngClass.lt-sm="p-col-12">
                            C3 INSTITUTE
                        </div>
                    </div>
                </div>
                <div ngClass="p-col-6" ngClass.lt-md="p-col-12">
                    <div ngClass="p-grid">
                        <div ngClass="p-col-4" ngClass.lt-sm="p-col-12">
                            <label>{{'School Court Name:' | translate}}</label>
                        </div>
                        <div ngClass="p-col-8" ngClass.lt-sm="p-col-12">
                            C3 INSTITUTE
                        </div>
                    </div>
                </div>
                <div ngClass="p-col-6" ngClass.lt-md="p-col-12">
                    <div ngClass="p-grid">
                        <div ngClass="p-col-4" ngClass.lt-sm="p-col-12">
                            <label>{{'School Website Url:' | translate}}</label>
                        </div>
                        <div ngClass="p-col-8" ngClass.lt-sm="p-col-12">

                        </div>
                    </div>
                </div>
                <div ngClass="p-col-6" ngClass.lt-md="p-col-12">
                    <div ngClass="p-grid">
                        <div ngClass="p-col-4" ngClass.lt-sm="p-col-12">
                            <label>{{'School Address:' | translate}}</label>
                        </div>
                        <div ngClass="p-col-8" ngClass.lt-sm="p-col-12">
                            107 rue Paul Hochart<br>
                            94240 - L HAY-LES-ROSES<br>
                            France
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-grid border-yellow">
                <div ngClass="p-col-6" ngClass.lt-md="p-col-12">
                    <div ngClass="p-grid">
                        <div ngClass="p-col-5" ngClass.lt-md="p-col-4" ngClass.lt-sm="p-col-12">
                            <label>{{'Title:' | translate}}</label>
                        </div>
                        <div ngClass="p-col-7" ngClass.lt-md="p-col-8" ngClass.lt-sm="p-col-12">
                            Responsable Marketing Opérationnel
                        </div>
                    </div>
                </div>
                <div ngClass="p-col-6" ngClass.lt-md="p-col-12">
                    <div ngClass="p-grid">
                        <div ngClass="p-col-5" ngClass.lt-md="p-col-4" ngClass.lt-sm="p-col-12">
                            <label>{{'Date of issuance:' | translate}}</label>
                        </div>
                        <div ngClass="p-col-7" ngClass.lt-md="p-col-8" ngClass.lt-sm="p-col-12">
                            Nov 26, 2018
                        </div>
                    </div>
                </div>
                <div ngClass="p-col-6" ngClass.lt-md="p-col-12">
                    <div ngClass="p-grid">
                        <div ngClass="p-col-5" ngClass.lt-md="p-col-4" ngClass.lt-sm="p-col-12">
                            <label>{{'Degree ref:' | translate}}</label>
                        </div>
                        <div ngClass="p-col-7" ngClass.lt-md="p-col-8" ngClass.lt-sm="p-col-12">
                            12345
                        </div>
                    </div>
                </div>
                <div ngClass="p-col-6" ngClass.lt-md="p-col-12">
                    <div ngClass="p-grid">
                        <div ngClass="p-col-5" ngClass.lt-md="p-col-4" ngClass.lt-sm="p-col-12">
                            <label>{{'School ref :' | translate}}</label>
                        </div>
                        <div ngClass="p-col-7" ngClass.lt-md="p-col-8" ngClass.lt-sm="p-col-12">

                        </div>
                    </div>
                </div>
                <div ngClass="p-col-6" ngClass.lt-md="p-col-12">
                    <div ngClass="p-grid">
                        <div ngClass="p-col-5" ngClass.lt-md="p-col-4" ngClass.lt-sm="p-col-12">
                            <label>{{'Ref Date to Official Journal:' | translate}}</label>
                        </div>
                        <div ngClass="p-col-7" ngClass.lt-md="p-col-8" ngClass.lt-sm="p-col-12">

                        </div>
                    </div>
                </div>
                <div ngClass="p-col-6" ngClass.lt-md="p-col-12">
                    <div ngClass="p-grid">
                        <div ngClass="p-col-5" ngClass.lt-md="p-col-4" ngClass.lt-sm="p-col-12">
                            <label>{{'Ref Text to Official Journal:' | translate}}</label>
                        </div>
                        <div ngClass="p-col-7" ngClass.lt-md="p-col-8" ngClass.lt-sm="p-col-12">
                            rrêté du 19 Novembre 2014 - publié au JO le 29 Novembre 2014 - Niveau II - Code NSF
                        </div>
                    </div>
                </div>
                <div ngClass="p-col-6" ngClass.lt-md="p-col-12">
                    <div ngClass="p-grid">
                        <div ngClass="p-col-5" ngClass.lt-md="p-col-4" ngClass.lt-sm="p-col-12">
                            <label>{{'CertiDegree Blockchain ref:' | translate}}</label>
                        </div>
                        <div ngClass="p-col-7" ngClass.lt-md="p-col-8" ngClass.lt-sm="p-col-12">

                        </div>
                    </div>
                </div>
            </div>
            <div class="p-grid border-yellow">
                <div ngClass="p-col-6" ngClass.lt-md="p-col-12">
                    <div ngClass="p-grid">
                        <div ngClass="p-col-4" ngClass.lt-sm="p-col-12">
                            <label>{{'Link to Certidegree :' | translate}}</label>
                        </div>
                        <div ngClass="p-col-8" ngClass.lt-sm="p-col-12">
                            Click Here
                        </div>
                    </div>
                </div>
                <div ngClass="p-col-6" ngClass.lt-md="p-col-12">
                    <div ngClass="p-grid">
                        <div ngClass="p-col-4" ngClass.lt-sm="p-col-12">
                            <label>{{'HASH code :' | translate}}</label>
                        </div>
                        <div ngClass="p-col-8" ngClass.lt-sm="p-col-12">

                        </div>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</form>