@import '~assets/scss/theme/admtc.variables';
@import '~assets/scss/theme/admtc';

.panel-divider {
  border-top: 1px solid #ffffff94;
  padding-top: 0;
  padding-bottom: 0;
}
.pillbox{
  // cursor:default;
  font-weight: bold;
}

.check-email{
  height: 10px;
  position: relative;
}

.w-80 {
  width: 80%;
}