@import '~assets/scss/theme/admtc.variables';
@import '~assets/scss/theme/admtc';

#certifier {
  margin-left: 20px;
}
.mat-form-field {
  padding-left: 0.5rem !important;
}
.pad-top-miss {
  padding-top: 1.8px !important;
}
.form-field {
  margin-top: 0.5px;
}
.tag-container {
  white-space: normal;
  text-align: left !important;
  line-height: 2.3;
  overflow-wrap: break-word;
}

:host ::ng-deep .mat-paginator-outer-container {
  background-color: $light-black;
  color: white;
}

:host ::ng-deep table {
  border-collapse: inherit;
  tr {
    td,
    th {
      border-right: 1px solid $grey;
      &:nth-child(1) {
        min-width: 150px;
        max-width: 150px;
        text-align: center !important;
        padding-left: 0.5rem !important;
      }
      &:nth-child(2) {
        min-width: 150px;
        max-width: 150px;
        text-align: center !important;
        padding-left: 0.5rem !important;
      }

      &:nth-child(3) {
        min-width: 80px;
        max-width: 80px;
        text-align: center !important;
        padding-left: 0.5rem !important;
        .mat-form-field {
          width: 90%;
        }
      }

      &:nth-child(4) {
        min-width: 80px;
        max-width: 80px;
        padding-left: 0.5rem !important;
        padding-right: 0.5rem !important;
        text-align: center !important;
      }

      &:nth-child(5) {
        min-width: 80px;
        max-width: 80px;
        text-align: center !important;
        padding-left: 0.5rem !important;
        padding-right: 0.5rem !important;
        .mat-form-field {
          width: 90%;
        }
      }

      &:nth-child(6) {
        min-width: 80px;
        max-width: 80px;
        padding-left: 0.5rem !important;
        padding-right: 0.5rem !important;
        text-align: center !important;
      }

      &:nth-child(7) {
        min-width: 80px;
        max-width: 80px;
        padding-left: 0.7rem !important;
        padding-right: 0.7rem !important;
        text-align: center !important;
      }

      &:nth-child(8) {
        min-width: 100px;
        max-width: 100px;
        padding-left: 0.7rem !important;
        padding-right: 0.7rem !important;
        text-align: center !important;
      }
    }

    td {
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 0;
      white-space: nowrap;
      padding-top: 0.5em;
      padding-bottom: 0.5em;
      color: $white;
    }

    // th {
    //   vertical-align: top;
    //   .mat-form-field-infix {
    //     width: unset !important;
    //   }
    // }

    &:nth-child(2) {
      th {
        padding-top: 0.9em;
      }
    }
  }

  thead tr {
    &:nth-child(1) {
      height: 35px;
    }
    &:nth-child(1),
    &:nth-child(2) {
      background: $light-black;
      th {
        color: $white;
      }
    }
  }
}

.action-header-column {
  vertical-align: middle !important;
  padding-right: 0 !important;
  .p-grid {
    margin-top: unset !important;
  }
}

.left-margin {
  margin-left: 3%;
}

.cursor-pointer {
  cursor: pointer;
}

.pc-section {
  width: 50%;
  text-align: right;
  padding-right: 5px;
  display: inline-block;
}

.cr-section {
  width: 50%;
  text-align: left;
  display: inline-block;
}

.no-records {
  background-color: #424242;
  font-size: 14px;
  padding: 10px 12px;
  border-right: 1px solid #545454;
  border-bottom: 1px solid #545454;
}

// old style
.add_button {
  // margin-right: 0;
  float: right;
}

.info p {
  display: inline-block;
  margin: 0;
  span {
    margin-right: 1rem;
  }
}

h5 {
  margin: 0;
}

.form-field {
  margin-top: 6px;
}

.green {
  color: #9acd32;
}

.black {
  color: black;
}

.blue {
  color: #36ebf4;
}

.orange {
  color: #ff6600ff;
}

.red {
  color: #ff4040;
}

.panel-divider {
  border-top: 1px solid #ffffff94;
  padding-top: 0;
  padding-bottom: 0;
}
