@import '~assets/scss/theme/admtc.variables';
@import '~assets/scss/theme/admtc';

.hide {
  display: none;
}

#certifier {
  margin-left: 20px;
}
.mat-form-field {
  padding-left: 0.5rem !important;
}
.pad-top-miss {
  padding-top: 1.8px !important;
}
.form-field {
  margin-top: 0.5px;
}

.tag-container {
  white-space: normal;
  text-align: left !important;
  line-height: 2.3;
  overflow-wrap: break-word;
}
:host ::ng-deep table {
  tr {
    td,
    th {
      border-right: 1px solid $grey;
      text-align: center !important;
      &:nth-child(1) {
        width: 3%;
        padding-left: 0 !important;
        .mat-form-field {
          width: 90%;
        }
      }
      &:nth-child(2) {
        width: 15%;
        padding-left: 0.5rem !important;
        text-align: left !important;
        .mat-form-field {
          width: 90%;
        }
      }

      &:nth-child(3) {
        width: 30%;
        padding-left: 0.5rem !important;
        text-align: left !important;
        .mat-form-field {
          width: 90%;
        }
      }

      &:nth-child(4) {
        width: 8%;
        text-align: center !important;
        padding-left: 0 !important;
        .mat-form-field {
          width: 90%;
        }
      }

      &:nth-child(5) {
        width: 13%;
        text-align: center !important;
        padding-left: 0.5rem !important;
        .mat-form-field {
          width: 90%;
        }
      }

      &:nth-child(6) {
        width: 13%;
        text-align: center !important;
        padding-left: 0.5rem !important;
        .mat-form-field {
          width: 90%;
        }
      }

      &:nth-child(7) {
        width: 13%;
        text-align: center !important;
        padding-left: 0.5rem !important;
        .mat-form-field {
          width: 90%;
        }
      }

      &:nth-child(8) {
        width: 5%;
        min-width: 90px;
        max-width: 90px;
        padding-right: 0 !important;
        padding-left: 0.5rem !important;
      }
    }

    td {
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 0;
      white-space: nowrap;
      padding-top: 0.5em;
      padding-bottom: 0.5em;
    }

    th {
      vertical-align: top;
      .mat-form-field-infix {
        width: unset !important;
      }
    }

    &:nth-child(2) {
      th {
        padding-top: 0.9em;
      }
    }
  }

  thead tr {
    &:nth-child(2) {
      height: 35px;
    }
    &:nth-child(2),
    &:nth-child(3) {
      background: $light-black;
      th {
        color: $white;
      }
    }
  }
}

.action-header-column {
  vertical-align: middle !important;
  padding-right: 0 !important;
  .p-grid {
    margin-top: unset !important;
  }
}

.left-margin {
  margin-left: 3%;
}

:host ::ng-deep .swal2-checkbox label,
.swal2-radio label {
  font-size: 1em !important;
}
.school-backdrop + .cdk-overlay-pane {
  .mat-dialog-container {
    overflow: visible;
  }
}

.mat-column-select {
  overflow: initial;
}

.cursor-pointer {
  cursor: pointer;
}

.pc-section {
  width: 50%;
  text-align: right;
  padding-right: 5px;
  display: inline-block;
}

.cr-section {
  width: 50%;
  text-align: left;
  display: inline-block;
}

.no-records {
  background-color: #424242;
  font-size: 14px;
  padding: 10px 12px;
  border-right: 1px solid #545454;
  border-bottom: 1px solid #545454;
}

::ng-deep .mat-menu-panel {
  min-height: auto;
}

::ng-deep .mat-menu-content:not(:empty) {
  padding-bottom: 0;
}
