@import '~assets/scss/theme/admtc.variables';
@import '~assets/scss/theme/admtc';

.float-right {
    padding-top:5px;
    margin-bottom: 15px;
    right: 5px;
}
.display-container {
    margin-top: 40px;
}