<div class="dialog-border">
  <div class="dialogTitleWrapper header-dialog">
    <div class="p-grid">
      <div class="w-30 no-padding">
        <mat-icon mat-icon-button class="mt-5px">{{ isEdit ? 'edit' : 'add' }}</mat-icon>
      </div>
      <div class="p-col-10 no-padding">
        <h3 class="dialogTitle">{{ isEdit ? ('Edit Comment' | translate) : ('Add Comment' | translate) }}</h3>
      </div>
      <div class="p-col no-padding">
        <button mat-icon-button class="close-icon float-right" (click)="closeDialog()" tabindex="-1">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>

<div [formGroup]="form" mat-dialog-content class="mat-dialog-content dialog-body">
  <div class="p-grid">
    <!-- Subject -->
    <div class="p-col-12 no-padding">
      <div class="p-grid">
        <div class="p-col-6">
          <div class="p-grid">
            <mat-form-field class="full-wid">
              <input matInput placeholder="{{ 'Subject' | translate }}" formControlName="subject" required />
              <mat-error *ngIf="form.get('subject').errors">{{ 'This field is required' | translate }}</mat-error>
            </mat-form-field>
          </div>
          <div class="p-grid">
            <mat-form-field class="full-wid" *ngIf="!isAddMore">
              <input
                matInput
                placeholder="{{ 'Category' | translate }}"
                [formControl]="categoryFilterCtrl"
                [matAutocomplete]="autoScholar"
              />
              <mat-autocomplete #autoScholar="matAutocomplete" [panelWidth]="'fit'">
                <mat-option [value]="'add'" (click)="selectCategory('add')">
                  {{ 'Add More' | translate }}
                </mat-option>
                <mat-option *ngFor="let option of categoryFilterList" [value]="option" (click)="selectCategory(option)">
                  {{ option }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <mat-form-field class="full-wid" *ngIf="isAddMore">
              <input matInput placeholder="{{ 'Category' | translate }}" formControlName="category" />
            </mat-form-field>
          </div>
        </div>
        <div class="p-col-6">
          <div class="p-grid">
            <div class="p-col-12">
              <mat-checkbox [value]="form.controls['is_personal_situation']" formControlName="is_personal_situation">
                {{ 'Special personal situation' | translate }}
              </mat-checkbox>
            </div>
            <div class="p-col-12">
              <mat-checkbox [value]="form.controls['is_restrictive_conditions']" formControlName="is_restrictive_conditions">
                {{ 'Restrictive condition' | translate }}
              </mat-checkbox>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Commentary -->
    <div class="p-col-12 pad-y-none">
      <div class="title">
        <p>{{ 'Commentary' | translate }}*</p>
      </div>
      <div class="ckeditor">
        <ckeditor #editor [editor]="Editor" [formControl]="form.controls['comment']" (ready)="onReady($event)" [config]="config"></ckeditor>
      </div>
    </div>
  </div>

  <div *ngIf="isWaitingForResponse" class="inner-loading-indicator">
    <mat-spinner color="accent" [diameter]="100"></mat-spinner>
  </div>
</div>

<div mat-dialog-actions class="justify-content-end mr-10">
  <button mat-button mat-raised-button color="warn" (click)="closeDialog()">{{ 'CANCEL' | translate }}</button>
  <button mat-button mat-raised-button color="accent" class="mr-0" (click)="submit()">
    {{ 'Validate' | translate }}
  </button>
</div>
