:host::ng-deep.list-horizontal {
  padding: 0;
  flex-wrap: nowrap !important;
  margin-left: 1.5em !important;
  & > div {
    display: inline-block;
    height: auto;
    width: 10em;
    min-width: 9em;
    margin-right: 10px !important;
  }
}
:host::ng-deep.mat-list-item {
  max-width: 11rem !important;
}
:host::ng-deep.float-right {
  float: right;
}
.left-side {
  padding-left: 0px;
  width: 420px;
}

.paginator{
  // margin-top: 9vh;
  margin-right: 9vh;
}

.right-side {
  width: auto;
  position: absolute;
  right: 0px;
  left: 425px;
}
.fix-company-list-width {
  margin-top: 10px;
  width: 420px;
}
:host::ng-deep.mat-paginator {
  background-color: transparent;
}
.text-empty {
  height: auto;
  margin: 10px auto;
  font-size: 20px;
  display: block;
  width: 100%;
  position: relative;
  text-align: center;
  vertical-align: middle;
  color: #e4e7ef;
}

.user-list-toggle {
  margin-left: 1.5rem;
}

.right-side {
  overflow: auto;
} 

.left-side{
  width: 400px;
}

.hide-paginator{
  display: none;
}
.left-side.toggle-card-list {
  width: 0;
  display: none
} 
.right-side.toggle-card-list{
  left: 1.6vw;
}
