@import '~assets/scss/theme/admtc.variables';
@import '~assets/scss/theme/admtc';

:host::ng-deep.parent-tab.mat-tab-group {
  .mat-tab-label {
    min-width: 150px !important;
    //padding: 30px !important;
    background-color: black !important;
    font-size: 15px;
    opacity: 1 !important;
    color: white !important;
    font-weight: 900 !important;
    margin-right: 8px;
  }
  /* active tab */
  .mat-tab-list .mat-tab-labels {
    color: #ffe77a !important;
  }
  .mat-tab-label-active {
    border: 1px solid #607d8b !important;
    background-color: #607d8b !important;
    color: #ffe77a !important;
  }
  /* disabled tab */
  .mat-tab-label.mat-tab-disabled,
  .mat-tab-link.mat-tab-disabled {
    border: 1px solid black !important;
    background-color: black !important;
    color: #a2a2a2 !important;
  }

  /* ink bar */
  .mat-ink-bar {
    background-color: unset !important;
  }

  .mat-tab-header {
    font-weight: 400;
    color: inherit;
    margin-top: 1.2em;
    align-items: center !important;
  }
}

:host::ng-deep .mat-tab-body-content {
  overflow: hidden !important;
}

.card-background {
  background: #607d8b;
  padding: 0.5em;
  min-height: 250px;
}

:host::ng-deep.child-tab.mat-tab-group {
  margin-top: 0px !important;
  .mat-tab-header {
    font-size: 0.9em;
  }
  .mat-tab-label {
    min-width: 25px !important;

    background-color: transparent !important;
    margin-right: 0px !important;
    font-size: 14px;
    h4 {
      font-size: 13px;
    }
  }
  .mat-tab-label-active {
    box-shadow: unset;
    border-right: none !important;
    border-left: none !important;
    border-top: none !important;
    background-color: transparent !important;
    color: #ffd740 !important;
    font-weight: 900 !important;
    border-bottom: 2.5px solid #607d8b !important;
  }
  .mat-card {
    margin-top: 5%;
  }

  .mat-tab-list .mat-tab-labels {
    color: #ffd740 !important;
  }

  .mat-tab-label.mat-tab-disabled,
  .mat-tab-link.mat-tab-disabled {
    background-color: transparent !important;
    color: white !important;
  }
  .mat-ink-bar {
    background-color: unset !important;
  }
}
.card-background {
  background: #607d8b;
  padding: 0.5em;
  min-height: 250px;
}