<div style="padding-top: 5px; min-height: 280px">
  <div *ngIf="isWaitingForResponse" class="inner-loading-indicator">
    <mat-spinner color="accent" [diameter]="100"></mat-spinner>
  </div>
  <mat-tab-group
    animationDuration="500ms"
    style="margin: 0 !important"
    [(selectedIndex)]="tabIndex"
    class="parent-tab"
    *ngIf="scholarSeasons?.length"
  >
    <ng-container *ngFor="let scholar of scholarSeasons">
      <mat-tab label="{{ combinedProgram(scholar) }}" class="custom-tab">
        <ng-template matTabContent>
          <mat-tab-group [(selectedIndex)]="childTabIndex" class="child-tab">
            <mat-tab label="Student">
              <ng-template mat-tab-label>
                <h5>{{ 'Student' | translate }}</h5>
              </ng-template>
              <ng-template matTabContent>
                <mat-card class="card-background" style="margin-top: 1% !important">
                  <ms-student-tab-detail 
                    [candidateId]="scholar?._id" 
                    [scholarSeasonData]="scholar" 
                    [studentStatusList]="scholar?.studentStatusList" 
                    [userData]="userData" 
                    (reloadData)="reload($event)" 
                    (reloadDataDetail)="reloadDetail($event)"

                  ></ms-student-tab-detail>
                </mat-card>
              </ng-template>
            </mat-tab>
            <mat-tab label="Contact">
              <ng-template mat-tab-label>
                <h4>{{ 'Contact' | translate }}</h4>
              </ng-template>
              <ng-template matTabContent>
                <ms-student-new-contacts-tab 
                  [countryCodeList]="countryCodeList" 
                  [candidate]="scholar" 
                  (reloadDataParent)="reload($event)"
                  [showFinacment]="scholar?.showFinancement"
                ></ms-student-new-contacts-tab>
              </ng-template>
            </mat-tab>
            <mat-tab label="Finance">
              <ng-template mat-tab-label>
                <h4>{{ 'Finance' | translate }}</h4>
              </ng-template>
              <ng-template matTabContent>
                <mat-card class="card-background" style="margin-top: 1% !important">
                  <ms-student-finance-tab-detail [scholarSeasonData]="scholar" [candidateId]="scholar?._id"></ms-student-finance-tab-detail>
                </mat-card>
              </ng-template>
            </mat-tab>
            <mat-tab label="Documents">
              <ng-template mat-tab-label>
                <h4>{{ 'DOCUMENT.DOCUMENTS' | translate }}</h4>
              </ng-template>
              <ng-template matTabContent>
                <ms-student-document-tab [candidateId]="scholar?._id"></ms-student-document-tab>
              </ng-template>
            </mat-tab>
            <mat-tab label="Visa document" *ngIf="scholar?.require_visa_permit">
              <ng-template mat-tab-label>
                <h4>{{ 'Visa document' | translate }}</h4>
              </ng-template>
              <ng-template matTabContent>
                <ms-student-visa-document-tab [candidateId]="scholar?._id" [candidateData]="scholar" [programId]="scholar?.intake_channel?._id"></ms-student-visa-document-tab>
              </ng-template>
            </mat-tab>
            <mat-tab label="Forms">
              <ng-template mat-tab-label>
                <h4>{{ 'Forms' | translate }}</h4>
              </ng-template>
              <ng-template matTabContent>
                <ms-candidate-form-tab [candidateId]="scholar?._id" [scholarSeasonData]="scholar" [isStudentCard]="true"></ms-candidate-form-tab>
              </ng-template>
            </mat-tab>
            <mat-tab label="Financement" *ngIf="scholar?.showFinancement">
              <ng-template mat-tab-label>
                <h4>{{ 'Financement' | translate }}</h4>
              </ng-template>

              <ng-template matTabContent>
                <mat-card class="card-background" style="margin-top: 1% !important">
                  <ms-student-financement-tab-detail
                    [scholarSeasonData]="scholar"
                    [candidateId]="scholar?._id"
                    [userData]="userData"
                  ></ms-student-financement-tab-detail>
                </mat-card>
              </ng-template>
            </mat-tab>
            <mat-tab label="Contract/Convention" *ngIf="scholar?.showFinancement">
              <ng-template mat-tab-label>
                <h4>{{ 'Contract/Convention' | translate }}</h4>
              </ng-template>
              <ng-template matTabContent>
                <mat-card class="card-background" style="margin-top: 1% !important">
                  <ms-student-convention-tab-detail
                    [scholarSeasonData]="scholar"
                    [candidateId]="scholar?._id"
                    [userData]="userData"
                  ></ms-student-convention-tab-detail>
                </mat-card>
              </ng-template>
            </mat-tab>
          </mat-tab-group>
        </ng-template>
      </mat-tab>
    </ng-container>
  </mat-tab-group>
</div>
