<div *ngIf="isWaitingForResponse" class="loading-indicator">
  <mat-spinner color="accent" [diameter]="100"></mat-spinner>
</div>
<div class="p-grid" [formGroup]="informationForm">
  <div class="p-col-12" style="padding-left: 0px; padding-right: 0px">
    <mat-card class="overlow-auto" style="margin: 0px !important">
      <div class="p-grid">
        <div class="p-col-6">
          <span>{{ 'ALUMNI.Personal informations' | translate }}</span>
        </div>
        <div class="p-col-6" align="end" style="padding-right: 0px">
          <button
            mat-raised-button
            color="accent"
            (click)="saveInformation()"
            style="margin: 0px"
            *ngIf="permissionService?.showAlumniCardSaveIdentityPerm()"
            [disabled]="disableButtonSave"
          >
            <mat-icon class="mat-icon-default">save</mat-icon>
            {{ 'CARDDETAIL.Save' | translate }}
          </button>
        </div>
      </div>
      <div class="p-grid">
        <div class="p-col-12 yellow-border" style="margin-bottom: 13px">
          <div class="p-grid">
            <div class="p-col-12">
              <div class="p-grid">
                <div class="p-col-fixed no-padding-y" style="width: 50px; padding-left: 0px">
                  <span>{{ 'ALUMNI.Civility' | translate }}</span>
                </div>
                <div class="p-col no-padding-y">
                  <mat-radio-group formControlName="civility">
                    <mat-radio-button style="margin-right: 1rem" value="MR">{{ 'MR' | translate }}</mat-radio-button>
                    <mat-radio-button value="MRS">{{ 'MRS' | translate }}</mat-radio-button>
                    <mat-radio-button style="margin-left: 1rem" value="neutral">{{ 'Neutral' | translate }}</mat-radio-button>
                  </mat-radio-group>
                </div>
              </div>
            </div>
          </div>
          <div class="p-grid">
            <div class="p-col-4 no-padding-y">
              <mat-form-field>
                <mat-label>{{ 'ALUMNI.First name' | translate }}</mat-label>
                <input matInput type="text" formControlName="first_name" required />
                <mat-error
                  *ngIf="
                    informationForm.get('first_name').hasError('required') &&
                    (informationForm.get('first_name').touched || informationForm.get('first_name').dirty)
                  "
                >
                  {{ 'This field is required' | translate }}
                </mat-error>
              </mat-form-field>
            </div>
            <div class="p-col-4 no-padding-y">
              <mat-form-field>
                <mat-label>{{ 'ALUMNI.Last name' | translate }}</mat-label>
                <input matInput type="text" formControlName="last_name" required />
                <mat-error
                  *ngIf="
                    informationForm.get('last_name').hasError('required') &&
                    (informationForm.get('last_name').touched || informationForm.get('last_name').dirty)
                  "
                >
                  {{ 'This field is required' | translate }}
                </mat-error>
              </mat-form-field>
            </div>
            <div class="p-col-4 no-padding-y">
              <mat-form-field>
                <mat-label>{{ 'ALUMNI.Used last name' | translate }}</mat-label>
                <input matInput type="text" formControlName="used_last_name" />
              </mat-form-field>
            </div>
          </div>
          <div class="p-grid">
            <div class="p-col-4 no-padding-y">
              <ng-select
                formControlName="promo_year"
                [appendTo]="'body'"
                [items]="promotionList"
                [clearable]="true"
                placeholder="{{ 'ALUMNI.Promo year' | translate }}"
                class="custom-ngselect-content"
              >
              </ng-select>
            </div>
            <div class="p-col-4 no-padding-y">
              <ng-select
                formControlName="school"
                [clearable]="true"
                [appendTo]="'body'"
                placeholder="{{ 'ALUMNI.School' | translate }}"
                (change)="getDataCampus()"
                class="custom-ngselect-content"
              >
                <ng-option *ngFor="let school of schoolList" [value]="school?._id">
                  {{ school?.short_name | translate }}
                </ng-option>
              </ng-select>
            </div>
            <div class="p-col-4 no-padding-y">
              <ng-select
                formControlName="campus"
                [appendTo]="'body'"
                [clearable]="true"
                placeholder="{{ 'ALUMNI.Campus' | translate }}"
                (change)="getDataSector()"
                class="custom-ngselect-content"
              >
                <ng-option *ngFor="let campus of campusList" [value]="campus?._id">
                  {{ campus?.name | translate }}
                </ng-option>
              </ng-select>
            </div>
          </div>
          <div class="p-grid">
            <div class="p-col-4 no-padding-y">
              <ng-select
                formControlName="sector"
                [clearable]="true"
                [appendTo]="'body'"
                placeholder="{{ 'ALUMNI.Sector' | translate }}"
                (change)="getDataSpeciality()"
                class="custom-ngselect-content"
              >
                <ng-option *ngFor="let sector of sectorList" [value]="sector?._id">
                  {{ sector?.name | translate }}
                </ng-option>
              </ng-select>
            </div>
            <div class="p-col-4 no-padding-y">
              <ng-select
                formControlName="speciality"
                [appendTo]="'body'"
                [clearable]="true"
                placeholder="{{ 'ALUMNI.Speciality' | translate }}"
                class="custom-ngselect-content"
              >
                <ng-option *ngFor="let speciality of specialityList" [value]="speciality?._id">
                  {{ speciality?.name | translate }}
                </ng-option>
              </ng-select>
            </div>
            <div class="p-col-4 no-padding-y">
              <mat-form-field class="example-full-width" style="margin-top: 5px">
                <mat-label>{{ 'ALUMNI.Date of birth' | translate }}</mat-label>
                <input matInput (click)="picker.open()" [matDatepicker]="picker" readonly formControlName="date_of_birth" />
                <mat-datepicker-toggle matSuffix [for]="picker" style="margin-right: 5px"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
          <div class="p-grid">
            <div class="p-col-4 no-padding-y">
              <mat-form-field>
                <mat-label>{{ 'ALUMNI.Email' | translate }}</mat-label>
                <input matInput type="email" formControlName="email" required />
                <mat-error>
                  <p
                    *ngIf="
                      informationForm.get('email').hasError('email') &&
                      (informationForm.get('email').touched || informationForm.get('email').dirty)
                    "
                  >
                    {{ 'Invalid email format' | translate }}
                  </p>
                  <p
                    *ngIf="
                      informationForm.get('email').hasError('required') &&
                      (informationForm.get('email').touched || informationForm.get('email').dirty)
                    "
                  >
                    {{ 'This field is required' | translate }}
                  </p>
                </mat-error>
              </mat-form-field>
              <div style="margin:5px 0;">
                <button [disabled]="informationForm.get('email').invalid || disableButtonVerify" mat-raised-button color="accent" (click)="verifyEmail()">
                  {{ 'COMPANY.Check Email Availability' | translate }}
                </button>
              </div>
            </div>
            <div class="p-col-4 no-padding-y">
              <mat-form-field>
                <mat-label>{{ 'ALUMNI.Telephone' | translate }}</mat-label>
                <input matInput type="text" formControlName="phone_number" maxlength="13" />
              </mat-form-field>
            </div>
            <div class="p-col-4 no-padding-y">
              <mat-form-field>
                <mat-label>{{ 'ALUMNI.RNCP/Diploma' | translate }}</mat-label>
                <input matInput type="text" formControlName="rncp_title" />
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>

      <div class="p-grid">
        <div class="p-col-12">
          <span>{{ 'ALUMNI.Address' | translate }}</span>
        </div>
      </div>
      <div class="p-grid">
        <div class="p-col-12 yellow-border" style="margin-bottom: 13px">
          <div class="p-grid">
            <div class="p-col-8 no-padding-y">
              <mat-form-field>
                <mat-label>{{ 'ALUMNI.Address' | translate }}</mat-label>
                <input matInput type="text" formControlName="personal_address" />
              </mat-form-field>
            </div>
          </div>
          <div class="p-grid">
            <div class="p-col-4 no-padding-y">
              <mat-form-field>
                <mat-label>{{ 'ALUMNI.Zip code' | translate }}</mat-label>
                <input matInput formControlName="personal_postcode" (keyup)="getPostcodeData()" maxlength="5" />
              </mat-form-field>
            </div>
            <div class="p-col-4 no-padding-y">
              <mat-form-field color="accent">
                <input
                  type="text"
                  placeholder="{{ 'ALUMNI.Country' | translate }}"
                  matInput
                  formControlName="country"
                  [matAutocomplete]="autoCountry"
                  (keyup)="filterCountry(0)"
                />
                <mat-autocomplete #autoCountry="matAutocomplete" (optionSelected)="getPostcodeData()" [panelWidth]="'fit'">
                  <mat-option *ngFor="let option of filteredCountry[0]" [value]="option" (click)="countrySelected()">
                    {{ option }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
          </div>
          <div class="p-grid">
            <div class="p-col-4 no-padding-y">
              <mat-form-field color="accent" class="full-width">
                <input
                  type="text"
                  matInput
                  placeholder="{{ 'ALUMNI.City' | translate }}"
                  formControlName="city"
                  [matAutocomplete]="autoCity"
                  (keyup)="filterCity(0)"
                />
                <mat-autocomplete #autoCity="matAutocomplete" [panelWidth]="'fit'">
                  <mat-option *ngFor="let option of filteredCities[0]" [value]="option">
                    {{ option }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
            <div class="p-col-4 no-padding-y">
              <mat-form-field color="accent" class="full-width">
                <input
                  type="text"
                  placeholder="{{ 'ALUMNI.Department' | translate }}"
                  matInput
                  formControlName="department"
                  [matAutocomplete]="autoDepartment"
                  (keyup)="filterDepartment(0)"
                />
                <mat-autocomplete #autoDepartment="matAutocomplete" [panelWidth]="'fit'">
                  <mat-option *ngFor="let option of filteredDepartments[0]" [value]="option">
                    {{ option }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
            <div class="p-col-4 no-padding-y">
              <mat-form-field color="accent" class="full-width">
                <input
                  type="text"
                  matInput
                  placeholder="{{ 'ALUMNI.Region' | translate }}"
                  formControlName="region"
                  [matAutocomplete]="autoRegion"
                  (keyup)="filterRegion(0)"
                />
                <mat-autocomplete #autoRegion="matAutocomplete" [panelWidth]="'fit'">
                  <mat-option *ngFor="let option of filteredRegions[0]" [value]="option">
                    {{ option }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>

      <div class="p-grid">
        <div class="p-col-12">
          <span>{{ 'ALUMNI.Professional status' | translate }}</span>
        </div>
      </div>
      <div class="p-grid">
        <div class="p-col-12 yellow-border" style="margin-bottom: 13px">
          <div class="p-grid">
            <div class="p-col-4 no-padding-y">
              <ng-select
                formControlName="professional_status"
                [clearable]="true"
                [appendTo]="'body'"
                placeholder="{{ 'ALUMNI.Professional status' | translate }}"
                class="custom-ngselect-content"
              >
                <ng-option *ngFor="let profesi of proffesionalList" [value]="profesi">
                  {{ profesi | translate }}
                </ng-option>
              </ng-select>
            </div>
            <div class="p-col-4 no-padding-y">
              <mat-form-field style="margin-top: 5px">
                <mat-label>{{ 'ALUMNI.Company' | translate }}</mat-label>
                <input matInput type="text" formControlName="company" />
              </mat-form-field>
            </div>
            <div class="p-col-4 no-padding-y">
              <mat-form-field style="margin-top: 5px">
                <mat-label>{{ 'ALUMNI.Activity sector' | translate }}</mat-label>
                <input matInput type="text" formControlName="activity_sector" />
              </mat-form-field>
            </div>
          </div>
          <div class="p-grid">
            <div class="p-col-4 no-padding-y">
              <mat-form-field>
                <mat-label>{{ 'ALUMNI.Job name' | translate }}</mat-label>
                <input matInput type="text" formControlName="job_name" />
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>
