<div class="top-space">
  <div class="horizontal">
    <table mat-table matSort [dataSource]="dataSource" (matSortChange)="sortData($event)" class="mat-elevation-z8">
      <!-- ROW RESET START -->
      <ng-container matColumnDef="reset">
        <th mat-header-cell *matHeaderCellDef colspan="8" class="action-header-column text-right">
          <div class="p-grid">
            <div class="p-col-12 text-right">
              <button mat-raised-button (click)="addContact()" matTooltip="{{ 'Add User Type' | translate }}" color="accent" *ngIf="permission.addContactInOrganization()">
                <mat-icon class="mat-icon-svgIcon" svgIcon="plus">plus</mat-icon>
                {{ 'Add Contact' | translate }}
              </button>
              <button mat-raised-button color="primary" (click)="resetTable()" matTooltip="{{ 'Reset Filter' | translate }}">
                <mat-icon svgIcon="loop" class="mat-icon-svgIcon"></mat-icon>
                {{ 'RESET' | translate }}
              </button>
            </div>
          </div>
        </th>
      </ng-container>
      <!-- ROW RESET END -->
      <!---ROW FILTER START-->
      <ng-container matColumnDef="selectFilter">
        <th mat-header-cell *matHeaderCellDef></th>
      </ng-container>
      <ng-container matColumnDef="nameFilter">
        <th mat-header-cell *matHeaderCellDef>
          <mat-form-field>
            <input matInput class="form-field" [formControl]="nameFilter" placeholder="{{ 'search' | translate }}" />
          </mat-form-field>
        </th>
      </ng-container>
      <ng-container matColumnDef="emailFilter">
        <th mat-header-cell *matHeaderCellDef>
          <mat-form-field>
            <input matInput class="form-field" [formControl]="emailFilter" placeholder="{{ 'search' | translate }}" />
          </mat-form-field>
        </th>
      </ng-container>
      <ng-container matColumnDef="phoneFilter">
        <th mat-header-cell *matHeaderCellDef></th>
      </ng-container>
      <ng-container matColumnDef="actionFilter">
        <th mat-header-cell *matHeaderCellDef></th>
      </ng-container>
      <!--ROW FILTER END-->
      <!-- ROW HEADER AND CONTENT START -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox
            (change)="$event ? masterToggle() : null"
            (change)="showOptions('all')"
            [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()"
            [aria-label]="checkboxLabel()"
          >
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="$event ? selection.toggle(row) : null"
            (change)="showOptions('one')"
            [checked]="selection.isSelected(row)"
            [aria-label]="checkboxLabel(row)"
          >
          </mat-checkbox>
        </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-sort-header="name" mat-header-cell *matHeaderCellDef matTooltip="{{ 'Name' | translate }}">
          <h5>{{ 'Name' | translate }}</h5>
        </th>
        <td mat-cell *matCellDef="let element" [matTooltip]="element?.civility == 'neutral' ? element?.last_name+' '+ element?.first_name : element?.last_name+' '+ element?.first_name+' '+translate.instant(element?.civility)">
          <ng-container *ngIf="element.civility !== 'neutral'">
            {{ element.last_name }}
            {{ element.first_name }}
            {{ element.civility | translate }}
          </ng-container>
          <ng-container *ngIf="element.civility === 'neutral'">
            {{ element.last_name }}
            {{ element.first_name }}
          </ng-container>
        </td>
      </ng-container>
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef matTooltip="{{ 'email' | translate }}">
          <h5>{{ 'email' | translate }}</h5>
        </th>
        <td mat-cell *matCellDef="let element" [matTooltip]="element?.email">
          {{ element.email }}
        </td>
      </ng-container>
      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef matTooltip="{{ 'Telephone' | translate }}">
          <h5>{{ 'Telephone' | translate }}</h5>
        </th>
        <td mat-cell *matCellDef="let element" matTooltip="{{ element?.phone_number_indicative ? '+' + element?.phone_number_indicative : '' }}{{ element.telephone }}">
          {{ element?.phone_number_indicative ? '+' + element?.phone_number_indicative : '' }}{{ element.telephone }}
        </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef matTooltip="{{ 'Action' | translate }}">
          <h5>{{ 'Action' | translate }}</h5>
        </th>
        <td mat-cell *matCellDef="let element">
          <button
            mat-icon-button
            (click)="editContact(element)"
            class="margin-right-button"
            matTooltip="{{ 'Edit' | translate }}"
            matTooltipPosition="above"
            [disabled]="!validateActionButtonEdit(element)"
            *ngIf="permission.editContactInOrganization()"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button
            mat-icon-button
            (click)="sendMail(element)"
            class="margin-right-button"
            matTooltip="{{ 'Send Email' | translate }}"
            matTooltipPosition="above"
            [disabled]="!validateActionButtonEmail(element)"
          >
            <mat-icon>send</mat-icon>
          </button>
          <button
            mat-icon-button
            (click)="deleteContact(element._id)"
            class="margin-right-button"
            matTooltip="{{ 'Delete' | translate }}"
            matTooltipPosition="above"
            *ngIf="(isOperator || (!isOperator && element.entity_name !== 'operator')) && dataCount && dataCount > 1 && permission.deleteContactInOrganization()"
            [disabled]="!validateActionButtonDelete(element)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
      <!-- ROW HEADER AND CONTENT END -->
      <ng-container matColumnDef="loading">
        <th mat-header-cell *matHeaderCellDef colspan="8" class="text-center">
          <div class="center-spinner">
            <mat-spinner color="accent"></mat-spinner>
          </div>
        </th>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="['reset']"></tr>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-header-row *matHeaderRowDef="filterColumns"></tr>
      <tr mat-header-row *matHeaderRowDef="['loading']" [hidden]="!isWaitingForResponse"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns" [hidden]="isWaitingForResponse"></tr>
    </table>
    <div *ngIf="noData | async" class="no-records">
      {{ 'NOT RECORD FOUND' | translate }}
    </div>
    <div [ngClass]="{ hide: noData | async }">
      <mat-paginator
        [ngClass]="{ 'hide-pagination-buttons': dataCount <= 10 }"
        [length]="dataCount"
        [hidePageSize]="true"
        [pageSize]="[10]"
        showFirstLastButtons
      ></mat-paginator>
    </div>
  </div>
</div>
