<div class="top-space">
  <div class="horizontal">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
      <!-- RESET START-->
      <ng-container matColumnDef="table-action">
        <th mat-header-cell *matHeaderCellDef colspan="8" class="action-header-column">
          <button
            [disabled]="disableExport"
            mat-raised-button
            color="primary"
            matTooltip="{{ 'Export the entire table of candidates' | translate }}"
          >
            <mat-icon svgIcon="file-excel" class="mat-icon-svgIcon"> </mat-icon>
            {{ 'Export' | translate }}
          </button>
          <button [disabled]="disableToday" mat-raised-button color="primary" matTooltip="{{ 'Today' | translate }}">
            <mat-icon svgIcon="calendar-alert" class="mat-icon-svgIcon"> calendar_alert </mat-icon>
            {{ 'Today' | translate }}
          </button>
          <button mat-raised-button [disabled]="disableYesterday" color="primary" matTooltip="{{ 'Yesterday' | translate }} ">
            <mat-icon class="mat-icon-svgIcon">
              <img alt="Yesterday icon" class="png-icons" [src]="yesterdayIcon" />
            </mat-icon>
            {{ 'Yesterday' | translate }}
          </button>
          <button color="primary" mat-raised-button [disabled]="disableLast7Days" matTooltip="{{ 'Last 7 days' | translate }} ">
            <mat-icon class="mat-icon-svgIcon">
              <img alt="Last seven days icon" class="png-icons" [src]="last7DaysIcon" />
            </mat-icon>
            {{ 'Last 7 days' | translate }}
          </button>
          <button color="primary" [disabled]="disableLast30Days" mat-raised-button matTooltip="{{ 'Last 30 days' | translate }}">
            <mat-icon class="mat-icon-svgIcon">
              <img alt="Last 30 days icon" class="png-icons" [src]="last30DaysIcon" />
            </mat-icon>
            {{ 'Last 30 days' | translate }}
          </button>
          <button [disabled]="disableThisMonth" color="primary" mat-raised-button matTooltip="{{ 'This month' | translate }}">
            <mat-icon class="mat-icon-svgIcon">
              <img class="png-icons" alt="This month icon" [src]="thisMonthIcon" />
            </mat-icon>
            {{ 'This month' | translate }}
          </button>
          <button color="accent" mat-raised-button matTooltip="{{ 'Reset Filter' | translate }} ">
            <mat-icon svgIcon="loop" class="mat-icon-svgIcon"></mat-icon>
            {{ 'Reset' | translate }}
          </button>
        </th>
      </ng-container>
      <!-- RESET END-->
      <!---FILTERS START-->
      <ng-container matColumnDef="selectFilter" class="mat-column-select">
        <th mat-header-cell *matHeaderCellDef class="text-center"></th>
      </ng-container>
      <ng-container matColumnDef="dateFilter">
        <th mat-header-cell *matHeaderCellDef>
          <mat-form-field class="example-full-width" style="margin-top: 5px">
            <input matInput [formControl]="dateFilter" [matDatepicker]="picker" placeholder="Date" readonly />
            <mat-datepicker-toggle matSuffix [for]="picker" style="margin-right: 5px"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </th>
      </ng-container>
      <ng-container matColumnDef="timeFilter">
        <th mat-header-cell *matHeaderCellDef>
          <mat-form-field class="example-full-width" style="margin-top: 5px">
            <input matInput [ngxTimepicker]="time_utc" readonly [format]="24" placeholder="Time" [formControl]="timeFilter" />
            <ngx-material-timepicker-toggle class="btn-time" matSuffix [for]="time_utc">
              <svg
                height="30px"
                style="transform: scale(0.8); position: absolute; right: 0px"
                viewBox="0 0 30 30"
                width="30px"
                ngxMaterialTimepickerToggleIcon
              >
                <path
                  fill="#ffffff"
                  d="M15,3C8.373,3,3,8.373,3,15c0,6.627,5.373,12,12,12s12-5.373,12-12C27,8.373,21.627,3,15,3z M16,16H7.995 C7.445,16,7,15.555,7,15.005v-0.011C7,14.445,7.445,14,7.995,14H14V5.995C14,5.445,14.445,5,14.995,5h0.011 C15.555,5,16,5.445,16,5.995V16z"
                />
              </svg>
            </ngx-material-timepicker-toggle>
          </mat-form-field>
          <ngx-material-timepicker #time_utc></ngx-material-timepicker>
        </th>
      </ng-container>
      <ng-container matColumnDef="actionFilter">
        <th mat-header-cell *matHeaderCellDef class="text-center">
          <mat-form-field>
            <mat-select [formControl]="actionFilter" [matTooltip]="actionFilter.value | translate">
              <mat-option [value]="action.value | translate" *ngFor="let action of actionFilterList"
                >{{ (action.key | translate) === 'All' ? 'Toutes' : (action.key | translate) }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </th>
      </ng-container>
      <ng-container matColumnDef="notificationFilter">
        <th mat-header-cell *matHeaderCellDef class="text-center">
          <mat-form-field>
            <input matInput class="form-field" [formControl]="admissionMemberFilter" placeholder="{{ 'search' | translate }}" />
          </mat-form-field>
        </th>
      </ng-container>
      <ng-container matColumnDef="admissionMemberFilter">
        <th mat-header-cell *matHeaderCellDef class="text-center">
          <mat-form-field>
            <input matInput class="form-field" [formControl]="admissionMemberFilter" placeholder="{{ 'search' | translate }}" />
          </mat-form-field>
        </th>
      </ng-container>

      <ng-container colspan="4" matColumnDef="actionsFilter">
        <th mat-header-cell *matHeaderCellDef class="text-center"></th>
      </ng-container>
      <!---FILTERS END-->
      <!---ROW DATA START-->
      <ng-container matColumnDef="select" class="mat-column-select">
        <th mat-header-cell *matHeaderCellDef class="text-center">
          <mat-checkbox
            (change)="$event ? masterToggle() : null"
            [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()"
          ></mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row" class="text-center">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)"
          ></mat-checkbox>
        </td>
      </ng-container>
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef matTooltip="{{ 'Date' | translate }}" matTooltipPosition="above">
          <h5>
            {{ 'Date' | translate }}
          </h5>
        </th>
        <td mat-cell *matCellDef="let element">
          <span>{{ element.date }}</span>
        </td>
      </ng-container>
      <ng-container matColumnDef="time">
        <th mat-header-cell *matHeaderCellDef matTooltip="{{ 'Time' | translate }}" matTooltipPosition="above">
          <h5 mat-sort-header="time">{{ 'Time' | translate }}</h5>
        </th>
        <td mat-cell *matCellDef="let element">
          <span>{{ element.time }}</span>
        </td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef matTooltip="{{ 'Action' }}" matTooltipPosition="above">
          <h5>
            <mat-icon svgIcon="flash" class="mat-icon-svgIcon"> flash </mat-icon>
          </h5>
        </th>
        <td mat-cell *matCellDef="let element">
          <div [ngSwitch]="element.action">
            <mat-icon *ngSwitchCase="'wa_sms'" svgIcon="whatsapp">whatsapp</mat-icon>
            <mat-icon *ngSwitchCase="'email'" svgIcon="send">send</mat-icon>
            <mat-icon *ngSwitchCase="'note'" svgIcon="pencil">pencil</mat-icon>
          </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="notification">
        <th mat-header-cell *matHeaderCellDef matTooltip="{{ 'Notification' | translate }}" matTooltipPosition="above">
          <h5>
            <mat-icon svgIcon="send" class="mat-icon-svgIcon"> send </mat-icon>
          </h5>
        </th>
        <td mat-cell *matCellDef="let element">
          <span>{{ element.notification }}</span>
        </td>
      </ng-container>
      <ng-container matColumnDef="admissionMember">
        <th mat-header-cell *matHeaderCellDef matTooltip="{{ 'Admission member' }}" matTooltipPosition="above">
          <h5 mat-sort-header="admissionMember">{{ 'Admission member' }}</h5>
        </th>
        <td
          mat-cell
          [matTooltip]="
            (element.admission_member.last_name | uppercase) + ' ' + element.admission_member.first_name + ' ' + element.admission_member.civility
          "
          *matCellDef="let element"
        >
          <div class="person-image">
            <img
              alt="admission member image"
              class="img-responsive img-circle"
              height="30"
              [src]="element.admission_member.civility === 'Mr' ? maleIcon : femaleIcon"
              width="30"
            />
            &nbsp;
            <span
              >{{ element.admission_member.last_name | uppercase }} {{ element.admission_member.first_name }}
              {{ element.admission_member.civility }}</span
            >
          </div>
        </td>
      </ng-container>

      <ng-container colspan="4" matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef matTooltip="{{ 'Action' | translate }}" matTooltipPosition="above">
          <h5>{{ 'Action' | translate }}</h5>
        </th>
        <td mat-cell *matCellDef="let element">
          <button
            mat-icon-button
            class="margin-right-button"
            matTooltip="{{ 'Create an Internal Task link to that Candidate' | translate }}"
          >
            <mat-icon svgIcon="clipboard-check-outline"> clipboard_check_outline </mat-icon>
          </button>
          <button mat-icon-button class="margin-right-button" matTooltip="{{ 'see the Candidate file' | translate }}">
            <mat-icon svgIcon="account-arrow-right"> account_arrow_right </mat-icon>
          </button>
          <button mat-icon-button class="margin-right-button" matTooltip="{{ 'see the Notification / Text' | translate }}">
            <mat-icon svgIcon="eye"> eye </mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="['table-action']"></tr>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-header-row *matHeaderRowDef="filterColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns" [hidden]="isLoading"></tr>
    </table>
    <div *ngIf="noData | async" class="no-records" [ngClass]="{ hide: isLoading }">
      {{ 'NOT RECORD FOUND' | translate }}
    </div>
    <div [ngClass]="{ hide: noData | async }">
      <mat-paginator
        [ngClass]="{ 'hide-pagination-buttons': dataCount <= 10 }"
        [length]="dataCount"
        [hidePageSize]="true"
        [pageSize]="[10]"
        showFirstLastButtons
      ></mat-paginator>
    </div>
  </div>
</div>
