<div class="p-grid yellow-border card-row" style="margin-top: 2rem !important; padding: 10px" [formGroup]="templateStepForm">
  <div class="p-col-12 no-padding">
    <div class="header" [innerHTML]="templateStepForm?.get('direction')?.value"></div>

    <ng-container formArrayName="segments">
      <div
        class="p-col-12 no-padding"
        *ngFor="let segment of getSegmentFormarray()?.controls; let segmentIndex = index"
        [formGroupName]="segmentIndex"
      >
        <h3 class="segment-name">{{ segment.get('segment_title')?.value }}</h3>

        <!-- For Question -->
        <ng-container formArrayName="questions">
          <div class="p-grid">
            <div
              #questionLoop
              *ngFor="let quest of getQuestionFieldFormArray(segmentIndex)?.controls; let quesIndex = index"
              [formGroupName]="quesIndex"
              [ngClass]="[
                (getNextQuestionField(segmentIndex, quesIndex)?.get('field_position').value === 'right' &&
                  quest?.get('field_position').value !== 'right') ||
                (getPreviousQuestionField(segmentIndex, quesIndex).get('field_position').value === 'left' &&
                  quest?.get('field_position').value === 'right')
                  ? 'half-width'
                  : 'full-width',
                questionLoop.classList.contains('full-width') && quest?.get('field_position').value === 'right' ? 'right-end' : 'left-end'
              ]"
            >
              <!-- IF FIELD IS ON -------------------------------------------->
              <div *ngIf="quest?.get('is_field')?.value">
                <div class="p-grid" [ngClass]="questionLoop.classList.contains('right-end') ? 'justify-end' : 'justify-start'">
                  <div class="p-col-4">
                    <label *ngIf="quest?.get('is_required')?.value"
                      >{{ 'FORM_BUILDER_FIELD.' + quest?.get('field_type')?.value | translate }}*</label
                    >
                    <label *ngIf="!quest?.get('is_required')?.value">{{
                      'FORM_BUILDER_FIELD.' + quest?.get('field_type')?.value | translate
                    }}</label>
                  </div>
                  <div class="p-col-8 x-pad-none">
                    <ng-container
                      *ngIf="
                        [
                          'TEACHER_CIVILITY',
                          'parent_civility',
                          'alumni_civility',
                          'alumni_date_of_birth',
                          'student_civility',
                          'student_date_of_birth',
                          'parent_relation',
                          'date_of_birth',
                          'upload_picture',
                          'start_date',
                          'end_date',
                          'school_stamp',
                          'START_DATE',
                          'today_date',
                          'END_DATE'
                        ].includes(quest?.get('field_type')?.value);
                        else default
                      "
                    >
                      <div class="form-group" *ngIf="quest?.get('field_type')?.value === 'upload_picture'">
                        <div style="width: 150px">
                          <!-- <img [src]="maleStudentIcon" class="student-details-img" /> -->
                          <img [src]="neutralStudentIcon" class="student-details-img" />
                        </div>
                      </div>

                      <div class="form-group" *ngIf="quest?.get('field_type')?.value === 'school_stamp'">
                        <div class="img-container">
                          <!-- <img [src]="maleStudentIcon" class="student-details-img" /> -->
                          <img [src]="grayBackground" class="student-details-img" />
                          <div class="overlay-cover">
                            <div>{{ 'FORM_BUILDER_FIELD.school_stamp' | translate }}</div>
                          </div>
                        </div>
                      </div>

                      <mat-radio-group
                        *ngIf="
                          ['parent_civility', 'student_civility', 'alumni_civility', 'TEACHER_CIVILITY'].includes(
                            quest?.get('field_type')?.value
                          )
                        "
                      >
                        <mat-radio-button value="MR" style="padding-right: 10px">{{ 'Mr' | translate }}</mat-radio-button>
                        <mat-radio-button value="MRS" style="padding-right: 10px">{{ 'Mrs' | translate }}</mat-radio-button>
                        <mat-radio-button value="neutral" style="padding-right: 10px">{{ 'Neutral' | translate }}</mat-radio-button>
                      </mat-radio-group>
                      <div
                        class="form-group"
                        *ngIf="
                          [
                            'student_date_of_birth',
                            'date_of_birth',
                            'alumni_date_of_birth',
                            'start_date',
                            'end_date',
                            'START_DATE',
                            'today_date',
                            'END_DATE'
                          ].includes(quest?.get('field_type')?.value)
                        "
                      >
                        <input matInput readonly class="form-control" [matDatepicker]="myDatepickers" />
                        <mat-datepicker-toggle matSuffix></mat-datepicker-toggle>
                      </div>
                      <div class="form-group" *ngIf="quest?.get('field_type')?.value === 'parent_relation'">
                        <div class="p-grid">
                          <select class="form-select">
                            <option *ngFor="let relation of relationList" [value]="relation">
                              {{ 'CARDDETAIL.RELATION.' + relation | translate }}
                            </option>
                          </select>
                        </div>
                      </div>
                    </ng-container>

                    <ng-template #default>
                      <div class="form-group">
                        <input readOnly class="form-control" />
                      </div>
                    </ng-template>
                  </div>
                </div>
              </div>

              <!-- IF FIELD IS OFF -------------------------------------------->

              <!-- For question with slider is_field off -->
              <div *ngIf="!quest?.get('is_field')?.value">
                <ng-container *ngIf="quest?.get('answer_type')?.value === 'free_text'">
                  <div class="p-grid" [ngClass]="questionLoop.classList.contains('right-end') ? 'justify-end' : 'justify-start'">
                    <div class="p-col-4">
                      <label *ngIf="quest?.get('is_required')?.value">{{ quest?.get('question_label')?.value }}*</label>
                      <label *ngIf="!quest?.get('is_required')?.value">{{ quest?.get('question_label')?.value }}</label>
                    </div>
                    <div class="p-col-8 x-pad-none">
                      <div class="form-group">
                        <input readOnly class="form-control" />
                      </div>
                    </div>
                  </div>
                </ng-container>
                <ng-container *ngIf="quest?.get('answer_type')?.value === 'long_answer'">
                  <div class="p-grid" [ngClass]="questionLoop.classList.contains('right-end') ? 'justify-end' : 'justify-start'">
                    <div class="p-col-4">
                      <label *ngIf="quest?.get('is_required')?.value">{{ quest?.get('question_label')?.value }}*</label>
                      <label *ngIf="!quest?.get('is_required')?.value">{{ quest?.get('question_label')?.value }}</label>
                    </div>
                    <div class="p-col-8 x-pad-none">
                      <div class="form-group">
                        <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="1" readonly #autosize="cdkTextareaAutosize"></textarea>
                      </div>
                    </div>
                  </div>
                </ng-container>

                <!-- email -->
                <ng-container *ngIf="quest?.get('answer_type')?.value === 'email' || quest?.get('answer_type')?.value === 'alumni_email'">
                  <div class="p-grid" [ngClass]="questionLoop.classList.contains('right-end') ? 'justify-end' : 'justify-start'">
                    <div class="p-col-4 self-center">
                      <label *ngIf="quest?.get('is_required')?.value">{{ quest?.get('question_label')?.value }}*</label>
                      <label *ngIf="!quest?.get('is_required')?.value">{{ quest?.get('question_label')?.value }}</label>
                    </div>
                    <div class="p-col-8 x-pad-none">
                      <!-- <mat-form-field class="width-ninety">
                          <input appearance="fill" matInput type="email" />
                        </mat-form-field> -->
                      <div class="form-group">
                        <input readOnly class="form-control" />
                      </div>
                    </div>
                  </div>
                </ng-container>

                <!-- Date Type -->
                <ng-container *ngIf="quest?.get('answer_type')?.value === 'date'">
                  <div class="p-grid" [ngClass]="questionLoop.classList.contains('right-end') ? 'justify-end' : 'justify-start'">
                    <div class="p-col-4">
                      <label *ngIf="quest?.get('is_required')?.value">{{ quest?.get('question_label')?.value }}*</label>
                      <label *ngIf="!quest?.get('is_required')?.value">{{ quest?.get('question_label')?.value }}</label>
                    </div>
                    <div class="p-col-8 x-pad-none">
                      <!-- <mat-form-field class="width-ninety">
                          <mat-label>{{ 'SM_COMPANY.From' | translate }}</mat-label>
                          <input appearance="fill" matInput readonly (click)="picker.open()" [matDatepicker]="picker" />
                          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                          <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field> -->
                      <div class="form-group">
                        <input matInput readonly (click)="myDatepickers.open()" class="form-control" [matDatepicker]="myDatepickers" />
                        <mat-datepicker-toggle matSuffix [for]="myDatepickers"></mat-datepicker-toggle>
                        <mat-datepicker #myDatepickers></mat-datepicker>
                      </div>
                    </div>
                  </div>
                </ng-container>

                <!-- Numeric -->
                <ng-container *ngIf="quest?.get('answer_type')?.value === 'numeric'">
                  <div class="p-grid" [ngClass]="questionLoop.classList.contains('right-end') ? 'justify-end' : 'justify-start'">
                    <div class="p-col-4">
                      <label *ngIf="quest?.get('is_required')?.value">{{ quest?.get('question_label')?.value }}*</label>
                      <label *ngIf="!quest?.get('is_required')?.value">{{ quest?.get('question_label')?.value }}</label>
                    </div>
                    <div class="p-col-8 x-pad-none">
                      <!-- <mat-form-field class="width-ninety">
                          <input appearance="fill" matInput type="number" />
                        </mat-form-field> -->
                      <div class="form-group">
                        <input readOnly type="number" class="form-control" />
                      </div>
                    </div>
                  </div>
                </ng-container>

                <!-- Single Option -->
                <ng-container *ngIf="quest?.get('answer_type')?.value === 'single_option'">
                  <div class="p-grid" [ngClass]="questionLoop.classList.contains('right-end') ? 'justify-end' : 'justify-start'">
                    <div class="p-col-4">
                      <label *ngIf="quest?.get('is_required')?.value">{{ quest?.get('question_label')?.value }}*</label>
                      <label *ngIf="!quest?.get('is_required')?.value">{{ quest?.get('question_label')?.value }}</label>
                    </div>
                    <div class="p-col-8 x-pad-none">
                      <mat-radio-group>
                        <mat-radio-button
                          [value]="option"
                          *ngFor="let option of quest?.get('options')?.value"
                          style="padding-right: 10px"
                          >{{ option }}</mat-radio-button
                        >
                      </mat-radio-group>
                    </div>
                  </div>
                </ng-container>

                <!-- Multiple Option -->
                <ng-container *ngIf="quest?.get('answer_type')?.value === 'multiple_option'">
                  <div class="p-grid" [ngClass]="questionLoop.classList.contains('right-end') ? 'justify-end' : 'justify-start'">
                    <div class="p-col-4">
                      <label *ngIf="quest?.get('is_required')?.value">{{ quest?.get('question_label')?.value }}*</label>
                      <label *ngIf="!quest?.get('is_required')?.value">{{ quest?.get('question_label')?.value }}</label>
                    </div>
                    <div class="p-col-8">
                      <mat-checkbox *ngFor="let option of quest?.get('options')?.value" value="{{ option }}" style="padding-right: 10px">
                        {{ option }}
                      </mat-checkbox>
                    </div>
                  </div>
                </ng-container>

                <ng-container *ngIf="quest?.get('answer_type')?.value === 'parent_child'">
                  <div
                    class="p-grid"
                    [ngClass]="questionLoop.classList.contains('right-end') ? 'justify-end' : 'justify-start'"
                    *ngIf="quest?.get('answer_type')?.value === 'parent_child'"
                  >
                    <div class="p-col-4 self-center">
                      <label *ngIf="quest?.get('is_required')?.value">{{ quest?.get('question_label')?.value }}*</label>
                      <label *ngIf="!quest?.get('is_required')?.value">{{ quest?.get('question_label')?.value }}</label>
                    </div>
                    <div class="p-col-8 x-pad-none">
                      <mat-radio-group>
                        <mat-radio-button
                          [value]="option.option_text"
                          *ngFor="let option of quest?.get('parent_child_options')?.value; let prClIndx = index"
                          style="padding-right: 10px"
                          >{{ option.option_text }}</mat-radio-button
                        >
                      </mat-radio-group>
                    </div>
                  </div>

                  <ng-container formArrayName="parent_child_options">
                    <ng-container
                      *ngFor="let option1 of quest?.get('parent_child_options'); let indexSatu = index"
                      [formGroupName]="indexSatu"
                    >
                      <ng-container formArrayName="questions">
                        <ng-container
                          *ngFor="let optionQuestion1 of option1.get('questions').controls; let indexQuestionSatu = index"
                          [formGroupName]="indexQuestionSatu"
                        >
                          <ng-container>
                            <div
                              *ngIf="quest?.get('answer')?.value === option1.get('option_text')?.value"
                              class="field-item"
                              style="padding-left: 2rem"
                            >
                              <div fxLayout="row" fxLayoutWrap="wrap">
                                <label fxFlex="70" style="align-self: center">{{ optionQuestion1.get('question_label')?.value }}</label>
                              </div>
                              <div fxLayout="row" fxLayoutWrap="wrap">
                                <mat-radio-group>
                                  <mat-radio-button
                                    [value]="option2.option_text"
                                    *ngFor="let option2 of optionQuestion1.get('parent_child_options')?.value"
                                    style="padding-right: 10px"
                                    >{{ option2.option_text }}</mat-radio-button
                                  >
                                </mat-radio-group>
                              </div>
                            </div>
                          </ng-container>

                          <ng-container formArrayName="parent_child_options">
                            <ng-container
                              *ngFor="let option3 of optionQuestion1.get('parent_child_options'); let indexDua = index"
                              [formGroupName]="indexDua"
                            >
                              <ng-container formArrayName="questions">
                                <ng-container
                                  *ngFor="let optionQuestion2 of option3.get('questions').controls; let indexQuestionDua = index"
                                  [formGroupName]="indexQuestionDua"
                                >
                                  <div
                                    *ngIf="optionQuestion1.get('answer')?.value === option3.get('option_text')?.value"
                                    class="field-item"
                                    style="padding-left: 4rem"
                                  >
                                    <div fxLayout="row" fxLayoutWrap="wrap">
                                      <label fxFlex="70" style="align-self: center">{{
                                        optionQuestion2.get('question_label')?.value
                                      }}</label>
                                    </div>
                                    <div fxLayout="row" fxLayoutWrap="wrap">
                                      <mat-radio-group>
                                        <mat-radio-button
                                          [value]="option4.option_text"
                                          *ngFor="let option4 of optionQuestion2.get('parent_child_options')?.value"
                                          style="padding-right: 10px"
                                          >{{ option4.option_text }}</mat-radio-button
                                        >
                                      </mat-radio-group>
                                    </div>
                                  </div>
                                </ng-container>
                              </ng-container>
                            </ng-container>
                          </ng-container>
                        </ng-container>
                      </ng-container>
                    </ng-container>
                  </ng-container>
                </ng-container>
              </div>

              <!-- For question with slider is_field on -->
            </div>
          </div>
        </ng-container>
      </div>
    </ng-container>
  </div>
</div>
