.add-tag {
  text-align: right;
  margin-bottom: 15px;
}
.card-tag {
  border: 1px #ffd740;
  border-radius: 5px;
  color: black;
  background-color: #ffd740;
  margin-right: 10px;
  width: 150px !important;
  margin-bottom: 10px;
  .tag-name {
    cursor: default;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .close-icon {
    cursor: pointer;
    font-size: 22px;
    vertical-align: middle;
  }
  .close-icon:hover {
    color: red;
  }
}
.icon-button {
  width: 22px;
}
.spinner-position {
  overflow: hidden;
}
.spinner-margin {
  margin-bottom: 70px;
}
