<div class="dialog-border">
  <div class="dialogTitleWrapper header-dialog">
    <div class="p-grid" style="border-bottom: 2px solid #c4c4c4">
      <div class="w-30 no-padding">
        <mat-icon mat-icon-button svgIcon="clipboard-check" class="mt-5px" style="padding-top: 3px"></mat-icon>
      </div>
      <div class="p-col-10 no-padding" style="width: 92%">
        <h3 class="dialogTitle">{{ 'Commentaries / Replies' | translate }}</h3>
      </div>
      <div class="p-col no-padding">
        <button mat-icon-button class="close-icon float-right" (click)="closeDialog()" tabindex="-1">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>

<div mat-dialog-content class="mat-dialog-content dialog-body" style="max-height: 470px">
  <div class="p-grid">
    <ng-container *ngIf="!candidateComments?.is_reply">
      <div class="p-col-fixed avatar" style="width: 60px">
        <img
          [src]="
            candidateComments?.created_by?.profile_picture
              ? serverimgPath + candidateComments?.created_by?.profile_picture
              : candidateComments?.created_by?.civility === 'MR'
              ? maleStudentIcon
              : candidateComments?.created_by?.civility === 'neutral'
              ? neutralStudentIcon
              : femaleStudentIcon
          "
          class="student-details-img"
        />
      </div>
      <div class="p-col">
        <div class="p-grid">
          <div class="p-col-12 comment-section">
            <div class="p-grid comment-header">
              <div class="p-col comment-name">
                <span>
                  {{
                    candidateComments?.created_by?.civility && candidateComments?.created_by?.civility === 'neutral'
                      ? ''
                      : (candidateComments?.created_by?.civility | translate)
                  }}
                  {{ candidateComments?.created_by?.first_name }}
                  {{ candidateComments?.created_by?.last_name | uppercase }} - {{ transformDate(candidateComments?.date_created) }} -
                  {{ transformTime(candidateComments?.date_created) }}
                </span>
              </div>
              <div class="p-col-3 comment-subject">
                <span>{{ 'Subject' | translate }} : {{ candidateComments?.subject }}</span>
              </div>
              <div class="p-col-3 comment-subject">
                <span>{{ 'Category' | translate }} : {{ candidateComments?.category ? candidateComments?.category : '-' }}</span>
              </div>
            </div>
            <div class="p-grid comment-message">
              <div class="p-col-12 message-body" [innerHTML]="candidateComments?.comment"></div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="candidateComments?.reply_comment_ids && candidateComments?.reply_comment_ids.length">
      <ng-container *ngFor="let commentList of candidateComments?.reply_comment_ids">
        <div class="p-grid" style="padding-left: 60px; width: 100%">
          <div class="p-col-fixed avatar" style="width: 60px">
            <img
              [src]="
                commentList?.created_by?.profile_picture
                  ? serverimgPath + commentList?.created_by?.profile_picture
                  : commentList?.created_by?.civility === 'MR'
                  ? maleStudentIcon
                  : commentList?.created_by?.civility === 'neutral'
                  ? neutralStudentIcon
                  : femaleStudentIcon
              "
              class="student-details-img"
            />
          </div>
          <div class="p-col">
            <div class="p-grid">
              <div class="p-col-12 comment-section">
                <div class="p-grid comment-header">
                  <div class="p-col comment-name">
                    <span>
                      {{
                        commentList?.created_by?.civility && commentList?.created_by?.civility === 'neutral'
                          ? ''
                          : (commentList?.created_by?.civility | translate)
                      }}
                      {{ commentList?.created_by?.first_name }}
                      {{ commentList?.created_by?.last_name | uppercase }} - {{ transformDate(commentList?.date_created) }} -
                      {{ transformTime(commentList?.date_created) }}
                    </span>
                  </div>
                  <div class="p-col-6 comment-subject"></div>
                </div>
                <div class="p-grid comment-message">
                  <div class="p-col-12 message-body" [innerHTML]="commentList?.comment"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </div>

  <div *ngIf="isWaitingForResponse" class="inner-loading-indicator">
    <mat-spinner color="accent" [diameter]="100"></mat-spinner>
  </div>
</div>

<div mat-dialog-actions class="justify-content-end mr-10">
  <div class="p-col-12 answer-section nopadding">
    <div class="answer-section" style="display: block; position: relative">
      <div class="ckeditor">
        <ckeditor #editor [editor]="Editor" [formControl]="commentForm" (ready)="onReady($event)" [config]="config"></ckeditor>
      </div>
      <button
        matSuffix
        mat-icon-button
        (click)="submit()"
        [disabled]="!commentForm?.value"
        style="position: absolute; right: 12px; top: 10px; transform: rotate(337deg)"
      >
        <mat-icon class="mat-icon-status">send</mat-icon>
      </button>
    </div>
  </div>
</div>
