@import '~assets/scss/bootstrap';

.inline-form-field {
  display: inline-block;
  width: fit-content;
  min-width: 5ch;
  max-width: 65ch;
  margin-right: 0.25em;
  margin-left: 0.25em;
}

.text {
  width: 200px;
  display: inline-block;
  padding: 8px;
  border: solid 1px #000;
  border-right: none;
  border-bottom: none;
}

.text-value {
  width: 115px;
  display: inline-block;
  padding: 8px;
  border: solid 1px #000;
  text-align: right;
  border-bottom: none;
}

.term {
  display: inline-block;
  text-align: center;

  p {
    margin: 0;
  }
}

.term ~ .term {
  border-left: 0;
}

.term-header,
.term-body {
  padding: 8px;
  border: solid 1px #000;
}

.term-header {
  border-bottom: none;
}

.term:not(:nth-last-child(1)) .term-header {
  border-right: none;
}

.term:not(:nth-last-child(1)) .term-body {
  border-right: none;
}

.bg-blue {
  background: #36ebf4;
}

.bg-green {
  background: #6bec6b;
}

.bg-orange {
  background: #ea9a44;
}

.bg-yellow {
  background: #ffd740;
}

.bg-purple {
  background: #ff46f9;
}
.bg-red {
  background: #ff4040;
}

.invalid-feedback {
  color: red;
}

:host::ng-deep {
  .mat-radio-button {
    float: unset;
    padding-left: 0;
  }

  .mat-card.payment-card {
    width: 180px;
    padding: 8px;
    border: 1px solid #00817d88;
    color: #eee;
    background-color: #00817d !important;
    text-align: center;
  }

  .payment-card ~ .payment-card {
    margin-left: 8px;
  }

  .payment-card .method-icon {
    width: 56px;
    height: 56px;
  }

  .payment-card .method-name {
    font-size: 16px;
    margin-top: 8px;
  }

  .payment-card .help-info {
    font-size: 16px;
  }
}

.msg-pay {
  margin-top: 15px !important;
  font-weight: 600;
  font-size: 22px;
}

@media screen and (max-width: 500px) {
  .msg-pay {
    margin-top: 20px !important;
    font-weight: 600;
    font-size: 16px;
  }
}

.asking-payment-steps {
  font-weight: bold;
}
