@import '~assets/scss/theme/admtc.variables';
@import '~assets/scss/theme/admtc';

.form-field {
  margin-top: 6px;
}

:host ::ng-deep table {
  tr {
    td,
    th {
      border-right: 1px solid $grey;
      &:nth-child(1) {
        width: auto;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        .mat-form-field {
          width: 98%;
        }
      }

      &:nth-child(2) {
        width: 18%;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        .mat-form-field {
          width: 90%;
        }
      }

      &:nth-child(3) {
        width: 15%;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        .mat-form-field {
          width: 90%;
        }
      }

      &:nth-child(4) {
        width: 15%;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        .mat-form-field {
          width: 90%;
        }
      }

      &:nth-child(5) {
        width: 10%;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        text-align: center;
        .mat-form-field {
          width: 90%;
        }
      }

      &:nth-child(6) {
        width: 130px;
        text-align: center;
        padding-right: 0px;
      }
    }

    td {
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 0;
      white-space: nowrap;
      padding-top: 0.5em;
      padding-bottom: 0.5em;
    }

    th {
      vertical-align: top;
      text-align: center;
      .mat-form-field-infix {
        width: unset;
      }
    }

    &:nth-child(2) {
      th {
        padding-top: 0.9em;
      }
    }
  }

  thead tr {
    &:nth-child(2) {
      height: 35px;
    }
    &:nth-child(2),
    &:nth-child(3) {
      background: $light-black;
      th {
        color: $white;
      }
    }
  }
}

.red-icon {
  color: red;
}

.green-icon {
  color: green;
}

.pad-top-miss {
  padding-top: 5px;
}

.action-header-column {
  vertical-align: middle;
  padding-right: 0 !important;
  text-align: right;
  .p-grid {
    margin-top: unset;
  }
}

.left-margin {
  margin-left: 3%;
}

:host ::ng-deep .swal2-checkbox label,
.swal2-radio label {
  font-size: 1em;
}

.no-records {
  background-color: #424242;
  font-size: 14px;
  padding: 10px 12px;
  border-right: 1px solid #545454;
  border-bottom: 1px solid #545454;
}

:host::ng-deep.ng-select{
  margin-top: 10px;
  font-size: 14px !important;
}

:host::ng-deep.ng-select .ng-select-container {
  background-color: #fff0;
  color: #fff;
  border: none;
  border-radius: 0px !important;
  border-bottom: 1px solid #bdbdbd !important;
  min-height: 36px;
  -webkit-box-align: center;
  align-items: center;
}

:host::ng-deep.ng-select .ng-select-container .ng-value-container .ng-input > input {
  color: white;
  box-sizing: content-box;
  background: none;
  border: 0;
  box-shadow: none;
  outline: 0;
  cursor: default;
  width: 100%;
}

:host::ng-deep.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
  color: black;
}
