<!-- Card Intern Detail -->
<div class="row padl-13 hd-legend">
  <label>{{ 'Conditions' | translate }}</label>
</div>
<div class="condition-terms">
  <div class="title-terms">{{ 'General condition of the internship' | translate }} {{ dataModify?.school }}</div>
  <div class="content-terms" innerHTML="{{ conditionAgrement }}"></div>
</div>
<div class="p-grid web-card" [formGroup]="detailForm">
  <mat-checkbox [disabled]="!isUserStudent && !isUserCRM" formControlName="is_student_already_sign">{{ 'Sign (Student)' | translate }}</mat-checkbox>
  <mat-checkbox [disabled]="!isUserMentor && !isUserCRM" formControlName="is_mentor_already_sign">{{ 'Sign Mentor' | translate }}</mat-checkbox>
  <mat-checkbox [disabled]="!isUserCRM" formControlName="is_company_relation_member_already_sign">{{ 'Sign CRM' | translate }}</mat-checkbox>
  <ng-container *ngFor="let member of internshipData?.company_member_signs; let n = index">
    <ng-container  formArrayName="company_member_signs">
      <ng-container [formGroupName]="n">
        <mat-checkbox [disabled]="!isUserMember && !isUserCRM" formControlName="is_already_sign"
          >{{ 'Sign Member' | translate }} ({{ member?.company_member_id?.last_name | uppercase }} {{ member?.company_member_id?.first_name }}
          {{ member?.company_member_id?.civility && member?.company_member_id?.civility ==='neutral' ? '' : (member?.company_member_id?.civility | translate) }}
          )</mat-checkbox
        >
      </ng-container>
    </ng-container>
  </ng-container>
</div>
<!-- <div class="p-grid mobile-card">
  <mat-checkbox class="disply-full" formControlName="is_student_already_sign">{{ 'Sign (Student)' | translate }}</mat-checkbox>
  <mat-checkbox class="disply-full" formControlName="is_mentor_already_sign">{{ 'Sign Mentor' | translate }}</mat-checkbox>
  <mat-checkbox class="disply-full" formControlName="is_company_relation_member_already_sign">{{ 'Sign CRM' | translate }}</mat-checkbox>
  <ng-container *ngFor="let member of internshipData?.company_member_signs; let n = index">
    <ng-container formGroupName="n">
      <mat-checkbox class="disply-full" formControlName="is_already_sign"
        >{{ 'Sign Member' | translate }} ({{ member?.company_member_id?.last_name }} {{ member?.company_member_id?.first_name }}
        {{ member?.company_member_id?.civility | translate }})</mat-checkbox
      >
    </ng-container>
  </ng-container>
</div> -->
<div class="btn-conditions">
  <button mat-button mat-raised-button (click)="identityUpdated()" color="accent" class="btn-first">
    <mat-icon style="font-size: 24px">send</mat-icon> {{ 'Submit' | translate }}
  </button>
</div>

<div class="overlow-auto" id="pdf-condition" style="display: none">
  <div class="p-col-12" style="padding: 85px 85px">
    <div class="title-terms">{{ 'Conditions Générales de L`École' | translate }} {{ dataModify?.school }}</div>
    <div class="content-terms" innerHTML="{{ conditionAgrement }}"></div>
  </div>
</div>
