<ms-filter-breadcrumb [filterBreadcrumbData]="filterBreadcrumbData" (removeFilterTrigger)="removeFilterBreadcrumb($event)"></ms-filter-breadcrumb>

<div class="p-grid" style="margin-bottom: 10px; font-family: firaSans !important; position: relative">
  <div class="p-col-fixed no-padding" style="width: 180px; float: left; padding-right: 15px !important">
    <div class="p-col-12 no-padding filter-input" >
        <label class="float-label" *ngIf="scholarFilter?.value && scholarFilter?.value?.length !== 0">
          {{ 'CARDDETAIL.Scholar Season' | translate }}
        </label>
      <ng-select
        [items]="scholars"
        bindValue="_id"
        bindLabel="scholar_season"
        class="custom-dropdownpanel"
        [appendTo]="'body'"
        [multiple]="false"
        notFoundText="{{ 'NOT RECORD FOUND' | translate }}"
        placeholder="{{ 'CARDDETAIL.Scholar Season' | translate }}"
        [formControl]="scholarFilter"
        [clearable]="false"
        [closeOnSelect]="false"
        (close)="scholarSelect()"
      >
        <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
          <input id="item-{{ index }}" type="checkbox" [ngModel]="item$.selected" />
          {{ item.scholar_season }}
        </ng-template>
      </ng-select>
    </div>
  </div>
  <div class="p-col-fixed no-padding" style="width: 180px; float: left; padding-right: 15px !important">
    <div class="p-col-12 no-padding filter-input" >
      <label class="float-label" *ngIf="schoolsFilter?.value && schoolsFilter?.value?.length !== 0">
        {{ 'ADMISSION.TABLE_ADMISSION_CHANNEL.School' | translate }}
      </label>
      <ng-select
        [items]="school"
        bindValue="_id"
        bindLabel="short_name"
        class="custom-dropdownpanel"
        [appendTo]="'body'"
        [multiple]="true"
        notFoundText="{{ 'NOT RECORD FOUND' | translate }}"
        placeholder="{{ 'ADMISSION.TABLE_ADMISSION_CHANNEL.School' | translate }}"
        [formControl]="schoolsFilter"
        [clearable]="false"
        [closeOnSelect]="false"
        (close)="selectSchoolFilter()"
      >
        <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
          <input id="item-{{ index }}" type="checkbox" [ngModel]="item$.selected" /> {{ item.short_name | translate }}
        </ng-template>
        <ng-template ng-header-tmp *ngIf="school?.length">
          <mat-checkbox
            class="all-input"
            style="cursor: pointer"
            [checked]="isAllDropdownSelected('school')"
            [indeterminate]="isSomeDropdownSelected('school')"
            (change)="selectAllData($event, 'school')"
          >
            {{ 'AllM' | translate }}
          </mat-checkbox>
        </ng-template>
      </ng-select>
    </div>
  </div>
  <div class="p-col-fixed no-padding" style="width: 180px; float: left; padding-right: 15px !important">
    <div class="p-col-12 no-padding filter-input">
      <label class="float-label" *ngIf="campusFilter?.value && campusFilter?.value?.length !== 0">
        {{ 'ADMISSION.TABLE_ADMISSION_CHANNEL.Campus' | translate }}
      </label>
      <ng-select
        [items]="campusList"
        bindValue="name"
        bindLabel="name"
        class="custom-dropdownpanel"
        [appendTo]="'body'"
        [multiple]="true"
        notFoundText="{{ 'NOT RECORD FOUND' | translate }}"
        placeholder="{{ 'ADMISSION.TABLE_ADMISSION_CHANNEL.Campus' | translate }}"
        [formControl]="campusFilter"
        [clearable]="false"
        [closeOnSelect]="false"
        (close)="selectCampusFilter()"
      >
      <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
        <input id="item-{{ index }}" type="checkbox" [ngModel]="item$.selected" /> {{ item.name | translate }}
      </ng-template>
      <ng-template ng-header-tmp *ngIf="campusList?.length">
        <mat-checkbox
          class="all-input"
          style="cursor: pointer"
          [checked]="isAllDropdownSelected('campus')"
          [indeterminate]="isSomeDropdownSelected('campus')"
          (change)="selectAllData($event, 'campus')"
        >
          {{ 'AllM' | translate }}
        </mat-checkbox>
      </ng-template>
    </ng-select>
    </div>
  </div>
  <div class="p-col-fixed no-padding" style="width: 180px; float: left; padding-right: 15px !important">
    <div class="p-col-12 no-padding filter-input">
        <label class="float-label" *ngIf="levelFilter?.value && levelFilter?.value?.length !== 0">
          {{ 'ADMISSION.TABLE_ADMISSION_CHANNEL.Level' | translate }}
        </label>
        <ng-select
          [items]="levels"
          bindValue="name"
          bindLabel="name"
          class="custom-dropdownpanel"
          [appendTo]="'body'"
          [multiple]="true"
          notFoundText="{{ 'NOT RECORD FOUND' | translate }}"
          placeholder="{{ 'ADMISSION.TABLE_ADMISSION_CHANNEL.Level' | translate }}"
          [formControl]="levelFilter"
          [clearable]="false"
          [closeOnSelect]="false"
          (close)="selectLevelFilter()"
        >
        <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
          <input id="item-{{ index }}" type="checkbox" [ngModel]="item$.selected" /> {{ item.name | translate }}
        </ng-template>
        <ng-template ng-header-tmp *ngIf="levels?.length">
          <mat-checkbox
            class="all-input"
            style="cursor: pointer"
            [checked]="isAllDropdownSelected('level')"
            [indeterminate]="isSomeDropdownSelected('level')"
            (change)="selectAllData($event, 'level')"
          >
            {{ 'AllM' | translate }}
          </mat-checkbox>
        </ng-template>
      </ng-select>
    </div>
  </div>
  <div class="p-col-fixed" style="float: left; padding-right: 15px !important; margin-top: 2px !important">
    <button mat-button mat-raised-button color="accent" [disabled]="isDisabled || isLoading" (click)="applySuperFilter()">
      {{ 'Apply Filter' | translate }}
    </button>
  </div>
</div>

<div class="horizontal header-button header-action">
  <div class="text-right" style="display: inline-block; float: right">
    <button
      mat-raised-button
      color="primary"
      matTooltip="{{ 'Export' | translate }}"
      (click)="buttonClicked = 'export'; controllerButton('export')"
      *ngIf="permission.exportCsvFinanceHistoryPerm()"
    >
      <mat-icon svgIcon="file-excel" class="mat-icon-svgIcon"> </mat-icon>
      {{ 'Export' | translate }}
    </button>
    <button
      mat-raised-button
      [color]="whichFilterOn === 'today' ? 'accent' : 'primary'"
      matTooltip="{{ 'Today' | translate }}"
      (click)="todayDetails()"
      *ngIf="permission.filterTodayFinanceHistoryPerm()"
    >
      <!-- <mat-icon svgIcon="trophy-award" class="mat-icon-svgIcon"> trophy_award </mat-icon> -->
      <mat-icon class="mat-icon-status"> date_range </mat-icon>
      {{ 'Today' | translate }}
    </button>
    <button
      mat-raised-button
      [color]="whichFilterOn === 'yesterday' ? 'accent' : 'primary'"
      matTooltip="{{ 'Yesterday' | translate }} "
      (click)="filterDateRange('yesterday')"
      *ngIf="permission.filterYesterdayFinanceHistoryPerm()"
    >
      <!-- <mat-icon svgIcon="account-switch" class="mat-icon-svgIcon"> account_switch </mat-icon> -->
      <mat-icon class="mat-icon-status"> date_range </mat-icon>
      {{ 'Yesterday' | translate }}
    </button>
    <button
    [color]="whichFilterOn === 'lastWeek' ? 'accent' : 'primary'"
      mat-raised-button
      matTooltip="{{ 'Last 7 days' | translate }} "
      (click)="filterDateRange('lastWeek')"
      *ngIf="permission.filterLast7DaysFinanceHistoryPerm()"
    >
      <!-- <mat-icon svgIcon="account-heart" class="mat-icon-svgIcon"> account_heart </mat-icon> -->
      <mat-icon class="mat-icon-status"> date_range </mat-icon>
      {{ 'Last 7 days' | translate }}
    </button>
    <button
    [color]="whichFilterOn === 'lastMonth' ? 'accent' : 'primary'"
      mat-raised-button
      matTooltip="{{ 'Last 30 days' | translate }}"
      (click)="filterDateRange('lastMonth')"
      *ngIf="permission.filterLast30DaysFinanceHistoryPerm()"
    >
      <!-- <mat-icon svgIcon="currency-eur" class="mat-icon-svgIcon"> currency_eur </mat-icon> -->
      <mat-icon class="mat-icon-status"> date_range </mat-icon>
      {{ 'Last 30 days' | translate }}
    </button>
    <button
    [color]="whichFilterOn === 'thisMonth' ? 'accent' : 'primary'"
      mat-raised-button
      matTooltip="{{ 'This month' | translate }}"
      (click)="filterDateRange('thisMonth')"
      *ngIf="permission.filterThisMonthFinanceHistoryPerm()"
    >
      <!-- <mat-icon svgIcon="currency-eur" class="mat-icon-svgIcon"> currency_eur </mat-icon> -->
      <mat-icon class="mat-icon-status"> date_range </mat-icon>
      {{ 'This month' | translate }}
    </button>
    <button
      color="primary"
      (click)="resetTable()"
      mat-raised-button
      matTooltip="{{ 'Reset Filter' | translate }}"
      *ngIf="permission.resetFinanceHistoryPerm()"
    >
      <mat-icon svgIcon="loop" class="mat-icon-svgIcon"></mat-icon>
      {{ 'Reset' | translate }}
    </button>
  </div>
</div>
<div class="horizontal mat-elevation-z8 finance-table">
  <table
    mat-table
    [dataSource]="dataSource"
    matSort
    (matSortChange)="sortData($event)"
    class="mat-elevation-z8"
    style="font-family: 'firaSans'"
  >
    <!-- RESET START-->
    <!-- <ng-container matColumnDef="table-action">
        <th mat-header-cell *matHeaderCellDef colspan="15" class="action-header-column">
        </th>
      </ng-container> -->
    <!-- RESET END-->
    <!---FILTERS START-->
    <ng-container matColumnDef="selectFilter" class="mat-column-select">
      <th mat-header-cell *matHeaderCellDef class="text-center"></th>
    </ng-container>
    <ng-container matColumnDef="accountingFilter">
      <th mat-header-cell *matHeaderCellDef>
        <mat-form-field>
          <input matInput class="form-field" [formControl]="accountDocumentFilter" placeholder="{{ 'search' | translate }}" />
        </mat-form-field>
      </th>
    </ng-container>
    <ng-container matColumnDef="dateFilter">
      <th mat-header-cell *matHeaderCellDef>
        <mat-form-field class="example-full-width" style="margin-top: 5px">
          <input matInput [formControl]="dateFilyer" [matDatepicker]="picker" placeholder="Date" readonly />
          <mat-datepicker-toggle matSuffix [for]="picker" style="margin-right: 5px"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </th>
    </ng-container>
    <ng-container matColumnDef="typeFilter">
      <th mat-header-cell *matHeaderCellDef>
        <mat-form-field>
          <mat-select [formControl]="transactionFilter" panelClass="filterPanel" [disableOptionCentering]="true">
            <mat-option [value]="record" *ngFor="let record of titleList">{{ record === 'Decaissement'? ('refund_finance' |translate):(record | translate) }} </mat-option>
          </mat-select>
        </mat-form-field>
      </th>
    </ng-container>
    <ng-container matColumnDef="transactionFilter">
      <th mat-header-cell *matHeaderCellDef>
        <!-- <mat-form-field>
            <mat-select [formControl]="descriptionFilter">
            <mat-option [value]="record.value" *ngFor="let record of originalTitleList">{{ record.key | translate }} </mat-option>
            </mat-select>
          </mat-form-field> -->
      </th>
    </ng-container>
    <ng-container matColumnDef="fromFilter">
      <th mat-header-cell *matHeaderCellDef>
        <mat-form-field>
          <input matInput [formControl]="fromFilter" class="form-field" placeholder="{{ 'search' | translate }}" />
        </mat-form-field>
      </th>
    </ng-container>
    <ng-container matColumnDef="toFilter">
      <th mat-header-cell *matHeaderCellDef></th>
    </ng-container>
    <ng-container matColumnDef="bankFilter">
      <th mat-header-cell *matHeaderCellDef>
        <mat-form-field>
          <mat-select [formControl]="bankFilter" panelClass="filterPanel" [disableOptionCentering]="true">
            <mat-option value="All"> {{ 'All' | translate }} </mat-option>
            <mat-option [value]="record" *ngFor="let record of bank">{{ record | translate }} </mat-option>
          </mat-select>
        </mat-form-field>
      </th>
    </ng-container>
    <ng-container matColumnDef="referenceFilter">
      <th mat-header-cell *matHeaderCellDef></th>
    </ng-container>
    <ng-container matColumnDef="debitFilter">
      <th mat-header-cell *matHeaderCellDef></th>
    </ng-container>
    <ng-container matColumnDef="amountFilter">
      <th mat-header-cell *matHeaderCellDef></th>
    </ng-container>
    <ng-container matColumnDef="studentFilter">
      <th mat-header-cell *matHeaderCellDef>
        <mat-form-field>
          <input matInput [formControl]="studentNameFilter" class="form-field" placeholder="{{ 'search' | translate }}" />
        </mat-form-field>
      </th>
    </ng-container>
    <ng-container matColumnDef="programFilter">
      <th mat-header-cell *matHeaderCellDef></th>
    </ng-container>
    <ng-container matColumnDef="lettrageFilter">
      <th mat-header-cell *matHeaderCellDef></th>
    </ng-container>
    <ng-container matColumnDef="actionFilter">
      <th mat-header-cell *matHeaderCellDef class="text-center"></th>
    </ng-container>
    <!---FILTERS END-->
    <!---ROW DATA START-->
    <ng-container matColumnDef="select" class="mat-column-select">
      <th mat-header-cell *matHeaderCellDef class="text-center">
        <mat-checkbox
          (change)="$event ? masterToggle() : null"
          (change)="showOptions('all', '')"
          [checked]="(selection.hasValue() && isAllSelected()) || isCheckedAll"
          [indeterminate]="selection.hasValue() && !isAllSelected()"
          [aria-label]="checkboxLabel()"
        >
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row" class="text-center">
        <mat-checkbox
          (click)="$event.stopPropagation()"
          (change)="$event ? selection.toggle(row._id) : null"
          [checked]="selection.isSelected(row?._id) || (isCheckedAll && !dataUnselected.includes(row?._id))"
          (change)="showOptions('one', row)"
          [aria-label]="checkboxLabel(row)"
        >
        </mat-checkbox>
      </td>
    </ng-container>
    <ng-container matColumnDef="accounting">
      <th mat-header-cell *matHeaderCellDef matTooltip="{{ 'Accounting Document' | translate }}" matTooltipPosition="above">
        <h5>{{ 'Accounting Document' | translate }}</h5>
      </th>
      <td mat-cell *matCellDef="let element" [matTooltip]="element?.accounting_document">
        <span>{{ element?.accounting_document }}</span>
      </td>
    </ng-container>
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef matTooltip="{{ 'Date' | translate }}" matTooltipPosition="above">
        <h5>
          <mat-icon class="mat-icon-status"> date_range </mat-icon>
        </h5>
      </th>
      <td mat-cell *matCellDef="let element" [matTooltip]="translateDate(element?.transaction_date, element?.transaction_time)">
        {{ translateDate(element?.transaction_date, element?.transaction_time) }}
      </td>
    </ng-container>
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef matTooltip="{{ 'Type of transaction' | translate }}" matTooltipPosition="above">
        <h5>{{ 'Type of transaction' | translate }}</h5>
      </th>
      <td mat-cell *matCellDef="let element" [matTooltip]="element?.transaction_type === 'Decaissement' ? ('refund_finance' | translate) : (element?.transaction_type | translate)">
        <span>{{ element?.transaction_type === 'Decaissement'? ('refund_finance' |translate): (element?.transaction_type | translate) }}</span>
      </td>
    </ng-container>
    <ng-container matColumnDef="transaction">
      <th mat-header-cell *matHeaderCellDef matTooltip="{{ 'Transaction' | translate }}" matTooltipPosition="above">
        <h5>{{ 'Transaction' | translate }}</h5>
      </th>
      <td mat-cell *matCellDef="let element">
        <span
          *ngIf="element.transaction !== 'term' && element.transaction !== 'chargeback'"
          matTooltip="{{ element?.transaction | translate }}"
        >
          {{ element?.transaction | translate }}
        </span>
        <span
          *ngIf="element.transaction === 'term'"
          matTooltip="{{ 'Term' | translate }} {{ parseIndex(element?.term_index) + 1 }}/{{
            element?.candidate_id?.billing_id?.terms?.length
          }} -
        {{ getDate(element) }} - {{ getCreditOrDebitAmount(element) }}"
        >
          {{ 'Term' | translate }} {{ parseIndex(element?.term_index) + 1 }}/{{ element?.candidate_id?.billing_id?.terms?.length }} -
          {{ getDate(element) }} - {{ getCreditOrDebitAmount(element) }}</span
        >
        <span
          *ngIf="element.transaction === 'chargeback'"
          matTooltip="{{ 'Chargeback' | translate }} {{ parseIndex(element?.term_index) + 1 }}/{{
            element?.candidate_id?.billing_id?.terms?.length
          }} -
        {{ getDate(element) }} - {{ getCreditOrDebitAmount(element) }}"
        >
          {{ 'Chargeback' | translate }} {{ parseIndex(element?.term_index) + 1 }}/{{ element?.candidate_id?.billing_id?.terms?.length }} -
          {{ getDate(element) }} - {{ getCreditOrDebitAmount(element) }}</span
        >
      </td>
    </ng-container>
    <ng-container matColumnDef="from">
      <th mat-header-cell *matHeaderCellDef matTooltip="{{ 'From' | translate }}" matTooltipPosition="above">
        <h5>{{ 'From' | translate }}</h5>
      </th>
      <td mat-cell *matCellDef="let element" [matTooltip]="replaceToName(element?.from)" class="pad-l-xs">
        <div *ngIf="element?.from === '-'" style="text-align: center">{{ replaceToName(element?.from) }}</div>
        <div *ngIf="element?.from !== '-'">{{ replaceToName(element?.from) }}</div>
      </td>
    </ng-container>
    <ng-container matColumnDef="to">
      <th mat-header-cell *matHeaderCellDef matTooltip="{{ 'To' | translate }}" matTooltipPosition="above">
        <h5>{{ 'To' | translate }}</h5>
      </th>
      <td mat-cell *matCellDef="let element" [matTooltip]="replaceToName(element?.to)">
        <span>{{ replaceToName(element?.to) }}</span>
      </td>
    </ng-container>
    <ng-container matColumnDef="bank">
      <th mat-header-cell *matHeaderCellDef matTooltip="{{ 'Bank' | translate }}" matTooltipPosition="above">
        <h5>{{ 'Bank' | translate }}</h5>
      </th>
      <td mat-cell *matCellDef="let element" [matTooltip]="element?.bank">
        <span>{{ element?.bank }}</span>
      </td>
    </ng-container>
    <ng-container matColumnDef="reference">
      <th mat-header-cell *matHeaderCellDef matTooltip="{{ 'Reference' | translate }}" matTooltipPosition="above">
        <h5>{{ 'Reference' | translate }}</h5>
      </th>
      <td mat-cell *matCellDef="let element" [matTooltip]="element?.reference">
        <div *ngIf="element?.reference === '-'" style="text-align: center">{{ element?.reference }}</div>
        <div *ngIf="element?.reference !== '-'">{{ element?.reference }}</div>
      </td>
    </ng-container>
    <ng-container matColumnDef="debit">
      <th mat-header-cell *matHeaderCellDef matTooltip="{{ 'Debit' | translate }}" matTooltipPosition="above">
        <ng-container *ngIf="displayOnProd">
          <span *ngIf="totalDebit !== 0">({{ formatCurrency(totalDebit) }})</span>
          <span *ngIf="totalDebit === 0">(0)</span><br />
        </ng-container>
        <h5>{{ 'Debit' | translate }}</h5>
      </th>
      <td mat-cell *matCellDef="let element" [matTooltip]="formatCurrency(element?.billing_id?.debit)">
        <span>{{ formatCurrency(element?.debit) }}</span>
      </td>
    </ng-container>
    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef matTooltip="{{ 'Credit' | translate }}" matTooltipPosition="above">
        <ng-container *ngIf="displayOnProd">
          <span *ngIf="totalCredit !== 0">({{ formatCurrency(totalCredit) }})</span>
          <span *ngIf="totalCredit === 0">(0)</span><br />
        </ng-container>
        <h5>{{ 'Credit' | translate }}</h5>
      </th>
      <td mat-cell *matCellDef="let element" [matTooltip]="formatCurrency(element?.billing_id?.credit)">
        <span>{{ formatCurrency(element?.credit) }}</span>
      </td>
    </ng-container>
    <ng-container matColumnDef="student">
      <th mat-header-cell *matHeaderCellDef matTooltip="{{ 'Student' | translate }}" matTooltipPosition="above">
        <h5>{{ 'Student' | translate }}</h5>
      </th>
      <td
        mat-cell
        *matCellDef="let element"
        [matTooltip]="
          (element?.candidate_id?.civility && element?.candidate_id?.civility === 'neutral'
            ? ''
            : (element?.candidate_id?.civility | translate)) +
          ' ' +
          element?.candidate_id?.first_name +
          ' ' +
          (element?.candidate_id?.last_name | uppercase)
        "
        class="pad-l-xs"
      >
        {{
          (element?.candidate_id?.civility && element?.candidate_id?.civility === 'neutral'
            ? ''
            : (element?.candidate_id?.civility | translate)) +
            ' ' +
            element?.candidate_id?.first_name +
            ' ' +
            (element?.candidate_id?.last_name | uppercase)
        }}
      </td>
    </ng-container>
    <ng-container matColumnDef="program">
      <th mat-header-cell *matHeaderCellDef matTooltip="{{ 'Program' | translate }}" matTooltipPosition="above">
        <h5>{{ 'Program' | translate }}</h5>
      </th>
      <td mat-cell *matCellDef="let element" [matTooltip]="intakeChannel(element?.candidate_id?.billing_id)">
        <span>{{ intakeChannel(element?.candidate_id?.billing_id) }}</span>
      </td>
    </ng-container>
    <ng-container matColumnDef="lettrage">
      <th mat-header-cell *matHeaderCellDef matTooltip="{{ 'Reconciliation and Lettrage' | translate }}" matTooltipPosition="above">
        <h5>{{ 'Reconciliation and Lettrage' | translate }}</h5>
      </th>
      <td mat-cell *matCellDef="let element">
        <mat-icon
          [ngClass]="{
            red: !element?.candidate_id,
            green: element?.candidate_id
          }"
          aria-hidden="true"
          class="mat-icon-status"
          >lens
        </mat-icon>
        <mat-icon
          [ngClass]="{
            red: !element?.letter,
            green: element?.letter
          }"
          aria-hidden="true"
          class="mat-icon-status"
          >lens
        </mat-icon>
      </td>
    </ng-container>
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef matTooltip="{{ 'Action' | translate }}" matTooltipPosition="above">
        <h5>{{ 'Action' | translate }}</h5>
      </th>
      <td mat-cell *matCellDef="let element">
        <button
          mat-icon-button
          class="margin-right-button"
          (click)="sendMailDialog(element)"
          [disabled]="dataSelected?.length > 0 || isCheckedAll"
          matTooltip="{{ 'Send this transaction by email' | translate }}"
          *ngIf="permission.sendEmailFinanceHistoryPerm()"
        >
          <mat-icon> send </mat-icon>
        </button>
        <button
          mat-icon-button
          (click)="addTask(element)"
          [disabled]="dataSelected?.length > 0 || isCheckedAll"
          class="margin-right-button"
          matTooltip="{{ 'Create an Internal Task link to that Candidate' | translate }}"
          *ngIf="permission.createInternalTaskFinanceHistoryPerm()"
        >
          <mat-icon svgIcon="clipboard-check-outline"> clipboard_check_outline </mat-icon>
        </button>
        <button
          mat-icon-button
          class="margin-right-button"
          (click)="viewProfileInfo(element?.candidate_id?._id, 'respondant-tab')"
          [disabled]="dataSelected?.length > 0 || isCheckedAll"
          matTooltip="{{ 'see the student file' | translate }}"
          *ngIf="permission.seeStudentFileFinanceHistoryPerm()"
        >
          <mat-icon> school </mat-icon>
        </button>
        <button
          mat-icon-button
          class="margin-right-button"
          [disabled]="element?.candidate_id || dataSelected?.length > 0 || isCheckedAll"
          (click)="reconciliationDialog(element)"
          matTooltip="{{ 'Reconciliation' | translate }}"
          *ngIf="permission.reconciliationFinanceHistoryPerm()"
        >
          <mat-icon> help </mat-icon>
        </button>
        <button
          mat-icon-button
          [disabled]="element?.letter || !element?.candidate_id || dataSelected?.length > 0 || isCheckedAll"
          class="margin-right-button"
          (click)="lettrageDialog(element)"
          matTooltip="{{ 'Lettrage' | translate }}"
          *ngIf="permission.lettrageFinanceHistoryPerm()"
        >
          <mat-icon svgIcon="checkbox-marked-circle-outline"></mat-icon>
        </button>
      </td>
    </ng-container>
    <ng-container matColumnDef="loading">
      <th mat-header-cell *matHeaderCellDef colspan="15" style="text-align: center !important">
        <div class="center-spinner">
          <mat-spinner color="accent"></mat-spinner>
        </div>
      </th>
    </ng-container>
    <!-- <tr mat-header-row *matHeaderRowDef="['table-action']"></tr> -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-header-row *matHeaderRowDef="filterColumns"></tr>
    <tr mat-header-row *matHeaderRowDef="['loading']" [hidden]="!isLoading"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns" [hidden]="isLoading"></tr>
  </table>
</div>
<div class="horizontal" style="margin-bottom: 40px">
  <div [ngClass]="{ hide: noData | async }">
    <mat-paginator
      [ngClass]="{ 'hide-pagination-buttons': dataCount <= 10 }"
      [length]="dataCount"
      [hidePageSize]="true"
      [pageSize]="[10]"
      showFirstLastButtons
    ></mat-paginator>
  </div>
  <div *ngIf="noData | async" class="no-records" [ngClass]="{ hide: isLoading }">
    {{ 'NOT RECORD FOUND' | translate }}
  </div>
</div>
