<div class="top-space">
  <table mat-table matSort [dataSource]="dataSource" (matSortChange)="sortData($event)" class="mat-elevation-z8">
    <!-- ROW RESET START -->
    <ng-container matColumnDef="reset">
      <th mat-header-cell *matHeaderCellDef colspan="7" class="action-header-column text-right">
        <div class="p-grid">
          <div class="p-col-12 text-right">
            <button
              matTooltip="{{ 'Action' | translate }} "
              mat-raised-button
              color="accent"
              [disabled]="isWaitingForResponse"
              [matMenuTriggerFor]="action"
            >
              {{ 'Action' | translate }}
              <mat-icon>expand_more</mat-icon>
            </button>
            <mat-menu #action="matMenu" class="action-dropdown-button-above-table">
              <button
                mat-menu-item
                (click)="addProfileRateDialog()"
                matTooltip="{{ 'Add Additional Expenses' | translate }}"
                *ngIf="permission.addNewAddtionalCostPerm()"
              >
                {{ 'Add Additional Expenses' | translate }}
              </button>
            </mat-menu>
            <button
              mat-raised-button
              color="primary"
              matTooltip="{{ 'Export' | translate }}"
              (click)="getAllDataForExportCheckbox(0)"
              [disabled]="isWaitingForResponse"
              *ngIf="permission.exportAddtionalCostPerm()"
            >
              <mat-icon svgIcon="file-excel" class="mat-icon-svgIcon"></mat-icon>
              {{ 'Export' | translate }}
            </button>
            <button
              mat-raised-button
              color="primary"
              (click)="resetTable()"
              matTooltip="{{ 'RESET' | translate }}"
              [disabled]="isWaitingForResponse"
              *ngIf="permission.resetAddtionalExpensePerm()"
            >
              <mat-icon svgIcon="loop" class="mat-icon-svgIcon"></mat-icon>
              {{ 'RESET' | translate }}
            </button>
          </div>
        </div>
      </th>
    </ng-container>
    <!-- ROW RESET END -->
    <!-- ROW HEADER AND CONTENT START -->
    <ng-container matColumnDef="select" class="mat-column-select">
      <th mat-header-cell *matHeaderCellDef class="text-center">
        <mat-checkbox
          (change)="$event ? masterToggle() : null"
          (change)="showOptions('all', '')"
          [checked]="(selection.hasValue() && isAllSelected()) || isCheckedAll"
          [indeterminate]="selection.hasValue() && !isAllSelected()"
          [aria-label]="checkboxLabel()"
        >
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row" class="text-center">
        <mat-checkbox
          (click)="$event.stopPropagation()"
          (change)="$event ? selection.toggle(row._id) : null"
          [checked]="selection.isSelected(row._id) || (isCheckedAll && !dataUnselectUser.includes(row?._id))"
          (change)="showOptions('one', row)"
          [aria-label]="checkboxLabel(row)"
        >
        </mat-checkbox>
      </td>
    </ng-container>
    <ng-container matColumnDef="additionalCosts">
      <th mat-header-cell *matHeaderCellDef matTooltip="{{ 'Additional expenses' | translate }}">
        <h5>{{ 'Additional expenses' | translate }}</h5>
      </th>
      <td mat-cell *matCellDef="let element" [matTooltip]="element?.additional_cost">
        {{ element?.additional_cost }}
      </td>
    </ng-container>
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef matTooltip="{{ 'Description' | translate }}">
        <h5>{{ 'Description' | translate }}</h5>
      </th>
      <td mat-cell *matCellDef="let element" [matTooltip]="element?.description">
        {{ element?.description }}
      </td>
    </ng-container>
    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef matTooltip="{{ 'Amount' | translate }}">
        <h5>{{ 'Amount' | translate }}</h5>
      </th>
      <td mat-cell *matCellDef="let element" matTooltip="{{ element?.amount }} {{ element?.currency ? ' - ' + element?.currency : '' }}">
        {{ element?.amount }} {{ element?.currency ? ' - ' + element?.currency : '' }}
      </td>
    </ng-container>
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef matTooltip="{{ 'Action' | translate }}">
        <h5>{{ 'Action' | translate }}</h5>
      </th>
      <td mat-cell *matCellDef="let element">
        <button
          (click)="editProfileRateDialog(element)"
          mat-icon-button
          class="margin-right-button"
          matTooltip="{{ 'Edit' | translate }}"
          matTooltipPosition="above"
          *ngIf="permission.editAddtionalCostPerm()"
          [disabled]="selection?.selected?.length > 1"
        >
          <mat-icon>edit</mat-icon>
        </button>
        <button
          mat-icon-button
          (click)="deleteProfileRate(element)"
          class="margin-right-button"
          matTooltip="{{ 'Delete' | translate }}"
          matTooltipPosition="above"
          *ngIf="permission.deleteAddtionalCostPerm()"
          [disabled]="selection?.selected?.length > 1"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
    <!-- ROW HEADER AND CONTENT END -->
    <ng-container matColumnDef="loading">
      <th mat-header-cell *matHeaderCellDef colspan="7" class="text-center">
        <div class="center-spinner">
          <mat-spinner color="accent"></mat-spinner>
        </div>
      </th>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="['reset']"></tr>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-header-row *matHeaderRowDef="['loading']" [hidden]="!isWaitingForResponse"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns" [hidden]="isWaitingForResponse"></tr>
  </table>
  <div *ngIf="noData | async" class="no-records">
    {{ 'No record of Additional Costs' | translate }}
  </div>
  <div [ngClass]="{ hide: noData | async }">
    <mat-paginator
      [ngClass]="{ 'hide-pagination-buttons': dataCount <= 10 }"
      [length]="dataCount"
      [hidePageSize]="true"
      [pageSize]="[10]"
      showFirstLastButtons
    ></mat-paginator>
  </div>
</div>
<div *ngIf="isLoading" class="inner-loading-indicator">
  <mat-spinner color="accent" [diameter]="100"></mat-spinner>
</div>
<!-- <swal #exportSwal title="{{ 'Export Title' | translate }}" [showConfirmButton]="false">
    <div *swalPartial class="">
      <div class="">{{ 'Export Text1' | translate }}</div>
      <div class="">{{ 'Export Text2' | translate }}</div>
      <div class="">{{ 'Export Text3' | translate }}</div>
      <div class="">{{ 'Export Text4' | translate }}</div>
      <div class="">
        <mat-form-field color="accent" class="full-wid">
          <input matInput [(ngModel)]="exportName" placeholder="{{ 'ExportName' | translate }}" />
        </mat-form-field>
      </div>
      <button mat-raised-button color="primary" (click)="onDataExport()">
        {{ 'OK' | translate }}
      </button>
    </div>
  </swal> -->
