<mat-tab-group selectedIndex="10">
    <mat-tab label="{{ 'Course' | translate }}">
        <ng-template matTabContent>
            <ms-student-course></ms-student-course>
        </ng-template>
    </mat-tab>

    <mat-tab label="{{ 'Identity' | translate }}">
        <ng-template matTabContent>
            <ms-student-identity></ms-student-identity>
        </ng-template>
    </mat-tab>
    <mat-tab label="{{ 'Parents' | translate }}">
        <ng-template matTabContent>
           <ms-student-parent></ms-student-parent>
        </ng-template>
    </mat-tab>
    <mat-tab label="{{ 'Employability Survey' | translate }}">
        <ng-template matTabContent>
            <ms-student-emp-survey></ms-student-emp-survey>
        </ng-template>
    </mat-tab>
    <mat-tab label="{{ 'Company' | translate }}">
        <ng-template matTabContent>
            <ms-student-company></ms-student-company>
        </ng-template>
    </mat-tab>
    <mat-tab label="{{ 'Job Description' | translate }}">
        <ng-template matTabContent>
            <ms-student-job-description></ms-student-job-description>
        </ng-template>
    </mat-tab>
    <mat-tab label="{{ 'Mentor Eval.' | translate }}">
        <ng-template matTabContent>
            <ms-student-mentor-eval></ms-student-mentor-eval>
        </ng-template>
    </mat-tab>
    <mat-tab label="{{ 'Problematic' | translate }}">
        <ng-template matTabContent>
            <ms-student-problematic></ms-student-problematic>
        </ng-template>
    </mat-tab>
    <mat-tab label="{{ 'Diploma' | translate }}">
        <ng-template matTabContent>
           <ms-student-diploma></ms-student-diploma>
        </ng-template>
    </mat-tab>
    <mat-tab label="{{ 'Subjects for Certification' | translate }}">
        <ng-template matTabContent>
            <ms-student-subject-certification></ms-student-subject-certification>
        </ng-template>
    </mat-tab>
    <mat-tab label="{{ 'Documents' | translate }}">
        <ng-template matTabContent>
            <ms-student-documents></ms-student-documents>
        </ng-template>
    </mat-tab>
    <mat-tab label="{{ 'Certification' | translate }}">
        <ng-template matTabContent>
           <ms-student-final-transcript></ms-student-final-transcript>
        </ng-template>
    </mat-tab>

    <mat-tab label="{{ 'Details of Certification' | translate }}">
        <ng-template matTabContent>
            <ms-student-certification-detail></ms-student-certification-detail>
        </ng-template>
    </mat-tab>

    <mat-tab label="{{ 'Retake During The Year' | translate }}">
        <ng-template matTabContent>
            <ms-student-retake></ms-student-retake>
        </ng-template>
    </mat-tab>
</mat-tab-group>