@import '~assets/scss/theme/admtc.variables';
@import '~assets/scss/theme/admtc';

:host ::ng-deep table {
  tr {
    td,
    th {
      border-right: 1px solid $grey;
      &:nth-child(1) {
        width: 3%;
        padding-left: 0rem !important;
        text-align: center !important;
      }

      &:nth-child(2) {
        width: 7%;
        text-align: center !important;
        padding-left: 0.5rem !important;
        padding-right: 0.5rem !important;
        .mat-form-field {
          width: 90%;
        }
      }

      &:nth-child(3) {
        width: 7%;
        padding-left: 0.5rem !important;
        padding-right: 0.5rem !important;
        text-align: center !important;
        .mat-form-field {
          width: 90%;
        }
      }

      &:nth-child(4) {
        width: 9%;
        text-align: center !important;
        padding-left: 0.5rem !important;
        padding-right: 0.5rem !important;
        .mat-form-field {
          width: 90%;
        }
      }

      &:nth-child(5) {
        width: 5%;
        padding-left: 0.5rem !important;
        padding-right: 0.5rem !important;
        text-align: center !important;
        .mat-form-field {
          width: 90%;
        }
      }

      &:nth-child(6) {
        width: 9%;
        padding-left: 0.5rem !important;
        padding-right: 0.5rem !important;
        text-align: center !important;
        .mat-form-field {
          width: 90%;
        }
      }

      &:nth-child(7) {
        width: 9%;
        padding-left: 0.5rem !important;
        padding-right: 0.5rem !important;
        text-align: center !important;
      }

      &:nth-child(8) {
        width: 9%;
        padding-left: 0.5rem !important;
        padding-right: 0.5rem !important;
        text-align: center !important;
      }
      &:nth-child(9) {
        width: 9%;
        padding-left: 0.5rem !important;
        padding-right: 0.5rem !important;
        text-align: center !important;
      }
      &:nth-child(10) {
        width: 9%;
        padding-left: 0.5rem !important;
        padding-right: 0.5rem !important;
        text-align: center !important;
      }
      &:nth-child(11) {
        width: 6%;
        padding-left: 0.5rem !important;
        padding-right: 0.5rem !important;
        text-align: center !important;
      }
      &:nth-child(12) {
        width: 8%;
        min-width: 100px;
        max-width: 100px;
        padding-left: 0.3rem !important;
        padding-right: 0.3rem !important;
        text-align: center !important;
      }
      &:last-child {
        width: 14%;
        padding-left: 0.5rem !important;
        padding-right: 0.5rem !important;
        text-align: center !important;
      }
    }

    td {
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 0;
      white-space: nowrap;
      padding-top: 0.5em;
      padding-bottom: 0.5em;
    }

    th {
      vertical-align: top;
      .mat-form-field-infix {
        width: unset !important;
      }
    }

    &:nth-child(2) {
      th {
        padding-top: 0.9em;
      }
    }
  }

  thead tr {
    &:nth-child(2) {
      height: 35px;
    }
    &:nth-child(2),
    &:nth-child(3) {
      background: $light-black;
      th {
        color: $white;
      }
    }
  }
}

.action-header-column {
  vertical-align: middle !important;
  padding-right: 0 !important;
  .p-grid {
    margin-top: unset !important;
  }
}
.hidden {
  display: none;
}

.red-icon {
  color: #ff4040;
}
.green-icon {
  color: #adff2f;
}
.no-records {
  background-color: #424242;
  font-size: 14px;
  padding: 10px 12px;
  border-right: 1px solid #545454;
  border-bottom: 1px solid #545454;
}


.text-info {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 0.25rem;
}

.status {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background-color: green;
  color: white;
  font-size: 0.75rem;
  border-radius: 0.375rem;
  cursor: pointer;
}

.status-re {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background-color: #f49f36;
  color: white;
  font-size: 0.75rem;
  border-radius: 0.375rem;
  cursor: pointer;
}
.ml-2 {
  margin-left: 0.5rem;
}
.mt-10{
  margin-top:10px;
}

:host::ng-deep .filterPanel.mat-select-panel {
  max-width: fit-content !important;
  margin-top: 32px !important;
}

:host:ng-deep.filter-panel{
  margin-top: 25px !important;
}
::ng-deep .custom-matselect-dropdown-margin.mat-select-panel {
  max-width: fit-content !important;
  margin-top: 32px !important;
}

::ng-deep.ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
  white-space: normal !important;
}
.text-count {
  font-size: 15px;
  color: white;
  text-align: left !important;
  margin: auto 0;
}
