<div class="dialog-border" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
  <div class="dialogTitleWrapper">
    <div class="p-grid p-justify-between">
      <!-- <div class="w-30 no-padding">
        <mat-icon style="vertical-align: middle">add</mat-icon>
      </div> -->
      <div class="acad-title">
        <h3 class="dialogTitle">
          {{ 'course_sequence.Add Type of group' | translate }}
        </h3>
      </div>
      <div class="no-padding">
        <button mat-icon-button class="close-icon float-right" mat-dialog-close tabindex="-1">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>

<form>
  <mat-dialog-content [formGroup]="form">
    <div class="p-grid relative">
      <div class="p-col-12 no-padding">
        <div class="p-grid">
          <div class="p-col no-padding">
            <mat-form-field hideRequiredMarker>
              <mat-label>{{ 'course_sequence.Type of group name' | translate }} *</mat-label>
              <input matInput type="text" formControlName="type_group_name" />
              <mat-error>{{ 'This field is required' | translate }}</mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="right">
    <button mat-raised-button mat-dialog-close type="button" color="warn">{{ 'CANCEL' | translate }}</button>
    <button mat-raised-button color="primary" (click)="validate()">
      {{ 'Validate' | translate }}
    </button>
  </mat-dialog-actions>
</form>

<div *ngIf="isWaitingForResponse" class="loading-indicator">
  <mat-progress-spinner mode="indeterminate" color="accent"></mat-progress-spinner>
</div>
