<div class="header-div">
    <mat-icon style="vertical-align: middle; place-self: center" class="title-icon">edit</mat-icon>
    <h2 class="header-text">
      {{ 'doc_builder' | translate }}
    </h2>
    <button mat-icon-button type="button" (click)="closeDialog()" class="header-icon">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <hr />
  
  <form [formGroup]="formDetails">
    <!-- <div class="p-col-12 padding-top">
      <ng-select
        formControlName="document_builder_scholar_season"
        [clearable]="false"
        appendTo="body"      
        placeholder="{{ 'Select Scholar Season' | translate }}*"      
        (change)="handleDocumentBuilderScholarSeasonSelected()"
      >
        <ng-option *ngFor="let scholar of scholars" [value]="scholar._id">
          <div class="break-space">{{ scholar.scholar_season }}</div>
        </ng-option>
      </ng-select>
    </div> -->
  
    <div class="p-col-12 padding-top">
      <ng-select
        formControlName="document_builder_id"
        [clearable]="false"
        appendTo="body"      
        placeholder="{{ 'Select Document from Document Builder' | translate }}*"      
        (change)="setSelectedDocBuilderName($event)"
      >
        <ng-option *ngFor="let doc of documentBuilders" [value]="doc._id">
          <div class="break-space">
            {{ doc.document_builder_name }}
          </div>
        </ng-option>
      </ng-select>
    </div>
    
    <div class="footer-form" fxLayout="row" fxLayoutAlign="end center">
      <div>
        <button mat-raised-button color="warn" type="button" (click)="closeDialog()" >
          {{ 'Cancel' | translate }}
        </button>
      </div>
      <div>
        <button mat-raised-button color="primary" type="button" (click)="submit()" [disabled]="!formDetails.valid">
          {{ 'Submit' | translate }}
        </button>
      </div>
    </div>
  </form>
  
  