.header-form {
    padding: 18px;
  }
  
.footer-form {
    padding: 0px 18px 18px 18px;
}

.no-padding {
  padding: 0;
}
.title-icon{
  min-height: 26px !important;
  max-height: 26px !important;
  width: 100% !important;
}

.break-space {
  white-space: break-spaces;
}