<h1 mat-dialog-title style="border-bottom: 1px solid #000000" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
  {{ 'Add document' | translate }}
  <mat-icon
    class="icon-style"
    style="vertical-align: middle; float: right"
    matTooltip="{{ 'CLOSE' | translate }}"
    (click)="closeDialog()"
    data-c="button-close-dialog"
    >close</mat-icon
  >
</h1>

<div mat-dialog-content class="mat-dialog-content dialog-body" [formGroup]="uploadDocForm">
  <div class="p-grid">
    <div class="p-col-5 pt-16">
      <label>{{ 'Please select a document' | translate }}: *</label>
    </div>
    <div class="p-col-7">
      <ng-select
        formControlName="document_builder_name"
        [clearable]="true"
        [appendTo]="'body'"
        placeholder="{{ 'Please select a document' | translate }}"
        class="custom-ngselect-content"
        notFoundText="{{ 'NOT RECORD FOUND' | translate }}"
        (change)="selectDocument($event)"
      >
        <ng-option
          *ngIf="parentData?.is_multiple && isInvoiceDisplay"
          [value]="'Invoice'"
        >
          {{ 'INVOICE' | translate }}
        </ng-option>
        <ng-option
          *ngFor="let option of listDataDropdown"
          [value]="option?.document_builder_name"
        >
          {{ option?.document_builder_name }}
        </ng-option>
      </ng-select>
      <mat-error *ngIf="uploadDocForm.get('document_builder_name').errors">{{ 'This field is required' | translate }}</mat-error>
    </div>
  </div>
</div>

<div mat-dialog-actions class="justify-content-end">
  <button mat-button mat-raised-button color="warn" (click)="closeDialog()" data-cy="button-cancel">
    {{ 'CANCEL' | translate }}
  </button>
  <button mat-button mat-raised-button color="primary" class="mr-0" (click)="submit()" data-cy="button-validate">
    {{ 'Validate' | translate }}
  </button>
</div>
<div *ngIf="isWaitingForResponse" class="loading-indicator">
  <mat-progress-spinner mode="indeterminate" color="accent" data-cy="dialog-spinner"></mat-progress-spinner>
</div>
