<div class="col-lg-12 card-web" style="padding-top: 28px">
  <div class="card detail-total">
    <div class="card-body detail-body">
      <div class="row">
        <div class="col-lg-5">
          <div class="col-lg-3">{{ 'Profile' | translate }}</div>
          <div class="col-lg-9">: {{ dataStepTwo?.profile | translate }}</div>
        </div>
        <div class="col-lg-4">
          <div class="col-lg-6">{{ 'Location' | translate }}</div>
          <div class="col-lg-6">: {{ dataStepOne?.location ? ('COUNTRY.' + dataStepOne?.location | translate) : '-' }}</div>
        </div>
        <div class="col-lg-3">
          <div class="col-lg-6">{{ 'Presence' | translate }}</div>
          <div class="col-lg-6">: {{ dataStepOne?.presence | translate }}</div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-5">
          <div class="col-lg-3">{{ 'Period' | translate }}</div>
          <div class="col-lg-9">
            :
            {{ dataStepOne?.ongoing ? ('Ongoing' | translate) : translateDate(dataStepOne?.from, dataStepOne?.to) }}
          </div>
        </div>
        <div class="col-lg-4">
          <div class="col-lg-6">{{ 'Skill' | translate }}</div>
          <div class="col-lg-6">: {{ generateSkill(dataStepTwo?.skill) }}</div>
        </div>
        <div class="col-lg-3">
          <div class="col-lg-6">{{ 'Level' | translate }}</div>
          <div class="col-lg-6">: {{ 'Cycle' | translate }} {{ dataStepOne?.level | translate }}</div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-5">
          <div class="col-lg-3">{{ 'Title' | translate }}</div>
          <div class="col-lg-9">: {{ dataStepTwo?.title | translate }}</div>
        </div>
        <div class="col-lg-4">
          <div class="col-lg-6">{{ 'Number Opening' | translate }}</div>
          <div class="col-lg-6">: {{ dataStepTwo?.number_opening | translate }}</div>
        </div>
        <div class="col-lg-3"></div>
      </div>
      <div class="row">
        <div class="col-lg-5">
          <div class="col-lg-3">{{ 'Description' | translate }}</div>
          <div class="col-lg-9" [innerHTML]="dataStepTwo?.description"></div>
        </div>
        <div class="col-lg-4">
          <div class="col-lg-6">{{ 'Stipend' | translate }}</div>
          <div class="col-lg-6">: {{ dataStepOne?.stipend ? dataStepOne?.currency + ' ' + dataStepOne?.amount : '-' }}</div>
        </div>
        <div class="col-lg-3"></div>
      </div>
    </div>
  </div>

  <div class="row btn-submit">
    <button mat-button mat-raised-button (click)="modifyStep()" color="accent" class="button-submit submit-third">
      <mat-icon style="font-size: 24px">edit</mat-icon> {{ 'I want to modify' | translate }}
    </button>
    <button mat-button mat-raised-button (click)="saveOnlyStep()" color="accent" class="button-submit submit-third">
      <mat-icon style="font-size: 24px">save</mat-icon> {{ 'I save for me and DO NOT submit yet' | translate }}
    </button>
    <button mat-button mat-raised-button (click)="saveStep()" color="accent" class="button-submit submit-third">
      <mat-icon style="font-size: 24px">send</mat-icon> {{ 'Publish Job Offer' | translate }}
    </button>
  </div>

  <div class="row" style="padding-top: 10px; margin-top: 20px !important; border-top: 2px solid #cdc8c8">
    <div *ngIf="dataStepTwo && dataStepTwo?.image && dataStepTwo?.image.length" class="col-lg-12">
      <div class="col-lg-12">{{ 'File' | translate }}</div>
      <div class="col-lg-12">
        <div class="list-img" *ngIf="dataStepTwo?.image && dataStepTwo?.image.length">
          <div class="thumbnail-img" *ngFor="let img of dataStepTwo?.image; let in = index">
            <img
              (click)="openImage(img)"
              [matTooltip]="img"
              [src]="pdfIcon"
              class="thumb rounded pull-left img-thumbnail"
              alt="{{ img }}"
            />
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-12" *ngIf="dataStepThree?.question && dataStepThree?.question.length" style="margin-top: 10px">
      <div class="col-lg-12">{{ 'List of Question' | translate }} :</div>
      <div class="col-lg-12">
        <div class="list-question">
          <div class="question-list" *ngFor="let img of dataStepThree?.question; let in = index">
            <label>{{ 'Question' | translate }} {{ in + 1 }} </label> {{ img }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-lg-12 card-mobile" style="padding-top: 28px; padding-left: 0px; padding-right: 0px">
  <div class="card detail-total">
    <div class="card-body detail-body">
      <div class="row no-margin">
        <div class="col-lg-12 no-margin-card">
          <div class="no-padding mobile-view">
            <label>{{ 'Profile' | translate }}</label>
          </div>
          <div class="no-padding" style="font-size: 13px; float: left">: {{ dataStepTwo?.profile | translate }}</div>
        </div>
      </div>

      <div class="row no-margin">
        <div class="col-lg-12 no-margin-card">
          <div class="no-padding mobile-view">
            <label>{{ 'Location' | translate }}</label>
          </div>
          <div class="no-padding" style="font-size: 13px; float: left">
            : {{ dataStepOne?.location ? ('COUNTRY.' + dataStepOne?.location | translate) : '-' }}
          </div>
        </div>
      </div>

      <div class="row no-margin">
        <div class="col-lg-12 no-margin-card">
          <div class="no-padding mobile-view">
            <label>{{ 'Presence' | translate }}</label>
          </div>
          <div class="no-padding" style="font-size: 13px; float: left">: {{ dataStepOne?.presence | translate }}</div>
        </div>
      </div>

      <div class="row no-margin">
        <div class="col-lg-12 no-margin-card">
          <div class="no-padding mobile-view">
            <label>{{ 'Period' | translate }}</label>
          </div>
          <div class="no-padding" style="font-size: 13px; float: left">
            :
            {{
              dataStepOne?.ongoing
                ? ('Ongoing' | translate)
                : dataStepOne && dataStepOne?.from
                ? translateDate(dataStepOne?.from, dataStepOne?.to)
                : '-'
            }}
          </div>
        </div>
      </div>

      <div class="row no-margin">
        <div class="col-lg-12 no-margin-card">
          <div class="no-padding mobile-view">
            <label>{{ 'Skill' | translate }}</label>
          </div>
          <div class="no-padding" style="font-size: 13px; float: left">: {{ generateSkill(dataStepTwo?.skill) }}</div>
        </div>
      </div>

      <div class="row no-margin">
        <div class="col-lg-12 no-margin-card">
          <div class="no-padding mobile-view">
            <label>{{ 'Level' | translate }}</label>
          </div>
          <div class="no-padding" style="font-size: 13px; float: left">
            : {{ 'Cycle' | translate }} {{ dataStepOne?.level | translate }}
          </div>
        </div>
      </div>

      <div class="row no-margin">
        <div class="col-lg-12 no-margin-card">
          <div class="no-padding mobile-view">
            <label>{{ 'Title' | translate }}</label>
          </div>
          <div class="no-padding" style="font-size: 13px; float: left">: {{ dataStepTwo?.title | translate }}</div>
        </div>
      </div>

      <div class="row no-margin">
        <div class="col-lg-12 no-margin-card">
          <div class="no-padding mobile-view">
            <label>{{ 'Number' | translate }}</label>
          </div>
          <div class="no-padding" style="font-size: 13px; float: left">
            : {{ dataStepTwo?.number_opening ? (dataStepTwo?.number_opening | translate) : '-' }}
          </div>
        </div>
      </div>

      <div class="row no-margin">
        <div class="col-lg-12 no-margin-card">
          <div class="no-padding mobile-view">
            <label>{{ 'Stipend' | translate }}</label>
          </div>
          <div class="no-padding" style="font-size: 13px; float: left">
            : {{ dataStepOne?.stipend ? dataStepOne?.currency + ' ' + dataStepOne?.amount : '-' }}
          </div>
        </div>
      </div>

      <div class="row no-margin">
        <div class="col-lg-12 no-margin-card">
          <div class="no-padding mobile-view">
            <label>{{ 'Description' | translate }}</label>
          </div>
          <div class="col-lg-9" [innerHTML]="dataStepTwo?.description"></div>
          <div class="no-padding" style="font-size: 13px; float: left; text-align: justify" [innerHTML]="dataStepTwo?.description"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="row" style="padding-top: 10px; margin-top: 20px !important; border-top: 2px solid #cdc8c8">
    <div *ngIf="dataStepTwo && dataStepTwo?.image && dataStepTwo?.image.length" class="col-lg-12">
      <div class="col-lg-12">{{ 'File' | translate }}</div>
      <div class="col-lg-12">
        <div class="list-img">
          <div class="thumbnail-img" *ngFor="let img of dataStepTwo?.image; let in = index">
            <img
              (click)="openImage(img)"
              [matTooltip]="img"
              [src]="pdfIcon"
              class="thumb rounded pull-left img-thumbnail"
              alt="{{ img }}"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-12" *ngIf="dataStepThree?.question && dataStepThree?.question.length" style="margin-top: 10px">
      <div class="col-lg-12">{{ 'List of Question' | translate }} :</div>
      <div class="col-lg-12">
        <div class="list-question">
          <div class="question-list" *ngFor="let img of dataStepThree?.question; let in = index">
            <label>{{ 'Question' | translate }} {{ in + 1 }} </label> {{ img }}
          </div>
        </div>
      </div>
    </div>

    <div class="row btn-submit">
      <button mat-button mat-raised-button (click)="modifyStep()" color="accent" class="button-submit submit-third">
        <mat-icon style="font-size: 24px">edit</mat-icon> {{ 'I want to modify' | translate }}
      </button>
      <button mat-button mat-raised-button (click)="saveOnlyStep()" color="accent" class="button-submit submit-third">
        <mat-icon style="font-size: 24px">save</mat-icon> {{ 'I save for me and DO NOT submit yet' | translate }}
      </button>
      <button mat-button mat-raised-button (click)="saveStep()" color="accent" class="button-submit submit-third">
        <mat-icon style="font-size: 24px">send</mat-icon> {{ 'Publish Job Offer' | translate }}
      </button>
    </div>
  </div>
</div>
