<div class="header-div-wrapper">
  <div class="header-div" style="padding: 10px 1rem !important" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
    <mat-icon class="dialog-header-icon" style="margin-bottom: 5px" fontIcon="pending_actions"></mat-icon>
    <h2 class="header-text">
      {{ 'SENDING_CONTRACT_DIALOG.Sending Pre Contract Form' | translate }}
    </h2>
    <button mat-icon-button type="button" (click)="closeDialog()" class="header-icon">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>
<mat-dialog-content [formGroup]="templateForm">
  <div class="p-grid">
    <div class="p-col-12">
      <label class="float-label label-legal"
        [style.display]="templateForm.get('pre_contract_template_id').value ? 'block' : 'none'">
        {{ 'SENDING_CONTRACT_DIALOG.Select a Template Form' | translate }}*
      </label>
      <ng-select
        [items]="templates"
        bindLabel="form_builder_name"
        bindValue="_id"
        [appendTo]="'body'"
        placeholder="{{ 'SENDING_CONTRACT_DIALOG.Select a Template Form' | translate }}"
        formControlName="pre_contract_template_id"
        [clearable]="false"
        (change)="selectedTemplate($event)"
        class="custom-style-ngselect"
      >
      </ng-select>
      <p
        *ngIf="templateForm.get('pre_contract_template_id').hasError('required') && templateForm.get('pre_contract_template_id').touched"
        style="color: #f44336; font-size: 75%; margin: 0"
      >
        {{ 'This field is required' | translate }}
      </p>
    </div>
  </div>
  <ng-container *ngIf="templateForm?.get('pre_contract_template_id').value">
    <ng-container *ngIf="validatorArr?.controls?.length">
      <div class="assign-border" formArrayName="step_validator_input">
        <h4 class="section-title">{{ 'SENDING_CONTRACT_DIALOG.assign user for step validatory' | translate }}</h4>
        <div class="p-grid" *ngFor="let form of validatorArr?.controls; let formArrIndex = index" [formGroupName]="formArrIndex">
          <div class="p-col-4 section-field-title" *ngIf="dataSelected?.steps[formArrIndex]?.is_user_who_receive_the_form_as_validator">
            {{ 'CONTRACT_MANAGEMENT.teacher' | translate }}*
          </div>
          <div
            class="p-col-4 section-field-title"
            *ngIf="form?.value?.validator && !dataSelected?.steps[formArrIndex]?.is_user_who_receive_the_form_as_validator"
            [ngClass]="form.invalid ? 'red' : ''"
          >
            {{ 'USER_TYPES.' + getNameOfUserType(form, 'validator') | translate }}*
          </div>
          <ng-container *ngIf="dataSelected?.steps[formArrIndex]?.is_user_who_receive_the_form_as_validator">
            <div class="p-col-8">
              <input
                matInput
                type="text"
                class="custom-input"
                value="{{ data?.process?.last_name | uppercase }} {{ data?.process?.first_name }} {{
                  data?.process?.civility && data?.process?.civility === 'neutral' ? '' : (data?.process?.civility | translate)
                }}"
                [disabled]="true"
                placeholder="{{ 'search' | translate }}"
              />
            </div>
          </ng-container>
          <ng-container *ngIf="form?.value?.validator && !dataSelected?.steps[formArrIndex]?.is_user_who_receive_the_form_as_validator">
            <div class="p-col-8">
              <input
                matInput
                type="text"
                class="custom-input"
                formControlName="user_validator"
                *ngIf="form.value.validator"
                placeholder="{{ 'search' | translate }}"
                [matAutocomplete]="auto"
                (keyup)="filterValidatorUser($event.target.value, formArrIndex, form.value.validator)"
              />
              <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFullName.bind(this)" [panelWidth]="'fit'">
                <mat-option *ngFor="let user of validatorUserList[formArrIndex]" [value]="user">
                  {{ user?.last_name | uppercase }} {{ user?.first_name }}
                  {{ user?.civility && user?.civility === 'neutral' ? '' : (user?.civility | translate) }}
                </mat-option>
              </mat-autocomplete>
            </div>
          </ng-container>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="templateForm?.get('pre_contract_template_id').value && signatoryArr?.controls?.length">
      <div class="assign-border" formArrayName="contract_validator_signatory_status_input">
        <h4 class="section-title">{{ 'SENDING_CONTRACT_DIALOG.assign user for signatory' | translate }}</h4>
        <div>
          <div class="p-grid" *ngFor="let form of signatoryArr?.controls; let formArrIndex = index" [formGroupName]="formArrIndex">
            <div class="p-col-4 section-field-title" [ngClass]="{
                      'red':
                        getSignatoryArray()?.at(formArrIndex)?.get('user_id')?.invalid &&
                        (getSignatoryArray()?.at(formArrIndex)?.get('user_id')?.touched ||
                        getSignatoryArray()?.at(formArrIndex)?.get('user_id')?.dirty)
              }"
            >
              {{ 'USER_TYPES.' + getNameOfUserType(form, 'signatory') | translate }}*
            </div>
            <div class="p-col-8">
              <input
                matInput
                type="text"
                class="custom-input"
                formControlName="user_id"
                placeholder="{{ 'search' | translate }}"
                [readonly]="listSignatoryAuto.includes(form?.value?.user_type_id)"
                [matAutocomplete]="auto"
                (keyup)="filterSignatoryUser($event.target.value, formArrIndex, form.value.user_type_id)"
                [ngClass]="{
                        'invalid-user-id':
                          getSignatoryArray()?.at(formArrIndex)?.get('user_id')?.invalid &&
                          (getSignatoryArray()?.at(formArrIndex)?.get('user_id')?.touched ||
                          getSignatoryArray()?.at(formArrIndex)?.get('user_id')?.dirty)
                }"
              />
              <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFullName.bind(this)" [panelWidth]="'fit'">
                <mat-option *ngFor="let user of signatoryUserList[formArrIndex]" [value]="user" (click)="selectedUser(formArrIndex, user)">
                  {{ user?.last_name | uppercase }} {{ user?.first_name }}
                  {{ user?.civility && user?.civility === 'neutral' ? '' : (user?.civility | translate) }}
                </mat-option>
              </mat-autocomplete>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </ng-container>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button type="button" color="warn" mat-dialog-close>{{ 'CANCEL' | translate }}</button>
  <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="isWaitingForResponse">
    {{ 'SUBMIT' | translate }}
  </button>
</mat-dialog-actions>

<div *ngIf="isWaitingForResponse" class="loading-indicator">
  <mat-progress-spinner mode="indeterminate" color="accent"></mat-progress-spinner>
</div>
