<div class="gene-registerV2" style="padding-top: 3.8rem !important; background-image: none !important">
  <div fxLayout="row" fxLayoutAlign="center start">
    <div
      *ngIf="showSessionSlider"
      fxLayout="column"
      fxFlex="100"
      fxFlex.xs="97"
      fxFlex.sm="80"
      fxFlex.md="95"
      fxFlex.lg="97"
      fxFlex.xl="60"
      class="slider-responsive"
    >
      <div
        fxLayout="row wrap"
        fxLayoutAlign="center stretch"
        class="height-full pad-t-xl pad-b-xl form-wrap-row set-resp-space"
        fxLayoutGap.gt-md="15px"
      >
        <div
          fxLayout="column"
          fxFlex="100"
          fxFlex.xs="100"
          fxFlex.sm="100"
          fxFlex.md="21"
          fxFlex.lg="21"
          fxFlex.xl="21"
          fxHide.lt-md
          class="slider-responsive-test"
        >
          <div class="height-full full-wid">
            <div fxLayout="column" class="height-full full-wid" style="place-content: normal !important">
              <ngx-slick-carousel
                [config]="slideConfig"
                class="carousel full-wid"
                [style.height.px]="getAutomaticHeight()"
                #slickModal="slick-carousel"
              >
                <div ngxSlickItem *ngFor="let slide of sessionSlider">
                  <div class="session-slider overlay-wrap full-wid" [style.height.px]="getAutomaticHeight()">
                    <div
                      class="slider-bg-img full-wid"
                      [ngStyle]="{
                        'background-image': 'url(' + slide.image_upload + ')'
                      }"
                    ></div>
                    <!-- <div
                      class="slider-bg-img full-wid"
                      [ngStyle]="{
                        'background-image': 'url(' + serverimgPath + slide.image_upload + ')'
                      }"
                    ></div> -->
                    <div class="overlay-content" fxLayoutAlign="start end">
                      <div class="content-wrap">
                        <div class="sec-title">
                          <h5 class="text-inverse" innerHTML="{{ slide.title }}"></h5>
                          <span class="text-inverse" innerHTML="{{ slide.sub_title }}"></span>
                        </div>
                        <div class="sec-content">
                          <p class="text-inverse" innerHTML="{{ slide.story }}"></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ngx-slick-carousel>
            </div>
          </div>
        </div>
        <div
          fxLayout="column"
          fxFlex="100"
          fxFlex.xs="100"
          fxFlex.sm="100"
          fxFlex.md="77"
          fxFlex.lg="77"
          fxFlex.xl="77"
          class="slider-responsive-form"
        >
          <mat-card
            class="gene-registerV2-wrap"
            [style.min-height.px]="getAutomaticHeight()"
            style="border: 1px solid #eeeeee; padding: 20px 0px"
          >
            <div class="row title-registration">
              {{ 'Internship Aggrement' | translate }}
            </div>
            <ms-language-drop-down></ms-language-drop-down>
            <mat-horizontal-stepper [linear]="isLinear" #stepperForm [selectedIndex]="selectedIndex">
              <mat-step
                *ngIf="!firstStepDone"
                disableRipple="true"
                [completed]="firstStepDone"
                [label]="'Intern' | translate"
                [stepControl]="firstFormGroup"
              >
                <fieldset style="margin-top: 20px !important">
                  <div *ngIf="!identityEditMode">
                    <ms-first-step-aggrement
                      [isUserCRM]="isUserCRM"
                      [isUserMentor]="isUserMentor"
                      [isUserStudent]="isUserStudent"
                      [isUserMember]="isUserMember"
                      [internshipId]="internshipId"
                    ></ms-first-step-aggrement>
                  </div>
                  <div *ngIf="identityEditMode">
                    <ms-first-aggrement-form [internshipId]="internshipId"></ms-first-aggrement-form>
                  </div>
                </fieldset>
              </mat-step>

              <mat-step *ngIf="firstStepDone" state="done" disableRipple="true" [completed]="firstStepDone" [label]="'Intern' | translate">
                <fieldset style="margin-top: 20px !important">
                  <div *ngIf="!identityEditMode">
                    <ms-first-step-aggrement
                      [isUserCRM]="isUserCRM"
                      [isUserMentor]="isUserMentor"
                      [isUserStudent]="isUserStudent"
                      [isUserMember]="isUserMember"
                      [internshipId]="internshipId"
                    ></ms-first-step-aggrement>
                  </div>
                  <div *ngIf="identityEditMode">
                    <ms-first-aggrement-form [internshipId]="internshipId"></ms-first-aggrement-form>
                  </div>
                </fieldset>
              </mat-step>

              <mat-step
                *ngIf="!secondStepDone"
                disableRipple="true"
                [completed]="secondStepDone"
                [label]="'School' | translate"
                [stepControl]="secondFormGroup"
              >
                <fieldset style="margin-top: 20px !important">
                  <div *ngIf="!identityEditModeTwo">
                    <ms-second-step-aggrement
                      [isUserCRM]="isUserCRM"
                      [isUserMentor]="isUserMentor"
                      [isUserStudent]="isUserStudent"
                      [isUserMember]="isUserMember"
                      [internshipId]="internshipId"
                    ></ms-second-step-aggrement>
                  </div>
                  <div *ngIf="identityEditModeTwo">
                    <ms-second-aggrement-form [internshipId]="internshipId"></ms-second-aggrement-form>
                  </div>
                </fieldset>
              </mat-step>

              <mat-step
                *ngIf="secondStepDone"
                state="done"
                disableRipple="true"
                [completed]="secondStepDone"
                [label]="'School' | translate"
              >
                <fieldset style="margin-top: 20px !important">
                  <div *ngIf="!identityEditModeTwo">
                    <ms-second-step-aggrement
                      [isUserCRM]="isUserCRM"
                      [isUserMentor]="isUserMentor"
                      [isUserStudent]="isUserStudent"
                      [isUserMember]="isUserMember"
                      [internshipId]="internshipId"
                    ></ms-second-step-aggrement>
                  </div>
                  <div *ngIf="identityEditModeTwo">
                    <ms-second-aggrement-form [internshipId]="internshipId"></ms-second-aggrement-form>
                  </div>
                </fieldset>
              </mat-step>

              <!-- <mat-step
                *ngIf="!thirdStepDone"
                disableRipple="true"
                [completed]="thirdStepDone"
                [label]="'School Mentor' | translate"
                [stepControl]="thirdFormGroup"
              >
                <fieldset style="margin-top: 20px !important">
                  <div *ngIf="!identityEditModeThree">
                    <ms-third-step-aggrement></ms-third-step-aggrement>
                  </div>
                  <div *ngIf="identityEditModeThree">
                    <ms-third-aggrement-form></ms-third-aggrement-form>
                  </div>
                </fieldset>
              </mat-step>
              <mat-step
                *ngIf="thirdStepDone"
                disableRipple="true"
                state="done"
                [completed]="thirdStepDone"
                [label]="'School Mentor' | translate"
                [stepControl]="thirdFormGroup"
              >
                <fieldset style="margin-top: 20px !important">
                  <div *ngIf="!identityEditModeThree">
                    <ms-third-step-aggrement></ms-third-step-aggrement>
                  </div>
                  <div *ngIf="identityEditModeThree">
                    <ms-third-aggrement-form></ms-third-aggrement-form>
                  </div>
                </fieldset>
              </mat-step> -->

              <mat-step
                *ngIf="!fourthStepDone"
                disableRipple="true"
                [completed]="fourthStepDone"
                [label]="'Company' | translate"
                [stepControl]="fourthFormGroup"
              >
                <fieldset style="margin-top: 20px !important">
                  <div *ngIf="!identityEditModeFour">
                    <ms-fourth-step-aggrement
                      [isUserCRM]="isUserCRM"
                      [isUserMentor]="isUserMentor"
                      [isUserStudent]="isUserStudent"
                      [isUserMember]="isUserMember"
                      [internshipId]="internshipId"
                    ></ms-fourth-step-aggrement>
                  </div>
                  <div *ngIf="identityEditModeFour">
                    <ms-fourth-aggrement-form [internshipId]="internshipId"></ms-fourth-aggrement-form>
                  </div>
                </fieldset>
              </mat-step>

              <mat-step
                *ngIf="fourthStepDone"
                state="done"
                disableRipple="true"
                [completed]="fourthStepDone"
                [label]="'Company' | translate"
              >
                <fieldset style="margin-top: 20px !important">
                  <div *ngIf="!identityEditModeFour">
                    <ms-fourth-step-aggrement
                      [isUserCRM]="isUserCRM"
                      [isUserMentor]="isUserMentor"
                      [isUserStudent]="isUserStudent"
                      [isUserMember]="isUserMember"
                      [internshipId]="internshipId"
                    ></ms-fourth-step-aggrement>
                  </div>
                  <div *ngIf="identityEditModeFour">
                    <ms-fourth-aggrement-form [internshipId]="internshipId"></ms-fourth-aggrement-form>
                  </div>
                </fieldset>
              </mat-step>

              <mat-step
                *ngIf="!fiveStepDone"
                disableRipple="true"
                [completed]="fiveStepDone"
                [label]="'Mentor' | translate"
                [stepControl]="fiveFormGroup"
              >
                <fieldset style="margin-top: 20px !important">
                  <div *ngIf="!identityEditModeFive">
                    <ms-fifth-step-aggrement
                      [isUserCRM]="isUserCRM"
                      [isUserMentor]="isUserMentor"
                      [isUserStudent]="isUserStudent"
                      [isUserMember]="isUserMember"
                      [internshipId]="internshipId"
                    ></ms-fifth-step-aggrement>
                  </div>
                  <div *ngIf="identityEditModeFive">
                    <ms-fifth-aggrement-form [internshipId]="internshipId"></ms-fifth-aggrement-form>
                  </div>
                </fieldset>
              </mat-step>

              <mat-step *ngIf="fiveStepDone" state="done" disableRipple="true" [completed]="fiveStepDone" [label]="'Mentor' | translate">
                <fieldset style="margin-top: 20px !important">
                  <div *ngIf="!identityEditModeFive">
                    <ms-fifth-step-aggrement
                      [isUserCRM]="isUserCRM"
                      [isUserMentor]="isUserMentor"
                      [isUserStudent]="isUserStudent"
                      [isUserMember]="isUserMember"
                      [internshipId]="internshipId"
                    ></ms-fifth-step-aggrement>
                  </div>
                  <div *ngIf="identityEditModeFive">
                    <ms-fifth-aggrement-form [internshipId]="internshipId"></ms-fifth-aggrement-form>
                  </div>
                </fieldset>
              </mat-step>

              <mat-step
                *ngIf="!tenStepDone"
                disableRipple="true"
                [completed]="tenStepDone"
                [label]="'Company Manager' | translate"
                [stepControl]="tenFormGroup"
              >
                <fieldset style="margin-top: 20px !important">
                  <div>
                    <ms-manager-step-aggrement
                      [isUserCRM]="isUserCRM"
                      [isUserMentor]="isUserMentor"
                      [isUserStudent]="isUserStudent"
                      [isUserMember]="isUserMember"
                      [internshipId]="internshipId"
                    ></ms-manager-step-aggrement>
                  </div>
                </fieldset>
              </mat-step>

              <mat-step
                *ngIf="tenStepDone"
                state="done"
                disableRipple="true"
                [completed]="tenStepDone"
                [label]="'Company Manager' | translate"
              >
                <fieldset style="margin-top: 20px !important">
                  <div>
                    <ms-manager-step-aggrement
                      [isUserCRM]="isUserCRM"
                      [isUserMentor]="isUserMentor"
                      [isUserStudent]="isUserStudent"
                      [isUserMember]="isUserMember"
                      [internshipId]="internshipId"
                    ></ms-manager-step-aggrement>
                  </div>
                </fieldset>
              </mat-step>

              <mat-step
                *ngIf="!sixhStepDone"
                disableRipple="true"
                [completed]="sixhStepDone"
                [label]="'Internship' | translate"
                [stepControl]="sixFormGroup"
              >
                <fieldset style="margin-top: 20px !important">
                  <div *ngIf="!identityEditModeSix">
                    <ms-sixth-step-aggrement
                      [isUserCRM]="isUserCRM"
                      [isUserMentor]="isUserMentor"
                      [isUserStudent]="isUserStudent"
                      [isUserMember]="isUserMember"
                      [internshipId]="internshipId"
                    ></ms-sixth-step-aggrement>
                  </div>
                  <div *ngIf="identityEditModeSix">
                    <ms-sixth-aggrement-form [internshipId]="internshipId"></ms-sixth-aggrement-form>
                  </div>
                </fieldset>
              </mat-step>

              <mat-step
                *ngIf="sixhStepDone"
                state="done"
                disableRipple="true"
                [completed]="sixhStepDone"
                [label]="'Internship' | translate"
              >
                <fieldset style="margin-top: 20px !important">
                  <div *ngIf="!identityEditModeSix">
                    <ms-sixth-step-aggrement
                      [isUserCRM]="isUserCRM"
                      [isUserMentor]="isUserMentor"
                      [isUserStudent]="isUserStudent"
                      [isUserMember]="isUserMember"
                      [internshipId]="internshipId"
                    ></ms-sixth-step-aggrement>
                  </div>
                  <div *ngIf="identityEditModeSix">
                    <ms-sixth-aggrement-form [internshipId]="internshipId"></ms-sixth-aggrement-form>
                  </div>
                </fieldset>
              </mat-step>

              <!-- <mat-step
                *ngIf="!sevenStepDone"
                disableRipple="true"
                [completed]="sevenStepDone"
                [label]="'List of Information' | translate"
                [stepControl]="sevenFormGroup"
              >
                <fieldset style="margin-top: 20px !important">
                  <div *ngIf="!identityEditModeSeven">
                    <ms-seventh-step-aggrement></ms-seventh-step-aggrement>
                  </div>
                  <div *ngIf="identityEditModeSeven">
                    <ms-seventh-aggrement-form></ms-seventh-aggrement-form>
                  </div>
                </fieldset>
              </mat-step>
              <mat-step
                *ngIf="sevenStepDone"
                disableRipple="true"
                [completed]="sevenStepDone"
                [label]="'List of Information' | translate"
                [stepControl]="sevenFormGroup"
              >
                <fieldset style="margin-top: 20px !important">
                  <div *ngIf="!identityEditModeSeven">
                    <ms-seventh-step-aggrement></ms-seventh-step-aggrement>
                  </div>
                  <div *ngIf="identityEditModeSeven">
                    <ms-seventh-aggrement-form></ms-seventh-aggrement-form>
                  </div>
                </fieldset>
              </mat-step> -->

              <mat-step
                *ngIf="!eightStepDone"
                [stepControl]="eightFormGroup"
                [completed]="eightStepDone"
                disableRipple="true"
                [label]="'Summary' | translate"
              >
                <fieldset style="margin-top: 20px !important">
                  <ms-summary-step-aggrement
                    [isUserCRM]="isUserCRM"
                    [selectedIndex]="selectedIndex"
                    [isUserMentor]="isUserMentor"
                    [isUserStudent]="isUserStudent"
                    [isUserMember]="isUserMember"
                    [internshipId]="internshipId"
                  ></ms-summary-step-aggrement>
                </fieldset>
              </mat-step>

              <mat-step *ngIf="eightStepDone" state="done" [completed]="eightStepDone" disableRipple="true" [label]="'Summary' | translate">
                <fieldset style="margin-top: 20px !important">
                  <ms-summary-step-aggrement
                    [isUserCRM]="isUserCRM"
                    [selectedIndex]="selectedIndex"
                    [isUserMentor]="isUserMentor"
                    [isUserStudent]="isUserStudent"
                    [isUserMember]="isUserMember"
                    [internshipId]="internshipId"
                  ></ms-summary-step-aggrement>
                </fieldset>
              </mat-step>
              <!-- 
              <mat-step
              [state]="eightStepDone ? 'done' : '7'"
                disableRipple="true"
                [completed]="eightStepDone"
                [label]="'Conditions' | translate"
                [stepControl]="eightFormGroup"
              >
                <fieldset style="margin-top: 20px !important">
                  <ms-conditions-step-aggrement
                    [isUserCRM]="isUserCRM"
                    [isUserMentor]="isUserMentor"
                    [isUserStudent]="isUserStudent"
                    [isUserMember]="isUserMember"
                    [internshipId]="internshipId"
                  ></ms-conditions-step-aggrement>
                </fieldset>
              </mat-step> -->

              <mat-step
                *ngIf="(!isUserStudent && !isUserMentor && !isUserMember && !nineStepDone) || (openPdf && !nineStepDone)"
                disableRipple="true"
                [label]="'PDF' | translate"
                [completed]="nineStepDone"
                [stepControl]="nineFormGroup"
              >
                <fieldset style="margin-top: 20px !important">
                  <ms-pdf-aggrement
                    [isUserCRM]="isUserCRM"
                    [isUserMentor]="isUserMentor"
                    [isUserStudent]="isUserStudent"
                    [isUserMember]="isUserMember"
                    [internshipId]="internshipId"
                  ></ms-pdf-aggrement>
                </fieldset>
              </mat-step>

              <mat-step
                *ngIf="(!isUserStudent && !isUserMentor && !isUserMember && nineStepDone) || (openPdf && nineStepDone)"
                state="done"
                disableRipple="true"
                [label]="'PDF' | translate"
                [completed]="nineStepDone"
              >
                <fieldset style="margin-top: 20px !important">
                  <ms-pdf-aggrement
                    [isUserCRM]="isUserCRM"
                    [isUserMentor]="isUserMentor"
                    [isUserStudent]="isUserStudent"
                    [isUserMember]="isUserMember"
                    [internshipId]="internshipId"
                  ></ms-pdf-aggrement>
                </fieldset>
              </mat-step>

              <!-- <mat-step disableRipple="true" [completed]="nineStepDone" [label]="'Confirmation' | translate" [stepControl]="nineFormGroup">
                <fieldset style="margin-top: 20px !important">
                  <ms-eighth-step-aggrement></ms-eighth-step-aggrement>
                </fieldset>
              </mat-step> -->

              <mat-step *ngIf="openAmendment" disableRipple="true" [label]="'Amendment' | translate">
                <fieldset style="margin-top: 20px !important">
                  <ms-amendment-step-aggrement [internshipId]="internshipId"></ms-amendment-step-aggrement>
                </fieldset>
              </mat-step>
              <!-- <mat-step
                *ngIf="tenStepDone && openAmendment"
                disableRipple="true"
                [completed]="tenStepDone"
                [label]="'Amendment' | translate"
                [stepControl]="tenFormGroup"
              >
                <fieldset style="margin-top: 20px !important">
                  <ms-amendment-step-aggrement [internshipId]="internshipId"></ms-amendment-step-aggrement>
                </fieldset>
              </mat-step> -->
              <ng-template matStepperIcon="done">
                <mat-icon>done</mat-icon>
              </ng-template>
              <ng-template matStepperIcon="1">1 </ng-template>
              <ng-template matStepperIcon="2">2 </ng-template>
              <ng-template matStepperIcon="3">3 </ng-template>
              <ng-template matStepperIcon="4">4 </ng-template>
              <ng-template matStepperIcon="5">5 </ng-template>
              <ng-template matStepperIcon="6">6 </ng-template>
              <ng-template matStepperIcon="7">7 </ng-template>
              <ng-template matStepperIcon="8">8 </ng-template>
              <ng-template matStepperIcon="9">9 </ng-template>
              <ng-template matStepperIcon="10">10 </ng-template>
            </mat-horizontal-stepper>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
