@import '~assets/scss/theme/admtc.variables';
@import '~assets/scss/theme/admtc';

.overflow-auto {
  overflow: auto;
}

.commentaries-card {
  margin-top: 16px !important;
  min-height: 280px;
}

.pad-top {
  padding-top: 3px;
}

.avatar {
  width: 60px;
  border-radius: 50%;
}
.student-details-img {
  border-radius: 50%;
}

.comment-section {
  border: 1px solid #607d8b;
  background: #303030;
  color: white;
}
:host::ng-deep.ck.ck-content {
  padding-right: 65px;
}
:host::ng-deep.ck.ck-toolbar {
  border: none;
}
:host::ng-deep.ck-editor__editable_inline {
  min-height: 50px;
  border: 1px solid #ffffff;
  background: #ffffff6e !important;
  color: #242424 !important;
}

.comment-message {
  .message-body {
    ::ng-deep.mention {
      color: deepskyblue !important;
    }
  } 
}
