<div class="top-space">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- ROW RESET START -->
    <ng-container matColumnDef="reset">
      <th mat-header-cell *matHeaderCellDef colspan="100%" class="action-header-column text-right">
        <div class="p-grid">
          <div class="p-col-12 text-right">
            <button
              matTooltip="{{ 'Action' | translate }} "
              mat-raised-button
              color="accent"
              [disabled]="isWaitingForResponse"
              [matMenuTriggerFor]="action"
            >
              {{ 'Action' | translate }}
              <mat-icon>expand_more</mat-icon>
            </button>
            <mat-menu #action="matMenu" class="action-dropdown-button-above-table">
              <button mat-menu-item (click)="onAddSite()" matTooltip="{{ 'INTAKE_CHANNEL.Add new site' | translate }}" *ngIf="permissionService.addSitePerm()">
                {{ 'INTAKE_CHANNEL.Add new site' | translate }}
              </button>
            </mat-menu>
            <button
              style="padding: 0px 7px !important"
              [disabled]="isWaitingForResponse"
              mat-raised-button
              color="primary"
              matTooltip="{{ 'Export' | translate }}"
              (click)="getAllIdForCheckbox(0)"
              *ngIf="isOperator"
            >
              <mat-icon svgIcon="file-excel" class="mat-icon-svgIcon"> </mat-icon>
              {{ 'Export' | translate }}
            </button>
            <button
              mat-raised-button
              color="primary"
              (click)="resetTable()"
              [disabled]="isWaitingForResponse"
              matTooltip="{{ 'RESET' | translate }}"
              *ngIf="permissionService.resetSitePerm()"
            >
              <mat-icon svgIcon="loop" class="mat-icon-svgIcon"></mat-icon>
              {{ 'RESET' | translate }}
            </button>
          </div>
        </div>
      </th>
    </ng-container>
    <!-- ROW RESET END -->
    <!---ROW FILTER START-->
    <!---ROW FILTER END-->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef class="text-center">
        <mat-checkbox
          (change)="$event ? masterToggle() : null"
          (change)="showOptions('all', '')"
          [checked]="(selection.hasValue() && isAllSelected()) || isCheckedAll"
          [indeterminate]="selection.hasValue() && (dataUnselect?.length > 0 || !isAllSelected())"
          [aria-label]="checkboxLabel()"
        >
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row" class="text-center">
        <mat-checkbox
          (click)="$event.stopPropagation()"
          (change)="$event ? selection.toggle(row._id) : null"
          [checked]="selection.isSelected(row._id) || (isCheckedAll && !dataUnselect?.includes(row?._id))"
          (change)="showOptions('one', row)"
          [aria-label]="checkboxLabel(row)"
        >
        </mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef matTooltip="{{ 'INTAKE_CHANNEL.Name' | translate }}" matTooltipPosition="above">
        <h5 style="text-align: center !important">
          {{ 'INTAKE_CHANNEL.Name' | translate }}
        </h5>
      </th>
      <td mat-cell *matCellDef="let element" matTooltip="{{ element?.name }}">
        {{ element?.name }}
      </td>
    </ng-container>

    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef matTooltip="{{ 'INTAKE_CHANNEL.Address' | translate }}" matTooltipPosition="above">
        <h5 style="text-align: center !important">
          {{ 'INTAKE_CHANNEL.Address' | translate }}
        </h5>
      </th>
      <td mat-cell *matCellDef="let element" matTooltip="{{ element?.address }}">
        {{ element?.address }}
      </td>
    </ng-container>

    <ng-container matColumnDef="zip_code">
      <th mat-header-cell *matHeaderCellDef matTooltip="{{ 'INTAKE_CHANNEL.Postal code' | translate }}" matTooltipPosition="above">
        <h5 style="text-align: center !important">
          {{ 'INTAKE_CHANNEL.Postal code' | translate }}
        </h5>
      </th>
      <td mat-cell *matCellDef="let element" matTooltip="{{ element?.zip_code }}">
        {{ element?.zip_code }}
      </td>
    </ng-container>

    <ng-container matColumnDef="city">
      <th mat-header-cell *matHeaderCellDef matTooltip="{{ 'INTAKE_CHANNEL.City' | translate }}" matTooltipPosition="above">
        <h5 style="text-align: center !important">
          {{ 'INTAKE_CHANNEL.City' | translate }}
        </h5>
      </th>
      <td mat-cell *matCellDef="let element" matTooltip="{{ element?.city }}">
        {{ element?.city }}
      </td>
    </ng-container>

    <ng-container matColumnDef="country">
      <th mat-header-cell *matHeaderCellDef matTooltip="{{ 'INTAKE_CHANNEL.Country' | translate }}" matTooltipPosition="above">
        <h5 style="text-align: center !important">
          {{ 'INTAKE_CHANNEL.Country' | translate }}
        </h5>
      </th>
      <td mat-cell *matCellDef="let element" matTooltip="{{ element?.country }}">
        {{ element?.country }}
      </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef matTooltip="{{ 'Action' | translate }}" matTooltipPosition="above">
        <h5 style="text-align: center !important">
          {{ 'Action' | translate }}
        </h5>
      </th>
      <td mat-cell *matCellDef="let element">
        <button
          mat-icon-button
          *ngIf="permissionService?.editSitePerm()"
          class="margin-right-button"
          matTooltip="{{ 'INTAKE_CHANNEL.Edit' | translate }}"
          (click)="onEditSite(element)"
          [disabled]="dataSelected && dataSelected.length > 0"
        >
          <mat-icon svgIcon="pencil"> </mat-icon>
        </button>
        <button
          mat-icon-button
          *ngIf="permissionService?.deleteSitePerm()"
          class="margin-right-button"
          matTooltip="{{ 'INTAKE_CHANNEL.Delete' | translate }}"
          (click)="onDeleteSite(element)"
          [disabled]="dataSelected && dataSelected.length > 0"
        >
          <mat-icon> delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="loading">
      <th mat-header-cell *matHeaderCellDef colspan="100%" style="text-align: center !important">
        <div class="center-spinner">
          <mat-spinner color="accent"></mat-spinner>
        </div>
      </th>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['reset']"></tr>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-header-row *matHeaderRowDef="['loading']" [hidden]="!isWaitingForResponse"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns" [hidden]="isWaitingForResponse"></tr>
  </table>
  <div *ngIf="noData | async" class="no-records">
    {{ 'NOT RECORD FOUND' | translate }}
  </div>
  <div [ngClass]="{ hide: noData | async }">
    <mat-paginator
      [ngClass]="{ 'hide-pagination-buttons': paginator.length <= 10 }"
      [length]="dataCount"
      [hidePageSize]="true"
      [pageSize]="[10]"
      showFirstLastButtons
    ></mat-paginator>
  </div>
</div>

<div *ngIf="isLoading" class="loading-indicator">
  <mat-progress-spinner mode="indeterminate" color="accent"></mat-progress-spinner>
</div>
