<div class="dialog-border" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
  <div class="dialogTitleWrapper">
    <div class="p-grid">
      <div class="w-30 no-padding">
        <mat-icon style="vertical-align: middle">add</mat-icon>
      </div>
      <div class="p-col-10 acad-title">
        <h3 class="dialogTitle">
          {{ 'Add Profile Rate' | translate }}
        </h3>
      </div>
      <div class="w-65 no-padding">
        <button mat-icon-button class="close-icon float-right" mat-dialog-close tabindex="-1">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
<form [formGroup]="identityForm">
  <div class="fontColor">
    <mat-dialog-content>
      <div class="p-grid">
        <div class="p-col-12 no-padding">
          <div class="p-grid">
            <div class="p-col-fixed center-label no-padding-left label-align" style="width: 140px">
              <label>{{ 'Profile rate' | translate }}</label>
            </div>
            <div class="p-col no-padding">
              <mat-form-field floatLabel="never">
                <input matInput formControlName="name" type="text" placeholder="{{ 'Profile rate' | translate }}" />
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
      <div class="p-grid">
        <div class="p-col-12 no-padding">
          <div class="p-grid">
            <div class="p-col-fixed center-label no-padding-left label-align" style="width: 140px">
              <label>{{ 'Description' | translate }}</label>
            </div>
            <div class="p-col no-padding">
              <mat-form-field floatLabel="never">
                <textarea matInput placeholder="{{ 'Description' | translate }}" formControlName="description"></textarea>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
      <div class="p-grid">
        <div class="p-col-12 no-padding">
          <div class="p-grid">
            <div class="p-col-fixed center-label no-padding-left label-align">
              <label>{{ 'Select payment mode for this profil rate' | translate }}</label>
            </div>
          </div>
        </div>
      </div>

      <div class="width-card" *ngFor="let level of dummyData; let indexLevel = index">
        <div
          class="card"
          [ngClass]="{
            'card-selected': level.status
          }"
          (click)="selectedWhoCall(indexLevel)"
        >
          <div class="name-who">
            <h5 class="dialogTitles">{{ level.name }}</h5>
          </div>
        </div>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions align="right">
      <button mat-raised-button type="button" color="warn" mat-dialog-close>{{ 'CANCEL' | translate }}</button>
      <button mat-raised-button color="primary" (click)="submitVerification()">{{ 'Validate' | translate }}</button>
    </mat-dialog-actions>
  </div>
</form>
