<div class="p-grid" style="margin-bottom: 5px; border-bottom: 1px solid #4e4e4e">
  <div class="p-col-12" style="padding-left: 10px">
    <div style="width: 20px; float: left; padding: 4px 0px 0px 0px; margin-right: 10px">
      <span><mat-icon style="font-size: 16px">cloud_upload</mat-icon></span>
    </div>
    <div>
      <span class="titleImport">{{ 'Import of Finance Objectives' | translate }}</span>
    </div>
  </div>
</div>
<div class="p-grid">
  <div class="p-col-12" style="padding-left: 0px; padding-right: 0px">
    <!-- <ng-container *ngIf="isWaitingForResponse"> -->
    <div *ngIf="isWaitingForResponse" class="p-col-12" style="text-align: center !important; display: contents">
      <div class="center-spinner spinner-wrapper">
        <mat-spinner color="accent"></mat-spinner>
      </div>
    </div>
    <!-- </ng-container> -->

    <mat-card>
      <form [formGroup]="importForm">
        <div class="p-grid">
          <div class="p-col-7">
            <div class="p-grid baseline">
              <mat-label style="width: 25%">{{ 'CARDDETAIL.Scholar Season' | translate }}</mat-label>
              <ng-select
                style="width: 75%"
                class="mrgn-btn custom-ngselect-dropdown"
                [items]="scholars"
                bindLabel="scholar_season"
                bindValue="_id"
                [multiple]="true"
                [hideSelected]="true"
                placeholder="{{ 'CARDDETAIL.Scholar Season' | translate }}*"
                clearAllText="Clear"
                formControlName="scholarSeasons"
                (change)="getDataSchool()"
              >
              </ng-select>
              <div style="width: 25%"></div>
              <mat-error
              style="margin-bottom: 10px; margin-top: 10px"
              *ngIf="
                importForm.get('scholarSeasons').errors &&
                (importForm.get('scholarSeasons').dirty || importForm.get('scholarSeasons').touched)
              "
              >{{ 'This field is required' | translate }}</mat-error
              >
            </div>
          </div>
        </div>

        <div class="p-grid">
          <div class="p-col-7">
            <div class="p-grid baseline">
              <mat-label style="width: 25%">{{ 'School' | translate }}</mat-label>
              <ng-select
                style="width: 75%"
                class="mrgn-btn custom-ngselect-dropdown"
                [items]="school"
                bindLabel="short_name"
                bindValue="_id"
                [multiple]="true"
                [hideSelected]="true"
                placeholder="{{ 'School' | translate }}*"
                clearAllText="Clear"
                formControlName="schools"
                (change)="getDataCampus()"
                [disabled]="isSchoolOn"
              >
              </ng-select>
              <div style="width: 25%"></div>
              <mat-error
                style="margin-bottom: 10px; margin-top: 10px"
                *ngIf="importForm.get('schools').errors && (importForm.get('schools').dirty || importForm.get('schools').touched)"
                >{{ 'This field is required' | translate }}</mat-error
              >
            </div>
          </div>
        </div>

        <div class="p-grid">
          <div class="p-col-7">
            <div class="p-grid baseline">
              <mat-label style="width: 25%">{{ 'Campus' | translate }}</mat-label>
              <ng-select
                style="width: 75%"
                class="mrgn-btn custom-ngselect-dropdown"
                [items]="campusList"
                bindLabel="name"
                bindValue="_id"
                [multiple]="true"
                [hideSelected]="true"
                placeholder="{{ 'Campus' | translate }}*"
                clearAllText="Clear"
                formControlName="campuses"
                (change)="getDataLevel()"
                [disabled]="!isCampusOn"
              >
              </ng-select>
              <div style="width: 25%"></div>
              <mat-error
                style="margin-bottom: 10px; margin-top: 10px"
                *ngIf="importForm.get('campuses').errors && (importForm.get('campuses').dirty || importForm.get('campuses').touched)"
                >{{ 'This field is required' | translate }}</mat-error
              >
            </div>
          </div>
        </div>

        <div class="p-grid">
          <div class="p-col-7">
            <div class="p-grid baseline">
              <mat-label style="width: 25%">{{ 'Level' | translate }}</mat-label>
              <ng-select
                style="width: 75%"
                class="mrgn-btn custom-ngselect-dropdown"
                [items]="levels"
                bindLabel="name"
                bindValue="_id"
                [multiple]="true"
                [hideSelected]="true"
                placeholder="{{ 'Level' | translate }}*"
                clearAllText="Clear"
                formControlName="levels"
                (change)="getSectors()"
                [disabled]="!isLevelOn"
              >
              </ng-select>
              <div style="width: 25%"></div>
              <mat-error
                style="margin-bottom: 10px; margin-top: 10px"
                *ngIf="importForm.get('levels').errors && (importForm.get('levels').dirty || importForm.get('levels').touched)"
                >{{ 'This field is required' | translate }}</mat-error
              >
            </div>
          </div>
        </div>

        <div class="p-grid">
          <div class="p-col-7">
            <div class="p-grid baseline">
              <mat-label style="width: 25%">{{ 'Sector' | translate }}</mat-label>
              <ng-select
                style="width: 75%"
                class="mrgn-btn custom-ngselect-dropdown"
                [items]="sectorList"
                bindLabel="name"
                bindValue="_id"
                [multiple]="true"
                [hideSelected]="true"
                placeholder="{{ 'Sector' | translate }}*"
                clearAllText="Clear"
                formControlName="sectors"
                (change)="getSpeciality()"
                [disabled]="!isSectorsOn"
                (clear)="clearSpeciality()"
              >
              </ng-select>
              <div style="width: 25%"></div>
              <mat-error
                style="margin-bottom: 10px; margin-top: 10px"
                *ngIf="importForm.get('sectors').errors && (importForm.get('sectors').dirty || importForm.get('sectors').touched)"
                >{{ 'This field is required' | translate }}</mat-error
              >
            </div>
          </div>
        </div>

        <div class="p-grid">
          <div class="p-col-7">
            <div class="p-grid baseline">
              <mat-label style="width: 25%">{{ 'Speciality' | translate }}</mat-label>
              <ng-select
                *ngIf="originalListSpeciality?.length == 0"
                style="width: 75%"
                class="mrgn-btn custom-ngselect-dropdown"
                [items]="specialityList"
                bindLabel="name"
                bindValue="_id"
                [multiple]="true"
                [hideSelected]="true"
                placeholder="{{ 'Speciality' | translate }}"
                clearAllText="Clear"
                formControlName="specialities"
                (change)="getDataDelimeter()"
                [disabled]="!isSpecialityOn"
              >
              </ng-select>
              <ng-select
                *ngIf="originalListSpeciality?.length > 0"
                style="width: 75%"
                class="mrgn-btn custom-ngselect-dropdown"
                [items]="specialityList"
                bindLabel="name"
                bindValue="_id"
                [multiple]="true"
                [hideSelected]="true"
                placeholder="{{ 'Speciality' | translate }}"
                clearAllText="Clear"
                formControlName="specialities"
                (change)="getDataDelimeter()"
                [disabled]="!isSpecialityOn"
              >
              </ng-select>
            </div>
          </div>
        </div>

        <div class="p-grid">
          <div class="p-col-7">
            <div class="p-grid baseline">
              <mat-label style="width: 25%">{{ 'DELIMETER.title' | translate }}</mat-label>
              <mat-form-field style="width: 75%" floatLabel="never">
                <mat-select [disabled]="!isDelimeterOn" formControlName="delimiter" class="full-width" [disableOptionCentering]="true" panelClass="filterPanel custom-matselect-dropdown">
                  <mat-option *ngFor="let deli of delimeter" [value]="deli.value">
                    {{ deli.key }}
                  </mat-option>
                </mat-select>
                <mat-error>{{ 'This field is required' | translate }}</mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="p-grid">
          <div class="p-col-7" style="float: left">
            <div class="p-col-8" style="padding: 0.5em 0px; float: left">
              <label>{{ 'DOWNLOAD_TEMPLATE' | translate }}</label>
            </div>
            <div class="p-col-4" style="padding: 0px; float: left; text-align: right">
              <button
                style="width: 200px"
                [disabled]="importForm.invalid || isWaitingForResponse"
                mat-raised-button
                color="accent"
                (click)="csvTypeSelection()"
                class="margin-right-0"
              >
                <mat-icon class="mat-icon-default">cloud_download</mat-icon>
                {{ 'DOWNLOAD_TEMPLATE' | translate }}
              </button>
            </div>
          </div>
        </div>

        <div class="p-grid">
          <div class="p-col-7" style="float: left">
            <div class="p-col-3" style="padding: 0.5em 0px; float: left">
              <label>{{ 'DATA_FILE' | translate }}</label>
            </div>
            <div class="p-col-5" style="padding: 0.5em 0px; float: left">
              <span>{{ fileName }}</span>
            </div>
            <div class="p-col-4" style="padding: 0px; float: left; text-align: right">
              <input
                #importFile
                style="display: none"
                type="file"
                accept=".csv, .tsv"
                disableMultipart="true"
                (change)="handleInputChange($event)"
              />
              <button
                [disabled]="importForm.invalid || isWaitingForResponse || !templateDonwloaded"
                mat-raised-button
                color="accent"
                (click)="openUploadWindow()"
                class="margin-right-0"
                style="width: 200px"
              >
                <mat-icon class="mat-icon-default">cloud_upload</mat-icon>
                {{ 'Import Objectives' | translate }}
              </button>
            </div>
          </div>
        </div>
      </form>
    </mat-card>
  </div>
</div>
<div class="p-grid mrgn-t-sm">
  <div class="p-col-12" style="text-align: right; padding: 0px">
    <button mat-raised-button color="warn" (click)="resetImport()">
      <mat-icon class="mat-icon-default">cancel</mat-icon>
      {{ 'CANCEL' | translate }}
    </button>
    <button
      mat-raised-button
      color="primary"
      [disabled]="isWaitingForResponse"
      (click)="resetImport()"
      matTooltip="{{ 'Reset Filter' | translate }} "
    >
      <mat-icon svgIcon="loop" class="mat-icon-svgIcon"></mat-icon>
      {{ 'RESET' | translate }}
    </button>
    <button
      mat-raised-button
      color="accent"
      [disabled]="isWaitingForResponse || !importForm.valid || !file"
      (click)="submitImport()"
      class="margin-right-0"
      *ngIf="permission.editImportObjectiveFinance()"
    >
      <mat-icon class="mat-icon-default">cloud_upload</mat-icon>
      {{ 'Save the import' | translate }}
    </button>
  </div>
</div>

<div
  *ngIf="isWaitingForResponse || isDataForListLoading || specializationDataLoading || isSectorsDataLoading || downloadTemplateLoading"
  class="loading-indicator"
>
  <mat-progress-spinner mode="indeterminate" color="accent"></mat-progress-spinner>
</div>
