<div class="gene-registerV2" style="padding-top: 3.8rem !important; background-image: none !important">
  <div fxLayout="row" fxLayoutAlign="center start">
    <div
      *ngIf="showSessionSlider"
      fxLayout="column"
      fxFlex="100"
      fxFlex.xs="97"
      fxFlex.sm="80"
      fxFlex.md="95"
      fxFlex.lg="97"
      fxFlex.xl="60"
    >
      <div
        fxLayout="row wrap"
        fxLayoutAlign="center stretch"
        class="height-full pad-t-xl pad-b-xl form-wrap-row set-resp-space"
        fxLayoutGap.gt-md="15px"
      >
        <div fxLayout="column" fxFlex="100" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="24" fxFlex.lg="24" fxFlex.xl="24" fxHide.lt-md>
          <div class="height-full full-wid">
            <div fxLayout="column" class="height-full full-wid" style="place-content: normal !important">
              <ngx-slick-carousel
                [config]="slideConfig"
                class="carousel full-wid"
                [style.height.px]="getAutomaticHeight()"
                #slickModal="slick-carousel"
              >
                <div ngxSlickItem *ngFor="let slide of sessionSlider">
                  <div class="session-slider overlay-wrap full-wid" [style.height.px]="getAutomaticHeight()">
                    <div
                      class="slider-bg-img full-wid"
                      [ngStyle]="{
                        'background-image': 'url(' + slide.image_upload + ')'
                      }"
                    ></div>
                    <!-- <div
                      class="slider-bg-img full-wid"
                      [ngStyle]="{
                        'background-image': 'url(' + serverimgPath + slide.image_upload + ')'
                      }"
                    ></div> -->
                    <div class="overlay-content" fxLayoutAlign="start end">
                      <div class="content-wrap">
                        <div class="sec-title">
                          <h5 class="text-inverse" innerHTML="{{ slide.title }}"></h5>
                          <span class="text-inverse" innerHTML="{{ slide.sub_title }}"></span>
                        </div>
                        <div class="sec-content">
                          <p class="text-inverse" innerHTML="{{ slide.story }}"></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ngx-slick-carousel>
            </div>
          </div>
        </div>
        <div fxLayout="column" fxFlex="100" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="74" fxFlex.lg="74" fxFlex.xl="74">
          <mat-card
            class="gene-registerV2-wrap"
            [style.min-height.px]="getAutomaticHeight()"
            style="border: 1px solid #eeeeee; padding: 20px 0px"
          >
            <div class="row title-registration">
              {{'Job Offer Creation' | translate}}
            </div>
            <div class="row sub-title-registration">
              {{ dataStepOne ? generateData() : ''}}
            </div>
            <ms-language-drop-down></ms-language-drop-down>
            <mat-horizontal-stepper [linear]="isLinear" (selectionChange)="selectionChange($event)" #stepperForm [selectedIndex]="selectedIndex">
        
              <mat-step *ngIf="!firstStepDone" disableRipple="true" [completed]="firstStepDone" [label]="'Internship Context' | translate" [stepControl]="firstFormGroup">
                <fieldset style="margin-top: 20px !important">
                  <ms-first-step-job-offer></ms-first-step-job-offer>
                </fieldset>
              </mat-step>
              <mat-step *ngIf="firstStepDone" state="done" disableRipple="true" [completed]="firstStepDone" [label]="'Internship Context' | translate" [stepControl]="firstFormGroup">
                <fieldset style="margin-top: 20px !important">
                  <ms-first-step-job-offer></ms-first-step-job-offer>
                </fieldset>
              </mat-step>
      
              <mat-step *ngIf="!secondStepDone" disableRipple="true" [completed]="secondStepDone" [label]="'Offer in details' | translate" [stepControl]="secondFormGroup">
                <fieldset style="margin-top: 20px !important">
                  <ms-second-step-job-offer></ms-second-step-job-offer>
                </fieldset>
              </mat-step>
              <mat-step *ngIf="secondStepDone" disableRipple="true" state="done" [completed]="secondStepDone" [label]="'Offer in details' | translate" [stepControl]="secondFormGroup">
                <fieldset style="margin-top: 20px !important">
                  <ms-second-step-job-offer></ms-second-step-job-offer>
                </fieldset>
              </mat-step>

              <mat-step *ngIf="!thirdStepDone" disableRipple="true" [completed]="thirdStepDone" [label]="'Question to ask to Candidate' | translate" [stepControl]="thirdFormGroup">
                <fieldset style="margin-top: 20px !important">
                  <ms-third-step-job-offer></ms-third-step-job-offer>
                </fieldset>
              </mat-step>
              <mat-step *ngIf="thirdStepDone" disableRipple="true" state="done" [completed]="thirdStepDone" [label]="'Question to ask to Candidate' | translate" [stepControl]="thirdFormGroup">
                <fieldset style="margin-top: 20px !important">
                  <ms-third-step-job-offer></ms-third-step-job-offer>
                </fieldset>
              </mat-step>

              <mat-step *ngIf="!fourthStepDone" disableRipple="true" [completed]="fourthStepDone" [label]="'Confirmation' | translate" [stepControl]="fourthFormGroup">
                <fieldset style="margin-top: 20px !important">
                  <ms-fourth-step-job-offer></ms-fourth-step-job-offer>
                </fieldset>
              </mat-step>
              <mat-step *ngIf="fourthStepDone" disableRipple="true" state="done" [completed]="fourthStepDone" [label]="'Confirmation' | translate" [stepControl]="fourthFormGroup">
                <fieldset style="margin-top: 20px !important">
                  <ms-fourth-step-job-offer></ms-fourth-step-job-offer>
                </fieldset>
              </mat-step>
              <ng-template matStepperIcon="done">
                <mat-icon>done</mat-icon>
              </ng-template>
            </mat-horizontal-stepper>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
