<div class="dialog-border">
  <div class="dialogTitleWrapper">
    <div class="p-grid">
      <div class="w-30 no-padding">
        <mat-icon style="vertical-align: middle">
          <svg style="width: 24px; height: 24px" viewBox="0 0 24 24">
            <path
              fill="currentColor"
              d="M9,10H7V12H9V10M13,10H11V12H13V10M17,10H15V12H17V10M19,3H18V1H16V3H8V1H6V3H5C3.89,3 3,3.9 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5A2,2 0 0,0 19,3M19,19H5V8H19V19Z"
            />
          </svg>
        </mat-icon>
      </div>
      <div class="p-col-10 acad-title">
        <h3 class="dialogTitle">{{ 'Assign date to multiple cursus for the school' | translate }}</h3>
      </div>
      <div class="w-65 no-padding">
        <button mat-icon-button class="close-icon float-right" mat-dialog-close tabindex="-1">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>

<div>
  <div class="fontColor">
    <mat-dialog-content>
      <div class="p-grid" style="padding-top: 1rem">
        <div class="p-col-12 no-padding">
          <div class="p-grid">
            <div class="p-col-4 no-padding" style="width: 100px">
              <p class="label-center">{{ 'Due date' | translate }} :</p>
            </div>
            <div class="p-col-fixed no-padding" style="width: 130px">
              <mat-form-field color="accent">
                <input
                  required
                  matInput
                  [min]="today"
                  [matDatepicker]="intern"
                  [formControl]="internshipDate"
                  (dateInput)="updateDate($event, 'intern')"
                  (click)="intern.open()"
                  readonly
                />
                <mat-datepicker-toggle matSuffix [for]="intern" style="margin-right: 5px"></mat-datepicker-toggle>
                <mat-datepicker #intern></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
          <div class="p-grid">
            <div class="p-col-12 no-padding dblock">
              <div class="class-scholar">
                <ng-select
                  [appendTo]="'body'"
                  class="mrgn-btn"
                  [appendTo]="'body'"
                  [items]="campusList"
                  [multiple]="false"
                  placeholder="{{ 'Campus' | translate }}"
                  [formControl]="formCampus"
                  (change)="selectCampus($event)"
                >
                </ng-select>
              </div>
            </div>
          </div>
          <div class="p-grid">
            <div class="p-col-12">
              <span class="section-campus" *ngFor="let campuses of selectedCampusList; index as i">
                <span class="text-title">{{ campuses }}</span>
                <span class="delete-icon" (click)="deleteCampus(i)"><mat-icon class="delete">close</mat-icon></span>
              </span>
            </div>
          </div>
          <div class="p-grid">
            <div class="p-col-12 no-padding dblock">
              <div class="class-scholar">
                <ng-select
                  [appendTo]="'body'"
                  class="mrgn-btn"
                  [appendTo]="'body'"
                  [items]="levelList"
                  [multiple]="false"
                  placeholder="{{ 'Level' | translate }}"
                  [formControl]="formLevel"
                  (change)="selectLevel($event)"
                >
                </ng-select>
              </div>
            </div>
          </div>
          <div class="p-grid">
            <div class="p-col-12">
              <span class="section-level" *ngFor="let levels of selectedLevelList; index as i">
                <span class="text-title">{{ levels }}</span>
                <span class="delete-icon" (click)="deleteLevel(i)"><mat-icon class="delete">close</mat-icon></span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions align="right">
      <button mat-raised-button type="button" color="warn" mat-dialog-close>{{ 'CANCEL' | translate }}</button>
      <button mat-raised-button color="primary">{{ 'Submit' | translate }}</button>
    </mat-dialog-actions>
  </div>
</div>
