.form-upload {
  display: flex;
  align-items: center;
  p {
    margin: 0;
  }
  button {
    margin-left: 1rem;
  }
}

.header-text {
  margin-left: 5px;
}

p {
  margin: 0;
}

section {
  padding: 1rem;
}
:host ::ng-deep .mat-form-field {
  top: -15px;
}

.head {
  margin-top: 1rem;
}

.row {
  margin-top: -32px;
}

.error {
  color: red;
}
.valid {
  color: black !important;
}
.mat-dialog-actions {
  padding: 1rem;
  border-top: 0.1px solid rgba($color: #000000, $alpha: 0.1);
}

.document-info {
  border: 2px solid #e0e0e0;
  width: auto;
  margin-left: 8px;
  background: #fafafa;
  padding-top: 7px;
  padding-bottom: 0px;

  .mat-icon {
    display: inline-block;
  }
  .document-name {
    font-size: 0.9rem;
    color: rgba($color: #000000, $alpha: 0.8);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 500px !important;
    display: inline-block;
  }
}

::ng-deep.filterPanel {
  margin-top: 28px !important;
}

::ng-deep.custom-matselect-dropdown.mat-select-panel {
  max-width: fit-content !important;
}
:host::ng-deep {
  span.mat-checkbox-inner-container.mat-checkbox-inner-container-no-side-margin {
    border-radius: 50% !important;
    border: 2px solid #757575;
  }
  span.mat-checkbox-background {
    border-radius: 50% !important;
    border: 2px solid #ffffff;
  }
  path.mat-checkbox-checkmark-path {
    stroke: #ffd740!important;
  }
}

.pb-2{
  padding-bottom: 2px;
}

:host::ng-deep.mat-radio-outer-circle {
  border-color: rgba(0, 0, 0, 0.54) !important;
}
:host::ng-deep.mat-form-field-underline {
  background-color: rgba(0, 0, 0, 0.12) !important;
}

div.input-siret {
  padding-top: 0;
  padding-bottom: 0;
}

div.verify-siret {
  padding-top: 0;
  padding-bottom: 0px;
}