<mat-tab-group #templateMatGroup [(selectedIndex)]="selectedIndex">
  <mat-tab label="templateFormDetail">
    <ng-template mat-tab-label>
      <h5>{{ 'FORM_BUILDER.Form Template Detail' | translate }}</h5>
    </ng-template>
    <ng-template matTabContent>
      <ms-form-template-step-detail
        [templateId]="templateId"
        [templateType]="templateType"
        [isPublished]="isPublished"
        (routeTabIndex)="goToTabStep($event)"
        (finalValidation)="getFinalValidation($event)"
      ></ms-form-template-step-detail>
    </ng-template>
  </mat-tab>

  <ng-container *ngIf="listOfSteps && listOfSteps.length > 0">
    <mat-tab class="white-tabs" *ngFor="let step of listOfSteps; let stepIndex = index">
      <ng-template mat-tab-label>
        <h5>
          {{ step?.step_title }}
        </h5>
      </ng-template>
      <ng-template matTabContent>
        <ms-steps-details-tabs
          [step]="step"
          [templateId]="templateId"
          [stepIndex]="stepIndex"
          [isPublished]="isPublished"
          [templateType]="templateType"
          [takenUniqueStep]="takenUniqueStep"
          [finalValidation]="finalValidation"
          (refetchContractTemplateData)="fetchContractTemplateData()"
        ></ms-steps-details-tabs>
      </ng-template>
    </mat-tab>
  </ng-container>

<ng-container>
  <mat-tab label="contractTemplate" *ngIf="templateId && showContractSignatory()">
    <ng-template mat-tab-label>
      <h5>
        {{ 'ERP_009_TEACHER_CONTRACT.Contract Template' | translate }}
      </h5>
    </ng-template>
    <ng-template matTabContent>
      <ms-contract-template-step-detail
        #contractTemplate
        [templateId]="templateId"
        [isPublished]="isPublished"
      ></ms-contract-template-step-detail>
    </ng-template>
  </mat-tab>
</ng-container>
</mat-tab-group>