@import '~assets/scss/theme/admtc.variables';
@import '~assets/scss/theme/admtc';

:host ::ng-deep table {
  tr {
    th {
      &:nth-child(1) {
        text-align: center !important;
      }
    }
    td,
    th {
      border-right: 1px solid $grey;
      td {
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 0;
        white-space: nowrap;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
      }

      th {
        vertical-align: top;
        .mat-form-field-infix {
          width: unset !important;
        }
      }
      &:nth-child(1) {
        th {
          padding-top: 0.9em;
        }
      }
    }
  }
  thead tr {
    &:nth-child(1) {
      background: $light-black;
      height: 35px;
      border-top: 4px solid #607d8b;
      border-left: 4px solid #607d8b;
      border-right: 4px solid #607d8b;
      th {
        color: $white;
      }
    }
  }
}
.group {
  .group-content {
    margin-top: 10px !important;
  }
  .group-above {
    margin-top: 20px !important;
  }
  .align-right {
    text-align: right;
  }
  .table-class,
  .table-group {
    display: inline-block;
    width: 50% !important;
    text-align: left !important;
  }
  .mat-card {
    background-color: $dark-blue;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  .mat-card-title {
    font-size: 18px;
    border-bottom: 1px solid;
  }
  .text-center {
    align-self: center;
    text-align: left !important;
    width: 185px !important;
  }
}
.mat-input-element {
  caret-color: black;
}
.title-group {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;  
  width: 100px;
  margin-right: 10px !important;
}
:host::ng-deep .filterPanel.mat-select-panel {
  max-width: fit-content !important;
  margin-top: 32px !important;
}
