@import '~assets/scss/theme/admtc.variables';
@import '~assets/scss/theme/admtc';

.mrgn-btn {
  margin-bottom: 15px;
}

.icon-style {
  vertical-align: middle;
  margin-right: 1rem;
  cursor: pointer;
}

.dialogTitle {
  display: inline-block;
}

.dialogTitleWrapper {
  color: black;
}
.bg-orange {
  background-color: yellow;
}
.bg-orange-pending {
  background-color: #eaa11c !important;
}

.header-dialog {
  margin-top: 15px;
  padding: 0 5px 0 15px;
}
.text {
  width: 200px;
  display: inline-block;
  padding: 8px;
  border: 1px solid black;
  border-right: none;
  border-bottom: none;
}
.text-value {
  width: 115px;
  display: inline-block;
  padding: 8px;
  border: 1px solid black;
  text-align: right;
  border-bottom: none;
}
.dialog-border {
  border-bottom: 1px solid black;
  margin-bottom: 15px;
}
:host::ng-deep.mat-radio-outer-circle {
  border-color: rgba(0, 0, 0, 0.54) !important;
}
:host::ng-deep.mat-form-field-underline {
  background-color: rgba(0, 0, 0, 0.12) !important;
}
.acad-title {
  padding: 0px;
  margin-right: 25px;
}
.w-30 {
  padding-top: 4px !important;
  margin-right: 7px !important;
}
.w-65 {
  float: right;
  position: relative;
  right: -75px;
}
.no-padding-left {
  padding-left: 0px !important;
}
.label-align {
  align-self: center;
}
.border-white {
  border: 1px solid rgb(116, 116, 116);
}
.flex-hidden-mr-1 {
  flex-wrap: nowrap;
  overflow: hidden;
  margin-right: 1rem !important;
}
.card-terms {
  width: 120px;
  display: inline-block;
  // border: 1px solid black;
}
.btn-add {
  display: inline-block;
}
.btn-edit {
  text-align: center;
}
.header-list {
  border: 1px solid black;
}
.header-text {
  padding: 5px;
  margin-left: 0px;
  text-align: center;
  // border-bottom: 1px solid black;
}
.body-list {
  text-align: center;
  padding: 5px;
  border: 1px solid black;
}
:host::ng-deep {
  mat-error {
    font-size: 8px;
    position: relative;
    top: -4px;
  }
  .mat-form-field-subscript-wrapper {
    margin: 0px !important;
  }
  .mat-form-field-appearance-outline .mat-form-field-outline {
    color: rgb(2 2 2 / 69%);
  }
  .mat-form-field-appearance-legacy .mat-form-field-infix {
    padding: 0px;
  }
  .ck-editor__editable_inline {
    min-height: 120px !important;
    border: 1px solid #b8b8b8;
  }
}
:host::ng-deep.ckeditor {
  .ck-content {
    min-height: 120px !important;
  }
}
.bg-green {
  background: #6bec6b;
}

.bg-blue {
  background: #36ebf4;
}
.bg-purple {
  background: #ff46f9;
}
.bg-red {
  background: #ff4040;
}

.mic-style:hover {
  color: red;
}
.btn-mic {
  position: relative;
  top: -115px;
  float: right;
}

.custom-button,
.custom-button:hover {
  background: none;
  border: none;
}
