@import '~assets/scss/theme/admtc.variables';
@import '~assets/scss/theme/admtc';
:host::ng-deep.mat-card {
  border: 1px solid#607C8A;
}
:host::ng-deep.mat-tab-group {
  margin-top: 1rem !important;
  .mat-tab-header {
    font-size: 0.9em !important;
  }
  .mat-tab-label {
    h4 {
      font-size: 13px !important;
    }
  }
  .mat-tab-label-active {
    box-shadow: unset !important;
    border: unset !important;
  }
  .mat-card {
    margin-top: 5%;
  }
}
