<ng-container *ngIf="selectedUserId">
  <mat-tab-group [(selectedIndex)]="selectedIndex" #userDetailTabGroup>
    <!-- First tab always shown -->
    <mat-tab label="Identity">
      <ng-template mat-tab-label>
        <h5>{{ 'Identity' | translate }}</h5>
      </ng-template>
      <ng-template matTabContent>
        <ms-user-identity-tab
          [selectedUser]="selectedUserData"
          [isWaitingForResponse]="isWaitingForResponse"
          (nextTab)="goToTab($event)"
        ></ms-user-identity-tab>
      </ng-template>
    </mat-tab>
    <mat-tab label="Usertype">
      <ng-template mat-tab-label>
        <h5>{{ 'User Type' | translate }}</h5>
      </ng-template>
      <ng-template matTabContent>
        <ms-user-usertype-tab
          [selectedUserData]="selectedUserData"
          [userTypeData]="selectedUserTypeData"
          [isWaitingForResponse]="isWaitingForResponse"
          (reloadTable)="reloadTable($event)"
        ></ms-user-usertype-tab>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</ng-container>
