@import '~assets/scss/theme/admtc.variables';
@import '~assets/scss/theme/admtc';

.form-field {
  margin-top: 6px;
}
.width-size {
  width: 300px;
}
td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type,
th.mat-header-cell:first-of-type {
  padding-left: 0;
}

:host ::ng-deep table {
  tr {
    td,
    th {
      border-right: 1px solid $grey;
      padding-left: 0.3rem !important;
      padding-right: 0.3rem !important;
      text-align: center;
      &:nth-child(1) {
        width: 3%;
      }

      &:nth-child(2),
      &:nth-child(3) {
        width: 12.5%;
        .mat-form-field {
          width: 80%;
        }
      }
      &:nth-child(4) {
        width: auto;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        .mat-form-field {
          width: 80%;
        }
      }

      &:nth-child(5) {
        .mat-form-field {
          margin-top: 6px;
          padding: 0 5px;
        }
      }

      &:nth-child(6) {
        width: 12.5%;
        .mat-form-field {
          width: 80%;
        }
      }

      &:nth-child(7) {
        min-width: 225px;
        max-width: 225px !important;
        width: 225px;
        padding-right: 0 !important;
        text-align: center !important;
      }
    }
    td {
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 0;
      white-space: nowrap;
      color: black;
      padding-top: 0.5em;
      padding-bottom: 0.5em;
      &:nth-child(2){
        padding-left: 0.7rem;
        text-align: left !important;
      }
      &:nth-child(5){
        padding-left: 0.7rem;
        text-align: left !important;
      }
    }

    th {
      vertical-align: top;
      text-align: center;

      .mat-form-field-infix {
        width: unset !important;
      }
    }
    &:nth-child(2) {
      th {
        padding-top: 0.9em;
      }
    }
  }

  thead tr {
    &:nth-child(2) {
      height: 35px;
    }
    &:nth-child(2),
    &:nth-child(3) {
      background: $light-black;
      th {
        color: $white;
      }
    }
  }
  .userpopup {
    display: none;
    position: relative;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    width: 52em;
    max-width: 100%;
    padding: 1.25em;
    border: none;
    border-radius: 0.3125em;
    background: #fff;
    font-family: inherit;
    font-size: 1rem;
  }
}

.action-header-column {
  vertical-align: middle !important;
  padding-right: 0 !important;
  .p-grid {
    margin-top: unset !important;
  }
}

.horizontal {
  overflow: auto;
}
.aligmnment {
  text-align: right;
  padding-right: 0;
}

.gaping {
  padding-top: 6px;
}

.hide {
  display: none;
}

.no-records {
  background-color: #424242;
  font-size: 14px;
  padding: 10px 12px;
  border-right: 1px solid #545454;
  border-bottom: 1px solid #545454;
}

.display-inline {
  display: inline;
}

.red-icon {
  color: red;
}

.green-icon {
  color: green;
}

.red-button {
  background: red !important;
}

.green-button {
  background: green !important;
}

::ng-deep .mat-menu-panel {
  min-height: auto;
}

::ng-deep .mat-menu-content:not(:empty) {
  padding-bottom: 0;
}
