@import '~assets/scss/theme/admtc.variables';
@import '~assets/scss/theme/admtc';

.form-field {
  margin-top: 6px;
}
td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type,
th.mat-header-cell:first-of-type {
  padding-left: 0px;
}

:host ::ng-deep table {
  tr {
    td,
    th {
      border-right: 1px solid $grey;
      &:nth-child(1) {
        width: 3%;
        padding-left: 0 !important;
      }

      &:nth-child(2) {
        width: auto;
        min-width: 140px;
        padding-left: 0px !important;
        padding-right: 0px !important;
        text-align: center !important;
        font-size: 12px;
        .mat-form-field {
          width: 90%;
        }
      }
      &:nth-child(3) {
        width: 125px;
        min-width: 125px;
        padding-top: 6px;
        padding-left: 0px !important;
        padding-right: 0px !important;
        text-align: center !important;
        font-size: 12px;
        .mat-form-field {
          width: 90%;
        }
      }
      &:nth-child(4) {
        width: auto;
        min-width: 140px;
        padding-left: 0px !important;
        padding-right: 0px !important;
        text-align: center !important;
        font-size: 12px;
        .mat-form-field {
          width: 80%;
        }
      }

      &:nth-child(5) {
        width: 5%;
        min-width: 60px;
        max-width: 60px;
        padding-left: 0px !important;
        text-align: center !important;
        font-size: 12px;
        .mat-form-field {
          width: 80%;
        }
      }

      &:nth-child(6) {
        width: 5%;
        min-width: 60px;
        max-width: 60px;
        padding-top: 6px;
        padding-left: 0px !important;
        text-align: center !important;
        font-size: 12px;
        .mat-form-field {
          width: 80%;
        }
      }

      &:nth-child(7) {
        width: 5%;
        min-width: 60px;
        max-width: 60px;
        padding-top: 6px;
        padding-left: 0px !important;
        text-align: center !important;
        font-size: 12px;
        .mat-form-field {
          width: 80%;
        }
      }
      &:nth-child(8) {
        width: 4%;
        min-width: 40px;
        padding-top: 6px;
        padding-left: 0px !important;
        padding-right: 0px !important;
        text-align: center !important;
        font-size: 12px;
        .mat-form-field {
          width: 80%;
        }
      }

      &:nth-child(9) {
        width: auto;
        min-width: 115px;
        padding-left: 0px !important;
        padding-right: 0px !important;
        text-align: center !important;
        font-size: 12px;
        .mat-form-field {
          width: 80%;
        }
      }
      
      &:nth-child(10) {
        width: auto;
        min-width: 145px;
        text-align: center !important;
        font-size: 12px;
        .mat-form-field {
          width: 80%;
        }
      }
      &:nth-child(11) {
        width: 3%;
        padding-left: 0px !important;
        padding-top: 6px;
        text-align: center !important;
        .mat-form-field {
          width: 80%;
        }
      }
      &:nth-child(12) {
        min-width: 115px;
        font-size: 12px;
        text-align: center !important;
        .mat-form-field {
          width: 80%;
        }
      }
      &:nth-child(13) {
        width: 3%;
        padding-left: 0px !important;
        padding-right: 0px !important;
        padding-top: 6px;
        text-align: center !important;
        .mat-form-field {
          width: 90%;
        }
      }
      &:nth-child(14) {
        width: 3%;
        padding-left: 0px !important;
        padding-right: 0px !important;
        padding-top: 6px;
        text-align: center !important;
        .mat-form-field {
          width: 90%;
        }
      }
      &:nth-child(15) {
        width: 3%;
        padding-left: 0px !important;
        padding-right: 0px !important;
        padding-top: 6px;
        text-align: center !important;
        .mat-form-field {
          width: 90%;
        }
      }
      &:nth-child(16) {
        width: 3%;
        padding-left: 0px !important;
        padding-right: 0px !important;
        padding-top: 6px;
        text-align: center !important;
        min-width: 65px;
        .mat-form-field {
          width: 90%;
        }
      }
      &:nth-child(17) {
        width: auto;
        min-width: 150px;
        max-width: 150px;
        padding-left: 0px !important;
        padding-right: 0px !important; 
        padding-top: 6px;
        text-align: center !important;
        .mat-form-field {
          width: 80%;
        }
        .margin-right-button {
          margin-right: 3px;
        }
        .mat-icon-button {
          height: 24px !important;
          width: 24px !important;
        }
        .mat-icon {
          font-size: 16px;
          width: 18px !important;
        }
      }
    }

    td {
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 0;
      white-space: nowrap;
      padding-top: 0.5em;
      padding-bottom: 0.5em;
    }

    th {
      vertical-align: top;

      .mat-form-field-infix {
        width: unset !important;
      }
    }
    &:nth-child(2) {
      th {
        padding-top: 0.9em;
      }
    }
  }

  thead tr {
    &:nth-child(2) {
      height: 35px;
    }

    &:nth-child(2) {
      th {
        // &:nth-child(4) {
        //   background-color: #607d8b !important;
        // }
        &:nth-child(13) {
          background-color: #607d8b !important;
        }
        &:nth-child(14) {
          background-color: #607d8b !important;
        }
        &:nth-child(15) {
          background-color: #607d8b !important;
        }
        &:nth-child(16) {
          background-color: #607d8b !important;
        }
      }
    }

    &:nth-child(2),
    &:nth-child(3) {
      background: $light-black;
      th {
        color: $white;
      }
    }
  }
}

.action-header-column {
  text-align: right !important;
  vertical-align: middle !important;
  padding-right: 0 !important;
  .p-grid {
    margin-top: unset !important;
  }
}


img.engagement-level-icon {
    height: 15px;
    width: 15px;
    display: inline;
    margin: 0;
  }

  .yellow {
    color: #ffd740;
  }
  .orange {
    color: #f49f36;
  }
  .blue {
    color: #36ebf4;
  }
  .red {
    color: #ff4040;
  }
  .green {
    color: #adff2f;
  }
  .purple {
    color: #ff46f9;
  }
  .black {
    color: black;
  }

  .flag-icon {
    vertical-align: text-top;
    height: 17px;
    width: 17px;
  }

  .mat-icon-status {
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
    padding-right: 0px;
    width: 16px;
  }