.yellow-banner {
  background-color: #ccc;
  color: black;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 5px;
  padding-right: 20px;
  font-size: 14px;
  border-radius: 20px;
  box-shadow: 3px 3px;
  text-align: center;
  word-break: break-word;
  white-space: normal;
}