:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  &:hover .action-buttons {
    opacity: 1;
  }
}

.view-more {
  font-size: 14px;
  opacity: 0.75;
  cursor: pointer;
  position: relative;
  top: 3px;
  right: 10px;
}
