<div class="p-grid">
  <div style="text-align: start" class="p-col-1">
    <button matTooltip="{{ 'LEAVE' | translate }}" mat-raised-button color="warn" style="padding-left: 10px" (click)="leave()">
      <mat-icon class="mat-icon-default">keyboard_arrow_left</mat-icon>
      {{ 'LEAVE' | translate }}
    </button>
  </div>
  <div class="p-col-5 text-end-no-pad-r" [formGroup]="templateStepForm">
    <button
      matTooltip="{{ 'Save' | translate }}"
      mat-raised-button
      color="accent"
      [disabled]="!templateStepForm.valid || isFormChanged() || isPublished"
      (click)="saveStepData()"
    >
      <mat-icon class="mat-icon-default">save</mat-icon>
      {{ 'Save' | translate }}
    </button>
  </div>
</div>

<div class="p-grid">
  <div class="p-col-6 form-side" style="margin-top: 2rem">
    <fieldset [disabled]="isPublished" style="padding: 0; border: none">
      <div [formGroup]="templateStepForm" class="p-grid yellow-border card-row">
        <div class="section-header">
          <h3>{{ templateStepForm.get('step_title').value }}</h3>
        </div>

        <div class="p-col-12">
          <div class="p-grid">
            <div class="p-col-12 no-padding-y">
              <mat-form-field class="full-width">
                <input
                  type="text"
                  formControlName="step_title"
                  matInput
                  required
                  placeholder="{{ 'ERP_009_TEACHER_CONTRACT.Step Title' | translate }}"
                  ngModel
                  maxlength="150"
                />
              </mat-form-field>
            </div>
          </div>

          <div class="p-grid" style="min-height: 55px" *ngIf="!finalValidation">
            <div
              [ngClass]="templateStepForm.get('is_validation_required').value ? 'p-col-6' : 'p-col-12'"
              class="no-padding-y"
              style="align-self: center"
            >
              <mat-slide-toggle
                (change)="onChangeValidationRequirement($event)"
                color="accent"
                formControlName="is_validation_required"
                [disabled]="isPublished"
              >
                <span [ngClass]="{ 'text-slider-color': templateStepForm.get('is_validation_required').value }">
                  {{
                    (templateStepForm.get('is_validation_required').value
                      ? 'ERP_009_TEACHER_CONTRACT.Validation Required to continue to next steps'
                      : 'ERP_009_TEACHER_CONTRACT.Validation is not required to continue to next steps'
                    ) | translate
                  }}
                </span>
              </mat-slide-toggle>
            </div>
            <div class="p-col-6 no-padding-y" *ngIf="templateStepForm.get('is_validation_required').value">
              <ng-select
                placeholder="{{ 'ERP_009_TEACHER_CONTRACT.Who Validate?' | translate }}"
                formControlName="validator"
                [clearable]="false"
                [disabled]="isPublished"
                [required]="templateStepForm?.get('is_validation_required')?.value"
              >
                <ng-option *ngFor="let validator of validatorList" [value]="validator?._id">{{ validator?.name | translate }}</ng-option>
              </ng-select>
            </div>
          </div>

          <div class="p-grid">
            <div class="p-col-12 no-padding-y">
              <ng-select
                placeholder="{{ 'ERP_009_TEACHER_CONTRACT.Step Type' | translate }}"
                formControlName="step_type"
                [clearable]="false"
                (change)="handleStepCondition()"
                [disabled]="isPublished"
              >
                <ng-option *ngFor="let stepType of stepTypeList" [value]="stepType">{{
                  'ERP_009_TEACHER_CONTRACT.' + stepType | translate
                }}</ng-option>
              </ng-select>
            </div>
          </div>

          <div class="p-grid">
            <div class="p-col-12 no-padding-y">
              <div *ngIf="templateStepForm?.get('direction')" class="ckeditor">
                <label>{{ 'Header/Direction' | translate }}</label>
                <ckeditor
                  #editor
                  [editor]="Editor"
                  [formControl]="templateStepForm.controls['direction']"
                  (ready)="onReady($event)"
                  [config]="config"
                  [disabled]="isPublished"
                ></ckeditor>
              </div>
            </div>
          </div>
        </div>

        <div class="p-col-12 text-end-no-pad-r">
          <button
            *ngIf="
              templateStepForm?.get('step_type').value === 'question_and_field' ||
              templateStepForm?.get('step_type').value === 'academic_journey'
            "
            matTooltip="{{ 'ERP_009_TEACHER_CONTRACT.Add Segment' | translate }}"
            mat-raised-button
            color="accent"
            [disabled]="!templateStepForm.get('step_type').value || isPublished"
            (click)="addSegmentForm('Open Dialog')"
          >
            {{ 'ERP_009_TEACHER_CONTRACT.Add Segment' | translate }}
          </button>
        </div>

        <div class="p-col-12 no-padding">
          <mat-accordion
            formArrayName="segments"
            [cdkDropListData]="getSegmentFormarray().controls"
            [multi]="true"
            cdkDropList
            (cdkDropListDropped)="dropSegment($event)"
          >
            <mat-expansion-panel
              *ngFor="let segment of getSegmentFormarray().controls; let segmentIndex = index"
              [formGroupName]="segmentIndex"
              style="background: #607d8b"
              [expanded]="true"
              cdkDrag
              [cdkDragDisabled]="isPublished"
            >
              <mat-expansion-panel-header cdkDragHandle>
                <mat-panel-title>
                  <h4 style="color: white; align-self: center; margin: 0px">{{ segment.get('segment_title').value }}</h4>
                </mat-panel-title>
              </mat-expansion-panel-header>

              <!-- Delete segment does not exist in step condition acceptance and document expected -->
              <div
                class="p-grid panel-divider"
                *ngIf="
                  templateStepForm?.get('step_type').value === 'question_and_field' ||
                  templateStepForm?.get('step_type').value === 'academic_journey'
                "
              >
                <div class="p-col-11"></div>
                <div class="p-col-1 text-right no-padding">
                  <button matTooltip="{{'course_sequence.Remove' | translate}}" (click)="removeSegmentForm(segmentIndex)" mat-icon-button class="small-icon" color="red" [disabled]="isPublished">
                    <mat-icon>remove</mat-icon>
                  </button>
                </div>
              </div>

              <div class="p-grid">
                <!-- Segment title doesn't exist in step document expected -->
                <ng-container>
                  <div class="p-col-12">
                    <mat-form-field color="accent">
                      <input
                        #blockPanel
                        type="text"
                        formControlName="segment_title"
                        matInput
                        required
                        placeholder="{{ 'ERP_009_TEACHER_CONTRACT.Segment Title' | translate }}"
                      />
                    </mat-form-field>
                  </div>
                </ng-container>

                <!-- Document type for certification acceptance is only for step condition acceptance -->
                <ng-container *ngIf="templateStepForm?.get('step_type').value === 'condition_acceptance'">
                  <div class="p-col-12" style="padding-top: 0px">
                    <ng-select
                      formControlName="document_for_condition"
                      [clearable]="false"
                      appendTo="body"
                      required
                      (change)="handleDocumentSelected($event, segmentIndex)"
                      placeholder="{{ 'Document for condition' | translate }}*"
                      [disabled]="isPublished"
                    >
                      <ng-option *ngFor="let type of docListType" [value]="type">{{ type | translate }}</ng-option>
                    </ng-select>
                  </div>

                  <div style="width: 99% !important" class="p-col-12 no-padding-y" *ngIf="selectedDocType === 'ck_editor'">
                    <div class="ckeditor">
                      <ckeditor
                        #editor
                        [editor]="Editor"
                        formControlName="acceptance_text"
                        (ready)="onReady($event)"
                        [config]="configTypeCondition"
                        [disabled]="isPublished"
                      ></ckeditor>
                    </div>
                  </div>

                  <div class="p-col-12 no-padding-y" *ngIf="selectedDocType === 'upload_pdf'">
                    <ng-container *ngIf="!listUploadDocumentPDF">
                      <button mat-raised-button color="accent" (click)="openUploadWindow()" [disabled]="isPublished">
                        <mat-icon>file_upload</mat-icon> {{ 'Upload PDF for user to accept' | translate }}
                      </button>
                      <input #fileUploadDoc type="file" accept=".pdf" class="hidden" (change)="chooseFile($event, segmentIndex)" />
                    </ng-container>
                    <div class="p-grid" *ngIf="listUploadDocumentPDF" style="padding-top: 15px">
                      <input #fileUploadDoc type="file" accept=".pdf" class="hidden" (change)="chooseFile($event, segmentIndex)" />
                      <div class="p-col-2">
                        <button [disabled]="isPublished" (click)="openUploadWindow()" mat-icon-button matTooltip="{{ 'Edit' | translate }}">
                          <mat-icon style="color: black">edit</mat-icon>
                        </button>
                        <button [disabled]="isPublished" (click)="deletePDF()" mat-icon-button matTooltip="{{ 'Delete' | translate }}">
                          <mat-icon style="color: black">delete</mat-icon>
                        </button>
                      </div>
                      <div class="p-col-10" style="margin-top: 6px">
                        {{ listUploadDocumentPDF }}
                      </div>
                    </div>
                  </div>
                </ng-container>

                <!-- Add Question does not exist in step condition acceptance -->
                <div class="p-col-12 text-end-no-pad-r" *ngIf="templateStepForm?.get('step_type').value !== 'condition_acceptance'">
                  <button
                    matTooltip="{{ 'ERP_009_TEACHER_CONTRACT.Add Question' | translate }}"
                    mat-raised-button
                    color="accent"
                    (click)="addQuestionFieldForm(segmentIndex); scrollIntoLastQuestion(segmentIndex)"
                    [disabled]="isPublished"
                  >
                    {{ 'ERP_009_TEACHER_CONTRACT.Add Question' | translate }}
                  </button>
                </div>
              </div>

              <div class="p-grid">
                <div
                  class="p-col-12 no-padding"
                  formArrayName="questions"
                  [cdkDropListData]="getQuestionFieldFormArray(segmentIndex).controls"
                  cdkDropList
                  (cdkDropListDropped)="dropQuestion($event, segmentIndex)"
                >
                  <mat-card
                    class="mrgn-all-xs"
                    *ngFor="let questionField of getQuestionFieldFormArray(segmentIndex).controls; let questionIndex = index"
                    cdkDrag
                    [cdkDragDisabled]="isPublished"
                  >
                    <div #questionPanel>
                      <!-- QUESTION TYPE: EXPECTED DOCUMENT AND FIELD BELOW ----------------------------------------------------------------------------------------------------->
                      <mat-card-content
                        *ngIf="this.templateStepForm.get('step_type').value === 'document_expected'"
                        [formGroupName]="questionIndex"
                        cdkDragHandle
                      >
                        <div class="p-grid">
                          <!-- The toggles row -->
                          <div class="p-col-10" style="align-self: center; padding-bottom: 0px">
                            <mat-slide-toggle
                              [disabled]="isPublished"
                              formControlName="is_field"
                              (change)="updateFieldToggle($event, segmentIndex, questionIndex)"
                            >
                              <span [ngClass]="{ 'text-slider-color': questionField.get('is_field').value }">
                                {{ 'MENTOREVALUATION.QUESTIONNAIRE.FIELD' | translate }}
                              </span>
                            </mat-slide-toggle>
                            <mat-slide-toggle formControlName="is_required" [disabled]="isPublished" style="margin-left: 1rem">
                              <span [ngClass]="{ 'text-slider-color': questionField.get('is_required').value }">
                                {{
                                  (questionField.get('is_required').value
                                    ? 'ERP_009_TEACHER_CONTRACT.Required'
                                    : 'ERP_009_TEACHER_CONTRACT.Not Required'
                                  ) | translate
                                }}
                              </span>
                            </mat-slide-toggle>
                          </div>
                          <div class="p-col-2" style="padding-bottom: 0px">
                            <div style="text-align: right">
                              <button
                                [disabled]="isPublished"
                                matTooltip="{{'course_sequence.Remove' | translate}}"
                                (click)="removeQuestionFieldForm(segmentIndex, questionIndex)"
                                mat-icon-button
                                class="small-icon"
                                color="red"
                              >
                                <mat-icon>remove</mat-icon>
                              </button>
                            </div>
                          </div>
                        </div>

                        <div class="p-grid">
                          <div class="p-col-8">
                            <ng-select
                              placeholder="{{ 'MENTOREVALUATION.QUESTIONNAIRE.ANSWER_TYPE' | translate }}"
                              formControlName="answer_type"
                              [clearable]="false"
                              appendTo="body"
                              required
                              [disabled]="isPublished"
                            >
                              <ng-option
                                *ngFor="let questionAnswerType of questionnaireConsts.expectedDocumentTypes"
                                [value]="questionAnswerType.value"
                                >{{ 'EXPECTED_DOCUMENT_TYPES.' + questionAnswerType.view | translate }}</ng-option
                              >
                            </ng-select>
                          </div>
                        </div>

                        <!-- Second row, question label, only if non-field -->
                        <div class="p-grid">
                          <div [style.display]="questionField.get('is_field').value ? 'block' : 'none'" class="p-col-4">
                            <ng-select
                              placeholder="{{ 'MENTOREVALUATION.QUESTIONNAIRE.FIELD_TYPE' | translate }}"
                              formControlName="field_type"
                              [clearable]="false"
                              appendTo="body"
                              [required]="questionField.get('is_field').value"
                              [disabled]="isPublished"
                              (change)="selectDocumentExpectedType($event, segmentIndex, questionIndex)"
                            >
                              <ng-option
                                [disabled]="isPublished"
                                *ngFor="let field of questionnaireConsts.documentExpectedFields"
                                [value]="field"
                                >{{ 'FORM_BUILDER_FIELD.' + field | translate }}</ng-option
                              >
                            </ng-select>
                          </div>
                          <div [style.display]="!questionField.get('is_field').value ? 'block' : 'none'" class="p-col-12">
                            <mat-form-field>
                              <input
                                required
                                matInput
                                formControlName="question_label"
                                [placeholder]="'Question Label' | translate"
                                type="text"
                              />
                            </mat-form-field>
                          </div>
                        </div>
                      </mat-card-content>

                      <!-- QUESTION TYPE: NORMAL QUESTION AND FIELD BELOW ----------------------------------------------------------------------------------------------------->
                      <mat-card-content
                        *ngIf="
                          this.templateStepForm.get('step_type').value === 'question_and_field' ||
                          this.templateStepForm.get('step_type').value === 'academic_journey'
                        "
                        [formGroupName]="questionIndex"
                        cdkDragHandle
                      >
                        <div class="p-grid">
                          <div class="p-col-10" style="align-self: center; padding-bottom: 0px">
                            <mat-slide-toggle
                              [disabled]="isPublished"
                              formControlName="is_field"
                              (change)="updateFieldToggle($event, segmentIndex, questionIndex)"
                            >
                              <span [ngClass]="{ 'text-slider-color': questionField.get('is_field').value }">
                                {{ 'MENTOREVALUATION.QUESTIONNAIRE.FIELD' | translate }}
                              </span>
                            </mat-slide-toggle>
                            <mat-slide-toggle
                              *ngIf="questionField.get('is_field').value"
                              style="margin-left: 1rem"
                              formControlName="is_editable"
                              (change)="updateEditableToggle($event, segmentIndex, questionIndex)"
                              [disabled]="isPublished"
                            >
                              <span [ngClass]="{ 'text-slider-color': questionField.get('is_editable').value }">
                                {{
                                  (questionField.get('is_editable').value
                                    ? 'ERP_009_TEACHER_CONTRACT.Editable'
                                    : 'ERP_009_TEACHER_CONTRACT.Not Editable'
                                  ) | translate
                                }}
                              </span>
                            </mat-slide-toggle>
                            <mat-slide-toggle
                              *ngIf="questionField.get('is_editable').value"
                              style="margin-left: 1rem"
                              formControlName="is_required"
                              [disabled]="isPublished"
                            >
                              <span [ngClass]="{ 'text-slider-color': questionField.get('is_required').value }">
                                {{
                                  (questionField.get('is_required').value
                                    ? 'ERP_009_TEACHER_CONTRACT.Required'
                                    : 'ERP_009_TEACHER_CONTRACT.Not Required'
                                  ) | translate
                                }}
                              </span>
                            </mat-slide-toggle>
                          </div>
                          <div class="p-col-2" style="padding-bottom: 0px">
                            <div style="text-align: right">
                              <button
                              matTooltip="{{'course_sequence.Remove' | translate}}"
                                (click)="removeQuestionFieldForm(segmentIndex, questionIndex)"
                                mat-icon-button
                                class="small-icon"
                                color="red"
                                [disabled]="isPublished"
                              >
                                <mat-icon>remove</mat-icon>
                              </button>
                            </div>
                          </div>
                        </div>

                        <div class="p-grid">
                          <!-- Display the answer type if field is false -->
                          <ng-container>
                            <!-- <div  [style.display]="!questionField.get('is_field').value ? 'block': 'none'" class="p-col-4">
                            <mat-form-field>
                              <input
                                matInput
                                formControlName="ref_id"
                                [placeholder]="'ERP_009_TEACHER_CONTRACT.Ref Id' | translate"
                                type="text"
                                [required]="!questionField.get('is_field').value"
                              />
                            </mat-form-field>
                          </div> -->
                            <div [style.display]="!questionField.get('is_field').value ? 'block' : 'none'" class="p-col-8">
                              <ng-select
                                placeholder="{{ 'MENTOREVALUATION.QUESTIONNAIRE.ANSWER_TYPE' | translate }}"
                                formControlName="answer_type"
                                [clearable]="false"
                                appendTo="body"
                                [required]="!questionField.get('is_field').value"
                                [disabled]="isPublished"
                              >
                                <ng-option
                                  *ngFor="let questionAnswerType of questionnaireConsts.questionAnswerTypes"
                                  [value]="questionAnswerType.key"
                                  [disabled]="isPublished"
                                  >{{ 'QUESTION_ANSWER_TYPE.' + questionAnswerType.name.toUpperCase() | translate }}</ng-option
                                >
                              </ng-select>
                            </div>
                          </ng-container>

                          <!-- Display the field dropdown if field is true -->
                          <ng-container>
                            <div [style.display]="questionField.get('is_field').value ? 'block' : 'none'" class="p-col-4">
                              <ng-select
                                placeholder="{{ 'MENTOREVALUATION.QUESTIONNAIRE.FIELD_TYPE' | translate }}"
                                formControlName="field_type"
                                [clearable]="false"
                                appendTo="body"
                                [required]="questionField.get('is_field').value"
                                [disabled]="isPublished"
                              >
                                <ng-option
                                  [disabled]="isPublished"
                                  *ngFor="let field of questionnaireConsts.questionnaireFields"
                                  [value]="field"
                                  >{{ 'FORM_BUILDER_FIELD.' + field | translate }}</ng-option
                                >
                              </ng-select>
                            </div>
                          </ng-container>

                          <!-- Always display the position regardless field true/false -->
                          <ng-container>
                            <div class="p-col-4">
                              <ng-select
                                placeholder="{{ 'MENTOREVALUATION.QUESTIONNAIRE.FIELD_POSITION' | translate }}"
                                formControlName="field_position"
                                [clearable]="false"
                                appendTo="body"
                                required
                                [disabled]="isPublished"
                              >
                                <ng-option *ngFor="let position of questionnaireConsts.questionPositions" [value]="position">{{
                                  'ERP_009_TEACHER_CONTRACT.POSITION.' + position | translate
                                }}</ng-option>
                              </ng-select>
                            </div>
                          </ng-container>

                          <!-- For Question Name, only displayed if field false -->
                          <ng-container>
                            <div [style.display]="!questionField.get('is_field').value ? 'block' : 'none'" class="p-col-12">
                              <mat-form-field>
                                <input
                                  matInput
                                  formControlName="question_label"
                                  [placeholder]="'Question Label' | translate"
                                  type="text"
                                  [required]="!questionField.get('is_field').value"
                                />
                              </mat-form-field>
                            </div>
                          </ng-container>
                        </div>

                        <div fxLayout="row" *ngIf="questionField && checkIsParentChild(questionField.value)">
                          <div class="p-col-8">
                            <mat-form-field color="accent">
                              <input
                                #option
                                matInput
                                type="text"
                                [placeholder]="'MENTOREVALUATION.QUESTIONNAIRE.OPTION.title' | translate"
                              />
                            </mat-form-field>
                          </div>
                          <div class="p-col-4">
                            <button
                              [disabled]="isPublished"
                              mat-mini-fab
                              color="primary"
                              type="button"
                              (click)="addMoreAnswers(segmentIndex, questionIndex)"
                            >
                              <mat-icon>add</mat-icon>
                            </button>
                          </div>
                        </div>

                        <div class="p-grid" [style.display]="checkIsMutiOption(questionField?.value) ? 'flex' : 'none'">
                          <div class="p-col-8">
                            <mat-form-field color="accent" style="width: 100%">
                              <input
                                #optionInput
                                matInput
                                type="text"
                                [placeholder]="'MENTOREVALUATION.QUESTIONNAIRE.OPTION.title' | translate"
                                [required]="checkIsMutiOption(questionField?.value) && questionField.get('options').value.length < 2"
                              />
                            </mat-form-field>
                          </div>
                          <div class="p-col-4">
                            <button
                              [disabled]="isPublished || !optionInput.value"
                              mat-mini-fab
                              color="primary"
                              type="button"
                              type="button"
                              (click)="addMoreOptions(segmentIndex, questionIndex, optionInput); optionInput.value = ''"
                            >
                              <mat-icon>add</mat-icon>
                            </button>
                          </div>
                        </div>

                        <div class="p-grid" *ngIf="checkIsMutiOption(questionField?.value)">
                          <ng-container *ngFor="let option of questionField.get('options').value; let optionIndex = index">
                            <div class="p-col-12">
                              <div class="p-grid">
                                <div class="p-col-5">
                                  <span style="text-align: right">{{ optionIndex + 1 }}) {{ option }} </span>
                                </div>
                                <div class="p-col-2">
                                  <button
                                  matTooltip="{{'course_sequence.Remove' | translate}}"
                                    [disabled]="isPublished"
                                    type="button"
                                    mat-icon-button
                                    (click)="removeOption(segmentIndex, questionIndex, optionIndex)"
                                  >
                                    <mat-icon>delete</mat-icon>
                                  </button>
                                </div>
                              </div>
                            </div>
                          </ng-container>
                        </div>
                      </mat-card-content>
                    </div>
                  </mat-card>
                </div>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>
    </fieldset>
  </div>

  <div class="p-col-6 preview-side preview-side" style="padding-left: 1rem" *ngIf="templateStepForm?.get('step_type').value">
    <mat-horizontal-stepper #stepperForm selectedIndex="0">
      <ng-template matStepperIcon="number" let-index="index">
        {{ stepIndex + 1 }}
      </ng-template>

      <mat-step disableRipple="true" label="{{ templateStepForm.get('step_title').value }}">
        <div [ngSwitch]="templateStepForm?.get('step_type').value">
          <ms-question-form-preview
            *ngSwitchCase="'question_and_field'"
            [currentStepIndex]="stepIndex"
          ></ms-question-form-preview>
          <ms-question-form-preview
            *ngSwitchCase="'academic_journey'"
            [currentStepIndex]="stepIndex"
          ></ms-question-form-preview>
          <!-- <ms-document-form-preview *ngSwitchCase="'document_to_validate'" [currentStepIndex]="stepIndex"></ms-document-form-preview> -->
          <ms-condition-acceptance-form-preview
            *ngSwitchCase="'condition_acceptance'"
            [currentStepIndex]="stepIndex"
          ></ms-condition-acceptance-form-preview>
          
          <ms-condition-acceptance-form-preview
          *ngSwitchCase="'document_to_validate'"
          [currentStepIndex]="stepIndex"
        ></ms-condition-acceptance-form-preview>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
</div>

<div *ngIf="isWaitingForResponse" class="loading-indicator">
  <mat-progress-spinner mode="indeterminate" color="accent"></mat-progress-spinner>
</div>
