<div class="dialog-border">
  <div class="dialogTitleWrapper" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
    <div class="p-grid">
      <div class="w-30 no-padding">
        <!-- <mat-icon style="vertical-align: middle">add</mat-icon> -->
      </div>
      <div class="p-col-10 acad-title">
        <h3 class="dialogTitle">
          {{ 'INTAKE_CHANNEL.'+ data.title +' site' | translate }}
        </h3>
      </div>
      <div class="w-65 no-padding">
        <button mat-icon-button class="close-icon float-right" mat-dialog-close tabindex="-1">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
<form [formGroup]="siteForm">
  <div class="fontColor">
    <mat-dialog-content>
      <div class="p-grid">
        <div class="p-col-12 no-padding">

          <div class="p-grid">
            <div class="p-col-6 no-padding-y">
              <mat-form-field>
                <mat-label>{{ 'INTAKE_CHANNEL.Site Name' | translate }}</mat-label>
                <input formControlName="name" matInput type="text" />
                <mat-error *ngIf="siteForm.get('name').hasError('required')">{{ 'This field is required' | translate }}</mat-error>
              </mat-form-field>
            </div>
          </div>
          
          <div class="p-grid">
            <div class="p-col-12 no-padding-y">
              <mat-form-field>
                <mat-label>{{ 'INTAKE_CHANNEL.Address' | translate }}</mat-label>
                <input formControlName="address" matInput type="text" />
                <mat-error *ngIf="siteForm.get('address').hasError('required')">{{ 'This field is required' | translate }}</mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="p-grid">
            <div class="p-col-6 no-padding-y">
              <mat-form-field>
                <mat-label>{{ 'INTAKE_CHANNEL.Postal code' | translate }}</mat-label>
                <input formControlName="zip_code" matInput type="text" />
                <mat-error *ngIf="siteForm.get('zip_code').hasError('required')">{{ 'This field is required' | translate }}</mat-error>
              </mat-form-field>
            </div>

            <div class="p-col-6 no-padding-y">
              <mat-form-field>
                <mat-label>{{ 'INTAKE_CHANNEL.City' | translate }}</mat-label>
                <input formControlName="city" matInput type="text" />
                <mat-error *ngIf="siteForm.get('city').hasError('required')">{{ 'This field is required' | translate }}</mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="p-grid">
            <div class="p-col-6 no-padding-y">
              <mat-form-field>
                <mat-label>{{ 'INTAKE_CHANNEL.Country' | translate }}</mat-label>
                <input formControlName="country" matInput type="text" />
                <mat-error *ngIf="siteForm.get('country').hasError('required')">{{ 'This field is required' | translate }}</mat-error>
              </mat-form-field>
            </div>
          </div>

        </div>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions align="right">
      <button mat-raised-button type="button" color="warn" mat-dialog-close>{{ 'CANCEL' | translate }}</button>
      <button mat-raised-button color="primary" (click)="submitVerification()">
        {{ 'Validate' | translate }}
      </button>
    </mat-dialog-actions>
  </div>
</form>
