<mat-tab-group animationDuration="500ms" style="margin: 0 !important" class="child-contact-tab">
    <mat-tab label="Financial Support">
        <ng-template mat-tab-label>
            <h4>{{ 'Financial Support' | translate }}</h4>
        </ng-template>
        <ng-template matTabContent>
            <ms-student-contacts-tab [countryCodeList]="countryCodeList" [candidate]="candidate" (reloadData)="reload($event)"></ms-student-contacts-tab>
        </ng-template>
    </mat-tab>
    <mat-tab label="Contact">
        <ng-template mat-tab-label>
            <h4>{{ 'Contact' | translate }}</h4>
        </ng-template>
        <ng-template matTabContent>
            <ms-student-new-contact-tab-detail 
                [countryCodeList]="countryCodeList" 
                [showFinacment]= "showFinacment"
                [candidate_id]="candidate?._id" 
                (reloadData)="reload($event)"
            ></ms-student-new-contact-tab-detail>
        </ng-template>
    </mat-tab>
</mat-tab-group>
