@import '~assets/scss/bootstrap';

.card-document {
  display: block;
  width: 100%;
  padding: 12px;
  background-color: #283d50;
  color: white;
}
.pdf-document {
  padding: 15px;
  background-color: white;
  color: black;
}

.content-terms {
  text-align: justify;
}

.ql-editor {
  margin: 1rem auto;
}

.schoolLogo {
  width: 190px;
}
.school {
  width: 100%;
}
.bold-text {
  font-weight: bold;
}
.pad-10px {
  padding-top: 10px;
}
.payment-display {
  display: inline-block;
}
.no-margin {
  margin: 0px;
}
.msg-pay {
  margin-top: 15px !important;
  font-weight: 600;
  font-size: 22px;
}
.box {
  text-align: center;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.signedAt {
  border: 1px solid black;
  width: 300px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.web-display {
  display: block;
}
