<div *ngIf="isWaitingForResponse" class="inner-loading-indicator">
  <mat-spinner color="accent" [diameter]="100"></mat-spinner>
</div>
<div>
  <mat-tab-group [(selectedIndex)]="selectedIndex" #settingMatGroup>
    <!-- First tab always shown -->
    <mat-tab label="TypeOfFormation">
      <ng-template mat-tab-label class="main-tab">
        {{ 'INTAKE_CHANNEL.SETTINGS.Type of formation' | translate }}
      </ng-template>
      <ng-template matTabContent>
        <ms-type-of-formation></ms-type-of-formation>
      </ng-template>
    </mat-tab>
    <ng-container *ngIf="permission.showAddtionalCostPerm()">
      <mat-tab label="AdditionalExpense">
        <ng-template mat-tab-label class="main-tab">
          {{ 'INTAKE_CHANNEL.SETTINGS.Additional expenses' | translate }}
        </ng-template>
        <ng-template matTabContent>
          <ms-additional-expense></ms-additional-expense>
        </ng-template>
      </mat-tab>
    </ng-container>
    <mat-tab label="PaymentModes">
      <ng-template mat-tab-label>
        {{ 'INTAKE_CHANNEL.SETTINGS.Payment modes' | translate }}
      </ng-template>
      <ng-template matTabContent>
        <ms-payment-modes-parent></ms-payment-modes-parent>
      </ng-template>
    </mat-tab>
    <mat-tab label="RegistrationProfile">
      <ng-template mat-tab-label>
        {{ 'INTAKE_CHANNEL.SETTINGS.Registration profile' | translate }}
      </ng-template>
      <ng-template matTabContent>
        <ms-registration-profile-parent></ms-registration-profile-parent>
      </ng-template>
    </mat-tab>
    <mat-tab label="LegalEntities">
      <ng-template mat-tab-label>
        {{ 'INTAKE_CHANNEL.SETTINGS.Legal entities' | translate }}
      </ng-template>
      <ng-template matTabContent>
        <ms-legal-entity></ms-legal-entity>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
