<mat-tab-group #templateMatGroup [(selectedIndex)]="selectedIndex" (selectedTabChange)="selectTab($event.tab.textLabel)">
  <mat-tab label="courseSequence">
    <ng-template mat-tab-label>
      <h5>{{ 'course_sequence.Courses & Sequences' | translate }}</h5>
    </ng-template>
    <ng-template matTabContent>
      <ng-container *ngIf="!isWaitingForResponse">
        <ms-template-sequence-form (reloadData)="reloadData($event)" (newTabGroup)="getNewTabClassGroup($event)" (getTabGroup)="getTabGroup($event)" [sequenceGroup]="sequenceGroup"></ms-template-sequence-form>
      </ng-container>
    </ng-template>
  </mat-tab>

  <ng-container>
    <ng-container *ngFor="let group of sequenceGroup?.program_sequences_id; let index = index">
      <ng-container *ngIf="group?.program_sequence_groups && group?.program_sequence_groups.length">
        <mat-tab class="white-tabs" label="{{ group._id }}">
          <ng-template mat-tab-label>
            <h5>{{ group?.program_sequence_groups[0]?.name }} - {{ 'ASSIGN_CORRECTOR_DIALOG.Groups' | translate }}</h5>
          </ng-template>
          <ng-template matTabContent>
            <ms-grouping-classes-group-sequence
              [groupClasses]="group"
              (reloadData)="reloadData($event)"
              [sequenceId]="sequenceId"
              [sequenceIndex]="index"
            ></ms-grouping-classes-group-sequence>
          </ng-template> </mat-tab
      ></ng-container>
    </ng-container>
  </ng-container>
</mat-tab-group>

<div *ngIf="isWaitingForResponse" class="loading-indicator">
  <mat-progress-spinner mode="indeterminate" color="accent"></mat-progress-spinner>
</div>
