:host::ng-deep.ckeditor {
    label {
      font-size: 14px;
    }
    .ck-content {
      min-height: 10rem !important;
      background: white !important;
      color: #000 !important;
    }
  }

  .help-button {
    height: fit-content;
    align-self: center;
  }