<ng-container *ngIf="(!isDiscountFully || !isDepositZero || !isAdditionalZero) && !processFinish && !isDiscountOnFullRate">
  <form class="row no-margin" [formGroup]="paymentForm">
    <fieldset [disabled]="stepData?.step_status === 'accept'">
      <div class="hd-legend" [innerHTML]="stepData?.direction | safeHtml"></div>
      <div>
        <hr />
        <div class="row no-margin" style="margin-top: 15px !important">
          <div *ngFor="let record of listTerms">
            <mat-card
              class="card-load fade-in"
              [ngClass]="{
                leng3: maxTotalTime >= 0 && maxTotalTime <= 3,
                leng5: maxTotalTime > 3 && maxTotalTime <= 5,
                leng8: maxTotalTime > 5 && maxTotalTime <= 6,
                leng10: maxTotalTime > 7 && maxTotalTime <= 10,
                leng12: maxTotalTime > 10 && maxTotalTime <= 12
              }"
              style="border: 1px solid #eeeeee"
            >
              <div
                class="row no-margin"
                [ngClass]="{
                  btn3: maxTotalTime >= 0 && maxTotalTime <= 3,
                  btn5: maxTotalTime > 3 && maxTotalTime <= 5,
                  btn8: maxTotalTime > 5 && maxTotalTime <= 8,
                  btn10: maxTotalTime > 8 && maxTotalTime <= 10,
                  btn12: maxTotalTime > 10 && maxTotalTime <= 12
                }"
              >
                <div class="row no-margin">
                  <div class="available-methods">
                    {{ 'Available:' | translate }}
                    <ng-container *ngIf="record?.select_payment_method_available && record?.select_payment_method_available?.length > 0">
                      <ng-container *ngFor="let method of record?.select_payment_method_available; let i = index">
                        <span> {{ 'PAYMENT_METHODS.' + method | translate }} </span>
                        <span *ngIf="method && i !== record?.select_payment_method_available?.length - 1">/</span>
                      </ng-container>
                    </ng-container>
                    <ng-container *ngIf="!record?.select_payment_method_available">- </ng-container>
                  </div>
                  <div><mat-icon class="mat-icon-loan icon-size">calendar_today</mat-icon></div>
                  <div class="text-calendar">
                    {{ 'in' | translate }} {{ record?.times }}
                    {{ 'time' | translate }}
                  </div>
                </div>

                <div class="row text-loan">
                  {{ 'ADMISSION_PAYMENT.Scholarship fees' | translate }}
                  :
                  {{ rateAmount ? (rateAmount | currency: 'EURO':'':'0.2') : '0' }}
                  €
                </div>

                <div class="row text-loan" *ngIf="discount !== 0">
                  {{ 'ADMISSION_PAYMENT.Discount' | translate }} {{ discount ? discount : 0 }}% : -
                  {{ discountCalculted ? (discountCalculted | currency: 'EURO':'':'0.2') : '0' }}
                  €
                </div>

                <div class="row text-loan">
                  {{ 'ADMISSION_PAYMENT.Registration fees' | translate }}
                  :
                  {{ registrationFee ? (registrationFee | currency: 'EURO':'':'0.2') : '0' }}
                  €
                </div>

                <div class="row text-loan">
                  {{ 'ADMISSION_PAYMENT.Additional cost' | translate }} : {{ record?.additional_cost | currency: 'EURO':'':'0.2' }} €
                </div>

                <div class="row text-loan">
                  <b>{{ 'TOTAL' | translate }} : {{ calcTotal(record) | currency: 'EURO':'':'0.2' }} €</b>
                </div>

                <div class="row text-loan" style="margin: 4px 0; padding: 4px 0; border-top: 1px solid; border-bottom: 1px solid">
                  > {{ 'ADMISSION_PAYMENT.Down payment to pay' | translate }} : {{ record?.down_payment | currency: 'EURO':'':'0.2' }} €
                </div>

                <div class="row text-loan">
                  <b>{{ 'ADMISSION_PAYMENT.Remaining to pay' | translate }} : {{ record?.total_amount | currency: 'EURO':'':'0.2' }} €</b>
                  <br />
                  <ng-container *ngIf="record?.times > 0">{{ record?.times }} {{ 'ADMISSION_PAYMENT.terms' | translate }} :</ng-container>
                </div>

                <div class="row text-loan" *ngFor="let pay of record?.payment_date">
                  - {{ pay?.date }} - {{ pay?.amount ? (pay?.amount | currency: 'EURO':'':'0.2') : '0' }} €
                </div>
              </div>
              <div class="row" style="margin: auto; text-align: center; position: relative">
                <button
                  (click)="selectPlanning(record)"
                  mat-raised-button
                  matTooltip="{{ 'I choose' | translate }} "
                  class="btn-plan btn-loan-touch"
                >
                  {{ 'I choose' | translate }}
                  <mat-icon class="mat-icon-default">touch_app</mat-icon>
                </button>
              </div>
            </mat-card>
          </div>
        </div>
      </div>
    </fieldset>
  </form>
</ng-container>

<ng-container *ngIf="((isDiscountFully && isDepositZero && isAdditionalZero) || (isDiscountFully && isDiscountOnFullRate)) && !processFinish">
  <div class="label-center">
    <label class="info-empty">{{ 'You dont have any scholarship fees to pay' | translate }}</label>
  </div>
  <div class="btn-empty">
    <div class="row no-margin btn-validate" style="bottom: 0px !important">
      <button class="regirstration-color btn-third" (click)="noPayment()" mat-raised-button matTooltip="{{ 'Next' | translate }} ">
        <mat-icon class="mat-icon-default">save</mat-icon>
        {{ 'Next' | translate }}
      </button>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="processFinish">
  <div style="margin-top: 20px !important; text-align: center">
    <div *ngIf="candidateData?.school?.school_logo">
      <div class="row no-margin msg-pay">{{ 'Thank You For Submitting Your Admission' | translate }}</div>
      <div class="row no-margin payment-img">
        <img class="payment-success" style="height: 385px" [src]="serverimgPath + candidateData?.school?.school_logo" />
      </div>
    </div>
    <div *ngIf="!candidateData?.school?.school_logo">
      <div class="row no-margin msg-pay" style="font-size: 25px; margin-top: 170px !important">
        {{ 'Thank You For Submitting Your Admission' | translate }}
      </div>
    </div>
  </div>
</ng-container>

<div *ngIf="isWaitingForResponse" class="loading-indicator">
  <mat-progress-spinner mode="indeterminate" color="accent"></mat-progress-spinner>
</div>
