.card-segment {
  margin: 10px 0px;
  min-height: 70px;
}
.no-padding {
  padding: 0px;
}
.no-margin {
  margin: 0px !important;
}
.card-container {
  width: 200px;
  float: left;
  padding-right: 15px;
}
.table-section-height {
  max-height: 73vh;
  overflow: auto;
}
.header-height {
  height: 46px;
}
.background-black {
  background-color: #424242 !important;
  color: #fff;
  padding-top: 12px;
  padding-left: 25px;
  border-bottom: 1px solid #595959;
}
.cur-point {
  cursor: pointer;
}
.cur-point:hover {
  background: #9c9c9c59;
}
.icon-hansake {
  width: 27px !important;
  height: 30px !important;
  text-align: center;
  padding-right: 0px !important;
  margin-right: 0px !important;
}
:host ::ng-deep table.candidateTable {
  tr {
    td,
    th {
      &:nth-child(1) {
        width: 40%;
        padding-left: 0.5rem !important;
      }

      &:nth-child(2) {
        width: 7%;
      }

      &:nth-child(3) {
        width: 20%;
      }

      &:nth-child(4) {
        width: 30%;
        padding-right: 0 !important;
        text-align: center !important;
        padding-left: 0.5rem !important;
      }
    }
    td {
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 0;
      white-space: nowrap;
      padding-top: 0.5em;
      padding-bottom: 0.5em;
    }

    th {
      vertical-align: top;
      .mat-form-field-infix {
        width: unset !important;
      }
    }
  }
}
.font-action-x {
  float: left;
  font-size: 20px;
}
.font-action-y {
  font-size: 22px;
  padding-top: 2px;
  margin-right: 0.5rem;
  float: left;
}
.font-action-z {
  font-size: 23px;
  padding-top: 2px;
  float: left;
  margin-right: 0.5rem;
}
.card-detail {
  margin-left: 15px;
}
.card-chart {
  margin-left: 15px;
}
.card-activity {
  margin-left: 15px;
}
.detail-candidate {
  border-radius: 2px;
  height: 115px;
  padding: 0px;
  padding-top: 7px;
}
.detail-photo {
  width: 100px;
  float: left;
}
.img-candidate {
  width: 85px;
}

.label-status {
  padding: 0px;
  min-width: 7em;
  font-family: Roboto, "Helvetica Neue", sans-serif !important;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: 0;
  border: none;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  margin: 0;
  min-width: 64px;
  line-height: 36px;
  overflow: visible;
  transform: translate3d(0, 0, 0);
  transition: background 0.4s cubic-bezier(0.25, 0.8, 0.25, 1),
    box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: 0.3125rem;
  background-color: #fdd835;
  color: black;
}

.btn-student {
  line-height: 30px;
  font-size: 12px !important;
  border-radius: 2px;
}
.yellow-button {
  background-color: #ffd740;
}
.status-candidate {
  float: left;
  margin-right: 10px;
}
.mat-icon-button {
  height: 30px;
  width: 30px;
  font-size: 12px;
  line-height: 24px;
  padding: 0;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 50%;
  border: 1px solid;
  margin-left: 5px;
}
.btn-action-z {
  vertical-align: middle;
  line-height: unset;
  font-size: 18px;
}
.btn-action-y {
  vertical-align: middle;
  line-height: unset;
  font-size: 20px;
  text-align: center;
}
.button-candidate {
  float: left;
}
.i-action {
  margin: 0px;
  line-height: 26px;
}
.candidate-birth {
  font-size: 10px;
  text-overflow: ellipsis;
  max-width: 0;
  white-space: nowrap;
}
.candidate-address {
  padding-top: 7px;
  font-size: 10px;
  text-overflow: ellipsis;
  max-width: 0;
  white-space: nowrap;
}
.icon-detail {
  float: left;
  margin-right: 6px;
}
.font-action-btn {
  font-size: 16px;
  padding-top: 9px;
  float: left;
  margin-right: -2px;
}
.icon-grid {
    vertical-align: middle;
    position: relative;
    text-align: center;
    margin: auto;
}
.segment-icon {
    text-align: center;
    height: 40px;
    width: 40px;
    padding: 0;
    min-width: 0;
    flex-shrink: 0;
    border-radius: 50%;
    background: white;
    vertical-align: middle;
    position: relative;
    padding-top: 7px;
}
.segment-title {
    font-size: 10px;
    float: right;
    text-align: right;
}
.segment-score {
    width: 100%;
    vertical-align: middle;
    font-size: 22px;
    padding-left: 7px;
    margin-top: 10px;
}
.segment-percent {
    font-size: 10px;
    float: right;
    text-align: right;
}
.total-status {
    color: #f36826;
}
.modert-status {
    color: #f3a126;
}
.low-status {
    color: #ca1010;
}
.lost-status {
    color: #bfbfbf;
}
.hight-status {
    color: #4fc731;
}
.orange-icon {
    color: #f3a126;
}
.red-icon {
    color: #ca1010;
}
.grey-icon {
    color: #bfbfbf;
}
.green-icon {
    color: #4fc731;
}
.mat-icon-svgIcon {
    padding-top: 3px;
}
.card-campus {
  margin: 10px 0px 0px 0px;
  width: 100%;
  border-radius: 4px;
  padding: 0px;
}
.card-campuss {
  float: left;
  height: 30px;
  width: auto;
  background-color: #d0d0d0 !important;
  font-size: 15px;
  opacity: 1 !important;
  color: black !important;
  margin-right: 5px;
  text-align: center;
  display: -webkit-inline-box;
  display: inline-flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  white-space: nowrap;
  position: relative;
  padding: 0px 15px 0px 15px !important;
}
.card-campuss:hover {
  background-color: #37474f !important;
  cursor: pointer;
  color: white !important;
  border: 1px solid #496775;
}
.border-yellow {
  border: 1px solid #ffffff;
  margin: 10px;
  border-radius: 4px;
  padding: 10px;
}