<div class="dialog-border">
  <div class="dialogTitleWrapper" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
    <div class="p-grid">
      <div class="w-30 no-padding">
        <mat-icon style="vertical-align: middle" svgIcon="credit-card-refund-outline">credit-card-refund-outline</mat-icon>
      </div>
      <div class="p-col-10 acad-title">
        <h3 
          *ngIf="!isUpdate"
          class="dialogTitle" data-cy="label-add-refund">
          {{ 'Add refund' | translate }}
        </h3>
        <h3 
          *ngIf="isUpdate"
          class="dialogTitle" data-cy="label-add-refund">
          {{ 'Edit refund' | translate }}
        </h3>
      </div>
      <div class="w-65 no-padding">
        <button data-cy="button-close-add-refund-dialog" mat-icon-button class="close-icon float-right" mat-dialog-close tabindex="-1">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
<form [formGroup]="identityForm">
  <div class="fontColor">
    <mat-dialog-content>
      <div class="p-grid">
        <div class="p-col-12 no-padding">
          <div class="p-grid">
            <div class="p-col-fixed center-label no-padding-left label-align" style="width: 160px">
              <label>{{ 'From' | translate }}*</label>
            </div>
            <div class="p-col no-padding">
              <mat-form-field floatLabel="never">
                <input
                  data-cy="input-from"
                  matInput
                  formControlName="from"
                  type="text"
                  [readonly]="isLegalEntity || isUpdate"
                  placeholder="{{ 'From' | translate }}"
                  readonly
                  style="color: gray"
                />
                <mat-error
                  *ngIf="
                    identityForm.get('from').hasError('required') && (identityForm.get('from').dirty || identityForm.get('from').touched)
                  "
                  >{{ 'This field is required' | translate }}
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>

      <div class="p-grid">
        <div class="p-col-12 no-padding">
          <div class="p-grid">
            <div class="p-col-fixed center-label no-padding-left label-align" style="width: 160px">
              <label>{{ 'To' | translate }}*</label>
            </div>
            <div class="p-col no-padding">
              <mat-form-field floatLabel="never">
                <mat-select
                  data-cy="input-select-who-fi"
                  formControlName="who"
                  [disabled]="isUpdate"
                  placeholder="{{ 'To' | translate }}"
                  [disableOptionCentering]="true"
                  panelClass="filterPanel"
                >
                <mat-option
                  *ngFor="let item of data?.dropdown"
                  [value]="item._id"
                  (click)="payerSelect(item)"
                  data-cy="input-select-option-payer"
                >
                  <span *ngIf="!item?.is_financial_support && !item?.company_branch_id && !item?.organization_id">
                    {{
                      (item?.candidate_id?.last_name | uppercase) +
                        ' ' +
                        item?.candidate_id?.first_name +
                        ' ' +
                        (item?.candidate_id?.civility && item?.candidate_id?.civility === 'neutral'
                          ? ''
                          : (item?.candidate_id?.civility | translate))
                    }}
                  </span>
                  <span *ngIf="item?.is_financial_support && !item?.company_branch_id && !item?.organization_id">
                    {{
                      (item?.financial_support_info?.family_name | uppercase) +
                        ' ' +
                        item?.financial_support_info?.name +
                        ' ' +
                        (item?.financial_support_info?.civility && item?.financial_support_info?.civility === 'neutral'
                          ? ''
                          : (item?.financial_support_info?.civility | translate)) +
                        (item?.financial_support_info?.relation
                          ? ' (' + ('CARDDETAIL.RELATION.' + item?.financial_support_info?.relation | translate) + ')'
                          : '')
                    }}
                  </span>
                  <span *ngIf="(item?.is_financial_support || !item?.is_financial_support) && item?.company_branch_id">
                    {{ item?.company_branch_id?.company_name }}
                  </span>
                  <span *ngIf="item?.organization_id">
                    {{ item?.organization_id?.name }}
                  </span>
                </mat-option>
                </mat-select>
                <mat-error
                  *ngIf="identityForm.get('who').hasError('required') && (identityForm.get('who').dirty || identityForm.get('who').touched)"
                  >{{ 'This field is required' | translate }}
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>

      <div class="p-grid">
        <div class="p-col-12 no-padding">
          <div class="p-grid">
            <div class="p-col-fixed center-label no-padding-left label-align" style="width: 160px">
              <label>{{ 'Date' | translate }}*</label>
            </div>
            <div class="p-col no-padding">
              <mat-form-field floatLabel="never">
                <input
                  data-cy="input-date"
                  matInput
                  (click)="myDatepicker.open()"
                  readonly
                  placeholder="{{ 'Date' | translate }}"
                  formControlName="date"
                  [matDatepicker]="myDatepicker"
                  [disabled]="isUpdate"
                />
                <mat-datepicker-toggle matSuffix [for]="myDatepicker" [disabled]="isUpdate"></mat-datepicker-toggle>
                <mat-datepicker #myDatepicker></mat-datepicker>
                <mat-error
                  *ngIf="
                    identityForm.get('date').hasError('required') && (identityForm.get('date').dirty || identityForm.get('date').touched)
                  "
                  >{{ 'This field is required' | translate }}
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
      <div class="p-grid">
        <div class="p-col-12 no-padding">
          <div class="p-grid">
            <div class="p-col-fixed center-label no-padding-left label-align" style="width: 160px">
              <label>{{ 'Operation name' | translate }}*</label>
            </div>
            <div class="p-col no-padding">
              <mat-form-field floatLabel="never">
                <mat-label>{{ 'Operation name' | translate }}</mat-label>
                <mat-select
                  data-cy="input-select-operation-name"
                  formControlName="operation_name"
                  [disableOptionCentering]="true"
                  panelClass="filterPanel"
                  [disabled]="isUpdate"
                >
                  <mat-option data-cy="input-select-option-operation-name" *ngFor="let item of operationNameList" [value]="item.value">{{
                    item.key | translate
                  }}</mat-option>
                </mat-select>
                <mat-error
                  *ngIf="
                    identityForm.get('operation_name').hasError('required') &&
                    (identityForm.get('operation_name').dirty || identityForm.get('operation_name').touched)
                  "
                  >{{ 'This field is required' | translate }}</mat-error
                >
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>

      <!-- <div class="p-grid">
        <div class="p-col-12 no-padding">
          <div class="p-grid">
            <div class="p-col-fixed center-label no-padding-left label-align" style="width: 160px">
              <label>{{ 'Bank' | translate }}</label>
            </div>
            <div class="p-col no-padding">
              <div class="p-grid baseline">
                <ng-select
                  style="width: 100%"
                  class="mrgn-btn"
                  [items]="bank"
                  [multiple]="false"
                  placeholder="{{ 'Bank' | translate }}"
                  formControlName="bank"
                >
                </ng-select>
              </div>
            </div>
          </div>
        </div>
      </div> -->

      <div class="p-grid">
        <div class="p-col-12 no-padding">
          <div class="p-grid">
            <div class="p-col-fixed center-label no-padding-left label-align" style="width: 160px">
              <label>{{ 'Amount' | translate }}*</label>
            </div>
            <div class="p-col no-padding">
              <mat-form-field floatLabel="never">
                <input data-cy="input-amount" matInput (wheel)="onWheel($event)" formControlName="amount" type="number" placeholder="{{ 'Amount' | translate }}" />
                <mat-error
                  *ngIf="
                    (identityForm.get('amount').hasError('min') || identityForm.get('amount').hasError('required')) &&
                    (identityForm.get('amount').dirty || identityForm.get('amount').touched)
                  "
                >
                  {{ 'min value 0' | translate }}
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
      <!-- 
      <div class="p-grid">
        <div class="p-col-12 no-padding">
          <div class="p-grid">
            <div class="p-col-fixed center-label no-padding-left label-align" style="width: 140px">
              <label>{{ 'Payment method' | translate }}</label>
            </div>
            <div class="p-col no-padding">
              <div class="p-grid web-card" style="padding-top: 7px">
                <mat-checkbox (change)="checkPayment('cheque')" formControlName="cheque" style="min-width: 100px">{{
                  'Check' | translate
                }}</mat-checkbox>
                <mat-checkbox (change)="checkPayment('transfer')" formControlName="transfer" style="min-width: 100px">{{
                  'Transfer' | translate
                }}</mat-checkbox>
                <mat-checkbox (change)="checkPayment('credit')" formControlName="credit" style="min-width: 100px">{{
                  'Credit card' | translate
                }}</mat-checkbox>
                <mat-checkbox (change)="checkPayment('cash')" formControlName="cash" style="margin-left: 10px; min-width: 100px">{{
                  'Cash' | translate
                }}</mat-checkbox>
              </div>
            </div>
          </div>
        </div>
      </div> -->

      <!-- <div class="p-grid">
        <div class="p-col-12 no-padding">
          <div class="p-grid">
            <div class="p-col-fixed center-label no-padding-left label-align" style="width: 140px">
              <label>{{ 'Currency' | translate }}</label>
            </div>
            <div class="p-col no-padding">
              <mat-form-field floatLabel="never">
                <mat-select formControlName="currency">
                  <mat-option [value]="'EUR'">{{ 'EUR' | translate }} </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div> -->

      <div class="p-grid">
        <div class="p-col-12 no-padding">
          <div class="p-grid">
            <div class="p-col-fixed center-label no-padding-left label-align" style="width: 160px">
              <label>{{ 'Payment method' | translate }}*</label>
            </div>
            <div class="p-col no-padding">
              <mat-form-field floatLabel="never">
                <mat-label>{{ 'Payment method' | translate }}</mat-label>
                <mat-select
                  data-cy="input-select-payment-method"
                  formControlName="payment_method"
                  [disableOptionCentering]="true"
                  panelClass="filterPanel"
                  [disabled]="isUpdate"
                >
                  <mat-option data-cy="input-select-option-payment-method" [value]="item.value" *ngFor="let item of methodOfPaymentList">{{
                    'nature_type.' + item.key | translate
                  }}</mat-option>
                </mat-select>
                <mat-error
                  *ngIf="
                    identityForm.get('payment_method').hasError('required') &&
                    (identityForm.get('payment_method').dirty || identityForm.get('payment_method').touched)
                  "
                  >{{ 'This field is required' | translate }}</mat-error
                >
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>

      <div class="p-grid">
        <div class="p-col-12 no-padding">
          <div class="p-grid">
            <div class="p-col-fixed center-label no-padding-left label-align" style="width: 160px">
              <label>{{ 'Référence' | translate }}*</label>
            </div>
            <div class="p-col no-padding">
              <mat-form-field floatLabel="never">
                <textarea
                  data-cy="input-reference"
                  matInput
                  msPreventInputTagCharacters
                  placeholder="{{ 'Référence' | translate }}"
                  formControlName="reference"
                  [readonly]="isUpdate"
                ></textarea>
                <mat-error
                  *ngIf="
                    identityForm.get('reference').hasError('required') &&
                    (identityForm.get('reference').dirty || identityForm.get('reference').touched)
                  "
                  >{{ 'This field is required' | translate }}</mat-error
                >
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>

      <div class="p-grid">
        <div class="p-col-12 no-padding">
          <div class="p-grid">
            <div class="p-col-fixed center-label no-padding-left label-align" style="width: 160px">
              <label>{{ 'Note' | translate }}</label>
            </div>
            <div class="p-col no-padding">
              <mat-form-field floatLabel="never">
                <textarea
                  data-cy="input-note"
                  matInput
                  msPreventInputTagCharacters
                  placeholder="{{ 'Note' | translate }}"
                  formControlName="note"
                  [readonly]="isUpdate"
                ></textarea>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-raised-button type="button" color="warn" mat-dialog-close data-cy="button-cancel-add-refund-dialog">
        {{ 'CANCEL' | translate }}
      </button>
      <button mat-raised-button color="primary" (click)="submitVerification()" data-cy="button-validate-add-refund-dialog">
        {{ 'Validate' | translate }}
      </button>
    </mat-dialog-actions>
  </div>
</form>

<div *ngIf="isWaitingForResponse" class="loading-indicator" data-cy="spinner-add-refund-dialog">
  <mat-progress-spinner mode="indeterminate" color="accent"></mat-progress-spinner>
</div>
