@import '~assets/scss/theme/admtc.variables';
@import '~assets/scss/theme/admtc';

.section-header {
  background-color: #363636;
  margin-top: -1.6rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.form-side {
  max-height: calc(100vh - 170px);
  overflow: auto;
  padding-top: 1rem;
}

.preview-side {
  max-height: calc(100vh - 145px);
  overflow: auto;
  padding-top: 1rem;
}

.card-row {
  padding: 8px;
}

.form-field {
  margin-top: 6px;
}

.text-end-no-pad-r {
  text-align: end;
  padding-right: 0px;
}

:host::ng-deep .mat-checked .mat-slide-toggle-content {
  color: $dark-yellow;
}

:host::ng-deep.ckeditor {
  label {
    font-size: 14px;
  }
  .ck-content {
    min-height: 10rem !important;
    background: white !important;
    color: #000 !important;
  }
}

:host ::ng-deep .mat-slide-toggle-content {
  white-space: break-spaces !important;
  overflow: visible !important;
  text-overflow: unset !important;
}

// ***************** ng-select styling *****************
:host::ng-deep.ng-select .ng-select-container {
  background-color: #fff0;
  color: #fff;
  border: none;
  border-radius: 0px !important;
  border-bottom: 1px solid rgb(241, 241, 241) !important;
  min-height: 36px;
  -webkit-box-align: center;
  align-items: center;
}
:host::ng-deep.mat-select-arrow-wrapper {
  padding-right: 5px;
}
:host::ng-deep.mat-select-value-text {
  margin-left: 10px;
  font-size: 13px;
}
:host::ng-deep.ng-select {
  margin-bottom: 16px;
  padding-top: 3px;
}
:host::ng-deep.ng-select .ng-select-container .ng-value-container .ng-input > input {
  color: white;
  box-sizing: content-box;
  background: none;
  border: 0;
  box-shadow: none;
  outline: 0;
  cursor: default;
  padding-left: 0px !important;
  width: 100%;
}
:host::ng-deep.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input {
  padding-left: 0px !important;
}
:host::ng-deep.ng-select .ng-select-container .ng-value-container {
  padding-left: 0px !important;
}
:host::ng-deep.ng-select.ng-select-single .ng-select-container .ng-value-container,
.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-value {
  font-size: 14px !important;
}
.ng-select-custom-header {
  cursor: pointer;
}
:host::ng-deep.ng-select .ng-dropdown-panel {
  text-align: left !important;
  font-size: 15px !important;
}
:host::ng-deep.ng-select.ng-invalid.ng-touched .ng-select-container {
  border-bottom: 1px solid #f44336 !important;
}

:host::ng-deep.ng-select.ng-invalid.ng-touched .ng-placeholder {
  color: #f44336 !important;
}

// ***************** drag drop styling *****************
.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.panel-divider {
  // border-top: 1px solid #ffffff94;
  padding-top: 0;
  padding-bottom: 0;
}
:host::ng-deep.mat-expansion-panel-header {
  height: 45px !important;
  border-bottom: 1px solid white;
  border-radius: unset !important;
}
:host::ng-deep.mat-expansion-panel-body {
  padding: 0 12px 16px !important;
}

// ******************* Style for mat stepper below

:host ::ng-deep .mat-step-header {
  background: #14b5c8 !important;
  max-width: 7rem;
}

:host ::ng-deep .mat-step-icon-selected {
  background-color: #14b5c8 !important;
  color: white;
  font-size: 56px;
}

:host ::ng-deep .mat-stepper-horizontal,
:host ::ng-deep .mat-stepper-vertical {
  background-color: #363636;
  margin-top: 2rem;
}

:host ::ng-deep .mat-horizontal-content-container {
  padding: 0 !important;
}

:host ::ng-deep .mat-step-label {
  display: inline-block;
  white-space: break-spaces;
  overflow: unset !important;
  text-overflow: unset !important;
  vertical-align: middle;
}

h3 {
  padding: 0 !important;
  margin: 0 !important;
}

:host ::ng-deep table {
  tr {
    td,
    th {
      border-right: 1px solid $grey;
      &:nth-child(1) {
        width: 50px;
        text-align: center;
        padding-left: 0.5rem !important;
        padding-right: 0.5rem !important;
        &.action-header-column {
          padding-left: 0 !important;
          padding-right: 0 !important;
        }
        .mat-form-field {
          width: 90%;
        }
      }

      &:nth-child(2) {
        width: auto;
        padding-left: 0.5rem !important;
        padding-right: 0.5rem !important;
        .mat-form-field {
          width: 90%;
        }
      }

      &:nth-child(3) {
        width: 130px;
        text-align: center;
        padding-right: 0px !important;
      }

      &:nth-child(4) {
        width: 130px;
        text-align: center;
        padding-right: 0px !important;
      }
    }

    td {
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 0;
      white-space: nowrap;
      padding-top: 0.5em;
      padding-bottom: 0.5em;
    }

    th {
      vertical-align: top;
      text-align: center;
      .mat-form-field-infix {
        width: unset !important;
      }
    }

    &:nth-child(2) {
      th {
        padding-top: 0.9em;
      }
    }
  }

  thead tr {
    &:nth-child(1) {
      height: 35px;
    }
    &:nth-child(1),
    &:nth-child(2) {
      background: $light-black;
      th {
        color: $white;
      }
    }
  }
}

.float-label {
  font-size: 0.82rem;
  color: #ffffff78;
  font-weight: 600;
}

:host::ng-deep .mat-form-field.mat-form-field-invalid {
  .mat-input-element {
      color: #ff5722 !important;
  }
  .mat-form-field-label {
    color: #ff5722 !important;
      .mat-form-field-required-marker {
        color: #ff5722 !important;
      }
  }
  .mat-form-field-ripple {
    color: #ff5722 !important;
  }
}
:host::ng-deep {
  .cdk-overlay-pane {
    width: fit-content !important;
  }
}
::ng-deep {
  // .mat-select-panel {
  //   width: fit-content !important;
  //   margin-top: 25px !important;
  //   min-width: 0 !important;
  // }
  .ng-dropdown-panel {
    width: fit-content !important;
    min-width: 0 !important;
  }
}
::ng-deep.custom-matselect-dropdown.mat-select-panel {
  max-width: fit-content !important;
}