<form class="row no-margin" [formGroup]="paymentForm">
  <div>
    <div
      *ngIf="!processFinish && !noDownPaymentSelected && !isDepositPaymentSameFromTransfer"
      class="header"
      [innerHTML]="stepData?.direction | safeHtml"
    ></div>
    <ng-container *ngIf="!processFinish && !noDownPaymentSelected && !isDepositPaymentSameFromTransfer">
      <div class="row no-margin" style="margin-top: 15px !important">
        <!-- <ng-container *ngFor="let downPaymentMethod of candidateData?.registration_profile?.select_payment_method_available">
          <mat-card class="card-payment card-height" style="border: 1px solid #eeeeee; height: 215px; z-index: 2">
            <div class="row">
              <div style="text-align: center; height: 70px">
                <ng-container *ngIf="downPaymentMethod === 'check'">
                  <mat-icon class="help-info" matTooltip="{{ 'info_check' | translate }}">help</mat-icon>
                  <svg style="width: 56px; color: white" viewBox="0 0 24 24">
                    <path fill="currentColor" d="M5,14H19V15H5V14M21,17V8H3V17H21M1,5H23V19H1V5M5,10H12V12H5V10Z" />
                  </svg>
                </ng-container>

                <ng-container *ngIf="downPaymentMethod === 'credit_card'"
                  ><mat-icon class="help-info" matTooltip="{{ 'info_credit_card' | translate }}">help</mat-icon>
                  <svg style="width: 56px; color: white" viewBox="0 0 24 24">
                    <path
                      fill="currentColor"
                      d="M20 4H4A2 2 0 0 0 2 6V18A2 2 0 0 0 4 20H20A2 2 0 0 0 22 18V6A2 2 0 0 0 20 4M20 11H4V8H20Z"
                    />
                  </svg>
                </ng-container>

                <ng-container *ngIf="downPaymentMethod === 'transfer'"
                  ><mat-icon class="help-info" matTooltip="{{ 'info_transfer' | translate }}">help</mat-icon>
                  <svg style="width: 60px; height: 60px; color: white" viewBox="0 0 24 24">
                    <path
                      fill="currentColor"
                      d="M3,6H21V18H3V6M12,9A3,3 0 0,1 15,12A3,3 0 0,1 12,15A3,3 0 0,1 9,12A3,3 0 0,1 12,9M7,8A2,2 0 0,1 5,10V14A2,2 0 0,1 7,16H17A2,2 0 0,1 19,14V10A2,2 0 0,1 17,8H7Z"
                    />
                  </svg>
                </ng-container>

                <ng-container *ngIf="downPaymentMethod === 'sepa'"
                  ><mat-icon class="help-info" matTooltip="{{ 'info_sepa' | translate }}">help</mat-icon>
                  <img class="payment-success" style="height: 46px; padding-top: 9px" [src]="sepaLogo" />
                </ng-container>

                <ng-container *ngIf="downPaymentMethod === 'cash'"
                  ><mat-icon class="help-info" matTooltip="{{ 'info_cash' | translate }}">help</mat-icon>
                  <svg style="width: 60px; height: 60px; color: white" viewBox="0 0 24 24">
                    <path
                      fill="currentColor"
                      d="M3,6H21V18H3V6M12,9A3,3 0 0,1 15,12A3,3 0 0,1 12,15A3,3 0 0,1 9,12A3,3 0 0,1 12,9M7,8A2,2 0 0,1 5,10V14A2,2 0 0,1 7,16H17A2,2 0 0,1 19,14V10A2,2 0 0,1 17,8H7Z"
                    />
                  </svg>
                </ng-container>
              </div>
            </div>
            <div class="row">
              <div class="text-payments">{{ 'Deposit' | translate }} {{ depositAmount }} €</div>
            </div>
            <div class="mobile-radio center-item" style="color: white; font-size: 14px">
              <fieldset [disabled]="hasDoneTransferCheckForm || hasDoneCC">
                <mat-radio-group class="radio-position-mobile" formControlName="payment_method" style="font-size: 12px">
                  <mat-radio-button
                    (change)="radioChange(downPaymentMethod, $event)"
                    [value]="downPaymentMethod"
                    class="radio-alignment"
                  ></mat-radio-button>
                </mat-radio-group>
              </fieldset>
            </div>
            <div style="color: white; font-size: 14px; text-align: center">
              <h4>
                {{ downPaymentMethod | translate }}
              </h4>
            </div>
          </mat-card>
        </ng-container> -->
        <mat-radio-group class="p-grid" formControlName="payment_method">
          <mat-card class="payment-card" *ngFor="let method of candidateData?.registration_profile?.select_payment_method_available">
            <div class="p-grid p-dir-col p-align-center">
              <mat-icon class="help-info p-col-align-end" [matTooltip]="'info_' + method | translate" [matTooltipPosition]="'above'">
                help
              </mat-icon>
              <div *ngIf="method === 'sepa'" class="method-icon p-grid p-align-center p-justify-center">
                <img src="/assets/img/sepa-wt-logo.png" />
              </div>
              <svg *ngIf="method !== 'sepa'" class="method-icon" fill="currentColor" viewBox="0 0 24 24" [ngSwitch]="method">
                <path
                  *ngSwitchCase="'credit_card'"
                  d="M20 4H4A2 2 0 0 0 2 6V18A2 2 0 0 0 4 20H20A2 2 0 0 0 22 18V6A2 2 0 0 0 20 4M20 11H4V8H20Z"
                />
                <path
                  *ngSwitchCase="'transfer'"
                  d="M3,6H21V18H3V6M12,9A3,3 0 0,1 15,12A3,3 0 0,1 12,15A3,3 0 0,1 9,12A3,3 0 0,1 12,9M7,8A2,2 0 0,1 5,10V14A2,2 0 0,1 7,16H17A2,2 0 0,1 19,14V10A2,2 0 0,1 17,8H7Z"
                />
                <path *ngSwitchCase="'check'" d="M5,14H19V15H5V14M21,17V8H3V17H21M1,5H23V19H1V5M5,10H12V12H5V10Z" />
                <path
                  *ngSwitchCase="'cash'"
                  d="M2,5H22V20H2V5M20,18V7H4V18H20M17,8A2,2 0 0,0 19,10V15A2,2 0 0,0 17,17H7A2,2 0 0,0 5,15V10A2,2 0 0,0 7,8H17M17,13V12C17,10.9 16.33,10 15.5,10C14.67,10 14,10.9 14,12V13C14,14.1 14.67,15 15.5,15C16.33,15 17,14.1 17,13M15.5,11A0.5,0.5 0 0,1 16,11.5V13.5A0.5,0.5 0 0,1 15.5,14A0.5,0.5 0 0,1 15,13.5V11.5A0.5,0.5 0 0,1 15.5,11M13,13V12C13,10.9 12.33,10 11.5,10C10.67,10 10,10.9 10,12V13C10,14.1 10.67,15 11.5,15C12.33,15 13,14.1 13,13M11.5,11A0.5,0.5 0 0,1 12,11.5V13.5A0.5,0.5 0 0,1 11.5,14A0.5,0.5 0 0,1 11,13.5V11.5A0.5,0.5 0 0,1 11.5,11M8,15H9V10H8L7,10.5V11.5L8,11V15Z"
                />
              </svg>
            </div>
            <mat-card-content>
              <fieldset [disabled]="hasDoneTransferCheckForm || hasDoneCC">
                <p>{{ 'Deposit' | translate }} {{ depositAmount }} €</p>
                <mat-radio-button [value]="method" (change)="radioChange(method, $event)"></mat-radio-button>
                <p class="method-name">{{ method | translate }}</p>
              </fieldset>
            </mat-card-content>
          </mat-card>
        </mat-radio-group>
      </div>
    </ng-container>
  </div>

  <ng-container *ngIf="!processFinish && !noDownPaymentSelected && isDepositPaymentSameFromTransfer">
    <div style="margin-top: 20px !important; text-align: center">
      <mat-icon class="content-empty">article</mat-icon>
      <div class="row no-margin msg-pay" style="font-size: 25px">
        {{ "You don't have a down payment that needs to be paid" | translate }}
      </div>
    </div>
  </ng-container>
  <div
    class="row"
    style="margin: auto; text-align: right; bottom: 30px; position: absolute; right: 30px"
    *ngIf="!processFinish && !noDownPaymentSelected && isDepositPaymentSameFromTransfer && !hideButtonAccept"
  >
    <button
      *ngIf="!isLastStep"
      mat-raised-button
      matTooltip="{{ 'I accept and continue to next step' | translate }}"
      matTooltipPosition="above"
      color="accent"
      (click)="submitNoDP()"
      style="line-height: 25px !important"
    >
      {{ 'I accept and continue to next step' | translate }}
    </button>
    <button
      *ngIf="isLastStep"
      mat-raised-button
      matTooltip="{{ 'Submit' | translate }}"
      matTooltipPosition="above"
      color="accent"
      (click)="submitNoDP()"
      style="line-height: 25px !important"
    >
      {{ 'Submit' | translate }}
    </button>
  </div>

  <div
    class="row"
    style="margin: auto; text-align: right; bottom: 30px; position: absolute; right: 30px"
    *ngIf="!processFinish && !noDownPaymentSelected && !showPayment && !showTransferForm && !hasDoneCC && !isDepositPaymentSameFromTransfer"
  >
    <button
      mat-raised-button
      matTooltip="{{ 'I accept and continue to next step' | translate }}"
      matTooltipPosition="above"
      color="accent"
      style="line-height: 25px !important"
      [disabled]="!paymentForm.get('payment_method').value || hasDoneTransferCheckForm"
      (click)="validatedDeposit()"
    >
      {{ 'I accept and continue to next step' | translate }}
    </button>
  </div>
  <div
    class="row"
    style="margin: auto; text-align: right; bottom: 30px; position: absolute; right: 30px"
    *ngIf="
      !processFinish &&
      !noDownPaymentSelected &&
      !showPayment &&
      showTransferForm &&
      !hasDoneTransferCheckForm &&
      !isDepositPaymentSameFromTransfer
    "
  >
    <button
      mat-raised-button
      matTooltip="{{ 'Submit' | translate }}"
      matTooltipPosition="above"
      color="accent"
      style="line-height: 25px !important"
      (click)="submitTransferCheckForm()"
    >
      {{ 'Submit' | translate }}
    </button>
  </div>
  <div style="margin-top: 60px">
    <div
      [formGroup]="transferCheckForm"
      *ngIf="
        showTransferForm &&
        (paymentForm.get('payment_method').value === 'check' || paymentForm.get('payment_method').value === 'transfer') &&
        !processFinish &&
        !noDownPaymentSelected &&
        !isDepositPaymentSameFromTransfer
      "
    >
      <div class="p-grid" *ngIf="paymentForm.get('payment_method').value === 'transfer'">
        <div class="p-col-12" style="color: red">
          <span
            >{{ 'down_payment_transfer_note' | translate }} {{ candidateData?.candidate_unique_number }} - {{ candidateData?.last_name | uppercase }}
            {{ candidateData?.first_name }}</span
          >
        </div>
      </div>
      <div class="p-grid">
        <div class="p-col-4">
          <span>{{ 'Legal entity caption' | translate }}:</span>
        </div>
        <div class="p-col-4">
          <span>{{ 'IBAN' }}: {{ legalEntityData?.account_holder_details?.bank_account_details[0]?.iban }}</span>
        </div>
        <div class="p-col-4">
          <span>{{ 'BIC' | translate }}: {{ legalEntityData?.bic }}</span>
        </div>
      </div>
      <div class="p-grid">
        <div class="p-col-4">{{ 'Write the wording used in payment' | translate }}*:</div>
        <div class="form-group p-col-8">
          <input class="form-control" formControlName="wording_used_in_payment" [readOnly]="hasDoneTransferCheckForm" required />
          <div
            class="invalid-feedback"
            *ngIf="
              transferCheckForm.get('wording_used_in_payment').hasError('required') &&
              (transferCheckForm.get('wording_used_in_payment').dirty || transferCheckForm.get('wording_used_in_payment').touched)
            "
          >
            {{ 'This field is required' | translate }}
          </div>
        </div>
      </div>
      <div class="p-grid">
        <div class="p-col-4">{{ 'Name of the payer' | translate }}*:</div>
        <div class="form-group p-col-4">
          <input class="form-control" formControlName="first_name_of_payer" [readOnly]="hasDoneTransferCheckForm" required />
          <div
            class="invalid-feedback"
            *ngIf="
              transferCheckForm.get('first_name_of_payer').hasError('required') &&
              (transferCheckForm.get('first_name_of_payer').dirty || transferCheckForm.get('first_name_of_payer').touched)
            "
          >
            {{ 'This field is required' | translate }}
          </div>
        </div>
      </div>
      <div class="p-grid">
        <div class="p-col-4">{{ 'Family name of the payer' | translate }}*:</div>
        <div class="form-group p-col-4">
          <input class="form-control" formControlName="familiy_name_of_payer" [readOnly]="hasDoneTransferCheckForm" required />
          <div
            class="invalid-feedback"
            *ngIf="
              transferCheckForm.get('familiy_name_of_payer').hasError('required') &&
              (transferCheckForm.get('familiy_name_of_payer').dirty || transferCheckForm.get('familiy_name_of_payer').touched)
            "
          >
            {{ 'This field is required' | translate }}
          </div>
        </div>
      </div>
      <div class="p-grid">
        <div class="p-col-4">{{ 'Upload proof of payment (screenshot of the payment done)' | translate }}*:</div>
        <div class="form-group p-col-4">
          <button
            *ngIf="!hasDoneTransferCheckForm"
            mat-raised-button
            matTooltip="{{ 'Upload Image/PDF' | translate }}"
            matTooltipPosition="above"
            color="accent"
            style="line-height: 25px !important"
            (click)="openUploadWindow()"
          >
            {{ 'Upload Image/PDF' | translate }}
          </button>
          <button
            *ngIf="hasDoneTransferCheckForm"
            mat-raised-button
            matTooltip="{{ 'Upload Image/PDF' | translate }}"
            matTooltipPosition="above"
            color="accent"
            style="line-height: 25px !important"
          >
            {{ 'Upload Image/PDF' | translate }}
          </button>
          <input #fileUploadDoc type="file" accept=".pdf, image/png, image/jpeg, image/jpg" class="hidden" (change)="chooseFile($event)" />
          <div class="invalid-feedback" *ngIf="!hasUploadPDF">
            {{ 'This field is required' | translate }}
          </div>
        </div>
      </div>
      <div class="p-col-12 document-info" *ngIf="documenPDFName">
        <a (click)="downloadFile()" class="document-name" style="margin-right: 1rem">{{
          transferCheckForm.get('s3_document_name').value
        }}</a>
        <!-- <mat-icon (click)="removeFile()" style="color: red; cursor: pointer">close</mat-icon> -->
      </div>
    </div>

    <div
      [ngStyle]="{
        display:
          (paymentForm.get('payment_method').value === 'credit_card' || paymentForm.get('payment_method').value === 'sepa') &&
          !processFinish &&
          !noDownPaymentSelected &&
          showPayment &&
          isAdyenPayment
            ? 'block'
            : 'none'
      }"
      #adyenDropin
      id="{{ type }}"
      class="payment adyen-wrapper"
    ></div>
  </div>
</form>
<ng-container *ngIf="processFinish && !noDownPaymentSelected && isLastStep">
  <div style="margin-top: 20px !important; text-align: center">
    <div *ngIf="candidateData?.school?.school_logo">
      <div class="row no-margin msg-pay">{{ 'Thank You For Submitting Your Admission' | translate }}</div>
      <div class="row no-margin payment-img">
        <img class="payment-success" style="height: 385px" [src]="serverimgPath + candidateData?.school?.school_logo" />
      </div>
    </div>
    <div *ngIf="!candidateData?.school?.school_logo">
      <div class="row no-margin msg-pay" style="font-size: 25px; margin-top: 170px !important">
        {{ 'Thank You For Submitting Your Admission' | translate }}
      </div>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="noDownPaymentSelected && !isDepositPaymentSameFromTransfer">
  <div style="margin-top: 20px !important; text-align: center">
    <!-- <mat-icon class="content-empty">article</mat-icon> -->
    <mat-icon class="content-empty"> euro_symbol </mat-icon>
    <div class="row no-margin msg-pay" style="font-size: 25px">{{ 'You not have a down payment' | translate }}</div>
  </div>
  <div class="text-right" style="margin-top: 15px">
    <button
      *ngIf="!hideButtonAccept"
      mat-raised-button
      matTooltip="{{ 'I accept and continue to next step' | translate }}"
      matTooltipPosition="above"
      color="accent"
      style="line-height: 25px !important"
      (click)="noDownPayment()"
    >
      {{ 'I accept and continue to next step' | translate }}
    </button>
  </div>
</ng-container>

<div *ngIf="isWaitingForResponse" class="loading-indicator">
  <mat-progress-spinner mode="indeterminate" color="accent"></mat-progress-spinner>
</div>

<button style="display: none" #triggerPopupValidatioon (click)="acceptNextStep(true)"></button>
<button style="display: none" #triggerTrue (click)="this.isWaitingForResponse = true"></button>
<button style="display: none" #triggerFalse (click)="this.isWaitingForResponse = false"></button>
