@import '~assets/scss/theme/admtc.variables';
@import '~assets/scss/theme/admtc';

.top-space {
  margin-top: 20px !important;
}

.horizontal {
  overflow: auto;
}

.header-action {
  font-family: 'firaSans' !important;
  height: 50px;
  padding: 8px 8px;
  background: #424242;
}

.text-count {
  display: inline-block;
  float: left;
  padding-top: 4px;
}

.table-wrapper {
  overflow: auto;
}

.table-wrapper::-webkit-scrollbar {
  height: 8px;
}

.table-wrapper::-webkit-scrollbar-track {
  background: #212121;
}

.table-wrapper::-webkit-scrollbar-thumb {
  border-radius: 9999px;
  background: #eaa11c !important;
}

:host ::ng-deep table {
  position: relative;
  border-collapse: unset;

  tr {
    td,
    th {
      font-size: 14px;
      border-right: 1px solid $grey;

      &.mat-column-select,
      &.mat-column-selectFilter {
        max-width: 40px;
        min-width: 40px;
        padding: 8px !important;
        box-shadow: 1px 1px 0px 0px #545454;
      }

      &.mat-column-documentName,
      &.mat-column-documentNameFilter {
        min-width: 25rem;
        max-width: 25rem;
        padding-right: 0.5rem;
      }

      &.mat-column-documentType,
      &.mat-column-documentTypeFilter {
        min-width: 8rem;
        max-width: 8rem;
        padding-right: 0.5rem;
      }

      &.mat-column-fileExtension,
      &.mat-column-fileExtensionFilter {
        min-width: 8rem;
        max-width: 8rem;
        padding-right: 0.5rem;
      }

      &.mat-column-action,
      &.mat-column-actionFilter {
        text-align: center !important;
        min-width: 6rem;
        max-width: 6rem;
        padding-right: 0.5rem;
      }
    }

    td {
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 0;
      white-space: nowrap;
      padding: 0.5em;
    }

    th {
      padding-top: 1rem;
      padding-bottom: 1rem;
      font-weight: bold !important;
      vertical-align: top;
      padding-left: 1rem;

      &.mat-column-reset {
        padding: 0.5em;
      }

      &.mat-column-select {
        vertical-align: middle;
      }

      &:last-child {
        padding-right: 1rem;
      }

      .mat-form-field-infix {
        width: unset !important;
      }

      .mat-form-field {
        width: 90%;
      }
    }
  }

  thead tr {
    &:nth-child(1),
    &:nth-child(2) {
      height: auto;
      background: $light-black;
      th {
        color: $white;
      }
    }

    &:nth-child(2) th {
      padding: 0.5em;
    }
  }
}

.no-records {
  background-color: #424242;
  font-size: 14px;
  padding: 10px 12px;
  border-right: 1px solid #545454;
  border-bottom: 1px solid #545454;
}

.center-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
}

// ***************** ng-select styling *****************
:host::ng-deep.ng-select .ng-select-container {
  background-color: #fff0;
  color: #fff;
  border: none;
  border-radius: 0px !important;
  border-bottom: 1px solid rgb(241, 241, 241) !important;
  min-height: 36px;
  -webkit-box-align: center;
  align-items: center;
}

:host::ng-deep.ng-select.ng-invalid.ng-touched .ng-select-container {
  border-bottom: 1px solid #f44336 !important;
}

:host::ng-deep.ng-select.ng-invalid.ng-touched .ng-placeholder {
  color: #f44336 !important;
}

:host::ng-deep.mat-select-arrow-wrapper {
  padding-right: 5px;
}

:host::ng-deep.mat-select-value-text {
  margin-left: 10px;
  font-size: 13px;
}

:host::ng-deep.ng-select {
  margin-bottom: 16px;
  padding-top: 3px;
}

:host::ng-deep.ng-select .ng-select-container .ng-value-container .ng-input > input {
  color: white;
  box-sizing: content-box;
  background: none;
  border: 0;
  box-shadow: none;
  outline: 0;
  cursor: default;
  padding-left: 0px !important;
  width: 100%;
}

:host::ng-deep.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input {
  padding-left: 0px !important;
}

:host::ng-deep.ng-select .ng-select-container .ng-value-container {
  padding-left: 0px !important;
}

:host::ng-deep.ng-select.ng-select-single .ng-select-container .ng-value-container,
.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-value {
  font-size: 14px !important;
  color: white;
}

.ng-select-custom-header {
  cursor: pointer;
}

:host::ng-deep.ng-select .ng-dropdown-panel {
  text-align: left !important;
  font-size: 15px !important;
}

:host::ng-deep.ng-select.ng-select-multiple .ng-select-container .ng-value-container {
  flex-wrap: nowrap !important;
  overflow: hidden;
}

:host::ng-deep.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
  background-color: transparent;
  color: white;
}

:host::ng-deep.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value:not(:nth-last-child(2))::after {
  content: ',';
}

:host::ng-deep.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-icon {
  display: none;
}

:host::ng-deep.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-placeholder {
  font-size: 16px;
}

// multiple All header styling
::ng-deep.all-input .mat-checkbox-layout .mat-checkbox-inner-container {
  width: 12px;
  height: 12px;
  margin-left: 7px;
}

::ng-deep.all-input .mat-checkbox-layout .mat-checkbox-inner-container .mat-checkbox-background {
  background-color: transparent;
}

::ng-deep.all-input
  .mat-checkbox-layout
  .mat-checkbox-inner-container
  .mat-checkbox-background
  .mat-checkbox-checkmark
  .mat-checkbox-checkmark-path {
  stroke: black !important;
}

::ng-deep.all-input.mat-checkbox-indeterminate
  .mat-checkbox-layout
  .mat-checkbox-inner-container
  .mat-checkbox-background
  .mat-checkbox-mixedmark {
  background-color: black !important;
}

::ng-deep.ng-dropdown-panel.custom {
  width: fit-content !important;
  .ng-dropdown-panel-items .ng-option {
    white-space: normal !important;
  }
}
::ng-deep.ng-select.custom .ng-select-container .ng-value-container .ng-input > input {
  color: white !important;
}
