<div class="container">
  <div class="p-grid">
    <div class="p-col-12">
      <div class="horizontal header-button header-action">
        <div class="text-right" style="display: inline-block; float: right">
          <button
            mat-raised-button
            color="accent"
            class="relative"
            matTooltip="{{ 'Action' | translate }} "
            matTooltipPosition="above"
            [disabled]="isWaitingForResponse"
            [matMenuTriggerFor]="action"
          >
            {{ 'Action' | translate }}
            <mat-icon>expand_more</mat-icon>
          </button>
          <mat-menu #action="matMenu">
            <button mat-menu-item (click)="onAddAttachment()" matTooltip="{{ 'Notification management.Add attachment' | translate }}">
              {{ 'Notification management.Add attachment' | translate }}
            </button>
          </mat-menu>
          <button mat-raised-button (click)="resetTable()" color="primary" matTooltip="{{ 'RESET' | translate }}">
            <mat-icon svgIcon="loop" class="mat-icon-svgIcon"></mat-icon>
            {{ 'RESET' | translate }}
          </button>
        </div>
        <div class="text-right text-count">
          <!-- <span style="font-family: 'firaSans' !important" *ngIf="dataSelected?.length || (isCheckedAll && dataCount)"
            >{{ 'Selected Data' | translate }} : {{ isCheckedAll ? dataCount - dataUnselected?.length : dataSelected?.length }}</span
          > -->
          <mat-slide-toggle [formControl]="fileInZipControl" (change)="onSetFileInZip($event)">
            {{
              (fileInZipControl.value
                ? 'Notification management.Attachments will be sent in ZIP'
                : 'Notification management.Attachments will not be sent in ZIP'
              ) | translate
            }}
          </mat-slide-toggle>
        </div>
      </div>

      <div class="p-col-12 no-padding table-wrapper mat-elevation-z8">
        <table mat-table matSort [dataSource]="dataSource" (matSortChange)="sortData($event)">
          <!-- FILTERS ----------------------------------------------------------->
          <ng-container matColumnDef="selectFilter">
            <th mat-header-cell *matHeaderCellDef></th>
          </ng-container>
          <ng-container matColumnDef="documentNameFilter">
            <th mat-header-cell *matHeaderCellDef>
              <mat-form-field>
                <input matInput class="form-field" [formControl]="documentNameFilter" placeholder="{{ 'search' | translate }}" />
              </mat-form-field>
            </th>
          </ng-container>
          <ng-container matColumnDef="documentTypeFilter">
            <th mat-header-cell *matHeaderCellDef>
              <ng-select
                [items]="documentTypes"
                bindValue="value"
                bindLabel="key"
                class="custom"
                [appendTo]="'body'"
                [multiple]="true"
                notFoundText="{{ 'NOT RECORD FOUND' | translate }}"
                placeholder="{{ 'search' | translate }}"
                [formControl]="documentTypeFilter"
                [clearable]="false"
                [closeOnSelect]="false"
                (close)="setDocumentTypeFilter()"
              >
                <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                  <input id="item-{{ index }}" type="checkbox" [ngModel]="item$?.selected" /> {{ item?.key}}
                </ng-template>
                <ng-template ng-header-tmp *ngIf="documentTypes?.length">
                  <mat-checkbox
                    class="all-input"
                    style="cursor: pointer"
                    [checked]="isAllDropdownSelected('documentType')"
                    [indeterminate]="isSomeDropdownSelected('documentType')"
                    (change)="selectAllData($event, 'documentType')"
                  >
                    {{ 'AllM' | translate }}
                  </mat-checkbox>
                </ng-template>
              </ng-select>
            </th>
          </ng-container>
          <ng-container matColumnDef="fileExtensionFilter">
            <th mat-header-cell *matHeaderCellDef>
              <ng-select
                [items]="fileExtensions"
                bindValue="value"
                bindLabel="key"
                class="custom"
                [appendTo]="'body'"
                [multiple]="true"
                notFoundText="{{ 'NOT RECORD FOUND' | translate }}"
                placeholder="{{ 'search' | translate }}"
                [formControl]="fileExtensionFilter"
                [clearable]="false"
                [closeOnSelect]="false"
                (close)="setFileExtensionFilter()"
              >
                <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                  <input id="item-{{ index }}" type="checkbox" [ngModel]="item$?.selected" /> {{ item?.key }}
                </ng-template>
                <ng-template ng-header-tmp *ngIf="fileExtensions?.length">
                  <mat-checkbox
                    class="all-input"
                    style="cursor: pointer"
                    [checked]="isAllDropdownSelected('fileExtension')"
                    [indeterminate]="isSomeDropdownSelected('fileExtension')"
                    (change)="selectAllData($event, 'fileExtension')"
                  >
                    {{ 'AllM' | translate }}
                  </mat-checkbox>
                </ng-template>
              </ng-select>
            </th>
          </ng-container>
          <ng-container matColumnDef="actionFilter">
            <th mat-header-cell *matHeaderCellDef></th>
          </ng-container>

          <!-- CONTENT ----------------------------------------------------------->
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef class="text-center">
              <mat-checkbox
                (change)="$event ? masterToggle() : null"
                (change)="showOptions('all', '')"
                [checked]="(selection.hasValue() && isAllSelected()) || isCheckedAll"
                [indeterminate]="selection.hasValue() && !isAllSelected()"
                [aria-label]="checkboxLabel()"
              >
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row" class="text-center">
              <mat-checkbox
                (click)="$event.stopPropagation()"
                (change)="$event ? selection.toggle(row._id) : null"
                [checked]="selection.isSelected(row?._id) || (isCheckedAll && !dataUnselected.includes(row?._id))"
                (change)="showOptions('one', row)"
                [aria-label]="checkboxLabel(row)"
              >
              </mat-checkbox>
            </td>
          </ng-container>
          <ng-container matColumnDef="documentName">
            <th
              mat-header-cell
              *matHeaderCellDef
              matTooltip="{{ 'Notification management.Document name' | translate }}"
              matTooltipPosition="above"
            >
              <h5 mat-sort-header="filename" style="text-align: center !important">
                {{ 'Notification management.Document name' | translate }}
              </h5>
            </th>
            <td mat-cell *matCellDef="let element" class="pad-l-xs" [matTooltip]="element?.filename | translate">
              {{ element?.filename }}
            </td>
          </ng-container>
          <ng-container matColumnDef="documentType">
            <th
              mat-header-cell
              *matHeaderCellDef
              matTooltip="{{ 'Notification management.Document type' | translate }}"
              matTooltipPosition="above"
            >
              <h5 mat-sort-header="document_type" style="text-align: center !important">
                {{ 'Notification management.Document type' | translate }}
              </h5>
            </th>
            <td
              mat-cell
              *matCellDef="let element"
              class="pad-l-xs"
              [matTooltip]="'Notification management.' + element?.document_type | translate"
            >
              {{ 'Notification management.' + element?.document_type | translate }}
            </td>
          </ng-container>
          <ng-container matColumnDef="fileExtension">
            <th
              mat-header-cell
              *matHeaderCellDef
              matTooltip="{{ 'Notification management.File extension' | translate }}"
              matTooltipPosition="above"
            >
              <h5 mat-sort-header="file_extension" style="text-align: center !important">
                {{ 'Notification management.File extension' | translate }}
              </h5>
            </th>
            <td mat-cell *matCellDef="let element" class="pad-l-xs" [matTooltip]="element?.file_extension">
              {{ element?.file_extension }}
            </td>
          </ng-container>
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef matTooltip="{{ 'Action' | translate }}">
              <h5 style="text-align: center !important">{{ 'Action' | translate }}</h5>
            </th>
            <td mat-cell *matCellDef="let element">
              <button
                mat-icon-button
                (click)="onViewAttachment(element)"
                *ngIf="element?.document_type === 'document_builder'"
                class="margin-right-button"
                matTooltip="{{ 'Notification management.View in document builder' | translate }}"
                matTooltipPosition="above"
              >
                <mat-icon svgIcon="eye"></mat-icon>
              </button>
              <button
                mat-icon-button
                (click)="onDownloadAttachment(element)"
                *ngIf="element?.document_type !== 'document_builder'"
                class="margin-right-button"
                matTooltip="{{ 'Notification management.Download attachment' | translate }}"
                matTooltipPosition="above"
              >
                <mat-icon>download</mat-icon>
              </button>
              <button
                mat-icon-button
                (click)="onRemoveAttachment(element)"
                class="margin-right-button"
                matTooltip="{{ 'Notification management.Remove attachment' | translate }}"
                matTooltipPosition="above"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>

          <!-- SPINNER ----------------------------------------------------------->
          <ng-container matColumnDef="loading">
            <th mat-header-cell *matHeaderCellDef colspan="100%" style="text-align: center !important">
              <div class="center-spinner">
                <mat-spinner color="accent"></mat-spinner>
              </div>
            </th>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-header-row *matHeaderRowDef="filterColumns"></tr>
          <tr mat-header-row *matHeaderRowDef="['loading']" [hidden]="!isWaitingForResponse"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns" [hidden]="isWaitingForResponse"></tr>
        </table>
      </div>

      <div *ngIf="noData | async" class="no-records">
        {{ 'NOT RECORD FOUND' | translate }}
      </div>
      <div [ngClass]="{ hide: noData | async }">
        <mat-paginator
          [ngClass]="{ 'hide-pagination-buttons': dataCount <= 10 }"
          [length]="dataCount"
          [hidePageSize]="true"
          [pageSize]="10"
          showFirstLastButtons
        ></mat-paginator>
      </div>
    </div>
  </div>
</div>

<div *ngIf="isLoading" class="loading-indicator">
  <mat-progress-spinner mode="indeterminate" color="accent"></mat-progress-spinner>
</div>
