@import '~assets/scss/theme/admtc.variables';
@import '~assets/scss/theme/admtc';

.dialog-border {
  border-bottom: 1px solid black;
  margin-bottom: 15px;
}
.dialogTitleWrapper {
  color: black;
}
.w-30 {
  padding-top: 4px !important;
  margin-right: 7px !important;
}
.acad-title {
  padding: 0px;
  margin-right: 25px;
}
.dialogTitle {
  display: inline-block;
}
.w-65 {
  float: right;
  position: relative;
  right: -38px;
}
.label-align {
  align-self: center;
}

.assign-border {
  border: 2px solid #fdd835;
  padding: 5px;
  margin: 5px;
}

.custom-input {
  border-bottom: 1px solid rgb(241, 241, 241) !important;
}

.red {
  color: #ff4040;
}

.break-space {
  white-space: break-spaces;
}
.break-space {
  white-space: break-spaces;
}
:host::ng-deep.mat-radio-outer-circle {
  border-color: rgba(0, 0, 0, 0.54) !important;
}
:host::ng-deep.mat-form-field-underline {
  background-color: rgba(0, 0, 0, 0.12) !important;
}
