@import '~assets/scss/theme/admtc.variables';
@import '~assets/scss/theme/admtc';

.text-info {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 0.5rem;
}

.header-action {
  font-family: 'firaSans' !important;
  height: 50px;
  padding: 8px 8px;
  background: #424242;
}
.horizontal {
  overflow: auto;
  overflow-y: hidden;
}
.horizontal::-webkit-scrollbar {
  height: 10px;
  height: 10px;
}
.horizontal::-webkit-scrollbar-track {
  background: #212121;
}
.horizontal::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: #eaa11c !important;
}
.mat-form-field {
  padding-left: 0.5rem !important;
}
.pad-top-miss {
  padding-top: 1.8px !important;
}
.form-field {
  margin-top: 0.5px;
}
.tag-container {
  white-space: normal;
  text-align: left !important;
  line-height: 2.3;
  overflow-wrap: break-word;
}
.green {
  color: #adff2f;
}
:host ::ng-deep table {
  tr {
    td,
    th {
      border-right: 1px solid $grey;
      //   text-align: center !important;
      &:nth-child(1) {
        width: 2%;
        min-width: 28px;
        padding-left: 0 !important;
      }

      &:nth-child(2) {
        width: 5%;
        font-size: 14px;
        font-weight: 400 !important;
        min-width: 90px;
        max-width: 90px;
        padding-left: 0.5rem !important;
        .mat-form-field {
          width: 90%;
        }
      }

      &:nth-child(3) {
        width: 5%;
        font-size: 14px;
        font-weight: 400 !important;
        min-width: 90px;
        padding-left: 0.5rem !important;
        .mat-form-field {
          width: 80%;
        }
      }

      &:nth-child(4) {
        width: 10%;
        font-size: 14px;
        font-weight: 400 !important;
        min-width: 135px;
        padding-left: 0.5rem !important;
        .mat-form-field {
          width: 90%;
        }
      }

      &:nth-child(5) {
        width: 6%;
        padding-left: 0.5rem !important;
        font-size: 14px;
        font-weight: 400 !important;
        min-width: 115px;
        .mat-form-field {
          width: 90%;
        }
      }

      &:nth-child(6) {
        width: 10%;
        padding-left: 0.5rem !important;
        font-size: 14px;
        font-weight: 400 !important;
        min-width: 115px;
        .mat-form-field {
          width: 90%;
        }
      }

      &:nth-child(7) {
        width: 15%;
        padding-left: 0.5rem !important;
        font-size: 14px;
        font-weight: 400 !important;
        min-width: 115px;
        .mat-form-field {
          width: 90%;
        }
      }

      &:nth-child(8) {
        width: 8%;
        padding-left: 0.5rem !important;
        font-size: 14px;
        font-weight: 400 !important;
        min-width: 115px;
        .mat-form-field {
          width: 100%;
        }
      }
    }

    td {
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 0;
      white-space: nowrap;
      padding-top: 0.5em;
      padding-bottom: 0.5em;
      &:nth-child(2) {
        padding-left: 0px !important;
        padding-right: 0px !important;
        vertical-align: middle;
        text-align: center;
        justify-content: center;
        margin: auto;
      }
    }

    th {
      vertical-align: middle;
      padding: 4px;
      .mat-form-field-infix {
        width: unset !important;
      }
    }

    &:nth-child(2) {
      th {
        padding-top: 0.9em;
      }
    }
  }

  thead tr {
    &:nth-child(1) {
      height: 35px;
      border-left: 4px solid #607d8b;
      border-right: 4px solid #607d8b;
      border-top: 4px solid #607d8b;
      border-bottom: unset !important;
    }
    &:nth-child(1),
    &:nth-child(2) {
      background: $light-black;
      border-bottom: none !important;
      font-size: 10pt !important;
      height: auto;
      th {
        color: $white;
      }
    }
    &:nth-child(2) {
      border-top: none !important;
    }
  }

  td.mat-cell:last-of-type {
    padding-right: 0px !important;
  }
}

.red {
  color: #ff4040;
}
.person-image {
  display: inline-block;
  margin-right: 0px;
  height: 18px;
  width: 18px;
  vertical-align: baseline;
}
.action-header-column {
  vertical-align: middle !important;
  padding-right: 0 !important;
  .p-grid {
    margin-top: unset !important;
  }
}

.left-margin {
  margin-left: 3%;
}

:host ::ng-deep .swal2-checkbox label,
.swal2-radio label {
  font-size: 1em !important;
}
.school-backdrop + .cdk-overlay-pane {
  .mat-dialog-container {
    overflow: visible;
  }
}

.mat-column-select {
  overflow: initial;
}

.cursor-pointer {
  cursor: pointer;
}

.pc-section {
  width: 50%;
  text-align: right;
  padding-right: 5px;
  display: inline-block;
}

.cr-section {
  width: 50%;
  text-align: left;
  display: inline-block;
}

.no-records {
  background-color: #424242;
  font-size: 14px;
  padding: 10px 12px;
  border-right: 1px solid #545454;
  border-bottom: 1px solid #545454;
}

:host::ng-deep.ng-select .ng-select-container {
  background-color: #fff0;
  color: #fff;
  border: none;
  border-radius: 0px !important;
  border-bottom: 1px solid #d1d1d1 !important;
  min-height: 40px;
  -webkit-box-align: center;
  align-items: center;
}
:host::ng-deep.mat-select-arrow-wrapper {
  padding-right: 5px;
}
:host::ng-deep.mat-select-value-text {
  margin-left: 10px;
  font-size: 13px;
}
:host::ng-deep.ng-select .ng-select-container .ng-value-container .ng-input > input {
  color: white;
  box-sizing: content-box;
  background: none;
  border: 0;
  box-shadow: none;
  outline: 0;
  cursor: default;
  width: 100%;
}

:host::ng-deep.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
  color: black;
}

.top-wraper {
  display: flex;
  gap: 1rem;
}
.update-info {
  display: table;

  p {
    display: table-row;
    margin-bottom: 0;

    span {
      display: table-cell;
      padding-right: 10px;
    }
  }
}
.icon-svgIcon-menu {
  margin-top: -1px !important;
  height: 18px !important;
  width: 18px !important;

}
.border-button{
  border-bottom: 1px solid #dadada;
}
:host::ng-deep .program-desired-dropdown.mat-select-panel{
  max-width: 100%;
  min-width: 100% !important;
  margin-top: 25px !important;
}

:host::ng-deep .mat-select-panel {
  max-width: fit-content !important;
}

:host::ng-deep.filterPanel {
  margin-top: 25px !important;
}
::ng-deep.custom-matselect-dropdown.mat-select-panel {
  max-width: fit-content !important;
}

// ***************** ng-select styling *****************
:host::ng-deep.ng-select .ng-select-container {
  background-color: #fff0;
  color: #fff;
  border: none;
  border-radius: 0px !important;
  border-bottom: 1px solid rgb(241, 241, 241) !important;
  min-height: 36px;
  -webkit-box-align: center;
  align-items: center;
}
:host::ng-deep.ng-select.ng-invalid.ng-touched .ng-select-container {
  border-bottom: 1px solid #f44336 !important;
}
:host::ng-deep.ng-select.ng-invalid.ng-touched .ng-placeholder {
  color: #f44336 !important;
}
:host::ng-deep.mat-select-arrow-wrapper {
  padding-right: 5px;
}
:host::ng-deep.mat-select-value-text {
  margin-left: 10px;
  font-size: 13px;
}
:host::ng-deep.ng-select {
  margin-bottom: 16px;
  padding-top: 3px;
}
:host::ng-deep.ng-select .ng-select-container .ng-value-container .ng-input > input {
  color: white;
  box-sizing: content-box;
  background: none;
  border: 0;
  box-shadow: none;
  outline: 0;
  cursor: default;
  padding-left: 0px !important;
  width: 100%;
}
:host::ng-deep.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input {
  padding-left: 0px !important;
}
:host::ng-deep.ng-select .ng-select-container .ng-value-container {
  padding-left: 0px !important;
}
:host::ng-deep.ng-select.ng-select-single .ng-select-container .ng-value-container,
.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-value {
  font-size: 14px !important;
}
.ng-select-custom-header {
  cursor: pointer;
}
:host::ng-deep.ng-select .ng-dropdown-panel {
  text-align: left !important;
  font-size: 15px !important;
}
:host::ng-deep.ng-select.ng-select-multiple .ng-select-container .ng-value-container {
  flex-wrap: nowrap !important;
}
:host::ng-deep.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
  background-color: transparent;
  color: white;
}
:host::ng-deep.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value:not(:nth-last-child(2))::after {
  content: ',';
}
:host::ng-deep.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-icon {
  display: none;
}

:host::ng-deep.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-placeholder {
  font-size: 16px;
}


// multiple All header styling
::ng-deep.all-input .mat-checkbox-layout .mat-checkbox-inner-container {
  width: 12px;
  height: 12px;
  margin-left: 7px;
}
::ng-deep.all-input .mat-checkbox-layout .mat-checkbox-inner-container .mat-checkbox-background {
    background-color: transparent;
}

::ng-deep.all-input .mat-checkbox-layout .mat-checkbox-inner-container .mat-checkbox-background .mat-checkbox-checkmark .mat-checkbox-checkmark-path {
  stroke: black !important;
}

::ng-deep.all-input.mat-checkbox-indeterminate .mat-checkbox-layout .mat-checkbox-inner-container .mat-checkbox-background .mat-checkbox-mixedmark {
  background-color: black !important;
}

.super-filter {
  width: 250px;
}

.float-label {
  font-size: 0.82rem;
  color: #ffffff78;
  font-weight: 600;
  position: absolute;
  top: -3px
}
::ng-deep.filterPanel {
  margin-top: 25px !important;
}
::ng-deep.ng-dropdown-panel.custom-dropdownpanel {
  width: fit-content !important;
}
.text-count {
  display: inline-block;
  float: left;
  padding-top: 4px;
}
::ng-deep.ng-dropdown-panel.custom-dropdownpanel-tableoscar {
  width: fit-content !important;
  .ng-dropdown-panel-items .ng-option {
    white-space: normal !important;
  }
}
::ng-deep {
  .custom-dropdownpanel-tableoscar,
  .custom-dropdownpanel {
    .ng-dropdown-header {
      margin-left: 0px !important;
      border-bottom: 1px solid #ccc !important;
    }
  }
}