<ms-filter-breadcrumb
  [filterBreadcrumbData]="filterBreadcrumbData"
  (removeFilterTrigger)="removeFilterBreadcrumb($event)"
></ms-filter-breadcrumb>

<div class="top-wraper">
  <div class="p-grid"  style="position: relative">
    <div class="p-col-fixed no-padding" style="width: 230px; float: left; padding-right: 15px !important">      
      <label class="float-label" *ngIf="schoolsAboveFilter?.value && schoolsAboveFilter?.value?.length !== 0">
        {{ 'Entité CRM' | translate }}
      </label>
      <ng-select
        [items]="tenantKeyList"
        bindValue="_id"
        bindLabel="label"            
        class="custom-dropdownpanel"
        [appendTo]="'body'"
        [multiple]="true"
        notFoundText="{{ 'NOT RECORD FOUND' | translate }}"
        placeholder="{{ 'Entité CRM' | translate }}"
        [formControl]="schoolsAboveFilter"
        [clearable]="false"
        [closeOnSelect]="false"
        (close)="checkSuperFilterCRM()"
      >
        <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
          <input id="item-{{ index }}" type="checkbox" [ngModel]="item$.selected" /> {{ item.label }}
        </ng-template>
        <ng-template ng-header-tmp *ngIf="tenantKeyList?.length">
          <mat-checkbox
            class="all-input"
            style="cursor: pointer"
            [checked]="isAllDropdownSelected('crm')"
            [indeterminate]="isSomeDropdownSelected('crm')"
            (change)="selectAllData($event, 'crm')"
          >
            {{ 'AllF' | translate }}
          </mat-checkbox>
        </ng-template>
      </ng-select>
    </div>
    <div class="p-col-fixed no-padding" style="width: 250px; float: left; padding-right: 15px !important">      
      <label class="float-label" *ngIf="programsDesiredAboveFilter?.value && programsDesiredAboveFilter?.value?.length !== 0">
        {{ 'Program desired' | translate }}
      </label>
      <ng-select
        [items]="programsList"        
        class="custom-dropdownpanel"
        [appendTo]="'body'"
        [multiple]="true"
        notFoundText="{{ 'NOT RECORD FOUND' | translate }}"
        placeholder="{{ 'Program desired' | translate }}"
        [formControl]="programsDesiredAboveFilter"
        [clearable]="false"
        [closeOnSelect]="false"
        (close)="checkSuperFilterProgramDesired()"
      >
        <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
          <input id="item-{{ index }}" type="checkbox" [ngModel]="item$.selected" /> {{ item }}
        </ng-template>
        <ng-template ng-header-tmp *ngIf="programsList?.length">
          <mat-checkbox
            class="all-input"
            style="cursor: pointer"
            [checked]="isAllDropdownSelected('program')"
            [indeterminate]="isSomeDropdownSelected('program')"
            (change)="selectAllData($event, 'program')"
          >
            {{ 'AllF' | translate }}
          </mat-checkbox>
        </ng-template>
      </ng-select>
    </div>
    <div class="p-col-fixed no-padding" style="width: 195px; float: left; padding-right: 15px !important">      
      <label class="float-label" *ngIf="trialDateSupAboveFilter?.value && trialDateSupAboveFilter?.value?.length !== 0">
        {{ 'Trial date' | translate }}
      </label>
      <ng-select
        [items]="trialDateList"        
        class="custom-dropdownpanel"
        [appendTo]="'body'"
        [multiple]="true"
        notFoundText="{{ 'NOT RECORD FOUND' | translate }}"
        placeholder="{{ 'Trial date' | translate }}"
        [formControl]="trialDateSupAboveFilter"
        [clearable]="false"
        [closeOnSelect]="false"
        (close)="checkSuperFilterTrialDate()"
      >
        <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
          <input id="item-{{ index }}" type="checkbox" [ngModel]="item$.selected" /> {{item}}
        </ng-template>
        <ng-template ng-header-tmp *ngIf="trialDateList?.length">
          <mat-checkbox
            class="all-input"
            style="cursor: pointer"
            [checked]="isAllDropdownSelected('trial')"
            [indeterminate]="isSomeDropdownSelected('trial')"
            (change)="selectAllData($event, 'trial')"
          >
            {{ 'AllF' | translate }}
          </mat-checkbox>
        </ng-template>
      </ng-select>
      <!-- <ng-select
        [appendTo]="'body'"
        class="mrgn-btn"
        [items]="trialDateList"
        [multiple]="true"
        placeholder="{{ 'Trial date' | translate }}"
        [formControl]="trialDateSupAboveFilter"
      >
      </ng-select> -->
    </div>
    <div class="p-col-fixed" style="float: left; padding-right: 15px !important; margin-top: 2px !important">
      <button
        mat-button
        mat-raised-button
        color="accent"
        [disabled]="isDisabled || isLoading || isWaitingForResponse"
        (click)="applySuperFilter()"
      >
        {{ 'Apply Filter' | translate }}
      </button>
    </div>
    <div class="text-info">
      <span>{{ 'OCSCARCAMPUSINFO.Last update Oscar Campus' | translate }} </span>
      <span>:</span>
      <span
        >{{ translateDate(tableUpdateInfo?.oscar_last_import_date?.date, tableUpdateInfo?.oscar_last_import_date?.time) }} -
        {{ translateTime(tableUpdateInfo?.oscar_last_import_date?.time) }}</span
      >
    </div>  
  </div>
</div>

<div *ngIf="isLoading" class="inner-loading-indicator">
  <mat-spinner color="accent" [diameter]="100"></mat-spinner>
</div>
<div class="horizontal header-button header-action">
  <div class="text-right" style="display: inline-block; float: right">
    <button
      matTooltip="{{ 'Action' | translate }} "
      style="padding: 0px 7px !important"
      mat-raised-button
      color="accent"
      [disabled]="isWaitingForResponse || isLoading"
      [matMenuTriggerFor]="action"
    >
      {{ 'Action' | translate }}
      <mat-icon>expand_more</mat-icon>
    </button>
    <mat-menu #action="matMenu">
      <button
        mat-menu-item
        matTooltip="{{ 'Import' | translate }}"
        (click)="openImport()"
        *ngIf="permission.importAdmissionOscarPerm()"
        class="border-button"
      >
        <!-- <mat-icon svgIcon="file-excel" class="mat-icon-svgIcon icon-svgIcon-menu"></mat-icon> -->
        {{ 'Import' | translate }}
      </button>

      <button
        mat-menu-item
        matTooltip="{{ 'Assign program' | translate }}"
        aria-hidden="true"
        (click)="buttonClicked = 'assign'; controllerButton('assign')"
        *ngIf="permission.assignProgramAdmissionOscarPerm()"
        class="border-button"
      >
        <!-- <mat-icon svgIcon="clipboard-check" class="mat-icon-svgIcon icon-svgIcon-menu"></mat-icon> -->
        {{ 'Assign program' | translate }}
      </button>

      <button
        mat-menu-item
        matTooltip="{{ 'OSCARCAMPUSTABLE.Get latest student' | translate }}"
        aria-hidden="true"
        (click)="refetchCandidateData()"
        *ngIf="permission.getAdmissionOscarStudentsPerm()"
      >
        <!-- <i class="fa fa-download" style="margin-right:3px; margin-left: 2px;"></i> -->
        {{ 'OSCARCAMPUSTABLE.Get latest student' | translate }}
        <!-- {{ 'Get latest student' | translate }} -->
      </button>
    </mat-menu>
    <button
      [disabled]="isWaitingForResponse"
      matTooltip="{{ 'Export' | translate }}"
      matTooltipPosition="above"
      mat-raised-button
      color="primary"
      (click)="buttonClicked = 'export'; controllerButton('export')"
      *ngIf="permission.exportAdmissionOscarPerm()"
    >
      <mat-icon svgIcon="file-excel-outline" class="mat-icon-svgIcon"></mat-icon>
      {{ 'Export' | translate }}
    </button>

    <button
      (click)="resetFilter()"
      mat-raised-button
      color="primary"
      id="oscarReset"
      class="oscar-reset"
      matTooltip="{{ 'Reset Filter' | translate }}"
      [disabled]="isWaitingForResponse"
      *ngIf="permission.resetAdmissionOscarPerm()"
    >
      <mat-icon svgIcon="loop" class="mat-icon-svgIcon"></mat-icon>
      {{ 'RESET' | translate }}
    </button>
  </div>
  <div class="text-right text-count">
    <span style="font-family: 'firaSans' !important" *ngIf="dataSelected?.length || (isCheckedAll && dataCount)"
      >{{ 'Selected Data' | translate }} : {{ isCheckedAll ? dataCount - dataUnselectUser?.length : dataSelected?.length }}</span
    >
  </div>
</div>
<div class="horizontal mat-elevation-z8 finance-table">
  <table mat-table matSort [dataSource]="dataSource" matSort (matSortChange)="sortData($event)" class="mat-elevation-z8">
    <!---ROW FILTER START-->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef class="text-center">
        <mat-checkbox
          (change)="$event ? masterToggle() : null"
          (change)="showOptions('all', '')"
          [checked]="(selection.hasValue() && isAllSelected()) || isCheckedAll"
          [indeterminate]="selection.hasValue() && !isAllSelected()"
          [aria-label]="checkboxLabel()"
        >
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row" class="text-center">
        <mat-checkbox
          (click)="$event.stopPropagation()"
          (change)="$event ? selection.toggle(row._id) : null"
          [checked]="selection.isSelected(row?._id) || (isCheckedAll && !dataUnselectUser.includes(row?._id))"
          (change)="showOptions('one', row)"
          [aria-label]="checkboxLabel(row)"
        >
        </mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="selectFilter">
      <th mat-header-cell *matHeaderCellDef></th>
    </ng-container>

    <ng-container matColumnDef="sourceFilter">
      <th mat-header-cell *matHeaderCellDef>
        <ng-select
            [items]="sourceFilterList"
            class="custom-dropdownpanel-tableoscar"
            bindValue="value"
            bindLabel="label"
            [appendTo]="'body'"
            [multiple]="true"
            notFoundText="{{ 'NOT RECORD FOUND' | translate }}"
            placeholder="{{ 'search' | translate }}"
            [formControl]="sourceFilterCtrl"
            [clearable]="false"
            [closeOnSelect]="false"
            (close)="onFilterSelectMultiple('source_types')"
          >
            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
              <input id="item-{{ index }}" type="checkbox" [ngModel]="item$.selected" /> {{ item?.label }}
            </ng-template>
            <ng-template ng-header-tmp *ngIf="sourceFilterList?.length">
              <mat-checkbox
                class="all-input"
                style="cursor: pointer"
                [checked]="isAllDropdownSelected('source')"
                [indeterminate]="isSomeDropdownSelected('source')"
                (change)="selectAllData($event, 'source')"
              >
                {{ 'AllM' | translate }}
              </mat-checkbox>
            </ng-template>
          </ng-select>
      </th>
    </ng-container>

    <ng-container matColumnDef="dateAddedFilter">
      <th mat-header-cell *matHeaderCellDef>
        <mat-form-field>
          <input
            matInput
            (click)="datePicker.open()"
            readonly
            class="form-field"
            [formControl]="dateFilter"
            placeholder="{{ 'search' | translate }}"
            [matDatepicker]="datePicker"
          />
          <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
          <mat-datepicker #datePicker></mat-datepicker>
        </mat-form-field>
      </th>
    </ng-container>
    <ng-container matColumnDef="identityFilter">
      <th mat-header-cell *matHeaderCellDef>
        <mat-form-field>
          <input matInput class="form-field" [formControl]="nameFilter" placeholder="{{ 'search' | translate }}" />
        </mat-form-field>
      </th>
    </ng-container>
    <ng-container matColumnDef="telephoneFilter">
      <th mat-header-cell *matHeaderCellDef>
        <mat-form-field>
          <input matInput class="form-field" [formControl]="telFilter" placeholder="{{ 'search' | translate }}" />
        </mat-form-field>
      </th>
    </ng-container>

    <ng-container matColumnDef="emailFilter">
      <th mat-header-cell *matHeaderCellDef>
        <mat-form-field>
          <input matInput class="form-field" [formControl]="emailFilter" placeholder="{{ 'search' | translate }}" />
        </mat-form-field>
      </th>
    </ng-container>

    <ng-container matColumnDef="programFilter">
      <th mat-header-cell *matHeaderCellDef>
        <mat-form-field>
          <input matInput class="form-field" [formControl]="programsFilterCtrl" placeholder="{{ 'search' | translate }}" />
        </mat-form-field>
      </th>
    </ng-container>

    <ng-container matColumnDef="trialFilter">
      <th mat-header-cell *matHeaderCellDef>
        <mat-form-field>
          <input matInput class="form-field" [formControl]="trialDateCtrl" placeholder="{{ 'search' | translate }}" />
        </mat-form-field>
      </th>
    </ng-container>

    <ng-container matColumnDef="source">
      <th mat-header-cell *matHeaderCellDef matTooltip="{{ 'Source' | translate }}" matTooltipPosition="above">
        <h5 mat-sort-header="source_oscar" style="text-align: center !important">
          {{ 'Source' | translate }}
        </h5>
      </th>
      <td mat-cell *matCellDef="let element" class="pad-l-xs" [matTooltip]="displayTooltipSource(element)">
        <!-- {{ element?.oscar_campus_id | json }} -->
        {{
          element?.hubspot_contact_id && element?.hubspot_deal_id
            ? ('Hubspot' | translate)
            : element?.oscar_campus_id
            ? ('Oscar' | translate)
            : ('Manual' | translate)
        }}
      </td>
    </ng-container>

    <ng-container matColumnDef="dateAdded">
      <th mat-header-cell *matHeaderCellDef matTooltip="{{ 'Date added' | translate }}" matTooltipPosition="above">
        <h5 mat-sort-header="date_added" style="text-align: center !important">
          {{ 'Date added' | translate }}
        </h5>
      </th>
      <td mat-cell *matCellDef="let element" class="pad-l-xs" [matTooltip]="transformDate(element?.date_added)">
        {{ transformDate(element?.date_added) }}
      </td>
    </ng-container>

    <ng-container matColumnDef="identity">
      <th mat-header-cell *matHeaderCellDef matTooltip="{{ 'Name' | translate }}" matTooltipPosition="above">
        <h5 mat-sort-header="candidate" style="text-align: center !important">
          {{ 'Name' | translate }}
        </h5>
      </th>
      <td
        matTooltip="{{ element?.civility && element?.civility === 'neutral' ? '' : (element?.civility | translate) }} {{
          element?.last_name | uppercase
        }} {{ element?.first_name }}"
        mat-cell
        *matCellDef="let element"
        class="pad-l-xs"
      >
        {{
          (element?.last_name | uppercase) +
            ' ' +
            element?.first_name +
            ' ' +
            (element?.civility && element?.civility === 'neutral' ? '' : (element?.civility | translate))
        }}
      </td>
    </ng-container>

    <ng-container matColumnDef="telephone">
      <th mat-header-cell *matHeaderCellDef matTooltip="{{ 'Telephone' | translate }}" matTooltipPosition="above">
        <h5 mat-sort-header="telephone" style="text-align: center !important">
          {{ 'Telephone' | translate }}
        </h5>
      </th>
      <td mat-cell *matCellDef="let element" class="pad-l-xs" [matTooltip]="displayUserTelephone(element?.telephone)">
        {{ displayUserTelephone(element?.telephone) }}
      </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef matTooltip="{{ 'email' | translate }}" matTooltipPosition="above">
        <h5 mat-sort-header="email" style="text-align: center !important">
          {{ 'email' | translate }}
        </h5>
      </th>
      <td mat-cell *matCellDef="let element" class="pad-l-xs" [matTooltip]="element?.email">
        {{ element?.email }}
      </td>
    </ng-container>

    <ng-container matColumnDef="program_desired">
      <th mat-header-cell *matHeaderCellDef matTooltip="{{ 'Program desired' | translate }}" matTooltipPosition="above">
        <h5 mat-sort-header="program_desired" style="text-align: center !important">
          {{ 'Program desired' | translate }}
        </h5>
      </th>
      <td mat-cell *matCellDef="let element" class="pad-l-xs" [matTooltip]="element?.program_desired">
        {{ element?.program_desired }}
      </td>
    </ng-container>

    <ng-container matColumnDef="trial_date">
      <th mat-header-cell *matHeaderCellDef matTooltip="{{ 'Trial date' | translate }}" matTooltipPosition="above">
        <h5 mat-sort-header="trial_date" style="text-align: center !important">
          {{ 'Trial date' | translate }}
        </h5>
      </th>
      <td mat-cell *matCellDef="let element" class="pad-l-xs" [matTooltip]="element?.trial_date">
        {{ element?.trial_date }}
      </td>
    </ng-container>

    <ng-container matColumnDef="loading">
      <th mat-header-cell *matHeaderCellDef colspan="100%" style="text-align: center !important">
        <div class="center-spinner">
          <mat-spinner color="accent"></mat-spinner>
        </div>
      </th>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-header-row *matHeaderRowDef="filterColumns"></tr>
    <tr mat-header-row *matHeaderRowDef="['loading']" [hidden]="!isWaitingForResponse"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns" [hidden]="isWaitingForResponse"></tr>
  </table>
  <div *ngIf="noData | async" class="no-records">
    {{ 'NOT RECORD FOUND' | translate }}
  </div>
</div>
<div [ngClass]="{ hide: noData | async }">
  <mat-paginator
    [ngClass]="{ 'hide-pagination-buttons': paginator.length <= 10 }"
    [length]="dataCount"
    [hidePageSize]="true"
    [pageSize]="[10]"
    showFirstLastButtons
  ></mat-paginator>
</div>
<swal #exportConfirmSwal title="{{ 'Export Title' | translate }}" [showConfirmButton]="false">
  <div *swalPartial class="">
    <div class="">{{ 'Export Text1' | translate }}</div>
    <div class="">{{ 'Export Text2' | translate }}</div>
    <div class="">{{ 'Export Text3' | translate }}</div>
    <div class="">{{ 'Export Text4' | translate }}</div>
    <div class="">
      <mat-form-field color="accent" class="full-wid">
        <input matInput [(ngModel)]="exportName" placeholder="{{ 'ExportName' | translate }}" />
      </mat-form-field>
    </div>
    <button mat-raised-button color="primary" (click)="onDataExport()">
      {{ 'OK' | translate }}
    </button>
  </div>
</swal>
