@import '~assets/scss/theme/admtc.variables';
@import '~assets/scss/theme/admtc';
:host::ng-deep.mat-card {
  border: 1px solid#607C8A;
  min-height: 209px;
}
:host::ng-deep.mat-tab-group {
  margin-top: 1rem;
  .mat-tab-header {
    font-size: 0.9em;
  }
  .mat-tab-label {
    h4 {
      font-size: 13px;
    }
  }
  .mat-tab-label-active {
    box-shadow: unset;
    border: unset;
  }
  .mat-card {
    margin-top: 5%;
  }
}
img {
  height: 120px;
}
.student-detail {
  font-size: 0.8rem;
  .student-photo {
    width: 120px !important;
    vertical-align: middle;
  }

  .first-section {
    border-right: solid;
    // width: 33%;
  }
  .second-section {
    border-right: solid;
    // width: 33%;
  }
  // .third-section {
  //   // width: 33%;
  // }
}

// div {
//   padding: 2px 2px;
//   .icon {
//     display: inline;
//     vertical-align: middle;
//     padding: 2px 2px;
//   }
//   .label {
//     display: inline !important;
//     padding: 2px 2px !important;
//     vertical-align: middle !important;
//     word-break: break-word !important;
//     margin-left: 0.5em !important;
//   }
// }
button.margin-right-button.mat-icon-button {
  background: #607d8b;
  font-size: 10px;
}
.yellow {
  color: #ffd740;
}
.orange {
  color: #f49f36;
}
.blue {
  color: #36ebf4;
}
.red {
  color: #ff4040;
}
.green {
  color: #adff2f;
}
.purple {
  color: #ff46f9;
}
.magenta {
  color: magenta;
}
.black {
  color: #000000;
}
.cyan {
  color: cyan;
}

.green-icon {
  font-size: 25px;
  width: 30px;
  color: #adff2f;
}
.red-icon {
  font-size: 25px;
  width: 30px;
  color: #ff4040;
}
.candidate-photo {
  border-radius: 50%;
  min-width: 120px;
  max-width: 120px;
  min-height: 120px;
  max-height: 120px;
}
:host ::ng-deep .add-btn {
  background: #fdd835;
  width: 11rem;
  padding: 0px;
  line-height: 30px !important;
}
:host ::ng-deep .mat-menu-panel {
  min-height: unset !important;
}
::ng-deep .mat-menu-panel {
  min-height: unset !important;
}
.mat-menu-panel {
  min-height: unset !important;
}
:host ::ng-deep .mat-menu-content:not(:empty) {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
.admission-button {
  background: #4aa744 !important;
}
.mr-left {
  margin-left: 5px;
}
.mat-icon-status {
  font-size: 14px;
  text-align: center;
  vertical-align: middle;
  padding-right: 0px;
  width: 14px;
}
.status {
  font-size: 12px;
  color: #000000;
  font-weight: 900;
  cursor: pointer;
  width: auto !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
  margin-bottom: 0.3rem;
}
.status-minor-student{
  margin-right: 0.4rem;
}
.status-disabled {
  font-size: 12px;
  color: #26abeb;
  font-weight: 900;
}
