<ms-filter-breadcrumb [filterBreadcrumbData]="filterBreadcrumbData" [isReadmission]="true" (removeFilterTrigger)="removeFilterBreadcrumb($event)"></ms-filter-breadcrumb>
<div class="p-grid p-align-baseline"  style="position: relative">
  <div class="p-col-fixed no-padding" style="width: 130px; float: left; padding-right: 15px !important">
    <label class="float-label" *ngIf="schoolsFilter?.value && schoolsFilter?.value?.length !== 0">
      {{ 'ADMISSION.TABLE_ADMISSION_CHANNEL.School' | translate }}
    </label>
    <ng-select
      [items]="school"
      bindValue="_id"
      bindLabel="short_name"
      class="custom-dropdownpanel"
      [appendTo]="'body'"
      [multiple]="true"
      notFoundText="{{ 'NOT RECORD FOUND' | translate }}"
      placeholder="{{ 'ADMISSION.TABLE_ADMISSION_CHANNEL.School' | translate }}"
      [formControl]="schoolsFilter"
      [clearable]="false"
      [closeOnSelect]="false"
      (close)="checkSuperFilterSchool()"
    >
      <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
        <input id="item-{{ index }}" type="checkbox" [ngModel]="item$.selected" /> {{ item.short_name | translate }}
      </ng-template>
      <ng-template ng-header-tmp *ngIf="school?.length">
        <mat-checkbox
          class="all-input"
          style="cursor: pointer"
          [checked]="isAllDropdownSelected('school')"
          [indeterminate]="isSomeDropdownSelected('school')"
          (change)="selectAllData($event, 'school')"
        >
          {{ 'All' | translate }}
        </mat-checkbox>
      </ng-template>
    </ng-select>
  </div>

  <div class="p-col-fixed no-padding" style="width: 130px; float: left; padding-right: 15px !important">
    <label class="float-label" *ngIf="campusFilter?.value && campusFilter?.value?.length !== 0">
      {{ 'ADMISSION.TABLE_ADMISSION_CHANNEL.Campus' | translate }}
    </label>
    <ng-select
      [items]="campusList"
      bindValue="name"
      bindLabel="name"
      class="custom-dropdownpanel"
      [appendTo]="'body'"
      [multiple]="true"
      notFoundText="{{ 'NOT RECORD FOUND' | translate }}"
      placeholder="{{ 'ADMISSION.TABLE_ADMISSION_CHANNEL.Campus' | translate }}"
      [formControl]="campusFilter"
      [clearable]="false"
      [closeOnSelect]="false"
      (close)="checkSuperFilterCampus()"
    >
      <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
        <input id="item-{{ index }}" type="checkbox" [ngModel]="item$.selected" /> {{ item.name }}
      </ng-template>
      <ng-template ng-header-tmp *ngIf="campusList?.length">
        <mat-checkbox
          class="all-input"
          style="cursor: pointer"
          [checked]="isAllDropdownSelected('campus')"
          [indeterminate]="isSomeDropdownSelected('campus')"
          (change)="selectAllData($event, 'campus')"
        >
          {{ 'All' | translate }}
        </mat-checkbox>
      </ng-template>
    </ng-select>
  </div>

  <div class="p-col-fixed no-padding" style="width: 130px; float: left; padding-right: 15px !important">
    <label class="float-label" *ngIf="levelFilter?.value && levelFilter?.value?.length !== 0">
      {{ 'ADMISSION.TABLE_ADMISSION_CHANNEL.Level' | translate }}
    </label>
    <ng-select
      [items]="levels"
      bindValue="name"
      bindLabel="name"
      class="custom-dropdownpanel"
      [appendTo]="'body'"
      [multiple]="true"
      notFoundText="{{ 'NOT RECORD FOUND' | translate }}"
      placeholder="{{ 'ADMISSION.TABLE_ADMISSION_CHANNEL.Level' | translate }}"
      [formControl]="levelFilter"
      [clearable]="false"
      [closeOnSelect]="false"
      (close)="checkSuperFilterLevel()"
    >
      <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
        <input id="item-{{ index }}" type="checkbox" [ngModel]="item$.selected" /> {{ item.name }}
      </ng-template>
      <ng-template ng-header-tmp *ngIf="levels?.length">
        <mat-checkbox
          class="all-input"
          style="cursor: pointer"
          [checked]="isAllDropdownSelected('level')"
          [indeterminate]="isSomeDropdownSelected('level')"
          (change)="selectAllData($event, 'level')"
        >
          {{ 'All' | translate }}
        </mat-checkbox>
      </ng-template>
    </ng-select>
  </div>

  <div class="p-col-fixed no-padding" style="width: 130px; float: left; padding-right: 15px !important">
    <label class="float-label" *ngIf="sectorsFilter?.value && sectorsFilter?.value?.length !== 0">
      {{ 'ADMISSION.TABLE_ADMISSION_CHANNEL.Sector' | translate }}
    </label>
    <ng-select
      [items]="sectorList"
      bindValue="_id"
      bindLabel="name"
      class="custom-dropdownpanel"
      [appendTo]="'body'"
      [multiple]="true"
      notFoundText="{{ 'NOT RECORD FOUND' | translate }}"
      placeholder="{{ 'ADMISSION.TABLE_ADMISSION_CHANNEL.Sector' | translate }}"
      [formControl]="sectorsFilter"
      [clearable]="false"
      [closeOnSelect]="false"
      (close)="checkSuperFilterSector()"
    >
      <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
        <input id="item-{{ index }}" type="checkbox" [ngModel]="item$.selected" /> {{ item.name }}
      </ng-template>
      <ng-template ng-header-tmp *ngIf="sectorList?.length">
        <mat-checkbox
          class="all-input"
          style="cursor: pointer"
          [checked]="isAllDropdownSelected('sector')"
          [indeterminate]="isSomeDropdownSelected('sector')"
          (change)="selectAllData($event, 'sector')"
        >
          {{ 'All' | translate }}
        </mat-checkbox>
      </ng-template>
    </ng-select>
  </div>

  <div class="p-col-fixed no-padding" style="width: 130px; float: left; padding-right: 15px !important">
    <label class="float-label" *ngIf="specialitiesFilter?.value && specialitiesFilter?.value?.length !== 0">
      {{ 'ADMISSION.TABLE_ADMISSION_CHANNEL.Speciality' | translate }}
    </label>
    <ng-select
      [items]="specilityList"
      bindValue="_id"
      bindLabel="name"
      class="custom-dropdownpanel"
      [appendTo]="'body'"
      [multiple]="true"
      notFoundText="{{ 'NOT RECORD FOUND' | translate }}"
      placeholder="{{ 'ADMISSION.TABLE_ADMISSION_CHANNEL.Speciality' | translate }}"
      [formControl]="specialitiesFilter"
      [clearable]="false"
      [closeOnSelect]="false"
      (close)="checkSuperFilterSpecialities()"
    >
      <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
        <input id="item-{{ index }}" type="checkbox" [ngModel]="item$.selected" /> {{ item.name }}
      </ng-template>
      <ng-template ng-header-tmp *ngIf="specilityList?.length">
        <mat-checkbox
          class="all-input"
          style="cursor: pointer"
          [checked]="isAllDropdownSelected('speciality')"
          [indeterminate]="isSomeDropdownSelected('speciality')"
          (change)="selectAllData($event, 'speciality')"
        >
          {{ 'All' | translate }}
        </mat-checkbox>
      </ng-template>
    </ng-select>
  </div>

  <div class="p-col-fixed no-padding" style="float: left; padding-right: 15px !important; margin-top: 13px">
    <button mat-button mat-raised-button color="accent" [disabled]="isDisabled || isWaitingForResponse" (click)="applySuperFilter()">
      {{ 'Apply Filter' | translate }}
    </button>
  </div>
</div>

<div *ngIf="isLoading" class="inner-loading-indicator">
  <mat-spinner color="accent" [diameter]="100"></mat-spinner>
</div>
<div style="margin-top: 15px">
  <div class="horizontal header-button header-action">
    <div class="text-right" style="display: inline-block; float: right">
      <button
        matTooltip="{{ 'Action' | translate }} "
        style="padding: 0px 7px !important"
        mat-raised-button
        color="accent"
        [disabled]="isWaitingForResponse"
        [matMenuTriggerFor]="action"
      >
        {{ 'Action' | translate }}
        <mat-icon>expand_more</mat-icon>
      </button>
      <mat-menu #action="matMenu">
        <button
          mat-menu-item
          matTooltip="{{ 'Financial situation' | translate }} "
          (click)="buttonClicked = 'financial'; controllerButton('financial')"
          class="border-button"
        >
          {{ 'Financial situation' | translate }}
        </button>

        <!-- <button
          mat-menu-item
          matTooltip="{{ 'CONTRACT_MANAGEMENT.Template for Import' | translate }} "
          (click)="templateForImport()"
          class="border-button"
          *ngIf="permission.templateImportInReadmissionAssignment()"
        >
          {{ 'CONTRACT_MANAGEMENT.Template for Import' | translate }}
        </button> -->
        <button
          mat-menu-item
          matTooltip="{{ 'READMISSION.Import student' | translate }} "
          (click)="csvTypeSelectionUpload()"
          class="border-button"
          *ngIf="permission.importFileInReadmissionAssignment()"
        >
          <!-- <mat-icon class="icon-menu-add">add</mat-icon> -->
          {{ 'READMISSION.Import student' | translate }}
        </button>

        <button
          mat-menu-item
          matTooltip="{{ 'Edit Jury Decision' | translate }}"
          aria-hidden="true"
          (click)="buttonClicked = 'jury'; controllerButton('jury')"
          *ngIf="permission.assignmentEditJuryDecision()"
          class="border-button"
        >
          {{ 'Edit Jury Decision' | translate }}
        </button>

        <button
          mat-menu-item
          matTooltip="{{ 'Edit Program Desired' | translate }}"
          aria-hidden="true"
          (click)="buttonClicked = 'desired'; controllerButton('desired')"
          *ngIf="permission.assignmentEditProgramDesired()"
          class="border-button"
        >
          {{ 'Edit Program Desired' | translate }}
        </button>

        <button
          mat-menu-item
          matTooltip="{{ 'Assign program' | translate }}"
          aria-hidden="true"
          (click)="buttonClicked = 'program'; controllerButton('program')"
          *ngIf="permission.assignmentAssignProgramMultiple()"
          class="border-button"
        >
          {{ 'Assign program' | translate }}
        </button>

        <button
          mat-menu-item
          matTooltip="{{ 'Send Email' | translate }}"
          aria-hidden="true"
          (click)="buttonClicked = 'email'; controllerButton('email')"
          *ngIf="permission.assignmentSendEmail()"
        >
          <!-- <mat-icon class="icon-menu menu-icon">send</mat-icon> -->
          {{ 'Send Email' | translate }}
        </button>
      </mat-menu>
      <button
        [disabled]="isWaitingForResponse"
        matTooltip="{{ 'Export' | translate }}"
        matTooltipPosition="above"
        mat-raised-button
        color="primary"
        (click)="buttonClicked = 'export'; controllerButton('export')"
        [disabled]="isWaitingForResponse"
        *ngIf="permission.assignmentExport()"
      >
        <mat-icon svgIcon="file-excel-outline" class="mat-icon-svgIcon"></mat-icon>
        {{ 'Export' | translate }}
      </button>

      <button
        (click)="resetFilter()"
        mat-raised-button
        color="primary"
        matTooltip="{{ 'Reset Filter' | translate }}"
        [disabled]="isWaitingForResponse"
        *ngIf="permission.assignmentReset()"
      >
        <mat-icon svgIcon="loop" class="mat-icon-svgIcon"></mat-icon>
        {{ 'RESET' | translate }}
      </button>
    </div>
    <div class="p-grid" style="float: left">
      <span class="text-right" style="padding-top: 2px;">{{ 'Assignment Please select a scholar season' | translate }}</span>
      <div class="select-above">
        <ng-select
          [items]="scholars"
          bindValue="_id"
          bindLabel="scholar_season"
          class="custom-dropdownpanel"
          [appendTo]="'body'"
          [multiple]="false"
          notFoundText="{{ 'NOT RECORD FOUND' | translate }}"
          placeholder="{{ 'CARDDETAIL.Scholar Season' | translate }}"
          [formControl]="newScholarFilter"
          [clearable]="false"
        >
          <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
            <input id="item-{{ index }}" type="checkbox" [ngModel]="item$.selected" />
            {{ item.scholar_season }}
          </ng-template>
        </ng-select>
      </div>
    </div>
    <div class="text-right text-count">
      <span style="font-family: 'firaSans' !important" *ngIf="dataSelected?.length || (isCheckedAll && dataCount)"
        >{{ 'Selected Data' | translate }} : {{ isCheckedAll ? dataCount - dataUnselectUser?.length : dataSelected?.length }}</span
      >
    </div>
  </div>
  <div class="horizontal mat-elevation-z8 finance-table">
    <table mat-table matSort [dataSource]="dataSource" matSort (matSortChange)="sortData($event)" class="mat-elevation-z8">
      <!-- ROW RESET START -->
      <ng-container matColumnDef="reset">
        <th mat-header-cell *matHeaderCellDef colspan="100%" class="action-header-column text-right">
          <div class="p-grid">
            <div class="p-col-12 no-padding text-right">
              <!-- <button
                  mat-raised-button
                  color="accent"
                  matTooltip="{{ 'Import' | translate }}"
                  [disabled]="isWaitingForResponse || isLoading"
                  (click)="openImport()"
                >
                  <mat-icon svgIcon="file-excel" class="mat-icon-svgIcon"></mat-icon>
                  {{ 'Import' | translate }}
                </button> -->
            </div>
          </div>
        </th>
      </ng-container>
      <!-- ROW RESET END -->
      <!---ROW FILTER START-->
      <ng-container matColumnDef="select" sticky>
        <th mat-header-cell *matHeaderCellDef class="text-center">
          <mat-checkbox
            (change)="$event ? masterToggle($event) : null"
            (change)="showOptions('all', '')"
            [checked]="(selection.hasValue() && isAllSelected()) || isCheckedAll"
            [indeterminate]="selection.hasValue() && (dataUnselectUser?.length > 0 || !isAllSelected())"
            [aria-label]="checkboxLabel()"
          >
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row" class="text-center">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="$event ? selection.toggle(row._id) : null"
            [checked]="selection.isSelected(row?._id) || (isCheckedAll && !dataUnselectUser.includes(row?._id))"
            (change)="showOptions('one', row)"
            [aria-label]="checkboxLabel(row)"
          >
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="selectFilter" sticky>
        <th mat-header-cell *matHeaderCellDef></th>
      </ng-container>

      <ng-container matColumnDef="numberFilter">
        <th mat-header-cell *matHeaderCellDef>
          <mat-form-field>
            <input matInput class="form-field" [formControl]="numberFilter" placeholder="{{ 'search' | translate }}" />
          </mat-form-field>
        </th>
      </ng-container>
      <ng-container matColumnDef="nameFilter">
        <th mat-header-cell *matHeaderCellDef>
          <mat-form-field>
            <input matInput class="form-field" [formControl]="nameFilter" placeholder="{{ 'search' | translate }}" />
          </mat-form-field>
        </th>
      </ng-container>
      <ng-container matColumnDef="intakeChannelFilter">
        <th mat-header-cell *matHeaderCellDef>
          <mat-form-field>
            <input matInput class="form-field" [formControl]="intakeChannelFilter" placeholder="{{ 'search' | translate }}" />
          </mat-form-field>
        </th>
      </ng-container>

      <ng-container matColumnDef="currentProgramFilter">
        <th mat-header-cell *matHeaderCellDef>
          <mat-form-field>
            <input matInput class="form-field" [formControl]="currentProgramFilter" placeholder="{{ 'search' | translate }}" />
          </mat-form-field>
        </th>
      </ng-container>

      <ng-container matColumnDef="typeFilter">
        <th mat-header-cell *matHeaderCellDef>
          <ng-select
            [items]="listTypeOfInformation"
            class="custom-dropdownpanel-tableassignment"
            bindValue="_id"
            bindLabel="label"
            [appendTo]="'body'"
            [multiple]="true"
            notFoundText="{{ 'NOT RECORD FOUND' | translate }}"
            placeholder="{{ 'search' | translate }}"
            [formControl]="typeFilter"
            [clearable]="false"
            [closeOnSelect]="false"
            (close)="onFilterSelectMultiple('type_of_formations')"
            [matTooltip]="displayTooltip(typeFilter.value, listTypeOfInformation, '_id')"
          >
            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
              <input id="item-{{ index }}" type="checkbox" [ngModel]="item$.selected" /> {{ item?.label }}
            </ng-template>
            <ng-template ng-header-tmp *ngIf="listTypeOfInformation?.length">
              <mat-checkbox
                class="all-input"
                style="cursor: pointer"
                [checked]="isAllDropdownSelected('typeOfFormation')"
                [indeterminate]="isSomeDropdownSelected('typeOfFormation')"
                (change)="selectAllData($event, 'typeOfFormation')"
              >
                {{ 'AllM' | translate }}
              </mat-checkbox>
            </ng-template>
          </ng-select>
        </th>
      </ng-container>

      <ng-container matColumnDef="financeFilter">
        <th mat-header-cell *matHeaderCellDef>
          <div class="no-padding" style="width: 100%; float: left; padding-right: 15px !important">
            <ng-select
              [items]="financeList"
              class="custom-dropdownpanel-tableassignment"
              bindValue="value"
              bindLabel="label"
              [appendTo]="'body'"
              [multiple]="true"
              notFoundText="{{ 'NOT RECORD FOUND' | translate }}"
              placeholder="{{ 'search' | translate }}"
              [formControl]="financeFilter"
              [clearable]="false"
              [closeOnSelect]="false"
              (close)="onFilterSelectMultiple('financial_situations')"
              [matTooltip]="displayTooltip(financeFilter.value, financeList, 'value')"
            >
              <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                <input id="item-{{ index }}" type="checkbox" [ngModel]="item$.selected" /> {{ item?.label }}
              </ng-template>
              <ng-template ng-header-tmp *ngIf="financeList?.length">
                <mat-checkbox
                  class="all-input"
                  style="cursor: pointer"
                  [checked]="isAllDropdownSelected('finance')"
                  [indeterminate]="isSomeDropdownSelected('finance')"
                  (change)="selectAllData($event, 'finance')"
                >
                  {{ 'AllM' | translate }}
                </mat-checkbox>
              </ng-template>
            </ng-select>
          </div>
        </th>
      </ng-container>

      <ng-container matColumnDef="juryFilter">
        <th mat-header-cell *matHeaderCellDef>
          <ng-select
          [items]="juryList"
          class="custom-dropdownpanel-tableassignment"
          bindValue="value"
          bindLabel="label"
          [appendTo]="'body'"
          [multiple]="true"
          notFoundText="{{ 'NOT RECORD FOUND' | translate }}"
          placeholder="{{ 'search' | translate }}"
          [formControl]="juryFilter"
          [clearable]="false"
          [closeOnSelect]="false"
          (close)="onFilterSelectMultiple('jury_decisions')"
          [matTooltip]="displayTooltip(juryFilter.value, juryList, 'value')"
        >
          <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
            <input id="item-{{ index }}" type="checkbox" [ngModel]="item$.selected" /> {{ item?.label }}
          </ng-template>
          <ng-template ng-header-tmp *ngIf="juryList?.length">
            <mat-checkbox
              class="all-input"
              style="cursor: pointer"
              [checked]="isAllDropdownSelected('jury')"
              [indeterminate]="isSomeDropdownSelected('jury')"
              (change)="selectAllData($event, 'jury')"
            >
              {{ 'AllM' | translate }}
            </mat-checkbox>
          </ng-template>
        </ng-select>
        </th>
      </ng-container>

      <ng-container matColumnDef="desiredFilter">
        <th mat-header-cell *matHeaderCellDef style="padding-right: 1rem">
          <mat-form-field>
            <input matInput class="form-field" [formControl]="programsDesiredFilter" placeholder="{{ 'search' | translate }}" />
          </mat-form-field>
        </th>
      </ng-container>

      <ng-container matColumnDef="actionFilter" stickyEnd>
        <th mat-header-cell *matHeaderCellDef></th>
      </ng-container>

      <ng-container matColumnDef="source">
        <th mat-header-cell *matHeaderCellDef matTooltip="{{ 'Source' | translate }}" matTooltipPosition="above">
          <h5 style="text-align: center !important">
            {{ 'Source' | translate }}
          </h5>
        </th>
        <td mat-cell *matCellDef="let element" class="pad-l-xs" [matTooltip]="displayTooltipSource(element)">
          <!-- {{ element?.oscar_campus_id | json }} -->
          {{
            element?.hubspot_contact_id && element?.hubspot_deal_id
              ? ('Hubspot' | translate)
              : element?.oscar_campus_id
              ? ('Oscar' | translate)
              : ('Manual' | translate)
          }}
        </td>
      </ng-container>

      <ng-container matColumnDef="student_number">
        <th mat-header-cell *matHeaderCellDef matTooltip="{{ 'Student Number' | translate }}" matTooltipPosition="above">
          <h5 mat-sort-header="candidate_unique_number" style="text-align: center !important">
            <mat-icon class="mat-icon-status"> account_box </mat-icon>
          </h5>
        </th>
        <td mat-cell *matCellDef="let element" matTooltip="{{ element?.candidate_unique_number }}">
          {{ element?.candidate_unique_number }}
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef matTooltip="{{ 'Student Name' | translate }}" matTooltipPosition="above">
          <h5 style="text-align: center !important">
            {{ 'Student Name' | translate }}
          </h5>
        </th>
        <td
          [matTooltip]="
            (element?.last_name | uppercase) +
            ' ' +
            element?.first_name +
            ' ' +
            (element?.civility && element?.civility === 'neutral' ? '' : (element?.civility | translate))
          "
          mat-cell
          *matCellDef="let element"
          class="pad-l-xs"
        >
          {{
            (element?.last_name | uppercase) +
              ' ' +
              element?.first_name +
              ' ' +
              (element?.civility && element?.civility === 'neutral' ? '' : (element?.civility | translate))
          }}
        </td>
      </ng-container>

      <ng-container matColumnDef="intake_channel">
        <th mat-header-cell *matHeaderCellDef matTooltip="{{ 'Intake Channel' | translate }}" matTooltipPosition="above">
          <h5 style="text-align: center !important">
            {{ 'Intake Channel' | translate }}
          </h5>
        </th>
        <td
          [matTooltip]="intakeChannel(element) | translate"
          mat-cell
          *matCellDef="let element"
          style="text-align: start; padding-left: 0.5rem !important"
        >
          <!-- {{ element?.intake_channel?.program | translate }} -->
          {{ intakeChannel(element) }}
        </td>
      </ng-container>

      <ng-container matColumnDef="program">
        <th mat-header-cell *matHeaderCellDef matTooltip="{{ 'Current Program' | translate }}" matTooltipPosition="above">
          <h5 style="text-align: center !important">
            {{ 'Current Program' | translate }}
          </h5>
        </th>
        <td
          mat-cell
          *matCellDef="let element"
          class="pad-l-xs"
          [matTooltip]="currentProgram(element)"
          style="text-align: start; padding-left: 0.5rem !important"
        >
          {{ currentProgram(element) }}
        </td>
      </ng-container>

      <ng-container matColumnDef="type_of_formation">
        <th mat-header-cell *matHeaderCellDef matTooltip="{{ 'Type of Formation' | translate }}" matTooltipPosition="above">
          <h5 style="" class="tw-flex tw-justify-center type-formation-header">
            <img class="img-responsive engagement-level-icon" [src]="shieldAccountIcon" />
          </h5>
        </th>
        <td
          mat-cell
          *matCellDef="let element"
          matTooltip="{{ element?.type_of_formation_id?.sigle ? element?.type_of_formation_id?.sigle : null }}"
        >
          <span *ngIf="element?.type_of_formation_id?.type_of_formation">{{ element?.type_of_formation_id?.sigle }}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="financial_situation">
        <th mat-header-cell *matHeaderCellDef matTooltip="{{ 'Financial Situation' | translate }}" matTooltipPosition="above">
          <h5 style="text-align: center !important">
            {{ 'Financial Situation' | translate }}
          </h5>
        </th>
        <td
          mat-cell
          *matCellDef="let element"
          class="pad-l-xs"
          [matTooltip]="element?.financial_situation ? (element?.financial_situation | translate) : ('Not set' | translate)"
        >
          <mat-icon
            [ngClass]="{
              red: element?.financial_situation === 'not_ok',
              green: element?.financial_situation === 'ok'
            }"
            aria-hidden="true"
            class="mat-icon-status"
            >lens
          </mat-icon>
        </td>
      </ng-container>

      <ng-container matColumnDef="jury_decision">
        <th mat-header-cell *matHeaderCellDef matTooltip="{{ 'Jury Decision' | translate }}" matTooltipPosition="above">
          <h5 style="text-align: center !important">
            {{ 'Jury Decision' | translate }}
          </h5>
        </th>
        <td mat-cell *matCellDef="let element" class="pad-l-xs" [matTooltip]="element?.jury_decision | translate">
          {{ element?.jury_decision | translate }}
        </td>
      </ng-container>

      <ng-container matColumnDef="program_desired">
        <th mat-header-cell *matHeaderCellDef matTooltip="{{ 'Program Desired' | translate }}" matTooltipPosition="above">
          <h5 style="text-align: center !important">
            {{ 'Program Desired' | translate }}
          </h5>
        </th>
        <td mat-cell *matCellDef="let element" class="pad-l-xs" [matTooltip]="element?.program_desired">
          {{ element?.program_desired }}
        </td>
      </ng-container>

      <ng-container matColumnDef="action" stickyEnd>
        <th mat-header-cell *matHeaderCellDef matTooltip="{{ 'Action' | translate }}" matTooltipPosition="above">
          <h5 style="text-align: center !important">
            {{ 'Action' | translate }}
          </h5>
        </th>
        <td mat-cell *matCellDef="let element" class="pad-l-xs">
          <button
            mat-icon-button
            class="margin-right-button"
            matTooltip="{{ 'Send an email' | translate }}"
            [disabled]="(dataSelected && dataSelected.length > 0) || isCheckedAll"
            (click)="sendMail(element)"
            *ngIf="permission.assignmentSendEmail()"
          >
            <mat-icon> send </mat-icon>
          </button>

          <button
            mat-icon-button
            class="margin-right-button"
            matTooltip="{{ 'Assign program' | translate }}"
            [disabled]="(dataSelected && dataSelected.length > 0) || isCheckedAll"
            *ngIf="permission.assignmentAssignProgram()"
            (click)="openAssingProgram('table', element)"
          >
            <mat-icon svgIcon="clipboard-check"></mat-icon>
          </button>

          <button
            mat-icon-button
            class="margin-right-button"
            matTooltip="{{ 'View student card' | translate }}"
            (click)="viewCandidateInfo(element?._id)"
            [disabled]="(dataSelected && dataSelected.length > 0) || isCheckedAll"
            *ngIf="permission.assignmentViewStudentCard()"
          >
            <mat-icon svgIcon="eye"> </mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="loading">
        <th mat-header-cell *matHeaderCellDef colspan="100%" style="text-align: center !important">
          <div class="center-spinner">
            <mat-spinner color="accent"></mat-spinner>
          </div>
        </th>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-header-row *matHeaderRowDef="filterColumns"></tr>
      <tr mat-header-row *matHeaderRowDef="['loading']" [hidden]="!isWaitingForResponse"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns" [hidden]="isWaitingForResponse"></tr>
    </table>
  </div>
</div>

<div *ngIf="noData | async" class="no-records" [ngClass]="{ hide: isWaitingForResponse }">
  {{ 'NOT RECORD FOUND' | translate }}
</div>
<div [ngClass]="{ hide: noData | async }">
  <mat-paginator
    [ngClass]="{ 'hide-pagination-buttons': paginator.length <= 10 }"
    [length]="dataCount"
    [hidePageSize]="true"
    [pageSize]="[10]"
    showFirstLastButtons
  ></mat-paginator>
</div>

<swal #exportConfirmSwal title="{{ 'Export Title' | translate }}" [showConfirmButton]="false">
  <div *swalPartial class="">
    <div class="">{{ 'Export Text1' | translate }}</div>
    <div class="">{{ 'Export Text2' | translate }}</div>
    <div class="">{{ 'Export Text3' | translate }}</div>
    <div class="">{{ 'Export Text4' | translate }}</div>
    <div class="">
      <mat-form-field color="accent" class="full-wid">
        <input matInput [(ngModel)]="exportName" placeholder="{{ 'ExportName' | translate }}" />
      </mat-form-field>
    </div>
    <button mat-raised-button color="primary" (click)="onDataExport()">
      {{ 'OK' | translate }}
    </button>
  </div></swal
>
