@import '~assets/scss/theme/admtc.variables';
@import '~assets/scss/theme/admtc';

.mrgn-btn {
  margin-bottom: 15px;
}

.icon-style {
  vertical-align: middle;
  margin-right: 1rem;
  cursor: pointer;
}

.dialogTitle {
  display: inline-block;
}

.dialogTitleWrapper {
  color: black;
}

.header-dialog {
  margin-top: 15px;
  padding: 0 5px 0 15px;
}

.dialog-border {
  border-bottom: 1px solid black;
  margin-bottom: 15px;
}
:host::ng-deep.mat-radio-outer-circle {
  border-color: rgba(0, 0, 0, 0.54) !important;
}
:host::ng-deep.mat-form-field-underline {
  background-color: rgba(0, 0, 0, 0.12) !important;
}
.acad-title {
  padding: 0px;
  margin-right: 25px;
}
.w-30 {
  padding-top: 4px !important;
  margin-right: 7px !important;
}
.w-65 {
  float: right;
  position: relative;
}
.no-padding-left {
  padding-left: 0px !important;
}
.label-align {
  align-self: center;
}
.border-white {
  border: 1px solid rgb(116, 116, 116);
}
.flex-hidden-mr-1 {
  flex-wrap: nowrap;
  overflow: hidden;
  margin-right: 1rem !important;
}
:host::ng-deep.mat-slider-horizontal {
  min-width: 200px !important;
}
.card {
  width: 118px !important;
  display: inline-block;
  border: 1px solid black;
  padding: 10px;
}
.card-term {
  text-align: center;
}

:host::ng-deep.ng-select .ng-select-container {
  height: 36px;
  border-left: 0px !important;
  border-right: 0px !important;
  border-top: 0px !important;
  border-radius: 0px !important;
}

.checkboxes-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.checkbox-item {
  margin-right: 3rem;
}
.label-padding{
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 40px;
}