<ng-container [formGroup]="inputQuestion">
  <div [ngClass]="{ 'single-option-question-container': inputQuestion?.get('question_name')?.value }">
    <label *ngIf="inputQuestion?.get('question_name')?.value" class="questionLabel">{{ inputQuestion?.get('question_name')?.value }}</label>

    <div>
      <mat-radio-group [required]="inputQuestion?.get('is_answer_required')?.value" formControlName="answer">
        <mat-radio-button
          [value]="option?.option_text"
          class="radio-level"
          *ngFor="let option of inputQuestion?.get('parent_child_options')?.value; let prClIndx = index"
          style="padding-right: 10px"
          (change)="updateQuestionAnswer($event)"
          [disabled]="isFormDisabled"
          >{{ option?.option_text }}
        </mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="selectedOption?.get('questions')?.value?.length">
  <ms-form-fill-recursive-parent-child
    [stepForm]="stepForm"
    [segmentIndex]="segmentIndex"
    [questionIndex]="questionIndex"
    [inputOption]="selectedOption"
    [pcoOptionIndex]="selectedOptionIndex"
    [isFormDisabled]="isFormDisabled"
    [parentSelectedOption]="selectedOption?.get('option_text').value"
  >
  </ms-form-fill-recursive-parent-child>
</ng-container>
