@import '~assets/scss/theme/admtc.variables';
@import '~assets/scss/theme/admtc';
:host::ng-deep.mat-card {
  border: 1px solid#607C8A;
}
:host::ng-deep.mat-tab-group {
  margin-top: 1rem !important;
  .mat-tab-header {
    font-size: 0.9em !important;
  }
  .mat-tab-label {
    h4 {
      font-size: 13px !important;
    }
  }
  .mat-tab-label-active {
    box-shadow: unset !important;
    border: unset !important;
  }
  .mat-card {
    margin-top: 5px !important;
  }
}

.right-border {
  border-right: solid;
}
.padding-content {
  padding: 5px 0;
}
.mat-icon-status {
  font-size: 14px;
  text-align: center;
  vertical-align: middle;
  padding-right: 0px;
  width: 14px;
}
:host::ng-deep.mat-expansion-panel-header {
  background-color: #607c8a !important;
}

.candidate-detail {
  font-size: 0.9em;
  .candidate-photo {
    border-radius: 50%;
    width: 85px !important;
    height: 85px !important;
    vertical-align: middle;
    margin-top: 18px;
  }
  .candidate-profile {
  }
  .candidate-information {
    .primary-icon {
      color: #607c8a;
      margin-right: 5px;
      height: 20px;
      width: 20px;
      vertical-align: middle;
    }
    .tag {
      background: #607c8a;
      padding: 6px !important;
      border-radius: 3px;
      font-weight: 700;
    }

    & > div {
      margin-bottom: 10px;
    }
    .first-row {
      align-items: end !important;
      .name {
        font-size: 15px !important;
      }
      .program {
        font-size: 0.9em !important;
        width: auto !important;
        justify-content: space-between;
      }
      .actions {
        flex-flow: row nowrap !important;
        margin-left: 1px;
        button {
          vertical-align: middle !important;
          margin-left: 1px;
          height: 25px;
          width: 25px;
          font-size: 7px;
          line-height: 20px;
          border: solid #607c8a 2px !important;
          .mat-icon {
            display: flex;
            width: 22px;
            height: 15px;
          }
        }
      }
    }
    .first-row,
    .second-row,
    .third-row {
      div {
        .icon {
          display: inline;
          vertical-align: middle;
        }
        .label {
          display: inline !important;
          padding: 2px 2px !important;
          vertical-align: middle !important;
          word-break: break-word !important;
          margin-left: 0.5em !important;
        }
      }
    }
    .second-row,
    .third-row {
      place-content: start !important;
      & > div {
        width: auto;
        margin-right: 1px;
        min-width: max-content;
        margin-top: 0.5em;
        .icon {
          margin-left: 9px;
        }
        .label {
          padding: 2px 2px !important;
          margin: 0px !important;
        }
      }
    }
  }
}

.yellow {
  color: #ffd740;
}
.orange {
  color: #f49f36;
}
.blue {
  color: #36ebf4;
}
.red {
  color: #ff4040;
}
.green {
  color: #adff2f;
}
.purple {
  color: #ff46f9;
}
.magenta {
  color: magenta;
}
.black {
  color: #000000;
}
.cyan {
  color: cyan;
}

:host ::ng-deep .action-button .mat-icon-button .mat-button-wrapper {
  border: 1px solid #424242;
  border-radius: 50%;
  background-color: #424242;
  padding: 6px !important;
  cursor: pointer;
}
:host ::ng-deep .action-button .mat-icon {
  width: 18px;
  vertical-align: top;
}

.panel-header{
  color: #ffffff;
  font-size: 18px;
  height: 40px!important; 
}