<div class="p-col-fixed no-padding margin-top" style="width: 265px">
  <div>
    <div style="vertical-align: middle; margin-top: 20px; text-align: right">
      <button
        *ngIf="allowExport"
        (click)="openPDFdialog()"
        color="accent"
        style="padding: 0px 7px !important"
        [matTooltipDisabled]="false"
        mat-raised-button
        matTooltip="{{ 'PDF' | translate }} "
      >
        <mat-icon class="pdf-icon" svgIcon="file-pdf-outline"></mat-icon>
        {{ 'PDF' | translate }}
      </button>
      <button
        color="primary"
        style="padding: 0px 7px !important"
        [matTooltipDisabled]="false"
        mat-raised-button
        matTooltip="{{ 'Reset' | translate }} "
        (click)="reset()"
      >
        <mat-icon svgIcon="loop" class="mat-icon-svgIcon"></mat-icon>
        {{ 'Reset' | translate }}
      </button>
    </div>
    <mat-card style="margin-top: 5px">
      <div class="p-grid no-margin" style="margin-bottom: 10px !important">
        <h5 style="font-size: 15px !important">{{ 'filter' | translate }}</h5>
        <hr />
      </div>

      <div class="p-grid no-margin" [formGroup]="formFilter">
        <div class="p-col-12 no-padding filter-input">
          <ng-select
            class="mrgn-btn"
            [items]="schools"
            bindLabel="short_name"
            bindValue="_id"
            appendTo="body"
            [multiple]="true"
            [clearable]="false"
            placeholder="{{ 'School' | translate }}"
            notFoundText="{{ 'NOT RECORD FOUND' | translate }}"
            formControlName="school"
            [closeOnSelect]="false"
            (close)="selectSchool($event)"
          >
            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
              <div class="flex">
                <div><input id="item-{{ index }}" type="checkbox" [ngModel]="item$.selected" [ngModelOptions]="{ standalone: true }" /></div>
                <div class="break-space">
                  {{ item.short_name }}
                </div>
              </div>
            </ng-template>
            <ng-template ng-header-tmp *ngIf="schools?.length">
              <mat-checkbox
                [ngClass]="checkAllSuperFilter('school') || checkSuperFilterIndeterminate('school') ? 'checkBoxAll' : ''"
                style="cursor: pointer"
                [checked]="checkAllSuperFilter('school')"
                [indeterminate]="checkSuperFilterIndeterminate('school')"
                (change)="selectedAllSuperFilter('school', $event)"
              >
                {{ 'All schools' | translate }}
              </mat-checkbox>
            </ng-template>
            <!-- <ng-container *ngIf="schools && schools.length > 0"> -->
            <!-- <ng-option [value]="'All'">{{ 'All schools' | translate }}</ng-option>
              <ng-option *ngFor="let school of schools" [value]="school._id">{{ school.short_name }}</ng-option> -->
            <!-- </ng-container> -->
            <!-- <ng-container *ngIf="schools && schools.length === 0">
              <ng-option [value]="'All'" *ngIf="preFilter">{{ 'All schools' | translate }}</ng-option>
              <ng-option disabled *ngIf="!preFilter">{{ 'NOT RECORD FOUND' | translate }}</ng-option>
            </ng-container> -->
          </ng-select>
        </div>
        <div class="p-col-12 no-padding filter-input">
          <ng-select
            class="mrgn-btn"
            [items]="campusList"
            bindLabel="name"
            bindValue="_id"
            appendTo="body"
            [multiple]="true"
            [clearable]="false"
            placeholder="{{ 'Campus' | translate }}"
            notFoundText="{{ 'NOT RECORD FOUND' | translate }}"
            formControlName="campus"
            [closeOnSelect]="false"
            (close)="selectCampus($event)"
          >
            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
              <div class="flex">
                <div><input id="item-{{ index }}" type="checkbox" [ngModel]="item$.selected" [ngModelOptions]="{ standalone: true }" /></div>
                <div class="break-space">
                  {{ item.name }}
                </div>
              </div>
            </ng-template>
            <ng-template ng-header-tmp>
              <mat-checkbox
                [ngClass]="checkAllSuperFilter('campus') || checkSuperFilterIndeterminate('campus') ? 'checkBoxAll' : ''"
                style="cursor: pointer"
                [checked]="checkAllSuperFilter('campus')"
                [indeterminate]="checkSuperFilterIndeterminate('campus')"
                (change)="selectedAllSuperFilter('campus', $event)"
                *ngIf="campusList?.length"
              >
                {{ 'All campus' | translate }}
              </mat-checkbox>
            </ng-template>
            <!-- <ng-container *ngIf="campusList && campusList.length > 0"> -->
            <!-- <ng-option [value]="'All'">{{ 'All campus' | translate }}</ng-option> -->
            <!-- <ng-option *ngFor="let cam of campusList" [value]="cam._id">{{ cam.name }}</ng-option> -->
            <!-- </ng-container> -->
            <!-- <ng-container *ngIf="campusList && campusList.length === 0">
              <ng-option [value]="'All'" *ngIf="preFilter">{{ 'All campus' | translate }}</ng-option>
              <ng-option disabled *ngIf="!preFilter">{{ 'NOT RECORD FOUND' | translate }}</ng-option>
            </ng-container> -->
          </ng-select>
        </div>
        <div class="p-col-12 no-padding filter-input">
          <ng-select
            class="mrgn-btn"
            [items]="levels"
            bindLabel="name"
            bindValue="_id"
            appendTo="body"
            [multiple]="true"
            [clearable]="false"
            placeholder="{{ 'Level' | translate }}"
            notFoundText="{{ 'NOT RECORD FOUND' | translate }}"
            formControlName="level"
            [closeOnSelect]="false"
            (close)="selectLevel($event)"
          >
            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
              <div class="flex">
                <div><input id="item-{{ index }}" type="checkbox" [ngModel]="item$.selected" [ngModelOptions]="{ standalone: true }" /></div>
                <div class="break-space">{{ item.name }}</div>
              </div>
            </ng-template>
            <ng-template ng-header-tmp>
              <mat-checkbox
                [ngClass]="checkAllSuperFilter('level') || checkSuperFilterIndeterminate('level') ? 'checkBoxAll' : ''"
                style="cursor: pointer"
                [checked]="checkAllSuperFilter('level')"
                [indeterminate]="checkSuperFilterIndeterminate('level')"
                (change)="selectedAllSuperFilter('level', $event)"
                *ngIf="levels?.length"
              >
                {{ 'All levels' | translate }}
              </mat-checkbox>
            </ng-template>
            <!-- <ng-container *ngIf="levels && levels.length > 0"> -->
            <!-- <ng-option [value]="'All'">{{ 'All levels' | translate }}</ng-option>
              <ng-option *ngFor="let lvl of levels" [value]="lvl._id">{{ lvl.name }}</ng-option> -->
            <!-- </ng-container> -->
            <!-- <ng-container *ngIf="levels && levels.length === 0">
              <ng-option [value]="'All'" *ngIf="preFilter">{{ 'All levels' | translate }}</ng-option>
              <ng-option disabled *ngIf="!preFilter">{{ 'NOT RECORD FOUND' | translate }}</ng-option>
            </ng-container> -->
          </ng-select>
        </div>
        <div class="p-col-12 no-padding filter-input">
          <ng-select
            class="mrgn-btn"
            [items]="sector"
            bindLabel="name"
            bindValue="_id"
            appendTo="body"
            [multiple]="true"
            [clearable]="false"
            placeholder="{{ 'Sector' | translate }}"
            notFoundText="{{ 'NOT RECORD FOUND' | translate }}"
            formControlName="sector"
            [closeOnSelect]="false"
            (close)="selectSector($event)"
          >
            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
              <div class="flex">
                <div><input id="item-{{ index }}" type="checkbox" [ngModel]="item$.selected" [ngModelOptions]="{ standalone: true }" /></div>
                <div class="break-space">
                  {{ item.name }}
                </div>
              </div>
            </ng-template>
            <ng-template ng-header-tmp>
              <mat-checkbox
                [ngClass]="checkAllSuperFilter('sector') || checkSuperFilterIndeterminate('sector') ? 'checkBoxAll' : ''"
                style="cursor: pointer"
                [checked]="checkAllSuperFilter('sector')"
                [indeterminate]="checkSuperFilterIndeterminate('sector')"
                (change)="selectedAllSuperFilter('sector', $event)"
                *ngIf="sector?.length"
              >
                {{ 'All sectors' | translate }}
              </mat-checkbox>
            </ng-template>
            <!-- <ng-container *ngIf="sector && sector.length > 0">
              <ng-option [value]="'All'">{{ 'All sectors' | translate }}</ng-option>
              <ng-option *ngFor="let sec of sector" [value]="sec._id">{{ sec.name }}</ng-option>
            </ng-container> -->
            <!-- <ng-container *ngIf="sector && sector.length === 0">
              <ng-option [value]="'All'" *ngIf="preFilter">{{ 'All sectors' | translate }}</ng-option>
              <ng-option disabled *ngIf="!preFilter">{{ 'NOT RECORD FOUND' | translate }}</ng-option>
            </ng-container> -->
          </ng-select>
        </div>
        <div class="p-col-12 no-padding filter-input">
          <ng-select
            class="mrgn-btn"
            [items]="speciality"
            bindLabel="sigli"
            bindValue="_id"
            appendTo="body"
            [multiple]="true"
            [clearable]="false"
            placeholder="{{ 'FilterSpeciality' | translate }}"
            notFoundText="{{ 'NOT RECORD FOUND' | translate }}"
            formControlName="speciality"
            [closeOnSelect]="false"
            (close)="selectSpeciality($event)"
          >
            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
              <div class="flex">
                <div><input id="item-{{ index }}" type="checkbox" [ngModel]="item$.selected" [ngModelOptions]="{ standalone: true }" /></div>
                <div class="break-space">{{ item.sigli }}</div>
              </div>              
            </ng-template>
            <ng-template ng-header-tmp>
              <mat-checkbox
                [ngClass]="checkAllSuperFilter('speciality') || checkSuperFilterIndeterminate('speciality') ? 'checkBoxAll' : ''"
                style="cursor: pointer"
                [checked]="checkAllSuperFilter('speciality')"
                [indeterminate]="checkSuperFilterIndeterminate('speciality')"
                (change)="selectedAllSuperFilter('speciality', $event)"
                *ngIf="speciality?.length"
              >
                {{ 'All speciality' | translate }}
              </mat-checkbox>
            </ng-template>
            <!-- <ng-container *ngIf="speciality && speciality.length > 0">
              <ng-option [value]="'All'">{{ 'All speciality' | translate }}</ng-option>
              <ng-option [value]="'None'">{{ 'None' | translate }}</ng-option>
              <ng-option *ngFor="let spec of speciality" [value]="spec._id">{{ spec.sigli }}</ng-option>
            </ng-container> -->
            <!-- <ng-container *ngIf="speciality && speciality.length === 0">
              <ng-option [value]="'All'" *ngIf="preFilter">{{ 'All speciality' | translate }}</ng-option>
              <ng-option [value]="'None'">{{ 'None' | translate }}</ng-option>
              <ng-option disabled *ngIf="!preFilter">{{ 'NOT RECORD FOUND' | translate }}</ng-option>
            </ng-container> -->
          </ng-select>
        </div>
        <div class="p-col-12 no-padding filter-input">
          <ng-select
            class="mrgn-btn"
            bindLabel="name"
            bindValue="_id"
            appendTo="body"
            [multiple]="false"
            [clearable]="true"
            placeholder="{{ 'Sequence' | translate }}"
            formControlName="sequence"
            (change)="selectSequence($event)"
            notFoundText="{{ 'NOT RECORD FOUND' | translate }}"
          >
            <ng-container *ngIf="sequences && sequences.length > 0">
              <!-- <ng-option [value]="'All'">{{ 'All sequences' | translate }}</ng-option> -->
              <ng-option *ngFor="let seq of sequences" [value]="seq._id">
                <div class="break-space">{{ seq.name }}</div>
              </ng-option>
            </ng-container>
          </ng-select>
        </div>
        <div class="p-col-12 no-padding filter-input">
          <ng-select
            class="mrgn-btn"
            bindLabel="name"
            bindValue="_id"
            appendTo="body"
            [multiple]="false"
            [clearable]="true"
            placeholder="{{ 'Type of group' | translate }}"
            formControlName="type_of_group"
            (change)="selectTypeOfGroup($event)"
            notFoundText="{{ 'NOT RECORD FOUND' | translate }}"
          >
            <ng-container *ngIf="typeOfGroups && typeOfGroups.length > 0">
              <!-- <ng-option [value]="'All'">{{ 'All type of groups' | translate }}</ng-option> -->
              <ng-option [value]="'class'">{{ 'Class' | translate }}</ng-option>
              <ng-option *ngFor="let type of typeOfGroups" [value]="type._id">
                <div class="break-space">{{ type.name }}</div>
              </ng-option>
            </ng-container>
          </ng-select>
        </div>
        <div class="p-col-12 no-padding filter-input">
          <ng-select
            class="mrgn-btn"
            bindLabel="name"
            bindValue="_id"
            appendTo="body"
            [multiple]="false"
            [clearable]="true"
            placeholder="{{ 'Group' | translate }}"
            formControlName="group"
            (change)="selectGroup($event)"
            notFoundText="{{ 'NOT RECORD FOUND' | translate }}"
          >
            <ng-container *ngIf="groups && groups.length > 0">
              <!-- <ng-option [value]="'All'">{{ 'All groups' | translate }}</ng-option> -->
              <ng-option *ngFor="let type of groups" [value]="type._id">
                <div class="break-space">
                  {{ type.name }}
                </div>
              </ng-option>
            </ng-container>
          </ng-select>
        </div>
        <div class="p-col-fixed apply-filter">
          <button mat-button mat-raised-button color="accent" [disabled]="isDisable()" (click)="applyFilter()">
            {{ 'TROMBINOSCOPE.Apply Filter' | translate }}
          </button>
        </div>
      </div>
    </mat-card>
  </div>
</div>
