@import '~assets/scss/theme/admtc.variables';
@import '~assets/scss/theme/admtc';

.pdf-icon {
  vertical-align: top;
  margin-top: 2px;
}

.filter-input {
  float: left;
  margin-bottom: 10px;
}

:host::ng-deep.ng-select .ng-select-container {
  background-color: #fff0;
  // color: #fff;
  border: none;
  border-radius: 0px !important;
  border-bottom: 1px solid #8c8c8c !important;
  min-height: 36px;
  -webkit-box-align: center;
  align-items: center;
}
:host::ng-deep.mat-select-arrow-wrapper {
  padding-right: 5px;
}
:host::ng-deep.mat-select-value-text {
  margin-left: 10px;
  font-size: 13px;
}

:host::ng-deep .ng-select .ng-clear-wrapper {
  right: 19px !important;
}

:host::ng-deep.ng-select .ng-select-container .ng-value-container .ng-input > input {
  color: white;
  box-sizing: content-box;
  background: none;
  border: 0;
  box-shadow: none;
  outline: 0;
  cursor: default;
  width: 100%;
}

:host::ng-deep .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
  background-color: #424242 !important;
  margin-right: 3px;
}

:host::ng-deep .ng-select .ng-select-container.ng-has-value {
  max-height: 203px;
  // overflow-x: scroll;
}

:host::ng-deep .ng-select .ng-arrow-wrapper {
  right: 0px;
  position: absolute !important;
}

:host::ng-deep .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-icon.left {
  display: none;
}

:host::ng-deep .ng-select.ng-select-multiple .ng-select-container .ng-value-container {
  flex-wrap: nowrap !important;
}

:host::ng-deep.ng-dropdown-panel {
  max-width: 285px;
}

:host::ng-deep.ng-select .ng-select-container .ng-value-container .ng-value .ng-value-label {
  font-size: 14px !important;
}

:host::ng-deep.ng-select.ng-select-single .ng-select-container .ng-value-container,
.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-value {
  color: white;
}

:host::ng-deep.ng-select.ng-select-disabled > .ng-select-container {
  border-bottom: 1px dashed #8c8c8c !important;
}

.margin-top {
  margin-top: 3.5em;
}

hr {
  width: 100%;
  height: 1px;
  background: #8c8c8c;
}

.apply-filter {
  width: 100%;
  text-align: right;
}

@media screen and (max-width: 1600px) {
  .margin-top {
    margin-top: 4em;
  }
}

:host::ng-deep.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-label {
  color: white;
}

::ng-deep.ng-dropdown-header {
  margin-left: 6px;
  border-bottom: 0 !important;

  .mat-checkbox {
    margin-left: 3px;

    .mat-checkbox-inner-container {
      height: 13px;
      width: 13px;
    }

    .mat-checkbox-label {
      padding-right: 48px;
    }

    label {
      margin-left: -2px;
    }
  }
}

::ng-deep.checkBoxAll .mat-checkbox-background {
  background-color: #0075ff !important;
}

:host::ng-deep.ng-value:nth-last-child(n+3) .ng-value-label::after {
  content: ', ';
}

.break-space {
  white-space: break-spaces;
}

.flex {
  display: flex;
}
