<div class="dialog-border" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
  <div class="dialogTitleWrapper">
    <div class="p-grid">
      <div class="w-30 no-padding">
        <mat-icon style="vertical-align: middle" data-cy="dialog-icon">edit</mat-icon>
      </div>
      <div class="p-col-10 acad-title">
        <h3 class="dialogTitle" data-cy="dialog-title">
          {{ 'Send urgent message' | translate }}
        </h3>
      </div>
      <div class="w-65 no-padding">
        <button mat-icon-button class="close-icon float-right" mat-dialog-close tabindex="-1" data-cy="button-close-dialog">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
<form [formGroup]="identityForm">
  <div class="fontColor">
    <mat-dialog-content>
      <div class="p-grid">
        <div class="p-col-12 no-padding">
          <h5 data-cy="candidate-name">
            {{
              data?.candidate_id?.civility && data?.candidate_id?.civility === 'neutral' ? '' : (data?.candidate_id?.civility | translate)
            }}
            {{ data?.candidate_id?.first_name }} {{ data?.candidate_id?.last_name | uppercase }}
            {{ data?.intake_channel?.program }}
          </h5>
        </div>
      </div>

      <div class="p-grid">
        <div class="p-col-12 no-padding">
          <div class="p-grid">
            <div class="p-col-12 center-label no-padding-left label-align">
              <label>{{ 'Message' | translate }}</label>
            </div>
            <div class="p-col-12 no-padding">
              <div class="ckeditor">
                <ckeditor
                  #editor
                  [editor]="Editor"
                  formControlName="note"
                  (ready)="onReady($event)"
                  [config]="config"
                  data-cy="input-cke-message"
                ></ckeditor>
                <button mat-icon-button (click)="recordNote()" class="margin-right-button btn-mic" data-cy="button-record-note">
                  <mat-icon class="mic-style">keyboard_voice</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions align="right">
      <button mat-raised-button type="button" color="warn" mat-dialog-close data-cy="button-cancel">{{ 'CANCEL' | translate }}</button>
      <button mat-raised-button color="primary" (click)="submitVerification()" data-cy="button-validate">
        {{ 'Validate' | translate }}
      </button>
    </mat-dialog-actions>
  </div>
</form>
