:host::ng-deep.header-text {
    margin-left: 8px;
}

.header-border {
    padding: 15px;
    color: black;
}

:host ::ng-deep{
    .mat-dialog-actions{    
      min-height: unset;
    }
}

.header-div {
  padding: 0.8em 0.8em 0.4em 0.8em !important;

  .dialog-header-icon {
    font-size: 28px;
  }
}
  
.mat-dialog-content {
  margin: 0 !important;
  padding: 1rem !important;
  overflow: hidden;
  max-width: 940px;
}

.microphone {
  text-align: center;
  margin-top: 1rem; 
}

:host ::ng-deep .ck.ck-editor__editable_inline {
  border: 1px solid grey !important;
  height: 15rem;
}

.loading-indicator {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 6em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
:host::ng-deep.ng-invalid.ng-touched .ck.ck-editor__editable_inline{
  border-color: red !important;
}