@import '~assets/scss/theme/admtc.variables';
@import '~assets/scss/theme/admtc';

.flag-icon {
  vertical-align: text-top;
  height: 17px;
  width: 17px;
}
td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type,
th.mat-header-cell:first-of-type {
  padding-left: 0px;
}
th.mat-header-cell {
  h5 {
    align-items: center;
    font-size: 10pt;
  }
}
table.mat-table {
  width: 100%;
}
:host ::ng-deep div#cdk-overlay-1,
.cdk-overlay-pane {
  width: 180px !important;
}
:host ::ng-deep table {
  tr {
    td,
    th {
      align-items: center !important;
      border-right: 1px solid $grey;
      padding: 4px !important;
      &:nth-child(1) {
        width: 1%;
        max-width: 15px;
      }
      &:nth-child(2) {
        width: 5%;
        text-align: center !important;
        .mat-form-field {
          width: 100%;
        }
      }
      &:nth-child(3) {
        width: 1.5%;
        max-width: 24px;
        text-align: center !important;
        .mat-form-field {
          width: 100%;
        }
      }
      &:nth-child(4) {
        width: 3%;
        text-align: center !important;
        .mat-form-field {
          width: 100%;
        }
      }
      &:nth-child(5) {
        width: 3%;
        text-align: center !important;
        .mat-form-field {
          width: 100%;
        }
      }
      &:nth-child(6) {
        width: 1%;
        max-width: 15px;
        text-align: center !important;
        .mat-form-field {
          width: 100%;
        }
      }
      &:nth-child(7) {
        width: 3%;
        max-width: 37px;
        text-align: center !important;
        .mat-form-field {
          width: 100%;
        }
      }
      &:nth-child(8) {
        width: 3%;
        max-width: 37px;
        text-align: center !important;
        .mat-form-field {
          width: 100%;
        }
      }
      &:nth-child(9) {
        width: 1%;
        max-width: 15px;
        text-align: center !important;
        .mat-form-field {
          width: 100%;
        }
      }
      &:nth-child(10) {
        width: 3%;
        text-align: center !important;
        .mat-form-field {
          width: 100%;
        }
      }
      &:nth-child(11) {
        width: 1%;
        max-width: 15px;
        text-align: center !important;
        .mat-form-field {
          width: 100%;
        }
      }
      &:nth-child(12) {
        width: 1%;
        max-width: 15px;
        text-align: center !important;
        .mat-form-field {
          width: 100%;
        }
      }
      &:nth-child(13) {
        width: 3%;
        text-align: center !important;
        .mat-form-field {
          width: 100%;
        }
      }
      &:nth-child(14) {
        width: 1%;
        max-width: 15px;
        text-align: center !important;
        .mat-form-field {
          width: 100%;
        }
      }
      &:nth-child(15) {
        width: 3%;
        max-width: 37px;
        text-align: center !important;
        .mat-form-field {
          width: 100%;
        }
      }
      &:nth-child(16) {
        width: 3%;
        max-width: 37px;
        text-align: center !important;
        .mat-form-field {
          width: 100%;
        }
      }
      &:nth-child(17) {
        width: 1.5%;
        max-width: 24px;
        text-align: center !important;
        .mat-form-field {
          width: 100%;
        }
      }
      &:nth-child(18) {
        width: 3%;
        max-width: 37px;
        text-align: center !important;
        .mat-form-field {
          width: 100%;
        }
      }
      &:nth-child(19) {
        width: 7.5%;
        max-width: 95px;
        min-width: 95px;
        text-align: center !important;
        .mat-form-field {
          width: 100%;
        }
      }
    }
    td {
      overflow: hidden;
      // text-overflow: ellipsis;
      max-width: 0;
      white-space: nowrap;
      padding-top: 0.5em;
      padding-bottom: 0.5em;
      &:nth-child(19) {
        .margin-right-button {
          margin-right: 3px;
        }
        .mat-icon-button {
          height: 24px !important;
          width: 24px !important;
        }
        .mat-icon {
          font-size: 16px;
          width: 18px !important;
        }
      }
      * {
        vertical-align: middle;
      }
      .mat-icon-status {
        font-size: 14px;
        text-align: center;
        vertical-align: middle;
        padding-right: 0px;
        width: 14px;
      }
    }
    th {
      vertical-align: top;
      .mat-form-field-infix {
        width: unset !important;
      }
    }
    &:nth-child(2) {
      th {
        padding-top: 0.9em;
      }
    }
  }
  thead tr {
    &:nth-child(2) {
      height: 35px;
    }

    &:nth-child(2) {
      th {
        &:nth-child(12) {
          background-color: #607d8b !important;
        }
        &:nth-child(13) {
          background-color: #607d8b !important;
        }
        &:nth-child(14) {
          background-color: #607d8b !important;
        }
        &:nth-child(15) {
          background-color: #607d8b !important;
        }
        &:nth-child(16) {
          background-color: #607d8b !important;
        }
        &:nth-child(17) {
          background-color: #607d8b !important;
        }
        &:nth-child(18) {
          background-color: #607d8b !important;
        }
      }
    }

    &:nth-child(2),
    &:nth-child(3) {
      background: $light-black;
      th {
        color: $white;
      }
    }
  }
}
.mat-icon-status {
  font-size: 14px;
  text-align: center;
  vertical-align: middle;
  padding-right: 5px;
}
.action-header-column {
  text-align: right !important;
  vertical-align: middle !important;
  padding-right: 0 !important;
  .p-grid {
    margin-top: unset !important;
  }
}
.horizontal {
  overflow: auto;
}
.orange {
  color: #f49f36;
}
.red {
  color: #ff4040;
}
.green {
  color: #adff2f;
}