<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  <ng-container matColumnDef="table-action">
    <th mat-header-cell *matHeaderCellDef colspan="23" class="action-header-column">
      <button
        style="padding: 0px 7px !important"
        mat-raised-button
        color="primary"
        [disabled]="!selection.hasValue()"
        matTooltip="{{ 'Export' | translate }} "
      >
        <mat-icon svgIcon="file-excel" class="mat-icon-svgIcon"></mat-icon>
        {{ 'Export' | translate }}
      </button>
      <button
        style="padding: 0px 7px !important"
        mat-raised-button
        color="primary"
        [disabled]="!selection.hasValue()"
        matTooltip="{{ 'INTERN_CANDIDATES.INTERN_CANDIDATES.appointment' | translate }} "
      >
        <mat-icon svgIcon="account-tie-voice" class="mat-icon-svgIcon"></mat-icon>
        {{ 'INTERN_CANDIDATES.appointment' | translate }}
      </button>
      <button
        style="padding: 0px 7px !important"
        mat-raised-button
        color="primary"
        [disabled]="!selection.hasValue()"
        matTooltip="{{ 'INTERN_CANDIDATES.send' | translate }} "
      >
        <mat-icon class="mat-icon-default">send</mat-icon>
        {{ 'INTERN_CANDIDATES.send' | translate }}
      </button>
      <button style="padding: 0px 7px !important" color="accent" mat-raised-button matTooltip="{{ 'Reset Filter' | translate }} ">
        <mat-icon svgIcon="loop" class="mat-icon-svgIcon"></mat-icon>
        {{ 'Reset' | translate }}
      </button>
    </th>
  </ng-container>
  <ng-container matColumnDef="selectFilter" class="mat-column-select">
    <th mat-header-cell *matHeaderCellDef class="text-center"></th>
  </ng-container>
  <ng-container matColumnDef="jobTitleFilter">
    <th mat-header-cell *matHeaderCellDef class="text-center">
      <mat-form-field>
        <input matInput class="form-field" placeholder="{{ 'search' | translate }}" />
      </mat-form-field>
    </th>
  </ng-container>
  <ng-container matColumnDef="offerDateFilter">
    <th mat-header-cell *matHeaderCellDef class="text-center"></th>
  </ng-container>
  <ng-container matColumnDef="schoolFilter">
    <th mat-header-cell *matHeaderCellDef class="text-center">
      <mat-form-field>
        <mat-select>
          <mat-option [value]="AllF">{{ 'AllS' | translate }} </mat-option>
          <mat-option value="EFAP ICART">{{ 'EFAP ICART' }} </mat-option>
          <mat-option value="EFAP">{{ 'EFAP' }} </mat-option>
          <mat-option value="BRASSARD">{{ 'BRASSARD' }} </mat-option>
        </mat-select>
      </mat-form-field>
    </th>
  </ng-container>
  <ng-container matColumnDef="levelFilter">
    <th mat-header-cell *matHeaderCellDef class="text-center">
      <mat-form-field>
        <mat-select>
          <mat-option [value]="AllF">{{ 'AllS' | translate }} </mat-option>
          <mat-option value="GE1  GE2 GE3">{{ 'GE1  GE2 GE3' }} </mat-option>
          <mat-option value="MBA Lux">{{ 'MBA Lux' }} </mat-option>
          <mat-option value="GE4 GE5">{{ 'GE4 GE5' }} </mat-option>
        </mat-select>
      </mat-form-field>
    </th>
  </ng-container>
  <ng-container matColumnDef="typeFilter">
    <th mat-header-cell *matHeaderCellDef class="text-center">
      <mat-form-field>
        <mat-select>
          <mat-option [value]="AllF">{{ 'AllS' | translate }} </mat-option>
          <mat-option value="temporary">{{ 'temporary' | translate }} </mat-option>
          <mat-option value="ongoing">{{ 'ongoing' | translate }} </mat-option>
        </mat-select>
      </mat-form-field>
    </th>
  </ng-container>
  <ng-container matColumnDef="startDateFilter">
    <th mat-header-cell *matHeaderCellDef class="text-center"></th>
  </ng-container>
  <ng-container matColumnDef="endDateFilter">
    <th mat-header-cell *matHeaderCellDef class="text-center"></th>
  </ng-container>
  <ng-container matColumnDef="durationFilter">
    <th mat-header-cell *matHeaderCellDef class="text-center"></th>
  </ng-container>
  <ng-container matColumnDef="brandFilter">
    <th mat-header-cell *matHeaderCellDef class="text-center">
      <mat-form-field>
        <input matInput class="form-field" placeholder="{{ 'search' | translate }}" />
      </mat-form-field>
    </th>
  </ng-container>
  <ng-container matColumnDef="countryFilter">
    <th mat-header-cell *matHeaderCellDef class="text-center">
      <mat-form-field>
        <mat-select>
          <mat-option [value]="AllF">{{ 'AllS' | translate }} </mat-option>
          <mat-option value="South Korea">{{ 'South Korea' | translate }} </mat-option>
          <mat-option value="Belgium">{{ 'Belgium' | translate }} </mat-option>
          <mat-option value="United Kingdom">{{ 'United Kingdom' | translate }} </mat-option>
        </mat-select>
      </mat-form-field>
    </th>
  </ng-container>
  <ng-container matColumnDef="publishedFilter">
    <th mat-header-cell *matHeaderCellDef class="text-center">
      <mat-form-field>
        <mat-select>
          <mat-option [value]="AllF">{{ 'AllS' | translate }} </mat-option>
          <mat-option value="done">{{ 'done' | translate }} </mat-option>
          <mat-option value="not done">{{ 'not done' | translate }} </mat-option>
        </mat-select>
      </mat-form-field>
    </th>
  </ng-container>
  <ng-container matColumnDef="candidateFilter">
    <th mat-header-cell *matHeaderCellDef class="text-center">
      <mat-form-field>
        <input matInput class="form-field" placeholder="{{ 'search' | translate }}" />
      </mat-form-field>
    </th>
  </ng-container>
  <ng-container matColumnDef="questionAnsweredFilter">
    <th mat-header-cell *matHeaderCellDef class="text-center"></th>
  </ng-container>
  <ng-container matColumnDef="dateApplyFilter">
    <th mat-header-cell *matHeaderCellDef class="text-center"></th>
  </ng-container>
  <ng-container matColumnDef="dateInterviewFilter">
    <th mat-header-cell *matHeaderCellDef class="text-center"></th>
  </ng-container>
  <ng-container matColumnDef="evaluationFilter">
    <th mat-header-cell *matHeaderCellDef class="text-center"></th>
  </ng-container>
  <ng-container matColumnDef="conventionFilter">
    <th mat-header-cell *matHeaderCellDef class="text-center"></th>
  </ng-container>
  <ng-container matColumnDef="actionFilter">
    <th mat-header-cell *matHeaderCellDef class="text-center"></th>
  </ng-container>
  <ng-container matColumnDef="select" class="mat-column-select">
    <th mat-header-cell *matHeaderCellDef class="text-center">
      <mat-checkbox
        (change)="$event ? masterToggle() : null"
        (change)="showOptions('all')"
        [checked]="(selection.hasValue() && isAllSelected()) || isCheckedAll"
        [indeterminate]="selection.hasValue() && !isAllSelected()"
        [aria-label]="checkboxLabel()"
      >
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row" class="text-center">
      <mat-checkbox
        (click)="$event.stopPropagation()"
        (change)="$event ? selection.toggle(row) : null"
        [checked]="selection.isSelected(row) || isCheckedAll"
        (change)="showOptions('one')"
        [aria-label]="checkboxLabel(row)"
      >
      </mat-checkbox>
    </td>
  </ng-container>
  <ng-container matColumnDef="jobTitle">
    <th mat-header-cell *matHeaderCellDef>
      <h5>{{ 'JOB_OFFER.job_title' | translate }}</h5>
    </th>
    <td mat-cell *matCellDef="let element" matTooltip="{{ element?.job_title }}" matTooltipPosition="above">
      {{ element?.job_title }}
    </td>
  </ng-container>
  <ng-container matColumnDef="offerDate">
    <th mat-header-cell *matHeaderCellDef matTooltip="{{ 'JOB_OFFER.offer_date' | translate }}" matTooltipPosition="above">
      <h5><mat-icon svgIcon="calendar-blank" class="mat-icon-svgIcon"></mat-icon></h5>
    </th>
    <td mat-cell *matCellDef="let element" matTooltip="{{ element?.offer_date | date: 'dd/MM/yyyy' }}" matTooltipPosition="above">
      {{ element?.offer_date | date: 'dd/MM' }}
    </td>
  </ng-container>
  <ng-container matColumnDef="school">
    <th mat-header-cell *matHeaderCellDef matTooltip="{{ 'JOB_OFFER.school' | translate }}" matTooltipPosition="above">
      <h5><mat-icon class="mat-icon-default">account_balance</mat-icon></h5>
    </th>
    <td mat-cell *matCellDef="let element" matTooltip="{{ element?.school }}" matTooltipPosition="above">
      {{ element?.school }}
    </td>
  </ng-container>
  <ng-container matColumnDef="level">
    <th mat-header-cell *matHeaderCellDef matTooltip="{{ 'JOB_OFFER.level' | translate }}" matTooltipPosition="above">
      <h5><mat-icon class="mat-icon-default">school</mat-icon></h5>
    </th>
    <td mat-cell *matCellDef="let element" matTooltip="{{ element?.level }}" matTooltipPosition="above">
      {{ element?.level }}
    </td>
  </ng-container>
  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef matTooltip="{{ 'JOB_OFFER.type' | translate }}" matTooltipPosition="above">
      <h5><mat-icon class="mat-icon-default">all_inclusive</mat-icon></h5>
    </th>
    <td mat-cell *matCellDef="let element" matTooltip="{{ element?.type | translate }}" matTooltipPosition="above">
      <mat-icon class="mat-icon-default" *ngIf="element?.type === 'ongoing'">all_inclusive</mat-icon>
      <mat-icon svgIcon="calendar-blank" class="mat-icon-svgIcon" *ngIf="element?.type === 'temporary'"></mat-icon>
    </td>
  </ng-container>
  <ng-container matColumnDef="startDate">
    <th mat-header-cell *matHeaderCellDef matTooltip="{{ 'JOB_OFFER.start_date' | translate }}" matTooltipPosition="above">
      <h5><mat-icon svgIcon="calendar-blank" class="mat-icon-svgIcon"></mat-icon></h5>
    </th>
    <td mat-cell *matCellDef="let element" matTooltip="{{ element?.start_date | date: 'dd/MM/yyyy' }}" matTooltipPosition="above">
      {{ element?.start_date | date: 'dd/MM/yyyy' }}
    </td>
  </ng-container>
  <ng-container matColumnDef="endDate">
    <th mat-header-cell *matHeaderCellDef matTooltip="{{ 'JOB_OFFER.end_date' | translate }}" matTooltipPosition="above">
      <h5><mat-icon svgIcon="calendar-blank" class="mat-icon-svgIcon"></mat-icon></h5>
    </th>
    <td mat-cell *matCellDef="let element" matTooltip="{{ element?.end_date | date: 'dd/MM/yyyy' }}" matTooltipPosition="above">
      {{ element?.end_date | date: 'dd/MM/yyyy' }}
    </td>
  </ng-container>
  <ng-container matColumnDef="duration">
    <th mat-header-cell *matHeaderCellDef matTooltip="{{ 'JOB_OFFER.duration' | translate }}" matTooltipPosition="above">
      <h5><mat-icon svgIcon="calendar-weekend" class="mat-icon-svgIcon"></mat-icon></h5>
    </th>
    <td mat-cell *matCellDef="let element" matTooltip="{{ element?.duration_in_weeks }}" matTooltipPosition="above">
      {{ element?.duration_in_weeks }}
    </td>
  </ng-container>
  <ng-container matColumnDef="brand">
    <th mat-header-cell *matHeaderCellDef>
      <h5>{{ 'JOB_OFFER.brand' | translate }}</h5>
    </th>
    <td mat-cell *matCellDef="let element" matTooltip="{{ element?.brand }}" matTooltipPosition="above">
      {{ element?.brand }}
    </td>
  </ng-container>
  <ng-container matColumnDef="country">
    <th mat-header-cell *matHeaderCellDef matTooltip="{{ 'JOB_OFFER.country' | translate }}" matTooltipPosition="above">
      <h5><mat-icon svgIcon="flag-variant-outline" class="mat-icon-svgIcon"></mat-icon></h5>
    </th>
    <td [matTooltip]="element?.job_country | translate" mat-cell *matCellDef="let element">
      <img alt="flag icon of " class="flag-icon" [src]="flagsIconPath + (element?.job_country | lowercase) + '.svg'" />
    </td>
  </ng-container>
  <ng-container matColumnDef="published">
    <th mat-header-cell *matHeaderCellDef matTooltip="{{ 'JOB_OFFER.published' | translate }}" matTooltipPosition="above">
      <h5><mat-icon svgIcon="bullhorn" class="mat-icon-svgIcon"></mat-icon></h5>
    </th>
    <td mat-cell *matCellDef="let element" matTooltip="{{ element?.published }}" matTooltipPosition="above">
      <mat-icon
        [ngClass]="{
          red: element?.published === false,
          green: element?.published === true
        }"
        class="mat-icon-status"
        aria-hidden="true"
        >lens</mat-icon
      >
    </td>
  </ng-container>
  <ng-container matColumnDef="candidate">
    <th mat-header-cell *matHeaderCellDef matTooltip="{{ 'INTERN_CANDIDATES.candidate' | translate }}" matTooltipPosition="above">
      <h5><mat-icon class="mat-icon-default">school</mat-icon></h5>
    </th>
    <td mat-cell *matCellDef="let element" matTooltip="{{ element?.candidate }}" matTooltipPosition="above">
      {{ element?.candidate }}
    </td>
  </ng-container>
  <ng-container matColumnDef="questionAnswered">
    <th mat-header-cell *matHeaderCellDef matTooltip="{{ 'INTERN_CANDIDATES.question_answered' | translate }}" matTooltipPosition="above">
      <h5><mat-icon class="mat-icon-default">help</mat-icon></h5>
    </th>
    <td mat-cell *matCellDef="let element" matTooltip="{{ element?.question_answered }}" matTooltipPosition="above">
      <mat-icon
        [ngClass]="{
          red: element?.question_answered === false,
          green: element?.question_answered === true
        }"
        class="mat-icon-status"
        aria-hidden="true"
        >lens</mat-icon
      >
    </td>
  </ng-container>
  <ng-container matColumnDef="dateApply">
    <th mat-header-cell *matHeaderCellDef matTooltip="{{ 'INTERN_CANDIDATES.date_apply' | translate }}" matTooltipPosition="above">
      <h5><mat-icon svgIcon="file-search" class="mat-icon-svgIcon"></mat-icon></h5>
    </th>
    <td mat-cell *matCellDef="let element" matTooltip="{{ element?.date_of_apply | date: 'dd/MM/yyyy' }}" matTooltipPosition="above">
      {{ element?.date_of_apply | date: 'dd/MM/yyyy' }}
    </td>
  </ng-container>
  <ng-container matColumnDef="dateInterview">
    <th mat-header-cell *matHeaderCellDef matTooltip="{{ 'INTERN_CANDIDATES.date_interview' | translate }}" matTooltipPosition="above">
      <h5><mat-icon svgIcon="account-question" class="mat-icon-svgIcon"></mat-icon></h5>
    </th>
    <td mat-cell *matCellDef="let element">
      <span
        *ngIf="isTypeString(element?.date_of_interview)"
        matTooltip="{{ element?.date_of_interview | date: 'dd/MM/yyyy' }}"
        matTooltipPosition="above"
      >
        {{ element?.date_of_interview | date: 'dd/MM/yyyy' }}
      </span>
      <ng-container *ngIf="isTypeBoolean(element?.date_of_interview)">
        <mat-icon
          [ngClass]="{
            red: element?.date_of_interview === false,
            green: element?.date_of_interview === true
          }"
          class="mat-icon-status"
          aria-hidden="true"
          >lens</mat-icon
        >
      </ng-container>
    </td>
  </ng-container>
  <ng-container matColumnDef="evaluation">
    <th mat-header-cell *matHeaderCellDef matTooltip="{{ 'INTERN_CANDIDATES.evaluation' | translate }}" matTooltipPosition="above">
      <h5><mat-icon svgIcon="account-search" class="mat-icon-svgIcon"></mat-icon></h5>
    </th>
    <td mat-cell *matCellDef="let element">
      <ng-container *ngIf="element?.evaluation === 'ok_ok'"></ng-container>
      <mat-icon class="green mat-icon-status" aria-hidden="true">lens</mat-icon>
      <mat-icon class="green mat-icon-status" aria-hidden="true">lens</mat-icon>
    </td>
  </ng-container>
  <ng-container matColumnDef="convention">
    <th mat-header-cell *matHeaderCellDef matTooltip="{{ 'INTERN_CANDIDATES.convention' | translate }}" matTooltipPosition="above">
      <h5><mat-icon svgIcon="file-document-edit" class="mat-icon-svgIcon"></mat-icon></h5>
    </th>
    <td mat-cell *matCellDef="let element" matTooltip="{{ element?.convention | date: 'dd/MM/yyyy' }}" matTooltipPosition="above">
      {{ element?.convention | date: 'dd/MM/yyyy' }}
    </td>
  </ng-container>
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef matTooltip="{{ 'Action' | translate }}" matTooltipPosition="above">
      <h5>{{ 'Action' | translate }}</h5>
    </th>
    <td mat-cell *matCellDef="let element" class="action-buttons">
      <button
        mat-icon-button
        class="margin-right-button"
        matTooltip="{{ element?.published ? ('JOB_OFFER.pub' | translate) : ('JOB_OFFER.depub' | translate) }}"
      >
        <mat-icon svgIcon="bullhorn"></mat-icon>
      </button>
      <button mat-icon-button class="margin-right-button" matTooltip="{{ 'INTERN_CANDIDATES.send' | translate }}">
        <mat-icon>send</mat-icon>
      </button>
      <button mat-icon-button class="margin-right-button" matTooltip="{{ 'INTERN_CANDIDATES.wa' | translate }}">
        <mat-icon svgIcon="whatsapp"></mat-icon>
      </button>
      <button mat-icon-button class="margin-right-button" matTooltip="{{ 'INTERN_CANDIDATES.edit' | translate }}">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button class="margin-right-button" matTooltip="{{ 'INTERN_CANDIDATES.view' | translate }}">
        <mat-icon>visibility</mat-icon>
      </button>
      <button mat-icon-button class="margin-right-button" matTooltip="{{ 'INTERN_CANDIDATES.hand_apply' | translate }}">
        <mat-icon svgIcon="hand"></mat-icon>
      </button>
      <button mat-icon-button class="margin-right-button" matTooltip="{{ 'INTERN_CANDIDATES.appointment' | translate }}">
        <mat-icon svgIcon="account-tie-voice"></mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="['table-action']"></tr>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-header-row *matHeaderRowDef="filterColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
<div *ngIf="noData | async" class="no-records" [ngClass]="{ hide: isLoading }">
  {{ 'NOT RECORD FOUND' | translate }}
</div>
<div [ngClass]="{ hide: noData | async }">
  <mat-paginator
    [ngClass]="{ 'hide-pagination-buttons': dataCount <= 10 }"
    [length]="dataCount"
    [hidePageSize]="true"
    [pageSize]="[10]"
    showFirstLastButtons
  ></mat-paginator>
</div>
