<div class="center-card mrgn-btn50 mrgn-t1 flex-layout-row-wrap" *ngIf="scholarSeason && scholarSeason.length">
  <div *ngFor="let data of scholarSeason">
    <!-- [ngClass]="{
        'rncp-title-tile': data?.is_published,
        'rncp-title-tile-not-published': !data?.is_published
      }" -->
    <mat-card class="rncp-title-tile card-dashboard">
      <mat-card-content
        ngClass="first content-dashboard"
        [ngClass.md]="{ first: false, second: true }"
        [ngClass.sm]="{ first: false, second: true }"
        [ngClass.xs]="{ second: false, third: true }"
        (click)="goToScholarSeason(data)"
      >
        <h5 class="little-title only-2-line" style="-webkit-box-orient: vertical !important">
          <b
            class="test"
            [style.font-size.px]="getFontSize(data.scholar_season)"
            matTooltip="{{ data.scholar_season }}"
            matTooltipPosition="above"
          >
            {{ data.scholar_season | slice: 0:11 }}
          </b>
        </h5>
        <div class="detail-content">
          <div class="divider-line-container">
            <mat-divider></mat-divider>
          </div>

          <div
            matTooltip="{{ data.description }}"
            class="season"
            style="
              -webkit-box-orient: vertical !important;
              display: -webkit-box !important;
              -webkit-line-clamp: 2 !important;
              overflow: hidden;
              height: auto !important;
            "
          >
            {{ data.description }}
          </div>

          <div class="date-season">
            <div class="p-grid" style="max-height: 28px">
              <div class="p-col-4">
                {{ 'From' | translate }}
              </div>
              <div class="p-col-8">: {{ data.local_start }}</div>
            </div>
            <div class="p-grid" style="max-height: 28px">
              <div class="p-col-4">
                {{ 'To' | translate }}
              </div>
              <div class="p-col-8">: {{ data.local_end }}</div>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
