@import '~assets/scss/theme/admtc.variables';
@import '~assets/scss/theme/admtc';

mat-slide-toggle,
button,
mat-radio-button {
  font-size: 0.87rem;
}

:host::ng-deep.mat-radio-outer-circle {
  border-color: rgba(0, 0, 0, 0.54) !important;
}
:host::ng-deep.mat-form-field-underline {
  background-color: rgba(0, 0, 0, 0.12) !important;
}
:host::ng-deep.mat-form-field-outline-thick {
  height: 40px !important;
}
:host::ng-deep.mat-form-field-outline {
  height: 40px !important;
}
.urgent-title {
  padding: 0px;
}
.closeIcon {
  float: right !important;
  text-align: right;
  width: 74px;
}
.urgentIcon {
  font-size: 18px;
  padding-top: 1px;
}
.pad-top-8 {
  padding-bottom: 8px;
}

.w-65 {
  float: right;
  position: relative;
  right: -40px;
}

// mat-input error outline color placeholder
:host::ng-deep.mat-form-field-invalid .mat-input-element::placeholder {
  color: #f44336 !important;
}
