<div class="dialog-border" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
    <div class="dialogTitleWrapper">
      <div class="p-grid">
        <div class="p-col-10 no-padding">
          <h3 class="dialogTitle">{{ 'Edit Program Desired' | translate }}</h3>
        </div>
        <div class="w-65 no-padding">
          <button mat-icon-button class="close-icon float-right" (click)="closeDialog()" tabindex="-1">
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
  
  <div mat-dialog-content class="mat-dialog-content dialog-body" style="overflow: hidden !important">
    <div [formGroup]="addProgramDesired">
      <div class="p-grid" style="margin-bottom: 0.5em">
        <div class="p-col-12 pad-y-none" style="align-self: center">
          <mat-form-field class="full-wid">
            <input matInput formControlName="program_desired" placeholder="{{ 'Program Desired' | translate }}" required>
            <mat-error *ngIf="addProgramDesired.get('program_desired').hasError('required')">{{
              'This field is required' | translate
            }}</mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
  
  <div mat-dialog-actions class="justify-content-end mr-10">
    <button mat-button mat-raised-button color="warn" (click)="closeDialog()">{{ 'CANCEL' | translate }}</button>
    <button mat-button mat-raised-button color="primary" class="mr-0" (click)="submit()">
      {{ 'Submit' | translate }}
    </button>
  </div>
  <div *ngIf="isWaitingForResponse" class="loading-indicator">
    <mat-progress-spinner mode="indeterminate" color="accent"></mat-progress-spinner>
  </div>
  