.dialogTitle {
  display: inline-block;
}
.dialogTitleWrapper {
  color: black;
}
.dialog-border {
  border-bottom: 1px solid black;
}
.no-padding {
  padding: 0px;
}
.float-right {
  float: right;
}
.mt-15 {
  margin-top: 15px;
}
.mr-0 {
  margin-right: 0px;
}
.mr-10 {
  margin-right: 10px;
}
.mat-dialog-content {
  margin-right: 0px;
  margin-left: 0px;
  margin-top: 15px;
  padding: 0px;
}
.w-30 {
  width: 30px;
}
.w-100 {
  width: 100px;
}
.mt-5px {
  margin-top: 5px;
}

.m-left-10 {
  margin-left: 10px;
}

.m-right-10 {
  margin-right: 10px;
}

:host::ng-deep.ng-select .ng-select-container {
  background-color: #fff0;
  border: none;
  border-radius: 0px !important;
  border-bottom: 1px solid #8c8c8c !important;
  min-height: 36px;
  -webkit-box-align: center;
  align-items: center;
}
:host::ng-deep.mat-select-arrow-wrapper {
  padding-right: 5px;
}
:host::ng-deep.mat-select-value-text {
  margin-left: 10px;
  font-size: 13px;
}
:host::ng-deep.ng-select .ng-select-container .ng-value-container .ng-input > input {
  color: black;
  box-sizing: content-box;
  background: none;
  border: 0;
  box-shadow: none;
  outline: 0;
  cursor: default;
  width: 100%;
}

:host::ng-deep.ng-select.ng-invalid.ng-touched .ng-select-container {
  border-bottom: 1px solid #f44336 !important;
}

.mrgn-btn {
  margin-bottom: 20px;
}

.p-col-3{
  display: inherit;
}

.toggle{
  margin-left: 25px;
}

.mat-icon {
  max-width: none !important;
  max-height: none !important;
}