<div class="container" [formGroup]="formCompanyDetail">
  <mat-card>
    <fieldset
      [disabled]="dataEntity?.online_payment_status === 'verification_in_progress' || dataEntity?.online_payment_status === 'publish'"
      style="border: none; padding: 0"
    >
      <div class="p-grid">
        <div class="p-col-10">
          <mat-form-field floatLabel="auto">
            <input matInput formControlName="legal_entities" type="text" placeholder="{{ 'Legal Entities' | translate }}" />
            <mat-error *ngIf="formCompanyDetail.get('legal_entities').errors">{{ 'This field is required' | translate }}</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="p-grid" *ngIf="formCompanyDetail?.get('legal_business_name')?.value">
        <div class="p-col-10">
          <mat-form-field floatLabel="auto">
            <input
              matInput
              readonly
              formControlName="legal_business_name"
              type="text"
              placeholder="{{ 'Legal Entities Based on Siret' | translate }}"
            />
          </mat-form-field>
        </div>
      </div>
      <div class="p-grid">
        <div class="p-col-4">
          <div>
            <mat-radio-group
              class="black-color"
              formControlName="type"
              [disabled]="dataEntity?.online_payment_status === 'verification_in_progress' || dataEntity?.online_payment_status === 'publish'"
            >
              <span
                class="m-right-10"
                [ngStyle]="{
                  color:
                    dataEntity?.online_payment_status === 'verification_in_progress' || dataEntity?.online_payment_status === 'publish'
                      ? 'rgba(255, 255, 255, 0.5)'
                      : ''
                }"
                >{{ 'Type' | translate }} *</span
              >
              <mat-radio-button class="radio-marging-left m-right-10" value="Business">{{ 'Business' | translate }}</mat-radio-button>
              <mat-radio-button class="radio-marging-left m-right-10" value="NonProfit">{{ 'Non Profit' | translate }}</mat-radio-button>
            </mat-radio-group>
          </div>
          <div>
            <mat-error 
            *ngIf="formCompanyDetail.get('type').hasError('required') 
                  && (formCompanyDetail.get('type').touched || formCompanyDetail.get('type').dirty)"
            > {{ 'This field is required' | translate }}</mat-error>
          </div>
        </div>
      </div>
      <div class="p-grid">
        <div class="p-col-5">
          <mat-form-field floatLabel="auto">
            <input matInput type="number" placeholder="{{ 'Siret' | translate }}" (wheel)="onWheel($event)" formControlName="siret" />
            <mat-error *ngIf="formCompanyDetail.get('siret').errors">{{ 'This field is required' | translate }}</mat-error>
          </mat-form-field>
        </div>
        <div class="p-col-5">
          <mat-form-field floatLabel="auto">
            <input matInput type="text" placeholder="{{ 'Immatriculation' | translate }}" formControlName="immatriculation" />
            <mat-error *ngIf="formCompanyDetail.get('immatriculation').errors">{{ 'This field is required' | translate }}</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="p-grid">
        <div class="p-col-3">
          <mat-form-field floatLabel="auto">
            <input matInput type="text" placeholder="{{ 'E-mail' | translate }}" formControlName="email" />
            <mat-error>
              <p
                *ngIf="
                  formCompanyDetail.get('email').hasError('email') &&
                  (formCompanyDetail.get('email').touched || formCompanyDetail.get('email').dirty)
                "
              >
                {{ 'Invalid email format' | translate }}
              </p>
            </mat-error>
            <mat-error *ngIf="formCompanyDetail.get('email').hasError('required')">{{ 'This field is required' | translate }}</mat-error>
          </mat-form-field>
        </div>
        <div class="p-col-1">
          <mat-form-field floatLabel="auto">
            <input
              matInput
              placeholder="{{ 'Dial Code' | translate }} *"
              class="form-field"
              formControlName="dial_code"
              [matAutocomplete]="autoDial"
            />
            <mat-autocomplete #autoDial="matAutocomplete" [panelWidth]="'fit'">
              <mat-option *ngFor="let option of filteredRefDialCode | async" [value]="option.dial_code" matTooltip="{{ option.dial_code }}">
                {{ option.dial_code }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
        <div class="p-col-2">
          <mat-form-field floatLabel="auto">
            <input
              matInput
              (wheel)="onWheel($event)"
              type="number"
              placeholder="{{ 'Phone Number' | translate }}"
              formControlName="phone_number"
              (keypress)="validationPhoneNumber($event)"
            />
            <mat-error *ngIf="formCompanyDetail.get('phone_number').hasError('required')">{{
              'This field is required' | translate
            }}</mat-error>
          </mat-form-field>
        </div>
        <div class="p-col-4">
          <mat-form-field floatLabel="auto">
            <input matInput type="text" placeholder="{{ 'Official Website' | translate }}" formControlName="official_website" />
            <mat-error *ngIf="formCompanyDetail.get('official_website').hasError('required')">{{
              'This field is required' | translate
            }}</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="p-grid">
        <div class="p-col-10">
          <mat-form-field floatLabel="auto">
            <mat-label>{{ 'Street' | translate }}</mat-label>
            <textarea matInput formControlName="street"></textarea>
            <mat-error *ngIf="formCompanyDetail.get('street').hasError('required')">{{ 'This field is required' | translate }}</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="p-grid">
        <div class="p-col-2">
          <mat-form-field floatLabel="auto">
            <input matInput type="text" placeholder="{{ 'Number' | translate }}" formControlName="number" />
            <mat-error *ngIf="formCompanyDetail.get('number').hasError('required')">{{ 'This field is required' | translate }}</mat-error>
          </mat-form-field>
        </div>
        <div class="p-col-4">
          <mat-form-field floatLabel="auto">
            <input
              matInput
              type="text"
              placeholder="{{ 'Post Code' | translate }}"
              formControlName="postal_code"
              (keyup)="getPostcodeData()"
              maxlength="5"
              pattern="^[0-9]+$"
            />
            <mat-error *ngIf="formCompanyDetail.get('postal_code').hasError('required')">{{
              'This field is required' | translate
            }}</mat-error>
          </mat-form-field>
        </div>
        <div class="p-col-4 custom-select mrgn-btn">
          <ng-select
            style="padding-top: 3px"
            [items]="listCountry"
            bindLabel="country"
            bindValue="country_code"
            [multiple]="false"
            placeholder="{{ 'Country' | translate }}*"
            formControlName="country"
            (change)="getPostcodeData()"
            class="custom-ng-select"
          >
          </ng-select>
          <p
            *ngIf="formCompanyDetail.get('country').hasError('required') && formCompanyDetail.get('country').touched"
            style="color: #f44336; font-size: 75%; margin: 0"
          >
            {{ 'This field is required' | translate }}
          </p>
        </div>
      </div>
      <div class="p-grid">
        <div class="p-col-3">
          <mat-form-field floatLabel="auto">
            <input matInput type="text" placeholder="{{ 'City' | translate }}" formControlName="city" />
            <mat-error *ngIf="formCompanyDetail.get('city').hasError('required')">{{ 'This field is required' | translate }}</mat-error>
          </mat-form-field>
        </div>
        <div class="p-col-3">
          <mat-form-field floatLabel="auto">
            <input matInput type="text" placeholder="{{ 'Department' | translate }}" formControlName="department" />
            <mat-error *ngIf="formCompanyDetail.get('department').hasError('required')">{{
              'This field is required' | translate
            }}</mat-error>
          </mat-form-field>
        </div>
        <div class="p-col-4">
          <mat-form-field floatLabel="auto">
            <input matInput type="text" placeholder="{{ 'Region' | translate }}" formControlName="region_name" />
            <mat-error *ngIf="formCompanyDetail.get('region_name').hasError('required')">{{
              'This field is required' | translate
            }}</mat-error>
          </mat-form-field>
        </div>
      </div>
    </fieldset>
  </mat-card>
  <div class="text-right" style="margin-top: 10px; margin-bottom: 40px">
    <ng-container
      *ngIf="dataEntity?.online_payment_status !== 'verification_in_progress' && dataEntity?.online_payment_status !== 'publish'"
    >
      <button (click)="onCancel()" mat-raised-button color="warn">
        {{ 'Cancel' | translate }}
      </button>
      <button mat-raised-button color="accent" (click)="getDataCompanyBySiret()">
        {{ 'CARDDETAIL.SAVE_CONTINUE' | translate }}
      </button>
    </ng-container>
    <ng-container
      *ngIf="dataEntity?.online_payment_status === 'verification_in_progress' || dataEntity?.online_payment_status === 'publish'"
    >
      <button (click)="onCancel()" mat-raised-button color="primary">
        {{ 'Cancel' | translate }}
      </button>
    </ng-container>
  </div>
</div>
<div *ngIf="isWaitingForResponse" class="loading-indicator">
  <mat-progress-spinner mode="indeterminate" color="accent"></mat-progress-spinner>
</div>
