.container {
  .m-right-10 {
    margin-right: 10px;
  }
  .custom-select {
    ::ng-deep.ng-select .ng-select-container {
      background-color: #fff0;
      border: none;
      border-radius: 0px !important;
      border-bottom: 1px solid rgba(255, 255, 255, 0.7) !important;
      min-height: 36px;
      -webkit-box-align: center;
      align-items: center;
      color: white !important;
    }
    ::ng-deep.mat-select-arrow-wrapper {
      padding-right: 5px;
    }
    ::ng-deep.mat-select-value-text {
      margin-left: 10px;
      font-size: 13px;
    }
    ::ng-deep ng-dropdown-panel {
      z-index: 99999999999;
    }
    ::ng-deep.ng-select .ng-select-container .ng-value-container .ng-input > input {
      color: white !important;
      box-sizing: content-box;
      background: none;
      border: 0;
      box-shadow: none;
      outline: 0;
      cursor: default;
      width: 100%;
    }
    ::ng-deep.ng-select .ng-select-container .ng-value-container {
      padding-left: 0px !important;
    }
    ::ng-deep.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input {
      padding-left: 0px !important;
    }
    ::ng-deep.ng-select.ng-select-disabled > .ng-select-container {
      color: rgba(255, 255, 255, 0.5) !important;
    }

    ::ng-deep.ng-select.ng-invalid.ng-touched .ng-select-container {
      border-bottom: 1px solid #f44336 !important;
    }
    ::ng-deep.ng-select.ng-invalid.ng-touched .ng-select-container .ng-placeholder{
      color:#f44336 !important;
    }
  }

  ::ng-deep.mat-form-field.ng-invalid.ng-touched .mat-form-field-wrapper label{
    color: #f44336 !important;
  }
  
}

::ng-deep.ng-dropdown-panel-items .ng-option {
    white-space: break-spaces !important;
}