<ng-container>
  <mat-card>
    <div class="student-detail p-grid" *ngIf="user">
      <div class="right-border p-col-5 no-padding">
        <div class="p-grid" style="align-items: flex-start">
          <div class="student-photo icon p-col-fixed">
            <img
              [src]="
                user.profile_picture
                  ? serverimgPath + user.profile_picture
                  : user.civility === 'MR'
                  ? maleCandidateIcon
                  : user?.civility === 'neutral'
                  ? neutralStudentIcon
                  : femaleCandidateIcon
              "
              style="cursor: pointer; object-fit: cover"
              class="candidate-photo"
            />
          </div>
          <div class="p-col">
            <div class="p-grid">
              <div class="p-col-12 no-padding">
                <div class="p-grid">
                  <div class="identity p-col-7">
                    {{ user?.civility && user?.civility === 'neutral' ? '' : (user?.civility | translate) }}
                    {{ user?.first_name }} {{ user?.last_name | uppercase }}
                  </div>
                </div>
              </div>
              <div class="p-col-12 no-padding">
                <div class="p-grid">
                  <div class="name p-col-7">
                    {{ user?.position }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div [ngClass]="{ 'p-col-4': true, 'no-padding': true, 'right-border': !!user?.curriculum_vitae?.s3_path }">
        <div class="p-grid contact-information">
          <div *ngIf="user?.office_phone" class="phone p-col-12">
            <mat-icon>business</mat-icon> <span>{{ user?.office_phone }} </span>
          </div>
          <div *ngIf="user?.portable_phone" class="phone p-col-12">
            <mat-icon>phone_iphone</mat-icon> <span>{{ user?.phone_number_indicative ? '+' + user?.phone_number_indicative : '' }}{{ user?.portable_phone }}</span>
          </div>
          <div *ngIf="user?.email" class="school-email p-col-12">
            <mat-icon>email</mat-icon> <span>{{ user?.email }} </span>
          </div>
        </div>
      </div>
      <div *ngIf="user?.curriculum_vitae?.s3_path" class="third-section p-col-3">
        <div class="p-grid">
          <div (click)="downloadCV()" class="download-cv p-col-12">
            <mat-icon>file_download </mat-icon>
            <span class="label"> {{ 'Download CV' | translate }}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="actions p-grid" style="text-align: center">
      <button
      *ngIf="!isTeacherList"
        mat-icon-button
        class="margin-right-button"
        matTooltip="{{ 'Connect as the User' | translate }}"
        (click)="connectAsUser(user)"
      >
        <mat-icon class="material-icons icon" style="font-size: 18px" svgIcon="incognito"></mat-icon>
      </button>
      <button mat-icon-button class="margin-right-button" matTooltip="{{ 'Send an email' | translate }}" (click)="sendMail(user)">
        <mat-icon class="material-icons icon" style="font-size: 18px"> send </mat-icon>
      </button>
      <button mat-icon-button class="margin-right-button" matTooltip="{{ 'SMS' | translate }}" (click)="openWhatsapp(user)">
        <mat-icon class="material-icons icon" style="font-size: 18px"> sms </mat-icon>
      </button>
      <button mat-icon-button class="margin-right-button" matTooltip="{{ 'Call' | translate }}" (click)="callCandidates(user)">
        <mat-icon class="material-icons icon" style="font-size: 18px"> call </mat-icon>
      </button>
      <button mat-icon-button class="margin-right-button" matTooltip="{{ 'Urgent Message' | translate }}" (click)="sendUrgentMail(user)">
        <mat-icon class="material-icons icon"> bolt </mat-icon>
      </button>
      <button
        mat-icon-button
        class="margin-right-button"
        matTooltip="{{ 'Send Registration Email' | translate }}"
        (click)="sendReminderRegistration(user)"
      >
        <mat-icon class="material-icons icon" style="font-size: 18px" svgIcon="email-send-outline"></mat-icon>
      </button>
    </div>
  </mat-card>
  <ng-container>
    <ms-user-details-parent-tabs [selectedUserData]="selectedUserData" [userId]="userId" [isTeacherList]="isTeacherList" [tab]="tab"></ms-user-details-parent-tabs>
  </ng-container>
</ng-container>

<div *ngIf="isWaitingForResponse" class="loading-indicator">
  <mat-progress-spinner mode="indeterminate" color="accent"></mat-progress-spinner>
</div>
