<div class="header-div" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
    <h3 class="header-text">
        {{ 'VISA_DOCUMENT_DIALOG.TITLE' | translate }}
    </h3>
    <button mat-icon-button type="button" class="header-icon" (click)="closeDialog()" tabindex="-1">
      <mat-icon>close</mat-icon>
    </button>
</div>
<hr/>
<div class="header-border">
    <mat-dialog-content>
        <p>{{'VISA_DOCUMENT_DIALOG.TEXT' | translate}}</p>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-raised-button color="warn" type="button" (click)="closeDialog()">
            {{ 'Cancel' | translate }}
        </button>
        <button mat-raised-button color="primary" type="button" (click)="onValidate()">
            {{ 'Validate' | translate }}
        </button>
    </mat-dialog-actions>
</div>
<div *ngIf="isWaitingForResponse" class="inner-loading-indicator">
    <mat-spinner color="accent" [diameter]="100"></mat-spinner>
  </div>
