@import '~assets/scss/theme/admtc.variables';
@import '~assets/scss/theme/admtc';

.container {
  margin-top: 15px;
  border: 2px solid $dark-yellow;

  .header {
    margin: 15px;
  }

  .card-payment {
    height: 190px;
    width: 170px;
    padding: 10px;
    margin: 15px;
    background-color: #00817d !important;
  }
  .card-height {
    border: 1px solid #eeeeee;
    height: 215px;
  }

  .mobile-radio {
    display: flex !important;
    justify-content: center;
    left: 0 !important;
  }

  .radio-position-mobile {
    left: 5px;
    position: relative;
  }

  .text-payments {
    text-align: center;
    color: white;
    font-weight: 700;
    padding: 10px;
    padding-top: 0px !important;
  }
}
