@import '~assets/scss/theme/admtc.variables';
@import '~assets/scss/theme/admtc';

:host ::ng-deep .mat-tab-label {
  min-width: 150px !important;
  //padding: 30px !important;
  background-color: black !important;
  font-size: 15px;
  opacity: 1 !important;
  color: white !important;
  font-weight: 900 !important;
  margin-right: 8px;
}

// :host ::ng-deep .mat-tab-label:first-child {
//   background-color: #fdd835 !important;
//   color: black !important;
//   border: 1px solid #fdd835 !important;
//   font-weight: 800 !important;
// }

/* active tab */
:host ::ng-deep .mat-tab-list .mat-tab-labels {
  // border: 1px solid black !important;
  // background-color: black !important;
  color: #ffe77a !important;
}

:host ::ng-deep .mat-tab-label-active {
  border: 1px solid #607d8b !important;
  background-color: #607d8b !important;
  color: #ffe77a !important;
}
/* disabled tab */
:host ::ng-deep .mat-tab-label.mat-tab-disabled,
.mat-tab-link.mat-tab-disabled {
  border: 1px solid black !important;
  background-color: black !important;
  color: #a2a2a2 !important;
}

/* ink bar */
:host ::ng-deep .mat-ink-bar {
  background-color: unset !important;
  //color: #ffe77a;
}

.mat-tab-header {
  font-weight: 400;
  color: inherit;
  margin-top: 1.2em;
  align-items: center !important;
}

:host::ng-deep .mat-tab-body-content {
  overflow: hidden !important;
}

.card-background {
  background: #607d8b;
  padding: 0.5em;
  min-height: 250px;
}
