<div class="dialog-border" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
  <div class="dialogTitleWrapper header-dialog">
    <div class="p-grid">
      <div class="p-col-10 no-padding">
        <h3 class="dialogTitle">{{ 'Select Scholar Season' | translate }}</h3>
      </div>
      <div class="w-95 no-padding">
        <button mat-icon-button class="close-icon float-right" mat-dialog-close tabindex="-1">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="p-grid" [formGroup]="scholarForm">
  <div class="p-col-12">
    {{ 'Please select scholar season that you want to export' | translate }}
  </div>
  <div class="p-col-12">
    <div class="custom-ng-select no-padding">
      <label
        class="label"
        [ngClass]="{
          'red':
            scholarForm.get('scholar_season').hasError('required') &&
            (scholarForm.get('scholar_season').touched || scholarForm.get('scholar_season').dirty)
        }"
        *ngIf="!scholarForm.get('scholar_season').value"
      >
        {{ 'Select Scholar Season' | translate }}*
      </label>
      <ng-select
        class="mrgn-btn custom-ngselect-contentspace"
        [items]="scholarList"
        bindLabel="scholar_season"
        bindValue="_id"
        [appendTo]="'body'"
        placeholder="{{ 'Select Scholar Season' | translate }} *"
        formControlName="scholar_season"
        [clearable]="false"
      >
      </ng-select>
      <span
        *ngIf="
          scholarForm.get('scholar_season').hasError('required') &&
          (scholarForm.get('scholar_season').touched || scholarForm.get('scholar_season').dirty)
        "
        class="error-msg"
      >
        {{ 'This field is required' | translate }}
      </span>
    </div>
  </div>
</div>
<div mat-dialog-actions class="justify-content-end mr-10">
  <button mat-raised-button type="button" color="warn" mat-dialog-close>{{ 'CANCEL' | translate }}</button>
  <button mat-raised-button color="primary" class="mr-0" (click)="onValidate()">
    {{ 'Validate' | translate }}
  </button>
</div>

<div *ngIf="isWaitingForResponse" class="loading-indicator">
  <mat-spinner color="accent" [diameter]="100"></mat-spinner>
</div>
