.header-div {
  padding: 20px 15px 10px;
  .dialog-header-icon {
    font-size: 25px;
    margin: 3px 0 0;
  }
}

.mat-dialog-content {
  margin: 0 !important;
  padding: 1rem !important;
  overflow: hidden;
  max-width: 940px;
}