  :host::ng-deep.header-text {
    margin-left: 8px;
  }

  :host::ng-deep.mat-radio-button {
    margin-top: 8px;
  }
  
  .header-form {
    padding: 16px;
    color: black;
  }

  :host::ng-deep.ng-select .ng-select-container {
    background-color: #fff0;
    border: none;
    border-radius: 0px !important;
    border-bottom: 1px solid #8c8c8c !important;
    min-height: 36px;
    -webkit-box-align: center;
    align-items: center;
  }

  :host::ng-deep.ng-select .ng-select-container .ng-value-container {
    padding-left: 4px !important;
  }

  :host::ng-deep.ng-select .ng-select-container.ng-has-value {
    max-width: unset !important;
  }

  :host::ng-deep.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input {
    padding-left: 4px !important;
  }
  
  .footer-form {
    padding: 0px 18px 18px 18px;
  }

  .no-margin {
    margin: 0px !important;
  }

  .no-padding {
    padding: 0px !important;
  }

  .no-padding-y {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }

  .no-padding-b {
    padding-bottom: 0px !important;
  }

  .no-padding-t {
    padding-top: 0px !important;
  }
  
  .float-left {
    float: left;
  }

  :host::ng-deep.mat-radio-outer-circle {
    border-color: rgba(0, 0, 0, 0.54) !important;
  }

  :host::ng-deep.mat-form-field-underline {
    background-color: rgba(0, 0, 0, 0.12) !important;
  }

  :host::ng-deep.mat-radio-checked .mat-radio-outer-circle {
    border-color: #ffd740 !important;
  }
  
  :host ::ng-deep{
    .mat-dialog-content{    
      margin: 0px !important;
      padding: 0px !important;
      min-height: 140px;
    }

    .mat-dialog-actions{    
      min-height: unset;
    }
  }

  .invalid-field {
    color: red;
    font-size: 14px;
    padding-top: 8px;
    padding-left: 4px;
  }
  