<ms-filter-breadcrumb [filterBreadcrumbData]="filterBreadcrumbData" (removeFilterTrigger)="removeFilterBreadcrumb($event)"></ms-filter-breadcrumb>

<div class="container">
  <div class="top-space">
    <table
      mat-table
      matSort
      (matSortChange)="sortData($event)"
      [dataSource]="dataSource"
      class="mat-elevation-z8"
      data-cy="table-timeline-template"
    >
      <!-- ROW RESET START -->
      <ng-container matColumnDef="reset">
        <th mat-header-cell *matHeaderCellDef colspan="100%" class="action-header-column text-right" data-cy="table-col-reset">
          <div class="p-grid">
            <div class="p-col-12 text-right">
              <button
                matTooltip="{{ 'Action' | translate }} "
                mat-raised-button
                color="accent"
                [matMenuTriggerFor]="action"
                data-cy="button-action-menu"
              >
                {{ 'Action' | translate }}
                <mat-icon>expand_more</mat-icon>
              </button>
              <mat-menu #action="matMenu" class="action-dropdown-button-above-table">
                <button
                  mat-menu-item
                  matTooltip="{{ 'Add Template' | translate }}"
                  aria-hidden="true"
                  (click)="openDialogAdd('add')"
                  *ngIf="permission.createTimelineTemplate()"
                  data-cy="button-add-template"
                >
                  <!-- <mat-icon class="mat-icon-svgIcon icon-svgIcon-menu" svgIcon="plus">plus</mat-icon> -->
                  {{ 'Add Template' | translate }}
                </button>
              </mat-menu>
              <button
                mat-raised-button
                color="primary"
                matTooltip="{{ 'Reset Filter' | translate }}"
                (click)="resetFilter()"
                data-cy="button-reset"
              >
                <mat-icon svgIcon="loop" class="mat-icon-svgIcon"></mat-icon>
                {{ 'RESET' | translate }}
              </button>
            </div>
          </div>
        </th>
      </ng-container>
      <!-- ROW RESET END -->
      <!---ROW FILTER START-->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef class="text-center" data-cy="table-col-selection">
          <mat-checkbox
            (change)="$event ? masterToggle() : null"
            [checked]="(selection.hasValue() && isAllSelected()) || isCheckedAll"
            [indeterminate]="selection.hasValue() && !isAllSelected()"
            [aria-label]="checkboxLabel()"
          >
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row" class="text-center" data-cy="table-col-selection">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="$event ? selection.toggle(row._id) : null"
            [checked]="selection.isSelected(row._id)"
            [aria-label]="checkboxLabel(row)"
          >
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="selectFilter">
        <th mat-header-cell *matHeaderCellDef></th>
      </ng-container>

      <ng-container matColumnDef="templateNameFilter">
        <th mat-header-cell *matHeaderCellDef>
          <mat-form-field>
            <input
              matInput
              class="form-field"
              [formControl]="templateNameFilterCtrl"
              [matAutocomplete]="templateNameAuto"
              placeholder="{{ 'search' | translate }}"
              data-cy="table-filter-template-name"
            />
            <mat-autocomplete #templateNameAuto="matAutocomplete" [panelWidth]="'fit'">
              <mat-option value="" (click)="templateNameSelected('AllS')" data-cy="table-filter-template-name-option">{{
                'AllM' | translate
              }}</mat-option>
              <mat-option
                *ngFor="let template of templateNameFiltered | async"
                [value]="template"
                matTooltip="{{ template }}"
                (click)="templateNameSelected(template)"
                data-cy="table-filter-template-name-option"
              >
                {{ template }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </th>
      </ng-container>

      <ng-container matColumnDef="descriptionFilter">
        <th mat-header-cell *matHeaderCellDef></th>
      </ng-container>

      <ng-container matColumnDef="termsFilter">
        <th mat-header-cell *matHeaderCellDef></th>
      </ng-container>

      <ng-container matColumnDef="percentageFilter">
        <th mat-header-cell *matHeaderCellDef></th>
      </ng-container>

      <ng-container matColumnDef="actionFilter">
        <th mat-header-cell *matHeaderCellDef></th>
      </ng-container>

      <ng-container matColumnDef="template_name">
        <th
          mat-header-cell
          mat-sort-header
          *matHeaderCellDef
          matTooltip="{{ 'Template Name' | translate }}"
          matTooltipPosition="above"
          data-cy="table-col-template-name"
        >
          <h5 style="text-align: center !important">
            {{ 'Template Name' | translate }}
          </h5>
        </th>
        <td mat-cell *matCellDef="let element" class="pad-l-xs" [matTooltip]="element?.template_name" data-cy="table-col-template-name">
          {{ element?.template_name }}
        </td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th
          mat-header-cell
          *matHeaderCellDef
          matTooltip="{{ 'Description' | translate }}"
          matTooltipPosition="above"
          data-cy="table-col-description"
        >
          <h5 style="text-align: center !important">
            {{ 'Description' | translate }}
          </h5>
        </th>
        <td mat-cell *matCellDef="let element" class="pad-l-xs" [matTooltip]="element?.description" data-cy="table-col-description">
          {{ element?.description }}
        </td>
      </ng-container>

      <ng-container matColumnDef="terms">
        <th mat-header-cell *matHeaderCellDef matTooltip="{{ 'Terms' | translate }}" matTooltipPosition="above" data-cy="table-col-terms">
          <h5 style="text-align: center !important">
            {{ 'Terms' | translate }}
          </h5>
        </th>
        <td mat-cell *matCellDef="let element" class="pad-l-xs" [matTooltip]="element?.terms" data-cy="table-col-terms">
          {{ element?.terms }}
        </td>
      </ng-container>

      <ng-container matColumnDef="percentage">
        <th
          mat-header-cell
          *matHeaderCellDef
          matTooltip="{{ 'Percentage by terms' | translate }}"
          matTooltipPosition="above"
          data-cy="table-col-precentage"
        >
          <h5 style="text-align: center !important">
            {{ 'Percentage by terms' | translate }}
          </h5>
        </th>
        <!-- <td mat-cell *matCellDef="let element" class="pad-l-xs" [matTooltip]="element?.percentage">
          {{ element?.percentage }}
        </td> -->
        <!-- [matTooltip]="renderTooltipEntity(element?.payment_date)"  -->
        <td
          mat-cell
          *matCellDef="let element"
          [matTooltip]="renderTooltipEntity(element?.percentage_by_term)"
          data-cy="table-col-precentage"
        >
          <ng-container *ngFor="let el of element?.percentage_by_term; let in = index">
            <span
              >{{ el?.percentage }}%
              {{
                element?.percentage_by_term && element?.percentage_by_term.length && element?.percentage_by_term.length - 1 !== in
                  ? ' / '
                  : ''
              }}
            </span>
          </ng-container>
        </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef matTooltip="{{ 'Action' | translate }}" matTooltipPosition="above" data-cy="table-col-action">
          <h5>
            {{ 'Action' | translate }}
          </h5>
        </th>
        <td mat-cell *matCellDef="let element" class="pad-l-xs" data-cy="table-col-action">
          <button
            mat-icon-button
            class="margin-right-button"
            matTooltip="{{ 'Edit' | translate }}"
            (click)="openDialogAdd('edit', element)"
            *ngIf="permission.editTimelineTemplate()"
            data-cy="table-action-edit"
          >
            <mat-icon svgIcon="pencil"> </mat-icon>
          </button>
          <button
            mat-icon-button
            class="margin-right-button"
            matTooltip="{{ 'Delete' | translate }}"
            (click)="deleteTemplate(element)"
            *ngIf="permission.deleteTimelineTemplate()"
            data-cy="table-action-delete"
          >
            <mat-icon> delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="loading">
        <th mat-header-cell *matHeaderCellDef colspan="100%" style="text-align: center !important" data-cy="table-spinner">
          <div class="center-spinner">
            <mat-spinner color="accent"></mat-spinner>
          </div>
        </th>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="['reset']"></tr>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-header-row *matHeaderRowDef="filterColumns"></tr>
      <tr mat-header-row *matHeaderRowDef="['loading']" [hidden]="!isLoading"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns" [hidden]="isLoading"></tr>
    </table>
    <div *ngIf="noData | async" class="no-records" [ngClass]="{ hide: isLoading }" data-cy="no-data">
      {{ 'NOT RECORD FOUND' | translate }}
    </div>
    <div [ngClass]="{ hide: noData | async }">
      <mat-paginator
        [ngClass]="{ 'hide-pagination-buttons': dataCount <= 10 }"
        [length]="dataCount"
        [hidePageSize]="true"
        [pageSize]="[10]"
        showFirstLastButtons
        data-cy="mat-paginator"
      ></mat-paginator>
    </div>
  </div>
</div>
