.dialogTitle {
  display: inline-block;
}
.dialogTitleWrapper {
  color: rgb(0, 0, 0);
}
.dialog-border {
  border-bottom: 1px solid rgb(0, 0, 0);
}
.no-padding {
  padding: 0px;
}
.float-right {
  float: right;
}
.mt-15 {
  margin-top: 15px;
}
.mr-0 {
  margin-right: 0px;
}
.mr-10 {
  margin-right: 10px;
}
.header-dialog {
  padding: 0 5px 0 15px;
}
.mat-dialog-content {
  margin-right: 0px;
  margin-left: 0px;
  margin-top: 15px;
  // padding: 0;
  padding: 0 10px;
}
.w-30 {
  width: 30px;
}
.w-65 {
  width: 65px;
}
.mt-5px {
  margin-top: 5px;
}

:host::ng-deep.ckeditor {
  margin-top: 21px;
  max-width: 100%;
  min-width: 100%;
  .ck-content {
    min-height: 10rem !important;
    background: white !important;
    color: #000 !important;
  }
  .ck-editor__editable_inline {
    border: 1px solid #b8b8b8;
  }
}
.align-self{
  align-self: center;
}
:host::ng-deep textarea.mat-input-element {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
:host::ng-deep.mat-form-field.mat-form-field-invalid .mat-form-field-ripple{
  background-color: #f44336 !important;
}