<div class="responsives">
  <div class="row padl-13 hd-legend web-card">
    <label>{{ 'Intern Detail' | translate }}</label>
  </div>
  <div class="card web-card">
    <div *ngIf="internshipData" class="card-body card-segment detail-intership">
      <div class="row back-card">
        <div class="candidate-detail" fxLayout="row wrap">
          <div class="candidate-profile" fxFlex="15">
            <img
              [src]="
                internshipData?.student_id?.is_photo_in_s3
                  ? serverimgPath + internshipData?.student_id?.photo_s3_path
                  : internshipData?.student_id?.photo
                  ? serverimgPath + internshipData?.student_id?.photo
                  : internshipData?.student_id?.civility === 'MR'
                  ? maleStudentIcon
                  : internshipData?.student_id?.civility === 'neutral'
                  ? neutralStudentIcon
                  : femaleStudentIcon
              "
              class="candidate-photo"
            />
          </div>
          <div class="candidate-information" fxFlex="85" fxLayout="row wrap">
            <div class="first-row" fxFlex="100" fxLayout="row" fxLayoutAlign="start end">
              <div class="name" fxFlex="25">
                <span class="label" style="margin-left: 0px !important"
                  >{{ internshipData?.student_id?.last_name | uppercase }} {{ internshipData?.student_id?.first_name }}
                  {{
                    internshipData?.student_id?.civility && internshipData?.student_id?.civility === 'neutral'
                      ? ''
                      : (internshipData?.student_id?.civility | translate)
                  }}
                </span>
              </div>
              <div class="name" fxFlex="25">
                <span class="label">
                  {{ 'Gender' | translate }} : {{ internshipData?.student_id?.sex ? internshipData?.student_id?.sex : '-' }}</span
                >
              </div>
              <!-- <div class="program" fxFlex="25" fxLayout="row">
              <span class="icon">
                <mat-icon
                  [matTooltip]="internshipData?.student_id?.status | translate"
                  class="mat-icon-status"
                  [ngClass]="{
                    red: internshipData?.student_id?.status === 'delete',
                    orange: internshipData?.student_id?.status === 'pending',
                    green: internshipData?.student_id?.status === 'active'
                  }"
                  style="font-size: 2rem; margin-top: 3px"
                  aria-hidden="true"
                  >lens
                </mat-icon>
              </span>
              <span *ngIf="internshipData?.student_id?.candidate_id?.intake_channel" class="tag yellow">{{
                internshipData?.student_id?.candidate_id?.intake_channel
              }}</span>
            </div> -->
            </div>
            <!-- <div class="second-row" fxFlex="100" fxLayout="row" fxLayoutAlign="start start">
            <div class="" fxLayout="row" style="padding-left: 6px">
              <span class="icon"><mat-icon class="primary-icon icons-style">perm_contact_calendar</mat-icon></span>
              <span class="label">
                {{ internshipData?.student_id?.date_of_birth ? internshipData?.student_id?.date_of_birth : '-' }}
              </span>
            </div>
            <div class="" fxLayout="row">
              <span class="icon"><mat-icon class="primary-icon icons-style">place</mat-icon></span>
              <span class="label">

              </span>
            </div>
          </div> -->
            <!-- <div class="third-row" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center"> -->
            <!-- <div class="" fxLayout="row" style="padding-left: 6px">
              <span class="icon"><mat-icon class="primary-icon icons-style">call</mat-icon></span>
              <span class="label"> {{ internshipData?.student_id?.tele_phone ? internshipData?.student_id?.tele_phone : '-' }} </span>
            </div>
            <div class="" fxLayout="row">
              <span class="icon"><mat-icon class="primary-icon icons-style">mail</mat-icon></span>
              <span class="label"> {{ internshipData?.student_id?.email ? internshipData?.student_id?.email : '-' }} </span>
            </div> -->
            <!-- <div class="" fxLayout="row">
              <span class="icon">
                <img
                  matPrefix
                  [src]="internshipData?.mentor_id?.civility === 'MR' ? maleStudentIcon : femaleStudentIcon"
                  class="devMemberImage"
                  style="border-radius: 50%; width: 25px"
                />
              </span>
              <span class="label"
                >{{ internshipData?.mentor_id?.last_name }} {{ internshipData?.mentor_id?.first_name }}
                {{ internshipData?.mentor_id?.civility | translate }}</span
              >
            </div>
            <div class="" fxLayout="row">
              <span class="icon">
                <img
                  matPrefix
                  [src]="internshipData?.company_relation_member_id?.civility === 'MR' ? maleStudentIcon : femaleStudentIcon"
                  class="devMemberImage"
                  style="border-radius: 50%; width: 25px"
                />
              </span>
              <span class="label"
                >{{ internshipData?.company_relation_member_id?.last_name }} {{ internshipData?.company_relation_member_id?.first_name }}
                {{ internshipData?.company_relation_member_id?.civility | translate }}</span
              >
            </div> -->
            <!-- </div> -->
            <div class="p-col-12 no-padding" style="margin: 0px">
              <div class="p-grid">
                <div class="p-col-fixed no-padding" style="min-width: 130px">
                  <div class="p-grid">
                    <div class="p-col-2 no-padding">
                      <span class="icon"><mat-icon class="primary-icon icons-style">perm_contact_calendar</mat-icon></span>
                    </div>
                    <div class="p-col-fixed" style="padding: 0px 0 0 5px">
                      <p class="title">{{ internshipData?.student_id?.date_of_birth ? internshipData?.student_id?.date_of_birth : '-' }}</p>
                    </div>
                  </div>
                </div>
                <div class="p-col no-padding">
                  <div class="p-grid">
                    <div class="p-col-1 no-padding" style="width: 24px">
                      <span class="icon"><mat-icon class="primary-icon icons-style">place</mat-icon></span>
                    </div>
                    <div class="p-col-fixed" style="padding: 0px 0 0 5px">
                      <p class="title">
                        {{
                          internshipData?.student_id?.student_address &&
                          internshipData?.student_id?.student_address.length &&
                          internshipData?.student_id?.student_address[0].address
                            ? internshipData?.student_id?.student_address[0].address +
                              ', ' +
                              internshipData?.student_id?.student_address[0].postal_code +
                              ' ' +
                              internshipData?.student_id?.student_address[0].city
                            : '-'
                        }}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="p-col-12 no-padding" style="margin: 0px">
              <div class="p-grid">
                <div class="p-col-fixed no-padding" style="min-width: 130px">
                  <div class="p-grid">
                    <div class="p-col-2 no-padding">
                      <span class="icon"><mat-icon class="primary-icon icons-style">call</mat-icon></span>
                    </div>
                    <div class="p-col-fixed" style="padding: 0px 0 0 5px">
                      <p class="title">{{ internshipData?.student_id?.tele_phone ? internshipData?.student_id?.tele_phone : '-' }}</p>
                    </div>
                  </div>
                </div>
                <div class="p-col no-padding">
                  <div class="p-grid">
                    <div class="p-col-1 no-padding" style="width: 24px">
                      <span class="icon"><mat-icon class="primary-icon icons-style">mail</mat-icon></span>
                    </div>
                    <div class="p-col-fixed" style="padding: 0px 0 0 5px">
                      <p class="title">{{ internshipData?.student_id?.email ? internshipData?.student_id?.email : '-' }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="p-col-12 no-padding" style="margin: 0px">
              <div class="p-grid">
                <div class="p-col" style="padding: 0px 0 0 2px">
                  <p class="title">
                    {{ 'TITLE OF INTERNSHIP OR TRAINING COURSE TAKEN AT THE INSTITUTION OF HIGHER EDUCATION' | translate }} : -
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row padl-13 hd-legend mobile-card">
    <label>{{ 'Intern Detail' | translate }}</label>
  </div>
  <div class="card mobile-card">
    <div *ngIf="internshipData" style="min-height: 400px !important" class="card-body card-segment detail-intership">
      <div class="row back-card">
        <div class="candidate-detail" fxLayout="row wrap">
          <div class="candidate-profile" fxFlex="100" style="text-align: center; margin-bottom: 25px">
            <img
              [src]="
                internshipData?.student_id?.is_photo_in_s3
                  ? serverimgPath + internshipData?.student_id?.photo_s3_path
                  : internshipData?.student_id?.photo
                  ? serverimgPath + internshipData?.student_id?.photo
                  : internshipData?.student_id?.civility === 'MR'
                  ? maleStudentIcon
                  : internshipData?.student_id?.civility === 'neutral'
                  ? neutralStudentIcon
                  : femaleStudentIcon
              "
              class="candidate-photo"
            />
          </div>
          <div class="candidate-information" fxFlex="100" fxLayout="row wrap" style="padding: 0px 0px">
            <div class="first-row" fxFlex="100" fxLayout="row" fxLayoutAlign="start end" style="text-align: center">
              <div class="info" style="text-align: center">
                <span class="label"
                  >{{ internshipData?.student_id?.last_name | uppercase }} {{ internshipData?.student_id?.first_name }}
                  {{
                    internshipData?.student_id?.civility && internshipData?.student_id?.civility === 'neutral'
                      ? ''
                      : (internshipData?.student_id?.civility | translate)
                  }}
                </span>
              </div>
            </div>
            <!-- <div class="third-row" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center"> -->
            <div class="p-grid">
              <!-- <div class="" fxLayout="row" style="width: 100%"> -->
              <div class="p-col-12" style="padding: 0; margin-bottom: 4px">
                <div class="p-grid">
                  <div class="p-col-1 no-padding">
                    <span class="icon"><mat-icon class="primary-icon icons-style">perm_contact_calendar</mat-icon></span>
                  </div>
                  <div class="p-col" style="padding: 0px 0 0 5px">
                    <p class="title">
                      {{ internshipData?.student_id?.date_of_birth ? internshipData?.student_id?.date_of_birth : '-' }}
                    </p>
                  </div>
                </div>
              </div>
              <!-- <div class="" fxLayout="row" style="width: 100%"> -->
              <div class="p-col-12 no-padding">
                <div class="p-grid">
                  <div class="p-col-1 no-padding">
                    <span class="icon"><mat-icon class="primary-icon icons-style">place</mat-icon></span>
                  </div>
                  <div class="p-col" style="padding: 0px 0 0 5px">
                    <p class="title">
                      {{
                        internshipData?.student_id?.student_address &&
                        internshipData?.student_id?.student_address.length &&
                        internshipData?.student_id?.student_address[0].address
                          ? internshipData?.student_id?.student_address[0].address +
                            ', ' +
                            internshipData?.student_id?.student_address[0].postal_code +
                            ' ' +
                            internshipData?.student_id?.student_address[0].city
                          : '-'
                      }}
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="third-row" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center"> -->
            <div class="p-grid">
              <!-- <div class="" fxLayout="row" style="width: 100%"> -->
              <div class="p-col-12" style="padding: 0; margin-bottom: 4px">
                <div class="p-grid">
                  <div class="p-col-1 no-padding">
                    <span class="icon"><mat-icon class="primary-icon icons-style">call</mat-icon></span>
                  </div>
                  <div class="p-col" style="padding: 0px 0 0 0px">
                    <p class="title">{{ internshipData?.student_id?.tele_phone ? internshipData?.student_id?.tele_phone : '-' }}</p>
                  </div>
                </div>
              </div>
              <!-- <div class="" fxLayout="row" style="width: 100%"> -->
              <div class="p-col-12 no-padding">
                <div class="p-grid">
                  <div class="p-col-1 no-padding">
                    <span class="icon"><mat-icon class="primary-icon icons-style">mail</mat-icon></span>
                  </div>
                  <div class="p-col" style="padding: 0px 0 0 0px">
                    <p class="title">{{ internshipData?.student_id?.email ? internshipData?.student_id?.email : '-' }}</p>
                  </div>
                </div>
              </div>
              <div class="p-col-12 no-padding">
                <div class="p-grid">
                  <div class="p-col" style="padding: 0px 0 0 5px">
                    <p class="title">
                      {{ 'Gender' | translate }} : {{ internshipData?.student_id?.sex ? internshipData?.student_id?.sex : '-' }}
                    </p>
                  </div>
                </div>
              </div>
              <div class="p-col-12 no-padding">
                <div class="p-grid">
                  <div class="p-col" style="padding: 0px 0 0 5px">
                    <p class="title">
                      {{ 'TITLE OF INTERNSHIP OR TRAINING COURSE TAKEN AT THE INSTITUTION OF HIGHER EDUCATION' | translate }} : -
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="btn-conditions web-card">
    <button
      *ngIf="!isUserMentor && !isUserMember"
      color="accent"
      style="margin: 5px 10px 0px 10px"
      class="btn-first"
      mat-raised-button
      [disabled]="!internshipData"
      (click)="editIdentity()"
      matTooltip="{{ 'I want to correct some data' | translate }} "
    >
      <i class="fa fa-pencil" aria-hidden="true"></i>
      {{ 'I want to correct some data' | translate }}
    </button>
    <button
      color="accent"
      *ngIf="!isUserMentor && !isUserMember"
      mat-raised-button
      [disabled]="!internshipData || disabledValidate"
      (click)="identityUpdated()"
      matTooltip="{{ 'I confirm my data' | translate }} "
      class="btn-first"
      style="margin: 10px"
    >
      <mat-icon class="mat-icon-default">save</mat-icon>
      {{ 'I confirm my data' | translate }}
    </button>
    <button
      color="accent"
      *ngIf="isUserMentor || isUserMember"
      mat-raised-button
      (click)="continueStep()"
      matTooltip="{{ 'Next' | translate }} "
      class="btn-first"
      style="margin: 10px"
    >
      {{ 'Next' | translate }}
    </button>
  </div>
  <div class="mobile-card">
    <button
      *ngIf="!isUserMentor && !isUserMember"
      color="accent"
      style="margin: 10px 0px 10px 0px"
      class="btn-first"
      mat-raised-button
      [disabled]="!internshipData"
      (click)="editIdentity()"
      matTooltip="{{ 'I want to correct some data' | translate }} "
    >
      <i class="fa fa-pencil" aria-hidden="true"></i>
      {{ 'I want to correct some data' | translate }}
    </button>
    <button
      color="accent"
      *ngIf="!isUserMentor && !isUserMember"
      mat-raised-button
      [disabled]="!internshipData || disabledValidate"
      (click)="identityUpdated()"
      matTooltip="{{ 'I confirm my data' | translate }} "
      class="btn-first"
      style="margin: 10px 0px 10px 0px"
    >
      <mat-icon class="mat-icon-default">save</mat-icon>
      {{ 'I confirm my data' | translate }}
    </button>
    <button
      color="accent"
      *ngIf="isUserMentor || isUserMember"
      mat-raised-button
      (click)="continueStep()"
      matTooltip="{{ 'Next' | translate }} "
      class="btn-first"
      style="margin: 10px 0px 10px 0px"
    >
      {{ 'Next' | translate }}
    </button>
  </div>
</div>
<div *ngIf="isWaitingForResponse" class="loading-indicator">
  <mat-progress-spinner mode="indeterminate" color="accent"></mat-progress-spinner>
</div>
