<ms-filter-breadcrumb [filterBreadcrumbData]="filterBreadcrumbData"  (removeFilterTrigger)="removeFilterBreadcrumb($event)"></ms-filter-breadcrumb>
<div class="p-grid p-justify-end search-title-row">
  <div class="p-col content-end">
    <div class="search-field">
      <mat-form-field class="full-width">
        <input matInput placeholder="{{ 'Search by name' | translate }}" [formControl]="searchForm" />
      </mat-form-field>
    </div>
    <div class="search-btn">
      <button mat-raised-button color="primary" matTooltip="{{ 'Reset Filter' | translate }}" (click)="resetSearch()">
        {{ 'Reset' | translate }}
      </button>
    </div>
    <div class="search-btn">
      <button mat-raised-button color="accent" (click)="addCampus()">{{ 'Add campus' | translate }}</button>
    </div>
  </div>
</div>

<div>
  <mat-tab-group animationDuration="500ms" [(selectedIndex)]="tabIndex" (selectedTabChange)="filterBlackCard($event.tab.textLabel)">
    <mat-tab label="{{ 'All' | translate }}">
      <ng-template matTabContent>
        <div class="center-card mrgn-btn50 mrgn-t1 flex-layout-row-wrap">
          <div *ngFor="let data of listCampusCards">
            <mat-card class="rncp-title-tile card-dashboard">
              <mat-card-content
                ngClass="first content-dashboard"
                [ngClass.md]="{ first: false, second: true }"
                [ngClass.sm]="{ first: false, second: true }"
                [ngClass.xs]="{ second: false, third: true }"
                (click)="goToCampus(data)"
              >
                <h5 class="little-title only-2-line" style="-webkit-box-orient: vertical !important">
                  <b class="test" [style.font-size.px]="getFontSize(data.name)" matTooltip="{{ data.name }}" matTooltipPosition="above">
                    {{ data.name | slice: 0:11 }}
                  </b>
                </h5>
                <div class="detail-content">
                  <div class="divider-line-container">
                    <mat-divider></mat-divider>
                  </div>

                  <div
                    matTooltip=""
                    class="season"
                    style="
                      -webkit-box-orient: vertical !important;
                      display: -webkit-box !important;
                      -webkit-line-clamp: 2 !important;
                      overflow: hidden;
                      height: auto !important;
                    "
                  >
                    {{ data.site_name }}
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </ng-template>
    </mat-tab>
    <ng-container *ngFor="let data of listBlackCampus">
      <mat-tab label="{{ data?.name | uppercase }}">
        <ng-template matTabContent>
          <div class="center-card mrgn-btn50 mrgn-t1 flex-layout-row-wrap">
            <div *ngFor="let data of listCampusCards">
              <mat-card class="rncp-title-tile card-dashboard">
                <mat-card-content
                  ngClass="first content-dashboard"
                  [ngClass.md]="{ first: false, second: true }"
                  [ngClass.sm]="{ first: false, second: true }"
                  [ngClass.xs]="{ second: false, third: true }"
                  (click)="goToCampus(data)"
                >
                  <h5 class="little-title only-2-line" style="-webkit-box-orient: vertical !important">
                    <b class="test" [style.font-size.px]="getFontSize(data.name)" matTooltip="{{ data.name }}" matTooltipPosition="above">
                      {{ data.name | slice: 0:11 }}
                    </b>
                  </h5>
                  <div class="detail-content">
                    <div class="divider-line-container">
                      <mat-divider></mat-divider>
                    </div>

                    <div
                      matTooltip=""
                      class="season"
                      style="
                        -webkit-box-orient: vertical !important;
                        display: -webkit-box !important;
                        -webkit-line-clamp: 2 !important;
                        overflow: hidden;
                        height: auto !important;
                      "
                    >
                      <!-- 111 North Bridge Road #08-19, Peninsula Plaza, Singapore,179098 -->
                      {{ data.site_name }}
                    </div>
                  </div>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
        </ng-template>
      </mat-tab>
    </ng-container>
  </mat-tab-group>
</div>

<div *ngIf="isWaitingForResponse" class="loading-indicator">
  <mat-progress-spinner mode="indeterminate" color="accent"></mat-progress-spinner>
</div>
