@import '~assets/scss/theme/admtc.variables';
@import '~assets/scss/theme/admtc';

section {
    .parameter-section {
        div {
            margin-bottom: 0.6rem;

            .p-col-8 {
                display: flex;
                justify-content: flex-end;

                .mat-slide-toggle {
                    margin-right: 1rem;
                    margin-left: 10px;
                    margin-top: 5px;
                }

                #toggle-label {
                  margin-top: 5px;
                }
            }
        }
      .form-section {
        margin-top: 2rem;
      }
      .card-row {
        margin-bottom: 8px !important;
        padding: 8px;
        width: 100%;
      }
    }

    .table-section {

        .top-space {
            margin-top: 4rem;
        }

    }
}

.pad-y {
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}
.pad-btm {
  padding-bottom: 0;
  margin-bottom: 0;
}


:host::ng-deep.ng-select .ng-select-container {
    background-color: #fff0;
    color: #fff;
    border: none;
    border-radius: 0px !important;
    border-bottom: 1px solid rgb(241, 241, 241) !important;
    min-height: 36px;
    -webkit-box-align: center;
    align-items: center;
  }
  :host::ng-deep.mat-select-arrow-wrapper {
    padding-right: 5px;
  }
  :host::ng-deep.mat-select-value-text {
    margin-left: 10px;
    font-size: 13px;
  }
  :host::ng-deep.ng-select {
    margin-bottom: 16px;
    padding-top: 3px;
  }
  :host::ng-deep.ng-select .ng-select-container .ng-value-container .ng-input > input {
    color: white;
    box-sizing: content-box;
    background: none;
    border: 0;
    box-shadow: none;
    outline: 0;
    cursor: default;
    padding-left: 0px !important;
    width: 100%;
  }
  :host::ng-deep.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input {
    padding-left: 0px !important;
  }
  :host::ng-deep.ng-select .ng-select-container .ng-value-container {
    padding-left: 0px !important;
  }
  :host::ng-deep.ng-select.ng-select-single .ng-select-container .ng-value-container,
  .ng-select.ng-select-single .ng-select-container .ng-value-container .ng-value {
    font-size: 14px !important;
  }
  .ng-select-custom-header {
    cursor: pointer;
  }
  :host::ng-deep.ng-select .ng-dropdown-panel {
    text-align: left !important;
    font-size: 15px !important;
  }
