<!-- Card Intern Detail -->
<div class="row padl-13 hd-legend web-card">
  <label>{{ 'Intern Detail' | translate }}</label>
</div>
<div class="card web-card">
  <div class="card-body card-segment detail-intership">
    <div class="row back-card">
      <div class="candidate-detail" fxLayout="row wrap">
        <div class="candidate-profile" fxFlex="15">
          <img [src]="photos" class="candidate-photo" />
        </div>
        <div class="candidate-information" fxFlex="85" fxLayout="row wrap">
          <div class="first-row" fxFlex="100" fxLayout="row" fxLayoutAlign="start end">
            <div class="name" fxFlex="25">
              <span class="label">MICHEL Aymardine {{ 'MRS' | translate }}</span>
            </div>
            <div class="program" fxFlex="25" fxLayout="row">
              <span class="icon">
                <mat-icon
                  [matTooltip]="'medium' | translate"
                  class="mat-icon-status orange"
                  style="font-size: 2rem; margin-top: 3px"
                  aria-hidden="true"
                  >lens
                </mat-icon>
              </span>
              <span class="tag yellow">21-22 EFALYO 2</span>
            </div>
          </div>
          <div class="second-row" fxFlex="100" fxLayout="row" fxLayoutAlign="start start">
            <div class="" fxLayout="row">
              <span class="icon"><mat-icon class="primary-icon icons-style">perm_contact_calendar</mat-icon></span>
              <span class="label"> 28/12/1998 a Fontainbleau </span>
            </div>
            <div class="" fxLayout="row">
              <span class="icon"><mat-icon class="primary-icon icons-style">place</mat-icon></span>
              <span class="label"> Nanterre </span>
            </div>
            <div class="" fxLayout="row">
              <span class="icon"><mat-icon class="primary-icon icons-style">school</mat-icon></span>
              <span class="label"> BAC S 1ere Anne de Medecine </span>
            </div>
          </div>
          <div class="third-row" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center">
            <div class="" fxLayout="row">
              <span class="icon"><mat-icon class="primary-icon icons-style">call</mat-icon></span>
              <span class="label"> +6285737304396 </span>
            </div>
            <div class="" fxLayout="row">
              <span class="icon"><mat-icon class="primary-icon icons-style">mail</mat-icon></span>
              <span class="label"> aymardine5@yopmail.com </span>
            </div>
            <div class="" fxLayout="row">
              <span class="icon">
                <img matPrefix [src]="maleStudentIcon" class="devMemberImage" style="border-radius: 50%; width: 25px" />
              </span>
              <span class="label">ANDRE Orabelle {{ 'MR' | translate }}</span>
            </div>
            <div class="" fxLayout="row">
              <span class="icon">
                <img matPrefix [src]="maleStudentIcon" class="devMemberImage" style="border-radius: 50%; width: 25px" />
              </span>
              <span class="label"> JACKSON Michael {{ 'MR' | translate }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Card School Detail -->
<div class="row padl-13 hd-legend web-card">
  <label>{{ 'School Detail' | translate }}</label>
</div>
<div class="card web-card">
  <div class="card-body card-segment detail-intership">
    <div class="row back-card">
      <div class="candidate-detail" fxLayout="row wrap">
        <div class="candidate-profile" fxFlex="15">
          <img [src]="schoolImage" class="candidate-photo" />
        </div>
        <div class="candidate-information" fxFlex="85" fxLayout="row wrap">
          <div class="first-row" fxFlex="100" fxLayout="row" fxLayoutAlign="start end">
            <div class="name" fxFlex="40">
              <span class="label" style="margin: 0px !important">EFAP</span>
            </div>
          </div>
          <div class="second-row" fxFlex="100" fxLayout="row" fxLayoutAlign="start start">
            <div class="" fxLayout="row">
              <span class="icon"><mat-icon class="primary-icon icons-style">perm_contact_calendar</mat-icon></span>
              <span class="label"> 28/12/1998 a Fontainbleau </span>
            </div>
            <div class="" fxLayout="row">
              <span class="icon"><mat-icon class="primary-icon icons-style">place</mat-icon></span>
              <span class="label"> Nanterre </span>
            </div>
            <div class="" fxLayout="row">
              <span class="icon"><mat-icon class="primary-icon icons-style">school</mat-icon></span>
              <span class="label"> GE1 </span>
            </div>
          </div>
          <div class="third-row" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center">
            <div class="" fxLayout="row">
              <span class="icon">
                <img matPrefix [src]="maleStudentIcon" class="devMemberImage" style="border-radius: 50%; width: 25px" />
              </span>
              <span class="label">ANDRE Orabelle {{ 'MR' | translate }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Card School User Detail -->
<div class="row padl-13 hd-legend web-card">
  <label>{{ 'School Mentor' | translate }}</label>
</div>
<div class="card web-card">
  <div class="card-body card-segment detail-intership">
    <div class="row back-card">
      <div class="candidate-detail" fxLayout="row wrap">
        <div class="candidate-profile" fxFlex="15">
          <img [src]="serverimgPath + 'Velazquez.jpg'" class="candidate-photo" />
        </div>
        <div class="candidate-information" fxFlex="85" fxLayout="row wrap">
          <div class="first-row" fxFlex="100" fxLayout="row" fxLayoutAlign="start end">
            <div class="name" fxFlex="25">
              <span class="label">ANDRE Orabelle {{ 'MR' | translate }}</span>
            </div>
            <div class="program" fxFlex="10" fxLayout="row">
              <span class="icon">
                <mat-icon
                  [matTooltip]="'medium' | translate"
                  class="mat-icon-status orange"
                  style="font-size: 2rem; margin-top: 3px"
                  aria-hidden="true"
                  >lens
                </mat-icon>
              </span>
              <span class="tag yellow">EFAP</span>
            </div>
          </div>
          <div class="second-row" fxFlex="100" fxLayout="row" fxLayoutAlign="start start">
            <div class="" fxLayout="row">
              <span class="icon"><mat-icon class="primary-icon icons-style">perm_contact_calendar</mat-icon></span>
              <span class="label"> 28/12/1998 a Fontainbleau </span>
            </div>
            <div class="" fxLayout="row">
              <span class="icon"><mat-icon class="primary-icon icons-style">place</mat-icon></span>
              <span class="label"> Nanterre </span>
            </div>
            <div class="" fxLayout="row">
              <span class="icon"><mat-icon class="primary-icon icons-style">school</mat-icon></span>
              <span class="label"> BAC S 1ere Anne de Medecine </span>
            </div>
          </div>
          <div class="third-row" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center">
            <div class="" fxLayout="row">
              <span class="icon"><mat-icon class="primary-icon icons-style">call</mat-icon></span>
              <span class="label"> +6285737304396 </span>
            </div>
            <div class="" fxLayout="row">
              <span class="icon"><mat-icon class="primary-icon icons-style">mail</mat-icon></span>
              <span class="label"> orabelle.andre@yopmail.com </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Card Company Detail -->
<div class="row padl-13 hd-legend web-card">
  <label>{{ 'Company Detail' | translate }}</label>
</div>
<div class="card web-card">
  <div class="card-body card-segment detail-intership">
    <div class="row back-card">
      <div class="candidate-detail" fxLayout="row wrap">
        <div class="candidate-profile" fxFlex="15">
          <img [src]="companyImage" class="candidate-photo" />
        </div>
        <div class="candidate-information" fxFlex="85" fxLayout="row wrap">
          <div class="first-row" fxFlex="100" fxLayout="row" fxLayoutAlign="start end">
            <div class="name" fxFlex="25">
              <span class="label" style="margin: 0px !important">Google</span>
            </div>
            <div class="program" fxFlex="25" fxLayout="row">
              <span class="icon">
                <mat-icon
                  [matTooltip]="'medium' | translate"
                  class="mat-icon-status green"
                  style="font-size: 2rem; margin-top: 3px"
                  aria-hidden="true"
                  >lens
                </mat-icon>
              </span>
              <span class="tag yellow">Customer Service</span>
            </div>
          </div>
          <div class="second-row" fxFlex="100" fxLayout="row" fxLayoutAlign="start start">
            <div class="" fxLayout="row">
              <span class="icon"><mat-icon class="primary-icon icons-style">perm_contact_calendar</mat-icon></span>
              <span class="label"> 28/12/2018 - 28/12/2019 </span>
            </div>
            <div class="" fxLayout="row">
              <span class="icon"><mat-icon class="primary-icon icons-style">place</mat-icon></span>
              <span class="label"> Germany </span>
            </div>
            <div class="" fxLayout="row">
              <span class="icon"><mat-icon class="primary-icon icons-style">school</mat-icon></span>
              <span class="label"> EFAP </span>
            </div>
          </div>
          <div class="third-row" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center">
            <div class="" fxLayout="row">
              <span class="icon">
                <img matPrefix [src]="maleStudentIcon" class="devMemberImage" style="border-radius: 50%; width: 25px" />
              </span>
              <span class="label">ANDRE Orabelle {{ 'MR' | translate }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Card Company Mentor -->
<div class="row padl-13 hd-legend web-card">
  <label>{{ 'Company Mentor' | translate }}</label>
</div>
<div class="card web-card">
  <div class="card-body card-segment detail-intership">
    <div class="row back-card">
      <div class="candidate-detail" fxLayout="row wrap">
        <div class="candidate-profile" fxFlex="15">
          <img [src]="serverimgPath + 'imansyah.jpg'" class="candidate-photo" />
        </div>
        <div class="candidate-information" fxFlex="85" fxLayout="row wrap">
          <div class="first-row" fxFlex="100" fxLayout="row" fxLayoutAlign="start end">
            <div class="name" fxFlex="25">
              <span class="infos">JACKSON Michael {{ 'MR' | translate }}</span>
            </div>
            <div class="program" fxFlex="10" fxLayout="row">
              <span class="icon">
                <mat-icon
                  [matTooltip]="'medium' | translate"
                  class="mat-icon-status orange"
                  style="font-size: 2rem; margin-top: 3px"
                  aria-hidden="true"
                  >lens
                </mat-icon>
              </span>
              <span class="tag yellow">Google</span>
            </div>
          </div>
          <div class="second-row" fxFlex="100" fxLayout="row" fxLayoutAlign="start start">
            <div class="" fxLayout="row">
              <span class="icon"><mat-icon class="primary-icon icons-style">perm_contact_calendar</mat-icon></span>
              <span class="label"> 28/12/1998 a Fontainbleau </span>
            </div>
            <div class="" fxLayout="row">
              <span class="icon"><mat-icon class="primary-icon icons-style">place</mat-icon></span>
              <span class="label"> Nanterre </span>
            </div>
            <div class="" fxLayout="row">
              <span class="icon"><mat-icon class="primary-icon icons-style">school</mat-icon></span>
              <span class="label"> BAC S 1ere Anne de Medecine </span>
            </div>
          </div>
          <div class="third-row" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center">
            <div class="" fxLayout="row">
              <span class="icon"><mat-icon class="primary-icon icons-style">call</mat-icon></span>
              <span class="label"> +6285737304396 </span>
            </div>
            <div class="" fxLayout="row">
              <span class="icon"><mat-icon class="primary-icon icons-style">mail</mat-icon></span>
              <span class="label"> michael.jackson@yopmail.com </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Card Internship Detail -->
<div class="row padl-13 hd-legend web-card">
  <label>{{ 'Internship Detail' | translate }}</label>
</div>
<div class="col-lg-12 card-web" style="padding-top: 28px; padding: 0px; margin-bottom: 25px">
  <div class="card detail-total">
    <div class="card-body detail-body">
      <div class="row">
        <div class="col-lg-5">
          <div class="col-lg-3">{{ 'Profile' | translate }}</div>
          <div class="col-lg-9">: {{ 'Bussiness Development (Sales)' | translate }}</div>
        </div>
        <div class="col-lg-4">
          <div class="col-lg-6">{{ 'Location' | translate }}</div>
          <div class="col-lg-6">: France</div>
        </div>
        <div class="col-lg-3">
          <div class="col-lg-6">{{ 'Presence' | translate }}</div>
          <div class="col-lg-6">: {{ 'remote' | translate }}</div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-5">
          <div class="col-lg-3">{{ 'Period' | translate }}</div>
          <div class="col-lg-9">
            : 10 Feb 2020 - 27 Feb 2021
          </div>
        </div>
        <div class="col-lg-4">
          <div class="col-lg-6">{{ 'Skill' | translate }}</div>
          <div class="col-lg-6">: {{ 'Coding' }}</div>
        </div>
        <div class="col-lg-3">
          <div class="col-lg-6">{{ 'Level' | translate }}</div>
          <div class="col-lg-6">: {{ 'Cycle' | translate }} 1</div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-5">
          <div class="col-lg-3">{{ 'Title' | translate }}</div>
          <div class="col-lg-9">: {{ 'This is Title' | translate }}</div>
        </div>
        <div class="col-lg-4">
          <div class="col-lg-6">{{ 'Number Opening' | translate }}</div>
          <div class="col-lg-6">: 01</div>
        </div>
        <div class="col-lg-3"></div>
      </div>
      <div class="row">
        <div class="col-lg-5">
          <div class="col-lg-3">{{ 'Stipend' | translate }}</div>
          <div class="col-lg-9">: -</div>
        </div>
        <div class="col-lg-4"></div>
        <div class="col-lg-3"></div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="col-lg-3" style="width: 11.6% !important">{{ 'Description' | translate }}</div>
          <div class="col-lg-1" style="padding: 0px; width: 4px">:</div>
          <div class="col-lg-10" style="text-align: justify; padding-left: 5px" [innerHTML]="descriptionText"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="row" style="padding-top: 10px; margin-top: 20px !important; border-top: 2px solid #cdc8c8">
    <div *ngIf="uploadCV && uploadCV.length" class="col-lg-12">
      <div class="col-lg-12">{{ 'JOB_DESCRIPTION' | translate }}</div>
      <div class="col-lg-12">
        <div class="list-img" *ngIf="uploadCV && uploadCV.length">
          <div class="thumbnail-img" *ngFor="let img of uploadCV; let in = index">
            <img
              (click)="openImage(img)"
              [matTooltip]="img"
              [src]="pdfIcon"
              class="thumb rounded pull-left img-thumbnail"
              alt="{{ img }}"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Card Context Detail -->
<div class="row padl-13 hd-legend web-card">
  <label>{{ 'List of Information' | translate }}</label>
</div>
<div class="col-lg-12 card-web" style="padding-top: 28px; padding: 0px">
  <div class="card-body card-segment detail-intership">
    <div class="row back-card">
      <div class="candidate-detail" fxLayout="row wrap">
        <div class="col-lg-12" *ngIf="questionList && questionList.length" style="margin-top: 10px; color: white">
          <div class="col-lg-12">{{ 'List of Information' | translate }} :</div>
          <div class="col-lg-12">
            <div class="list-question">
              <div class="question-list" *ngFor="let img of questionList; let in = index">
                <label>{{ 'Information' | translate }} {{ in + 1 }} </label> : {{ titleList[in] }} - {{ img }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Card Conditions Detail -->
<div class="row padl-13 hd-legend web-card">
  <label>{{ 'Conditions' | translate }}</label>
</div>
<div class="col-lg-12 card-web" style="padding-top: 28px; padding: 0px">
  <div class="card-body card-segment detail-intership">
    <div class="row back-card">
      <div class="candidate-detail" fxLayout="row wrap" style="color: white">
        <div class="col-lg-12">
          <div class="row" style="margin-top: 10px">
            <div class="col-lg-12">
              <div class="col-lg-12">{{ 'Signature' | translate }}</div>
            </div>
            <div class="col-lg-12">
              <div class="col-lg-2">&#10004; {{ 'Sign (Student)' | translate }}</div>
              <div class="col-lg-2">&#10004; {{ 'Sign (BR)' | translate }}</div>
              <div class="col-lg-2">&#10004; {{ 'Sign (HR)' | translate }}</div>
              <div class="col-lg-3">&#10799; {{ 'Sign (School mentor)' | translate }}</div>
              <div class="col-lg-3">&#10799; {{ 'Sign (Company mentor)' | translate }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ------------- Mobile ------------ -->

<!-- Card Intern Detail -->
<div class="row padl-13 hd-legend mobile-card">
  <label>{{ 'Intern Detail' | translate }}</label>
</div>
<div class="card mobile-card">
  <div class="card-body card-segment detail-intership">
    <div class="row back-card">
      <div class="candidate-detail" fxLayout="row wrap">
        <div class="candidate-profile" fxFlex="100" style="text-align: center; margin-bottom: 25px">
          <img [src]="photos" class="candidate-photo" />
        </div>
        <div class="candidate-information" fxFlex="100" fxLayout="row wrap" style="padding: 0px 50px">
          <div class="first-row" fxFlex="100" fxLayout="row" fxLayoutAlign="start end" style="text-align: center">
            <div class="info" style="text-align: center">
              <span class="label">MICHEL Aymardine {{ 'MRS' | translate }}</span>
              <span class="infos">21-22 EFALYO 2</span>
            </div>
          </div>
          <div class="third-row" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center">
            <div class="" fxLayout="row" style="width: 100%">
              <span class="icon"><mat-icon class="primary-icon icons-style">perm_contact_calendar</mat-icon></span>
              <span class="label"> 28/12/1998 a Fontainbleau </span>
            </div>
            <div class="" fxLayout="row" style="width: 100%">
              <span class="icon"><mat-icon class="primary-icon icons-style">place</mat-icon></span>
              <span class="label"> Nanterre </span>
            </div>
            <div class="" fxLayout="row" style="width: 100%">
              <span class="icon"><mat-icon class="primary-icon icons-style">school</mat-icon></span>
              <span class="label"> BAC S 1ere Anne de Medecine </span>
            </div>
          </div>
          <div class="third-row" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center">
            <div class="" fxLayout="row" style="width: 100%">
              <span class="icon"><mat-icon class="primary-icon icons-style">call</mat-icon></span>
              <span class="label"> +6285737304396 </span>
            </div>
            <div class="" fxLayout="row" style="width: 100%">
              <span class="icon"><mat-icon class="primary-icon icons-style">mail</mat-icon></span>
              <span class="label"> aymardine5@yopmail.com </span>
            </div>
            <div class="" fxLayout="row" style="width: 100%">
              <span class="icon">
                <img matPrefix [src]="maleStudentIcon" class="devMemberImage" style="border-radius: 50%; width: 25px" />
              </span>
              <span class="label">ANDRE Orabelle {{ 'MR' | translate }}</span>
            </div>
            <div class="" fxLayout="row" style="width: 100%">
              <span class="icon">
                <img matPrefix [src]="maleStudentIcon" class="devMemberImage" style="border-radius: 50%; width: 25px" />
              </span>
              <span class="infos">JACKSON Michael {{ 'MR' | translate }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Card School Detail -->
<div class="row padl-13 hd-legend mobile-card">
  <label>{{ 'School Detail' | translate }}</label>
</div>
<div class="card mobile-card">
  <div class="card-body card-segment detail-intership">
    <div class="row back-card">
      <div class="candidate-detail" fxLayout="row wrap">
        <div class="candidate-profile" fxFlex="100" style="text-align: center; margin-bottom: 25px">
          <img [src]="schoolImage" class="candidate-photo" />
        </div>
        <div class="candidate-information" fxFlex="100" fxLayout="row wrap" style="padding: 0px 50px">
          <div class="first-row" fxFlex="100" fxLayout="row" fxLayoutAlign="start end" style="text-align: center">
            <div class="info" style="text-align: center">
              <span class="infos">EFAP</span>
            </div>
          </div>
          <div class="third-row" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center">
            <div class="" fxLayout="row" style="width: 100%">
              <span class="icon"><mat-icon class="primary-icon icons-style">perm_contact_calendar</mat-icon></span>
              <span class="label"> 28/12/1998 a Fontainbleau </span>
            </div>
            <div class="" fxLayout="row" style="width: 100%">
              <span class="icon"><mat-icon class="primary-icon icons-style">place</mat-icon></span>
              <span class="label"> Nanterre </span>
            </div>
            <div class="" fxLayout="row" style="width: 100%">
              <span class="icon"><mat-icon class="primary-icon icons-style">school</mat-icon></span>
              <span class="label"> GE1, GE2, GE3 </span>
            </div>
          </div>
          <div class="third-row" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center">
            <div class="" fxLayout="row" style="width: 100%">
              <span class="icon">
                <img matPrefix [src]="maleStudentIcon" class="devMemberImage" style="border-radius: 50%; width: 25px" />
              </span>
              <span class="label">ANDRE Orabelle {{ 'MR' | translate }}</span>
            </div>
            <div class="" fxLayout="row" style="width: 100%">
              <span class="icon">
                <img matPrefix [src]="maleStudentIcon" class="devMemberImage" style="border-radius: 50%; width: 25px" />
              </span>
              <span class="label"> Jackson Michael </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Card School User Detail -->
<div class="row padl-13 hd-legend mobile-card">
  <label>{{ 'School Mentor' | translate }}</label>
</div>
<div class="card mobile-card">
  <div class="card-body card-segment detail-intership">
    <div class="row back-card">
      <div class="candidate-detail" fxLayout="row wrap">
        <div class="candidate-profile" fxFlex="100" style="text-align: center; margin-bottom: 25px">
          <img [src]="serverimgPath + 'Velazquez.jpg'" class="candidate-photo" />
        </div>
        <div class="candidate-information" fxFlex="100" fxLayout="row wrap" style="padding: 0px 50px">
          <div class="first-row" fxFlex="100" fxLayout="row" fxLayoutAlign="start end" style="text-align: center">
            <div class="info" style="text-align: center">
              <span class="label">ANDRE Orabelle {{ 'MR' | translate }}</span>
              <span class="infos">EFAP</span>
            </div>
          </div>
          <div class="third-row" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center">
            <div class="" fxLayout="row" style="width: 100%">
              <span class="icon"><mat-icon class="primary-icon icons-style">perm_contact_calendar</mat-icon></span>
              <span class="label"> 28/12/1998 a Fontainbleau </span>
            </div>
            <div class="" fxLayout="row" style="width: 100%">
              <span class="icon"><mat-icon class="primary-icon icons-style">place</mat-icon></span>
              <span class="label"> Nanterre </span>
            </div>
            <div class="" fxLayout="row" style="width: 100%">
              <span class="icon"><mat-icon class="primary-icon icons-style">school</mat-icon></span>
              <span class="label"> BAC S 1ere Anne de Medecine </span>
            </div>
          </div>
          <div class="third-row" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center">
            <div class="" fxLayout="row" style="width: 100%">
              <span class="icon"><mat-icon class="primary-icon icons-style">call</mat-icon></span>
              <span class="label"> +6285737304396 </span>
            </div>
            <div class="" fxLayout="row" style="width: 100%">
              <span class="icon"><mat-icon class="primary-icon icons-style">mail</mat-icon></span>
              <span class="label"> orabelle.andre@yopmail.com </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Card Company Detail -->
<div class="row padl-13 hd-legend mobile-card">
  <label>{{ 'Company Detail' | translate }}</label>
</div>
<div class="card mobile-card">
  <div class="card-body card-segment detail-intership">
    <div class="row back-card">
      <div class="candidate-detail" fxLayout="row wrap">
        <div class="candidate-profile" fxFlex="100" style="text-align: center; margin-bottom: 25px">
          <img [src]="companyImage" class="candidate-photo" />
        </div>
        <div class="candidate-information" fxFlex="100" fxLayout="row wrap" style="padding: 0px 50px">
          <div class="first-row" fxFlex="100" fxLayout="row" fxLayoutAlign="start end" style="text-align: center">
            <div class="info" style="text-align: center">
              <span class="infos">Google</span>
            </div>
          </div>
          <div class="third-row" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center">
            <div class="" fxLayout="row" style="width: 100%">
              <span class="icon"><mat-icon class="primary-icon icons-style">perm_contact_calendar</mat-icon></span>
              <span class="label"> 28/12/2018 - 28/12/2019 </span>
            </div>
            <div class="" fxLayout="row" style="width: 100%">
              <span class="icon"><mat-icon class="primary-icon icons-style">place</mat-icon></span>
              <span class="label"> Germany </span>
            </div>
            <div class="" fxLayout="row" style="width: 100%">
              <span class="icon"><mat-icon class="primary-icon icons-style">school</mat-icon></span>
              <span class="label"> EFAP </span>
            </div>
          </div>
          <div class="third-row" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center">
            <div class="" fxLayout="row" style="width: 100%">
              <span class="icon">
                <img matPrefix [src]="maleStudentIcon" class="devMemberImage" style="border-radius: 50%; width: 25px" />
              </span>
              <span class="label">ANDRE Orabelle {{ 'MR' | translate }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Card Company Mentor -->
<div class="row padl-13 hd-legend mobile-card">
  <label>{{ 'Company Mentor' | translate }}</label>
</div>
<div class="card mobile-card">
  <div class="card-body card-segment detail-intership">
    <div class="row back-card">
      <div class="candidate-detail" fxLayout="row wrap">
        <div class="candidate-profile" fxFlex="100" style="text-align: center; margin-bottom: 25px">
          <img [src]="serverimgPath + 'imansyah.jpg'" class="candidate-photo" />
        </div>
        <div class="candidate-information" fxFlex="100" fxLayout="row wrap" style="padding: 0px 50px">
          <div class="first-row" fxFlex="100" fxLayout="row" fxLayoutAlign="start end" style="text-align: center">
            <div class="info" style="text-align: center">
              <span class="infos">JACKSON Michael {{ 'MR' | translate }}</span>
              <span class="infos"> Google</span>
            </div>
          </div>
          <div class="third-row" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center">
            <div class="" fxLayout="row" style="width: 100%">
              <span class="icon"><mat-icon class="primary-icon icons-style">perm_contact_calendar</mat-icon></span>
              <span class="label"> 28/12/1998 a Fontainbleau </span>
            </div>
            <div class="" fxLayout="row" style="width: 100%">
              <span class="icon"><mat-icon class="primary-icon icons-style">place</mat-icon></span>
              <span class="label"> Nanterre </span>
            </div>
            <div class="" fxLayout="row" style="width: 100%">
              <span class="icon"><mat-icon class="primary-icon icons-style">school</mat-icon></span>
              <span class="label"> BAC S 1ere Anne de Medecine </span>
            </div>
          </div>
          <div class="third-row" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center">
            <div class="" fxLayout="row" style="width: 100%">
              <span class="icon"><mat-icon class="primary-icon icons-style">call</mat-icon></span>
              <span class="label"> +6285737304396 </span>
            </div>
            <div class="" fxLayout="row" style="width: 100%">
              <span class="icon"><mat-icon class="primary-icon icons-style">mail</mat-icon></span>
              <span class="label"> michael.jackson@yopmail.com </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Card Internship Detail -->
<div class="row padl-13 hd-legend mobile-card">
  <label>{{ 'Internship Detail' | translate }}</label>
</div>
<div class="row col-lg-12 card-mobile" style="padding-top: 0px; padding-left: 0px; padding-right: 0px; margin-bottom: 25px">
  <div class="card detail-total">
    <div class="card-body detail-body">
      <div class="row no-margin">
        <div class="col-lg-12 no-margin-card">
          <div class="no-padding mobile-view">
            <label>{{ 'Profile' | translate }}</label>
          </div>
          <div class="no-padding" style="font-size: 13px; float: left">: {{ 'Bussiness Development (Sales)' | translate }}</div>
        </div>
      </div>

      <div class="row no-margin">
        <div class="col-lg-12 no-margin-card">
          <div class="no-padding mobile-view">
            <label>{{ 'Location' | translate }}</label>
          </div>
          <div class="no-padding" style="font-size: 13px; float: left">: France</div>
        </div>
      </div>

      <div class="row no-margin">
        <div class="col-lg-12 no-margin-card">
          <div class="no-padding mobile-view">
            <label>{{ 'Presence' | translate }}</label>
          </div>
          <div class="no-padding" style="font-size: 13px; float: left">: {{ 'remote' | translate }}</div>
        </div>
      </div>

      <div class="row no-margin">
        <div class="col-lg-12 no-margin-card">
          <div class="no-padding mobile-view">
            <label>{{ 'Period' | translate }}</label>
          </div>
          <div class="no-padding" style="font-size: 13px; float: left">
            : 10 Feb 2020 - 27 Feb 2021
          </div>
        </div>
      </div>

      <div class="row no-margin">
        <div class="col-lg-12 no-margin-card">
          <div class="no-padding mobile-view">
            <label>{{ 'Skill' | translate }}</label>
          </div>
          <div class="no-padding" style="font-size: 13px; float: left">: Coding</div>
        </div>
      </div>

      <div class="row no-margin">
        <div class="col-lg-12 no-margin-card">
          <div class="no-padding mobile-view">
            <label>{{ 'Level' | translate }}</label>
          </div>
          <div class="no-padding" style="font-size: 13px; float: left">: {{ 'Cycle' | translate }} 1</div>
        </div>
      </div>

      <div class="row no-margin">
        <div class="col-lg-12 no-margin-card">
          <div class="no-padding mobile-view">
            <label>{{ 'Title' | translate }}</label>
          </div>
          <div class="no-padding" style="font-size: 13px; float: left">: {{ 'This is Title' | translate }}</div>
        </div>
      </div>

      <div class="row no-margin">
        <div class="col-lg-12 no-margin-card">
          <div class="no-padding mobile-view">
            <label>{{ 'Number' | translate }}</label>
          </div>
          <div class="no-padding" style="font-size: 13px; float: left">: 01</div>
        </div>
      </div>

      <div class="row no-margin">
        <div class="col-lg-12 no-margin-card">
          <div class="no-padding mobile-view">
            <label>{{ 'Stipend' | translate }}</label>
          </div>
          <div class="no-padding" style="font-size: 13px; float: left">: -</div>
        </div>
      </div>

      <div class="row no-margin">
        <div class="col-lg-12 no-margin-card">
          <div class="no-padding mobile-view">
            <label>{{ 'Description' | translate }}</label>
          </div>
          <div class="col-lg-9" style="text-align: justify" [innerHTML]="descriptionText"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="row" style="padding-top: 10px; margin-top: 20px !important; border-top: 2px solid #cdc8c8">
    <div *ngIf="uploadCV && uploadCV.length" class="col-lg-12">
      <div class="col-lg-12">{{ 'JOB_DESCRIPTION' | translate }}</div>
      <div class="col-lg-12">
        <div class="list-img">
          <div class="thumbnail-img" *ngFor="let img of uploadCV; let in = index">
            <img
              (click)="openImage(img)"
              [matTooltip]="img"
              [src]="pdfIcon"
              class="thumb rounded pull-left img-thumbnail"
              alt="{{ img }}"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Card Context Detail -->
<div class="row padl-13 hd-legend mobile-card">
  <label>{{ 'List of Information' | translate }}</label>
</div>
<div class="col-lg-12 card-mobile" style="padding-top: 28px; padding: 0px">
  <div class="card-body card-segment detail-intership">
    <div class="row back-card">
      <div class="candidate-detail" fxLayout="row wrap">
        <div class="col-lg-12" *ngIf="questionList && questionList.length" style="margin-top: 10px; color: white">
          <div class="col-lg-12">{{ 'List of Information' | translate }} :</div>
          <div class="col-lg-12">
            <div class="list-question">
              <div class="question-list" *ngFor="let img of questionList; let in = index">
                <label>{{ 'Information' | translate }} {{ in + 1 }} </label> : {{ titleList[in] }} - {{ img }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Card Amendment Detail -->
<div class="row padl-13 hd-legend mobile-card">
  <label>{{ 'Conditions' | translate }}</label>
</div>
<div class="col-lg-12 card-mobile" style="padding-top: 28px; padding: 0px">
  <div class="card-body card-segment detail-intership">
    <div class="row back-card">
      <div class="candidate-detail" fxLayout="row wrap" style="color: white">
        <div class="col-lg-12" style="width: 100%">
          <div class="row" style="margin-top: 10px; width: 100%">
            <div class="col-lg-12" style="width: 100%">
              <div class="col-lg-12">{{ 'Signature' | translate }}</div>
            </div>
            <div class="col-lg-12" style="width: 100%">
              <div class="col-lg-2">&#10004; {{ 'Sign (Student)' | translate }}</div>
              <div class="col-lg-2">&#10004; {{ 'Sign (BR)' | translate }}</div>
              <div class="col-lg-2">&#10004; {{ 'Sign (HR)' | translate }}</div>
              <div class="col-lg-2">&#10799; {{ 'Sign (School mentor)' | translate }}</div>
              <div class="col-lg-2">&#10799; {{ 'Sign (Company mentor)' | translate }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="btn-conditions">
  <button mat-button style="margin: 5px 10px 0px 10px" mat-raised-button (click)="modifyStep()" color="accent" class="btn-first">
    <mat-icon style="font-size: 24px">edit</mat-icon> {{ 'I want to modify' | translate }}
  </button>
  <!-- <button mat-button style="margin: 5px 10px 0px 10px" mat-raised-button (click)="saveOnlyStep()" color="accent" class="btn-first">
    <mat-icon style="font-size: 24px">save</mat-icon> {{ 'I save for me and DO NOT submit yet' | translate }}
  </button> -->
  <button mat-button style="margin: 5px 10px 0px 10px" mat-raised-button (click)="saveStep()" color="accent" class="btn-first">
    <mat-icon style="font-size: 24px">send</mat-icon> {{ 'Publish Aggrement' | translate }}
  </button>
</div>
