<div>
  <mat-tab-group #studentMatGroup>
    <!-- First tab always shown -->
    <mat-tab label="internshipReport">
      <ng-template mat-tab-label>
        <h4>{{ 'INTERN_SETTING.Internship Report' | translate }}</h4>
      </ng-template>
      <ng-template matTabContent>
        <h3 class="mat-tab-header">
          {{ 'INTERN_SETTING.Due date of upload' | translate }}
        </h3>
        <ms-internship-report-tab></ms-internship-report-tab>
      </ng-template>
    </mat-tab>
    <mat-tab label="mentorEvaluation">
      <ng-template mat-tab-label>
        <h4>
          {{ 'INTERN_SETTING.Mentor Evaluation' | translate }}
        </h4>
      </ng-template>
      <ng-template matTabContent>
        <h3 class="mat-tab-header">
          {{ 'INTERN_SETTING.Due date to complete' | translate }}
        </h3>
        <ms-internship-eval-tab></ms-internship-eval-tab>
      </ng-template>
    </mat-tab>
    <mat-tab label="candidateAgreement">
      <ng-template mat-tab-label>
        <h4>{{ 'INTERN_SETTING.Condition Agreement' | translate }}</h4>
      </ng-template>
      <ng-template matTabContent>
        <ms-internship-condition-agreement-tab></ms-internship-condition-agreement-tab>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
