@import '~assets/scss/theme/admtc.variables';
@import '~assets/scss/theme/admtc';

@font-face {
  font-family: firaSans;
  src: url(../../../assets/fonts/fira/FiraSansExtraCondensed-Regular.woff);
}
.mentor-card {
  width: 100%;
  padding: 5px;
  cursor: pointer;
  padding-left: 15px !important;
}
.mentor-card:hover {
  background-color: #37474f;
  color: white;
}
.mentor-card-selected {
  background-color: #37474f;
  color: white;
}
.btn-mentor {
  width: 335px;
  padding: 0 10px;
  background: #37474f;
  color: white;
  text-align: left;
  line-height: 35px;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  margin-left: 15px;
  border-radius: 2px;
}

:host ::ng-deep {
  h5 {
    font-size: 23px;
  }

  p {
    height: 37px;
    overflow: hidden;
  }
}

:host ::ng-deep .mat-button-toggle-label-content {
  line-height: 28px !important;
}

.content {
  display: contents !important;
}

.container {
  border: 1px solid #607d8b !important;
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: white;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  overflow-x: scroll;
}

.container::-webkit-scrollbar {
  height: 6px;
  width: 4px;
  border: 1px solid #d5d5d5;
}

.container::-webkit-scrollbar-track {
  border-radius: 0;
  background: #212121;
}

.container::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: #607d8b69;
}

:host ::ng-deep .mat-tab-label {
  height: 30px;
  min-width: 125px !important;
  background-color: #d0d0d0 !important;
  font-size: 15px;
  opacity: 1 !important;
  color: black !important;
  font-weight: 900 !important;
  margin-right: 5px;
}

:host ::ng-deep .mat-tab-header {
  border-bottom: none !important;
}

/* active tab */
:host ::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label-active {
  border: 1px solid #496775 !important;
  background-color: #37474f !important;
  color: #ffffff !important;
}

/* ink bar */
:host ::ng-deep .mat-ink-bar {
  background-color: unset !important;
}

.content-end {
  text-align: end;
}
:host ::ng-deep .mat-tab-body.mat-tab-body-active {
  animation: fade 1s;
}
:host ::ng-deep .mat-expansion-panel-body {
  padding: 0px !important;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
.card-segment {
  margin: 20px 0px 0px 0px;
  min-height: 55px;
  border-radius: 2px;
}
.no-padding {
  padding: 0px;
}
.no-margin {
  margin: 0px !important;
}
.card-container {
  width: 68.5px;
  margin-right: 0.5px;
  float: left;
}
.first-card {
  color: black;
  font-size: 20px;
  vertical-align: middle;
  font-weight: 700;
  text-align: center;
  justify-content: center;
  padding-top: 6px !important;
}

.table-section-height {
  max-height: 73vh;
  overflow: auto;
}
.header-height {
  height: 46px;
}
.background-black {
  background-color: #424242 !important;
  color: #fff;
  padding-top: 12px;
  padding-left: 25px;
  border-bottom: 1px solid #595959;
}
.cur-point {
  cursor: pointer;
}
.cur-point:hover {
  background: #9c9c9c59;
}
.icon-hansake {
  width: 27px !important;
  height: 30px !important;
  text-align: center;
  padding-right: 0px !important;
  margin-right: 0px !important;
}
:host ::ng-deep table.candidateTable {
  tr {
    td,
    th {
      &:nth-child(1) {
        width: 40%;
        padding-left: 0.5rem !important;
      }

      &:nth-child(2) {
        width: 7%;
      }

      &:nth-child(3) {
        width: 20%;
      }

      &:nth-child(4) {
        width: 30%;
        padding-right: 0 !important;
        text-align: center !important;
        padding-left: 0.5rem !important;
      }
    }
    td {
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 0;
      white-space: nowrap;
      padding-top: 0.5em;
      padding-bottom: 0.5em;
    }

    th {
      vertical-align: top;
      .mat-form-field-infix {
        width: unset !important;
      }
    }
  }
}
.font-action-x {
  float: left;
  font-size: 20px;
}
.font-action-y {
  font-size: 22px;
  padding-top: 2px;
  margin-right: 0.5rem;
  float: left;
}
.font-action-z {
  font-size: 23px;
  padding-top: 2px;
  float: left;
  margin-right: 0.5rem;
}
.card-detail {
  margin-left: 15px;
}
.card-chart {
  margin-left: 15px;
}
.card-activity {
  margin-left: 15px;
}
.detail-candidate {
  border-radius: 2px;
  height: 115px;
  padding: 0px;
  padding-top: 7px;
}
.detail-photo {
  width: 100px;
  float: left;
}
.img-candidate {
  width: 85px;
}

.label-status {
  padding: 0px;
  min-width: 7em;
  font-family: Roboto, 'Helvetica Neue', sans-serif !important;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: 0;
  border: none;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  margin: 0;
  min-width: 64px;
  line-height: 36px;
  overflow: visible;
  transform: translate3d(0, 0, 0);
  transition: background 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: 0.3125rem;
  background-color: #fdd835;
  color: black;
}

.btn-student {
  line-height: 30px;
  font-size: 12px !important;
  border-radius: 2px;
}
.yellow-button {
  background-color: #ffd740;
}
.status-candidate {
  float: left;
  margin-right: 10px;
}
.mat-icon-button {
  height: 30px;
  width: 30px;
  font-size: 12px;
  line-height: 24px;
  padding: 0;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 50%;
  border: 1px solid;
  margin-left: 5px;
}
.btn-action-z {
  vertical-align: middle;
  line-height: unset;
  font-size: 18px;
}
.mrg-40 {
  padding-left: 40px;
}
.btn-action-y {
  vertical-align: middle;
  line-height: unset;
  font-size: 20px;
  text-align: center;
}
.button-candidate {
  float: left;
}
.i-action {
  margin: 0px;
  line-height: 26px;
}
.candidate-birth {
  font-size: 10px;
  text-overflow: ellipsis;
  max-width: 0;
  white-space: nowrap;
}
.candidate-address {
  padding-top: 7px;
  font-size: 10px;
  text-overflow: ellipsis;
  max-width: 0;
  white-space: nowrap;
}
.icon-detail {
  float: left;
  margin-right: 6px;
}
.font-action-btn {
  font-size: 16px;
  padding-top: 9px;
  float: left;
  margin-right: -2px;
}
.icon-grid {
  vertical-align: middle;
  position: relative;
  text-align: center;
  margin: auto;
}
.segment-icon {
  text-align: center;
  height: 40px;
  width: 40px;
  padding: 0;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 50%;
  background: white;
  vertical-align: middle;
  position: relative;
  padding-top: 2px;
}
.segment-title {
  font-size: 13px;
  float: right;
  text-align: right;
  padding-right: 8px;
  padding-top: 5px;
}
.segment-score {
  width: 100%;
  vertical-align: middle;
  font-size: 11px;
  padding-left: 7px;
  text-align: right;
  padding-right: 8px;
}
.cur-month {
  position: relative;
  background: #5ab858 !important;
  padding: 2px 8px 2px 2px;
}
.segment-percent {
  font-size: 10px;
  float: right;
  text-align: right;
}
.total-status {
  color: #f36826;
}
.modert-status {
  color: #f3a126;
}
.low-status {
  color: #ca1010;
}
.lost-status {
  color: #bfbfbf;
}
.hight-status {
  color: #00b050;
}
.orange-icon {
  color: #f3a126;
}
.red-icon {
  color: #ca1010;
}
.grey-icon {
  color: #bfbfbf;
}
.green-icon {
  color: #4fc731;
}
.mat-icon-svgIcon {
  padding-top: 3px;
}
.card-campus {
  margin: 10px 0px 0px 0px;
  width: 100%;
  border-radius: 4px;
  padding: 0px;
}
.card-campuss {
  float: left;
  height: 30px;
  width: auto;
  background-color: #d0d0d0 !important;
  font-size: 15px;
  opacity: 1 !important;
  color: black !important;
  margin-right: 5px;
  text-align: center;
  display: -webkit-inline-box;
  display: inline-flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  white-space: nowrap;
  position: relative;
  padding: 0px 15px 0px 15px !important;
}
.card-campuss:hover {
  background-color: #37474f !important;
  cursor: pointer;
  color: white !important;
  border: 1px solid #496775;
}
.border-yellow {
  border: 1px solid #ffffff;
  margin: 10px;
  border-radius: 4px;
  padding: 10px;
}
.chart-pie-css {
  background: white;
  display: block;
  border-radius: 50%;
  background-image: conic-gradient(#ff0000 110deg, #d6d6d6 0 235deg, #d6d6d6 0);
}
.chart-pie-css-orange {
  background: white;
  display: block;
  border-radius: 50%;
  background-image: conic-gradient(#ff9900 215deg, #d6d6d6 0 235deg, #d6d6d6 0);
}
.mat-expansion-panel {
  margin-right: 24px !important;
}
.mat-expansion-panel-header {
  height: auto !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  margin-bottom: 0px;
}
:host::ng-deep.mat-menu-panel {
  max-height: 280px !important;
}
:host::ng-deep.mat-expansion-panel {
  background: #42424200;
  color: white;
  box-shadow: none !important;
}
:host::ng-deep.mat-expansion-panel:hover {
  background: #42424200 !important;
}
:host::ng-deep.mat-expansion-panel-header:hover {
  background: #42424200 !important;
}
.card-dashboard {
  position: relative;
  margin-top: 10px;
  margin-right: 24px !important;
  height: 95px;
  padding: 0px 0px;
  box-shadow: none !important;
  background: #42424200 !important;
  color: white;
}
.chart-pie-css-36 {
  background: white;
  display: block;
  border-radius: 50%;
  background-image: conic-gradient(#cc0000 36deg, #d6d6d6 0 235deg, #d6d6d6 0);
}
.chart-pie-css-120 {
  background: white;
  display: block;
  border-radius: 50%;
  background-image: conic-gradient(#cc0000 120deg, #d6d6d6 0 235deg, #d6d6d6 0);
}
.chart-pie-css-240 {
  background: white;
  display: block;
  border-radius: 50%;
  background-image: conic-gradient(#ff9900 240deg, #d6d6d6 0 235deg, #d6d6d6 0);
}
.chart-pie-css-360 {
  background: white;
  display: block;
  border-radius: 50%;
  background-image: conic-gradient(#00b050 360deg, #d6d6d6 0 235deg, #d6d6d6 0);
}
.chart-pie-css-350 {
  background: white;
  display: block;
  border-radius: 50%;
  background-image: conic-gradient(#00b050 333deg, #d6d6d6 0 235deg, #d6d6d6 0);
}
.chart-pie-css-60 {
  background: white;
  display: block;
  border-radius: 50%;
  background-image: conic-gradient(#cc0000 60deg, #d6d6d6 0 235deg, #d6d6d6 0);
}
.chart-pie-css-180 {
  background: white;
  display: block;
  border-radius: 50%;
  background-image: conic-gradient(#ff9900 180deg, #d6d6d6 0 235deg, #d6d6d6 0);
}
.chart-pie-css-300 {
  background: white;
  display: block;
  border-radius: 50%;
  background-image: conic-gradient(#00b050 300deg, #d6d6d6 0 235deg, #d6d6d6 0);
}
.chart-pie-css-0 {
  background: white;
  display: block;
  border-radius: 50%;
  background-image: conic-gradient(#cc0000 0deg, #d6d6d6 0 235deg, #d6d6d6 0);
}
.chart-pie-css-1 {
  background: white;
  display: block;
  border-radius: 50%;
  background-image: conic-gradient(#cc0000 5deg, #d6d6d6 0 235deg, #d6d6d6 0);
}
.chart-pie-css-3 {
  background: white;
  display: block;
  border-radius: 50%;
  background-image: conic-gradient(#cc0000 10deg, #d6d6d6 0 235deg, #d6d6d6 0);
}
.chart-pie-css-5 {
  background: white;
  display: block;
  border-radius: 50%;
  background-image: conic-gradient(#cc0000 20deg, #d6d6d6 0 235deg, #d6d6d6 0);
}
:host::ng-deep.mat-form-field-wrapper {
  padding-bottom: 0px !important;
}
:host::ng-deep.mat-form-field-underline {
  display: none !important;
}
:host::ng-deep.mat-form-field-infix {
  padding: 0px 0px 10px 0px;
}
:host::ng-deep.mat-form-field-label-wrapper {
  top: -16px;
  padding: 0px 0px 10px 0px !important;
}
:host::ng-deep.cdk-overlay-pane {
  width: 243.5px;
  pointer-events: auto;
  top: 118.5px;
  left: 250.391px;
}

.spinner-wrapper {
  width: 100%;
  height: 210px;
  z-index: 998;
}
.card-sub {
  padding: 0px 0px 7px 0px;
  background: #adadad;
  border-right: 1px solid #282828;
  border-left: 1px solid #282828;
  font-family: 'firaSans';
}
.green-bg {
  background: #5ab858 !important;
}
.yellow {
  background: #ffd740;
}
.orange {
  background: #ffa828 !important;
}
.blue {
  background: #6e98ea !important;
}
.red {
  background: #ff4040 !important;
}
.green {
  background: #5ab858 !important;
}
.grey {
  background: #7f7974 !important;
}
.purple {
  background: #ff46f9;
}

.current-month {
  position: relative;
  top: -20px;
  height: 75px;
}
.segment-total {
  width: 100%;
  /* vertical-align: middle; */
  font-size: 11px;
  padding-left: 0px;
  text-align: right;
}

.amcharts {
  width: 60px;
}
.poweredBy {
  margin-bottom: 35px;
  float: right;
  margin-right: 25px !important;
}
.month-campus {
  background: #607d8b;
  top: -12px;
  height: 45px !important;
  padding-top: 7px;
  min-height: 25px;
  text-align: center !important;
}
