
.display-mobile {
  display: none;
}
.mobile-radio {
  display: none;
}
.web-radio {
  display: block;
}
.mobile-view {
  float: left;
  width: 95px;
}
@media screen and (max-width: 500px) {
  .mobile-radio {
    display: block !important;
  }
  .web-radio {
    display: none !important;
  }
  .card-urgency {
    float: left;
    height: 200px !important;
    width: 100% !important;
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid #ffffff;
    background: #00817d !important;
  }
  .width-card {
    width: 100% !important;
    float: left;
  }
  .width-card-type {
    width: 100% !important;
    float: left;
  }
  .card-type {
    float: left;
    height: 225px !important;
    width: 100% !important;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #ffffff;
    background: #e29d47 !important;
  }
  .title-urgency {
    text-align: center;
    color: white;
    font-weight: 700;
    padding: 0 10px;
    min-height: 55px;
    font-size: 20px;
  }
  .btn-card {
    font-size: 18px !important;
    height: 40px !important;
    line-height: 30px;
    border-radius: 2px;
    margin-right: 0.3125rem;
  }
  .btn-submit {
    text-align: end;
    margin-top: 15px;
    margin-bottom: 20px;
    padding: 0px 16px !important;
  }
  .submit-action {
    width: 100%;
    margin-top: 25px !important;
  }
  .submit-third {
    font-size: 15px !important;
    width: 100%;
    margin: 10px 0px !important;
  }
  .display-web {
    display: none !important;
  }
  .display-mobile {
    display: block !important;
  }
  .thumb {
    width: 100% !important;
    margin-top: 10px !important;
    margin-right: 10px !important;
    height: 260px !important;
    cursor: pointer;
  }
  .btn-submits {
    text-align: end;
    margin-top: 15px;
    margin-bottom: 20px;
    padding: 0px 30px !important;
  }
}

.thumb {
  width: 145px;
  margin-top: 10px;
  margin-right: 10px;
  height: 145px;
  cursor: pointer;
}
.img-close {
  position: relative;
  top: 16px;
  right: 35px;
  color: white;
  font-size: 20px !important;
  cursor: pointer;
}
.mat-icon-svgIcons {
  width: 16px !important;
  height: 16px !important;
  margin-top: -10px !important;
  margin-right: 2px !important;
}
.title-text {
  margin-bottom: 10px;
}
.description {
  margin-bottom: 10px;
}
.description-text {
  width: 25%;
  float: left;
}
.video-link {
  margin-bottom: 10px;
}
.image-link {
  margin-bottom: 10px;
}
.name {
  margin-bottom: 7px;
}
.school {
  margin-bottom: 7px;
}
.title {
  margin-bottom: 7px;
}
.user-type {
  margin-bottom: 7px;
}
.ck.ck-editor__editable_inline {
  overflow: auto;
  padding: 0 var(--ck-spacing-standard);
  border: 1px solid #bdbdbd !important;
  min-height: 120px !important;
}
:host::ng-deep.ck.ck-editor__editable_inline {
  overflow: auto;
  padding: 0 var(--ck-spacing-standard);
  border: 1px solid #bdbdbd !important;
  min-height: 120px !important;
}
.img-box {
  width: 110px;
  border: 1px solid #c3c3c3;
  border-radius: 2px;
  text-align: center;
  margin: 10px 5px 10px 0px;
  cursor: pointer;
  display: inline-block;
  background: #f3f3f3;
  padding: 3px 0px;
}
.m-top-15 {
  margin-top: 15px;
}

.specialization-pill {
  width: auto;
  color: white;
  background-color: #283d50;
  border-radius: 5px;
  padding-left: 0.8rem;
  margin-right: 0.5rem;
  height: 27px;
  display: inline-block;
  vertical-align: middle;
  padding-top: 3px;
  margin-top: 6px;
  text-align: center;
}
.img-boxs {
  width: 110px;
  border: 1px solid #c3c3c3;
  border-radius: 2px;
  text-align: center;
  margin: 0px 5px 10px 0px;
  cursor: pointer;
  display: inline-block;
  background: #f3f3f3;
  padding: 3px 0px;
}

.close-icon {
  font-size: 15px !important;
  font-weight: 700;
}
.close-icon:hover {
  color: red;
}
.text-upload {
  display: initial;
}
.btn-submit {
  text-align: end;
  margin-top: 0px;
  margin-bottom: 20px;
}
.text-upload:hover {
  color: #2150d4;
  font-weight: 500;
}
.pill-skill {
  vertical-align: middle;
    text-align: center;
    display: inline-flex;
}
.form-control {
  border: 1px solid rgb(162, 162, 162) !important;
}