<!-- <ms-form-filling-revision-box
  *ngIf="formDetail?.revise_request_messages?.length"
  [formDetail]="formDetail"
  [messages]="formDetail?.revise_request_messages"
></ms-form-filling-revision-box> -->

<div class="revision-box-container" *ngIf="formData?.revise_request_messages?.length">
  <ms-revision-box-contract
    [disabledReply]="formData?.contract_status === 'ask_for_revision'"
    [formDetail]="formDetail"
    [messages]="formData?.revise_request_messages"
    [formData]="formData"
    (triggerRefresh)="this.triggerRefresh.emit(formDetail.formId)"
  ></ms-revision-box-contract>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="row">
      <div class="col-lg-12">
        <div class="pdf-document">
          <!-- Header Document -->
          <div class="header">
            <!-- {{ 'Title_Summary' | translate }} -->
          </div>
          <div class="p-grid">
            <div class="p-col-12 no-padding">
              <span style="font-size: 1.7rem">
                <b> {{ formData?.school_id?.short_name | titlecase }} {{ 'Summary' | translate }}</b>
              </span>
              <span *ngIf="!formDetail.isPreview" style="text-align: end; float: right">
                <button
                  color="accent"
                  mat-raised-button
                  class="btn-save"
                  matTooltip="{{ 'PDF' | translate }}"
                  [disabled]="isLoading"
                  (click)="downloadPDF()"
                >
                  <mat-icon class="pdf-icon" svgIcon="file-pdf-outline"></mat-icon>
                  {{ 'PDF' | translate }}
                </button>
              </span>
              <span *ngIf="formDetail.isPreview" style="text-align: end; float: right">
                <button color="accent" mat-raised-button class="btn-save" matTooltip="{{ 'PDF' | translate }}">
                  <mat-icon class="pdf-icon" svgIcon="file-pdf-outline"></mat-icon>
                  {{ 'PDF' | translate }}
                </button>
              </span>
            </div>
          </div>

          <div style="border: 1px solid black" *ngIf="!isLoading">
            <ng-container *ngFor="let step of templateStep; let in = index">
              <ng-container *ngIf="step?.form_builder_step_id?.is_step_included_in_summary">
                <div class="p-col-12 step-title">
                  <div style="display: flex">
                    <div class="p-col-12 no-padding" style="text-align: center">
                      <b>{{ step?.step_title }}</b>
                    </div>
                  </div>
                </div>

                <ng-container *ngIf="step?.step_type === 'question_and_field' || step?.step_type === 'academic_journey'">
                  <ng-container *ngFor="let segment of step?.segments; let segmentInd = index">
                    <div class="p-col-12 segment-title">
                      <div style="display: flex">
                        <div class="p-col-12 no-padding">
                          <b style="padding: 0.5em">{{ segment?.segment_title }}</b>
                        </div>
                      </div>
                    </div>

                    <div class="p-col-12 pad-ver-none">
                      <div class="p-grid">
                        <div
                          #questionLoop
                          *ngFor="let question of segment?.questions; let questInd = index"
                          [ngClass]="[
                            (segment?.questions[questInd + 1]?.field_position === 'right' && question?.field_position !== 'right') ||
                            (segment?.questions[questInd === 0 ? 0 : questInd - 1]?.field_position === 'left' &&
                              question?.field_position === 'right')
                              ? 'p-col-12 p-md-6'
                              : 'p-col-12 p-md-6 should-full',
                            questionLoop.classList.contains('should-full') && question?.field_position === 'right'
                              ? 'right-end'
                              : 'left-end'
                          ]"
                        >
                          <!----- IF is_field is TRUE ------------------------------------------------------>
                          <ng-container *ngIf="question?.is_field">
                            <ng-container *ngIf="question?.field_type === 'parent_relation'; else default">
                              <div
                                class="p-grid"
                                [ngClass]="questionLoop.classList.contains('right-end') ? 'justify-end' : 'justify-start'"
                              >
                                <div class="p-col-4 no-padding">
                                  <p>{{ 'QUESTIONNAIRE_FIELDS.' + question?.field_type | translate }}</p>
                                </div>
                                <div class="p-col-8 no-padding">
                                  : <span style="margin-left: 10px">{{ 'CARDDETAIL.RELATION.' + question?.answer | translate }}</span>
                                </div>
                              </div>
                            </ng-container>
                            <ng-template #default>
                              <ng-container *ngIf="question?.answer_multiple?.length; else defaultQuestion">
                                <div
                                  class="p-grid"
                                  [ngClass]="questionLoop.classList.contains('right-end') ? 'justify-end' : 'justify-start'"
                                >
                                  <div class="p-col-4 no-padding">
                                    <p>{{ 'QUESTIONNAIRE_FIELDS.' + question?.field_type | translate }}</p>
                                  </div>
                                  <div class="p-col-8 no-padding">
                                    :
                                    <span style="margin-left: 10px">{{ renderMultiple(question?.answer_multiple) }}</span>
                                  </div>
                                </div>
                              </ng-container>
                              <ng-template #defaultQuestion>
                                <div
                                  class="p-grid"
                                  [ngClass]="questionLoop.classList.contains('right-end') ? 'justify-end' : 'justify-start'"
                                >
                                  <div class="p-col-4 no-padding">
                                    <p>{{ 'QUESTIONNAIRE_FIELDS.' + question?.field_type | translate }}</p>
                                  </div>
                                  <div class="p-col-8 no-padding">
                                    :
                                    <span style="margin-left: 10px">{{
                                      question?.field_type === 'TEACHER_CIVILITY' ||
                                      question?.field_type === 'CONTRACT_TYPE' ||
                                      question?.field_type === 'TEACHER_TYPE_INTERVENTION_1' ||
                                      question?.field_type === 'TEACHER_TYPE_INTERVENTION_2' ||
                                      question?.field_type === 'TEACHER_TYPE_INTERVENTION_3' ||
                                      question?.field_type === 'TEACHER_TYPE_INTERVENTION_4' ||
                                      question?.field_type === 'TEACHER_TYPE_INTERVENTION_5' ||
                                      question?.field_type === 'TEACHER_TYPE_INTERVENTION_6'
                                        ? (question?.answer | translate)
                                        : question?.answer
                                    }}</span>
                                  </div>
                                </div>
                              </ng-template>
                            </ng-template>
                          </ng-container>

                          <!----- IF is_field is FALSE ------------------------------------------------------>
                          <ng-container *ngIf="!question?.is_field">
                            <!----- Free Text ------------------------------->
                            <ng-container *ngIf="question?.answer_type === 'free_text'">
                              <div
                                class="p-grid"
                                [ngClass]="questionLoop.classList.contains('right-end') ? 'justify-end' : 'justify-start'"
                              >
                                <div class="p-col-4 no-padding">
                                  <p>{{ question?.question_label }}</p>
                                </div>
                                <div class="p-col-8 no-padding">
                                  : <span style="margin-left: 10px">{{ question?.answer }}</span>
                                </div>
                              </div>
                            </ng-container>
                            <!----- Long Text ------------------------------->
                            <ng-container *ngIf="question?.answer_type === 'long_answer'">
                              <div
                                class="p-grid"
                                [ngClass]="questionLoop.classList.contains('right-end') ? 'justify-end' : 'justify-start'"
                              >
                                <div class="p-col-4">
                                  <p>{{ question?.question_label }}</p>
                                </div>
                                <div class="p-col-8">
                                  : <span style="margin-left: 10px">{{ question?.answer }}</span>
                                </div>
                              </div>
                            </ng-container>
                            <!----- Email ------------------------------->
                            <ng-container *ngIf="question?.answer_type === 'email'">
                              <div
                                class="p-grid"
                                [ngClass]="questionLoop.classList.contains('right-end') ? 'justify-end' : 'justify-start'"
                              >
                                <div class="p-col-4 no-padding">
                                  <p>{{ question?.question_label }}</p>
                                </div>
                                <div class="p-col-8 no-padding">
                                  : <span style="margin-left: 10px">{{ question?.answer }}</span>
                                </div>
                              </div>
                            </ng-container>
                            <!----- Date Type ------------------------------->
                            <ng-container *ngIf="question?.answer_type === 'date'">
                              <div
                                class="p-grid"
                                [ngClass]="questionLoop.classList.contains('right-end') ? 'justify-end' : 'justify-start'"
                              >
                                <div class="p-col-4 no-padding">
                                  <p>{{ question?.question_label }}</p>
                                </div>
                                <div class="p-col-8 no-padding">
                                  : <span style="margin-left: 10px">{{ question?.answer_date?.date }}</span>
                                </div>
                              </div>
                            </ng-container>
                            <!----- Numeric ------------------------------->
                            <ng-container *ngIf="question?.answer_type === 'numeric'">
                              <div
                                class="p-grid"
                                [ngClass]="questionLoop.classList.contains('right-end') ? 'justify-end' : 'justify-start'"
                              >
                                <div class="p-col-4 no-padding">
                                  <p>{{ question?.question_label }}</p>
                                </div>
                                <div class="p-col-8 no-padding">
                                  : <span style="margin-left: 10px">{{ question?.answer_number }}</span>
                                </div>
                              </div>
                            </ng-container>
                            <!----- Single Option ------------------------------->
                            <ng-container *ngIf="question?.answer_type === 'single_option' || question?.answer_type === 'dropdown_single_option'">
                              <div
                                class="p-grid"
                                [ngClass]="questionLoop.classList.contains('right-end') ? 'justify-end' : 'justify-start'"
                              >
                                <div class="p-col-4 no-padding">
                                  <p>{{ question?.question_label }}</p>
                                </div>
                                <div class="p-col-8 no-padding">
                                  : <span style="margin-left: 10px">{{ question?.answer }}</span>
                                </div>
                              </div>
                            </ng-container>
                            <!----- Multiple Option ------------------------------->
                            <ng-container *ngIf="question?.answer_type === 'multiple_option' || question?.answer_type === 'dropdown_multiple_option'">
                              <div
                                class="p-grid"
                                [ngClass]="questionLoop.classList.contains('right-end') ? 'justify-end' : 'justify-start'"
                              >
                                <div class="p-col-4 no-padding">
                                  <p>{{ question?.question_label }}</p>
                                </div>
                                <div class="p-col-8 no-padding">
                                  :
                                  <span
                                    style="margin-left: 10px"
                                    *ngFor="let answer_multiple of question?.answer_multiple; let isLast = last"
                                    >{{ answer_multiple }}<span *ngIf="!isLast">, </span>
                                  </span>
                                </div>
                              </div>
                            </ng-container>
                          </ng-container>
                        </div>
                      </div>
                    </div>
                  </ng-container>
                </ng-container>

                <ng-container *ngIf="step?.step_type === 'document_expected'">
                  <ng-container *ngFor="let segment of step?.segments">
                    <div class="p-col-12 segment-title">
                      <div style="display: flex">
                        <div class="p-col-12 no-padding">
                          <b style="padding: 0.5em">{{ segment?.segment_title }}</b>
                        </div>
                      </div>
                    </div>

                    <!-- The name and status of document expected -->
                    <div class="p-col-12 pad-ver-none">
                      <div class="p-grid">
                        <ng-container *ngFor="let question of segment?.questions">
                          <div class="full-width left-end">
                            <div class="p-grid justify-start">
                              <div (click)="setDocumentDisplayed(in, question?.answer)" class="p-col-4 no-padding">
                                <p class="document-question-label">{{ question?.question_label }}</p>
                              </div>
                              <div class="p-col-8 no-padding">
                                <ng-container *ngIf="question?.document_validation_status === 'validated' && question?.answer">
                                  : <span style="margin-left: 10px">{{ 'SummaryForm.Submitted' | translate }}</span>
                                </ng-container>
                                <ng-container *ngIf="question?.document_validation_status === 'waiting_for_validation' && question?.answer">
                                  : <span style="margin-left: 10px">{{ 'SummaryForm.Waiting Validation' | translate }}</span>
                                </ng-container>
                                <ng-container
                                  *ngIf="
                                    question?.document_validation_status === 'not_validated' ||
                                    question?.answer === '' ||
                                    question?.answer === null ||
                                    question?.document_validation_status === null
                                  "
                                >
                                  : <span style="margin-left: 10px">{{ 'SummaryForm.Not Submitted' | translate }}</span>
                                </ng-container>
                              </div>
                            </div>
                          </div>
                        </ng-container>
                      </div>
                    </div>

                    <!-- The IFRAME for the document expected -->
                    <div
                      class="p-col-12 pad-ver-none"
                      *ngIf="documentExpectedDisplays && documentExpectedDisplays.length && getDocumentSelectedUrl(in)"
                    >
                      <div>
                        <div class="ql-editor document-parent">
                          <div class="img-preview container-view-lanscape">
                            <iframe [src]="getDocumentSelectedUrl(in)" frameBorder="0"></iframe>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-container>
                </ng-container>

                <ng-container *ngIf="step?.step_type === 'condition_acceptance'">
                  <ng-container *ngFor="let segment of step?.segments">
                    <div class="p-col-12 segment-title">
                      <div style="display: flex">
                        <div class="p-col-12 no-padding">
                          <b style="padding: 0.5em">{{ segment?.segment_title }}</b>
                        </div>
                      </div>
                    </div>
                    <div class="p-col-12 pad-ver-none">
                      <div *ngIf="segment?.acceptance_pdf || segment?.acceptance_pdf !== ''">
                        <div class="ql-editor document-parent">
                          <div class="img-preview container-view-lanscape">
                            <iframe [src]="setPreviewUrl(segment?.acceptance_pdf)" frameBorder="0"></iframe>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-container>
                </ng-container>
              </ng-container>
            </ng-container>

            <!-- Signature Box -->
            <ng-container>
              <!-- <div class="p-col-12 pad-ver-none">
                <div class="p-col-12 signature-box">
                  <mat-checkbox
                    [disabled]="formData?.signature_date?.date"
                    [(ngModel)]="signature"
                    style="padding-left: 15px"
                    >{{ 'Signature' | translate }}</mat-checkbox
                  >
                  <div *ngIf="formattedSignatureDate">{{ formattedSignatureDate }} ({{ 'Paris Time' | translate }})</div>
                </div>
              </div> -->
            </ng-container>
          </div>
          <div class="center-spinner" *ngIf="isLoading">
            <mat-spinner color="accent"></mat-spinner>
          </div>

          <div
            *ngIf="(!formDetail.isPreview && formDetail?.admission_status !== 'submitted') || !formData?.signature_date?.date"
            class="p-grid"
          >
            <div class="p-col-12" style="text-align: end; padding-right: 11px; margin-bottom: 10px">
              <!-- Updated flow on 28/12/2021 -->
              <!-- <button
                *ngIf="isValidator && !hasValidatorValidated && formDetail?.admission_status !== 'ask_for_revision'"
                color="accent"
                mat-raised-button
                class="btn-save"
                matTooltip="{{ 'Reject and Ask for Revision' | translate }} "
                (click)="onAskForRevision()"
              >
                {{ 'Reject and Ask for Revision' | translate }}
              </button> -->
              <!-- ask_for_revision + student = complete revision  -->
              <!-- <button
                *ngIf="formDetail?.isFinalRevisionUser && formDetail?.admission_status === 'ask_for_revision'"
                color="accent"
                mat-raised-button
                matTooltip="{{ 'Complete Revision' | translate }}"
                (click)="onCompleteRevision()"
              >
                {{ 'Complete Revision' | translate }}
              </button> -->
              <!-- <button
                *ngIf="isValidator && !isReceiver && !hasValidatorValidated && formDetail?.admission_status !== 'ask_for_revision'"
                color="accent"
                mat-raised-button
                class="btn-save"
                matTooltip="{{ 'Validate the Admission Form' | translate }}"
                [disabled]="!signature"
                (click)="validateForm()"
              >
                <mat-icon class="mat-icon-default">
                  <svg style="width: 24px; height: 24px" viewBox="0 0 24 24">
                    <path
                      fill="currentColor"
                      d="M19,19H5V5H15V3H5C3.89,3 3,3.89 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V11H19M7.91,10.08L6.5,11.5L11,16L21,6L19.59,4.58L11,13.17L7.91,10.08Z"
                    />
                  </svg>
                </mat-icon>
                {{ 'Validate the Admission Form' | translate }}
              </button> -->
              <button
                *ngIf="formData?.contract_status !== 'submitted' && formData?.contract_status !== 'signing_process'"
                color="accent"
                mat-raised-button
                class="btn-accept"
                [disabled]="stepData?.step_status === 'reject_and_stop'"
                (click)="rejectAndStopProcess()"
                matTooltip="{{ 'Reject and Stop the process' | translate }} "
              >
                {{ 'Reject and Stop the process' | translate }}
              </button>
              <button
                *ngIf="
                  isReceiver &&
                  !isAccepted &&
                  formData?.contract_status !== 'ask_for_revision' &&
                  formData?.contract_status !== 'signing_process'
                "
                color="accent"
                mat-raised-button
                class="btn-save"
                matTooltip="{{ 'Submit and Complete Form' | translate }}"
                (click)="submitForm()"
              >
                <mat-icon class="mat-icon-default">save</mat-icon>
                {{ 'Submit and Complete Form' | translate }}
              </button>
            </div>
          </div>

          <div *ngIf="formDetail.isPreview" class="p-grid">
            <div class="p-col-12" style="text-align: end; padding-right: 11px; margin-bottom: 10px">
              <button color="accent" mat-raised-button class="btn-save" matTooltip="{{ 'Submit and Complete Form' | translate }}">
                <mat-icon class="mat-icon-default">save</mat-icon>
                {{ 'Submit and Complete Form' | translate }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="isWaitingForResponse" class="loading-indicator">
  <mat-progress-spinner mode="indeterminate" color="accent"></mat-progress-spinner>
</div>
