<div class="filter-breadcrumb">
  <ng-container *ngIf="filterBreadcrumbData?.length">
    <div class="filter-breadcrumb-container mt-10" *ngIf="filterDataExist('super_filter')">
      <span [ngClass]="translate.currentLang === 'en' ? 'filter-type' : 'filter-type-fr'">{{ 'Super Filter' | translate }} </span>
      <span>:</span>
      <span class="breadcrumb-value">
        <ng-container *ngFor="let filterBreadcrumb of filterBreadcrumbData; let crumbIndex = index">
          <ng-container *ngIf="filterBreadcrumb?.type === 'super_filter'">
            <span class="breadcrumb-filter" *ngIf="filterBreadcrumb?.isMultiple"
              >{{ filterBreadcrumb?.column | translate }} :
              <ng-container *ngFor="let key of filterBreadcrumb?.key; last as isLast">
                {{ key | translate }} <span class="comma" *ngIf="!isLast"> , </span>
              </ng-container>
              <mat-icon
                class="icon-remove"
                *ngIf="!(isReadmission && filterBreadcrumb?.name === 'scholar_season')"
                (click)="removeFilter(filterBreadcrumb, crumbIndex)"
                >close</mat-icon
              ></span
            >
            <span class="breadcrumb-filter" *ngIf="!filterBreadcrumb?.isMultiple"
              >{{ filterBreadcrumb?.column | translate }} : {{ filterBreadcrumb?.key | translate }}
              <mat-icon
                class="icon-remove"
                *ngIf="!(isReadmission && filterBreadcrumb?.name === 'scholar_season')"
                (click)="removeFilter(filterBreadcrumb, crumbIndex)"
                >close</mat-icon
              ></span
            >
          </ng-container>
        </ng-container>
      </span>
    </div>

    <div class="filter-breadcrumb-container" *ngIf="filterDataExist('table_filter')">
      <span [ngClass]="translate.currentLang === 'en' ? 'filter-type' : 'filter-type-fr'">{{ 'Table Filter' | translate }} </span>
      <span>:</span>
      <span class="breadcrumb-value">
        <ng-container *ngFor="let filterBreadcrumb of filterBreadcrumbData; let crumbIndex = index">
          <ng-container *ngIf="filterBreadcrumb?.type === 'table_filter'">
            <span class="breadcrumb-filter" *ngIf="filterBreadcrumb?.isMultiple"
              >{{
                filterBreadcrumb?.stepColumnName
                  ? (filterBreadcrumb?.stepColumnName | translate) + ' ' + filterBreadcrumb?.column
                  : (filterBreadcrumb?.column | translate)
              }}
              :
              <ng-container *ngFor="let key of filterBreadcrumb?.key; last as isLast">
                {{ filterBreadcrumb?.noTranslate ?(key):(key | translate) }} <span class="comma" *ngIf="!isLast"> , </span>
              </ng-container>
              <mat-icon class="icon-remove" (click)="removeFilter(filterBreadcrumb, crumbIndex)">close</mat-icon></span
            >
            <span class="breadcrumb-filter" *ngIf="!filterBreadcrumb?.isMultiple"
              >{{
                filterBreadcrumb?.stepColumnName
                  ? (filterBreadcrumb?.stepColumnName | translate) + ' ' + filterBreadcrumb?.column
                  : (filterBreadcrumb?.column | translate)
              }}
              : {{ filterBreadcrumb?.noTranslate === true ? filterBreadcrumb?.key : (filterBreadcrumb?.key | translate) }}
              <mat-icon class="icon-remove" (click)="removeFilter(filterBreadcrumb, crumbIndex)">close</mat-icon></span
            >
          </ng-container>
        </ng-container>
      </span>
    </div>

    <div class="filter-breadcrumb-container" *ngIf="filterDataExist('action_filter')">
      <span [ngClass]="translate.currentLang === 'en' ? 'filter-type' : 'filter-type-fr'">{{ 'Action Filter' | translate }} </span>
      <span>:</span>
      <span class="breadcrumb-value">
        <ng-container *ngFor="let filterBreadcrumb of filterBreadcrumbData; let crumbIndex = index">
          <ng-container *ngIf="filterBreadcrumb?.type === 'action_filter'">
            <span class="breadcrumb-filter"
              >{{ filterBreadcrumb?.key | translate }}
              <mat-icon class="icon-remove" (click)="removeFilter(filterBreadcrumb, crumbIndex)">close</mat-icon></span
            >
          </ng-container>
        </ng-container>
      </span>
    </div>
  </ng-container>
</div>
