@import "~assets/scss/theme/admtc.variables";
@import "~assets/scss/theme/admtc";

label{
    color: $dark-grey;
}

mat-form-field{
    width: 100%;
}
.m-1{
    margin-top: 1.5rem;
    margin-right: 1rem;
}

.imgContainer {
    position: relative;
    width: 100px;
    height: 150px;
    cursor: pointer;
    overflow: hidden;
}