@import '../../../../assets/scss/bootstrap';

.segment-name {
  border-bottom: 3px solid white;
  padding-bottom: 10px;
}

.header {
  overflow-wrap: anywhere;
}

.form-ng-select {
  background-color: white !important;
  color: black !important;
  border-radius: 5px !important;
}

:host::ng-deep.ng-select.form-ng-select .ng-select-container .ng-value-container .ng-value .ng-value-label {
  color: black !important;
  padding-left: 10px;
}

.display-block {
  display: block;
}
.card-green {
  width: 100%;
  display: inline-block;
  position: relative;
  float: left;
  margin: 0px;
}
.mr-10 {
  margin-right: 10px;
}
.card-list {
  width: 100%;
  background: hsl(178deg 100% 25%);
  text-align: center;
  padding: 20px 10px;
}
.btn-segment {
  background-color: #00817d00;
  color: white;
  border: 2px solid white !important;
  line-height: 28px !important;
  border-radius: 2px !important;
}
.segment-container {
  width: 100%;
  display: flex;
  padding-bottom: 15px;
  border-bottom: 1px solid;
  margin-bottom: 10px;
}
.btn-segment:hover {
  background: #24a39f;
}
label {
  font-size: 12px;
}

.form-select {
  width: 100%;
  height: 2.2em;
  border-radius: 5px;
  color: black;
  background-color: #eeeeee;
}

mat-datepicker-toggle.mat-datepicker-toggle {
  position: absolute;
  right: 17px;
  top: 3px;
  color: black;
}

.form-group {
  position: relative;
  width: 100% !important;
}

.full-width {
  width: 66.67%;

  .p-grid {
    .p-col-4 {
      width: 25% !important;
    }

    .p-col-8 {
      width: 50% !important;
    }
  }
}

.justify-end {
  justify-content: flex-end;
}

.justify-start {
  justify-content: flex-start;
}

.right-end {
  margin-left: auto;
}

.left-end {
  margin-right: auto;
}

.half-width {
  width: 50%;
}

.p-col-3 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  overflow-wrap: anywhere;
}

:host ::ng-deep .ck-editor__editable_inline {
  background-color: white !important;
  color: black !important;
}

:host ::ng-deep .mat-radio-label-content {
  max-width: 12rem;
  padding-right: 0;
  white-space: break-spaces;
  font-size: 14px;
}

:host ::ng-deep .mat-checkbox-layout .mat-checkbox-label {
  line-height: 24px;
  max-width: 12rem;
  white-space: break-spaces;
  margin-top: 5px;
  margin-left: 10px;
}

:host ::ng-deep textarea.mat-input-element {
  padding: 4px;
  border-radius: 4px;
  background: white;
  margin: -2px 0;
  color: black;
  min-height: 35px;
  height: 35px;
}

.segment-name {
  border-bottom: 3px solid white;
  padding-bottom: 10px;
}

.mat-icon {
  max-width: none;
  max-height: none;
}

.header {
  overflow-wrap: anywhere;
}

.revision-box-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.form-group {
  position: relative;
  width: 100% !important;
}

.full-width {
  width: 66.67%;

  .p-grid {
    .p-col-4,
    .p-md-4 {
      width: 25% !important;
    }

    .p-col-8,
    .p-md-8 {
      width: 50% !important;
    }
  }
}

.justify-end {
  justify-content: flex-end;
}

.justify-start {
  justify-content: flex-start;
}

.right-end {
  margin-left: auto;
}

.left-end {
  margin-right: auto;
}

.half-width {
  width: 50%;
}

.p-col-4 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  overflow-wrap: anywhere;
  padding-left: 2rem;
}

:host ::ng-deep .ck-editor__editable_inline {
  background-color: white !important;
  color: black !important;
}

.btn-conditions {
  position: absolute;
  bottom: 30px !important;
  left: 0px !important;
  padding: 0px 20px 0px 0px !important;
  width: 100% !important;
  text-align: right;
}

// :host ::ng-deep .form-control[readonly] {
//   background-color: transparent !important;
//   opacity: 1 !important;
//   border-top: none !important;
//   border-left: none !important;
//   border-right: none !important;
//   border-radius: 0 !important;
//   box-shadow: none !important;
// }

.form-select {
  width: 100%;
  height: 2.2em;
  border-radius: 5px;
  color: black;
  background-color: #eeeeee;
}

:host ::ng-deep .ng-select .ng-select-container {
  border: none;
  border-radius: 0px !important;
  border-bottom: 0px !important;
}

:host::ng-deep.ng-select {
  width: 100%;
}

:host ::ng-deep .parent-relation .mat-form-field-flex {
  background: #eeeeee;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding-left: 1em;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}
.invalid-feedback {
  color: red;
}
.btn-time {
  position: absolute;
  top: -3px;
  right: 0;
}
.long-text {
  width: 100%;
}
.long-text-label {
  padding-left: 31px;
}
