/*-------------------------------------------------------------
12.3 preloader
-------------------------------------------------------------*/
html body .loading-bar-fixed > div#loading-bar-spinner {
    position: fixed !important;
    z-index: 999 !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    background: $loader-bg !important;
    display: flex !important;
    justify-content: center;
    align-items: center;

    .spinner-icon {
        border: 2px solid $loader-color !important;
        border-top-color: inherit !important;
        border-left-color: inherit !important;
    }
}

html body div#loading-bar-spinner .spinner-icon {
    width: 60px !important;
    height: 60px !important;
    color: $loader-color;
}

html body .loading-bar-fixed > div .bar {
    background: transparent !important;
    opacity:0 !important;
    visibility:hidden !important;
}