<div class="dialogTitleWrapper header-dialog">
  <div class="dialog-border"  cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
    <div class="p-grid">
      <div class="p-col-1 no-padding">
        <mat-icon class="mat-icon-default">add</mat-icon>
      </div>
      <div class="p-col-10 no-padding">
        <h3 class="dialogTitle">{{ 'Add User Type' | translate }}</h3>
      </div>
      <div class="p-col-1">
        <button mat-icon-button class="close-icon float-right" (click)="closeDialog()" tabindex="-1">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>

<div mat-dialog-content class="mat-dialog-content dialog-body" style="overflow: hidden !important">
  <ng-container *ngIf="isWaitingForResponse">
    <div class="center-spinner">
      <mat-spinner color="accent"></mat-spinner>
    </div>
  </ng-container>

  <ng-container *ngIf="!isWaitingForResponse">
    <div class="p-grid" [formGroup]="addNewUserTypeForm">
      <div [ngClass]="isOperatorSelected ? 'p-col-12' : 'p-col-4'" class="pad-y-none">
        <ng-select
          (change)="setUserType()"
          appendTo="body"
          formControlName="type"
          class="mrgn-btn custom-ngselect-content"
          [multiple]="false"
          placeholder="{{ 'User Type' | translate }}*"
        >
          <ng-option *ngFor="let usertype of userTypeList" [value]="usertype._id">
            {{ 'USER_TYPES.' + usertype?.name | translate }}
          </ng-option>
        </ng-select>
        <p
          *ngIf="addNewUserTypeForm.get('type').hasError('required') && addNewUserTypeForm.get('type').touched"
          style="color: #f44336; font-size: 75%"
        >
          {{ 'This field is required' | translate }}
        </p>
      </div>
      <ng-container *ngIf="!isOperatorSelected">
        <div class="p-col-3 pad-y-none">
          <ng-select
            class="mrgn-btn custom-ngselect-content"
            [items]="schoolList"
            bindLabel="short_name"
            bindValue="_id"
            [multiple]="false"
            [hideSelected]="true"
            clearAllText="Clear"
            [appendTo]="'body'"
            formControlName="school"
            placeholder="{{ 'School' | translate }}*"
            (change)="getDataCampus()"
            (remove)="handleRemoveSchool()"
            (clear)="clearCampus()"
          >
          </ng-select>
          <p
            *ngIf="addNewUserTypeForm.get('school').hasError('required') && addNewUserTypeForm.get('school').touched"
            style="color: #f44336; font-size: 75%"
          >
            {{ 'This field is required' | translate }}
          </p>
        </div>
        <div class="p-col-3 pad-y-none">
          <ng-select
            class="mrgn-btn custom-ngselect-content"
            [items]="campusList"
            bindLabel="name"
            bindValue="_id"
            [multiple]="true"
            [hideSelected]="true"
            clearAllText="Clear"
            [appendTo]="'body'"
            formControlName="campus"
            placeholder="{{ 'Campus' | translate }}*"
            (change)="getDataLevel()"
            (remove)="handleRemoveCampus()"
            (clear)="clearLevel()"
          >
          </ng-select>
          <p
            *ngIf="addNewUserTypeForm.get('campus').hasError('required') && addNewUserTypeForm.get('campus').touched"
            style="color: #f44336; font-size: 75%"
          >
            {{ 'This field is required' | translate }}
          </p>
        </div>
        <div class="p-col-2 pad-y-none">
          <ng-select
            class="mrgn-btn custom-ngselect-content"
            [items]="levelList"
            bindLabel="name"
            bindValue="_id"
            [multiple]="true"
            [hideSelected]="true"
            clearAllText="Clear"
            [appendTo]="'body'"
            formControlName="level"
            (change)="getDataByLevel()"
            placeholder="{{ 'Level' | translate }}*"
          >
          </ng-select>
          <p
            *ngIf="addNewUserTypeForm.get('level').hasError('required') && addNewUserTypeForm.get('level').touched"
            style="color: #f44336; font-size: 75%"
          >
            {{ 'This field is required' | translate }}
          </p>
        </div>
      </ng-container>
    </div>
  </ng-container>
</div>

<div mat-dialog-actions class="justify-content-end" style="margin: 0 24px 15px 0">
  <button mat-button mat-raised-button color="warn" [disabled]="isWaitingForResponse" (click)="closeDialog()">
    {{ 'CANCEL' | translate }}
  </button>
  <button (click)="submit()" mat-button mat-raised-button color="primary" class="mr-0" [disabled]="isWaitingForResponse">
    {{ 'JURY_ORGANIZATION.ABSENT_JUSTIFY.Submit' | translate }}
  </button>
</div>
