@import '~assets/scss/theme/admtc.variables';
@import '~assets/scss/theme/admtc';

.pad-top-miss {
  padding-top: 1.8px !important;
}
.tag-container {
  white-space: normal;
  text-align: left !important;
  line-height: 2.3;
  overflow-wrap: break-word;
}
.red {
  color: #ff4040;
}
.green {
  color: #adff2f;
}
.purple {
  color: #ff46f9;
}
.mat-column-checkbox,
.mat-column-checkbox-filter {
  left: 0 !important;
}

.mat-column-student-number,
.mat-column-student-number-filter {
  left: 33px !important;
}

.mat-column-student-name,
.mat-column-student-name-filter {
  left: 150px !important;
  box-shadow: 1px 1px 0px 0px #545454;
}

.mat-column-program,
.mat-column-program-filter {
  left: 384.359px !important;
  box-shadow: 1px 1px 0px 0px #545454;
}

:host ::ng-deep table {
  position: relative;
  border-collapse: unset;

  tr {
    td,
    th {
      font-size: 14px;
      border-right: 1px solid $grey;

      &.mat-column-checkbox {
        width: fit-content;
        padding: 8px !important;
      }

      &.mat-column-student-number {
        min-width: 15ch;
      }

      &.mat-column-payer,
      &.mat-column-student-name {
        min-width: 30ch;
      }

      &.mat-column-program,
      &.mat-column-operation-name,
      &.mat-column-legal-entity,
      &.mat-column-accounting-document,
      &.mat-column-program-filter,
      &.mat-column-operation-name-filter,
      &.mat-column-legal-entity-filter,
      &.mat-column-accounting-document-filter {
        min-width: 25ch;
        max-width: 25ch;
      }

      &.mat-column-flux,
      &.mat-column-nature,
      &.mat-column-debit,
      &.mat-column-credit {
        min-width: 10ch;
      }

      &.mat-column-date,
      &.mat-column-balance-date {
        min-width: 11ch;
      }

      &.mat-column-checkbox,
      &.mat-column-checkbox-filter {
        box-shadow: 1px 1px 0px 0px #545454;
      }

      &:last-child {
        padding-right: 0.5em;
      }
    }

    td {
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 0;
      white-space: nowrap;
      padding: 0.5em;
    }

    th {
      padding-top: 1rem;
      padding-bottom: 1rem;
      font-weight: bold !important;
      vertical-align: top;

      &.mat-column-reset {
        padding: 0.5em;
      }

      &.mat-column-checkbox {
        vertical-align: middle;
      }

      .mat-form-field-infix {
        width: unset !important;
      }

      .mat-form-field {
        width: 90%;
      }
    }
  }

  thead tr {
    &:nth-child(1),
    &:nth-child(2) {
      height: auto;
      background: $light-black;
      th {
        color: $white;
      }
    }

    &:nth-child(2) th {
      padding: 0.5em;
    }
  }
}

.mat-icon-button ~ .mat-icon-button {
  margin-left: 0.5em;
}

.mat-column-select {
  overflow: initial;
}

.cursor-pointer {
  cursor: pointer;
}

.no-records {
  background-color: #424242;
  font-size: 14px;
  padding: 10px 12px;
  border-right: 1px solid #545454;
  border-bottom: 1px solid #545454;
}

// start ng-select styling
:host::ng-deep.ng-select .ng-select-container {
  background-color: #fff0;
  color: #fff;
  border: none;
  border-radius: 0px !important;
  border-bottom: 1px solid #bdbdbd !important;
  min-height: 36px;
  -webkit-box-align: center;
  align-items: center;
  margin-bottom: 6px;
}
:host::ng-deep.ng-select .ng-arrow-wrapper {
  margin-top: 10px;
  width: 25px;
  padding-right: 5px;
}
:host::ng-deep.ng-select .ng-select-container .ng-value-container .ng-input > input {
  color: white;
  box-sizing: content-box;
  background: none;
  border: 0;
  box-shadow: none;
  outline: 0;
  cursor: default;
  width: 100%;
}

:host::ng-deep.ng-select.ng-select-multiple .ng-select-container .ng-value-container {
  flex-wrap: nowrap !important;
}
:host::ng-deep.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
  background-color: transparent;
  color: white;
}
:host::ng-deep.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value:not(:nth-last-child(2))::after {
  content: ',';
}
:host::ng-deep.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-icon {
  display: none;
}

::ng-deep .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-placeholder {
  z-index: 0 !important;
  top: auto !important;
  padding-bottom: 0 !important;
}

// multiple All header styling
::ng-deep.all-input .mat-checkbox-layout .mat-checkbox-inner-container {
  width: 12px;
  height: 12px;
  margin-left: 7px;
}
::ng-deep.all-input .mat-checkbox-layout .mat-checkbox-inner-container .mat-checkbox-background {
  background-color: transparent;
}

::ng-deep.all-input
  .mat-checkbox-layout
  .mat-checkbox-inner-container
  .mat-checkbox-background
  .mat-checkbox-checkmark
  .mat-checkbox-checkmark-path {
  stroke: black !important;
}

::ng-deep.all-input.mat-checkbox-indeterminate
  .mat-checkbox-layout
  .mat-checkbox-inner-container
  .mat-checkbox-background
  .mat-checkbox-mixedmark {
  background-color: black !important;
}

::ng-deep.ng-dropdown-panel.custom-dropdownpanel {
  width: fit-content !important;
}

.style-ng-select {
  color: white;
  margin-top: 3.75px;
}
::ng-deep.custom-style-ngselect-fi.ng-dropdown-panel {
  width: auto !important;
  max-width: fit-content !important;
  .ng-dropdown-panel-items .ng-option {
    white-space: normal !important;
  }
}
// end ng-select styling

.top-filter {
  margin-top: 15px;
  padding-bottom: 30px;
}

.reset-row {
  background-color: #424242;
}

.sticky-loading {
  position: sticky;
  left: 0;
  right: 0;
}

.table-wrapper {
  overflow: auto;
}

.table-wrapper::-webkit-scrollbar {
  height: 8px;
}

.table-wrapper::-webkit-scrollbar-track {
  background: #212121;
}

.table-wrapper::-webkit-scrollbar-thumb {
  border-radius: 9999px;
  background: #eaa11c !important;
}

::ng-deep.filterPanel {
  margin-top: 25px !important;
}

.mat-form-field-placeholder {
  display: block !important;
}

.text-info {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 0.25rem;
}

.status {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background-color: green;
  color: white;
  font-size: 0.75rem;
  border-radius: 0.375rem;
  cursor: pointer;
}

.status-re {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background-color: #f49f36;
  color: white;
  font-size: 0.75rem;
  border-radius: 0.375rem;
  cursor: pointer;
}
.ml-2 {
  margin-left: 0.5rem;
}
.mt-10 {
  margin-top: 10px;
}

:host::ng-deep .mat-select-panel {
  max-width: fit-content !important;
}
