<ms-filter-breadcrumb
  [filterBreadcrumbData]="filterBreadcrumbData"
  (removeFilterTrigger)="removeFilterBreadcrumb($event)"
></ms-filter-breadcrumb>

<div class="top-spacer">
  <!-- super filter -->
  <div class="p-col-12">
    <div class="p-grid no-padding">
      <div class="p-col-fixed pad-y-none pad-x-none pad-r-md" style="width: 150px">
        <mat-form-field appearance="legacy">
          <mat-label>{{ 'NAV.INTAKE_CHANNEL.Scholar season' | translate }}</mat-label>
          <mat-select
            (selectionChange)="scholarSelect()"
            [disableOptionCentering]="true"
            panelClass="filterPanel"
            [formControl]="scholarFilter"
            data-cy="super-filter-scholar-season"
          >
            <mat-option *ngIf="!scholarSeasonList" disabled data-cy="super-filter-scholar-season-option">{{
              'NOT RECORD FOUND' | translate
            }}</mat-option>
            <mat-option
              *ngIf="scholarSeasonList && scholarSeasonList?.length >= 1"
              value="AllF"
              data-cy="super-filter-scholar-season-option"
              >{{ 'AllF' | translate }}</mat-option
            >
            <mat-option *ngFor="let scholar of scholarSeasonList" [value]="scholar._id" data-cy="super-filter-scholar-season-option">{{
              scholar.scholar_season
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="p-col-fixed pad-y-none pad-x-none pad-r-md" style="width: 150px">
        <mat-form-field appearance="legacy">
          <mat-label>{{ 'ADMISSION.TABLE_ADMISSION_CHANNEL.School' | translate }}</mat-label>
          <ng-container *ngIf="schoolList?.length > 0">
            <mat-select
              [formControl]="schoolFilter"
              multiple
              [disableOptionCentering]="true"
              panelClass="filterPanel"
              data-cy="super-filter-school"
            >
              <mat-option
                *ngIf="schoolList?.length > 0"
                value="AllF"
                (click)="selectSchoolFilter('AllF')"
                data-cy="super-filter-school-option"
                >{{ 'AllF' | translate }}</mat-option
              >
              <mat-option
                *ngFor="let sch of schoolList"
                [value]="sch._id"
                (click)="selectSchoolFilter(sch?._id)"
                data-cy="super-filter-school-option"
                >{{ sch.short_name }}</mat-option
              >
            </mat-select>
          </ng-container>

          <ng-container *ngIf="schoolList?.length === 0">
            <mat-select
              [formControl]="schoolFilter"
              [disableOptionCentering]="true"
              panelClass="filterPanel custom-matselect-dropdown"
              data-cy="super-filter-school"
            >
              <mat-option *ngIf="schoolList?.length === 0" disabled data-cy="super-filter-school-option">{{
                'NOT RECORD FOUND' | translate
              }}</mat-option>
            </mat-select>
          </ng-container>
        </mat-form-field>
      </div>

      <div class="p-col-fixed pad-y-none pad-x-none pad-r-md" style="width: 150px">
        <mat-form-field appearance="legacy">
          <mat-label>{{ 'ADMISSION.TABLE_ADMISSION_CHANNEL.Campus' | translate }}</mat-label>
          <ng-container *ngIf="campusList?.length > 0">
            <mat-select
              [formControl]="campusFilter"
              multiple
              [disableOptionCentering]="true"
              panelClass="filterPanel"
              data-cy="super-filter-campus"
            >
              <mat-option
                *ngIf="campusList?.length > 0"
                value="AllF"
                (click)="selectCampusFilter('AllF')"
                data-cy="super-filter-campus-option"
                >{{ 'AllF' | translate }}</mat-option
              >
              <mat-option
                *ngFor="let campus of campusList"
                [value]="campus._id"
                (click)="selectCampusFilter(campus?._id)"
                data-cy="super-filter-campus-option"
                >{{ campus.name }}</mat-option
              >
            </mat-select>
          </ng-container>

          <ng-container *ngIf="campusList?.length === 0">
            <mat-select
              [formControl]="campusFilter"
              [disableOptionCentering]="true"
              panelClass="filterPanel custom-matselect-dropdown"
              data-cy="super-filter-campus"
            >
              <mat-option *ngIf="campusList.length === 0" disabled data-cy="super-filter-campus-option">{{
                'NOT RECORD FOUND' | translate
              }}</mat-option>
            </mat-select>
          </ng-container>
        </mat-form-field>
      </div>

      <div class="p-col-fixed pad-y-none pad-x-none pad-r-md" style="width: 150px">
        <mat-form-field appearance="legacy">
          <mat-label>{{ 'ADMISSION.TABLE_ADMISSION_CHANNEL.Level' | translate }}</mat-label>
          <ng-container *ngIf="levelList?.length > 0">
            <mat-select
              [formControl]="levelFilter"
              multiple
              [disableOptionCentering]="true"
              panelClass="filterPanel"
              data-cy="super-filter-level"
            >
              <mat-option
                *ngIf="levelList?.length > 0"
                value="AllF"
                (click)="selectLevelFilter('AllF')"
                data-cy="super-filter-level"
                data-cy="super-filter-level-option"
                >{{ 'AllF' | translate }}</mat-option
              >
              <mat-option
                *ngFor="let level of levelList"
                [value]="level._id"
                (click)="selectLevelFilter(level?._id)"
                data-cy="super-filter-level"
                data-cy="super-filter-level-option"
                >{{ level.name }}</mat-option
              >
            </mat-select>
          </ng-container>

          <ng-container *ngIf="levelList?.length === 0">
            <mat-select
              [formControl]="levelFilter"
              [disableOptionCentering]="true"
              panelClass="filterPanel custom-matselect-dropdown"
              data-cy="super-filter-level"
            >
              <mat-option *ngIf="levelList?.length === 0" disabled data-cy="super-filter-level" data-cy="super-filter-level-option">{{
                'NOT RECORD FOUND' | translate
              }}</mat-option>
            </mat-select>
          </ng-container>
        </mat-form-field>
      </div>

      <div class="p-col-fixed pad-y-none pad-x-none pad-r-md" style="width: 150px">
        <mat-form-field appearance="legacy">
          <mat-label>{{ 'Sectors' | translate }}</mat-label>
          <ng-container *ngIf="sectorList?.length > 0">
            <mat-select
              [formControl]="sectorFilter"
              multiple
              [disableOptionCentering]="true"
              panelClass="filterPanel custom-matselect-dropdown"
              data-cy="super-filter-sector"
            >
              <mat-option
                *ngIf="sectorList?.length"
                value="AllF"
                (click)="selectSectorFilter('AllF')"
                data-cy="super-filter-sector-option"
                >{{ 'AllF' | translate }}</mat-option
              >
              <mat-option
                *ngFor="let sector of sectorList"
                [value]="sector?._id"
                (click)="selectSectorFilter(sector?._id)"
                data-cy="super-filter-sector-option"
                >{{ sector?.name }}</mat-option
              >
            </mat-select>
          </ng-container>

          <ng-container *ngIf="sectorList?.length === 0">
            <mat-select
              [formControl]="sectorFilter"
              [disableOptionCentering]="true"
              panelClass="filterPanel custom-matselect-dropdown"
              data-cy="super-filter-sector"
            >
              <mat-option *ngIf="sectorList?.length === 0" disabled data-cy="super-filter-sector-option">{{
                'NOT RECORD FOUND' | translate
              }}</mat-option>
            </mat-select>
          </ng-container>
        </mat-form-field>
      </div>

      <div class="p-col-fixed pad-y-none pad-x-none pad-r-md" style="width: 150px">
        <mat-form-field appearance="legacy">
          <mat-label>{{ 'Specialities' | translate }}</mat-label>
          <ng-container *ngIf="specialityList?.length > 0">
            <mat-select
              [formControl]="specialityFilter"
              multiple
              [disableOptionCentering]="true"
              panelClass="filterPanel custom-matselect-dropdown"
              data-cy="super-filter-speciality"
            >
              <mat-option
                *ngIf="specialityList?.length"
                value="AllF"
                (click)="selectSpecialityFilter('AllF')"
                data-cy="super-filter-speciality-option"
                >{{ 'AllF' | translate }}</mat-option
              >
              <mat-option
                *ngFor="let speciality of specialityList"
                [value]="speciality?._id"
                (click)="selectSpecialityFilter(speciality?._id)"
                data-cy="super-filter-speciality-option"
                >{{ speciality?.name }}</mat-option
              >
            </mat-select>
          </ng-container>

          <ng-container *ngIf="specialityList?.length === 0">
            <mat-select
              [formControl]="specialityFilter"
              [disableOptionCentering]="true"
              panelClass="filterPanel custom-matselect-dropdown"
              data-cy="super-filter-speciality"
            >
              <mat-option *ngIf="specialityList?.length === 0" disabled data-cy="super-filter-speciality-option">{{
                'NOT RECORD FOUND' | translate
              }}</mat-option>
            </mat-select>
          </ng-container>
        </mat-form-field>
      </div>

      <div class="p-col-fixed pad-y-none pad-x-none pad-r-md" style="margin-top: 14px">
        <button
          mat-button
          mat-raised-button
          color="accent"
          [disabled]="isSuperFilterApplied"
          (click)="applySuperFilter()"
          data-cy="button-apply-super-filter"
        >
          {{ 'Apply Filter' | translate }}
        </button>
      </div>
    </div>
  </div>

  <div class="p-grid p-col-12 reset-row no-padding">
    <div class="p-grid p-col-6 no-padding">
      <div class="p-col-3" style="padding-top: 6px; padding-bottom: 0">
        <mat-form-field>
          <input
            matInput
            [formControl]="fromFilter"
            [max]="toFilter.value"
            (click)="fromDatePick.open()"
            readonly
            class="form-field"
            [matDatepicker]="fromDatePick"
            placeholder="{{ 'From' | translate }}"
            data-cy="table-date-from"
          />
          <mat-datepicker-toggle matSuffix [for]="fromDatePick"></mat-datepicker-toggle>
          <mat-datepicker #fromDatePick></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="p-col-3" style="padding-top: 6px; padding-bottom: 0">
        <mat-form-field>
          <input
            matInput
            [formControl]="toFilter"
            [min]="fromFilter.value"
            (click)="toDatePick.open()"
            readonly
            [matDatepicker]="toDatePick"
            placeholder="{{ 'To' | translate }}"
            data-cy="table-date-to"
          />
          <mat-datepicker-toggle matSuffix [for]="toDatePick"></mat-datepicker-toggle>
          <mat-datepicker #toDatePick></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="p-col-3" style="padding-top: 20px; padding-bottom: 0">
        <button
          mat-button
          mat-raised-button
          color="accent"
          [disabled]="isFromAndToFilterApplied"
          (click)="applyFromAndToFilter()"
          data-cy="button-apply-table-date-filter"
        >
          {{ 'Apply Filter' | translate }}
        </button>
      </div>
    </div>
    <div class="p-grid p-col justify-content-end align-items-center no-padding">
      <!-- reset button -->
      <ng-container>
        <button
          mat-button
          mat-raised-button
          color="primary"
          [matTooltip]="'RESET' | translate"
          matTooltipPosition="above"
          [disabled]="isWaitingForResponse"
          (click)="resetFilter()"
          *ngIf="allowReset"
          data-cy="button-reset"
        >
          <mat-icon svgIcon="loop" class="mat-icon-svgIcon"></mat-icon>
          {{ 'RESET' | translate }}
        </button>
      </ng-container>
    </div>
  </div>

  <div class="p-col-12 no-padding table-wrapper mat-elevation-z8">
    <table mat-table matSort (matSortChange)="onSort($event)" [dataSource]="dataSource" data-cy="table-operation-exported">
      <ng-container matColumnDef="loading">
        <th mat-header-cell colspan="100%" *matHeaderCellDef>
          <div class="p-grid justify-content-center align-items-center p-all-md">
            <mat-spinner color="accent" [diameter]="64" data-cy="table-spinner"></mat-spinner>
          </div>
        </th>
      </ng-container>

      <ng-container matColumnDef="checkbox-filter" sticky>
        <th mat-header-cell *matHeaderCellDef class="text-center"></th>
      </ng-container>

      <ng-container matColumnDef="student-number-filter" sticky>
        <th mat-header-cell *matHeaderCellDef class="text-center">
          <mat-form-field>
            <mat-label>{{ 'search' | translate }}</mat-label>
            <input matInput [formControl]="studentNumberFilter" data-cy="table-filter-student-number" />
          </mat-form-field>
        </th>
      </ng-container>

      <ng-container matColumnDef="student-name-filter" sticky>
        <th mat-header-cell *matHeaderCellDef class="text-center">
          <mat-form-field>
            <mat-label>{{ 'search' | translate }}</mat-label>
            <input matInput [formControl]="studentNameFilter" data-cy="table-filter-student-name" />
          </mat-form-field>
        </th>
      </ng-container>

      <ng-container matColumnDef="program-filter">
        <th mat-header-cell *matHeaderCellDef class="text-center">
          <ng-select
            class="auto-grow custom-style-ngselect-fi style-ng-select"
            [appendTo]="'body'"
            [multiple]="false"
            [clearable]="false"
            [formControl]="programFilter"
            placeholder="{{ 'search' | translate }}"
            clear
            data-cy="table-filter-program"
          >
            <ng-option value="AllF" data-cy="table-filter-program-option">{{ 'AllF' | translate }}</ng-option>
            <ng-option *ngFor="let item of listOfProgram" [value]="item?._id" data-cy="table-filter-program-option">
              {{ item?.program }}
            </ng-option>
          </ng-select>
        </th>
      </ng-container>

      <ng-container matColumnDef="legal-entity-filter">
        <th mat-header-cell *matHeaderCellDef class="text-center">
          <ng-select
            [items]="listOfLegalEntity"
            bindValue="legal_entity_name"
            bindLabel="legal_entity_name"
            class="custom-dropdownpanel"
            [appendTo]="'body'"
            [multiple]="true"
            notFoundText="{{ 'NOT RECORD FOUND' | translate }}"
            placeholder="{{ 'search' | translate }}"
            [formControl]="legalEntityFilter"
            [clearable]="false"
            [closeOnSelect]="false"
            (close)="setLegalEntityFilter()"
          >
            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
              <input id="item-{{ index }}" type="checkbox" [ngModel]="item$.selected" /> {{ item?.legal_entity_name | translate }}
            </ng-template>
            <ng-template ng-header-tmp *ngIf="listOfLegalEntity?.length">
              <mat-checkbox
                class="all-input"
                style="cursor: pointer"
                [checked]="isAllDropdownSelectedTable('legalEntity')"
                [indeterminate]="isSomeDropdownSelectedTable('legalEntity')"
                (change)="selectAllDataTable($event, 'legalEntity')"
              >
                {{ 'AllM' | translate }}
              </mat-checkbox>
            </ng-template>
          </ng-select>
        </th>
      </ng-container>

      <ng-container matColumnDef="date-filter">
        <th mat-header-cell *matHeaderCellDef class="text-center">
          <mat-form-field>
            <input
              matInput
              [formControl]="dateFilter"
              (click)="dateDatePicker.open()"
              readonly
              class="form-field"
              placeholder="{{ 'search' | translate }}"
              [matDatepicker]="dateDatePicker"
              data-cy="table-filter-date"
            />
            <mat-datepicker-toggle matSuffix [for]="dateDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #dateDatePicker></mat-datepicker>
          </mat-form-field>
        </th>
      </ng-container>

      <ng-container matColumnDef="operation-name-filter">
        <th mat-header-cell *matHeaderCellDef class="text-center">
          <ng-select
            class="auto-grow custom-style-ngselect-fi style-ng-select"
            [formControl]="operationNameFilter"
            [appendTo]="'body'"
            [multiple]="false"
            [clearable]="false"
            placeholder="{{ 'search' | translate }}"
            data-cy="table-filter-operation-name"
          >
            <ng-option value="AllF" data-cy="table-filter-operation-name-option">{{ 'AllF' | translate }}</ng-option>
            <ng-option *ngFor="let item of listOfOperationName" [value]="item" data-cy="table-filter-operation-name-option">
              {{ displayOperationName(item) }}
            </ng-option>
          </ng-select>
        </th>
      </ng-container>

      <ng-container matColumnDef="payer-filter">
        <th mat-header-cell *matHeaderCellDef class="text-center">
          <mat-form-field>
            <mat-label>{{ 'search' | translate }}</mat-label>
            <input matInput [formControl]="payerFilter" data-cy="table-filter-payer" />
          </mat-form-field>
        </th>
      </ng-container>

      <ng-container matColumnDef="flux-filter">
        <th mat-header-cell *matHeaderCellDef class="text-center">
          <mat-form-field>
            <mat-label>{{ 'Select' | translate }}</mat-label>
            <mat-select [formControl]="fluxFilter" [disableOptionCentering]="true" panelClass="filterPanel" data-cy="table-filter-flux">
              <mat-option value="AllF" data-cy="table-filter-flux-option">{{ 'AllF' | translate }}</mat-option>
              <mat-option *ngFor="let item of listOfFlux" [value]="item?.value" data-cy="table-filter-flux-option">{{
                item?.key | translate
              }}</mat-option>
            </mat-select>
          </mat-form-field>
        </th>
      </ng-container>

      <ng-container matColumnDef="nature-filter">
        <th mat-header-cell *matHeaderCellDef class="text-center">
          <mat-form-field>
            <mat-label>{{ 'Select' | translate }}</mat-label>
            <mat-select [formControl]="natureFilter" [disableOptionCentering]="true" panelClass="filterPanel" data-cy="table-filter-nature">
              <mat-option value="AllF" data-cy="table-filter-nature-option">{{ 'AllF' | translate }}</mat-option>
              <mat-option *ngFor="let item of listOfNature" [value]="item?.value" data-cy="table-filter-nature-option">{{
                'nature_type.' + item?.key | translate
              }}</mat-option>
            </mat-select>
          </mat-form-field>
        </th>
      </ng-container>

      <ng-container matColumnDef="debit-filter">
        <th mat-header-cell *matHeaderCellDef class="text-center"></th>
      </ng-container>

      <ng-container matColumnDef="credit-filter">
        <th mat-header-cell *matHeaderCellDef class="text-center"></th>
      </ng-container>

      <ng-container matColumnDef="accounting-document-filter" sticky>
        <th mat-header-cell *matHeaderCellDef class="text-center">
          <mat-form-field>
            <mat-label>{{ 'search' | translate }}</mat-label>
            <input matInput [formControl]="accountingDocumentFilter" data-cy="table-filter-accounting-document" />
          </mat-form-field>
        </th>
      </ng-container>

      <ng-container matColumnDef="balance-date-filter">
        <th mat-header-cell *matHeaderCellDef class="text-center">
          <mat-form-field>
            <input
              matInput
              [formControl]="balanceDateFilter"
              (click)="dateDatePicker.open()"
              readonly
              class="form-field"
              placeholder="{{ 'search' | translate }}"
              [matDatepicker]="dateDatePicker"
              data-cy="table-filter-balance-date"
            />
            <mat-datepicker-toggle matSuffix [for]="dateDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #dateDatePicker></mat-datepicker>
          </mat-form-field>
        </th>
      </ng-container>

      <ng-container matColumnDef="checkbox" sticky>
        <th mat-header-cell *matHeaderCellDef class="text-center" data-cy="table-col-selection">
          <mat-checkbox
            (change)="$event ? masterToggle() : null"
            (change)="showOptions('all', '')"
            [checked]="(selection.hasValue() && isAllSelected()) || isCheckedAll"
            [indeterminate]="selection.hasValue() && !isAllSelected()"
            [aria-label]="checkboxLabel()"
          >
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row" class="text-center" data-cy="table-col-selection">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="$event ? selection.toggle(row._id) : null"
            [checked]="selection.isSelected(row._id) || (isCheckedAll && !dataUnselect?.includes(row?._id))"
            (change)="showOptions('one', row)"
            [aria-label]="checkboxLabel(row)"
          >
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="student-number" sticky>
        <th
          mat-header-cell
          *matHeaderCellDef
          class="text-center"
          [matTooltip]="'Student Number' | translate"
          matTooltipPosition="above"
          mat-sort-header="student_number"
          data-cy="table-col-student-number"
        >
          {{ 'Student Number' | translate }}
        </th>
        <td
          mat-cell
          *matCellDef="let element"
          matTooltipPosition="above"
          matTooltip="{{ element?.candidate_id?.candidate_unique_number }}"
          data-cy="table-col-student-number"
        >
          {{ element?.candidate_id?.candidate_unique_number }}
        </td>
      </ng-container>

      <ng-container matColumnDef="student-name" sticky>
        <th
          mat-header-cell
          class="text-center"
          matTooltipPosition="above"
          [matTooltip]="'Student name' | translate"
          *matHeaderCellDef
          mat-sort-header="student_name"
          data-cy="table-col-student-name"
        >
          {{ 'Student name' | translate }}
        </th>
        <td
          mat-cell
          *matCellDef="let element"
          matTooltip="{{
            (element?.candidate_id?.last_name | uppercase) +
              ' ' +
              element?.candidate_id?.first_name +
              ' ' +
              (element?.candidate_id?.civility && element?.candidate_id?.civility === 'neutral'
                ? ''
                : (element?.candidate_id?.civility | translate))
          }}"
          data-cy="table-col-student-name"
        >
          {{
            (element?.candidate_id?.last_name | uppercase) +
              ' ' +
              element?.candidate_id?.first_name +
              ' ' +
              (element?.candidate_id?.civility && element?.candidate_id?.civility === 'neutral'
                ? ''
                : (element?.candidate_id?.civility | translate))
          }}
        </td>
      </ng-container>

      <ng-container matColumnDef="program">
        <th
          mat-header-cell
          *matHeaderCellDef
          class="text-center"
          matTooltip="{{ 'Program' | translate }}"
          matTooltipPosition="above"
          mat-sort-header="program_name"
        >
          {{ 'Program' | translate }}
        </th>
        <td mat-cell *matCellDef="let element" matTooltip="{{ displayProgram(element) }}">
          {{ displayProgram(element) }}
        </td>
      </ng-container>

      <ng-container matColumnDef="legal-entity">
        <th
          mat-header-cell
          *matHeaderCellDef
          class="text-center"
          [matTooltip]="'Legal entity' | translate"
          matTooltipPosition="above"
          data-cy="table-col-legal-entity"
          mat-sort-header="legal_entity_name"
        >
          {{ 'Legal entity' | translate }}
        </th>
        <td mat-cell *matCellDef="let element" matTooltip="{{ element?.legal_entity_id?.legal_entity_name }}">
          {{ element?.legal_entity_id?.legal_entity_name }}
        </td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th
          mat-header-cell
          *matHeaderCellDef
          class="text-center"
          [matTooltip]="'Date' | translate"
          matTooltipPosition="above"
          mat-sort-header="date"
          data-cy="table-col-date"
        >
          {{ 'Date' | translate }}
        </th>
        <td mat-cell *matCellDef="let element" matTooltip="{{ parseDateToLocal(element?.date_action?.date, element?.date_action?.time) }}">
          {{ parseDateToLocal(element?.date_action?.date, element?.date_action?.time) }}
        </td>
      </ng-container>

      <ng-container matColumnDef="operation-name">
        <th
          mat-header-cell
          *matHeaderCellDef
          class="text-center"
          [matTooltip]="'Operation name' | translate"
          matTooltipPosition="above"
          mat-sort-header="operation_name"
          data-cy="table-col-operation-name"
        >
          {{ 'Operation name' | translate }}
        </th>
        <td mat-cell *matCellDef="let element" class="pad-l-xs" style="text-align: left !important" data-cy="table-col-operation-name">
          <span
            *ngIf="
              element?.operation_name === 'payment_of_term' ||
              element?.operation_name === 'chargeback_of_term' ||
              element?.operation_name === 'billing_of_term' ||
              element?.operation_name === 'avoir_of_term'
            "
            matTooltip="{{ 'OPERATION_NAME.' + element?.operation_name | translate }} {{ parseTermIndexToNumber(element?.term_index) }}"
          >
            {{ 'OPERATION_NAME.' + element?.operation_name | translate }} {{ parseTermIndexToNumber(element?.term_index) }}
          </span>
          <span
            *ngIf="element?.operation_name === 'regulation_payment' && element?.nature !== 'cancel'"
            matTooltip="{{ 'OPERATION_NAME.payment_of_term' | translate }} {{ parseTermIndexToNumber(element?.term_index) }} - {{
              'Regulation' | translate
            }}"
          >
            {{ 'OPERATION_NAME.payment_of_term' | translate }} {{ parseTermIndexToNumber(element?.term_index) }} -
            {{ 'Regulation' | translate }}
          </span>
          <span
            *ngIf="
              element?.operation_name !== 'payment_of_term' &&
              element?.operation_name !== 'chargeback_of_term' &&
              element?.operation_name !== 'billing_of_term' &&
              element?.operation_name !== 'avoir_of_term'
            "
            [matTooltip]="displayOperationName(element?.operation_name)"
          >
            {{ displayOperationName(element?.operation_name) }}
          </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="payer">
        <th
          mat-header-cell
          *matHeaderCellDef
          class="text-center"
          [matTooltip]="'Payer' | translate"
          matTooltipPosition="above"
          mat-sort-header="payer"
          data-cy="table-col-payer"
        >
          {{ 'Payer' | translate }}
        </th>
        <td mat-cell *matCellDef="let element">
          <ng-container
            *ngIf="
            element?.operation_name === 'scholarship_fee' ||
            element?.operation_name === 'additional_cost' ||
            element?.operation_name === 'modality_fee' ||
            element?.operation_name === 'cash_transfer' ||
            element?.operation_name === 'avoir_scholarship_fee' ||
            element?.operation_name === 'avoir_additional_cost' ||
            element?.operation_name === 'avoir_modality_fee' ||
            element?.transaction_type === 'billing_manual' ||
            element?.flux === 'billing'
            "
          >
            <div style="text-align: center">-</div>
          </ng-container>
          <ng-container
            *ngIf="
            (element?.flux !== 'billing' &&
            element?.operation_name !== 'scholarship_fee' &&
            element?.operation_name !== 'additional_cost' &&
            element?.operation_name !== 'modality_fee' &&
            element?.operation_name !== 'avoir_scholarship_fee' &&
            element?.operation_name !== 'avoir_additional_cost' &&
            element?.operation_name !== 'avoir_modality_fee' &&
            element?.operation_name !== 'cash_transfer') ||
            (element?.nature?.toLowerCase() === 'avoir' && element?.is_manual_action && element?.operation_name === 'avoir_of_term') &&
            element?.transaction_type !== 'billing_manual'
            "
          >
            <span
              *ngIf="!element?.billing_id?.is_financial_support && !element?.finance_organization_id"
              style="padding-left: 5px"
              matTooltip="{{
                (element?.candidate_id?.last_name | uppercase) +
                  ' ' +
                  element?.candidate_id?.first_name +
                  ' ' +
                  (element?.candidate_id?.civility && element?.candidate_id?.civility === 'neutral'
                    ? ''
                    : (element?.candidate_id?.civility | translate))
              }}"
            >
              {{
                (element?.candidate_id?.last_name | uppercase) +
                  ' ' +
                  element?.candidate_id?.first_name +
                  ' ' +
                  (element?.candidate_id?.civility && element?.candidate_id?.civility === 'neutral'
                    ? ''
                    : (element?.candidate_id?.civility | translate))
              }}
            </span>
            <span
              *ngIf="element?.billing_id?.is_financial_support && !element?.finance_organization_id"
              style="padding-left: 5px"
              matTooltip="{{
                (element?.billing_id?.financial_support_info?.family_name | uppercase) +
                  ' ' +
                  element?.billing_id?.financial_support_info?.name +
                  ' ' +
                  (element?.billing_id?.financial_support_info?.civility &&
                  element?.billing_id?.financial_support_info?.civility === 'neutral'
                    ? ''
                    : (element?.billing_id?.financial_support_info?.civility | translate))
              }}"
            >
              {{
                (element?.billing_id?.financial_support_info?.family_name | uppercase) +
                  ' ' +
                  element?.billing_id?.financial_support_info?.name +
                  ' ' +
                  (element?.billing_id?.financial_support_info?.civility &&
                  element?.billing_id?.financial_support_info?.civility === 'neutral'
                    ? ''
                    : (element?.billing_id?.financial_support_info?.civility | translate))
              }}
            </span>
            <span
              *ngIf="
                (element?.billing_id?.is_financial_support || !element?.billing_id?.is_financial_support) &&
                element?.finance_organization_id?.company_branch_id
              "
              style="padding-left: 5px"
              matTooltip="{{ element?.finance_organization_id?.company_branch_id?.company_name }}"
            >
              {{ element?.finance_organization_id?.company_branch_id?.company_name }}
            </span>
            <span
              *ngIf="element?.finance_organization_id?.organization_id"
              style="padding-left: 5px"
              [matTooltip]="element?.finance_organization_id?.organization_id?.name"
            >
              {{ element?.finance_organization_id?.organization_id?.name }}
            </span>
          </ng-container>
        </td>
      </ng-container>

      <ng-container matColumnDef="flux">
        <th
          mat-header-cell
          *matHeaderCellDef
          class="text-center"
          [matTooltip]="'Flux' | translate"
          matTooltipPosition="above"
          mat-sort-header="flux"
          data-cy="table-col-flux"
        >
          {{ 'Flux' | translate }}
        </th>
        <td mat-cell *matCellDef="let element" matTooltip=" {{ element?.flux | translate }}" data-cy="table-col-flux">
          {{ element?.flux | translate }}
        </td>
      </ng-container>

      <ng-container matColumnDef="nature">
        <th
          mat-header-cell
          *matHeaderCellDef
          class="text-center"
          [matTooltip]="'Nature' | translate"
          mat-sort-header="nature"
          matTooltipPosition="above"
          data-cy="table-col-nature"
        >
          {{ 'Nature' | translate }}
        </th>
        <td mat-cell *matCellDef="let element" matTooltip="{{ 'nature_type.' + element?.nature | translate }}" data-cy="table-col-nature">
          {{ 'nature_type.' + element?.nature | translate }}
        </td>
      </ng-container>

      <ng-container matColumnDef="debit">
        <th
          mat-header-cell
          *matHeaderCellDef
          class="text-center"
          [matTooltip]="'Debit' | translate"
          matTooltipPosition="above"
          data-cy="table-col-debit"
        >
          {{ 'Debit' | translate }}
        </th>
        <td mat-cell *matCellDef="let element" matTooltip=" {{ formatCurrency(element?.debit) }}" data-cy="table-col-debit">
          {{ formatCurrency(element?.debit) }}
        </td>
      </ng-container>

      <ng-container matColumnDef="credit">
        <th
          mat-header-cell
          *matHeaderCellDef
          class="text-center"
          [matTooltip]="'Credit' | translate"
          matTooltipPosition="above"
          data-cy="table-col-credit"
        >
          {{ 'Credit' | translate }}
        </th>
        <td mat-cell *matCellDef="let element" matTooltip="{{ formatCurrency(element?.credit) }}" data-cy="table-col-credit">
          {{ formatCurrency(element?.credit) }}
        </td>
      </ng-container>

      <ng-container matColumnDef="accounting-document">
        <th
          mat-header-cell
          *matHeaderCellDef
          class="text-center"
          [matTooltip]="'Accounting document' | translate"
          matTooltipPosition="above"
          mat-sort-header="accounting_document"
          data-cy="table-col-accounting-document"
        >
          {{ 'Accounting document' | translate }}
        </th>
        <td mat-cell *matCellDef="let element" matTooltip="{{ element?.accounting_document }}" data-cy="table-col-accounting-document">
          {{ element?.accounting_document }}
        </td>
      </ng-container>

      <ng-container matColumnDef="balance-date">
        <th
          mat-header-cell
          *matHeaderCellDef
          class="text-center"
          [matTooltip]="'Balance date' | translate"
          matTooltipPosition="above"
          mat-sort-header="balance_date"
          data-cy="table-col-balance-date"
        >
          {{ 'Balance date' | translate }}
        </th>
        <td
          mat-cell
          *matCellDef="let element"
          matTooltip="{{ parseDateToLocal(element?.balance_date, element?.balance_time) }}"
          data-cy="table-col-balance-date"
        >
          {{ parseDateToLocal(element?.balance_date, element?.balance_time) }}
        </td>
      </ng-container>

      <ng-container matColumnDef="isWaitingForResponse">
        <th mat-header-cell *matHeaderCellDef colspan="23" style="text-align: center !important">
          <div class="center-spinner">
            <mat-spinner color="accent"></mat-spinner>
          </div>
        </th>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-header-row *matHeaderRowDef="filterCols"></tr>
      <tr mat-header-row *matHeaderRowDef="['loading']" [hidden]="!isWaitingForResponse"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns" [hidden]="isWaitingForResponse"></tr>
    </table>
  </div>

  <div *ngIf="(noData | async) && !isWaitingForResponse" class="no-records" data-cy="no-data">
    {{ 'NOT RECORD FOUND' | translate }}
  </div>
  <div [ngClass]="{ hide: noData | async }">
    <mat-paginator
      [ngClass]="{ 'hide-pagination-buttons': paginator.length <= 10 }"
      [length]="dataCount"
      [hidePageSize]="true"
      [pageSize]="10"
      showFirstLastButtons
      data-cy="mat-paginator"
    ></mat-paginator>
  </div>
</div>

<div *ngIf="isLoading" class="loading-indicator">
  <mat-progress-spinner mode="indeterminate" color="accent" data-cy="page-spinner"></mat-progress-spinner>
</div>
