<div class="dialog-border" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
  <div class="dialogTitleWrapper">
    <div class="p-grid">
      <div class="w-30 no-padding">
        <mat-icon style="vertical-align: middle">add</mat-icon>
      </div>
      <div class="p-col-10 acad-title">
        <h3 class="dialogTitle">
          {{ 'Add Scholar Season' | translate }}
        </h3>
      </div>
      <div class="w-65 no-padding">
        <button mat-icon-button class="close-icon float-right" mat-dialog-close tabindex="-1">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
<form [formGroup]="identityForm">
  <div class="fontColor">
    <mat-dialog-content>
      <div class="p-grid">
        <div class="p-col-12 no-padding">
          <div class="p-grid">
            <div class="p-col-fixed center-label no-padding-left label-align" style="width: 225px">
              <label>{{ 'Scholar season name' | translate }}*</label>
            </div>
            <div class="p-col no-padding">
              <mat-form-field floatLabel="never">
                <input
                  matInput
                  formControlName="scholar_season"
                  required
                  type="text"
                  placeholder="{{ 'Scholar season name' | translate }}"
                />
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>

      <div class="p-grid">
        <div class="p-col-12 no-padding">
          <div class="p-grid">
            <div class="p-col-fixed center-label no-padding-left label-align" style="width: 225px">
              <label>{{ 'From & To' | translate }}*</label>
            </div>
            <div class="p-col no-padding">
              <div formGroupName="from" class="p-col no-padding" style="width: 110px; float: left">
                <mat-form-field floatLabel="never">
                  <input
                    matInput
                    (click)="myDatepicker.open()"
                    readonly
                    [max]="identityForm?.get('to')?.get('date_utc').value"
                    placeholder="{{ 'From' | translate }}"
                    formControlName="date_utc"
                    [matDatepicker]="myDatepicker"
                  />
                  <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
                  <mat-datepicker #myDatepicker></mat-datepicker>
                </mat-form-field>
              </div>

              <div formGroupName="to" class="p-col no-padding" style="width: 110px; float: left; margin-left: 15px">
                <mat-form-field floatLabel="never">
                  <input
                    matInput
                    (click)="myDatepickers.open()"
                    readonly
                    [min]="identityForm?.get('from')?.get('date_utc').value"
                    placeholder="{{ 'To' | translate }}"
                    formControlName="date_utc"
                    [matDatepicker]="myDatepickers"
                  />
                  <mat-datepicker-toggle matSuffix [for]="myDatepickers"></mat-datepicker-toggle>
                  <mat-datepicker #myDatepickers></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="p-grid">
        <div class="p-col-12 no-padding">
          <div class="p-grid">
            <div class="p-col-fixed center-label no-padding-left label-align" style="width: 225px">
              <label>{{ 'Description' | translate }}</label>
            </div>
            <div class="p-col no-padding">
              <mat-form-field floatLabel="never">
                <textarea matInput placeholder="{{ 'Description' | translate }}" formControlName="description"></textarea>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>

      <div class="p-grid">
        <div class="p-col-12 no-padding">
          <div class="p-grid">
            <div class="p-col-11 no-padding">
              <mat-slide-toggle color="accent" [formControl]="sliderDuplicate" (change)="duplicateSlider($event)">
                <span [ngClass]="{ 'text-slider-color': sliderDuplicate?.value }">
                  {{ (sliderDuplicate?.value ? 'Duplicate content scholar season enabled' : 'Duplicate content scholar season disabled') | translate }}
                </span>
              </mat-slide-toggle>
            </div>
          </div>
        </div>
      </div>

      <div class="p-grid" *ngIf="sliderDuplicate?.value" style="margin-top: 10px !important;">
        <div class="p-col-12 no-padding">
          <div class="p-grid">
            <div class="p-col-fixed center-label no-padding-left label-align" style="width: 225px;padding-top: 0px;">
              <label>{{ 'Duplicate content from' | translate }}</label>
            </div>
            <div class="p-col no-padding">
              <ng-select
                class="mrgn-btn"
                [items]="scholarSeasons"
                bindLabel="scholar_season"
                bindValue="_id"
                [multiple]="false"
                [appendTo]="'body'"
                formControlName="duplicate_content_from"
                placeholder="{{ 'CARDDETAIL.Scholar Season' | translate }}"
              >
              </ng-select>
            </div>
          </div>
        </div>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions align="right">
      <button mat-raised-button type="button" color="warn" mat-dialog-close>{{ 'CANCEL' | translate }}</button>
      <button mat-raised-button color="primary" (click)="submitVerification()" [disabled]="identityForm?.invalid">
        {{ 'Validate' | translate }}
      </button>
    </mat-dialog-actions>
  </div>
</form>
<div *ngIf="isWaitingForResponse" class="loading-indicator">
  <mat-progress-spinner mode="indeterminate" color="accent"></mat-progress-spinner>
</div>
