.dialogTitle {
  display: inline-block;
}

.dialogTitleWrapper {
  color: black;
}

.dialog-border {
  border-bottom: 1px solid black;
}
.no-padding {
  padding: 0px;
}

.float-right {
  float: right;
}
.mt-15 {
  margin-top: 15px;
}
.mr-0 {
  margin-right: 0px;
}
.mr-10 {
  margin-right: 10px;
}
.header-dialog {
  margin-top: 15px;
  padding: 0 15px;
}
.mat-dialog-content {
  margin-right: 0px;
  margin-left: 0px;
  margin-top: 15px;
}
.w-30 {
  width: 30px;
}
.w-65 {
  width: 65px;
}
:host::ng-deep.mat-radio-outer-circle {
  border-color: rgba(0, 0, 0, 0.54) !important;
}
:host::ng-deep.mat-form-field-underline {
  background-color: rgba(0, 0, 0, 0.12) !important;
}
.pad-right {
  padding-right: 15px !important
}