@import '~assets/scss/theme/admtc.variables';
@import '~assets/scss/theme/admtc';

.mat-form-field {
  padding-left: 0.5rem !important;
}
.pad-top-miss {
  padding-top: 1.8px !important;
}
.form-field {
  margin-top: 0.5px;
}
:host ::ng-deep table {
  tr {
    td,
    th {
      border-right: 1px solid $grey;
      text-align: center;
      &:nth-child(1) {
        width: 10%;
        max-width: 110px !important;
        min-width: 110px !important;
        font-size: 14px;
        font-weight: 400 !important;
        padding-left: 0.5rem !important;
        padding-right: 0.5rem !important;
        .mat-form-field {
          width: 95%;
        }
      }

      &:nth-child(2) {
        width: 8%;
        // min-width: 90px;
        font-size: 14px;
        font-weight: 400 !important;
        padding-left: 0.5rem !important;
        padding-right: 0.5rem !important;
        .mat-form-field {
          width: 95%;
        }
      }

      &:nth-child(3) {
        width: 4%;
        font-size: 14px;
        font-weight: 400 !important;
        // min-width: 135px;
        padding-left: 0.5rem !important;
        padding-right: 0.5rem !important;
        max-width: 80px !important;
        min-width: 80px !important;
        .mat-form-field {
          width: 95%;
        }
      }

      &:nth-child(4) {
        width: 6%;
        padding-left: 0.5rem !important;
        padding-right: 0.5rem !important;
        font-size: 14px;
        font-weight: 400 !important;
        max-width: 80px !important;
        min-width: 80px !important;
        // min-width: 115px;
        .mat-form-field {
          width: 95%;
        }
      }

      &:nth-child(5) {
        width: 1%;
        padding-left: 0.5rem !important;
        padding-right: 0.5rem !important;
        font-size: 14px;
        text-align: center;
        max-width: 70px !important;
        min-width: 70px !important;
        font-weight: 400 !important;
        // min-width: 115px;
        .mat-form-field {
          width: 95%;
        }
      }

      &:nth-child(6) {
        width: 1%;
        padding-left: 0.5rem !important;
        padding-right: 0.5rem !important;
        font-size: 14px;
        text-align: center;
        max-width: 76px !important;
        min-width: 76px !important;
        font-weight: 60px !important;
        // min-width: 115px;
        .mat-form-field {
          width: 95%;
        }
      }

      &:nth-child(7) {
        width: 8%;
        padding-left: 0.5rem !important;
        font-size: 14px;
        font-weight: 400 !important;
        padding-right: 0 !important;
        min-width: 125px;
      }
    }

    td {
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: left;
      max-width: 0;
      white-space: nowrap;
      padding-top: 0.5em;
      padding-bottom: 0.5em;
      &:nth-child(7) {
        text-align: center;
      }
      .mat-icon-status {
        font-size: 14px;
        text-align: center;
        vertical-align: middle;
        padding-right: 0px;
      }
    }

    th {
      vertical-align: top;
      .mat-form-field-infix {
        width: unset !important;
      }
    }

    &:nth-child(2) {
      th {
        padding-top: 0.9em;
      }
    }
  }

  thead tr {
    &:nth-child(2) {
      height: 35px;
    }
    &:nth-child(2),
    &:nth-child(3) {
      background: $light-black;
      th {
        color: $white;
      }
    }
  }

  td.mat-cell:last-of-type {
    padding-right: 0px !important;
  }
}

.red {
  color: #ff4040;
}
.green {
  color: #adff2f;
}
.action-header-column {
  vertical-align: middle !important;
  padding-right: 0 !important;
  .p-grid {
    margin-top: unset !important;
  }
}

.left-margin {
  margin-left: 3%;
}

.mat-column-select {
  overflow: initial;
}

.cursor-pointer {
  cursor: pointer;
}

.pc-section {
  width: 50%;
  text-align: right;
  padding-right: 5px;
  display: inline-block;
}

.cr-section {
  width: 50%;
  text-align: left;
  display: inline-block;
}

.no-records {
  background-color: #424242;
  font-size: 14px;
  padding: 10px 12px;
  border-right: 1px solid #545454;
  border-bottom: 1px solid #545454;
}

:host::ng-deep.ng-select .ng-select-container {
  background-color: #fff0;
  color: #fff;
  border: none;
  border-radius: 0px !important;
  border-bottom: 1px solid #8c8c8c !important;
  min-height: 36px;
  -webkit-box-align: center;
  align-items: center;
}
:host::ng-deep.mat-select-arrow-wrapper {
  padding-right: 5px;
}
:host::ng-deep.mat-select-value-text {
  margin-left: 10px;
  font-size: 13px;
}
:host::ng-deep.ng-select .ng-select-container .ng-value-container .ng-input > input {
  color: white;
  box-sizing: content-box;
  background: none;
  border: 0;
  box-shadow: none;
  outline: 0;
  cursor: default;
  width: 100%;
}

:host::ng-deep.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
  color: black;
}
::ng-deep .mat-menu-panel {
  min-height: auto;
}
::ng-deep .mat-menu-content{
  .mat-menu-item{
    border-bottom: 1px solid #DADADA;
  }
}
::ng-deep .mat-menu-content:not(:empty) {
  padding-bottom: 0;
}
::ng-deep {
  .ng-dropdown-panel {
    width: fit-content !important;
  }
}

.visibleFilterStyle{
  margin-top: 2px;
}

.mat-icon-svgIcon {
  width: 21px !important;
  height: 21px !important;
  // margin-top: -10px !important;
  margin-right: 2px !important;
  line-height: 1 !important;
}