<div class="dialog-border" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
  <div class="dialogTitleWrapper header-dialog">
    <div class="p-grid">
      <div class="p-col-10 no-padding">
        <h3 class="dialogTitle">{{ 'Export controlling report' | translate }}</h3>
      </div>
      <div class="w-95 no-padding">
        <button mat-icon-button class="close-icon float-right" mat-dialog-close tabindex="-1">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="p-grid">
  <div class="p-col-12">
    {{ 'Please select scholar season and schools that you want to export' | translate }}
  </div>
  <div class="p-col-12">
    <div class="custom-ng-select no-padding">
      <label class="float-label"
        [style.display]="reportForm.get('scholar_season')?.value ? 'block' : 'none'">
        {{ 'Select Scholar Season' | translate }}*
      </label>
      <ng-select
        class="mrgn-btn custom-ngselect-contentspace"
        [items]="scholarList"
        bindLabel="scholar_season"
        bindValue="_id"
        [appendTo]="'body'"
        [formControl]="scholarFilter"
        placeholder="{{ 'Select Scholar Seasons' | translate }} *"        
        [clearable]="false"
        [closeOnSelect]="true"
        (change)="scholarSelect()"
      >
      </ng-select>
      <span
        *ngIf="
          reportForm.get('scholar_season').hasError('required') &&
          (reportForm.get('scholar_season').touched || reportForm.get('scholar_season').dirty || scholarFilter.touched)
        "
        class="error-msg"
      >
        {{ 'This field is required' | translate }}
      </span>
    </div>
  </div>
  <div class="p-col-12">
    <div class="custom-ng-select no-padding">
      <label class="float-label"
        *ngIf="schoolsFilter?.value && schoolsFilter?.value?.length !== 0">
        {{ 'CALENDAR_Select Schools*' | translate }}
      </label>
      <ng-select
        class="mrgn-btn custom-ngselect-contentspace"
        [items]="school"
        bindLabel="short_name"
        bindValue="_id"
        [appendTo]="'body'"
        [formControl]="schoolsFilter"
        placeholder="{{ 'Select Schools' | translate }} *"        
        [clearable]="false"
        [multiple]="true"
        notFoundText="{{ 'NOT RECORD FOUND' | translate }}"                
        [closeOnSelect]="false"
        (close)="schoolSelect()"
        (remove)="schoolSelect()"
      >
        <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
          <input id="item-{{ index }}" type="checkbox" [ngModel]="item$.selected" /> {{ item.short_name | translate }}
        </ng-template>        
        <ng-template ng-header-tmp *ngIf="school?.length">
          <mat-checkbox
            class="all-input"
            style="cursor: pointer"
            [checked]="isAllDropdownSelected('school')"
            [indeterminate]="isSomeDropdownSelected('school')"
            (change)="selectAllData($event, 'school')"
          >
            {{ 'AllM' | translate }}
          </mat-checkbox>
        </ng-template>
      </ng-select>
      <span
        *ngIf="
          reportForm.get('schools').hasError('required') && (reportForm.get('schools').touched || reportForm.get('schools').dirty)
        "
        class="error-msg"
      >
        {{ 'This field is required' | translate }}
      </span>
    </div>
  </div>
</div>
<div mat-dialog-actions class="justify-content-end mr-10">
  <button mat-raised-button type="button" color="warn" mat-dialog-close>{{ 'CANCEL' | translate }}</button>
  <button mat-raised-button color="primary" class="mr-0" (click)="onValidate()">
    {{ 'Validate' | translate }}
  </button>
</div>

<div *ngIf="isWaitingForResponse" class="loading-indicator">
  <mat-spinner color="accent" [diameter]="100"></mat-spinner>
</div>
