<div class="dialog-border">
  <div class="dialogTitleWrapper" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
    <div class="p-grid justify-content-between">
      <div class="acad-title">
        <h3 class="dialogTitle">
          {{ 'Assign a Stamp' | translate }}
        </h3>
      </div>
      <div class="w-65 no-padding">
        <button mat-icon-button class="close-icon float-right" mat-dialog-close tabindex="-1">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="p-grid">
  <div class="p-col-12" style="display: flex !important; column-gap: 15px !important; align-items: center !important">
    <p style="margin: 0 !important">{{ 'Please upload the stamp here' | translate }}</p>
    <button type="button" (click)="stampFileInput?.click()" mat-raised-button color="accent">
      <mat-icon>add</mat-icon>
      {{ 'Attach a file' | translate }}
    </button>
    <input
      type="file"
      #stampFileInput
      style="display: none"
      name="file"
      accept="image/png, image/jpeg, image/jpg"
      (change)="onFileChange($event)"
    />
  </div>
  <mat-error
    style="padding-left: 7px !important"
    *ngIf="
      fileFormGroup?.get('legal_entity_stamp')?.hasError('required') &&
      (fileFormGroup.get('legal_entity_stamp').dirty || fileFormGroup.get('legal_entity_stamp').touched)
    "
  >
    {{ 'This field is required' | translate }}
  </mat-error>
  <ng-container *ngIf="fileFormGroup?.get('legal_entity_stamp')?.value">
    <div class="p-col-12">
      <div class="file-container">
        <div (click)="previewFile()" style="cursor: pointer; display: flex; column-gap: 5px">
          <mat-icon>insert_drive_file</mat-icon>
          <p style="margin: 0 !important">{{ fileFormGroup.get('legal_entity_stamp').value }}</p>
        </div>
        <button mat-icon-button (click)="removeImage()">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>
  </ng-container>
</div>
<mat-dialog-actions align="right" style="min-height: 0 !important">
  <button mat-raised-button type="button" color="warn" mat-dialog-close>{{ 'CANCEL' | translate }}</button>
  <button mat-raised-button color="primary" (click)="validateLegalEntityStamp()">
    {{ 'Validate' | translate }}
  </button>
</mat-dialog-actions>

<div *ngIf="isWaitingForResponse" class="loading-indicator">
  <mat-spinner color="accent" [diameter]="100"></mat-spinner>
</div>
