@import '~assets/scss/theme/admtc.variables';
@import '~assets/scss/theme/admtc';

.border-bottom {
  border-bottom: 1px solid #c0c0c094;
  padding-top: 0;
  padding-bottom: 0;
}

.border-right {
  border-right: 1px solid #c0c0c094;
  padding-top: 0;
  padding-bottom: 0;
}

:host::ng-deep.mat-card {
  border: 1px solid#607C8A;
}
:host::ng-deep.mat-tab-group {
  margin-top: 1rem;
  .mat-tab-header {
    font-size: 0.9em;
  }
  .mat-tab-label {
    h4 {
      font-size: 13px;
    }
  }
  .mat-tab-label-active {
    box-shadow: unset;
    border: unset;
  }
  .mat-card {
    margin-top: 5%;
  }
}
img {
  height: 130px;
}
.student-detail {
  font-size: 0.8rem;

  div {
    padding-left: 0.5em;
  }

  .student-photo {
    width: 130px !important;
    vertical-align: middle;
  }

  .right-border {
    border-right: solid;
  }

  .identity {
    font-size: 18px;
  }

  .contact-information {
    padding-top: 1em;
    padding-left: 1em !important;
  }

  span {
    vertical-align: top;
    margin-left: 1em;
  }
}

.download-cv {
  cursor: pointer;

  mat-icon,
  .label {
    transition: all 0.5s;
  }

  &:hover mat-icon,
  &:hover .label {
    color: grey;
  }
}

.yellow {
  color: #ffd740;
}
.orange {
  color: #f49f36;
}
.blue {
  color: #36ebf4;
}
.red {
  color: #ff4040;
}
.green {
  color: #adff2f;
}
.purple {
  color: #ff46f9;
}
.magenta {
  color: magenta;
}
.black {
  color: #000000;
}
.cyan {
  color: cyan;
}

.green-icon {
  font-size: 25px;
  width: 30px;
  color: #adff2f;
}
.red-icon {
  font-size: 25px;
  width: 30px;
  color: #ff4040;
}
.candidate-photo {
  border-radius: 50%;
  width: 100%;
}

.mat-icon-status {
  font-size: 14px;
  text-align: center;
  vertical-align: middle;
  padding-right: 0px;
  width: 14px;
}
.status {
  font-size: 12px;
  color: #26abeb;
  font-weight: 900;
  cursor: pointer;
}
.status:hover {
  text-decoration: underline;
}
.status-disabled {
  font-size: 12px;
  color: #26abeb;
  font-weight: 900;
}

.actions {
  text-align: center;
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  padding-left: 15%;

  button {
    margin-right: 1em;
  }
}

.payment {
  display: flex;
  flex-direction: row;
  padding: 0px;
  align-items: center;
}

.ml-2 {
  margin-left: 0.5rem;
}

.mb-0 {
  margin-bottom: 0px;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.status {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background-color: green;
  color: white;
  font-size: 0.75rem;
  border-radius: 0.375rem;
}

.status-re {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background-color: red;
  color: white;
  font-size: 0.75rem;
  border-radius: 0.375rem;
}

.p-0 {
  padding: 0px;
}

.px-2 {
  padding-top: 0rem;
  padding-bottom: 0rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.pl-2 {
  padding-top: 0rem;
  padding-bottom: 0rem;
  padding-left: 1rem;
}

.mt-2 {
  margin-top: 1rem !important;
}

.mt-10 {
  margin-top: 2.5rem !important;
}
.mb-10 {
  margin-bottom: 15px;
}

.detail {
  padding-left: 2rem !important;
  padding-right: 2rem !important;
  margin-top: 1rem !important;
}

.mat-icon {
  height: 44px !important;
  width: 40px !important;
}

.visa {
  height: 24px !important;
  width: 20px !important;
}

.text-16 {
  font-size: 16px;
}

.timeline {
  display: flex;
  flex-direction: column;
}

.timeline-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.timeline-detail {
  margin-left: 0.5rem;
  padding: 0.75rem 1rem 0.75rem 1rem;
  border-left: 1px solid #c0c0c094;
}

.point {
  height: 1rem;
  width: 1rem;
  background-color: #e4e4e494;
  border-radius: 9999px;
}

.text-right {
  text-align: right;
}

img.sepa-img.ng-star-inserted {
  width: 35px;
  height: 27px;
}

img.sepa-sm-img.ng-star-inserted {
  height: 14px;
  width: 18px;
}
.status-refund{
  padding-left: 0.4rem;
  padding-right: 0.4rem;
}