<div class="p-grid no-margin" style="margin-top: 20px !important">
  <h3 style="margin: 0px; z-index: 9">{{ 'Weekly progress of registered student' | translate }} {{ listFilter }}</h3>
  <hr />
</div>
<div class="p-grid no-margin" *ngIf="displayFilterPeriode" style="margin-top: 20px !important">
  <div class="periode">
    <mat-form-field style="margin-right: 40px">
      <input
        matInput
        (click)="startPicker.open()"
        readonly
        class="form-field"
        [formControl]="startPeriode"
        placeholder="{{ 'Start Periode' | translate }}"
        [matDatepicker]="startPicker"
      />
      <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
      <mat-datepicker #startPicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <input
        [disabled]="!startPeriode?.value"
        [min]="minDate"
        matInput
        (click)="endPicker.open()"
        readonly
        class="form-field"
        [formControl]="endPeriode"
        placeholder="{{ 'End Periode' | translate }}"
        [matDatepicker]="endPicker"
      />
      <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
      <mat-datepicker #endPicker></mat-datepicker>
    </mat-form-field>
  </div>
</div>
<div [ngStyle]="{ display: dataMapping && dataMapping?.length ? '' : 'none' }">
  <div [ngStyle]="{ height: dataMapping && dataMapping?.length ? '300px' : '' }" id="chartweekly" style="width: 100%"></div>
</div>
<div *ngIf="dataMapping && !dataMapping?.length" class="no-data">
  <span style="color: grey; font-size: 1.6rem; cursor: default">{{ 'NOT RECORD FOUND' | translate }}</span>
</div>
<div *ngIf="dataMapping && dataMapping?.length" class="block-hide"></div>
