<div class="container" [formGroup]="formDetails">
  <mat-accordion>
    <mat-expansion-panel class="custom-panel" [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h4>{{ 'Notification Detail' | translate }}</h4>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="content">
        <div class="p-grid">
          <div class="p-col-6">
            <mat-form-field floatLabel="auto" color="accent">
              <input
                matInput
                class="form-field"
                formControlName="ref_id"
                placeholder="{{ 'Notification Ref Id' | translate }} *"
                [readonly]="true"
              />
            </mat-form-field>
            <mat-error
              *ngIf="
                formDetails.get('ref_id').hasError('required') && (formDetails.get('ref_id').touched || formDetails.get('ref_id').dirty)
              "
            >
              {{ 'This field is required' | translate }}
            </mat-error>
          </div>
          <div class="p-col-6">
            <mat-form-field color="accent">
              <mat-label> {{ 'Sending condition' | translate }} </mat-label>
              <input matInput required [formControl]="trigerCondition" [matAutocomplete]="sendingCond"/>
              <mat-autocomplete
                #sendingCond="matAutocomplete"
                [panelWidth]="'fit'"
                (optionSelected)="selectTrigerCondition($event.option.value)"
                [displayWith]="displayConditionWithFn.bind(this)"
              >
                <mat-option *ngFor="let sending of sendingFilterList" [value]="sending.value">
                  {{ sending.value | translate}}
                </mat-option>
              </mat-autocomplete>
              <mat-error
                *ngIf="
                  formDetails.get('trigger_condition').hasError('required') &&
                  (formDetails.get('trigger_condition').dirty || formDetails.get('trigger_condition').touched)
                "
              >
                {{ 'This field is required' | translate }}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="p-col-12">
            <div class="custom-ng-select no-padding">
              <ng-select
                appendTo="body"
                formControlName="recipient_id"
                class="mrgn-btn"
                [multiple]="true"
                [hideSelected]="true"
                [appendTo]="'body'"
                placeholder="{{ 'Recipient' | translate }}*"
                (change)="setTeacherRecipient($event)"
              >
                <ng-option *ngFor="let recipient of userTypesList" [value]="recipient._id">
                  <div class="break-space">
                    {{ 'USER_TYPES.' + recipient?.name | translate }}
                  </div>
                </ng-option>
              </ng-select>
              <div
                class="invalid-feedback"
                *ngIf="
                  formDetails.get('recipient_id').hasError('required') &&
                  (formDetails.get('recipient_id').dirty || formDetails.get('recipient_id').touched)
                "
              >
                {{ 'This field is required' | translate }}
              </div>
            </div>
          </div>
          <div class="p-col-12">
            <div class="custom-ng-select no-padding">
              <ng-select
                appendTo="body"
                formControlName="recipient_cc_id"
                class="mrgn-btn custom-ng-select"
                [multiple]="true"
                [hideSelected]="true"
                [appendTo]="'body'"
                placeholder="{{ 'in CC' | translate }}"
              >
                <ng-option *ngFor="let recipient of userTypesList" [value]="recipient._id">
                  <div class="break-space">
                    {{ 'USER_TYPES.' + recipient?.name | translate }}
                  </div>
                </ng-option>
              </ng-select>
            </div>
          </div>
          <div class="p-col-12">
            <div class="custom-ng-select no-padding">
              <ng-select
                appendTo="body"
                formControlName="signatory_id"
                class="mrgn-btn custom-ng-select"
                [multiple]="false"
                [hideSelected]="true"
                [appendTo]="'body'"
                placeholder="{{ 'Signatory' | translate }}*"
                class="custom-dropdown"
              >
                <ng-option *ngFor="let data of userTypesList" [value]="data._id">
                    {{ 'USER_TYPES.' + data?.name | translate }}
                </ng-option>
              </ng-select>
            </div>
            <div
              class="invalid-feedback"
              *ngIf="
                formDetails.get('signatory_id').hasError('required') &&
                (formDetails.get('signatory_id').touched || formDetails.get('signatory_id').dirty)
              "
            >
              {{ 'This field is required' | translate }}
            </div>
          </div>
          <div class="p-col-12" *ngIf="templateType !== 'alumni'">
            <mat-slide-toggle formControlName="financial_support_as_cc">
              <span>
                {{ 'Include Financial Support' | translate }}
              </span>
            </mat-slide-toggle>
          </div>
        </div>

        <div class="p-col-12">
          <mat-accordion style="margin-top: 20px">
            <mat-expansion-panel [expanded]="showDownload">
              <mat-expansion-panel-header>
                <mat-panel-title *ngIf="this.templateType !== 'fc_contract' && this.templateType !== 'teacher_contract'">
                  {{ 'Attachment' | translate }}
                </mat-panel-title>
                <mat-panel-title *ngIf="this.templateType === 'fc_contract' || this.templateType === 'teacher_contract'">
                  {{ 'Attachment FC' | translate }}
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="p-grid">
                <div class="p-col-12">
                  <mat-slide-toggle formControlName="is_include_pdf_this_step" color="accent">
                    <span [ngClass]="{ 'text-slider-color': formDetails.get('is_include_pdf_this_step').value }">
                      {{
                        (formDetails.get('is_include_pdf_this_step').value
                          ? 'Include this step as a pdf attachment'
                          : 'Dont include this step as a pdf attachment'
                        ) | translate
                      }}
                    </span>
                  </mat-slide-toggle>
                </div>
                <div class="p-col-12">
                  <button matTooltip="{{'Select Doc From Builder' | translate}}" [disabled]="isPublished" mat-raised-button color="accent" (click)="addDocBuilderDocuemnt()">
                    {{'Select Doc From Builder' | translate}}
                  </button>
                </div>
                <div class="p-col-12">
                  <button matTooltip="{{ 'Upload PDF attachment FC' | translate }}" [disabled]="isPublished" mat-raised-button color="accent" (click)="handlePdf.click()">
                    {{ 'Upload PDF attachment FC' | translate }}
                  </button>
                  <input type="file" #handlePdf style="display: none" name="file" accept=".pdf" (change)="onFileChange($event)" />
                </div>
              </div>
              <ng-container *ngIf="showDownload">
                <ng-container *ngIf="listData?.length">
                  <div class="p-grid" *ngFor="let data of listData; let listIndex = index">
                    <div class="p-col-9">
                      {{ data?.name }}
                    </div>
                    <div class="p-col-3">
                      <!-- <input
                        type="file"
                        #handlePdf
                        style="display: none"
                        name="file"
                        accept=".pdf"
                        (change)="handleInputChange($event)"
                      /> -->
                      <button (click)="onEditDocument(data, listIndex)" [disabled]="isPublished"  mat-icon-button matTooltip="{{ 'Edit' | translate }}">
                        <mat-icon style="color: black">edit</mat-icon>
                      </button>
                      <button mat-icon-button matTooltip="{{ 'Delete' | translate }}" [disabled]="isPublished" (click)="onDeleteDocument(data, listIndex)">
                        <mat-icon style="color: black">delete</mat-icon>
                      </button>
                    </div>
                  </div>
                </ng-container>
              </ng-container>              
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-card style="margin-top: 1.5rem">
    <div class="p-grid">
      <div class="p-col-12">
        <div
          [ngClass]="
            formDetails.get('subject').hasError('required') && (formDetails.get('subject').dirty || formDetails.get('subject').touched)
              ? 'color-red'
              : ''
          "
        >
          {{ 'Subject' | translate }}*
        </div>
        <textarea style="width: 100%;" class="color-black" rows="5" formControlName="subject"></textarea>
      </div>

      <div class="p-col-12">
        <div
          [ngClass]="
            formDetails.get('body').hasError('required') && (formDetails.get('body').dirty || formDetails.get('body').touched)
              ? 'color-red'
              : ''
          "
        >
          {{ 'Body' | translate }}*
        </div>
        <div class="document-editor">
          <div class="document-editor__toolbar"></div>
          <div class="document-editor__editable-container" (focusout)="onEditableContainerFocusOut()">
            <div class="document-editor__editable">
              <p></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-card>
</div>

<div *ngIf="isWaitingForResponse" class="inner-loading-indicator">
  <mat-spinner color="accent" [diameter]="100"></mat-spinner>
</div>
