@import '~assets/scss/theme/admtc.variables';
@import '~assets/scss/theme/admtc';

.form-field {
  margin-top: 6px;
}
td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type,
th.mat-header-cell:first-of-type {
  padding-left: 0px;
}

:host ::ng-deep table {
  tr {
    td,
    th {
      border-right: 1px solid $grey;
      &:nth-child(1) {
        width: 3%;
        padding-left: 0 !important;
      }

      &:nth-child(2) {
        width: 4%;
        padding-top: 6px;
        text-align: center !important;
        .mat-form-field {
          width: 80%;
        }
      }

      &:nth-child(3) {
        width: auto;
        text-align: center !important;
        .mat-form-field {
          width: 80%;
        }
      }

      &:nth-child(4) {
        width: 10%;
        padding-top: 6px;
        text-align: center !important;
        margin-right: 6x;
        padding-left: 0.5rem !important;
        .mat-form-field {
          width: 80%;
        }
      }
      &:nth-child(5) {
        width: 10%;
        padding-top: 6px;
        text-align: center !important;
        .mat-form-field {
          width: 80%;
        }
      }

      &:nth-child(6) {
        width: 4%;
        padding-top: 6px;
        text-align: center !important;
        .mat-form-field {
          width: 80%;
        }
      }

      &:nth-child(7) {
        width: auto;
        text-align: center !important;
        .mat-form-field {
          width: 80%;
        }
      }

      &:nth-child(8) {
        width: 4%;
        padding-top: 6px;
        text-align: center !important;
        .mat-form-field {
          width: 80%;
        }
      }

      &:nth-child(9) {
        width: 4%;
        padding-top: 6px;
        text-align: center !important;
        .mat-form-field {
          width: 80%;
        }
      }
      &:nth-child(10) {
        width: 4%;
        padding-top: 6px;
        text-align: center !important;
        .mat-form-field {
          width: 80%;
        }
      }

      &:nth-child(11) {
        width: 4%;
        padding-top: 6px;
        text-align: center !important;
        .mat-form-field {
          width: 93%;
        }
      }
      &:nth-child(12) {
        width: 4%;
        padding-top: 6px;
        text-align: center !important;
        .mat-form-field {
          width: 90%;
        }
      }
      &:nth-child(13) {
        width: 250px;
        padding-left: 0px !important;
        padding-right: 0px !important; 
        padding-top: 6px;
        text-align: center !important;
        .mat-form-field {
          width: 80%;
        }
      }
    }

    td {
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 0;
      white-space: nowrap;
      padding-top: 0.5em;
      padding-bottom: 0.5em;
    }

    th {
      vertical-align: top;

      .mat-form-field-infix {
        width: unset !important;
      }
    }
    &:nth-child(2) {
      th {
        padding-top: 0.9em;
      }
    }
  }

  thead tr {
    &:nth-child(2) {
      height: 35px;
    }

    &:nth-child(2) {
      th {
        &:nth-child(8) {
          background-color: #607d8b !important;
        }
        &:nth-child(9) {
          background-color: #607d8b !important;
        }
        &:nth-child(10) {
          background-color: #607d8b !important;
        }
        &:nth-child(11) {
          background-color: #607d8b !important;
        }
        &:nth-child(12) {
          background-color: #607d8b !important;
        }
      }
    }

    &:nth-child(2),
    &:nth-child(3) {
      background: $light-black;
      th {
        color: $white;
      }
    }
  }
}

.action-header-column {
  text-align: right !important;
  vertical-align: middle !important;
  padding-right: 0 !important;
  .p-grid {
    margin-top: unset !important;
  }
}


img.engagement-level-icon {
    height: 15px;
    width: 15px;
    display: inline;
    margin: 0;
  }

  .yellow {
    color: #ffd740;
  }
  .orange {
    color: #f49f36;
  }
  .blue {
    color: #36ebf4;
  }
  .red {
    color: #ff4040;
  }
  .green {
    color: #adff2f;
  }
  .purple {
    color: #ff46f9;
  }
  .black {
    color: black;
  }